Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

feat(room): add RPC handlers for session pairs
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
Due: daemon

feat(room): integrate dual-session architecture with RoomAgent
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/storage/index.ts
  packages/neo/src/room-neo.ts
  packages/shared/src/neo-prompt/prompt.ts
Due: daemon

fix: regenerate bun.lock to resolve CI dependency resolution
  bun.lock
Due: none

test(storage): add comprehensive repository tests for improved coverage
  packages/daemon/tests/unit/storage/context-repository.test.ts
  packages/daemon/tests/unit/storage/database-core.test.ts
  packages/daemon/tests/unit/storage/memory-repository.test.ts
  packages/daemon/tests/unit/storage/sdk-message-repository.test.ts
  packages/daemon/tests/unit/storage/session-repository.test.ts
  packages/daemon/tests/unit/storage/settings-repository.test.ts
  packages/daemon/tests/unit/storage/task-repository.test.ts
Due: none

test(room): add comprehensive tests for dual-session architecture
  packages/daemon/tests/unit/agent/manager-tools.test.ts
  packages/daemon/tests/unit/rpc/room-pair-handlers.test.ts
  packages/neo/tests/room-neo-pair.test.ts
Due: none

test(session): add tests for session lifecycle, cache, state, and settings managers
  packages/daemon/tests/unit/session/session-cache.test.ts
  packages/daemon/tests/unit/session/session-lifecycle.test.ts
  packages/daemon/tests/unit/session/settings-manager.test.ts
  packages/daemon/tests/unit/session/state-manager.test.ts
Due: none

test(agent): add tests for agent-session, message-queue, and processing-state-manager
  packages/daemon/tests/unit/agent/agent-session.test.ts
  packages/daemon/tests/unit/agent/message-queue.test.ts
  packages/daemon/tests/unit/agent/processing-state-manager.test.ts
Due: none

test(room): add tests for context, memory, and task managers
  packages/daemon/tests/unit/room/context-manager.test.ts
  packages/daemon/tests/unit/room/memory-manager.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
Due: none

test(rpc): add comprehensive tests for remaining RPC handlers
  packages/daemon/tests/unit/rpc/command-handlers.test.ts
  packages/daemon/tests/unit/rpc/file-handlers.test.ts
  packages/daemon/tests/unit/rpc/question-handlers.test.ts
  packages/daemon/tests/unit/rpc/rewind-handlers.test.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
  packages/daemon/tests/unit/rpc/room-message-handlers.test.ts
  packages/daemon/tests/unit/rpc/settings-handlers.test.ts
  packages/daemon/tests/unit/rpc/system-handlers.test.ts
  packages/daemon/tests/unit/rpc/test-handlers.test.ts
Due: none

test(lib): add tests for file-manager, setup-websocket, and model-service
  packages/daemon/tests/unit/core/model-service.test.ts
  packages/daemon/tests/unit/file-manager.test.ts
  packages/daemon/tests/unit/routes/setup-websocket.test.ts
Due: none

test(rpc): add tests for config, mcp, memory, session, task, and message handlers
  packages/daemon/tests/unit/rpc/config-handlers.test.ts
  packages/daemon/tests/unit/rpc/mcp-handlers.test.ts
  packages/daemon/tests/unit/rpc/memory-handlers.test.ts
  packages/daemon/tests/unit/rpc/message-handlers.test.ts
  packages/daemon/tests/unit/rpc/session-handlers.test.ts
  packages/daemon/tests/unit/rpc/task-handlers.test.ts
Due: none

ci: bump bun version to 1.3.9 to match lockfile
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

fix(test): use isolated in-memory databases for parallel test safety
  packages/daemon/tests/unit/room/context-manager.test.ts
  packages/daemon/tests/unit/room/memory-manager.test.ts
  packages/daemon/tests/unit/room/room-manager.test.ts
  packages/daemon/tests/unit/room/room-repository.test.ts
  packages/daemon/tests/unit/room/session-pair-manager.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
Due: none

test(session): add tests for session-manager, lifecycle, and app
  packages/daemon/tests/unit/agent/agent-session.test.ts
  packages/daemon/tests/unit/app.test.ts
  packages/daemon/tests/unit/session/session-lifecycle.test.ts
  packages/daemon/tests/unit/session/session-manager.test.ts
Due: none

fix(test): use process pid in temp db path for better CI isolation
  packages/daemon/tests/unit/room/memory-manager.test.ts
Due: none

fix(test): use temp file databases instead of in-memory for complete isolation
  packages/daemon/tests/unit/room/context-manager.test.ts
  packages/daemon/tests/unit/room/memory-manager.test.ts
  packages/daemon/tests/unit/room/room-manager.test.ts
  packages/daemon/tests/unit/room/room-repository.test.ts
  packages/daemon/tests/unit/room/session-pair-manager.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
Due: none

fix(ci): run daemon tests sequentially to avoid parallel test isolation issues
  Makefile
Due: none

fix(test): skip room manager tests pending CI isolation fix
  packages/daemon/tests/unit/room/context-manager.test.ts
  packages/daemon/tests/unit/room/room-manager.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
Due: none

fix(test): skip MemoryManager tests pending CI isolation fix
  packages/daemon/tests/unit/room/memory-manager.test.ts
Due: none

feat(web): redesign UI layout to 3-column architecture
  packages/web/src/App.tsx
  packages/web/src/components/ChatHeader.tsx
  packages/web/src/components/GlobalSettingsEditor.tsx
  packages/web/src/components/GlobalToolsSettings.tsx
  packages/web/src/components/RecentSessions.tsx
  packages/web/src/components/SettingsModal.tsx
  packages/web/src/components/__tests__/ChatHeader.test.tsx
  packages/web/src/components/__tests__/GlobalSettingsEditor.test.tsx
  packages/web/src/components/__tests__/GlobalToolsSettings.test.tsx
  packages/web/src/components/__tests__/RecentSessions.test.tsx
  packages/web/src/components/__tests__/SettingsModal.test.tsx
  packages/web/src/components/room/NeoChat.tsx
  packages/web/src/components/ui/NavIconButton.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/NavRail.tsx
  packages/web/src/islands/NeoChatPanel.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/RoomList.tsx
  packages/web/src/islands/SessionList.tsx
  packages/web/src/islands/Sidebar.tsx
  packages/web/src/islands/__tests__/Sidebar.test.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

test: add tests for 3-column layout components
  packages/e2e/tests/core/navigation-3-column.e2e.ts
  packages/web/src/components/ui/__tests__/NavIconButton.test.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
  packages/web/src/islands/__tests__/NavRail.test.tsx
  packages/web/src/islands/__tests__/NeoChatPanel.test.tsx
  packages/web/src/islands/__tests__/RoomList.test.tsx
  packages/web/src/islands/__tests__/SessionList.test.tsx
Due: none

fix(e2e): update mobile navigation tests for 3-column layout
  packages/e2e/tests/core/navigation-3-column.e2e.ts
Due: none

fix(test): resolve test isolation issues and fix memory-handlers tests
  packages/daemon/tests/unit/room/context-manager.test.ts
  packages/daemon/tests/unit/room/memory-manager.test.ts
  packages/daemon/tests/unit/room/room-manager.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
  packages/daemon/tests/unit/rpc/memory-handlers.test.ts
Due: none

fix(test): use :memory: for truly isolated in-memory databases
  packages/daemon/tests/unit/room/context-manager.test.ts
  packages/daemon/tests/unit/room/memory-manager.test.ts
  packages/daemon/tests/unit/room/room-manager.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
Due: none

Fix race condition
  packages/daemon/tests/unit/room/task-manager.test.ts
Due: none

test: remove global task handler module mock leakage
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc/task-handlers.test.ts
Due: daemon

test(e2e): improve mobile layout tests for 3-column navigation
  packages/e2e/tests/core/navigation-3-column.e2e.ts
Due: none

feat(ui): add lobby manager chat, settings panel, and UX improvements
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/lobby-handlers.ts
  packages/web/src/components/settings/AboutSection.tsx
  packages/web/src/components/settings/GeneralSettings.tsx
  packages/web/src/components/settings/McpServersSettings.tsx
  packages/web/src/components/settings/SettingsSection.tsx
  packages/web/src/hooks/index.ts
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/Lobby.tsx
  packages/web/src/islands/LobbyManagerPanel.tsx
  packages/web/src/islands/NavRail.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
  packages/web/src/islands/__tests__/NeoChatPanel.test.tsx
  packages/web/src/lib/lobby-manager-store.ts
  packages/web/src/lib/lobby-store.ts
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

Add chrome mcp
  .mcp.json
Due: none

fix(e2e): prevent production session deletion with isolated test directories
  packages/e2e/global-teardown.ts
  packages/e2e/playwright.config.ts
Due: none

fix(e2e): prevent production session deletion with isolated test directories (#128)
  packages/e2e/global-teardown.ts
  packages/e2e/playwright.config.ts
Due: none

fix(e2e): prevent E2E tests from killing dev servers during self-development
  CLAUDE.md
  Makefile
  packages/e2e/playwright.config.ts
Due: none

feat(daemon): add GitHub integration for issue monitoring and AI routing
  packages/daemon/src/app.ts
  packages/daemon/src/config.ts
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/github/event-filter.ts
  packages/daemon/src/lib/github/event-normalizer.ts
  packages/daemon/src/lib/github/filter-config-manager.ts
  packages/daemon/src/lib/github/github-service.ts
  packages/daemon/src/lib/github/inbox-manager.ts
  packages/daemon/src/lib/github/polling-service.ts
  packages/daemon/src/lib/github/prompts/router-prompt.ts
  packages/daemon/src/lib/github/prompts/security-prompt.ts
  packages/daemon/src/lib/github/router-agent.ts
  packages/daemon/src/lib/github/security-agent.ts
  packages/daemon/src/lib/github/types.ts
  packages/daemon/src/lib/github/webhook-handler.ts
  packages/daemon/src/lib/rpc-handlers/github-handlers.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/github-mapping-repository.ts
  packages/daemon/src/storage/repositories/inbox-item-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/tests/integration/github/routing.test.ts
  packages/daemon/tests/integration/github/webhook.test.ts
  packages/daemon/tests/unit/github/event-filter.test.ts
  packages/daemon/tests/unit/github/router-agent.test.ts
  packages/daemon/tests/unit/github/security-agent.test.ts
  packages/shared/src/mod.ts
  packages/shared/src/types/github.ts
Due: daemon

fix(e2e): prevent E2E tests from killing dev servers during self-development (#130)
  CLAUDE.md
  Makefile
  packages/e2e/playwright.config.ts
Due: none

fix(web): complete 3-column layout with mobile navigation and settings
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/e2e/tests/core/navigation-3-column.e2e.ts
  packages/web/src/App.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/Lobby.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/NavRail.tsx
  packages/web/src/islands/__tests__/NavRail.test.tsx
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

fix(web): complete 3-column layout with mobile navigation and settings
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/e2e/tests/core/navigation-3-column.e2e.ts
  packages/web/src/App.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/Lobby.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/NavRail.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
  packages/web/src/islands/__tests__/NavRail.test.tsx
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

feat(daemon): add GitHub integration for issue monitoring and AI routing (#131)
  packages/daemon/src/app.ts
  packages/daemon/src/config.ts
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/github/event-filter.ts
  packages/daemon/src/lib/github/event-normalizer.ts
  packages/daemon/src/lib/github/filter-config-manager.ts
  packages/daemon/src/lib/github/github-service.ts
  packages/daemon/src/lib/github/inbox-manager.ts
  packages/daemon/src/lib/github/polling-service.ts
  packages/daemon/src/lib/github/prompts/router-prompt.ts
  packages/daemon/src/lib/github/prompts/security-prompt.ts
  packages/daemon/src/lib/github/router-agent.ts
  packages/daemon/src/lib/github/security-agent.ts
  packages/daemon/src/lib/github/types.ts
  packages/daemon/src/lib/github/webhook-handler.ts
  packages/daemon/src/lib/rpc-handlers/github-handlers.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/github-mapping-repository.ts
  packages/daemon/src/storage/repositories/inbox-item-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/tests/integration/github/routing.test.ts
  packages/daemon/tests/integration/github/webhook.test.ts
  packages/daemon/tests/unit/github/event-filter.test.ts
  packages/daemon/tests/unit/github/router-agent.test.ts
  packages/daemon/tests/unit/github/security-agent.test.ts
  packages/shared/src/mod.ts
  packages/shared/src/types/github.ts
Due: daemon
