Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix: expose goal events to space db scope
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/tests/unit/2-handlers/db-query/scope-config.test.ts
Due: daemon

fix: harden goal terminal completion paths
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/tests/unit/5-space/agent/end-node-handlers.test.ts
Due: daemon

fix: restore cooldown task activity state
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: daemon, web, e2e-matrix

fix: align space scope table count
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/tests/unit/2-handlers/db-query/scope-config.test.ts
Due: none

fix: align goal event cursors and cooldown state
  packages/daemon/src/lib/rpc-handlers/space-goal-handlers.ts
  packages/daemon/src/lib/space/goals/goal-service.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/storage/repositories/space-goal-event-repository.ts
  packages/daemon/tests/unit/4-space-storage/space-goal-service.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: close goal history review gaps
  packages/daemon/src/lib/space/goals/goal-service.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/storage/repositories/space-goal-event-repository.ts
  packages/daemon/tests/unit/4-space-storage/space-goal-service.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

Add Space-native goal backend (#1908)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/job-handlers/task-schedule-fire.handler.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-goal-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/goals/goal-service.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/post-approval-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/schedule/schedule-service.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/storage/repositories/space-goal-event-repository.ts
  packages/daemon/src/storage/repositories/space-goal-repository.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/task-schedule-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/db-query/scope-config.test.ts
  packages/daemon/tests/unit/2-handlers/job-handlers/task-schedule-fire.handler.test.ts
  packages/daemon/tests/unit/4-space-storage/schedule-service.test.ts
  packages/daemon/tests/unit/4-space-storage/space-goal-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-45_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-51_test.ts
  packages/daemon/tests/unit/5-space/agent/custom-agent.test.ts
  packages/daemon/tests/unit/5-space/agent/end-node-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: daemon, web, e2e-matrix

docs: add Codex agent guidance bridge
  AGENTS.md
Due: none

ci: add signed macOS desktop release artifacts
  .github/workflows/release.yml
  packages/desktop/README.md
Due: none

ci: add Linux desktop release artifacts
  .github/workflows/release.yml
  packages/desktop/README.md
Due: none

chore(desktop): align release version metadata
  bun.lock
  packages/desktop/package.json
  packages/desktop/src-tauri/Cargo.lock
  packages/desktop/src-tauri/Cargo.toml
  packages/desktop/src-tauri/tauri.conf.json
Due: none

ci: add signed macOS desktop release artifacts (#1935)
  .github/workflows/release.yml
  AGENTS.md
  bun.lock
  packages/desktop/README.md
  packages/desktop/package.json
  packages/desktop/src-tauri/Cargo.lock
  packages/desktop/src-tauri/Cargo.toml
  packages/desktop/src-tauri/tauri.conf.json
Due: none

docs: research token-efficient agent harnesses
  docs/research/token-efficiency/context-mode.md
  docs/research/token-efficiency/reports/01-the-harness-problem.md
  docs/research/token-efficiency/reports/02-governor.md
  docs/research/token-efficiency/reports/03-context-mode.md
  docs/research/token-efficiency/reports/04-headroom.md
  docs/research/token-efficiency/reports/05-caveman.md
  docs/research/token-efficiency/summary.md
  docs/research/token-efficiency/the-harness-problem.md
Due: none

docs: add token research license notes
  docs/research/token-efficiency/reports/04-headroom.md
  docs/research/token-efficiency/summary.md
Due: none

Research token-efficient agent harnesses (#1938)
  docs/research/token-efficiency/context-mode.md
  docs/research/token-efficiency/reports/01-the-harness-problem.md
  docs/research/token-efficiency/reports/02-governor.md
  docs/research/token-efficiency/reports/03-context-mode.md
  docs/research/token-efficiency/reports/04-headroom.md
  docs/research/token-efficiency/reports/05-caveman.md
  docs/research/token-efficiency/summary.md
  docs/research/token-efficiency/the-harness-problem.md
Due: none

feat: add full-text message search
  packages/daemon/src/lib/rpc-handlers/message-handlers.ts
  packages/daemon/src/storage/message-search.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-134-message-search.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/sdk-message-repository.test.ts
  packages/web/src/components/ChatHeader.tsx
  packages/web/src/components/MessageSearchOverlay.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

test: cover message search review cases
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/sdk-message-repository.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-task-repository.test.ts
Due: daemon

fix: address message search review feedback
  packages/daemon/src/lib/rpc-handlers/message-handlers.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-134-message-search.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/sdk-message-repository.test.ts
  packages/web/src/components/MessageSearchOverlay.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

fix: harden message search result handling
  packages/daemon/src/storage/message-search.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-134-message-search.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/sdk-message-repository.test.ts
  packages/web/src/components/MessageSearchOverlay.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/session-store.ts
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

fix: preserve search backfill milliseconds
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

fix: address remaining search review comments
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-134-message-search.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/session-repository.test.ts
  packages/web/src/components/MessageSearchOverlay.tsx
  packages/web/src/islands/ChatContainer.tsx
Due: daemon, web, e2e-matrix

fix: cover message search maintenance gaps
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/src/storage/repositories/space-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-134-message-search.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/session-repository.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-repository.test.ts
Due: daemon

fix: preserve message ids for search jumps
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/tests/unit/4-space-storage/storage/sdk-message-repository.test.ts
  packages/web/src/islands/ChatContainer.tsx
Due: daemon, web, e2e-matrix

fix: harden message search edge cases
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-134-message-search.test.ts
  packages/web/src/components/MessageSearchOverlay.tsx
  packages/web/src/islands/ChatContainer.tsx
Due: daemon, web, e2e-matrix

fix: avoid repeated message search rebackfills
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-134-message-search.test.ts
Due: daemon

fix: harden search jump pagination
  packages/web/src/islands/ChatContainer.tsx
Due: web, e2e-matrix

fix: rename message search migration to 133 after rebase
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-134-message-search.test.ts
Due: none

fix: reset search target on mid-load session switch
  packages/web/src/islands/ChatContainer.tsx
Due: web, e2e-matrix

feat: redesign message search as quick open
  packages/web/src/App.tsx
  packages/web/src/components/ChatHeader.tsx
  packages/web/src/components/MessageSearchOverlay.tsx
  packages/web/src/components/SectionSwitcher.tsx
  packages/web/src/hooks/__tests__/useGlobalShortcuts.test.ts
  packages/web/src/hooks/useGlobalShortcuts.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/CommandPalette.tsx
  packages/web/src/islands/__tests__/CommandPalette.test.tsx
  packages/web/src/lib/default-commands.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

fix: align message search migration test after rebase
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-134-message-search.test.ts
Due: none

fix: purge orphan message search rows and reset offline state
  packages/daemon/src/storage/repositories/space-repository.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/web/src/islands/CommandPalette.tsx
Due: daemon, web, e2e-matrix

fix: stabilize message search pagination state
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/web/src/islands/CommandPalette.tsx
  packages/web/src/lib/session-store.ts
Due: daemon, web, e2e-matrix

Add full-text message search (#1933)
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/rpc-handlers/message-handlers.ts
  packages/daemon/src/storage/message-search.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/src/storage/repositories/space-repository.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-134-message-search.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/sdk-message-repository.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/session-repository.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-repository.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-task-repository.test.ts
  packages/web/src/App.tsx
  packages/web/src/components/SectionSwitcher.tsx
  packages/web/src/hooks/__tests__/useGlobalShortcuts.test.ts
  packages/web/src/hooks/useGlobalShortcuts.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/CommandPalette.tsx
  packages/web/src/islands/__tests__/CommandPalette.test.tsx
  packages/web/src/lib/default-commands.ts
  packages/web/src/lib/session-store.ts
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

chore(release): bump version to 0.27.0
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(release): bump version to 0.27.0 (#1939)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

fix: bump desktop app version to 0.27.0
  packages/desktop/src-tauri/Cargo.toml
  packages/desktop/src-tauri/tauri.conf.json
Due: none

fix: bump desktop app version to 0.27.0 (#1940)
  packages/desktop/src-tauri/Cargo.toml
  packages/desktop/src-tauri/tauri.conf.json
Due: none

fix: bump desktop npm package version to 0.27.0
  packages/desktop/package.json
Due: none

fix: bump desktop npm package version to 0.27.0 (#1942)
  packages/desktop/package.json
Due: none

fix: attach space tools to worker sessions
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-memory-mcp.test.ts
Due: daemon
