Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

ci: add rpc-task-lifecycle.test.ts to validate-online-test-matrix.sh
  scripts/validate-online-test-matrix.sh
Due: none

fix: address review feedback on root repo sync hook
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/lifecycle-hooks.test.ts
Due: daemon

test: add online integration tests for task reactivation and archive lifecycle (#608)
  .github/workflows/main.yml
  packages/daemon/tests/online/rpc/rpc-task-lifecycle.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

docs: address iteration 10 review feedback (P0/P1/P3)
  docs/plans/complete-and-adopt-persistent-job-queue-for-code-base.md
Due: none

test: add edge-case tests for cyclic transition condition evaluation and iterationCount (#609)
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: none

test: default makeLeaderCtx to approved=true; add debug log and comment
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/lifecycle-hooks.test.ts
Due: daemon

test: add E2E tests for task reactivate and archive UI actions
  packages/e2e/tests/features/task-lifecycle.e2e.ts
Due: none

feat: add first-class messaging topology (channels) to workflow model
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/00-overview.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/04-multi-agent-workflow-steps.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/05-multi-agent-export-import-and-editor.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/06-cross-agent-messaging.md
Due: none

test: address review feedback — add task-status-badge testid, extract deleteRoom helper, fix header comment, simplify setup helper
  packages/e2e/tests/features/task-lifecycle.e2e.ts
  packages/e2e/tests/helpers/room-helpers.ts
  packages/web/src/components/room/TaskView.tsx
Due: web, e2e-matrix

feat: add fan-out bidirectional (hub-spoke) topology pattern
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/00-overview.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/04-multi-agent-workflow-steps.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/05-multi-agent-export-import-and-editor.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/06-cross-agent-messaging.md
Due: none

refactor: consolidate deleteRoom into shared room-helpers across all 6 existing test files
  packages/e2e/tests/features/mission-creation.e2e.ts
  packages/e2e/tests/features/mission-detail.e2e.ts
  packages/e2e/tests/features/mission-terminology.e2e.ts
  packages/e2e/tests/features/room-sidebar-navigation.e2e.ts
  packages/e2e/tests/features/room-sidebar-sections.e2e.ts
  packages/e2e/tests/features/task-actions-dropdown.e2e.ts
Due: none

docs: add plan for adopting persistent job queue across the daemon
  docs/plans/adopt-persistent-job-queue-across-the-daemon-continuing-from/00-overview.md
  docs/plans/adopt-persistent-job-queue-across-the-daemon-continuing-from/01-wire-processor-to-app-lifecycle.md
  docs/plans/adopt-persistent-job-queue-across-the-daemon-continuing-from/02-create-job-handler-infrastructure.md
  docs/plans/adopt-persistent-job-queue-across-the-daemon-continuing-from/03-migrate-github-polling.md
  docs/plans/adopt-persistent-job-queue-across-the-daemon-continuing-from/04-migrate-room-runtime-tick.md
  docs/plans/adopt-persistent-job-queue-across-the-daemon-continuing-from/05-observability-and-cleanup.md
Due: none

docs: add implementation plan for persistent job queue adoption (PR #203 continuation)
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/00-overview.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/01-foundation.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/02-session-background-tasks.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/03-github-polling.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/04-room-runtime-tick.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/05-cleanup-job.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/06-integration-tests.md
Due: none

test: add E2E tests for task reactivate and archive UI actions (#611)
  packages/e2e/tests/features/mission-creation.e2e.ts
  packages/e2e/tests/features/mission-detail.e2e.ts
  packages/e2e/tests/features/mission-terminology.e2e.ts
  packages/e2e/tests/features/room-sidebar-navigation.e2e.ts
  packages/e2e/tests/features/room-sidebar-sections.e2e.ts
  packages/e2e/tests/features/task-actions-dropdown.e2e.ts
  packages/e2e/tests/features/task-lifecycle.e2e.ts
  packages/e2e/tests/helpers/room-helpers.ts
  packages/web/src/components/room/TaskView.tsx
Due: web, e2e-matrix

fix: sync root repo after PR merge via lifecycle gate (#610)
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/lifecycle-hooks.test.ts
Due: daemon

docs(plans): add plan for SQL LiveQuery adoption
  docs/plans/complete-and-adopt-the-sql-livequery-system.md
Due: none

docs(plans): revise LiveQuery plan addressing reviewer feedback
  docs/plans/complete-and-adopt-the-sql-livequery-system.md
Due: none

docs(plans): revise LiveQuery plan - fix double-emit, clientId flow, goal events
  docs/plans/complete-and-adopt-the-sql-livequery-system.md
Due: none

docs(plans): address iteration 3 review feedback on LiveQuery plan
  docs/plans/complete-and-adopt-the-sql-livequery-system.md
Due: none

docs(plans): address iteration 4 review feedback on LiveQuery plan
  docs/plans/complete-and-adopt-the-sql-livequery-system.md
Due: none

docs: plan for Space Agent Groups flexible multi-agent collaboration (#606)
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/00-overview.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/01-schema-and-type-updates.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/02-taskagentmanager-group-persistence.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/03-frontend-session-group-reactivity.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/04-multi-agent-workflow-steps.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/05-multi-agent-export-import-and-editor.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/06-cross-agent-messaging.md
Due: none

docs(plans): address iteration 5 review feedback on LiveQuery plan
  docs/plans/complete-and-adopt-the-sql-livequery-system.md
Due: none

docs(plans): address iteration 7 review feedback on LiveQuery plan
  docs/plans/complete-and-adopt-the-sql-livequery-system.md
Due: none

docs(plans): address iteration 6 review feedback on LiveQuery plan
  docs/plans/complete-and-adopt-the-sql-livequery-system.md
Due: none

docs(plans): address iteration 8 review feedback on LiveQuery plan
  docs/plans/complete-and-adopt-the-sql-livequery-system.md
Due: none

docs(plans): address iteration 9 review feedback on LiveQuery plan
  docs/plans/complete-and-adopt-the-sql-livequery-system.md
  packages/daemon/src/lib/agent/model-switch-handler.ts
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
Due: daemon

docs(plans): add Task 5 to top-level Goal summary for consistency
  docs/plans/complete-and-adopt-the-sql-livequery-system.md
  packages/daemon/src/lib/agent/model-switch-handler.ts
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
Due: daemon

docs: address P1/P2 review feedback on job queue migration plan
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/00-overview.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/01-foundation.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/02-session-background-tasks.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/03-github-polling.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/04-room-runtime-tick.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/05-cleanup-job.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/06-integration-tests.md
Due: none

docs(plans): address round 11 review feedback on LiveQuery plan
  docs/plans/complete-and-adopt-the-sql-livequery-system.md
Due: none

docs: fix P1 cleanup handler ordering and P2 dedup/field-removal gaps
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/00-overview.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/03-github-polling.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/04-room-runtime-tick.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/05-cleanup-job.md
Due: none

feat: extend WorkflowStep with agents array and WorkflowChannel topology
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/shared/src/mod.ts
  packages/shared/src/types/space-utils.ts
  packages/shared/src/types/space.ts
  packages/shared/tests/space-utils.test.ts
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/serialization.ts
Due: daemon, web, e2e-matrix

feat: add migration 40 for flexible session groups
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-29_test.ts
  packages/daemon/tests/unit/storage/migrations/migration-40_test.ts
Due: daemon

fix: address P0/P1 review issues for multi-agent WorkflowStep support
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/shared/src/types/space-utils.ts
  packages/shared/tests/space-utils.test.ts
Due: daemon

fix: address remaining P1/P2 review issues
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/WorkflowEditor.tsx
Due: daemon, web, e2e-matrix

test: add repository integration tests for multi-agent step persistence
  packages/daemon/tests/unit/space/space-workflow.test.ts
  packages/shared/src/types/space-utils.ts
Due: daemon

feat: add migration 40 for flexible session groups (#614)
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-29_test.ts
  packages/daemon/tests/unit/storage/migrations/migration-40_test.ts
Due: daemon

feat: extend WorkflowStep with agents array and WorkflowChannel topology (#613)
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/space-workflow.test.ts
  packages/shared/src/mod.ts
  packages/shared/src/types/space-utils.ts
  packages/shared/src/types/space.ts
  packages/shared/tests/space-utils.test.ts
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/serialization.ts
Due: daemon, web, e2e-matrix

feat: update shared types for flexible SpaceSessionGroup model
  packages/daemon/src/storage/repositories/space-session-group-repository.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/storage/space-session-group-repository.test.ts
  packages/shared/src/types/space.ts
Due: daemon

docs: implementation plan for persistent job queue adoption (#612)
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/00-overview.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/01-foundation.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/02-session-background-tasks.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/03-github-polling.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/04-room-runtime-tick.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/05-cleanup-job.md
  docs/plans/complete-and-adopt-persistent-job-queue-continue-from-pr-203/06-integration-tests.md
Due: none

feat: add resolveTaskTypesForStep for multi-agent per-agent type resolution
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
Due: daemon
