Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix: scope message locator in persistence e2e test to avoid strict mode violation (#402)
  packages/e2e/tests/core/persistence.e2e.ts
  packages/e2e/tests/helpers/wait-helpers.ts
  packages/e2e/tests/serial/multi-session-concurrent-pages.e2e.ts
  packages/e2e/tests/serial/recovery-scenarios.e2e.ts
  packages/e2e/tests/settings/auto-title.e2e.ts
Due: none

fix: call queryObject.close() before clearing transport reference (#403)
  packages/daemon/src/lib/agent/interrupt-handler.ts
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/unit/agent/interrupt-handler.test.ts
  packages/daemon/tests/unit/agent/query-lifecycle-manager.test.ts
  packages/daemon/tests/unit/agent/query-runner.test.ts
Due: daemon

fix: address PR review feedback (Task 6)
  CLAUDE.md
  packages/web/src/components/room/GoalsEditor.test.tsx
  packages/web/src/components/room/GoalsEditor.tsx
Due: web, e2e-matrix

fix: persist V2 fields on edit + review follow-ups (Task 6)
  packages/daemon/src/lib/room/managers/goal-manager.ts
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/goal-handlers.test.ts
  packages/web/src/components/room/GoalsEditor.test.tsx
  packages/web/src/components/room/GoalsEditor.tsx
Due: daemon, web, e2e-matrix

fix: apply Biome formatting to pass CI checks
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/goal-handlers.test.ts
  packages/e2e/tests/features/mission-creation.e2e.ts
  packages/web/src/islands/Room.tsx
Due: daemon, web, e2e-matrix

feat: use brand-accurate hex colors for provider dots via inline style
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/components/__tests__/SessionStatusBar.test.tsx
Due: web, e2e-matrix

feat: provider-aware session creation (#399) (#401)
  packages/web/src/components/lobby/NewSessionModal.tsx
  packages/web/src/components/lobby/__tests__/NewSessionModal.test.tsx
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/hooks/useModelSwitcher.ts
  packages/web/src/islands/Lobby.tsx
Due: web, e2e-matrix

feat: add provider badge in session status bar next to model icon (#391)
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/components/__tests__/SessionStatusBar.test.tsx
Due: web, e2e-matrix

feat: heuristic token accounting for copilot bridge (#385)
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
  packages/daemon/src/lib/providers/anthropic-copilot/sse.ts
  packages/daemon/src/lib/providers/anthropic-copilot/streaming.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/streaming.test.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/token-accounting.test.ts
Due: daemon

feat: add auth status indicator near provider badge in session status bar
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/components/__tests__/SessionStatusBar.test.tsx
Due: web, e2e-matrix

test: unit tests for provider routing and type safety (Task 7.1) (#399)
  packages/daemon/tests/unit/model-service-provider-routing.test.ts
  packages/daemon/tests/unit/providers/context-manager.test.ts
  packages/daemon/tests/unit/providers/provider-registry.test.ts
Due: none

feat: graceful degradation on provider unavailability
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/error-manager.ts
  packages/daemon/tests/unit/core/error-manager.test.ts
  packages/web/src/components/ErrorBanner.tsx
  packages/web/src/components/ErrorDialog.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/types/error.ts
Due: daemon, web, e2e-matrix

fix: address review feedback on auth status indicator
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/components/__tests__/SessionStatusBar.test.tsx
Due: web, e2e-matrix

feat: log warning when tool_choice is provided but not honored in both bridges (#386)
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/translator.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/server.test.ts
  packages/daemon/tests/unit/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

test: add provider session, error envelope, and token usage tests to online provider shards
  packages/daemon/tests/online/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
Due: none

test: tighten copilot error-envelope test (stream:false, exact error type)
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
Due: none

test: address reviewer feedback on online provider test shards
  packages/daemon/tests/online/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
Due: none

test: fix codex token-usage test to assert only output_tokens > 0
  packages/daemon/tests/online/providers/anthropic-to-codex-bridge-provider.test.ts
Due: none

test: remove unused getInputTokens helper from codex bridge test
  packages/daemon/tests/online/providers/anthropic-to-codex-bridge-provider.test.ts
Due: none

test: add E2E tests for provider model switching UI
  packages/e2e/tests/features/provider-model-switching.e2e.ts
Due: none

task/task 72 update online provider test shards (#409)
  packages/daemon/tests/online/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
Due: none

feat: graceful degradation on provider unavailability (#408)
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/error-manager.ts
  packages/daemon/tests/unit/core/error-manager.test.ts
  packages/web/src/components/ErrorBanner.tsx
  packages/web/src/components/ErrorDialog.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/types/error.ts
Due: daemon, web, e2e-matrix

fix: address P1/P2 review issues in provider-model-switching E2E tests
  packages/e2e/tests/features/provider-model-switching.e2e.ts
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/components/lobby/NewSessionModal.tsx
Due: web, e2e-matrix

test: add E2E tests for provider model switching UI (#406)
  packages/e2e/tests/features/provider-model-switching.e2e.ts
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/components/lobby/NewSessionModal.tsx
Due: web, e2e-matrix

feat: eager leader initialization and fix observer race in TaskGroupManager
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/room/room-runtime-measurable.test.ts
  packages/daemon/tests/unit/room/room-runtime-recovery-safety.test.ts
  packages/daemon/tests/unit/room/room-runtime-terminal-errors.test.ts
  packages/daemon/tests/unit/room/room-runtime.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

fix: skip leader startStreamingQuery in createAndStartSession to prevent 15s timeout
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
Due: daemon

fix: address review feedback — comments, JSDoc, and guard boundary test
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/room/room-runtime-recovery-safety.test.ts
Due: daemon

fix: replace feedbackIteration guard with leaderHasWork flag in onLeaderTerminalState
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
Due: daemon

fix: call setLeaderHasWork in all leader inject paths
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/tests/unit/room/room-runtime-recovery-safety.test.ts
Due: daemon

fix: hide model picker when auth.providers fetch fails in NewSessionModal
  packages/web/src/components/lobby/NewSessionModal.tsx
  packages/web/src/components/lobby/__tests__/NewSessionModal.test.tsx
Due: web, e2e-matrix

feat: filter unauthenticated providers from model picker
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/components/lobby/NewSessionModal.tsx
  packages/web/src/components/lobby/__tests__/NewSessionModal.test.tsx
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useModelSwitcher.ts
Due: web, e2e-matrix

fix: use Promise.all in NewSessionModal to eliminate auth/models race condition
  packages/web/src/components/lobby/NewSessionModal.tsx
  packages/web/src/components/lobby/__tests__/NewSessionModal.test.tsx
Due: web, e2e-matrix

fix: guard recoverStuckWorkers against spurious re-routing after feedbackIteration reset
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-recovery-safety.test.ts
Due: daemon

feat: eager leader initialization and fix observer race in TaskGroupManager (#411)
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/room/room-runtime-measurable.test.ts
  packages/daemon/tests/unit/room/room-runtime-recovery-safety.test.ts
  packages/daemon/tests/unit/room/room-runtime-terminal-errors.test.ts
  packages/daemon/tests/unit/room/room-runtime.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

fix: add cancellation and eager clear to NewSessionModal fetch effect
  packages/web/src/components/lobby/NewSessionModal.tsx
  packages/web/src/components/lobby/__tests__/NewSessionModal.test.tsx
Due: web, e2e-matrix

feat: filter unauthenticated providers from model picker (#410)
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/components/lobby/NewSessionModal.tsx
  packages/web/src/components/lobby/__tests__/NewSessionModal.test.tsx
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useModelSwitcher.ts
Due: web, e2e-matrix

docs: add final provider parity report
  docs/reports/provider-parity-final-report.md
Due: none

docs: address review feedback on final parity report
  docs/codex-anthropic-api-parity-review.md
  docs/reports/anthropic-copilot-parity-report.md
  docs/reports/codex-anthropic-parity-report.md
  docs/reports/provider-parity-final-report.md
Due: none

docs: fix review P1/P2 inaccuracies in provider parity final report
  docs/reports/provider-parity-final-report.md
Due: none

docs: fix tool_choice consistency and clarify type system note
  docs/reports/provider-parity-final-report.md
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
