Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix: avoid rate limit in token usage test by reusing daemon's Copilot provider
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
Due: none

fix: support Agent tool name for subagent blocks (SDK 0.2.76+ renamed Task to Agent)
  packages/web/src/components/sdk/SDKAssistantMessage.tsx
  packages/web/src/components/sdk/__tests__/SDKAssistantMessage.test.tsx
Due: web, e2e-matrix

test: verify no claude-* model name leaks to bridge DEFAULT_*_MODEL env vars
  packages/daemon/tests/unit/providers/anthropic-copilot/provider.test.ts
  packages/daemon/tests/unit/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/unit/providers/context-manager.test.ts
Due: none

fix: address review feedback — Agent tool name compatibility throughout
  packages/daemon/tests/online/coordinator/coordinator-tool-delegation.test.ts
  packages/web/src/components/sdk/__tests__/SDKAssistantMessage.test.tsx
  packages/web/src/lib/__tests__/status-actions.test.ts
  packages/web/src/lib/status-actions.ts
Due: web, e2e-matrix

fix: address second-round review feedback for Task 7
  packages/daemon/tests/online/room/mission-lifecycle.test.ts
  packages/e2e/tests/features/mission-detail.e2e.ts
  scripts/validate-online-test-matrix.sh
Due: none

test: fix review feedback on no-model-leak invariant tests
  packages/daemon/tests/unit/providers/anthropic-copilot/provider.test.ts
  packages/daemon/tests/unit/providers/context-manager.test.ts
Due: none

chore: fix biome formatting in mission system files
  packages/daemon/tests/online/room/mission-lifecycle.test.ts
  packages/daemon/tests/unit/room/recurring-missions.test.ts
  packages/web/src/components/room/GoalsEditor.tsx
Due: web, e2e-matrix

fix: add waitForProcessing helper and fix provider-session race condition
  packages/daemon/tests/helpers/daemon-actions.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
Due: none

docs: add caution note to waitForProcessing about fast-backend edge case
  packages/daemon/tests/helpers/daemon-actions.ts
Due: none

fix: remove racy getProcessingState assertions after waitForIdle in copilot tests
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
Due: none

fix: set ANTHROPIC_DEFAULT_*_MODEL in Codex provider to prevent Anthropic model fallback (#412)
  packages/daemon/src/lib/providers/anthropic-copilot/streaming.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/tests/helpers/daemon-actions.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/provider.test.ts
  packages/daemon/tests/unit/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/unit/providers/context-manager.test.ts
Due: daemon

fix: wait for assistant messages through Copilot retry cycles in provider-session test
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
Due: none

fix: extend waitForSdkMessages timeout in all copilot tests; remove dead waitForProcessing export
  packages/daemon/tests/helpers/daemon-actions.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
Due: none

fix: support Agent tool name for subagent blocks (SDK 0.2.76+ renamed Task to Agent) (#424)
  packages/daemon/tests/online/coordinator/coordinator-tool-delegation.test.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
  packages/web/src/components/sdk/SDKAssistantMessage.tsx
  packages/web/src/components/sdk/__tests__/SDKAssistantMessage.test.tsx
  packages/web/src/lib/__tests__/status-actions.test.ts
  packages/web/src/lib/status-actions.ts
Due: web, e2e-matrix

fix(codex-bridge): address review feedback - stale events, concurrent turns, error handling
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/process-manager.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/translator.ts
Due: daemon

fix(codex-bridge): persist sessions across turns, non-blocking tool dispatch
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/process-manager.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/translator.ts
  packages/daemon/tests/unit/providers/codex-anthropic-bridge/process-manager.test.ts
Due: daemon

fix(codex-bridge): fix remaining error handling issues
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
Due: daemon

fix(codex-bridge): add warning for missing session ID
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
Due: daemon

fix(codex-bridge): fix comment and add extractLastUserMessage tests
  packages/daemon/src/lib/providers/codex-anthropic-bridge/process-manager.ts
  packages/daemon/tests/unit/providers/codex-anthropic-bridge/translator.test.ts
Due: daemon

fix: add sessionId to ProviderSessionConfig, fix test call sites
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/tests/unit/providers/codex-anthropic-bridge/server.test.ts
  packages/shared/src/provider/types.ts
Due: daemon

fix: update test to expect codex-bridge-default API key
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/unit/providers/codex-anthropic-bridge/translator.test.ts
Due: daemon

docs: add JSDoc to sseEvent function
  packages/daemon/src/lib/providers/codex-anthropic-bridge/translator.ts
Due: daemon

docs: document extended thinking not supported in both bridges
  packages/daemon/src/lib/providers/anthropic-copilot/prompt.ts
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
Due: daemon

fix(codex-bridge): persist Codex sessions across turns (#420)
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/anthropic-copilot/prompt.ts
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/process-manager.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/translator.ts
  packages/daemon/tests/unit/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/unit/providers/codex-anthropic-bridge/process-manager.test.ts
  packages/daemon/tests/unit/providers/codex-anthropic-bridge/server.test.ts
  packages/daemon/tests/unit/providers/codex-anthropic-bridge/translator.test.ts
  packages/shared/src/provider/types.ts
Due: daemon

docs: add final provider parity report (#413)
  docs/codex-anthropic-api-parity-review.md
  docs/reports/anthropic-copilot-parity-report.md
  docs/reports/codex-anthropic-parity-report.md
  docs/reports/provider-parity-final-report.md
Due: none

fix: hide logout button for OpenAI/Copilot when credentials come from env vars or system CLI
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/rpc-handlers/auth-handlers.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/provider.test.ts
  packages/daemon/tests/unit/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/shared/src/provider/auth-types.ts
  packages/shared/src/provider/types.ts
  packages/web/src/components/settings/ProvidersSettings.tsx
Due: daemon, web, e2e-matrix

fix: restore Codex getModels() for env-var users; clarify Copilot auth docs; add missing tests
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/tests/unit/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/web/src/components/settings/__tests__/ProvidersSettings.test.tsx
Due: daemon

refactor: UI shows authenticated only for NeoKai-managed OAuth; remove canLogout
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/rpc-handlers/auth-handlers.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/provider.test.ts
  packages/daemon/tests/unit/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/shared/src/provider/auth-types.ts
  packages/shared/src/provider/types.ts
  packages/web/src/components/settings/ProvidersSettings.tsx
  packages/web/src/components/settings/__tests__/ProvidersSettings.test.tsx
Due: daemon, web, e2e-matrix

fix: make Codex canLogout tests deterministic and add refresh-failure canLogout test
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/tests/unit/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/web/src/components/settings/__tests__/ProvidersSettings.test.tsx
Due: daemon

fix: correct canLogout priority logic and add missing frontend tests
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/provider.test.ts
  packages/web/src/components/settings/__tests__/ProvidersSettings.test.tsx
Due: daemon

docs: plan for Multi-Agent V2 customizable agents and workflows (#359)
  docs/plans/multi-agent-v2-customizable-agents-workflows/00-overview.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/01-space-core-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/02-custom-agent-data-runtime.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/03-workflow-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/04-workflow-runtime-engine.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/05-space-frontend-foundation.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/06-frontend-agent-workflow-ui.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/07-workflow-selection-intelligence.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/08-export-import-sharing-foundation.md
Due: none

fix: use isAvailable() (full credential discovery) in online test guards
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/tests/online/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/provider.test.ts
Due: daemon

feat: define Space shared types in @neokai/shared
  packages/shared/src/mod.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: align SpaceWorkflowRun, SpaceSessionGroupMember, UpdateSpaceParams with spec
  packages/shared/src/types/space.ts
Due: daemon

fix: use isAvailable() not isAuthenticated in query-runner auth gate
  packages/daemon/src/lib/agent/query-runner.ts
Due: daemon

task/fix logout button not working for openai and copil (#423)
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/tests/online/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/provider.test.ts
  packages/daemon/tests/unit/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/web/src/components/settings/ProvidersSettings.tsx
  packages/web/src/components/settings/__tests__/ProvidersSettings.test.tsx
Due: daemon, web, e2e-matrix

feat: define Space shared types in @neokai/shared (#425)
  packages/shared/src/mod.ts
  packages/shared/src/types/space.ts
Due: daemon

feat: add Migration 29 — create all Space system tables
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-29_test.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
