Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix: use tool-ID-specific follow-up mocks to avoid ambiguous matching
  .devproxy/mocks.json
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
Due: none

fix: switch to text-only assertions to avoid unreliable body-content mock matching
  .devproxy/mocks.json
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
Due: none

fix: use bodyFragment structural matching for follow-up mocks to unblock tool_use assertions
  .devproxy/mocks.json
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
Due: none

test: strengthen mock routing assertions with exact prefix matching
  .devproxy/mocks.json
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
Due: none

fix: use string bodyFragment in mocks.json for space agent follow-up mocks
  .devproxy/mocks.json
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
Due: none

fix: switch semi-autonomous probe mocks to bodyFragment string matching
  .devproxy/mocks.json
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
Due: none

fix: use end_turn for semi-autonomous probe mocks, add diagnostic logging
  .devproxy/mocks.json
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
Due: none

feat: add Task Agent session rehydration on daemon restart (Task 5.3)
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

fix: address review feedback on task agent session rehydration
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

fix: add getSessionData to MockAgentSession and update stale JSDoc
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

fix: scope AgentSession.restore spy to rehydrate describe block only
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: none

fix: switch supervised probe mock to bodyFragment — .JsonContains matches all requests
  .devproxy/mocks.json
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
Due: none

test: online tests with dev proxy for space agent coordination (Task 6.4) (#539)
  .devproxy/mocks.json
  .github/workflows/main.yml
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
  scripts/validate-online-test-matrix.sh
Due: daemon

fix: restore fromInit spy after each test to prevent cross-file leakage
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: none

feat: add toast semantic methods and ConfirmModal enhancements (Task 2.3)
  packages/web/src/components/ui/ConfirmModal.tsx
  packages/web/src/lib/toast.ts
Due: web, e2e-matrix

feat: add toast semantic methods and ConfirmModal enhancements (Task 2.3) (#543)
  packages/web/src/components/ui/ConfirmModal.tsx
  packages/web/src/lib/toast.ts
Due: web, e2e-matrix

feat: add semantic status border and inline reject form to RoomTasks (Task 2.4)
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

feat: add Task Agent session rehydration on daemon restart (Task 5.3) (#542)
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

style: fix biome formatting in RoomTasks.tsx
  packages/web/src/components/room/RoomTasks.tsx
Due: web, e2e-matrix

style: fix biome formatting in RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
Due: none

feat: add Inbox navigation infrastructure (Task 3.1)
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/NavRail.tsx
  packages/web/src/lib/nav-config.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

fix: apply Biome format to NavRail.tsx badge span
  packages/web/src/islands/NavRail.tsx
Due: web, e2e-matrix

fix: apply Biome format to ContextPanel and MainContent
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
Due: web, e2e-matrix

feat: add semantic status border and inline reject form to RoomTasks (Task 2.4) (#544)
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

feat: add Inbox navigation infrastructure (Task 3.1) (#545)
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/NavRail.tsx
  packages/web/src/lib/nav-config.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

feat: add Inbox view (inbox-store + Inbox.tsx + MainContent routing) (Task 3.2)
  packages/web/src/components/inbox/Inbox.test.tsx
  packages/web/src/components/inbox/Inbox.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/NavRail.tsx
  packages/web/src/lib/inbox-store.test.ts
  packages/web/src/lib/inbox-store.ts
Due: web, e2e-matrix

test: add end-to-end online test for Task Agent lifecycle (Task 6.3)
  .devproxy/mocks.json
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
Due: daemon

fix: resolve typecheck error and Biome format issues in Inbox tests
  packages/web/src/components/inbox/Inbox.test.tsx
  packages/web/src/components/inbox/Inbox.tsx
  packages/web/src/lib/inbox-store.test.ts
Due: web, e2e-matrix

feat: add Inbox view (inbox-store + Inbox.tsx + MainContent routing) (Task 3.2) (#546)
  packages/web/src/components/inbox/Inbox.test.tsx
  packages/web/src/components/inbox/Inbox.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/NavRail.tsx
  packages/web/src/lib/inbox-store.test.ts
  packages/web/src/lib/inbox-store.ts
Due: web, e2e-matrix

fix: address review feedback on Task Agent lifecycle test (PR #547)
  packages/daemon/src/lib/session/session-cache.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
Due: daemon

fix: add registerSession to mockSessionManager in task-agent-manager unit tests
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: none

test: add end-to-end online test for Task Agent lifecycle (Task 6.3) (#547)
  .devproxy/mocks.json
  packages/daemon/src/lib/session/session-cache.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

feat: add direct approve/reject to Inbox without TaskView navigation (Task 4.3)
  packages/web/src/components/inbox/Inbox.tsx
  packages/web/src/lib/inbox-store.test.ts
  packages/web/src/lib/inbox-store.ts
Due: web, e2e-matrix

fix: return boolean from approveTask/rejectTask; only toast/collapse on success
  packages/web/src/components/inbox/Inbox.tsx
  packages/web/src/lib/inbox-store.test.ts
  packages/web/src/lib/inbox-store.ts
Due: web, e2e-matrix

feat: replace 🤖 emoji with ◈ brand mark in NavRail (Task 4.1)
  packages/web/src/islands/NavRail.tsx
Due: web, e2e-matrix

fix: format ◈ brand mark span per Biome style (multi-line)
  packages/web/src/islands/NavRail.tsx
Due: web, e2e-matrix

chore: apply biome formatting to Inbox.tsx
  packages/web/src/components/inbox/Inbox.tsx
Due: web, e2e-matrix

feat: add direct approve/reject to Inbox without TaskView navigation (Task 4.3) (#548)
  packages/web/src/components/inbox/Inbox.tsx
  packages/web/src/lib/inbox-store.test.ts
  packages/web/src/lib/inbox-store.ts
Due: web, e2e-matrix

feat: hide ContextPanel when inbox is active (Task 4.2)
  packages/web/src/islands/ContextPanel.tsx
Due: web, e2e-matrix

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
