Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

docs: address reviewer feedback on iPad Safari layout plan
  docs/plans/fix-ipad-safari-layout-header-behind-tabs-and-bottom-gap.md
Due: none

feat: fix isTerminal to include archived status and add GoalManager.resetGoal()
  packages/daemon/src/lib/room/managers/goal-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/goal-manager.test.ts
  packages/daemon/tests/unit/room/mission-system-edge-cases.test.ts
Due: daemon

docs: address P2 feedback on iPad Safari layout plan
  docs/plans/fix-ipad-safari-layout-header-behind-tabs-and-bottom-gap.md
Due: none

docs: plan for fixing iPad Safari layout issues (#1163)
  docs/plans/fix-ipad-safari-layout-header-behind-tabs-and-bottom-gap.md
Due: none

feat: fix isTerminal to include archived status and add GoalManager.resetGoal() (#1164)
  packages/daemon/src/lib/room/managers/goal-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/goal-manager.test.ts
  packages/daemon/tests/unit/room/mission-system-edge-cases.test.ts
Due: daemon

feat: add useViewportSafety hook and CSS custom properties for iPad Safari
  packages/web/src/hooks/__tests__/useViewportSafety.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useViewportSafety.ts
  packages/web/src/styles.css
Due: web, e2e-matrix

fix: address review feedback on useViewportSafety hook
  packages/web/src/App.tsx
  packages/web/src/hooks/__tests__/useViewportSafety.test.ts
  packages/web/src/hooks/useViewportSafety.ts
  packages/web/src/styles.css
Due: web, e2e-matrix

feat: add reset_goal MCP tool and expose planning_attempts in update_goal
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools-goal.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
Due: daemon

fix: add session-group safety guard and hoist runtime lookup in reset_goal
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools-goal.test.ts
Due: daemon

feat: add reset_goal MCP tool and expose planning_attempts in update_goal (#1166)
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools-goal.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
Due: daemon

Plan: Decouple daemon from single workspaceRoot (#1161)
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/00-overview.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/01-shared-types-and-validation.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/02-room-creation-enforcement.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/03-eliminate-workspaceroot-fallbacks.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/04-room-update-defaultpath-propagation.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/05-make-daemon-workspaceroot-optional.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/06-test-coverage-and-e2e.md
Due: none

feat: add useViewportSafety hook and CSS custom properties (#1165)
  packages/web/src/App.tsx
  packages/web/src/hooks/__tests__/useViewportSafety.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useViewportSafety.ts
  packages/web/src/styles.css
Due: web, e2e-matrix

feat: use h-safe-screen instead of h-dvh in root layout and overlay panels
  packages/web/src/App.tsx
  packages/web/src/assets.d.ts
  packages/web/src/components/neo/NeoPanel.tsx
  packages/web/src/components/room/SlideOutPanel.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
  packages/web/src/lib/__tests__/ios-safe-area.test.ts
Due: web, e2e-matrix

feat: invalidate in-progress planning when goal title/description changes
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools-goal.test.ts
Due: daemon

docs: replace prose 'step' with 'node' for workflow node references
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

feat: use h-safe-screen instead of h-dvh in root layout and overlay panels (#1168)
  packages/web/src/App.tsx
  packages/web/src/assets.d.ts
  packages/web/src/components/neo/NeoPanel.tsx
  packages/web/src/components/room/SlideOutPanel.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
  packages/web/src/lib/__tests__/ios-safe-area.test.ts
Due: web, e2e-matrix

refactor: address review feedback on planning invalidation in update_goal
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools-goal.test.ts
Due: daemon

feat: dynamic bottom padding via --bottom-bar-height CSS custom property
  packages/web/src/App.tsx
  packages/web/src/islands/BottomTabBar.tsx
  packages/web/src/lib/__tests__/ios-safe-area.test.ts
Due: web, e2e-matrix

fix: cancel pending rAF before scheduling new one in resize listener
  packages/web/src/islands/BottomTabBar.tsx
Due: web, e2e-matrix

fix: cancel pending rAF on unmount to prevent stale height write
  packages/web/src/islands/BottomTabBar.tsx
Due: web, e2e-matrix

fix: add session-group guard and explicit-status precedence in update_goal invalidation
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools-goal.test.ts
Due: daemon

feat: dynamic bottom padding via --bottom-bar-height CSS custom property (#1167)
  packages/web/src/App.tsx
  packages/web/src/islands/BottomTabBar.tsx
  packages/web/src/lib/__tests__/ios-safe-area.test.ts
Due: web, e2e-matrix

fix: pre-scan planning tasks before DB writes to prevent partial update on guard failure
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools-goal.test.ts
Due: daemon

feat: invalidate in-progress planning on goal title/description update (#1169)
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools-goal.test.ts
Due: daemon

test(e2e): add iPad Safari layout regression tests
  packages/e2e/tests/features/ipad-safari-layout.e2e.ts
Due: none

feat: make CreateRoomParams.defaultPath required and add workspace path validation
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
  packages/shared/src/mod.ts
  packages/shared/src/types/neo.ts
  packages/shared/src/validation/workspace-path.ts
  packages/shared/tests/workspace-path.test.ts
  packages/web/src/islands/Lobby.tsx
Due: daemon, web, e2e-matrix

test(e2e): add iPad Safari layout regression tests (#1170)
  packages/e2e/tests/features/ipad-safari-layout.e2e.ts
Due: none

test(online): add goal lifecycle reset integration tests
  packages/daemon/tests/online/room/goal-lifecycle-reset.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

fix: address review feedback on defaultPath required change
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
  packages/e2e/tests/helpers/room-helpers.ts
  packages/web/src/islands/Lobby.tsx
Due: daemon, web, e2e-matrix

fix: correct empty-string bypass and fragile as-string cast
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
  packages/web/src/islands/Lobby.tsx
Due: daemon, web, e2e-matrix

test: rename misleading empty-string defaultPath test name
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
Due: none

feat: make CreateRoomParams.defaultPath required and add workspace path validation (#1171)
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
  packages/e2e/tests/helpers/room-helpers.ts
  packages/shared/src/mod.ts
  packages/shared/src/types/neo.ts
  packages/shared/src/validation/workspace-path.ts
  packages/shared/tests/workspace-path.test.ts
  packages/web/src/islands/Lobby.tsx
Due: daemon, web, e2e-matrix

feat: require workspace_path for create_room in neo-action-tools
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
Due: daemon

feat: add workspace path field to CreateRoomModal
  packages/web/src/components/lobby/CreateRoomModal.tsx
  packages/web/src/components/lobby/__tests__/CreateRoomModal.test.tsx
  packages/web/src/islands/Lobby.tsx
Due: web, e2e-matrix

fix: update missed test files and JSDoc for create_room workspace_path change
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-activity-logger.test.ts
  packages/daemon/tests/unit/neo/neo-integration-confirmation-roundtrip.test.ts
Due: daemon

fix: address review feedback on CreateRoomModal workspace path
  packages/web/src/components/lobby/CreateRoomModal.tsx
  packages/web/src/components/lobby/__tests__/CreateRoomModal.test.tsx
  packages/web/src/islands/Lobby.tsx
Due: web, e2e-matrix

feat: require workspace_path for create_room in neo-action-tools (#1173)
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
  packages/daemon/tests/unit/neo/neo-activity-logger.test.ts
  packages/daemon/tests/unit/neo/neo-integration-confirmation-roundtrip.test.ts
Due: daemon

feat: add workspace path field to CreateRoomModal (#1174)
  packages/web/src/components/lobby/CreateRoomModal.tsx
  packages/web/src/components/lobby/__tests__/CreateRoomModal.test.tsx
  packages/web/src/islands/Lobby.tsx
Due: web, e2e-matrix

refactor(test): replace duplicate createGoalViaRpc with imported createGoal, add replanCount assertion
  packages/daemon/tests/online/room/goal-lifecycle-reset.test.ts
Due: none

fix(test): guard against DAEMON_TEST_SPAWN mode, move DEFAULT_MODEL into beforeAll
  packages/daemon/tests/online/room/goal-lifecycle-reset.test.ts
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
