Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

feat(ui): add Tooltip, Toast, Spinner, Skeleton, IconButton components
  packages/ui/src/components/icon-button/icon-button.tsx
  packages/ui/src/components/skeleton/skeleton.tsx
  packages/ui/src/components/spinner/spinner.tsx
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/components/tooltip/tooltip.tsx
Due: none

feat(ui): add useClose hook and barrel exports
  packages/ui/src/hooks/use-close.ts
  packages/ui/src/mod.ts
Due: none

test(ui): add comprehensive test suite (784 tests, 95%+ coverage)
  packages/ui/tests/button.test.tsx
  packages/ui/tests/checkbox.test.tsx
  packages/ui/tests/combobox.test.tsx
  packages/ui/tests/dialog.test.tsx
  packages/ui/tests/disclosure.test.tsx
  packages/ui/tests/field.test.tsx
  packages/ui/tests/icon-button.test.tsx
  packages/ui/tests/internal/calculate-active-index.test.ts
  packages/ui/tests/internal/focus-management.test.ts
  packages/ui/tests/internal/render.test.tsx
  packages/ui/tests/internal/use-close.test.tsx
  packages/ui/tests/internal/use-focus-trap.test.tsx
  packages/ui/tests/internal/use-inert.test.tsx
  packages/ui/tests/internal/use-outside-click.test.tsx
  packages/ui/tests/internal/use-text-value.test.tsx
  packages/ui/tests/internal/use-tracked-pointer.test.ts
  packages/ui/tests/listbox.test.tsx
  packages/ui/tests/menu.test.tsx
  packages/ui/tests/popover.test.tsx
  packages/ui/tests/radio-group.test.tsx
  packages/ui/tests/skeleton.test.tsx
  packages/ui/tests/spinner.test.tsx
  packages/ui/tests/switch.test.tsx
  packages/ui/tests/tabs.test.tsx
  packages/ui/tests/toast.test.tsx
  packages/ui/tests/tooltip.test.tsx
  packages/ui/tests/transition.test.tsx
Due: none

feat(ui): add kitchen sink demo with light/dark mode toggle
  packages/ui/demo/App.tsx
  packages/ui/demo/index.html
  packages/ui/demo/main.tsx
  packages/ui/demo/sections/ButtonDemo.tsx
  packages/ui/demo/sections/CheckboxDemo.tsx
  packages/ui/demo/sections/ComboboxDemo.tsx
  packages/ui/demo/sections/DialogDemo.tsx
  packages/ui/demo/sections/DisclosureDemo.tsx
  packages/ui/demo/sections/FieldDemo.tsx
  packages/ui/demo/sections/IconButtonDemo.tsx
  packages/ui/demo/sections/InputDemo.tsx
  packages/ui/demo/sections/ListboxDemo.tsx
  packages/ui/demo/sections/MenuDemo.tsx
  packages/ui/demo/sections/PopoverDemo.tsx
  packages/ui/demo/sections/RadioGroupDemo.tsx
  packages/ui/demo/sections/SkeletonDemo.tsx
  packages/ui/demo/sections/SpinnerDemo.tsx
  packages/ui/demo/sections/SwitchDemo.tsx
  packages/ui/demo/sections/TabsDemo.tsx
  packages/ui/demo/sections/ToastDemo.tsx
  packages/ui/demo/sections/TooltipDemo.tsx
  packages/ui/demo/sections/TransitionDemo.tsx
  packages/ui/demo/styles.css
Due: none

chore: add @neokai/ui to TypeScript project references
  tsconfig.json
Due: none

fix(ui): resolve CI typecheck and knip failures
  knip.json
  packages/ui/src/components/disclosure/disclosure.tsx
  packages/ui/src/components/spinner/spinner.tsx
  packages/ui/src/internal/match.ts
  packages/ui/src/internal/render.ts
  packages/ui/src/internal/use-owner.ts
  packages/ui/src/internal/use-resolve-tag.ts
Due: none

fix(ui): remove unused forwardRef import, fix knip.json formatting
  knip.json
  packages/ui/src/internal/render.ts
Due: none

docs: add ADR for Live Query and Job Queue architecture
  docs/adr/0001-live-query-and-job-queue.md
  docs/adr/0001-migration-plan.md
  docs/adr/0002-job-queue-migration.md
Due: none

refactor(storage): enhance LiveQueryEngine SQL parsing
  packages/daemon/src/storage/live-query.ts
Due: daemon

test(storage): add edge case tests for live query and job queue
  packages/daemon/tests/unit/storage/job-queue-processor.test.ts
  packages/daemon/tests/unit/storage/job-queue-repository.test.ts
  packages/daemon/tests/unit/storage/live-query.test.ts
  packages/daemon/tests/unit/storage/reactive-database.test.ts
Due: none

style(storage): fix format and knip issues
  packages/daemon/src/storage/live-query.ts
  packages/daemon/tests/unit/storage/job-queue-processor.test.ts
  packages/daemon/tests/unit/storage/job-queue-repository.test.ts
  packages/daemon/tests/unit/storage/live-query.test.ts
Due: daemon

fix(storage): export JobQueueProcessor and fix formatting
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/job-queue-processor.ts
  packages/daemon/src/storage/repositories/job-queue-repository.ts
  packages/daemon/tests/unit/storage/live-query-integration.test.ts
Due: daemon

ADR: Live Query and Job Queue Architecture (#176)
  docs/adr/0001-live-query-and-job-queue.md
  docs/adr/0001-migration-plan.md
  docs/adr/0002-job-queue-migration.md
  packages/daemon/src/app.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/job-queue-processor.ts
  packages/daemon/src/storage/live-query.ts
  packages/daemon/src/storage/reactive-database.ts
  packages/daemon/src/storage/repositories/job-queue-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/tests/unit/storage/job-queue-processor.test.ts
  packages/daemon/tests/unit/storage/job-queue-repository.test.ts
  packages/daemon/tests/unit/storage/live-query-integration.test.ts
  packages/daemon/tests/unit/storage/live-query.test.ts
  packages/daemon/tests/unit/storage/reactive-database.test.ts
Due: daemon

docs: improve CLAUDE.md with architecture and configuration details
  CLAUDE.md
Due: none

feat: Introduce thinking level and archived session settings, add usage analytics, and enhance chat header with room navigation.
  packages/daemon/src/lib/rpc-handlers/system-handlers.ts
  packages/e2e/tests/helpers/settings-modal-helpers.ts
  packages/e2e/tests/settings/settings-modal.e2e.ts
  packages/web/src/components/ChatHeader.tsx
  packages/web/src/components/ConnectionStatus.tsx
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/components/__tests__/ConnectionStatus.test.tsx
  packages/web/src/components/settings/GeneralSettings.tsx
  packages/web/src/components/settings/UsageAnalytics.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/Lobby.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/NavRail.tsx
  packages/web/src/islands/SessionList.tsx
  packages/web/src/islands/SessionsPage.tsx
  packages/web/src/islands/__tests__/SessionList.test.tsx
  packages/web/src/lib/__tests__/session-utils.test.ts
  packages/web/src/lib/session-utils.ts
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

feat(ui): achieve full Headless UI v2 API parity
  knip.json
  packages/ui/src/components/dialog/dialog.tsx
  packages/ui/src/components/disclosure/disclosure.tsx
  packages/ui/src/components/menu/menu.tsx
  packages/ui/src/components/popover/popover.tsx
  packages/ui/src/components/tabs/tabs.tsx
  packages/ui/src/components/transition/transition.tsx
  packages/ui/src/internal/class-names.ts
  packages/ui/src/internal/default-map.ts
  packages/ui/src/internal/disposables.ts
  packages/ui/src/internal/env.ts
  packages/ui/src/internal/floating-provider.tsx
  packages/ui/src/internal/machine.ts
  packages/ui/src/internal/match.ts
  packages/ui/src/internal/micro-task.ts
  packages/ui/src/internal/render.ts
  packages/ui/src/internal/stack-machine.ts
  packages/ui/src/internal/use-anchor-props.ts
  packages/ui/src/internal/use-disposables.ts
  packages/ui/src/internal/use-event.ts
  packages/ui/src/internal/use-flags.ts
  packages/ui/src/internal/use-is-mounted.ts
  packages/ui/src/internal/use-iso-morphic-effect.ts
  packages/ui/src/internal/use-latest-value.ts
  packages/ui/src/internal/use-resolve-button-type.ts
  packages/ui/src/internal/use-server-handoff-complete.ts
  packages/ui/src/internal/use-sync-refs.ts
  packages/ui/src/mod.ts
  packages/ui/tests/dialog.test.tsx
  packages/ui/tests/disclosure.test.tsx
  packages/ui/tests/popover.test.tsx
  packages/ui/tests/transition.test.tsx
Due: none

fix(ui): fix formatting in transition component
  packages/ui/src/components/transition/transition.tsx
Due: none

feat: integrate pi-mono agent with OAuth providers (OpenAI, GitHub Copilot)
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/providers/factory.ts
  packages/daemon/src/lib/providers/github-copilot-provider.ts
  packages/daemon/src/lib/providers/openai-provider.ts
  packages/daemon/src/lib/providers/pimono-adapter.ts
  packages/daemon/src/lib/rpc-handlers/auth-handlers.ts
  packages/daemon/tests/online/providers/github-copilot-provider.test.ts
  packages/daemon/tests/online/providers/openai-provider.test.ts
  packages/shared/src/provider/auth-types.ts
  packages/shared/src/provider/index.ts
  packages/shared/src/provider/query-types.ts
  packages/shared/src/provider/types.ts
  packages/web/src/components/settings/OAuthModal.tsx
  packages/web/src/components/settings/ProvidersSettings.tsx
  packages/web/src/components/settings/__tests__/OAuthModal.test.tsx
  packages/web/src/components/settings/__tests__/ProvidersSettings.test.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/lib/api-helpers.ts
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

fix: address CI failures (knip, formatting)
  packages/daemon/src/lib/providers/github-copilot-provider.ts
  packages/daemon/src/lib/providers/openai-provider.ts
  packages/daemon/src/lib/providers/pimono-adapter.ts
  packages/daemon/tests/online/providers/openai-provider.test.ts
Due: daemon

feat(web): add UI support for OpenAI and GitHub Copilot models in selector
  packages/daemon/tests/online/rpc/session-handlers.test.ts
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useModelSwitcher.ts
Due: web, e2e-matrix

style: apply biome formatting
  packages/daemon/test-agent-core.ts
  packages/daemon/test-copilot-direct.ts
  packages/daemon/test-full-integration.ts
  packages/daemon/test-pimono-adapter.ts
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
Due: web, e2e-matrix

chore: remove debug test scripts
  packages/daemon/test-agent-core.ts
  packages/daemon/test-copilot-direct.ts
  packages/daemon/test-full-integration.ts
  packages/daemon/test-pimono-adapter.ts
Due: none

wip: save work in progress from stuck session
  bun.lock
  packages/daemon/src/lib/agent/message-recovery-handler.ts
Due: daemon

fix: prevent synthetic/tool_result messages from being re-dispatched on recovery
  packages/daemon/src/lib/agent/message-recovery-handler.ts
  packages/daemon/tests/unit/agent/message-recovery-handler.test.ts
Due: daemon

feat: mark orphaned sent messages as failed instead of re-dispatching
  packages/daemon/src/lib/agent/message-recovery-handler.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/agent/message-recovery-handler.test.ts
  packages/shared/src/sdk/sdk.d.ts
  packages/web/src/components/sdk/SDKUserMessage.tsx
Due: daemon, web, e2e-matrix

style: apply biome formatting
  packages/daemon/src/lib/agent/message-recovery-handler.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/web/src/components/sdk/SDKUserMessage.tsx
Due: daemon, web, e2e-matrix

feat: mark orphaned sent messages as failed instead of re-dispatching (#179)
  bun.lock
  packages/daemon/src/lib/agent/message-recovery-handler.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/agent/message-recovery-handler.test.ts
  packages/shared/src/sdk/sdk.d.ts
  packages/web/src/components/sdk/SDKUserMessage.tsx
Due: daemon, web, e2e-matrix

feat(daemon): implement multi-round AI peer review workflow
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/room/cli-agent-registry.ts
  packages/daemon/src/lib/room/leader-agent.ts
  packages/daemon/src/lib/room/room-agent-tools.ts
  packages/daemon/src/lib/room/room-runtime-service.ts
  packages/daemon/src/lib/room/room-runtime.ts
  packages/daemon/src/lib/room/runtime-recovery.ts
  packages/daemon/src/lib/room/session-group-repository.ts
  packages/daemon/src/lib/room/task-group-manager.ts
  packages/daemon/src/lib/room/task-manager.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
Due: daemon

feat(storage): add schema migrations and goal/task type updates
  packages/daemon/src/storage/repositories/room-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/shared/src/types/neo.ts
Due: daemon

feat(web): add room agents panel and goal-aware task UI updates
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/components/room/RoomAgents.tsx
  packages/web/src/components/room/RoomDashboard.test.tsx
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/room/index.ts
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

test(daemon): update unit tests for room runtime and task management
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
  packages/daemon/tests/unit/rpc/task-handlers.test.ts
  packages/daemon/tests/unit/storage/task-repository.test.ts
Due: none

docs: add PR review workflow design document
  docs/design/pr-review-workflow.md
Due: none

fix(daemon): avoid circular references in room overview serialization
  packages/daemon/src/lib/room/room-manager.ts
Due: daemon

feat(daemon): add automatic task progress tracking during review cycle
  packages/daemon/src/lib/room/room-runtime-service.ts
  packages/daemon/src/lib/room/room-runtime.ts
  packages/daemon/src/lib/room/task-manager.ts
Due: daemon

feat: add human approval flow for planning tasks
  packages/daemon/src/lib/room/leader-agent.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

fix(test): update contract violation test to match fail behavior
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
Due: none

feat(daemon): add config column to rooms table
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

refactor(web): restructure RoomAgents with per-agent sub-agents UI
  packages/web/src/components/room/RoomAgents.tsx
Due: web, e2e-matrix

feat(daemon): refactor leader agent with per-agent sub-agents and review orchestration
  packages/daemon/src/lib/room/leader-agent.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
Due: daemon

feat(daemon): add runtime lifecycle hooks for autonomous room workflow
  packages/daemon/src/lib/room/coder-agent.ts
  packages/daemon/src/lib/room/lifecycle-hooks.ts
  packages/daemon/src/lib/room/planner-agent.ts
  packages/daemon/src/lib/room/room-runtime.ts
  packages/daemon/tests/unit/room/coder-agent.test.ts
  packages/daemon/tests/unit/room/lifecycle-hooks.test.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
Due: daemon
