Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

refactor: add server-side filtering to session.list RPC
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/tests/integration/git/archive-session.test.ts
Due: daemon

test: convert integration tests to online WebSocket tests
  packages/daemon/tests/online/rpc/rpc-agent-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-config-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-draft-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-interrupt-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-mcp-toggle.test.ts
  packages/daemon/tests/online/rpc/rpc-model-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-model-switching.test.ts
  packages/daemon/tests/online/rpc/rpc-rewind-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-session-filtering.test.ts
  packages/daemon/tests/online/rpc/rpc-session-handlers-extended.test.ts
  packages/daemon/tests/online/rpc/rpc-session-workflow.test.ts
  packages/daemon/tests/online/rpc/rpc-settings-handlers.test.ts
Due: none

fix: use 'in' operator to clear worktree on session archive
  packages/daemon/src/lib/agent/session-config-handler.ts
Due: daemon

ci: update test matrix for moved websocket/mcp tests
  .github/workflows/main.yml
Due: none

test: convert remaining integration tests to online WebSocket tests
  packages/daemon/tests/helpers/websocket-helpers.ts
  packages/daemon/tests/integration/agent/mock-sdk-pipeline.test.ts
  packages/daemon/tests/integration/components/message-remove-output.test.ts
  packages/daemon/tests/integration/filesystem/rpc-file-handlers.test.ts
  packages/daemon/tests/integration/git/archive-session.test.ts
  packages/daemon/tests/integration/rpc/rpc-message-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-system-handlers.test.ts
  packages/daemon/tests/integration/websocket/messagehub-protocol.test.ts
  packages/daemon/tests/integration/websocket/setup-websocket.test.ts
  packages/daemon/tests/integration/websocket/state-sync.test.ts
  packages/daemon/tests/integration/websocket/websocket-messagehub.test.ts
  packages/daemon/tests/online/agent/agent-pipeline.test.ts
  packages/daemon/tests/online/git/archive-session.test.ts
  packages/daemon/tests/online/rpc/rpc-file-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-message-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-remove-output.test.ts
  packages/daemon/tests/online/rpc/rpc-session-filtering.test.ts
  packages/daemon/tests/online/rpc/rpc-state-sync.test.ts
  packages/daemon/tests/online/websocket/websocket-protocol.test.ts
  packages/daemon/tests/unit/session/state-manager.test.ts
Due: none

test: increase timeouts for CI in online tests
  packages/daemon/tests/online/agent/agent-pipeline.test.ts
  packages/daemon/tests/online/git/archive-session.test.ts
  packages/daemon/tests/online/rpc/rpc-message-handlers.test.ts
Due: none

test: add waitForSdkMessages to handle persistence race on CI
  packages/daemon/tests/helpers/daemon-actions.ts
  packages/daemon/tests/online/agent/agent-pipeline.test.ts
  packages/daemon/tests/online/rpc/rpc-message-handlers.test.ts
Due: none

test: force anthropic provider path in mock SDK tests
  packages/daemon/tests/online/agent/agent-pipeline.test.ts
  packages/daemon/tests/online/rpc/rpc-message-handlers.test.ts
Due: none

test: set NEOKAI_AGENT_SDK_MOCK in tests that require mock SDK
  packages/daemon/tests/online/agent/agent-pipeline.test.ts
  packages/daemon/tests/online/rpc/rpc-message-handlers.test.ts
Due: none

test: scope env overrides in agent-pipeline to prevent leaking
  packages/daemon/tests/online/agent/agent-pipeline.test.ts
Due: none

test: delete duplicate integration tests, keep unit + online
  .github/workflows/main.yml
  CLAUDE.md
  Makefile
  packages/daemon/package.json
  packages/daemon/tests/helpers/database.ts
  packages/daemon/tests/helpers/helpers.test.ts
  packages/daemon/tests/helpers/integration-env.ts
  packages/daemon/tests/helpers/rpc-behavior.ts
  packages/daemon/tests/helpers/test-app.ts
  packages/daemon/tests/helpers/wait.ts
  packages/daemon/tests/integration/README.md
  packages/daemon/tests/integration/agent/context-tracking.integration.test.ts
  packages/daemon/tests/integration/agent/sdk-message-metadata.integration.test.ts
  packages/daemon/tests/integration/agent/session-persistence.integration.test.ts
  packages/daemon/tests/integration/components/MODEL_SWITCHING_TESTS.md
  packages/daemon/tests/integration/components/sdk-message-handler.test.ts
  packages/daemon/tests/integration/config-module-init.test.ts
  packages/daemon/tests/integration/database/global-settings.test.ts
  packages/daemon/tests/integration/database/message-query-modes.test.ts
  packages/daemon/tests/integration/database/processing-state.test.ts
  packages/daemon/tests/integration/database/sdk-message-repository.test.ts
  packages/daemon/tests/integration/database/session-manager.test.ts
  packages/daemon/tests/integration/database/session-repository.test.ts
  packages/daemon/tests/integration/database/settings-repository.test.ts
  packages/daemon/tests/integration/filesystem/file-manager.test.ts
  packages/daemon/tests/integration/filesystem/settings-manager.test.ts
  packages/daemon/tests/integration/git/project-structure.test.ts
  packages/daemon/tests/integration/git/worktree-git-commits.test.ts
  packages/daemon/tests/integration/git/worktree-isolation.test.ts
  packages/daemon/tests/integration/git/worktree-path-generation.test.ts
  packages/daemon/tests/integration/github/routing.test.ts
  packages/daemon/tests/integration/rpc/rpc-question-handlers.test.ts
  packages/daemon/tests/integration/session/git-branch-detection.test.ts
  packages/daemon/tests/integration/session/instant-message-persistence.test.ts
  packages/daemon/tests/integration/session/message-send-eventbus.test.ts
  packages/daemon/tests/integration/session/two-stage-creation.test.ts
  packages/daemon/tests/unit/github/webhook.test.ts
Due: none

test: delete deprecated/duplicated integration tests
  packages/daemon/tests/integration/agent/agent-session.test.ts
  packages/daemon/tests/integration/agent/rpc-agent-handlers.test.ts
  packages/daemon/tests/integration/components/auth.test.ts
  packages/daemon/tests/integration/components/e2e-workflow-behavior.test.ts
  packages/daemon/tests/integration/components/model-switching.test.ts
  packages/daemon/tests/integration/components/state-manager.test.ts
  packages/daemon/tests/integration/mcp/mcp-toggle.test.ts
  packages/daemon/tests/integration/rpc/rpc-config-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-draft-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-interrupt-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-model-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-rewind-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-session-handlers-extended-REFACTORED.test.ts
  packages/daemon/tests/integration/session/session-filtering.integration.test.ts
  packages/daemon/tests/integration/session/session-resume.test.ts
  packages/daemon/tests/integration/session/settings-rpc.integration.test.ts
  packages/daemon/tests/integration/session/sigint-cleanup.test.ts
Due: none

test: add mock SDK pipeline for offline integration tests
  packages/daemon/tests/helpers/mock-sdk.ts
  packages/daemon/tests/integration/agent/mock-sdk-pipeline.test.ts
Due: none

test: bake auto-mock into createTestApp() for zero-touch test conversion
  packages/daemon/tests/helpers/daemon-actions.ts
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/helpers/mock-sdk.ts
Due: none

refactor: expose eventBus on DaemonAppContext
  packages/daemon/src/app.ts
Due: daemon

refactor: remove MessageHub sequence tracking
  packages/shared/src/message-hub/message-hub.ts
  packages/shared/src/message-hub/protocol.ts
  packages/shared/src/message-hub/types.ts
  packages/shared/tests/message-hub-coverage.test.ts
  packages/shared/tests/message-hub-fixes.test.ts
  packages/shared/tests/message-hub-reconnection.test.ts
  packages/shared/tests/message-hub.test.ts
Due: daemon

ci: use mock SDK for 9/14 online test modules
  .github/workflows/main.yml
Due: none

refactor: remove stale sequence tracking comments
  packages/daemon/src/lib/websocket-server-transport.ts
  packages/shared/src/message-hub/types.ts
  packages/shared/tests/message-hub-fixes.test.ts
Due: daemon

fix(web): guard against undefined rateLimitType/resetsAt in SDKRateLimitEvent
  packages/shared/src/sdk/sdk.d.ts
  packages/web/src/components/sdk/SDKRateLimitEvent.tsx
Due: daemon, web, e2e-matrix

refactor: remove stale sequence tracking comments (#164)
  packages/daemon/src/lib/websocket-server-transport.ts
  packages/shared/src/message-hub/types.ts
  packages/shared/tests/message-hub-fixes.test.ts
Due: daemon

refactor(storage): remove unused DB schema elements
  packages/daemon/src/lib/room/task-message-queue.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

test: delete task-message-queue test (source deleted)
  packages/daemon/tests/unit/room/task-message-queue.test.ts
Due: none

fix(web): guard against undefined rateLimitType/resetsAt in SDKRateLimitEvent (#165)
  packages/shared/src/sdk/sdk.d.ts
  packages/web/src/components/sdk/SDKRateLimitEvent.tsx
Due: daemon, web, e2e-matrix

refactor(storage): remove unused DB schema elements (#166)
  packages/daemon/src/lib/room/task-message-queue.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/task-message-queue.test.ts
Due: daemon

feat(shared): add RuntimeState type and extend RoomOverview
  packages/shared/src/types/neo.ts
Due: daemon

feat(daemon): expose all tasks and runtime state in room overview
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/room/room-manager.ts
  packages/daemon/src/lib/room/room-runtime.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
Due: daemon

feat(web): add runtime controls and improve room dashboard
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

test(web): add room dashboard, tasks, and goals editor tests
  packages/web/src/components/room/GoalsEditor.test.tsx
  packages/web/src/components/room/RoomDashboard.test.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
