Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, shared, web, cli, e2e-quick, e2e-matrix

fix: use npm Trusted Publishing (OIDC) instead of NPM_TOKEN
  .github/workflows/release.yml
Due: none

fix: use npm Trusted Publishing (OIDC) instead of NPM_TOKEN (#6)
  .github/workflows/release.yml
Due: none

fix: use subshells in publish step to prevent cd path issues
  .github/workflows/release.yml
Due: none

fix: use subshells in publish step to prevent cd path issues (#7)
  .github/workflows/release.yml
Due: none

fix: upgrade npm in publish job for Trusted Publishing OIDC support
  .github/workflows/release.yml
Due: none

fix: upgrade npm in publish job for Trusted Publishing OIDC support (#8)
  .github/workflows/release.yml
Due: none

fix: make platform package publish resilient to already-published versions
  .github/workflows/release.yml
Due: none

fix: make platform package publish resilient to partial releases (#9)
  .github/workflows/release.yml
Due: none

fix: make main package publish resilient to re-runs
  .github/workflows/release.yml
Due: none

fix: make publish steps idempotent for re-runs (#10)
  .github/workflows/release.yml
Due: none

feat: unify CI pipeline to build binary, run e2e matrix, and conditionally release
  .github/workflows/ci.yml
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-quick.yml
  .github/workflows/release.yml
Due: none

feat: unify CI pipeline to build binary, run e2e matrix, and conditionally release (#11)
  .github/workflows/ci.yml
  .github/workflows/e2e-matrix.yml
  .github/workflows/e2e-quick.yml
  .github/workflows/release.yml
Due: none

fix: resolve Claude Code executable path in bundled binaries
  packages/cli/prod-entry.ts
  packages/daemon/package.json
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/sdk-cli-resolver.ts
  packages/daemon/src/lib/providers/anthropic-provider.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/shared/src/types/sdk-config.ts
Due: daemon, shared, e2e-quick

style: fix biome formatting for import attribute
  packages/cli/prod-entry.ts
Due: none

test: add unit tests for sdk-cli-resolver (coverage 39% -> 98%)
  packages/daemon/src/lib/agent/sdk-cli-resolver.ts
  packages/daemon/tests/unit/agent/sdk-cli-resolver.test.ts
Due: daemon, e2e-quick

fix: resolve Claude Code executable path in bundled binaries (#12)
  packages/cli/prod-entry.ts
  packages/daemon/package.json
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/sdk-cli-resolver.ts
  packages/daemon/src/lib/providers/anthropic-provider.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/unit/agent/sdk-cli-resolver.test.ts
  packages/shared/src/types/sdk-config.ts
Due: daemon, shared, e2e-quick

chore: add Apache 2.0 license
  LICENSE
  npm/neokai/package.json
  package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/web/package.json
Due: none

chore: add Apache 2.0 license (#13)
  LICENSE
  npm/neokai/package.json
  package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/web/package.json
Due: none

fix: provide Claude OAuth token to E2E binary for Anthropic provider availability
  .github/workflows/ci.yml
Due: none

fix: provide Claude OAuth token to E2E binary for Anthropic provider availability (#14)
  .github/workflows/ci.yml
Due: none

fix: global settings not applying to new sessions and missing UI options
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/integration/session/settings-rpc.integration.test.ts
  packages/e2e/tests/settings-modal-global-settings.e2e.ts
  packages/shared/src/types/settings.ts
  packages/web/src/components/GlobalSettingsEditor.tsx
  packages/web/src/components/GlobalToolsSettings.tsx
Due: daemon, shared, web, e2e-quick, e2e-matrix

fix: add getGlobalSettings mock to unit tests and fix formatting
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/integration/session/settings-rpc.integration.test.ts
  packages/daemon/tests/unit/session/session-lifecycle.test.ts
  packages/e2e/tests/settings-modal-global-settings.e2e.ts
  packages/shared/src/types/settings.ts
  packages/web/src/components/GlobalSettingsEditor.tsx
  packages/web/src/components/GlobalToolsSettings.tsx
Due: daemon, shared, web, e2e-quick, e2e-matrix

style: apply biome formatting (fix format CI check)
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/integration/session/settings-rpc.integration.test.ts
  packages/daemon/tests/unit/session/session-lifecycle.test.ts
  packages/e2e/tests/settings-modal-global-settings.e2e.ts
  packages/shared/src/types/settings.ts
  packages/web/src/components/GlobalSettingsEditor.tsx
  packages/web/src/components/GlobalToolsSettings.tsx
Due: daemon, shared, web, e2e-quick, e2e-matrix

feat: split E2E tests into no-LLM and LLM groups for better parallelism (#15)
  .github/workflows/ci.yml
Due: none

feat: split E2E tests into no-LLM and LLM groups for better parallelism (#15) (#16)
  .github/workflows/ci.yml
Due: none

feat: init git submodules in worktrees and add loading spinners for archive/delete
  packages/daemon/src/lib/worktree-manager.ts
  packages/web/src/hooks/__tests__/useSessionActions.test.ts
  packages/web/src/hooks/useSessionActions.ts
  packages/web/src/islands/ChatContainer.tsx
Due: daemon, web, e2e-quick, e2e-matrix

chore: bump version to 0.1.1
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/daemon/src/app.ts
  packages/daemon/src/lib/rpc-handlers/system-handlers.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/integration/components/sdk-message-handler.test.ts
  packages/daemon/tests/test-utils.ts
  packages/daemon/tests/unit/lib/rpc-handlers/system-handlers.test.ts
  packages/e2e/package.json
  packages/e2e/tests/serial/auth-error-scenarios.e2e.ts
  packages/shared/package.json
  packages/web/package.json
Due: daemon, e2e-quick

fix: global settings configuration issues and missing UI options (#15)
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/integration/session/settings-rpc.integration.test.ts
  packages/daemon/tests/unit/session/session-lifecycle.test.ts
  packages/e2e/tests/settings-modal-global-settings.e2e.ts
  packages/shared/src/types/settings.ts
  packages/web/src/components/GlobalSettingsEditor.tsx
  packages/web/src/components/GlobalToolsSettings.tsx
Due: daemon, shared, web, e2e-quick, e2e-matrix

style: fix formatting in ChatContainer delete modal button
  packages/web/src/islands/ChatContainer.tsx
Due: web, e2e-quick, e2e-matrix

feat: init git submodules in worktrees and add loading spinners for archive/delete (#17)
  packages/daemon/src/lib/worktree-manager.ts
  packages/web/src/hooks/__tests__/useSessionActions.test.ts
  packages/web/src/hooks/useSessionActions.ts
  packages/web/src/islands/ChatContainer.tsx
Due: daemon, web, e2e-quick, e2e-matrix

fix: resolve QuestionPrompt collapse race condition and fix E2E tests
  packages/e2e/tests/question-form-persistence.e2e.ts
  packages/web/src/components/QuestionPrompt.tsx
Due: web, e2e-quick, e2e-matrix

chore: bump version to 0.1.1 (#18)
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/daemon/src/app.ts
  packages/daemon/src/lib/rpc-handlers/system-handlers.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/integration/components/sdk-message-handler.test.ts
  packages/daemon/tests/test-utils.ts
  packages/daemon/tests/unit/lib/rpc-handlers/system-handlers.test.ts
  packages/e2e/package.json
  packages/e2e/tests/question-form-persistence.e2e.ts
  packages/e2e/tests/serial/auth-error-scenarios.e2e.ts
  packages/shared/package.json
  packages/web/package.json
  packages/web/src/components/QuestionPrompt.tsx
Due: daemon, web, e2e-quick, e2e-matrix

ci: exclude flaky model-selection-persistence E2E test
  .github/workflows/ci.yml
Due: none

ci: exclude flaky model-selection-persistence E2E test (#19)
  .github/workflows/ci.yml
Due: none

fix: filter E2E artifact from release packaging step
  .github/workflows/ci.yml
Due: none

fix: filter E2E artifact from release packaging step (#20)
  .github/workflows/ci.yml
Due: none

ci: allow release pipeline to proceed despite flaky LLM test failures
  .github/workflows/ci.yml
Due: none

ci: allow release pipeline to proceed despite flaky LLM test failures (#21)
  .github/workflows/ci.yml
Due: none

fix: add result check to downstream release job conditions
  .github/workflows/ci.yml
Due: none

fix: add result check to downstream release job conditions (#22)
  .github/workflows/ci.yml
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**
  shared: any of: packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**
  cli: any of: packages/cli/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**
  e2e-quick: any of: packages/daemon/src/, packages/shared/src/, packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**
