Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix(e2e): update room-sidebar-sections tests for current UI
  packages/e2e/tests/features/room-sidebar-sections.e2e.ts
Due: none

fix(e2e): update setupMultiAgentStep to handle auto-created secondary slot
  packages/e2e/tests/helpers/workflow-editor-helpers.ts
Due: none

fix: address reviewer feedback — P1 and P2
  packages/e2e/tests/features/livequery-task-goal-updates.e2e.ts
  packages/e2e/tests/features/mission-terminology.e2e.ts
Due: none

fix(e2e): apply same :visible fix to task-lifecycle.e2e.ts textarea selector
  packages/e2e/tests/features/task-lifecycle.e2e.ts
Due: none

fix: update E2E tests for canvas-based channel drag-and-drop and multi-agent UX
  packages/e2e/tests/features/space-agent-centric-workflow.e2e.ts
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
  packages/e2e/tests/helpers/workflow-editor-helpers.ts
Due: none

fix(e2e): strengthen active-tab assertions per review feedback
  packages/e2e/tests/features/room-sidebar-sections.e2e.ts
Due: none

test(e2e): skip channel-dependent tests removed by workflow UI refactor
  packages/e2e/tests/features/space-agent-centric-workflow.e2e.ts
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
Due: none

fix: address review feedback on E2E channel and gate tests
  packages/e2e/tests/features/space-agent-centric-workflow.e2e.ts
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
  packages/e2e/tests/helpers/workflow-editor-helpers.ts
Due: none

fix: update canvas E2E tests to use task pane + canvas toggle
  packages/e2e/tests/features/reviewer-feedback-loop.e2e.ts
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
Due: none

test(e2e): skip save-dependent test due to known bug #815
  packages/e2e/tests/features/space-agent-centric-workflow.e2e.ts
Due: none

fix: resolve duplicate Overview button in mobile layout and fix E2E selectors
  packages/e2e/tests/responsive/mobile.e2e.ts
  packages/web/src/islands/Room.tsx
Due: web, e2e-matrix

feat: add mission route to router and signals (#1403)
  packages/web/src/lib/__tests__/router.test.ts
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

feat: export GoalsEditor sub-components and add useMissionDetailData hook
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useMissionDetailData.ts
Due: web, e2e-matrix

test: add unit tests for MissionDetail placeholder component
  packages/web/src/components/room/__tests__/MissionDetail.test.tsx
Due: none

feat: wire MissionDetail view into Room component
  packages/web/src/components/room/MissionDetail.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/Room.tsx
Due: web, e2e-matrix

fix: address review feedback on useMissionDetailData hook
  packages/web/src/components/room/index.ts
  packages/web/src/hooks/__tests__/useMissionDetailData.test.ts
  packages/web/src/hooks/useMissionDetailData.ts
Due: web, e2e-matrix

docs: plan for URL-addressable room tabs with on-demand data loading
  docs/plans/make-room-tabs-url-addressable-with-on-demand-data-loading/00-overview.md
  docs/plans/make-room-tabs-url-addressable-with-on-demand-data-loading/01-router-room-tab-routes.md
  docs/plans/make-room-tabs-url-addressable-with-on-demand-data-loading/02-room-tab-state-from-url.md
  docs/plans/make-room-tabs-url-addressable-with-on-demand-data-loading/03-conditional-livequery.md
  docs/plans/make-room-tabs-url-addressable-with-on-demand-data-loading/04-code-splitting.md
Due: none

docs: address P1/P2 review feedback on room tabs URL plan
  docs/plans/make-room-tabs-url-addressable-with-on-demand-data-loading/00-overview.md
  docs/plans/make-room-tabs-url-addressable-with-on-demand-data-loading/01-router-room-tab-routes.md
  docs/plans/make-room-tabs-url-addressable-with-on-demand-data-loading/02-room-tab-state-from-url.md
  docs/plans/make-room-tabs-url-addressable-with-on-demand-data-loading/03-conditional-livequery.md
  docs/plans/make-room-tabs-url-addressable-with-on-demand-data-loading/04-code-splitting.md
Due: none

feat: export GoalsEditor sub-components and add useMissionDetailData hook (#1421)
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/components/room/index.ts
  packages/web/src/hooks/__tests__/useMissionDetailData.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useMissionDetailData.ts
Due: web, e2e-matrix

feat: wire MissionDetail view into Room component (#1422)
  packages/web/src/components/room/MissionDetail.tsx
  packages/web/src/components/room/__tests__/MissionDetail.test.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/Room.tsx
Due: web, e2e-matrix

feat: wire navigateToRoomMission from missions list and task view
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/components/room/task-shared/TaskHeader.tsx
  packages/web/src/islands/Room.tsx
Due: web, e2e-matrix

feat: implement MissionDetail header and status sidebar
  packages/web/src/components/room/MissionDetail.tsx
  packages/web/src/components/room/__tests__/MissionDetail.test.tsx
Due: web, e2e-matrix

fix: resolve SQLite teardown race condition in daemon cleanup
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
Due: daemon

test: await async stop() in SpaceRuntime and SpaceRuntimeService tests
  packages/daemon/tests/unit/space/space-runtime-service.test.ts
  packages/daemon/tests/unit/space/space-runtime-tick-loop.test.ts
Due: none

fix: address review feedback on MissionDetail component
  packages/web/src/components/room/MissionDetail.tsx
  packages/web/src/components/room/__tests__/MissionDetail.test.tsx
  packages/web/src/hooks/__tests__/useMissionDetailData.test.ts
  packages/web/src/hooks/useMissionDetailData.ts
Due: web, e2e-matrix

fix: address review feedback on SQLite teardown race fix
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
Due: daemon

test: add onGoalClick tests for GoalsEditor and fix router mock in TaskHeader/TaskView tests
  packages/web/src/components/room/GoalsEditor.test.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/task-shared/__tests__/TaskHeader.test.tsx
Due: none

fix: resolve SQLite teardown race condition in daemon cleanup (#1426)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/space/space-runtime-service.test.ts
  packages/daemon/tests/unit/space/space-runtime-tick-loop.test.ts
Due: daemon

fix: navigate to Tasks tab before asserting short ID badge visibility (#1408)
  packages/e2e/tests/features/short-id-display.e2e.ts
Due: none

feat: wire navigateToRoomMission from missions list and task view (#1424)
  packages/web/src/components/room/GoalsEditor.test.tsx
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/task-shared/TaskHeader.tsx
  packages/web/src/components/room/task-shared/__tests__/TaskHeader.test.tsx
  packages/web/src/islands/Room.tsx
Due: web, e2e-matrix

fix: navigate to Tasks tab in task-goal-indicator E2E tests (#1405)
  packages/e2e/tests/features/task-goal-indicator.e2e.ts
Due: none

fix(e2e): update gate badge script icon expectation from ⚡ to S (#1407)
  packages/e2e/tests/features/space-gate-custom-badges.e2e.ts
Due: none

fix: preserve non-status fields in spaceTask.update during status transitions
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/space-task-handlers.test.ts
Due: daemon

fix(e2e): update room-sidebar-sections tests for current UI (#1413)
  packages/e2e/tests/features/room-sidebar-sections.e2e.ts
Due: none

fix: resolve task agent worktree path under ~/.neokai instead of source repo
  packages/daemon/src/lib/space/managers/space-worktree-manager.ts
  packages/daemon/src/lib/worktree-manager.ts
  packages/daemon/src/lib/worktree-path-utils.ts
  packages/daemon/tests/unit/lib/worktree-path-utils.test.ts
  packages/daemon/tests/unit/space/space-worktree-manager.test.ts
Due: daemon

fix: use ⚡ script icon in gate badge SVG for consistency with panel indicator (#1411)
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
Due: web, e2e-matrix

fix(e2e): scope textarea/send-button to visible elements in task-message-streaming (#1412)
  packages/e2e/tests/features/task-lifecycle.e2e.ts
  packages/e2e/tests/features/task-message-streaming.e2e.ts
Due: none

feat: MissionDetail header and status sidebar (#1425)
  packages/web/src/components/room/MissionDetail.tsx
  packages/web/src/components/room/__tests__/MissionDetail.test.tsx
  packages/web/src/hooks/__tests__/useMissionDetailData.test.ts
  packages/web/src/hooks/useMissionDetailData.ts
Due: web, e2e-matrix

refactor(e2e): remove stale tests instead of skipping them
  packages/e2e/tests/features/space-agent-centric-workflow.e2e.ts
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
Due: none

refactor(e2e): remove dead channel helper functions
  packages/e2e/tests/helpers/workflow-editor-helpers.ts
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
