Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix(e2e): extend workflow deletion fix to space-agent-chat, space-sub-routes, space-workflow-rules
  packages/e2e/tests/features/space-agent-chat.e2e.ts
  packages/e2e/tests/features/space-sub-routes.e2e.ts
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
Due: none

fix(e2e): fix UI regression test failures — canvas, workflow, MCP, context panel
  packages/e2e/tests/features/reviewer-feedback-loop.e2e.ts
  packages/e2e/tests/features/space-agent-centric-workflow.e2e.ts
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
  packages/e2e/tests/features/space-context-panel-switching.e2e.ts
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
  packages/e2e/tests/features/visual-workflow-editor.e2e.ts
  packages/e2e/tests/settings/mcp-servers.e2e.ts
Due: none

fix(e2e): use agent slot names (not role names) for channel selects and text assertions
  packages/e2e/tests/features/space-agent-centric-workflow.e2e.ts
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
Due: none

fix(space): seed channels with UUIDs and make plan-approval-gate a human gate
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
Due: daemon

fix(e2e): fix gate icon visibility race conditions for approval-gate and reviewer-feedback-loop
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
  packages/web/src/components/space/WorkflowCanvas.tsx
Due: daemon, web, e2e-matrix

test(space): add DB-level ordering test for FULL_CYCLE_CODING_WORKFLOW after seeding
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
Due: none

fix(canvas): use getHub() in fetchGateData to eliminate hub-not-ready race
  packages/e2e/tests/features/reviewer-feedback-loop.e2e.ts
  packages/web/src/components/space/WorkflowCanvas.tsx
  packages/web/src/components/space/__tests__/WorkflowCanvas.test.tsx
Due: web, e2e-matrix

fix(canvas): stop clearing gateDataMap on every refetch to stabilize gate icons
  packages/e2e/tests/features/reviewer-feedback-loop.e2e.ts
  packages/web/src/components/space/WorkflowCanvas.tsx
Due: web, e2e-matrix

fix(canvas): disable pointer-events on visible channel paths to prevent click interception
  packages/web/src/components/space/WorkflowCanvas.tsx
Due: web, e2e-matrix

fix(gate): skip channel routing in test-only writeGateData to prevent cyclic reset
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/e2e/tests/features/reviewer-feedback-loop.e2e.ts
Due: daemon

docs(e2e): fix timeout comment in approval-gate test to match actual 30s timeouts
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
Due: none

fix(canvas): guard fetchGateData effect on isConnected to prevent double-fetch
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/web/src/components/space/WorkflowCanvas.tsx
Due: daemon, web, e2e-matrix

test: verify SpaceTaskUnifiedThread multi-agent rendering with color differentiation (#1350)
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/__tests__/space-task-thread-agent-colors.test.ts
  packages/web/src/components/space/__tests__/space-task-thread-events.test.ts
  packages/web/src/components/space/thread/space-task-thread-agent-colors.ts
Due: web, e2e-matrix

feat: add TaskArtifactsPanel to task view (#1352)
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskArtifactsPanel.tsx
  packages/web/src/components/space/__tests__/TaskArtifactsPanel.test.tsx
  packages/web/src/components/space/index.ts
Due: web, e2e-matrix

test(space): add missing tests for user-to-task-agent messaging flow
  packages/daemon/tests/unit/rpc-handlers/space-task-message-handlers.test.ts
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: none

fix(e2e): fix E2E UI regression tests for agent-centric workflow
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/e2e/tests/features/reviewer-feedback-loop.e2e.ts
  packages/e2e/tests/features/space-agent-centric-workflow.e2e.ts
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
  packages/e2e/tests/features/space-context-panel-switching.e2e.ts
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
  packages/e2e/tests/features/visual-workflow-editor.e2e.ts
  packages/e2e/tests/settings/mcp-servers.e2e.ts
  packages/web/src/components/space/WorkflowCanvas.tsx
  packages/web/src/components/space/__tests__/WorkflowCanvas.test.tsx
Due: daemon, web, e2e-matrix

fix(e2e): scope space-agent-chat textarea selector to chat-container (#1355)
  packages/e2e/tests/features/space-agent-chat.e2e.ts
  packages/web/src/islands/ChatContainer.tsx
Due: web, e2e-matrix

fix(e2e): add explicit timeout and lock viewport in neo-conversation UI mechanics
  packages/e2e/tests/features/neo-conversation.e2e.ts
Due: none

fix(e2e): apply neo-panel timing fixes to neo-conversation.e2e.ts
  packages/e2e/tests/features/neo-conversation.e2e.ts
  packages/e2e/tests/helpers/neo-helpers.ts
Due: none

test: add unit tests for AgentOverlayChat component
  packages/web/src/components/space/__tests__/AgentOverlayChat.test.tsx
Due: none

feat: implement agent overlay chat panel (slide-over) for space sessions
  packages/web/src/components/space/AgentOverlayChat.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

test(e2e): add artifacts side panel E2E test (M7.4)
  packages/e2e/tests/features/space-artifacts-panel.e2e.ts
Due: none

fix(e2e): apply neo-panel timing fixes to neo-conversation.e2e.ts (#1357)
  packages/e2e/tests/features/neo-conversation.e2e.ts
  packages/e2e/tests/helpers/neo-helpers.ts
Due: none

fix(e2e): address review feedback on artifacts panel tests
  packages/e2e/tests/features/space-artifacts-panel.e2e.ts
Due: none

fix(e2e): avoid assistant-response assertions in mock message-flow tests (#1343)
  packages/e2e/tests/core/message-flow.e2e.ts
Due: none

test(space-runtime): add crash recovery and rehydration unit tests (#1340)
  packages/daemon/tests/unit/space/space-runtime-rehydration.test.ts
Due: none

feat: add full manual task status control UI
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskStatusActions.tsx
  packages/web/src/components/space/__tests__/TaskStatusActions.test.tsx
Due: web, e2e-matrix

feat: expand task status transitions for manual control
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/tests/unit/lib/space-task-manager.test.ts
  packages/web/src/components/space/TaskStatusActions.tsx
  packages/web/src/components/space/__tests__/TaskStatusActions.test.tsx
Due: daemon, web, e2e-matrix

test(space): fix tautological getMessages test and tighten emit count
  packages/daemon/tests/unit/rpc-handlers/space-task-message-handlers.test.ts
Due: none

feat: add full manual task status control UI (#1329)
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/tests/unit/lib/space-task-manager.test.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskStatusActions.tsx
  packages/web/src/components/space/__tests__/TaskStatusActions.test.tsx
Due: daemon, web, e2e-matrix

ci: suppress Node.js 20 deprecation warning in GitHub Actions
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

test(space): verify user-to-task-agent messaging flow (#1360)
  packages/daemon/tests/unit/rpc-handlers/space-task-message-handlers.test.ts
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: none

fix: address review feedback on AgentOverlayChat
  packages/web/src/components/space/AgentOverlayChat.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

test(e2e): add blocked task display and manual status control tests
  packages/e2e/tests/features/space-task-status-control.e2e.ts
  packages/e2e/tests/helpers/space-helpers.ts
Due: none

fix: correct agentName prop in overview branch and assert agent name signal in test
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/islands/SpaceIsland.tsx
Due: web, e2e-matrix

ci: upgrade GitHub Actions to Node.js 24 native versions
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

test(e2e): add blocked task display and manual status control tests (#1364)
  packages/e2e/tests/features/space-task-status-control.e2e.ts
  packages/e2e/tests/helpers/space-helpers.ts
Due: none

test(e2e): artifacts side panel E2E test (M7.4) (#1362)
  packages/e2e/tests/features/space-artifacts-panel.e2e.ts
Due: none

feat: implement agent overlay chat panel for space sessions (#1361)
  packages/web/src/components/space/AgentOverlayChat.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/AgentOverlayChat.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

feat(space): implement @mention routing in space.task.sendMessage
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/space-task-message-handlers.test.ts
Due: daemon
