Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix(gemini): release discovery session in finally, sync bridge models
  packages/daemon/src/lib/providers/gemini/gemini-provider.ts
Due: daemon

fix(gemini): filter discovery to routable model IDs only
  packages/daemon/src/lib/providers/gemini/model-discovery.ts
  packages/daemon/tests/unit/1-core/providers/gemini-discovery.test.ts
Due: daemon

refactor: address round 9 review — scope filter, migration precision, index alignment, missing-table warning
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-122_test.ts
Due: daemon

fix(gemini): address 7 P2 review findings
  packages/daemon/src/lib/providers/gemini/format-converter.ts
  packages/daemon/src/lib/providers/gemini/gemini-provider.ts
  packages/daemon/src/lib/providers/gemini/model-discovery.ts
  packages/daemon/tests/unit/1-core/providers/gemini-discovery.test.ts
  packages/daemon/tests/unit/1-core/providers/gemini-format-converter.test.ts
Due: daemon

Replace task_thread_messages projection with derived columns (#1823)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/storage/repositories/node-execution-repository.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/repositories/space-agent-repository.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-122_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/sdk-message-repository-helpers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/sdk-message-repository.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-orphan-question.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/web/src/hooks/__tests__/useTurnBlocks.test.ts
  packages/web/src/lib/parse-group-message.ts
Due: daemon, web, e2e-matrix

fix(gemini): bridge/provider model sync, discovery resilience, cache behavior
  packages/daemon/src/lib/providers/gemini/bridge-server.ts
  packages/daemon/src/lib/providers/gemini/gemini-provider.ts
  packages/daemon/tests/unit/1-core/providers/gemini-provider.test.ts
Due: daemon

fix(gemini): keep clearModelCache sync, release session on discovery success
  packages/daemon/src/lib/providers/gemini/gemini-provider.ts
Due: daemon

fix(gemini): address 6 additional P2 review findings
  packages/daemon/src/lib/providers/gemini/gemini-provider.ts
  packages/daemon/src/lib/providers/gemini/model-discovery.ts
  packages/daemon/tests/unit/1-core/providers/gemini-discovery.test.ts
Due: daemon

fix(gemini): whitelist JSON Schema keywords in tool definitions (#1818)
  packages/daemon/src/lib/providers/gemini/bridge-server.ts
  packages/daemon/src/lib/providers/gemini/format-converter.ts
  packages/daemon/src/lib/providers/gemini/gemini-provider.ts
  packages/daemon/src/lib/providers/gemini/index.ts
  packages/daemon/src/lib/providers/gemini/model-discovery.ts
  packages/daemon/tests/unit/1-core/providers/gemini-discovery.test.ts
  packages/daemon/tests/unit/1-core/providers/gemini-format-converter.test.ts
  packages/daemon/tests/unit/1-core/providers/gemini-provider.test.ts
Due: daemon

fix: add external event tables to scope-config excluded list
  packages/daemon/src/lib/db-query/scope-config.ts
Due: daemon

fix: address round-3 review feedback on validation and state machine
  packages/daemon/src/lib/external-events/external-event-store.ts
  packages/daemon/src/lib/external-events/topic-validator.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-store.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/topic-validator.test.ts
Due: daemon

feat: implement ExternalEvent schema and store (#1821)
  knip.json
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/external-events/external-event-store.ts
  packages/daemon/src/lib/external-events/index.ts
  packages/daemon/src/lib/external-events/topic-validator.ts
  packages/daemon/src/lib/external-events/types.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-store.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/topic-validator.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
Due: daemon

fix: scope task live-query invalidation
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/storage/reactive-database.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/scoped-invalidation.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/hooks/__tests__/useSpaceTaskMessages.test.ts
  packages/web/src/hooks/useSpaceTaskMessages.ts
Due: daemon, web, e2e-matrix

docs: refresh stale comments after live-query scope changes
  packages/daemon/src/storage/reactive-database.ts
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: daemon, web, e2e-matrix

fix: scope task live-query invalidation to reduce daemon CPU (#1826)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/storage/reactive-database.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/scoped-invalidation.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
  packages/web/src/hooks/__tests__/useSpaceTaskMessages.test.ts
  packages/web/src/hooks/useSpaceTaskMessages.ts
Due: daemon, web, e2e-matrix

refactor(gemini): use string literals for FunctionCallingConfigMode
  packages/daemon/src/lib/providers/gemini/gemini-api-key-provider.ts
Due: daemon

fix(gemini): abort SSE termination after stream errors
  packages/daemon/src/lib/providers/gemini/gemini-api-key-provider.ts
Due: daemon

feat(gemini): add API key provider, disable broken discovery, fix token refresh
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/lib/providers/factory.ts
  packages/daemon/src/lib/providers/gemini/gemini-api-key-provider.ts
  packages/daemon/src/lib/providers/gemini/gemini-provider.ts
  packages/daemon/src/lib/providers/gemini/index.ts
  packages/daemon/src/lib/providers/gemini/model-discovery.ts
  packages/daemon/src/lib/providers/gemini/oauth-client.ts
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/tests/unit/1-core/providers/gemini-api-key-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/gemini-discovery.test.ts
  packages/daemon/tests/unit/1-core/providers/gemini-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/provider-registry.test.ts
  packages/shared/src/types.ts
Due: daemon

test(registry): add tests for google-gemini routing preference and gemma- IDs
  packages/daemon/tests/unit/1-core/providers/provider-registry.test.ts
Due: none

fix(gemini): address review feedback — bridge recreation, vision, auth, routing
  packages/daemon/src/lib/providers/gemini/gemini-api-key-provider.ts
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/tests/unit/1-core/providers/gemini-api-key-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/provider-registry.test.ts
Due: daemon

fix: address review feedback on Gemini API key provider
  packages/daemon/src/lib/providers/gemini/gemini-api-key-provider.ts
  packages/daemon/tests/unit/1-core/providers/gemini-api-key-provider.test.ts
Due: daemon

feat: add Antigravity OAuth provider for Gemini 3, Claude, GPT-OSS
  packages/daemon/src/lib/providers/factory.ts
  packages/daemon/src/lib/providers/gemini/antigravity-provider.ts
  packages/daemon/src/lib/providers/gemini/format-converter.ts
  packages/daemon/src/lib/providers/gemini/index.ts
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/tests/unit/1-core/providers/antigravity-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/provider-registry.test.ts
  packages/shared/src/types.ts
Due: daemon

fix: address all review feedback on Antigravity provider
  knip.json
  packages/daemon/src/lib/providers/gemini/antigravity-provider.ts
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/tests/unit/1-core/providers/antigravity-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/provider-registry.test.ts
Due: daemon

fix: credential lifecycle bugs in Antigravity provider
  packages/daemon/src/lib/providers/gemini/antigravity-provider.ts
  packages/daemon/tests/unit/1-core/providers/antigravity-provider.test.ts
Due: daemon

fix: round 7 review feedback — routing, credential init, error classification
  packages/daemon/src/lib/providers/gemini/antigravity-provider.ts
  packages/daemon/src/lib/providers/gemini/gemini-api-key-provider.ts
  packages/daemon/src/lib/providers/registry.ts
Due: daemon

fix: stop session.messages.byStatus polling when agent is idle
  packages/web/src/components/MessageInput.tsx
Due: web, e2e-matrix

feat: add GLM-5V-Turbo model to GLM/Zhipu provider
  packages/daemon/src/lib/providers/glm-provider.ts
  packages/daemon/tests/unit/1-core/providers/glm-provider.test.ts
Due: daemon

fix: remove broken queued-messages polling from MessageInput
  packages/web/src/components/ChatComposer.tsx
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/MessageInput.tsx
Due: web, e2e-matrix

fix: reduce idle live-query and file-index churn
  packages/daemon/src/lib/file-index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/storage/reactive-database.ts
  packages/web/src/components/__tests__/MessageInput.queue-mode.test.tsx
Due: daemon

feat: add GLM-5V-Turbo model to GLM/Zhipu provider (#1827)
  packages/daemon/src/lib/providers/glm-provider.ts
  packages/daemon/tests/unit/1-core/providers/glm-provider.test.ts
Due: daemon

test: align scope and ChatComposer tests with idle-perf changes
  packages/daemon/tests/unit/4-space-storage/storage/scoped-invalidation.test.ts
  packages/web/src/components/__tests__/ChatComposer.test.tsx
Due: none

fix: address review feedback on idle-perf scope filters and dead code
  packages/daemon/src/lib/file-index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/web/src/components/MessageInput.tsx
  packages/web/src/lib/__tests__/layout-metrics.test.ts
  packages/web/src/lib/layout-metrics.ts
Due: daemon, web, e2e-matrix

fix: reduce idle web/daemon churn (live-query, polling, file-index) (#1830)
  packages/daemon/src/lib/file-index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/storage/reactive-database.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/scoped-invalidation.test.ts
  packages/web/src/components/ChatComposer.tsx
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/__tests__/ChatComposer.test.tsx
  packages/web/src/components/__tests__/MessageInput.queue-mode.test.tsx
  packages/web/src/lib/__tests__/layout-metrics.test.ts
  packages/web/src/lib/layout-metrics.ts
Due: daemon, web, e2e-matrix

fix: thread image uploads through space task message pipeline
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/web/src/components/space/AgentOverlayChat.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskSessionChatComposer.tsx
  packages/web/src/components/space/__tests__/AgentOverlayChat.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.mention.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix: validate task-thread images and preserve attachments on send failure
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/session/message-persistence.test.ts
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/space/__tests__/AgentOverlayChat.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.images.test.tsx
  packages/web/src/components/space/__tests__/TaskSessionChatComposer.test.tsx
  packages/web/src/hooks/__tests__/useFileAttachments.test.ts
  packages/web/src/hooks/useChatBase.ts
  packages/web/src/hooks/useFileAttachments.ts
Due: daemon, web, e2e-matrix

test: update ChatContainerSendOverride to assert image forwarding
  packages/web/src/islands/__tests__/ChatContainerSendOverride.test.ts
Due: none

fix: thread image uploads through space task message pipeline (#1829)
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/session/message-persistence.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/space/AgentOverlayChat.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskSessionChatComposer.tsx
  packages/web/src/components/space/__tests__/AgentOverlayChat.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.images.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.mention.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/TaskSessionChatComposer.test.tsx
  packages/web/src/hooks/__tests__/useFileAttachments.test.ts
  packages/web/src/hooks/useChatBase.ts
  packages/web/src/hooks/useFileAttachments.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/__tests__/ChatContainerSendOverride.test.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix: plan & decompose workflow runtime, gate, and prompt issues
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/other/channel-router.test.ts
Due: daemon

fix: clarify expected gate-blocked response in reviewer prompt
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
Due: daemon

fix: add explicit send_message handoff to planner Steps section
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
