Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

test(online): add cross-provider model switching tests (minimax <-> glm) (#930)
  .github/workflows/main.yml
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

refactor(daemon): remove auto-recovery logic from query-runner
  packages/daemon/.env.example
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/unit/agent/query-runner.test.ts
Due: daemon

feat(room): add getCurrentModel() to SessionFactory interface (DB-first)
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
Due: daemon

fix(daemon): address review feedback on SkillRepository and SkillsManager
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/src/storage/repositories/skill-repository.ts
  packages/daemon/tests/unit/skills-manager.test.ts
Due: daemon

docs(room): clarify why clearRateLimit is intentionally skipped in recoverStuckWorkers
  packages/daemon/src/lib/room/runtime/room-runtime.ts
Due: daemon

test(room): add online test verifying planner WebSearch capability (#task-63)
  .devproxy/mocks.json
  packages/daemon/tests/online/room/planner-websearch.test.ts
Due: none

ci: add planner-websearch.test.ts to room matrix validator
  scripts/validate-online-test-matrix.sh
Due: none

fix(room): clear task restriction on stuck worker recovery after rate limit expiry (#935)
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-rate-limit-persistence.test.ts
Due: daemon

feat(daemon): SkillRepository (SQLite) and SkillsManager (#934)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/skill-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/skills-manager.test.ts
Due: daemon

feat(daemon): add Skills RPC handlers for CRUD operations
  packages/daemon/src/app.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/skill-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/skill-handlers.test.ts
  packages/shared/src/api.ts
Due: daemon

feat(daemon): SKILL_VALIDATE job queue for async skill validation
  packages/daemon/src/app.ts
  packages/daemon/src/lib/job-handlers/skill-validate.handler.ts
  packages/daemon/src/lib/job-queue-constants.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/job-handlers/skill-validate.handler.test.ts
Due: daemon

test(online): add system:init model observation test for Bug 2 investigation
  packages/daemon/tests/online/rpc/rpc-model-switching.test.ts
Due: none

investigate(bug2): add real-credentials model switch investigation script
  packages/daemon/tests/online/rpc/bug2-model-switch-investigation.ts
Due: none

fix(test): address P2 review issues in Bug 2 investigation
  packages/daemon/tests/online/rpc/bug2-model-switch-investigation.ts
  packages/daemon/tests/online/rpc/rpc-model-switching.test.ts
Due: none

feat(daemon): add Skills RPC handlers for CRUD operations (#939)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/skill-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/skill-handlers.test.ts
  packages/shared/src/api.ts
Due: daemon

feat(daemon): room-level skill enablement persistence (room_skill_overrides table)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/room-skill-override-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-handlers.test.ts
  packages/daemon/tests/unit/storage/room-skill-override-repository.test.ts
  packages/shared/src/api.ts
  packages/shared/src/types/skills.ts
Due: daemon

fix(daemon): address skill validation review feedback
  packages/daemon/src/lib/job-handlers/skill-validate.handler.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/job-handlers/skill-validate.handler.test.ts
Due: daemon

test(daemon): assert conversation continuity after model switching
  packages/daemon/tests/online/cross-provider/conversation-continuity-after-switch.test.ts
  packages/daemon/tests/unit/agent/model-switch-session-continuity.test.ts
Due: none

feat(daemon): add skills.list LiveQuery named query and reactive notifications tests
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-skills.test.ts
Due: daemon

feat(daemon): SKILL_VALIDATE job queue for async skill validation (#940)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/job-handlers/skill-validate.handler.ts
  packages/daemon/src/lib/job-queue-constants.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/job-handlers/skill-validate.handler.test.ts
Due: daemon

fix(daemon): add migration 58 for room_skill_overrides table
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

fix(test): make conversation continuity test structural instead of LLM-dependent
  packages/daemon/tests/online/cross-provider/conversation-continuity-after-switch.test.ts
Due: none

feat(daemon): add skills.list LiveQuery named query and reactive notifications tests (#943)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-skills.test.ts
Due: daemon

feat(daemon): inject skills into QueryOptionsBuilder for SDK sessions
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
Due: daemon

feat(daemon): room-level skill enablement persistence (room_skill_overrides table) (#941)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/room-skill-override-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-handlers.test.ts
  packages/daemon/tests/unit/storage/room-skill-override-repository.test.ts
  packages/shared/src/api.ts
  packages/shared/src/types/skills.ts
Due: daemon

fix(test): handle SDK MessageParam content array in history check
  packages/daemon/tests/online/cross-provider/conversation-continuity-after-switch.test.ts
Due: none

feat(web): global Skills LiveQuery store and hook
  packages/web/src/hooks/useSkills.ts
  packages/web/src/lib/skills-store.test.ts
  packages/web/src/lib/skills-store.ts
Due: web, e2e-matrix

refactor(space): complete step-agent → node-agent rename across codebase
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/unit/space/agent-completion.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
  packages/daemon/tests/unit/space/node-agent-tools.test.ts
  packages/daemon/tests/unit/space/send-message-unified.test.ts
  packages/daemon/tests/unit/space/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
  packages/daemon/tests/unit/space/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
  packages/daemon/tests/unit/space/task-agent.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
Due: daemon, web, e2e-matrix

feat(daemon): inject skills into QueryOptionsBuilder for SDK sessions (#944)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
Due: daemon

test(daemon): assert conversation continuity after model switching (#942)
  packages/daemon/tests/online/cross-provider/conversation-continuity-after-switch.test.ts
  packages/daemon/tests/unit/agent/model-switch-session-continuity.test.ts
Due: none

feat(web): room skills LiveQuery store and hook (Task 4.1)
  packages/web/src/hooks/__tests__/index.test.ts
  packages/web/src/hooks/__tests__/useRoomSkills.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useRoomSkills.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

docs: add recurring plan for keeping package dependencies up to date
  docs/plans/keep-package-dependencies-up-to-date.md
Due: none

feat(web): global Skills LiveQuery store and hook (#945)
  packages/web/src/hooks/useSkills.ts
  packages/web/src/lib/skills-store.test.ts
  packages/web/src/lib/skills-store.ts
Due: web, e2e-matrix

feat(skills): register built-in web-search-mcp skill via Brave Search MCP
  docs/architecture/web-search-mcp.md
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/skills-manager.test.ts
Due: daemon

test(room): address P2 review feedback on planner-websearch test
  packages/daemon/tests/online/room/planner-websearch.test.ts
Due: none

feat(web): room skills LiveQuery store and hook (Task 4.1) (#947)
  packages/web/src/hooks/__tests__/index.test.ts
  packages/web/src/hooks/__tests__/useRoomSkills.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useRoomSkills.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

docs(plan): address review feedback on dependency update plan
  docs/plans/keep-package-dependencies-up-to-date.md
Due: none

fix(test): update devproxy mock responses for node-agent rename
  .devproxy/mocks.json
Due: none

test(room): online test for planner WebSearch capability (#938)
  .devproxy/mocks.json
  packages/daemon/tests/online/room/planner-websearch.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

fix(test): replace false-positive history check with sdkSessionId DB assertion
  packages/daemon/tests/online/cross-provider/conversation-continuity-after-switch.test.ts
Due: none
