Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix(e2e): update channel form testids for workflow-level channels (#1000)
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
Due: none

fix(web): use synchronous setTimeout reset for guard ref to avoid fast-double-click race
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
Due: web, e2e-matrix

fix: address all P1/P2 review feedback from both reviewers
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/01-gate-data-store.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/02-enhanced-node-agent-prompts.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/03-extended-coding-workflow.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/04-worktree-isolation.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/05-qa-agent-node.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/06-human-gate-canvas-ui.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/07-online-integration-test.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/08-e2e-test.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/09-bug-fixes-and-hardening.md
Due: none

feat: add no_pr bypass to leader complete_task
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/tests/unit/room/room-runtime-leader-tools.test.ts
Due: daemon

fix: address final P2 consistency issues from reviewers
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/01-gate-data-store.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/05-qa-agent-node.md
Due: none

fix: prevent addStep double-invocation and update agent-centric workflow tests (#1007)
  packages/e2e/tests/features/space-agent-centric-workflow.e2e.ts
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
Due: web, e2e-matrix

fix(tests): complete SDK mock and fix flaky goal-manager test
  packages/daemon/tests/unit/providers/anthropic-provider.test.ts
  packages/daemon/tests/unit/room/goal-manager.test.ts
  packages/daemon/tests/unit/session/session-lifecycle-sdk-title.test.ts
Due: none

fix(e2e): use draft status for task creation in E2E tests
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/e2e/tests/features/livequery-task-goal-updates.e2e.ts
  packages/e2e/tests/features/short-id-display.e2e.ts
  packages/e2e/tests/features/task-goal-indicator.e2e.ts
  packages/e2e/tests/helpers/room-helpers.ts
Due: daemon

fix: add exception safety for no_pr approvalSource rollback
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-leader-tools.test.ts
Due: daemon

fix(e2e): replace broken hasNot filter with CSS :not() selector
  packages/e2e/tests/features/space-agent-centric-workflow.e2e.ts
Due: none

fix(e2e): fix mobile panel detection and tab navigation
  packages/e2e/tests/helpers/mobile-helpers.ts
  packages/e2e/tests/responsive/mobile.e2e.ts
Due: none

fix: fix setStartStepId called in outer setNodes scope causing stale-closure
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
Due: web, e2e-matrix

fix: handle synthetic room:chat: session ID in reference search
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
  packages/daemon/tests/unit/reference-handlers.test.ts
Due: daemon

fix: address review feedback on reference search and mobile helpers
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
  packages/daemon/tests/unit/reference-handlers.test.ts
  packages/e2e/tests/helpers/mobile-helpers.ts
  packages/e2e/tests/responsive/mobile.e2e.ts
Due: daemon

test: add artifacts-only edge case for no_pr completion
  packages/daemon/tests/unit/room/room-runtime-leader-tools.test.ts
Due: none

refactor: unify gate design — one Gate entity with composable conditions
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/01-gate-data-store.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/02-enhanced-node-agent-prompts.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/03-extended-coding-workflow.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/05-qa-agent-node.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/09-bug-fixes-and-hardening.md
Due: none

fix: replace legacy gate terminology with unified gate IDs
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/02-enhanced-node-agent-prompts.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/03-extended-coding-workflow.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/05-qa-agent-node.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/06-human-gate-canvas-ui.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/07-online-integration-test.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/08-e2e-test.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/09-bug-fixes-and-hardening.md
Due: none

fix(web): useTaskViewData reads task reactively from roomStore.tasks signal (#990)
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/hooks/__tests__/useTaskViewData.test.ts
  packages/web/src/hooks/useTaskViewData.ts
  packages/web/src/lib/__tests__/room-store-computed-signals.test.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

fix: E2E test failures — draft tasks, selectors, reference search (#1011)
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/providers/anthropic-provider.test.ts
  packages/daemon/tests/unit/reference-handlers.test.ts
  packages/daemon/tests/unit/room/goal-manager.test.ts
  packages/daemon/tests/unit/session/session-lifecycle-sdk-title.test.ts
  packages/e2e/tests/features/livequery-task-goal-updates.e2e.ts
  packages/e2e/tests/features/short-id-display.e2e.ts
  packages/e2e/tests/features/space-agent-centric-workflow.e2e.ts
  packages/e2e/tests/features/task-goal-indicator.e2e.ts
  packages/e2e/tests/helpers/mobile-helpers.ts
  packages/e2e/tests/helpers/room-helpers.ts
  packages/e2e/tests/responsive/mobile.e2e.ts
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
Due: daemon, web, e2e-matrix

feat(web): implement EntityStore<T> generic class
  packages/web/src/lib/__tests__/entity-store.test.ts
  packages/web/src/lib/entity-store.ts
Due: web, e2e-matrix

feat: add composite gate conditions (all/any) and task-title worktree naming
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/01-gate-data-store.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/03-extended-coding-workflow.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/04-worktree-isolation.md
Due: none

fix: update stale "three condition types" references to five
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/01-gate-data-store.md
Due: none

feat: separate channels and gates, add bidirectional comms and structured send_message
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/01-gate-data-store.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/03-extended-coding-workflow.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/06-human-gate-canvas-ui.md
Due: none

fix(copilot): include all four usage fields in SSE events to prevent SDK crash
  packages/daemon/src/lib/providers/anthropic-copilot/sse.ts
Due: daemon

style: fix biome formatting in sse.ts
  packages/daemon/src/lib/providers/anthropic-copilot/sse.ts
Due: daemon

fix: remove channelId from Gate, specify migration paths, define mode switching
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/01-gate-data-store.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/03-extended-coding-workflow.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/06-human-gate-canvas-ui.md
Due: none

ci: disable copilot bridge tests (credential issue)
  .github/workflows/main.yml
Due: none

feat: add no_pr bypass to leader complete_task (#1012)
  .github/workflows/main.yml
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/tests/unit/room/room-runtime-leader-tools.test.ts
Due: daemon

feat: add numeric task IDs and space slugs to data model
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/01-gate-data-store.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/04-worktree-isolation.md
Due: none

fix: address review feedback — close race at source, add retry to both routes
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/agent/query-lifecycle-manager.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

fix: detect stale messageQueue state and retry worker-to-leader routing
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/agent/query-lifecycle-manager.test.ts
  packages/daemon/tests/unit/agent/query-runner.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

docs: document no_pr and artifacts in leader system prompt
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
Due: daemon

test: add edge case tests for complete_task(no_pr)
  packages/daemon/tests/unit/room/room-runtime-leader-tools.test.ts
Due: none

fix: use optional chaining in injectMessage debug log for messageQueue.isRunning
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
Due: daemon

fix: resolve P1/P2 issues from iteration 17 review
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/01-gate-data-store.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/04-worktree-isolation.md
Due: none

fix: address PR review — update completeTask mock and strengthen test assertions
  packages/daemon/tests/unit/room/leader-agent.test.ts
Due: none

test: add missing assertions per review feedback
  packages/daemon/tests/unit/room/room-runtime-leader-tools.test.ts
Due: none

docs: document no_pr and artifacts in leader system prompt (#1015)
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
Due: daemon

fix(copilot): add stop_sequence and null-guard missing usage in SDK result
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/providers/anthropic-copilot/sse.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
