Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix: remove process.env mutation from mergeProviderEnvVars tests
  packages/daemon/tests/unit/1-core/core/provider-service.test.ts
Due: none

fix: use generic assertion for mergeProviderEnvVars empty test
  packages/daemon/tests/unit/1-core/core/provider-service.test.ts
Due: none

fix: remove process.env content dependency from mergeProviderEnvVars test
  packages/daemon/tests/unit/1-core/core/provider-service.test.ts
Due: none

feat: add runtime anti-stuck recovery (#1891)
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/internal-event-bus.ts
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/runtime/constants.ts
  packages/daemon/src/lib/space/runtime/resolve-node-timeout.ts
  packages/daemon/src/lib/space/runtime/space-agent-notification-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/agent/ask-user-question-handler.test.ts
  packages/daemon/tests/unit/1-core/agent/event-subscription-setup.test.ts
  packages/daemon/tests/unit/1-core/agent/model-switch-handler.test.ts
  packages/daemon/tests/unit/1-core/agent/query-mode-handler.test.ts
  packages/daemon/tests/unit/1-core/agent/rewind-handler.test.ts
  packages/daemon/tests/unit/1-core/agent/sdk-message-handler.test.ts
  packages/daemon/tests/unit/1-core/agent/sdk-runtime-config.test.ts
  packages/daemon/tests/unit/1-core/agent/slash-command-manager.test.ts
  packages/daemon/tests/unit/1-core/core/provider-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-122_test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/other/space-agent-notification-service.test.ts
  packages/daemon/tests/unit/5-space/runtime/resolve-node-timeout.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-edge-cases.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-orphan-question.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-tick-loop.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
  packages/shared/src/sdk/sdk.d.ts
  packages/shared/src/types/space.ts
Due: daemon

Update Bun workspace dependencies (#1909)
  bun.lock
  package.json
  packages/cli/package.json
  packages/e2e/package.json
  packages/shared/src/sdk/sdk-tools.d.ts
Due: daemon

chore(release): bump version to 0.24.0
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(release): bump version to 0.24.0 (#1910)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

docs: investigate npm global SDK binary install
  docs/research/npm-global-install-sdk-binary-issue.md
Due: none

docs: add linux container install results
  docs/research/npm-global-install-sdk-binary-issue.md
Due: none

docs: verify SDK binary download in container
  docs/research/npm-global-install-sdk-binary-issue.md
Due: none

feat: warmup SDK binary on daemon startup
  docs/research/npm-global-install-sdk-binary-issue.md
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/sdk-cli-resolver.ts
  packages/daemon/tests/unit/1-core/agent/sdk-cli-resolver.test.ts
Due: daemon

feat: wire GitHub external event extension
  packages/daemon/src/app.ts
  packages/daemon/src/lib/external-events/extension-config-store.ts
  packages/daemon/src/lib/external-events/github/github-event-extension.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-extension.test.ts
Due: daemon

fix: complete GitHub extension capability wiring
  packages/daemon/tests/unit/4-space-storage/storage/external-event-extension.test.ts
Due: none

fix: exclude extension config from agent db scopes
  packages/daemon/src/lib/db-query/scope-config.ts
Due: daemon

fix: defer SDK binary warmup to after server bind
  packages/daemon/src/app.ts
  packages/daemon/tests/unit/1-core/agent/sdk-cli-resolver.test.ts
Due: daemon

fix: align GitHub extension startup wiring
  packages/daemon/src/app.ts
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/external-events/extension-manager.ts
  packages/daemon/src/lib/external-events/github/github-event-extension.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/tests/unit/2-handlers/db-query/scope-config.test.ts
  packages/daemon/tests/unit/2-handlers/github/github-event-extension.test.ts
  packages/daemon/tests/unit/2-handlers/github/space-github.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-extension-config-store.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-extension.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-128_test.ts
Due: daemon

feat(web): add user-facing edit task description mid-flight
  packages/web/src/components/space/EditTaskModal.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/EditTaskModal.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

fix: preserve GitHub extension config semantics
  packages/daemon/src/app.ts
  packages/daemon/src/lib/external-events/extension-config-store.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-extension-config-store.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-128_test.ts
Due: daemon

feat: add 429 retry exhaustion detection and auto-recovery
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/processing-state-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/agent/rate-limit-watchdog.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/agent/rate-limit-watchdog.test.ts
  packages/shared/src/state-types.ts
  packages/web/src/components/sdk/RateLimitCooldownBanner.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/api-helpers.ts
Due: daemon, web, e2e-matrix

fix: preserve GitHub extension overrides
  packages/daemon/src/app.ts
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/db-query/scope-config.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-128_test.ts
Due: daemon

fix: persist GitHub extension space config
  packages/daemon/src/lib/external-events/github/github-event-extension.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-extension.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-128_test.ts
Due: daemon

fix: guard resolveSDKCliPath against concurrent warmup
  packages/daemon/src/lib/agent/sdk-cli-resolver.ts
Due: daemon

fix: trim GitHub extension test-only hooks
  packages/daemon/src/lib/external-events/github/github-event-extension.ts
  packages/daemon/src/lib/external-events/github/index.ts
  packages/daemon/tests/unit/2-handlers/github/github-event-extension.test.ts
Due: daemon

fix(web): address review feedback for edit-task feature
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

feat(web): redesign hook_response card to collapsible style
  packages/web/src/components/sdk/SDKSystemMessage.tsx
  packages/web/src/components/sdk/__tests__/SDKSystemMessage.test.tsx
Due: web, e2e-matrix

fix: add TTL-based negative cache expiry for SDK binary resolution
  packages/daemon/src/lib/agent/sdk-cli-resolver.ts
  packages/daemon/tests/unit/1-core/agent/sdk-cli-resolver.test.ts
Due: daemon

fix: register node-agent MCP tools in eager-spawn workflow sessions (#1913)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
Due: daemon

fix: preserve legacy GitHub polling behavior
  packages/daemon/src/lib/external-events/github/github-event-extension.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-extension.test.ts
Due: daemon

fix: address review feedback for 429 auto-retry feature
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/processing-state-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/agent/rate-limit-watchdog.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/agent/rate-limit-watchdog.test.ts
  packages/shared/src/state-types.ts
  packages/web/src/components/sdk/RateLimitCooldownBanner.tsx
Due: daemon, web, e2e-matrix

fix(space): node-agent MCP tools not visible in eager-spawn Coder sessions
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
Due: daemon

fix(space): force-load workflow MCP tools so agents can see them
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
Due: daemon

fix(space): stop custom agent definition from hiding MCP tools
  packages/daemon/src/lib/space/agents/custom-agent.ts
Due: daemon

test(space): update custom agent tests for tools→disallowedTools
  packages/daemon/tests/unit/5-space/agent/agent-config.test.ts
  packages/daemon/tests/unit/5-space/agent/custom-agent.test.ts
Due: none

test(storage): raise migration-94 hook timeout to fix CI flake
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-94_test.ts
Due: none

revert: drop speculative MCP-attachment changes (wrong diagnosis)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
Due: daemon

fix: register node-agent MCP tools in eager-spawn workflow sessions (#1917)
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-94_test.ts
  packages/daemon/tests/unit/5-space/agent/agent-config.test.ts
  packages/daemon/tests/unit/5-space/agent/custom-agent.test.ts
Due: daemon

fix: expose workflow MCP tools to node agents
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
Due: daemon

fix: revert negative cache TTL, fix doc CLI flag
  docs/research/npm-global-install-sdk-binary-issue.md
  packages/daemon/src/lib/agent/sdk-cli-resolver.ts
  packages/daemon/tests/unit/1-core/agent/sdk-cli-resolver.test.ts
Due: daemon

fix(web): prevent no-op saves and close edit modal on terminal transition
  packages/web/src/components/space/EditTaskModal.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/EditTaskModal.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

fix: harden 429 detection and propagate cooldown status to space projections
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/agent/rate-limit-watchdog.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
Due: daemon
