Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

space task thread: make compact mode channel-style
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadEventFeed.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadEventRow.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
Due: web, e2e-matrix

space task thread: add compact and roster feed modes
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadEventFeed.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadEventRow.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadModeToggle.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadVerboseFeed.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
Due: web, e2e-matrix

space task pane: align task view background with session surface
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: web, e2e-matrix

space task thread: match compact assistant bubbles to chat style
  packages/web/src/components/space/thread/SpaceTaskThreadEventRow.tsx
Due: web, e2e-matrix

space task thread: align compact feed with verbose chat language
  packages/web/src/components/space/thread/SpaceTaskThreadEventFeed.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadEventRow.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadMessageActions.tsx
Due: web, e2e-matrix

space task thread: hide allowed rate-limit events in compact feed
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
Due: web, e2e-matrix

space task thread: refine compact thinking and tool rows
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadEventRow.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
Due: web, e2e-matrix

space task thread: render compact assistant text with verbose style
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadEventRow.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
Due: web, e2e-matrix

space task thread: stabilize compact agent activity stream
  packages/web/src/components/space/thread/SpaceTaskThreadEventFeed.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadEventRow.tsx
  packages/web/src/components/space/thread/space-task-thread-agent-colors.ts
  packages/web/src/components/space/thread/space-task-thread-events.ts
Due: web, e2e-matrix

space task thread: remove roster mode
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadEventFeed.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadModeToggle.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
Due: web, e2e-matrix

space task thread: add side rail to compact assistant rows
  packages/web/src/components/space/thread/SpaceTaskThreadEventRow.tsx
Due: web, e2e-matrix

fix(web): enable channel drag creation and edge gate editing
  packages/web/src/components/space/visual-editor/ChannelEdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
Due: web, e2e-matrix

Fix workflow canvas channel rendering in Chrome
  packages/web/src/components/space/visual-editor/VisualCanvas.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualCanvas.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/nodeMetrics.test.ts
  packages/web/src/components/space/visual-editor/nodeMetrics.ts
Due: web, e2e-matrix

Refine workflow canvas edge routing
  bun.lock
  packages/web/package.json
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/ReactFlowWorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/ReactFlowWorkflowCanvasRoot.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/semanticWorkflowGraph.test.ts
  packages/web/src/components/space/visual-editor/semanticWorkflowGraph.ts
Due: web, e2e-matrix

Move workflow channel editing into side panels
  packages/web/src/components/space/visual-editor/ChannelEdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/ChannelRelationConfigPanel.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/semanticWorkflowGraph.test.ts
  packages/web/src/components/space/visual-editor/semanticWorkflowGraph.ts
Due: web, e2e-matrix

Improve workflow canvas pan and channel styling
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/VisualCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualCanvas.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
Due: web, e2e-matrix

Refine workflow channel relation editing
  packages/web/src/components/space/visual-editor/ChannelEdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/ChannelRelationConfigPanel.tsx
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/GateConfig.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowCanvas.test.tsx
Due: web, e2e-matrix

Refine workflow canvas semantics and layout
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/layout.test.ts
  packages/web/src/components/space/visual-editor/__tests__/semanticWorkflowGraph.test.ts
  packages/web/src/components/space/visual-editor/layout.ts
  packages/web/src/components/space/visual-editor/semanticWorkflowGraph.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: web, e2e-matrix

Remove React Flow workflow canvas prototype
  bun.lock
  packages/web/package.json
  packages/web/src/components/space/visual-editor/ReactFlowWorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/ReactFlowWorkflowCanvasRoot.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
Due: web, e2e-matrix

Improve workflow template picker flow
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
Due: web, e2e-matrix

Polish workflow canvas channel markers
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
Due: web, e2e-matrix

Simplify workflow node configuration
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/shared/src/types/space-utils.ts
  packages/shared/src/types/space.ts
  packages/shared/tests/space-utils.test.ts
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: daemon, web, e2e-matrix

Unify workflow node panel drill-in views
  packages/shared/src/types/space-utils.ts
  packages/shared/tests/space-utils.test.ts
  packages/web/src/components/space/visual-editor/ChannelRelationConfigPanel.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
Due: daemon, web, e2e-matrix

Refine workflow node editor configuration
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/shared/src/types/space-utils.ts
  packages/shared/src/types/space.ts
  packages/shared/tests/space-utils.test.ts
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/visual-editor/ChannelRelationConfigPanel.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowModelSelect.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: daemon, web, e2e-matrix

Remove hidden Space agent prompt behavior
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/tests/unit/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
  packages/daemon/tests/unit/space/node-agent-tools.test.ts
  packages/daemon/tests/unit/space/seed-agents.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceAgentEditor.tsx
  packages/web/src/components/space/__tests__/SpaceAgentEditor.test.tsx
Due: daemon, web, e2e-matrix

Make workflow prompts explicit and visible
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
Due: daemon, web, e2e-matrix

Restore task agent sessions on demand
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/rpc-handlers/space-task-message-handlers.test.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

Use node-level workflow channels for multi-agent nodes
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/semanticWorkflowGraph.test.ts
Due: daemon, web, e2e-matrix

Update space e2e flow for task-first UI
  packages/e2e/tests/features/space-happy-path-pipeline.e2e.ts
  packages/e2e/tests/helpers/workflow-editor-helpers.ts
Due: none

Polish workflow gate labels and loop indicators
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/GateConfig.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/semanticWorkflowGraph.test.ts
  packages/web/src/components/space/visual-editor/semanticWorkflowGraph.ts
Due: daemon, web, e2e-matrix

Infer cyclic workflow links from graph structure
  packages/web/src/components/space/visual-editor/ChannelEdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/ChannelRelationConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
Due: web, e2e-matrix

Add first-class workflow gate editing to visual editor
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/ChannelEdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/ChannelRelationConfigPanel.tsx
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/semanticWorkflowGraph.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: web, e2e-matrix

refactor: extract cyclicity inference to shared package
  packages/shared/src/lib/workflow-graph.ts
  packages/shared/src/mod.ts
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
Due: daemon, web, e2e-matrix

refactor: replace global iteration counter with per-channel cycle tracking
  packages/daemon/src/storage/repositories/channel-cycle-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/shared/src/types/space-utils.ts
  packages/shared/src/types/space.ts
Due: daemon

refactor: remove isCyclic field, use maxCycles and topology inference
  docs/plans/per-channel-cycle-tracking/plan.md
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/channel-resolution.test.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/web/src/components/space/ChannelEditor.tsx
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/__tests__/ChannelEditor.test.tsx
  packages/web/src/components/space/visual-editor/ChannelEdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/layout.test.ts
  packages/web/src/components/space/visual-editor/semanticWorkflowGraph.ts
Due: daemon, web, e2e-matrix

refactor: use per-channel cycle tracking in channel router
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
Due: daemon

test: update tests for per-channel cycle tracking refactor
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/space-workflow.test.ts
  packages/daemon/tests/unit/storage/space-workflow-run-repository.test.ts
  packages/shared/src/types/space-utils.ts
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
Due: daemon

chore: sync lockfile after rebase onto dev
  bun.lock
Due: none

feat: make maxCycles editable in channel config panel
  packages/web/src/components/space/visual-editor/ChannelEdgeConfigPanel.tsx
Due: web, e2e-matrix

refactor: remove GateConfig, legacy condition types, and entry/exit gate UI
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowList.tsx
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/__tests__/WorkflowNodeCard.test.tsx
  packages/web/src/components/space/visual-editor/ChannelEdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/EdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/GateConfig.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/index.ts
  packages/web/src/components/space/visual-editor/legacy-condition-types.ts
  packages/web/src/components/space/visual-editor/serialization.ts
  packages/web/src/components/space/visual-editor/types.ts
Due: web, e2e-matrix

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
