Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

ci: split rpc online tests into 4 balanced shards
  .github/workflows/main.yml
Due: none

test(e2e): add job queue background tasks E2E test for session title generation
  packages/e2e/tests/features/job-queue-background-tasks.e2e.ts
Due: none

ci: split rpc online tests into 4 balanced shards (#685)
  .github/workflows/main.yml
Due: none

fix: address review feedback for useGroupMessageLiveQuery (P1/P2/P3)
  packages/web/src/components/room/TaskConversationRenderer.tsx
  packages/web/src/hooks/__tests__/useGroupMessageLiveQuery.test.ts
  packages/web/src/hooks/useGroupMessageLiveQuery.ts
  packages/web/src/types/group-message.ts
Due: web, e2e-matrix

fix: differentiate session status colors and fix leader branch fallback
  packages/web/src/components/room/TaskInfoPanel.tsx
  packages/web/src/components/room/__tests__/TaskInfoPanel.test.tsx
Due: web, e2e-matrix

fix: address review feedback on useGroupMessages hook
  packages/web/src/hooks/__tests__/index.test.ts
  packages/web/src/hooks/__tests__/useGroupMessages.test.ts
  packages/web/src/hooks/useGroupMessages.ts
Due: web, e2e-matrix

docs: document out-of-scope setInterval users after job-queue migration
  packages/daemon/src/app.ts
Due: daemon

test(e2e): fix P1/P2 review issues in job-queue-background-tasks test
  packages/e2e/tests/features/job-queue-background-tasks.e2e.ts
Due: none

feat: add force-stop session group RPC + auto-clean stale groups in tick
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/room/stale-group-cleanup.test.ts
Due: daemon

feat: add E2E test for active agents display in SpaceTaskPane (#683)
  packages/daemon/src/lib/rpc-handlers/space-session-group-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/space-session-group-handlers.test.ts
  packages/e2e/tests/features/space-session-groups.e2e.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: daemon, web, e2e-matrix

docs: document out-of-scope setInterval users after job-queue migration (#693)
  packages/daemon/src/app.ts
Due: daemon

fix(e2e): resolve P0 ambiguous h2 selector by adding data-testid to ChatHeader
  packages/e2e/tests/features/job-queue-background-tasks.e2e.ts
  packages/web/src/components/ChatHeader.tsx
Due: web, e2e-matrix

test: add comprehensive unit tests for cross-agent messaging (#684)
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
Due: none

feat: add git branch and session status to TaskInfoPanel expanded view (#691)
  packages/web/src/components/room/TaskInfoPanel.tsx
  packages/web/src/components/room/__tests__/TaskInfoPanel.test.tsx
Due: web, e2e-matrix

feat: add step agent peer communication tools (send_feedback, request_peer_input, list_peers) (#678)
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/step-agent-tools.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
  packages/daemon/tests/unit/space/step-agent-tools.test.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

test(e2e): add job queue background tasks E2E test for session title generation (#692)
  packages/e2e/tests/features/job-queue-background-tasks.e2e.ts
  packages/web/src/components/ChatHeader.tsx
Due: web, e2e-matrix

test: add integration tests for cross-group isolation and channel enforcement (#686)
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
Due: none

fix: remove emitGoalUpdated/emitGoalProgressUpdated from goal RPC handlers (Task 3.2)
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/goal-handlers.test.ts
Due: daemon

feat: add useGroupMessageLiveQuery hook for LiveQuery-based group message streaming
  packages/web/src/hooks/__tests__/useGroupMessageLiveQuery.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useGroupMessageLiveQuery.ts
Due: web, e2e-matrix

fix: remove emitTaskUpdate from task.fail RPC handler (Task 3.1) (#688)
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/online/rpc/rpc-live-query.test.ts
  packages/daemon/tests/unit/rpc/task-handlers.test.ts
Due: daemon

test: add reactive signal update tests for SpaceTaskPane working agents (#679)
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: none

test: add disconnect cleanup unit test and online LiveQuery pipeline test (Task 2.6) (#680)
  .github/workflows/main.yml
  packages/daemon/tests/online/rpc/rpc-live-query.test.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-subscribe.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

feat: add useGroupMessages hook for LiveQuery group message streaming (#690)
  packages/web/src/hooks/__tests__/index.test.ts
  packages/web/src/hooks/__tests__/useGroupMessages.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useGroupMessages.ts
Due: web, e2e-matrix

fix: address reviewer feedback on forceStop/cleanStaleGroups
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/stale-group-cleanup.test.ts
Due: daemon

fix: address root causes of duplicate and stale session groups
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-42_test.ts
Due: daemon

fix: document emitGoalProgress omission + add session_group.stop RPC tests
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
Due: daemon

feat: replace state.groupMessages.delta listener with useGroupMessages hook
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: web, e2e-matrix

fix: address P0/P1/P2 review feedback on duplicate session group fixes
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-42_test.ts
Due: daemon

feat: add goals.byRoom LiveQuery subscription to room-store (Task 3.3)
  packages/daemon/src/lib/state-manager.ts
  packages/web/src/lib/__tests__/room-store-computed-signals.test.ts
  packages/web/src/lib/__tests__/room-store-create-session.test.ts
  packages/web/src/lib/__tests__/room-store-goals-live-query.test.ts
  packages/web/src/lib/__tests__/room-store-review.test.ts
  packages/web/src/lib/__tests__/room-store-session-events.test.ts
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

test: fix cross-agent-messaging tests to match current send_feedback behavior
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
Due: none

fix: narrow catch blocks and add constraint violation tests (P2/P3)
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
Due: daemon

feat: add force-stop session group RPC + auto-clean stale groups in tick (#694)
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/room/stale-group-cleanup.test.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
Due: daemon

feat: replace state.groupMessages.delta listener with useGroupMessages LiveQuery hook
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: web, e2e-matrix

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
