Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

test(cross-provider): bump waitForIdle from 30s to 45s for API roundtrip margin
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
Due: none

feat(space): block reason tagging and model switch stability fix (#1486)
  .github/workflows/main.yml
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/cross-provider/conversation-continuity-after-switch.test.ts
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
  packages/daemon/tests/unit/1-core/agent/model-switch-session-continuity.test.ts
  packages/daemon/tests/unit/1-core/agent/query-lifecycle-manager.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/lib/__tests__/space-store.test.ts
  scripts/validate-online-test-matrix.sh
Due: daemon

fix(e2e): fix pointer-event intercept and pb-bottom-bar test failures post-#1482
  packages/e2e/tests/features/ipad-safari-layout.e2e.ts
  packages/web/src/components/space/SpacePageHeader.tsx
  packages/web/src/islands/ContextPanel.tsx
Due: web, e2e-matrix

fix(e2e): fix pointer-event intercept and pb-bottom-bar test failures post-#1482 (#1487)
  packages/e2e/tests/features/ipad-safari-layout.e2e.ts
  packages/web/src/components/space/SpacePageHeader.tsx
  packages/web/src/islands/ContextPanel.tsx
Due: web, e2e-matrix

feat(space): enforce task dependency scheduling, cycle detection, and failure cascade (#gap-5)
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: session error layout and broken retry button
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/session-store.ts
Due: web, e2e-matrix

fix(space): prevent double-block crash on diamond dependency graphs
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
Due: daemon

docs: add Room vs Space architectural guidelines to gap analysis
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
Due: none

fix: session error layout and broken retry button (#1489)
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/session-store.ts
Due: web, e2e-matrix

feat(space): task dependency enforcement with cycle detection and failure cascade (#1488)
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/shared/src/types/space.ts
Due: daemon

feat(space): add Sessions list page and Sessions tab for spaces
  packages/web/src/App.tsx
  packages/web/src/components/space/SpaceSessionsPage.tsx
  packages/web/src/islands/BottomTabBar.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

chore: allow 'tts' hostname in Vite dev server allowedHosts
  packages/web/vite.config.ts
Due: none

refactor(space): restyle sessions page to match SpaceTasks card layout
  packages/web/src/components/space/SpaceSessionsPage.tsx
Due: web, e2e-matrix

refactor(space): regroup sessions as Pending/Active/Archived with 5-item cap on archived
  packages/web/src/components/space/SpaceSessionsPage.tsx
Due: web, e2e-matrix

feat(space): paginate Active sessions (10/page) and confirm back-button routing
  packages/web/src/components/space/SpaceSessionsPage.tsx
Due: web, e2e-matrix

fix(router): batch handlePopState signal writes and add missing tasks URL case
  packages/web/src/App.tsx
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

feat(space): attention LiveQuery and Action tab with reason-based grouping (#2)
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/SpacesPage.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix(test): add attentionCount mock and update Review→Action in SpaceDetailPanel tests
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
Due: none

feat(space): attention LiveQuery and Action tab with reason-based grouping (#1491)
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/SpacesPage.tsx
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

feat(space): add Sessions list page and Sessions tab (#1490)
  packages/web/src/App.tsx
  packages/web/src/components/space/SpaceSessionsPage.tsx
  packages/web/src/islands/BottomTabBar.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
  packages/web/vite.config.ts
Due: web, e2e-matrix

fix(e2e): fix 10 E2E failures on dev
  .github/workflows/main.yml
  .github/workflows/release.yml
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
  packages/e2e/tests/features/space-task-status-control.e2e.ts
  packages/web/src/components/space/SpacePageHeader.tsx
  packages/web/src/islands/ContextPanel.tsx
Due: web, e2e-matrix

fix(e2e): fix 10 E2E failures on dev (#1492)
  .github/workflows/main.yml
  .github/workflows/release.yml
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
  packages/e2e/tests/features/space-task-status-control.e2e.ts
  packages/web/src/components/space/SpacePageHeader.tsx
  packages/web/src/islands/ContextPanel.tsx
Due: web, e2e-matrix

fix(e2e): fix pointer-events and gate approval connection handling
  packages/web/src/components/space/GateArtifactsView.tsx
  packages/web/src/islands/ContextPanel.tsx
Due: web, e2e-matrix

test: update GateArtifactsView mock to include getHub for async approval handler
  packages/web/src/components/space/__tests__/GateArtifactsView.test.tsx
Due: none

fix(e2e): fix pointer-events and gate approval connection handling (#1494)
  packages/web/src/components/space/GateArtifactsView.tsx
  packages/web/src/components/space/__tests__/GateArtifactsView.test.tsx
  packages/web/src/islands/ContextPanel.tsx
Due: web, e2e-matrix

fix(space): fix 4 UI bugs in space task/session views
  packages/web/src/components/ChatHeader.tsx
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
Due: web, e2e-matrix

test: update tests to match removed Open Space Agent button and tab inclusion hack
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
Due: none

fix(space): fix GateArtifactsView layout so Approve/Reject buttons are always visible
  packages/web/src/components/space/ReadOnlyWorkflowCanvas.tsx
Due: web, e2e-matrix

fix(agent): clear sdkSessionId on conversation-not-found to unblock cross-provider switches
  packages/daemon/src/lib/agent/query-runner.ts
Due: daemon

fix(agent): clear sdkSessionId on cross-provider switch and invalid session file
  packages/daemon/src/lib/agent/model-switch-handler.ts
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
Due: daemon

fix(agent): strip thinking blocks from JSONL on cross-provider switch to Anthropic
  packages/daemon/src/lib/agent/model-switch-handler.ts
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/providers/glm-provider.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
  packages/web/src/components/room/TaskViewModelSelector.tsx
  packages/web/src/hooks/useChatComposerController.ts
Due: daemon, web, e2e-matrix

fix(test): update tests for GLM extendedThinking, conversation-not-found message, and cross-provider model ID
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/providers/glm-provider.test.ts
Due: none

refactor(test): split cross-provider-3 into two CI jobs for faster execution
  .github/workflows/main.yml
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
  packages/daemon/tests/online/cross-provider/thinking-block-signatures.test.ts
Due: none

fix(ci): restore missing imports in glm-to-anthropic-resume and register new test file in validator
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

fix(space): fix 4 UI bugs in space task/session views (#1495)
  .github/workflows/main.yml
  packages/daemon/src/lib/agent/model-switch-handler.ts
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/providers/glm-provider.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
  packages/daemon/tests/online/cross-provider/thinking-block-signatures.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/providers/glm-provider.test.ts
  packages/web/src/components/ChatHeader.tsx
  packages/web/src/components/room/TaskViewModelSelector.tsx
  packages/web/src/components/space/ReadOnlyWorkflowCanvas.tsx
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/hooks/useChatComposerController.ts
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
  scripts/validate-online-test-matrix.sh
Due: daemon, web, e2e-matrix

fix(space): consistent Resume button styling and banner spacing
  packages/web/src/components/space/TaskBlockedBanner.tsx
Due: web, e2e-matrix

feat(space): reason-aware blocked task banner with gate approval UI (#2b)
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskBlockedBanner.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/TaskBlockedBanner.test.tsx
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

fix(space): address PR #1493 review feedback
  packages/web/src/components/space/TaskBlockedBanner.tsx
  packages/web/src/components/space/__tests__/TaskBlockedBanner.test.tsx
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

fix(space): address PR #1493 nits — tighten types and remove dead code
  packages/web/src/components/space/TaskBlockedBanner.tsx
  packages/web/src/components/space/__tests__/TaskBlockedBanner.test.tsx
Due: web, e2e-matrix

feat(space): reason-aware blocked task banner with gate approval UI (#1493)
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskBlockedBanner.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/TaskBlockedBanner.test.tsx
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
