Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

ci: register rpc-task-draft-handlers.test.ts in validate-online-test-matrix script
  scripts/validate-online-test-matrix.sh
Due: none

fix: pass taskManager as parameter to avoid accessing private field
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
Due: daemon

fix: align needs_attention handling between RPC and agent-tool paths
  packages/daemon/tests/unit/room/runtime/human-message-routing.test.ts
Due: none

fix(ci): use jq + GITHUB_TOKEN auth to resolve devproxy version in setup action
  .github/actions/setup-devproxy/action.yml
Due: none

ci: add setup-devproxy composite action with caching to fix CI install failures
  .github/actions/setup-devproxy/action.yml
  .github/workflows/main.yml
Due: none

fix(ci): inject github.token into composite action step env for API auth
  .github/actions/setup-devproxy/action.yml
Due: none

fix: resolve leftover conflict markers in human-message-routing tests
  packages/daemon/tests/unit/room/runtime/human-message-routing.test.ts
Due: none

docs: restructure Goal V2 plan addressing comprehensive review feedback
  docs/plans/goal-v2.md
Due: none

fix: address review feedback on task draft hook (round 2)
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/hooks/__tests__/useTaskInputDraft.test.ts
  packages/web/src/hooks/useTaskInputDraft.ts
Due: daemon, web, e2e-matrix

docs: address reviewer feedback on overlap and UI dependencies
  docs/plans/goal-v2.md
Due: none

ci: simplify CI pipeline by removing intermediate gate jobs and extracting Dev Proxy action
  .github/actions/setup-devproxy/action.yml
  .github/workflows/main.yml
Due: none

docs: fix P3 nits in Goal V2 plan
  docs/plans/goal-v2.md
Due: none

fix: restore runner.os guard on setup-devproxy, add startup timeout failure
  .github/actions/setup-devproxy/action.yml
  .github/workflows/main.yml
Due: none

fix: always set archivedAt when archiving task without active runtime
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
Due: daemon

feat: add useTaskInputDraft hook with cancelled-flag race guard and tests
  packages/web/src/hooks/__tests__/useTaskInputDraft.test.ts
  packages/web/src/hooks/useTaskInputDraft.ts
Due: web, e2e-matrix

docs: address fourth round of review feedback on Goal V2 plan
  docs/plans/goal-v2.md
Due: none

fix: correct comment about orphaned worktree cleanup, add review state test
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
Due: daemon

fix(ci): use nc -z TCP check for devproxy readiness instead of curl
  .github/actions/setup-devproxy/action.yml
Due: none

fix: add cancelled flag to loadDraft to prevent cross-task data corruption
  packages/web/src/hooks/__tests__/useTaskInputDraft.test.ts
  packages/web/src/hooks/useTaskInputDraft.ts
Due: web, e2e-matrix

docs: fix P3 nits in Goal V2 plan (round 2)
  docs/plans/goal-v2.md
Due: none

feat: add draft message auto-save to task view input
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/hooks/__tests__/useTaskInputDraft.test.ts
  packages/web/src/hooks/useTaskInputDraft.ts
Due: web, e2e-matrix

fix: address review feedback on task draft auto-save
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/hooks/__tests__/useTaskInputDraft.test.ts
  packages/web/src/hooks/useTaskInputDraft.ts
Due: web, e2e-matrix

feat: persist task input draft to server-side storage
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/shared/src/types/neo.ts
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/hooks/__tests__/useTaskInputDraft.test.ts
  packages/web/src/hooks/useTaskInputDraft.ts
Due: daemon, web, e2e-matrix

fix: address review feedback on task draft RPC handler
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/online/rpc/rpc-task-draft-handlers.test.ts
  packages/web/src/hooks/__tests__/useTaskInputDraft.test.ts
  packages/web/src/hooks/useTaskInputDraft.ts
Due: daemon, web, e2e-matrix

ci: add rpc-task-draft-handlers.test.ts to rpc-1 CI matrix shard
  .github/workflows/main.yml
  packages/shared/src/types/neo.ts
Due: daemon

docs: address fifth round of review feedback on Goal V2 plan
  docs/plans/goal-v2.md
Due: none

fix(test): mock Bun.spawn in dialog-handlers tests to prevent system folder picker
  packages/daemon/tests/unit/rpc-handlers/dialog-handlers.test.ts
Due: none

test(dialog-handlers): fix platform-agnostic test and cover error-handling path
  packages/daemon/tests/unit/rpc-handlers/dialog-handlers.test.ts
Due: none

fix: address round-7 review feedback on task draft hook
  packages/daemon/tests/online/rpc/rpc-task-draft-handlers.test.ts
  packages/web/src/hooks/__tests__/useTaskInputDraft.test.ts
  packages/web/src/hooks/useTaskInputDraft.ts
Due: web, e2e-matrix

feat: raise draft/message char limit from 100k to 200k
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/online/rpc/rpc-task-draft-handlers.test.ts
  packages/web/src/hooks/useChatBase.ts
Due: daemon, web, e2e-matrix

fix: correct too-long test repeat count and JSDoc after 200k limit raise
  packages/daemon/tests/online/rpc/rpc-task-draft-handlers.test.ts
  packages/web/src/hooks/useChatBase.ts
Due: web, e2e-matrix

chore: bump version to 0.7.1
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

fix: update optionalDependencies and CHANGELOG for 0.7.1
  CHANGELOG.md
  npm/neokai/package.json
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
