Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix(e2e): fix 3 E2E failures on dev
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
Due: daemon, web, e2e-matrix

fix(e2e): fix 3 E2E failures on dev (#1497)
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
Due: daemon, web, e2e-matrix

fix(e2e): increase timeout for flaky mission-detail-page tab check
  packages/e2e/tests/features/mission-detail-page.e2e.ts
Due: none

fix(e2e): increase timeout for flaky mission-detail-page tab check (#1498)
  packages/e2e/tests/features/mission-detail-page.e2e.ts
Due: none

feat(space): workflow run artifacts — typed node outputs replacing task-level PR fields
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/workflow-run-artifact-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/ArtifactCard.tsx
  packages/web/src/components/space/TaskArtifactsPanel.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix(space): address PR #1496 review feedback
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/space/tools/node-agent-tool-schemas.ts
  packages/daemon/src/storage/repositories/workflow-run-artifact-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/workflow-run-artifact-repository.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/web/src/components/space/TaskArtifactsPanel.tsx
Due: daemon, web, e2e-matrix

fix(space): align FK indentation in artifacts table schema
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
Due: daemon

fix(space): fix migration re-run safety and CI test failures
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-run-gate-handlers.test.ts
  packages/daemon/tests/unit/3-features/db-query/scope-config.test.ts
  packages/daemon/tests/unit/5-space/space/custom-agent.test.ts
Due: daemon

feat(space): workflow run artifacts system (#1496)
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/workflow-run-artifact-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-run-gate-handlers.test.ts
  packages/daemon/tests/unit/3-features/db-query/scope-config.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/workflow-run-artifact-repository.test.ts
  packages/daemon/tests/unit/5-space/space/custom-agent.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/ArtifactCard.tsx
  packages/web/src/components/space/TaskArtifactsPanel.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

feat(space): add runtime pause/resume lifecycle controls
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/space/managers/space-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/space-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-handlers.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix(space): address PR #1499 review feedback
  packages/daemon/src/lib/space/managers/space-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

feat(space): runtime pause/resume lifecycle controls (#1499)
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/space/managers/space-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/space-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-handlers.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

chore(test): add bunfig.toml preload so bare `bun test` works from packages/daemon
  packages/daemon/bunfig.toml
Due: none

feat(test): add parallel shard runner for daemon unit tests
  scripts/test-daemon.sh
Due: none

chore(test): wire Makefile, package.json, and CI to use test-daemon.sh
  .github/workflows/main.yml
  Makefile
  packages/daemon/package.json
Due: none

docs: document test-daemon.sh usage in CLAUDE.md
  CLAUDE.md
Due: none

fix(test): isolate shared tests into 0-shared shard to fix mock pollution
  .github/workflows/main.yml
  scripts/test-daemon.sh
Due: none

fix(test): fix agent-context online test race condition in mock mode
  packages/daemon/tests/online/agent/context-command.test.ts
Due: none

fix(test): remove bunfig.toml preload to avoid breaking online tests
  packages/daemon/bunfig.toml
  packages/daemon/package.json
Due: none

fix(test): update stale type-guards mocks, remove knip continue-on-error
  .github/workflows/main.yml
  packages/daemon/tests/unit/1-core/session/sandbox-default.test.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle-sdk-title.test.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle.test.ts
Due: none

docs: add autonomy levels & completion actions design doc
  CLAUDE.md
  docs/design/autonomy-levels-and-completion-actions.md
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
Due: none

feat(space): implement 5-level numeric autonomy system
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-repository.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/1-core/lib/space-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-run-gate-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-spaces-autonomy-level_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-repository.test.ts
  packages/daemon/tests/unit/5-space/other/session-notification-sink.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-autonomy.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-chat-agent.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/lib/__tests__/space-store.test.ts
Due: daemon

fix(test): update stale type-guards mocks, remove knip continue-on-error (#1500)
  .github/workflows/main.yml
  packages/daemon/tests/unit/1-core/session/sandbox-default.test.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle-sdk-title.test.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle.test.ts
Due: none

fix(test): update online space tests to use numeric autonomy levels
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
  packages/daemon/tests/online/space/space-chat-session.test.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/online/space/task-agent-skills.test.ts
Due: none

fix: address PR review feedback on autonomy levels
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-spaces-autonomy-level_test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: address second round of PR review feedback
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-spaces-autonomy-level_test.ts
  packages/daemon/tests/unit/5-space/runtime/space-chat-agent.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
Due: daemon

fix: address remaining minor review feedback
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-spaces-autonomy-level_test.ts
  packages/daemon/tests/unit/5-space/runtime/space-chat-agent.test.ts
Due: none

fix: update default models — MiniMax M2.5→M2.7, GLM glm-5→glm-5-turbo
  .github/workflows/main.yml
  packages/daemon/src/lib/providers/glm-provider.ts
  packages/daemon/src/lib/providers/minimax-provider.ts
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
  packages/daemon/tests/online/rpc/bug2-model-switch-investigation.ts
  packages/daemon/tests/unit/1-core/providers/glm-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/minimax-provider.test.ts
Due: daemon

test: remove unrealistic rapid model switching test
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
Due: none

fix: strip thinking blocks for all cross-provider switches, not just non-Anthropic→Anthropic
  packages/daemon/src/lib/agent/model-switch-handler.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
Due: daemon

docs: autonomy levels & completion actions design (#1502)
  .github/workflows/main.yml
  CLAUDE.md
  docs/design/autonomy-levels-and-completion-actions.md
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
  packages/daemon/src/lib/agent/model-switch-handler.ts
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/src/lib/providers/glm-provider.ts
  packages/daemon/src/lib/providers/minimax-provider.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-repository.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
  packages/daemon/tests/online/rpc/bug2-model-switch-investigation.ts
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
  packages/daemon/tests/online/space/space-chat-session.test.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/online/space/task-agent-skills.test.ts
  packages/daemon/tests/unit/1-core/lib/space-manager.test.ts
  packages/daemon/tests/unit/1-core/providers/glm-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/minimax-provider.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-run-gate-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-spaces-autonomy-level_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-repository.test.ts
  packages/daemon/tests/unit/5-space/other/session-notification-sink.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-autonomy.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-chat-agent.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/lib/__tests__/space-store.test.ts
Due: daemon

feat: add autonomy level UI to SpaceSettings and SpaceOverview
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceSettings.tsx
Due: web, e2e-matrix

fix: address review feedback on autonomy level UI
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceSettings.tsx
  packages/web/src/components/space/__tests__/SpaceSettings.test.tsx
  packages/web/src/lib/space-constants.ts
Due: web, e2e-matrix

fix: derive AUTONOMY_LABELS from AUTONOMY_LEVELS, add aria-label to bar segments
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/lib/space-constants.ts
Due: web, e2e-matrix

test: add autonomyLevel to makeSpace defaults and AutonomyLevelBar test coverage
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/components/space/__tests__/SpaceSettings.test.tsx
Due: none

fix: increase cross-provider test timeouts to reduce flakiness
  packages/daemon/tests/helpers/daemon-actions.ts
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
  packages/daemon/tests/online/cross-provider/thinking-block-signatures.test.ts
Due: none

fix: skip flaky cross-provider tests that send real messages
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
Due: none

feat: autonomy level UI in SpaceSettings & SpaceOverview (#1503)
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
  packages/daemon/tests/helpers/daemon-actions.ts
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
  packages/daemon/tests/online/cross-provider/thinking-block-signatures.test.ts
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceSettings.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/components/space/__tests__/SpaceSettings.test.tsx
  packages/web/src/lib/space-constants.ts
Due: web, e2e-matrix
