Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

test(space): cover end-node handoffs + seeder postApproval + re-stamp
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
Due: none

fix(space): remove sub-agent delegation from Reviewer prompt
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/tests/unit/5-space/other/seed-agents.test.ts
Due: daemon

fix(space): re-stamp node prompts in-place so reviewer sees current template
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
Due: daemon

fix(daemon): register fetch-mcp as a built-in skill so it reaches sessions
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/4-space-storage/skills-manager.test.ts
Due: daemon

test(space): prove re-stamp refreshes prompts and full approve to mark_complete flow
  packages/daemon/tests/unit/5-space/runtime/post-approval-routing-integration.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: none

fix(space): close restart race + stop wiping MCP servers on space_chat
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
Due: daemon

fix(space): add gh pr review --approve step to Research Review end-node prompt
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
Due: daemon

test(daemon): bump mock-mode idle timeout to accommodate MCP subprocess spawn
  packages/daemon/tests/online/convo/multiturn-conversation.test.ts
  packages/daemon/tests/online/features/message-persistence.test.ts
  packages/daemon/tests/online/sdk/sdk-streaming-failures.test.ts
Due: none

fix(space): thread pr_url into post-approval routeContext via run artifacts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/runtime/post-approval-routing-integration.test.ts
Due: daemon

feat(space): add Task tool + general-purpose sub-agent delegation to Reviewer
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/tests/unit/5-space/other/seed-agents.test.ts
Due: daemon

refactor(daemon): data-driven built-in MCP servers and skills registry
  packages/daemon/src/lib/builtins.ts
  packages/daemon/src/lib/mcp/seed-defaults.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/4-space-storage/builtins.test.ts
Due: daemon

chore: remove Brave Search references from UI, docs, and test fixtures
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-all-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-query-tools.test.ts
  packages/daemon/tests/unit/2-handlers/mcp/app-mcp-lifecycle-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/app-mcp-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/skills-manager.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/app-mcp-server-repository.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migration-101-mcp-enablement.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/room-mcp-enablement-repository.test.ts
  packages/shared/src/types/app-mcp-server.ts
  packages/shared/src/types/skills.test.ts
  packages/web/src/components/settings/AppMcpServersSettings.tsx
  packages/web/src/components/settings/__tests__/AppMcpServersSettings.test.tsx
  packages/web/src/components/settings/__tests__/SkillsRegistry.test.tsx
Due: daemon, web, e2e-matrix

feat(space): harden Reviewer preset agent prompt (#1622)
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/tests/unit/5-space/other/seed-agents.test.ts
Due: daemon

docs(daemon): fix typo in createMissingMcpServer comment
  packages/daemon/src/lib/skills-manager.ts
Due: daemon

fix(space): align merge-template token casing + drop unset {{reviewer_name}}
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/workflows/post-approval-merge-template.ts
  packages/daemon/tests/unit/5-space/runtime/post-approval-routing-integration.test.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
Due: daemon

ci: disable Neo-related unit tests in daemon test shards
  scripts/test-daemon.sh
Due: none

feat(space): populate postApproval on built-in workflows + enable flag (PR 3/5) (#1623)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-handlers.ts
  packages/daemon/src/lib/space/runtime/post-approval-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/lib/space/workflows/post-approval-merge-template.ts
  packages/daemon/src/lib/space/workflows/template-hash.ts
  packages/daemon/tests/unit/5-space/runtime/post-approval-router.test.ts
  packages/daemon/tests/unit/5-space/runtime/post-approval-routing-integration.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion-actions.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-tick-loop.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
  scripts/test-daemon.sh
Due: daemon

fix(daemon): register fetch-mcp as a built-in skill so it reaches sessions (#1624)
  packages/daemon/src/lib/builtins.ts
  packages/daemon/src/lib/mcp/seed-defaults.ts
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/online/convo/multiturn-conversation.test.ts
  packages/daemon/tests/online/features/message-persistence.test.ts
  packages/daemon/tests/online/sdk/sdk-streaming-failures.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-all-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-query-tools.test.ts
  packages/daemon/tests/unit/2-handlers/mcp/app-mcp-lifecycle-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/app-mcp-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/builtins.test.ts
  packages/daemon/tests/unit/4-space-storage/skills-manager.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/app-mcp-server-repository.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migration-101-mcp-enablement.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/room-mcp-enablement-repository.test.ts
  packages/shared/src/types/app-mcp-server.ts
  packages/shared/src/types/skills.test.ts
  packages/web/src/components/settings/AppMcpServersSettings.tsx
  packages/web/src/components/settings/__tests__/AppMcpServersSettings.test.tsx
  packages/web/src/components/settings/__tests__/SkillsRegistry.test.tsx
Due: daemon, web, e2e-matrix

fix(space): close restart race + stop wiping MCP servers on space_chat (#1625)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
Due: daemon

fix(web): surface runtime state in Tools modal and MCP Servers settings
  packages/web/src/components/ToolsModal.tsx
  packages/web/src/components/ToolsModal.utils.ts
  packages/web/src/components/__tests__/ToolsModal.test.tsx
  packages/web/src/components/settings/AppMcpServersSettings.tsx
  packages/web/src/components/settings/__tests__/AppMcpServersSettings.test.tsx
Due: web, e2e-matrix

fix(web): address review feedback — skills `loaded` signal + amber server-off
  packages/web/src/components/ToolsModal.tsx
  packages/web/src/components/ToolsModal.utils.ts
  packages/web/src/components/__tests__/ToolsModal.test.tsx
  packages/web/src/components/settings/AppMcpServersSettings.tsx
  packages/web/src/components/settings/__tests__/AppMcpServersSettings.test.tsx
  packages/web/src/lib/skills-store.test.ts
  packages/web/src/lib/skills-store.ts
Due: web, e2e-matrix

fix(web): surface runtime state in Tools modal and MCP Servers settings (#1626)
  packages/web/src/components/ToolsModal.tsx
  packages/web/src/components/ToolsModal.utils.ts
  packages/web/src/components/__tests__/ToolsModal.test.tsx
  packages/web/src/components/settings/AppMcpServersSettings.tsx
  packages/web/src/components/settings/__tests__/AppMcpServersSettings.test.tsx
  packages/web/src/lib/skills-store.test.ts
  packages/web/src/lib/skills-store.ts
Due: web, e2e-matrix

fix(daemon): wrap builtin skills as SDK plugins so /playwright works
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/builtin-skill-plugin-wrapper.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/1-core/agent/builtin-skill-plugin-wrapper.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/4-space-storage/skills-manager.test.ts
Due: daemon

fix(daemon): use isBuiltinSkillConfig guard in ensureBuiltinPluginWrappers
  packages/daemon/src/lib/skills-manager.ts
Due: daemon

refactor(space): delete completion-action runtime pipeline (PR 4/5)
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/runtime/completion-action-executors.ts
  packages/daemon/src/lib/space/runtime/completion-detector.ts
  packages/daemon/src/lib/space/runtime/pending-action.ts
  packages/daemon/src/lib/space/runtime/post-approval-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/shared/src/space/workflow-autonomy.ts
  packages/shared/tests/workflow-autonomy.test.ts
Due: daemon

refactor(web): consolidate task banners into single-slot renderer (PR 4/5)
  packages/web/src/components/space/AutonomyWorkflowSummary.tsx
  packages/web/src/components/space/InlineStatusBanner.tsx
  packages/web/src/components/space/PendingCompletionActionBanner.tsx
  packages/web/src/components/space/PendingGateBanner.tsx
  packages/web/src/components/space/PendingTaskCompletionBanner.tsx
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/TaskBlockedBanner.tsx
  packages/web/src/components/space/TaskStatusActions.tsx
  packages/web/src/components/space/use-run-gate-summaries.ts
  packages/web/src/lib/signals.ts
  packages/web/src/lib/task-banner.ts
Due: web, e2e-matrix

test(space): update tests + add post-approval E2E stubs (PR 4/5)
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/5-space/runtime/completion-action-executors.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion-actions.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-tick-loop.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
  packages/daemon/tests/unit/5-space/workflow/completion-actions-persistence.test.ts
  packages/e2e/tests/features/post-approval-banner-minimal.e2e.ts
  packages/e2e/tests/features/post-approval-merge-autonomy-high.e2e.ts
  packages/e2e/tests/features/post-approval-merge-autonomy-low.e2e.ts
  packages/e2e/tests/features/post-approval-merge-human-rejects.e2e.ts
  packages/e2e/tests/features/post-approval-no-route.e2e.ts
  packages/e2e/tests/features/space-completion-action-approval.e2e.ts
  packages/web/src/components/space/__tests__/AutonomyWorkflowSummary.test.tsx
  packages/web/src/components/space/__tests__/PendingCompletionActionBanner.test.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/components/space/__tests__/TaskBlockedBanner.test.tsx
  packages/web/src/components/space/__tests__/TaskStatusActions.test.tsx
  packages/web/src/lib/__tests__/task-banner.test.ts
Due: none

cleanup(space): remove completion-action pipeline remnants (PR 4/5)
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/5-space/other/session-notification-sink.test.ts
  packages/daemon/tests/unit/5-space/runtime/post-approval-routing-integration.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-tick-loop.test.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskStatusActions.tsx
Due: daemon, web, e2e-matrix

refactor(web): float SpaceTaskPane tab pill inside content area
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

fix(web): hoist task banners above tab content + add topInsetClass to thread
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

refactor(web): float SpaceTaskPane tab pill inside content area (#1629)
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

chore(space): remove completionActions types + schema (PR 5/5)
  packages/daemon/src/lib/rpc-handlers/space-workflow-handlers.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/workflows/template-hash.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/src/storage/schema/m94-backfill-workflow-templates.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-104_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-94_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-spaces-autonomy-level_test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
  packages/daemon/tests/unit/5-space/workflow/gate-autonomy-status-consistency.test.ts
  packages/daemon/tests/unit/5-space/workflow/template-hash.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/PendingTaskCompletionBanner.tsx
  packages/web/src/components/space/__tests__/AutonomyWorkflowSummary.test.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/__tests__/task-banner.test.ts
  packages/web/src/lib/task-banner.ts
Due: daemon, web, e2e-matrix

docs: refresh plan/research/design banners + add CHANGELOG (PR 5/5)
  CHANGELOG.md
  docs/design/autonomy-levels-and-completion-actions.md
  docs/plans/remove-completion-actions-task-agent-as-post-approval-executor.md
  docs/research/pr-merging-completion-actions.md
Due: none

docs(m94): clarify historical-frozen fingerprint copy
  packages/daemon/src/storage/schema/m94-backfill-workflow-templates.ts
Due: daemon

fix(daemon): include 'approved' tasks in rehydration filter
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-task-repository.test.ts
Due: daemon

fix(web): surface 'approved' status across task list and badge maps
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/lib/task-constants.ts
Due: web, e2e-matrix

chore(daemon): drop dead post_approval_action discriminator from prompts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/lib/space/workflows/post-approval-merge-template.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
Due: daemon

chore(e2e): align scaffolded test comment with new task-agent signal shape
  packages/e2e/tests/features/post-approval-merge-autonomy-high.e2e.ts
Due: none
