Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

feat: require defaultPath in room.create handler (task 2.1)
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
Due: daemon

fix: update all room.create callers to pass defaultPath; cleanup
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/online/room/room-chat-constraints.test.ts
  packages/daemon/tests/online/room/room-multi-agent-flow.test.ts
  packages/daemon/tests/online/room/room-test-helpers.ts
  packages/daemon/tests/online/room/room-tick-job.test.ts
  packages/daemon/tests/online/rpc/rpc-live-query.test.ts
  packages/daemon/tests/online/rpc/rpc-task-draft-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-task-lifecycle.test.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
  packages/e2e/tests/features/room-sidebar-navigation.e2e.ts
  packages/e2e/tests/helpers/room-helpers.ts
Due: daemon

fix: update all remaining E2E room.create callers to pass defaultPath
  packages/e2e/tests/features/livequery-task-goal-updates.e2e.ts
  packages/e2e/tests/features/mission-creation.e2e.ts
  packages/e2e/tests/features/mission-detail.e2e.ts
  packages/e2e/tests/features/mission-terminology.e2e.ts
  packages/e2e/tests/features/neo-conversation.e2e.ts
  packages/e2e/tests/features/room-sidebar-sections.e2e.ts
  packages/e2e/tests/features/short-id-display.e2e.ts
  packages/e2e/tests/features/task-actions-dropdown.e2e.ts
  packages/e2e/tests/features/task-goal-indicator.e2e.ts
  packages/e2e/tests/features/task-lifecycle.e2e.ts
  packages/e2e/tests/features/task-message-pagination.e2e.ts
  packages/e2e/tests/features/task-message-streaming.e2e.ts
  packages/e2e/tests/features/task-view-action-dropdown.e2e.ts
  packages/e2e/tests/features/task-view-v2.e2e.ts
Due: none

test(online): add goal lifecycle reset integration tests (#1172)
  packages/daemon/tests/online/room/goal-lifecycle-reset.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

feat: require defaultPath in room.create handler (task 2.1) (#1175)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/online/room/room-chat-constraints.test.ts
  packages/daemon/tests/online/room/room-multi-agent-flow.test.ts
  packages/daemon/tests/online/room/room-test-helpers.ts
  packages/daemon/tests/online/room/room-tick-job.test.ts
  packages/daemon/tests/online/rpc/rpc-live-query.test.ts
  packages/daemon/tests/online/rpc/rpc-task-draft-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-task-lifecycle.test.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
  packages/e2e/tests/features/livequery-task-goal-updates.e2e.ts
  packages/e2e/tests/features/mission-creation.e2e.ts
  packages/e2e/tests/features/mission-detail.e2e.ts
  packages/e2e/tests/features/mission-terminology.e2e.ts
  packages/e2e/tests/features/neo-conversation.e2e.ts
  packages/e2e/tests/features/room-sidebar-navigation.e2e.ts
  packages/e2e/tests/features/room-sidebar-sections.e2e.ts
  packages/e2e/tests/features/short-id-display.e2e.ts
  packages/e2e/tests/features/task-actions-dropdown.e2e.ts
  packages/e2e/tests/features/task-goal-indicator.e2e.ts
  packages/e2e/tests/features/task-lifecycle.e2e.ts
  packages/e2e/tests/features/task-message-pagination.e2e.ts
  packages/e2e/tests/features/task-message-streaming.e2e.ts
  packages/e2e/tests/features/task-view-action-dropdown.e2e.ts
  packages/e2e/tests/features/task-view-v2.e2e.ts
  packages/e2e/tests/helpers/room-helpers.ts
Due: daemon

feat: guard room-scoped sessions against missing workspacePath
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/unit/session/session-lifecycle.test.ts
Due: daemon

feat: guard room-scoped sessions against missing workspacePath (#1176)
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/unit/session/session-lifecycle.test.ts
Due: daemon

feat: migration 70 — backfill default_path for existing rooms with null defaultPath
  packages/daemon/src/app.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-70_test.ts
  packages/daemon/tests/unit/storage/migrations/sentinel-replacement_test.ts
Due: daemon

docs: rewrite plan for schema cleanup + endNodeId feature
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

feat: migration 70 — backfill default_path for existing rooms with null defaultPath (#1177)
  packages/daemon/src/app.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-70_test.ts
  packages/daemon/tests/unit/storage/migrations/sentinel-replacement_test.ts
Due: daemon

fix: resolve room:chat sessions to room defaultPath in reference handlers
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/reference-handlers.test.ts
Due: daemon

fix(session-manager): require explicit workspacePath in cleanupOrphanedWorktrees
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/rpc/session-handlers.test.ts
  packages/daemon/tests/unit/session/session-manager.test.ts
Due: daemon

docs: address iteration 11 review feedback — fill coverage gaps
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

fix(room-runtime): remove defaultWorkspacePath fallback, add defaultPath guard
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/tests/unit/room/room-runtime-service.test.ts
Due: daemon

fix(session-manager): require explicit workspacePath in cleanupOrphanedWorktrees (#1179)
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/rpc/session-handlers.test.ts
  packages/daemon/tests/unit/session/session-manager.test.ts
Due: daemon

fix: resolve room:chat sessions to room defaultPath in reference handlers (#1178)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/reference-handlers.test.ts
Due: daemon

docs: address iteration 12 review feedback
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

fix(room-runtime): remove defaultWorkspacePath fallback, add defaultPath guard (#1180)
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/tests/unit/room/room-runtime-service.test.ts
Due: daemon

docs: address iteration 13 review feedback
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

docs: address iteration 14 review feedback
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

docs: address iteration 15 review feedback
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

feat(room-handlers): guard defaultPath changes against active task groups
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
Due: daemon

docs: address iteration 16 review feedback
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

feat(room-handlers): guard defaultPath changes against active task groups (#1181)
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
Due: daemon

docs: address iteration 17 review feedback
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

docs: address iteration 18 review feedback
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

docs: address iteration 19 review feedback
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

feat(room): propagate defaultPath changes to room chat session and runtime
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/unit/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
Due: daemon

fix(room): clean up observers map on runtime recreation; skip sync when path unchanged
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/unit/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
Due: daemon

feat(room): propagate defaultPath changes to room chat session and runtime (#1182)
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/unit/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
Due: daemon

test: add room workspace isolation integration tests
  packages/daemon/tests/unit/room/room-workspace-isolation.test.ts
Due: none

fix(test): add explicit stubs for unused ReferenceHandlerDeps fields
  packages/daemon/tests/unit/room/room-workspace-isolation.test.ts
Due: none

docs: deduplicate resolveNodeAgents() compat shim instruction
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

feat: make Config.workspaceRoot optional, daemon can start without --workspace
  packages/cli/main.ts
  packages/cli/prod-entry.ts
  packages/daemon/src/app.ts
  packages/daemon/src/config.ts
  packages/daemon/src/lib/file-index.ts
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/unit/core/config.test.ts
  packages/shared/src/state-types.ts
Due: daemon

fix: address P1/P2 review feedback for workspaceRoot optional change
  packages/daemon/src/lib/file-index.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/unit/core/daemon-app-cleanup.test.ts
Due: daemon

feat: make Config.workspaceRoot optional (Task 5.1) (#1184)
  packages/cli/main.ts
  packages/cli/prod-entry.ts
  packages/daemon/src/app.ts
  packages/daemon/src/config.ts
  packages/daemon/src/lib/file-index.ts
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/unit/core/config.test.ts
  packages/daemon/tests/unit/core/daemon-app-cleanup.test.ts
  packages/shared/src/state-types.ts
Due: daemon

fix(test): make @file resolution test resilient to mock.module pollution
  packages/daemon/tests/unit/room/room-workspace-isolation.test.ts
Due: none

feat(web): handle optional workspaceRoot in CreateRoomModal (Task 5.2)
  packages/web/src/components/lobby/CreateRoomModal.tsx
  packages/web/src/components/lobby/__tests__/CreateRoomModal.test.tsx
Due: web, e2e-matrix

docs(test): fix imprecise comment about existence gate in @file test
  packages/daemon/tests/unit/room/room-workspace-isolation.test.ts
Due: none

feat(web): handle optional workspaceRoot in CreateRoomModal (Task 5.2) (#1185)
  packages/web/src/components/lobby/CreateRoomModal.tsx
  packages/web/src/components/lobby/__tests__/CreateRoomModal.test.tsx
Due: web, e2e-matrix
