Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix: check if devproxy is running instead of checking binary in PATH
  packages/daemon/tests/helpers/dev-proxy.ts
Due: none

fix(ci): correct Dev Proxy PATH and startup command
  .github/workflows/main.yml
Due: none

fix: gracefully skip Dev Proxy if it can't start instead of crashing
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/helpers/dev-proxy.ts
Due: none

fix: Check group cancellation errors in setTaskStatus
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
Due: daemon

fix: Check group cancellation result in task.setStatus RPC handler
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
Due: daemon

fix: route all human messages to leader with proper state reset
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
Due: daemon

docs: Add task status control design documentation
  docs/design/task-status-control-design.md
Due: none

docs: rewrite task status control design and add group cancellation tests
  docs/design/task-status-control-design.md
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
Due: none

feat: Implement lazy session creation by moving the new session input to the SessionsPage, allowing the first message to initiate a session.
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/SessionsPage.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

feat: Navigate to sessions page after global session deletion and when `navSection` is 'chats', and optimize room deletion UI updates.
  packages/web/src/App.tsx
  packages/web/src/hooks/useSessionActions.ts
  packages/web/src/islands/Room.tsx
Due: web, e2e-matrix

feat: add project logo and update README to display it.
  README.md
  docs/logo.svg
Due: none

fix: update Dev Proxy mock files to v2.2.0 schema
  .devproxy/mocks-basic.json
  .devproxy/mocks-errors.json
  .devproxy/mocks-room.json
  .devproxy/mocks-tool-use.json
  .devproxy/mocks.json
  packages/daemon/src/lib/agent/query-options-builder.ts
Due: daemon

feat: add pagination to TaskView message loading
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/task-get-group-messages.test.ts
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: daemon, web, e2e-matrix

fix: persist deferred leader bootstrap for restart-safe routing
  packages/daemon/src/lib/room/runtime/runtime-recovery.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

fix: address review feedback for pagination
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: daemon, web, e2e-matrix

fix: use retry function instead of page reload for initial fetch errors
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: web, e2e-matrix

fix: clean up failed group on task restart
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

feat: add pagination to TaskView message loading (#272)
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/task-get-group-messages.test.ts
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: daemon, web, e2e-matrix

fix: reset and reuse group on task restart
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
Due: daemon

fix: clean up failed group on task restart (#274)
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

fix(tests): use proxy env vars for Dev Proxy integration
  .devproxy/mocks-basic.json
  .devproxy/mocks-errors.json
  .devproxy/mocks-room.json
  .devproxy/mocks-tool-use.json
  .devproxy/mocks.json
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/helpers/dev-proxy.ts
Due: none

fix(tests): use proxy env vars for Dev Proxy integration (#276)
  .devproxy/mocks-basic.json
  .devproxy/mocks-errors.json
  .devproxy/mocks-room.json
  .devproxy/mocks-tool-use.json
  .devproxy/mocks.json
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/helpers/dev-proxy.ts
Due: none

fix(tests): use Dev Proxy for remaining online tests
  .devproxy/devproxyrc.json
  .devproxy/mocks-basic.json
  .github/workflows/main.yml
Due: none

more cleanup
  packages/daemon/src/lib/room/runtime/human-message-routing.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/runtime-recovery.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/online/room/room-test-helpers.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-recovery-safety.test.ts
  packages/daemon/tests/unit/room/runtime/human-message-routing.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
  packages/web/src/components/room/TaskView.tsx
Due: daemon, web, e2e-matrix

fix(tests): use ANTHROPIC_BASE_URL for Dev Proxy integration
  .github/workflows/main.yml
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/helpers/dev-proxy.ts
Due: none

fix: disable room tests, fix git test for Dev Proxy
  .github/workflows/main.yml
  packages/daemon/tests/online/git/archive-session.test.ts
Due: none

feat: add IS_MOCK support to context-command test
  .github/workflows/main.yml
  packages/daemon/tests/online/agent/context-command.test.ts
Due: none

fix: skip context validation with Dev Proxy, remove mock_sdk from git
  .github/workflows/main.yml
  packages/daemon/tests/online/agent/context-command.test.ts
Due: none

feat: add /context mock to Dev Proxy
  .devproxy/mocks.json
  packages/daemon/tests/online/agent/context-command.test.ts
Due: none

fix: remove mock_sdk from failing tests
  .devproxy/mocks.json
  .github/workflows/main.yml
Due: none

fix: add mock_sdk back to rpc-2 (test expects mock response)
  .github/workflows/main.yml
Due: none

fix(tests): remove mock_sdk from rpc-2 and fix test assertion
  .github/workflows/main.yml
  packages/daemon/tests/online/rpc/rpc-message-handlers.test.ts
Due: none

fix(tests): add IS_MOCK detection and skip tests that require real API
  .github/workflows/main.yml
  packages/daemon/tests/online/rpc/rpc-message-handlers.test.ts
Due: none

fix(provider): pass ANTHROPIC_BASE_URL to SDK when Dev Proxy is enabled
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/tests/online/rpc/rpc-message-handlers.test.ts
Due: daemon

fix(devproxy): add generic mock for any message request
  .devproxy/mocks.json
Due: none

Refactor room task routing and remove group-state dependency
  docs/design/pr-review-workflow.md
  docs/design/room-runtime-impl-plan.md
  docs/design/room-runtime-spec.md
  docs/design/task-status-control-design.md
  docs/plans/complete-room-human-in-a-loop-features.md
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/online/room/room-advanced-scenarios.test.ts
  packages/daemon/tests/online/room/room-multi-agent-flow.test.ts
  packages/daemon/tests/online/room/room-planner-two-phase.test.ts
  packages/daemon/tests/online/room/room-replan-recovery.test.ts
  packages/daemon/tests/online/room/room-reviewer-flow.test.ts
  packages/daemon/tests/unit/core/daemon-app-cleanup.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/room/room-runtime-leader-tools.test.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/rpc-handlers/goal-handlers.test.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
  packages/daemon/tests/unit/rpc/task-handlers.test.ts
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

Update
  packages/daemon/tests/helpers/daemon-server.ts
Due: none
