Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix: harden task context subscriptions
  packages/web/src/hooks/__tests__/useTargetSessionContext.test.ts
  packages/web/src/hooks/useTargetSessionContext.ts
Due: web, e2e-matrix

fix: make space task tabs mobile-friendly
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
Due: web, e2e-matrix

fix: address space task mobile tab review
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
Due: web, e2e-matrix

fix: handle legacy archived task routes
  packages/web/src/lib/__tests__/router.test.ts
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

test(daemon): cover scheduled task fire events (#1869)
  packages/daemon/tests/unit/2-handlers/job-handlers/task-schedule-fire.handler.test.ts
Due: none

Fix mobile overflow in space task tabs (#1870)
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/lib/__tests__/router.test.ts
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

feat: allow space chat subagents
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
Due: daemon

fix: show task composer context usage (#1867)
  packages/web/src/components/space/TaskSessionChatComposer.tsx
  packages/web/src/hooks/__tests__/useTargetSessionContext.test.ts
  packages/web/src/hooks/useTargetSessionContext.ts
Due: web, e2e-matrix

feat: allow space chat subagents (#1871)
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
Due: daemon

fix(daemon): revert events with DaemonHub subscribers back to daemonHub.emit
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/model-switch-handler.ts
  packages/daemon/src/lib/agent/processing-state-manager.ts
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/agent/sdk-runtime-config.ts
  packages/daemon/src/lib/agent/session-config-handler.ts
  packages/daemon/src/lib/agent/slash-command-manager.ts
  packages/daemon/src/lib/error-manager.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/1-core/agent/processing-state-manager.test.ts
  packages/daemon/tests/unit/1-core/agent/query-lifecycle-manager.test.ts
  packages/daemon/tests/unit/1-core/core/error-manager-throttling.test.ts
  packages/daemon/tests/unit/1-core/core/error-manager.test.ts
  packages/daemon/tests/unit/1-core/session/sandbox-default.test.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle-sdk-title.test.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle.test.ts
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
Due: daemon

fix(daemon): clean up rebase conflict artifacts in test files
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/skill-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/space-mcp-handlers.test.ts
Due: daemon

fix(daemon): add namespaceId to migrated event payloads, pass internalEventBus to SessionManager
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/ask-user-question-handler.ts
  packages/daemon/src/lib/agent/event-subscription-setup.ts
  packages/daemon/src/lib/agent/model-switch-handler.ts
  packages/daemon/src/lib/agent/processing-state-manager.ts
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-mode-handler.ts
  packages/daemon/src/lib/agent/rewind-handler.ts
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/agent/sdk-runtime-config.ts
  packages/daemon/src/lib/agent/session-config-handler.ts
  packages/daemon/src/lib/agent/slash-command-manager.ts
  packages/daemon/src/lib/error-manager.ts
  packages/daemon/src/lib/internal-event-bus.ts
  packages/daemon/src/lib/rpc-handlers/app-mcp-handlers.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/rpc-handlers/skill-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-mcp-handlers.ts
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/agent/query-lifecycle-manager.test.ts
  packages/daemon/tests/unit/1-core/core/daemon-app-cleanup.test.ts
  packages/daemon/tests/unit/1-core/session/message-persistence.test.ts
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/skill-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/space-mcp-handlers.test.ts
Due: daemon

feat: route settings tabs by query parameter
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/lib/__tests__/router.test.ts
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

fix: preserve branches after post-approval merge
  packages/daemon/src/lib/space/workflows/post-approval-merge-template.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
Due: daemon

fix: guard root test script
  package.json
Due: none

feat: route settings tabs by query parameter (#1872)
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/lib/__tests__/router.test.ts
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

fix: block root bun test command
  bunfig.toml
  scripts/guard-root-bun-test.ts
Due: none

fix: allow targeted root bun tests
  scripts/guard-root-bun-test.ts
  scripts/test-daemon.sh
Due: none

fix(daemon): address review feedback on migrated events
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/error-manager.ts
  packages/daemon/src/lib/internal-event-bus.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
Due: daemon

fix: preserve branches after post-approval merge (#1873)
  packages/daemon/src/lib/space/workflows/post-approval-merge-template.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
Due: daemon

fix: simplify root bun test guard
  scripts/guard-root-bun-test.ts
Due: none

Revert "fix: simplify root bun test guard"
  scripts/guard-root-bun-test.ts
Due: none

Revert "fix: allow targeted root bun tests"
  scripts/guard-root-bun-test.ts
  scripts/test-daemon.sh
Due: none

Revert "fix: block root bun test command"
  bunfig.toml
  scripts/guard-root-bun-test.ts
Due: none

fix: clarify root test guard message
  package.json
Due: none

fix: enforce no root bun test
  CLAUDE.md
  bunfig.toml
  docs/dev-proxy-integration.md
  docs/plans/comprehensive-skills-support-review-and-external-skills-inte/06-planner-websearch.md
  docs/plans/fix-goal-lifecycle-reset-invalidate-stale-planning-fix-ister.md
  docs/plans/simplify-id-and-folder-path-system/06-tests-and-validation.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/bug-triage.md
  package.json
  packages/daemon/tests/online/agent/agent-session-sdk.test.ts
  packages/daemon/tests/online/convo/multiturn-conversation.test.ts
  packages/daemon/tests/online/convo/startup-timeout-no-retry.test.ts
  packages/daemon/tests/online/features/github-poll-job.test.ts
  packages/daemon/tests/online/features/message-delivery-mode-queue.test.ts
  packages/daemon/tests/online/features/message-persistence.test.ts
  packages/daemon/tests/online/git/archive-session.test.ts
  packages/daemon/tests/online/glm/glm-provider.test.ts
  packages/daemon/tests/online/glm/glm-sdk-minimal.test.ts
  packages/daemon/tests/online/lifecycle/session-resume.test.ts
  packages/daemon/tests/online/lifecycle/session-title-job.test.ts
  packages/daemon/tests/online/neo/neo-conversation-flow.test.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
  packages/daemon/tests/online/rewind/rewind-feature.test.ts
  packages/daemon/tests/online/rewind/selective-rewind.test.ts
  packages/daemon/tests/online/sdk/sdk-streaming-failures.test.ts
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
  packages/daemon/tests/online/space/space-chat-session.test.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/online/space/task-agent-skills.test.ts
  packages/daemon/tests/online/websocket/websocket-protocol.test.ts
  scripts/guard-root-bun-test.ts
  scripts/test-daemon.sh
Due: none

docs: use package-local daemon test commands
  .devproxy/README.md
  packages/daemon/tests/online/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/online/space/space-edge-cases.test.ts
  packages/daemon/tests/online/space/space-happy-path-code-review.test.ts
  packages/daemon/tests/online/space/space-happy-path-full-pipeline.test.ts
  packages/daemon/tests/online/space/space-happy-path-plan-to-approve.test.ts
  packages/daemon/tests/online/space/space-happy-path-qa-completion.test.ts
Due: none

docs: preserve root cwd for dev proxy logs
  docs/dev-proxy-integration.md
Due: none

docs: preserve devproxy README cwd
  .devproxy/README.md
Due: none

docs: align contributor test commands
  CONTRIBUTING.md
Due: none

docs: preserve root cwd in contributor commands
  CONTRIBUTING.md
Due: none

fix: keep chat textarea visible during keyboard resize
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/__tests__/InputTextarea.test.tsx
Due: web, e2e-matrix

fix: avoid padding churn during mobile keyboard resize
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/__tests__/InputTextarea.test.tsx
  packages/web/src/components/__tests__/MessageInput.reference-autocomplete.test.tsx
Due: web, e2e-matrix

test: cover textarea resize guard branches
  packages/web/src/components/__tests__/InputTextarea.test.tsx
Due: none

fix: resync chat padding after iOS keyboard closes
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/__tests__/MessageInput.reference-autocomplete.test.tsx
Due: web, e2e-matrix

fix: freeze composer growth during iOS keyboard input
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/__tests__/InputTextarea.test.tsx
  packages/web/src/components/__tests__/MessageInput.reference-autocomplete.test.tsx
  packages/web/src/lib/browser-detection.ts
Due: web, e2e-matrix

fix: restore async chat composer resize
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/__tests__/InputTextarea.test.tsx
  packages/web/src/components/__tests__/MessageInput.reference-autocomplete.test.tsx
  packages/web/src/lib/browser-detection.ts
Due: web, e2e-matrix

fix: defer touch Safari composer resize during keyboard input
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/__tests__/InputTextarea.test.tsx
Due: web, e2e-matrix

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
