Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix(room): exclude archived sessions from room context panel sessions list
  packages/daemon/src/lib/room/managers/room-manager.ts
  packages/daemon/tests/unit/room/room-manager.test.ts
Due: daemon

fix(docs): correct Skills audit after review
  docs/architecture/skills-audit.md
Due: none

fix(error-classifier): only pause on actual API errors, not SDK info messages (#920)
  packages/daemon/src/lib/room/runtime/error-classifier.ts
  packages/daemon/src/lib/room/runtime/rate-limit-utils.ts
  packages/daemon/tests/unit/room/rate-limit-utils.test.ts
  packages/daemon/tests/unit/room/runtime/error-classifier.test.ts
Due: daemon

fix(daemon): correct review reminder to reference submit_for_review tool
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc/task-handlers.test.ts
Due: daemon

docs: Skills/MCP/Plugin system audit (#923)
  docs/architecture/skills-audit.md
Due: none

feat(planner): document WebSearch wiring and add search API domains to sandbox allowlist
  packages/daemon/src/lib/room/agents/planner-agent.ts
  packages/shared/src/types/settings.ts
Due: daemon

docs: Skills Registry architecture design document
  docs/architecture/skills-registry-design.md
Due: none

feat(daemon): remind leader to re-submit review after human feedback (#921)
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
  packages/daemon/tests/unit/rpc/task-handlers.test.ts
Due: daemon

fix(planner): revert search API domains and simplify WebSearch comments
  packages/daemon/src/lib/room/agents/planner-agent.ts
  packages/shared/src/types/settings.ts
Due: daemon

docs: Skills Registry architecture design document (#926)
  docs/architecture/skills-registry-design.md
Due: none

session/coder 2b5473f4 0cc2 4e7c 9f34 336bfe569475 b6667da5 ca1f 480a b5e8 e0776a9dc610 19d77db5 (#814)
  packages/e2e/tests/features/room-sidebar-navigation.e2e.ts
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
  packages/e2e/tests/features/visual-workflow-editor.e2e.ts
Due: none

feat(shared): add AppSkill type family to shared package
  packages/shared/src/mod.ts
  packages/shared/src/types/skills.test.ts
  packages/shared/src/types/skills.ts
Due: daemon

feat(planner): add web search guidance to plan-writer and planner prompts
  packages/daemon/src/lib/room/agents/planner-agent.ts
  packages/daemon/tests/unit/room/planner-agent.test.ts
Due: daemon

fix(shared): address review feedback on AppSkill types
  packages/shared/src/types/skills.test.ts
  packages/shared/src/types/skills.ts
Due: daemon

fix(room): filter archived tasks server-side and remove dead client session toggle
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/storage/task-live-query-archived-filter.test.ts
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/islands/__tests__/RoomContextPanel.test.tsx
Due: daemon, web, e2e-matrix

feat(planner): add web search guidance to plan-writer and planner prompts (#928)
  packages/daemon/src/lib/room/agents/planner-agent.ts
  packages/daemon/tests/unit/room/planner-agent.test.ts
Due: daemon

feat(shared): add AppSkill type family to shared package (#927)
  packages/shared/src/mod.ts
  packages/shared/src/types/skills.test.ts
  packages/shared/src/types/skills.ts
Due: daemon

docs: plan for fixing model switching bugs (silent auto-recovery, RPC routing, DB source of truth)
  docs/plans/fix-model-switching-bugs-remove-silent-auto-recovery-fix-rpc.md
Due: none

test(online): add cross-provider model switching tests (minimax <-> glm)
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
Due: none

fix(reference): address review feedback on task/goal resolvers
  packages/daemon/src/lib/agent/reference-resolver.ts
  packages/daemon/tests/unit/reference-resolver.test.ts
  packages/shared/src/types/reference.ts
Due: daemon

fix: address review feedback on plan
  docs/plans/fix-model-switching-bugs-remove-silent-auto-recovery-fix-rpc.md
Due: none

fix(daemon): skip error classification for tool result messages
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-mirroring-usage-limit.test.ts
Due: daemon

fix(room): exclude archived sessions from Room Context Panel SESSIONS list (#924)
  packages/daemon/src/lib/room/managers/room-manager.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/room/room-manager.test.ts
  packages/daemon/tests/unit/storage/task-live-query-archived-filter.test.ts
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/islands/__tests__/RoomContextPanel.test.tsx
Due: daemon, web, e2e-matrix

test(online): improve cross-provider model switching tests
  .github/workflows/main.yml
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

plan: add dev branch e2e tests guardian hourly mission
  docs/plans/dev-branch-e2e-tests-guardian-hourly.md
Due: none

test(online): fix P0/P1 issues in cross-provider model switching tests
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
Due: none

feat(space): remove advance() and replace with agent-driven progression (Task 3.5)
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/space/space-runtime-edge-cases.test.ts
  packages/daemon/tests/unit/space/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/space/space-runtime-service.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
  packages/daemon/tests/unit/space/task-agent.test.ts
  packages/daemon/tests/unit/space/workflow-executor-multi-agent.test.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
  packages/daemon/tests/unit/space/workflow-iteration-loop.test.ts
Due: daemon

fix(plan): address P0/P1 review feedback
  docs/plans/dev-branch-e2e-tests-guardian-hourly.md
Due: none

feat(daemon): add SkillRepository (SQLite) and SkillsManager
  packages/daemon/src/app.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/skill-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/skills-manager.test.ts
Due: daemon

test(online): fix timeout issues in cross-provider message delivery tests
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
Due: none

fix(plan): address remaining P1/P2 review feedback
  docs/plans/dev-branch-e2e-tests-guardian-hourly.md
Due: none

fix(space): remove stale advance_workflow references from comments and prompts
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: daemon

fix(daemon): skip error classification for tool result messages (#931)
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-mirroring-usage-limit.test.ts
Due: daemon

feat(reference): implement task and goal resolvers (#859)
  packages/daemon/src/lib/agent/reference-resolver.ts
  packages/daemon/tests/unit/reference-resolver.test.ts
  packages/shared/src/types/reference.ts
Due: daemon

plan: fix model switching bugs (remove silent auto-recovery, fix RPC routing, DB source of truth) (#929)
  docs/plans/fix-model-switching-bugs-remove-silent-auto-recovery-fix-rpc.md
Due: none

test(online): add 30s timeout to message delivery tests
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
Due: none

fix(space): fix broken comment and remove stale advance_workflow online test
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
Due: daemon

fix(room): clear task restriction on stuck worker recovery after rate limit expiry
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-rate-limit-persistence.test.ts
Due: daemon

feat(space): remove advance() and replace with agent-driven progression (Task 3.5) (#933)
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/unit/space/space-runtime-edge-cases.test.ts
  packages/daemon/tests/unit/space/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/space/space-runtime-service.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
  packages/daemon/tests/unit/space/task-agent.test.ts
  packages/daemon/tests/unit/space/workflow-executor-multi-agent.test.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
  packages/daemon/tests/unit/space/workflow-iteration-loop.test.ts
Due: daemon
