Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

feat: propagate gate label/color/hasScript through semantic workflow graph
  packages/web/src/components/space/visual-editor/__tests__/semanticWorkflowGraph.test.ts
  packages/web/src/components/space/visual-editor/semanticWorkflowGraph.ts
Due: web, e2e-matrix

fix: address review feedback on gate script executor tests
  packages/daemon/tests/unit/space/gate-script-executor.test.ts
Due: none

feat(web): add badge label/color inputs and preview to GateEditorPanel
  packages/web/src/components/space/visual-editor/GateEditorPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/GateEditorPanel.test.tsx
Due: web, e2e-matrix

fix: prevent black gap between keyboard and app bottom on iPad/mobile
  packages/web/src/hooks/__tests__/useViewportSafety.test.ts
  packages/web/src/hooks/useViewportSafety.ts
  packages/web/src/islands/BottomTabBar.tsx
  packages/web/src/styles.css
Due: web, e2e-matrix

feat: migrate evaluateGate to async with script pre-check
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/gate-evaluator.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/space/gate-evaluator.test.ts
  packages/daemon/tests/unit/space/gate-types-and-schema.test.ts
Due: daemon

feat: add playwright built-in skills and chrome-devtools MCP default
  packages/daemon/src/lib/mcp/seed-defaults.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/mcp/seed-defaults.test.ts
  packages/daemon/tests/unit/skills-manager.test.ts
Due: daemon

fix: address review feedback — add chrome-devtools-mcp skill and update docs
  docs/features/skills.md
  packages/daemon/src/lib/mcp/seed-defaults.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/mcp/seed-defaults.test.ts
  packages/daemon/tests/unit/skills-manager.test.ts
Due: daemon

feat: add .claude/commands slash command files for playwright built-in skills
  .claude/commands/playwright-interactive.md
  .claude/commands/playwright.md
  .gitignore
  docs/features/skills.md
Due: none

fix: tighten .gitignore for .claude/ and fix playwright-interactive workspace path
  .claude/commands/playwright-interactive.md
  .gitignore
Due: none

feat(skills): rewrite playwright commands, embed in binary, add installSkillFromGit
  .claude/commands/playwright-interactive.md
  .claude/commands/playwright.md
  packages/cli/src/embedded-assets.d.ts
  packages/cli/src/prod-server-embedded.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/skill-handlers.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/skills-manager.test.ts
  packages/shared/src/types/skills.ts
  scripts/generate-embedded-assets.ts
Due: daemon

fix: address security and correctness review issues in installSkillFromGit
  docs/features/skills.md
  packages/daemon/src/lib/rpc-handlers/skill-handlers.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/skills-manager.test.ts
Due: daemon

feat(skills): move skill files to packages/skills/, embed and extract to ~/.neokai/skills/
  .claude/commands/playwright-interactive.md
  .claude/commands/playwright.md
  .gitignore
  docs/features/skills.md
  packages/cli/src/embedded-assets.d.ts
  packages/cli/src/prod-server-embedded.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/skills-manager.test.ts
  packages/skills/playwright-interactive/LICENSE.txt
  packages/skills/playwright-interactive/NOTICE.txt
  packages/skills/playwright-interactive/SKILL.md
  packages/skills/playwright-interactive/agents/openai.yaml
  packages/skills/playwright-interactive/assets/playwright-small.svg
  packages/skills/playwright-interactive/assets/playwright.png
  packages/skills/playwright/LICENSE.txt
  packages/skills/playwright/NOTICE.txt
  packages/skills/playwright/SKILL.md
  packages/skills/playwright/agents/openai.yaml
  packages/skills/playwright/assets/playwright-small.svg
  packages/skills/playwright/assets/playwright.png
  packages/skills/playwright/references/cli.md
  packages/skills/playwright/references/workflows.md
  packages/skills/playwright/scripts/playwright_cli.sh
  scripts/generate-embedded-assets.ts
Due: daemon

fix: address review feedback on GateEditorPanel badge UI
  packages/web/src/components/space/visual-editor/GateEditorPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/GateEditorPanel.test.tsx
Due: web, e2e-matrix

perf: fix N+1 queries and add missing DB indexes for room/task loading
  packages/daemon/src/lib/room/managers/room-manager.ts
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/src/storage/repositories/room-repository.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/room-manager.test.ts
  packages/daemon/tests/unit/room/room-repository.test.ts
  packages/daemon/tests/unit/storage/goal-repository-get-goals-for-task.test.ts
  packages/daemon/tests/unit/storage/session-repository.test.ts
Due: daemon

refactor: address review feedback — eliminate duplicate types, add TODO comments
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/gate-evaluator.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
Due: daemon

fix: address review feedback for keyboard gap fix
  packages/web/src/hooks/__tests__/useViewportSafety.test.ts
  packages/web/src/hooks/useViewportSafety.ts
  packages/web/src/styles.css
Due: web, e2e-matrix

fix(skills): sanitize GitHub API entry names and add depth/file count limits
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/skills-manager.test.ts
Due: daemon

fix: move BottomTabBar transition to base selector for bidirectional animation
  packages/web/src/styles.css
Due: web, e2e-matrix

fix: add validation error tests, SVG width, and extend TODO comment
  packages/web/src/components/space/visual-editor/GateEditorPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/GateEditorPanel.test.tsx
Due: web, e2e-matrix

fix: remove premature indexes from createIndexes, fix review feedback
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/tests/unit/room/room-repository.test.ts
Due: none

fix: add tableHasColumn guards to migration 72 for partial schema safety
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

fix: prevent black gap between keyboard and app bottom on iPad/mobile (#1200)
  packages/web/src/hooks/__tests__/useViewportSafety.test.ts
  packages/web/src/hooks/useViewportSafety.ts
  packages/web/src/islands/BottomTabBar.tsx
  packages/web/src/styles.css
Due: web, e2e-matrix

perf: fix N+1 queries and add missing DB indexes for room/task loading (#1203)
  packages/daemon/src/lib/room/managers/room-manager.ts
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/src/storage/repositories/room-repository.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/room-manager.test.ts
  packages/daemon/tests/unit/room/room-repository.test.ts
  packages/daemon/tests/unit/storage/goal-repository-get-goals-for-task.test.ts
  packages/daemon/tests/unit/storage/session-repository.test.ts
Due: daemon

docs: rewrite E2E guardian plan with adaptive discovery-only approach (#1195)
  docs/plans/dev-branch-e2e-tests-guardian-hourly.md
Due: none

docs: add E2E health check report for run #23904270931
  docs/e2e-health-check-log.md
Due: none

docs: fix E2E health check report per reviewer feedback
  docs/e2e-health-check-log.md
Due: none

fix: update neo-action-tools status values and stale comments for new schema
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/agent-liveness.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
Due: daemon

fix(tests): update online space tests for new status schema
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
  packages/daemon/tests/online/space/space-edge-cases.test.ts
  packages/daemon/tests/online/space/space-happy-path-code-review.test.ts
  packages/daemon/tests/online/space/space-happy-path-full-pipeline.test.ts
  packages/daemon/tests/online/space/space-happy-path-plan-to-approve.test.ts
  packages/daemon/tests/online/space/space-happy-path-qa-completion.test.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/online/space/task-agent-skills.test.ts
Due: none

fix: stale status comments + M72 transaction safety
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/workflow-run-status-machine.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

fix(runtime): restore per-node task filtering in channel router
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/tests/online/space/space-edge-cases.test.ts
  packages/daemon/tests/online/space/space-happy-path-code-review.test.ts
  packages/daemon/tests/online/space/space-happy-path-full-pipeline.test.ts
  packages/daemon/tests/online/space/space-happy-path-qa-completion.test.ts
Due: daemon

fix(runtime): use node.name for single-agent tasks, slot names for multi-agent
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
Due: daemon

fix(runtime): use agent slot names as task titles for multi-agent nodes
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
  packages/daemon/tests/online/space/space-happy-path-code-review.test.ts
  packages/daemon/tests/online/space/space-happy-path-qa-completion.test.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
Due: daemon

fix(migrations): add post-M72 guard to M51 to prevent status constraint failure on restart
  .devproxy/mocks.json
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

fix(tests): fix migration-51 test schemas and coordination test event kind
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-51_test.ts
Due: none

fix(migrations): update M51 guard comment from M72 to M73
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

docs: E2E health check report for CI run #23904270931
  docs/e2e-health-check-log.md
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
