Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, shared, web, cli, e2e-quick, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...80"
  status:
    project:
      default:
        target: auto
        threshold: 2%
        # Don't fail CI on coverage drops
        informational: true
    patch:
      default:
        target: 60%
        threshold: 5%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Ignore test files and fixtures
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
    carryforward: true
  shared:
    paths:
      - packages/shared/src/
    carryforward: true
  web:
    paths:
      - packages/web/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  e2e-quick:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
      - packages/web/src/
    carryforward: true
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: true

fix: improve reconnection-basic test reliability
  packages/e2e/tests/reconnection-basic.e2e.ts
Due: none

fix: resolve e2e test failures in reconnection and wait helpers
  packages/e2e/tests/helpers/wait-helpers.ts
  packages/e2e/tests/reconnection-basic.e2e.ts
  packages/e2e/tests/reconnection-cycles.e2e.ts
  packages/e2e/tests/reconnection-long-period.e2e.ts
  packages/e2e/tests/reconnection-order.e2e.ts
Due: none

fix: align rewind checkboxes with message bubble not toolbar
  Makefile
  packages/cli/src/dev-server.ts
  packages/web/src/components/sdk/SDKAssistantMessage.tsx
  packages/web/src/components/sdk/SDKMessageRenderer.tsx
  packages/web/src/components/sdk/SDKUserMessage.tsx
  packages/web/src/components/sdk/__tests__/SDKMessageRenderer.test.tsx
Due: web, cli, e2e-quick, e2e-matrix

fix: add missing data-message-uuid attribute in rewind mode
  packages/web/src/components/sdk/SDKAssistantMessage.tsx
  packages/web/src/components/sdk/SDKUserMessage.tsx
Due: web, e2e-quick, e2e-matrix

fix: update rewind mode test to match flex layout refactor
  packages/web/src/components/sdk/__tests__/SDKMessageRenderer.test.tsx
Due: none

test: add rewind mode coverage for assistant and user message components
  packages/web/src/components/sdk/__tests__/SDKAssistantMessage.test.tsx
  packages/web/src/components/sdk/__tests__/SDKUserMessage.test.tsx
Due: none

refactor: remove debug console.log/warn statements from web package
  packages/web/src/App.tsx
  packages/web/src/hooks/__tests__/useMessageHub.test.ts
  packages/web/src/hooks/useMessageHub.ts
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/Sidebar.tsx
  packages/web/src/lib/__tests__/aaa-reconnection-safari.test.ts
  packages/web/src/lib/__tests__/aaa-state.test.ts
  packages/web/src/lib/__tests__/connection-manager-comprehensive.test.ts
  packages/web/src/lib/__tests__/connection-manager-visibility.test.ts
  packages/web/src/lib/__tests__/global-store.test.ts
  packages/web/src/lib/__tests__/router.test.ts
  packages/web/src/lib/__tests__/state-channel-class.test.ts
  packages/web/src/lib/__tests__/state-channel.test.ts
  packages/web/src/lib/__tests__/state.test.ts
  packages/web/src/lib/connection-manager.ts
  packages/web/src/lib/global-store.ts
  packages/web/src/lib/router.ts
  packages/web/src/lib/session-store.ts
  packages/web/src/lib/state-channel.ts
  packages/web/src/lib/state.ts
Due: web, e2e-quick, e2e-matrix

Add CLAUDE.md, cleanup
  .github/workflows/main.yml
  CLAUDE.md
  Makefile
  package.json
  packages/daemon/tests/unit/setup.ts
  packages/e2e/package.json
  packages/web/TESTING_SAFARI_BACKGROUND.md
  packages/web/package.json
Due: none

Fix format.
  packages/daemon/tests/unit/setup.ts
Due: none

Update deps
  bun.lock
  package.json
  packages/cli/package.json
  packages/web/package.json
Due: none

test: cover renderCheckbox guard branches in rewind mode
  packages/web/src/components/sdk/__tests__/SDKAssistantMessage.test.tsx
  packages/web/src/components/sdk/__tests__/SDKUserMessage.test.tsx
Due: none

refactor: extract rewind checkbox rendering into shared function
  CLAUDE.md
  packages/web/src/components/sdk/RewindCheckbox.tsx
  packages/web/src/components/sdk/SDKAssistantMessage.tsx
  packages/web/src/components/sdk/SDKUserMessage.tsx
  packages/web/src/components/sdk/__tests__/RewindCheckbox.test.tsx
Due: web, e2e-quick, e2e-matrix

chore: bump version to 0.4.0
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/web/package.json
Due: none

fix: remove ESC key interrupt from web UI
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/__tests__/MessageInput.escape-key.test.tsx
  packages/web/src/hooks/__tests__/useInterrupt.test.ts
  packages/web/src/hooks/useInterrupt.ts
Due: web, e2e-quick, e2e-matrix

test: remove ESC key interrupt e2e tests
  packages/e2e/tests/interrupt-button.e2e.ts
Due: none

fix: correct pagination for subagent blocks and add message counter
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/tests/unit/storage/sdk-message-repository.test.ts
  packages/web/src/components/sdk/SubagentBlock.tsx
Due: daemon, web, e2e-quick, e2e-matrix

test: add coverage for subagent message fetching in getSDKMessages
  packages/daemon/tests/unit/storage/sdk-message-repository.test.ts
Due: none

style: fix formatting
  packages/daemon/tests/unit/storage/sdk-message-repository.test.ts
Due: none

refactor: improve test assertions in sandbox tests
  packages/daemon/tests/online/sandbox/sandbox-restriction.test.ts
Due: none

feat: enable sandboxing by default for all sessions
  SANDBOX_IMPLEMENTATION.md
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/online/sandbox/sandbox-restriction.test.ts
  packages/daemon/tests/unit/session/sandbox-default.test.ts
  packages/daemon/tests/unit/session/session-lifecycle.test.ts
Due: daemon, e2e-quick

feat: Add worktree choice UI for git repositories
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/worktree-manager.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/integration/session/two-stage-creation.test.ts
  packages/shared/src/api.ts
  packages/shared/src/types.ts
  packages/web/src/components/WorktreeChoiceInline.tsx
  packages/web/src/islands/ChatContainer.tsx
Due: daemon, shared, web, e2e-quick, e2e-matrix

fix: Remove useWorktree parameter for simpler API
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/integration/git/archive-session.test.ts
  packages/daemon/tests/unit/lib/rpc-handlers/session-handlers.test.ts
  packages/daemon/tests/unit/session/session-lifecycle.test.ts
  packages/shared/src/api.ts
Due: daemon, shared, e2e-quick

fix: Clean up GLM_API_KEY and ANTHROPIC_AUTH_TOKEN in tests
  packages/daemon/tests/unit/core/auth-manager.test.ts
  packages/daemon/tests/unit/core/env-manager.test.ts
  packages/daemon/tests/unit/providers/anthropic-provider.test.ts
  packages/daemon/tests/unit/session/sandbox-default.test.ts
  packages/daemon/tests/unit/session/session-lifecycle.test.ts
Due: none

test: Add unit tests for completeWorktreeChoice method
  packages/daemon/tests/unit/session/session-lifecycle.test.ts
Due: none

test: Add unit tests for session.setWorktreeMode RPC handler
  packages/daemon/tests/unit/lib/rpc-handlers/session-handlers.test.ts
Due: none

feat(daemon): convert SDK 'default' model ID to 'sonnet'
  packages/daemon/src/lib/model-service.ts
  packages/daemon/src/lib/providers/anthropic-provider.ts
Due: daemon, e2e-quick

feat(shared): add 'sonnet' as default model to DEFAULT_GLOBAL_SETTINGS
  packages/shared/src/types/settings.ts
Due: shared, e2e-quick

feat(daemon): use 'sonnet' as default model fallback
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
Due: daemon, e2e-quick

feat(web): use short model IDs in MODEL_OPTIONS
  packages/web/src/components/GlobalSettingsEditor.tsx
Due: web, e2e-quick, e2e-matrix

test(web): update test mocks to use short model IDs
  packages/web/src/components/__tests__/ContextUsageBar.test.tsx
  packages/web/src/components/__tests__/GlobalSettingsEditor.test.tsx
  packages/web/src/components/__tests__/SessionInfoModal.test.tsx
  packages/web/src/components/__tests__/SessionStatusBar.test.tsx
Due: none

perf(web): eliminate expensive COUNT query for pagination
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/__tests__/session-store-comprehensive.test.ts
  packages/web/src/lib/session-store.ts
Due: web, e2e-quick, e2e-matrix

fix(daemon): allow temp directory writes for shell operations
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/online/sandbox/sandbox-restriction.test.ts
  packages/daemon/tests/unit/session/sandbox-default.test.ts
  packages/daemon/tests/unit/session/session-lifecycle.test.ts
  packages/shared/src/types/settings.ts
Due: daemon, shared, e2e-quick

fix(shared): update sandbox network type definition
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/shared/src/types/settings.ts
Due: daemon, shared, e2e-quick

test(daemon): fix tests for new sandbox configuration
  bun.lock
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/session/sandbox-default.test.ts
  packages/daemon/tests/unit/session/session-lifecycle.test.ts
Due: daemon, e2e-quick

test(web): attempt to fix hasMoreMessages test mocking
  packages/web/src/lib/__tests__/session-store-comprehensive.test.ts
Due: none

style: fix formatting
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/session/sandbox-default.test.ts
  packages/shared/src/types/settings.ts
Due: shared, e2e-quick

fix(daemon): include default sandbox settings in test expectation
  packages/daemon/tests/integration/filesystem/settings-manager.test.ts
Due: none

fix(web): add missing test declaration in session-store test
  packages/web/src/lib/__tests__/session-store-comprehensive.test.ts
Due: none

fix(web): remove duplicate test and improve test isolation for hasMoreMessages
  packages/web/src/lib/__tests__/session-store-comprehensive.test.ts
Due: none

fix(web): reset initial message count when clearing session state
  packages/web/src/lib/session-store.ts
Due: web, e2e-quick, e2e-matrix
