Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix: remove dead inbox checks after early-return guard
  packages/web/src/islands/ContextPanel.tsx
Due: web, e2e-matrix

fix: correct indentation after removing inbox JSX block in ContextPanel
  packages/web/src/islands/ContextPanel.tsx
Due: web, e2e-matrix

feat: hide ContextPanel when inbox is active (Task 4.2) (#550)
  packages/web/src/islands/ContextPanel.tsx
Due: web, e2e-matrix

fix: remove premature task_agent_session_id index from migration 29
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

fix: remove premature task_agent_session_id index from migration 29 (#551)
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

docs: add plan for workflow iteration loop with agent-driven cyclic transitions
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/00-overview.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/01-task-result-condition-type.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/02-iteration-tracking.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/03-goal-id-on-space-task.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/04-update-seeded-coding-workflow.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/05-tests.md
Due: none

fix: address review feedback on workflow iteration loop plan
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/00-overview.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/01-task-result-condition-type.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/02-iteration-tracking.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/03-goal-id-on-space-task.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/04-update-seeded-coding-workflow.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/05-tests.md
Due: none

feat: auto-expand review TaskCards with Approve button and worker summary (Task 4.4)
  packages/daemon/src/lib/room/managers/room-manager.ts
  packages/shared/src/types/neo.ts
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
Due: daemon, web, e2e-matrix

style: fix Biome format issues in RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
Due: none

fix: remove stale sessions from RoomContextPanel on session delete/update
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/rpc/session-handlers.test.ts
  packages/web/src/lib/__tests__/room-store-session-events.test.ts
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

fix: address round 2 review feedback on workflow iteration loop plan
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/00-overview.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/01-task-result-condition-type.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/02-iteration-tracking.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/03-goal-id-on-space-task.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/04-update-seeded-coding-workflow.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/05-tests.md
Due: none

fix: address review feedback on session event broadcasting
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/rpc/session-handlers.test.ts
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

docs: add plan for task status lifecycle redesign (keep worktrees alive, add archived)
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/00-overview.md
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/01-shared-types-and-status-transitions.md
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/02-room-daemon-lifecycle.md
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/03-space-daemon-lifecycle.md
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/04-web-ui-updates.md
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/05-integration-and-e2e-tests.md
Due: none

test: remove duplicate session.delete room-channel broadcast test
  packages/daemon/tests/unit/rpc/session-handlers.test.ts
Due: none

fix: address round 3 review feedback on workflow iteration loop plan
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/00-overview.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/01-task-result-condition-type.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/02-iteration-tracking.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/03-goal-id-on-space-task.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/04-update-seeded-coding-workflow.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/05-tests.md
Due: none

docs: add plan to fix E2E test failures on dev branch CI
  docs/plans/fix-e2e-test-failures-on-dev-branch-ci.md
Due: none

feat: auto-expand review TaskCards with Approve button and worker summary (Task 4.4) (#553)
  packages/daemon/src/lib/room/managers/room-manager.ts
  packages/shared/src/types/neo.ts
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
Due: daemon, web, e2e-matrix

fix: address round 4 review feedback on workflow iteration loop plan
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/01-task-result-condition-type.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/02-iteration-tracking.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/05-tests.md
Due: none

fix: address all reviewer feedback on task lifecycle plan
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/00-overview.md
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/01-shared-types-and-status-transitions.md
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/02-room-daemon-lifecycle.md
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/03-space-daemon-lifecycle.md
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/04-web-ui-updates.md
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/05-integration-and-e2e-tests.md
Due: none

docs: address review feedback on E2E test failure plan
  docs/plans/fix-e2e-test-failures-on-dev-branch-ci.md
Due: none

fix: add isCyclic to exportedWorkflowTransitionSchema Zod schema
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/01-task-result-condition-type.md
Due: none

docs: fix navigateToSpace dual-file reference in Task 3
  docs/plans/fix-e2e-test-failures-on-dev-branch-ci.md
Due: none

docs: plan for workflow iteration loop with agent-driven cyclic transitions (#552)
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/00-overview.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/01-task-result-condition-type.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/02-iteration-tracking.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/03-goal-id-on-space-task.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/04-update-seeded-coding-workflow.md
  docs/plans/workflow-iteration-loop-agent-driven-cyclic-transitions-with/05-tests.md
Due: none

docs: plan to fix E2E test failures on dev branch CI (#556)
  docs/plans/fix-e2e-test-failures-on-dev-branch-ci.md
Due: none

fix: replace fixed sleep with Playwright auto-retrying assertion in worktree-isolation E2E test
  packages/e2e/tests/features/worktree-isolation.e2e.ts
Due: none

fix: rewrite task-actions-dropdown E2E tests to match actual inline button UI
  packages/e2e/tests/features/task-actions-dropdown.e2e.ts
Due: none

fix: update space-creation E2E test assertions to match actual tabbed UI
  packages/e2e/tests/features/space-creation.e2e.ts
Due: none

refactor: use room.get re-fetch instead of manual array splicing on session events
  packages/web/src/lib/__tests__/room-store-session-events.test.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

docs: plan for task status lifecycle redesign (#555)
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/00-overview.md
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/01-shared-types-and-status-transitions.md
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/02-room-daemon-lifecycle.md
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/03-space-daemon-lifecycle.md
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/04-web-ui-updates.md
  docs/plans/redesign-task-status-lifecycle-keep-worktrees-alive-add-arch/05-integration-and-e2e-tests.md
Due: none

feat: add ActionBar component and replace inline HeaderReviewBar in TaskView (Task 4.5)
  packages/web/src/components/room/HeaderReviewBar.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/ui/ActionBar.tsx
  packages/web/src/components/ui/__tests__/ActionBar.test.tsx
Due: web, e2e-matrix

feat: add goalId column to space_tasks and types (Task 3.1)
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/storage/space-task-repository.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: address review feedback on task-actions E2E tests
  packages/e2e/tests/features/task-actions-dropdown.e2e.ts
Due: none

fix: address review feedback on space-creation E2E test
  packages/e2e/tests/features/space-creation.e2e.ts
Due: none

fix: remove session.updated subscription to prevent draft-save RPC storm; add navigate-away on delete
  packages/web/src/lib/__tests__/room-store-session-events.test.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

chore: address review feedback — add migration 34 note and fix stale comment
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
Due: daemon

fix: address review feedback — optional chaining + error handling in HeaderReviewBar
  packages/web/src/components/room/HeaderReviewBar.tsx
  packages/web/src/components/room/TaskView.tsx
Due: web, e2e-matrix

docs: add plan for RoomContextPanel goal-centric sidebar redesign
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/00-overview.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/01-room-store-computed-signals.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/02-router-room-agent-url.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/03-roomcontextpanel-redesign.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/04-room-integration.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/05-unit-tests.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/06-e2e-tests.md
Due: none

feat: add goalId column to space_tasks and types (Task 3.1) (#561)
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/storage/space-task-repository.test.ts
  packages/shared/src/types/space.ts
Due: daemon

feat: add iteration tracking columns to DB and types (Task 2.1)
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/space/space-workflow.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-35-36_test.ts
  packages/daemon/tests/unit/storage/space-workflow-run-repository.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/lib/__tests__/space-store.test.ts
Due: daemon

fix: address review feedback — rebase on dev, required types, upgrade test
  packages/daemon/tests/unit/storage/migrations/migration-35-36_test.ts
Due: none
