Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

refactor: remove legacy inline gate system, unify on Gate entities
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/runtime/channel-gate-evaluator.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/channel-gate-evaluator.test.ts
  packages/daemon/tests/unit/space/channel-resolution.test.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/daemon/tests/unit/space/gate-migration.test.ts
  packages/daemon/tests/unit/space/node-agent-tools.test.ts
  packages/daemon/tests/unit/space/task-agent.test.ts
  packages/shared/src/mod.ts
  packages/shared/src/types/gate-migration.ts
  packages/shared/src/types/space-utils.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/ChannelEditor.tsx
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowList.tsx
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/__tests__/ChannelEditor.test.tsx
  packages/web/src/components/space/visual-editor/ChannelEdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/EdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/GateConfig.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/semanticWorkflowGraph.test.ts
  packages/web/src/components/space/visual-editor/legacy-condition-types.ts
  packages/web/src/components/space/visual-editor/semanticWorkflowGraph.ts
  packages/web/src/components/space/visual-editor/serialization.ts
  packages/web/src/components/space/visual-editor/types.ts
Due: daemon, web, e2e-matrix

refactor: redesign Gate type system to field-based schema
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/gate-evaluator.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/storage/repositories/gate-data-repository.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
  packages/daemon/tests/unit/space/gate-evaluator.test.ts
  packages/daemon/tests/unit/space/gate-types-and-schema.test.ts
  packages/daemon/tests/unit/space/node-agent-tools.test.ts
  packages/daemon/tests/unit/space/task-agent.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/WorkflowCanvas.tsx
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/__tests__/WorkflowCanvas.test.tsx
  packages/web/src/components/space/visual-editor/ChannelEdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/ChannelRelationConfigPanel.tsx
  packages/web/src/components/space/visual-editor/GateEditorPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/semanticWorkflowGraph.ts
Due: daemon, web, e2e-matrix

fix: reset gate-editor panelView to main when channel relation clears
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
Due: web, e2e-matrix

fix: wire Edit Gate button through panel-view navigation pattern
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/web/src/components/space/visual-editor/ChannelRelationConfigPanel.tsx
  packages/web/src/components/space/visual-editor/GateEditorPanel.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
Due: daemon, web, e2e-matrix

fix: use getHub() in WorkflowModelSelect to await connection
  packages/web/src/components/space/visual-editor/WorkflowModelSelect.tsx
Due: web, e2e-matrix

fix: improve WorkflowModelSelect states — no-providers feedback, remove confusing default
  packages/web/src/components/space/visual-editor/WorkflowModelSelect.tsx
Due: web, e2e-matrix

fix: resolve CI failures on PR #1157 (space task UX refactor)
  packages/daemon/tests/online/space/space-edge-cases.test.ts
  packages/daemon/tests/online/space/space-happy-path-full-pipeline.test.ts
  packages/daemon/tests/online/space/space-happy-path-qa-completion.test.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/web/src/components/space/WorkflowEditor.tsx
Due: web, e2e-matrix

fix: address review feedback — remove remaining dead iterationCount assertions
  packages/daemon/tests/online/space/space-edge-cases.test.ts
  packages/daemon/tests/online/space/space-happy-path-full-pipeline.test.ts
  packages/daemon/tests/online/space/space-happy-path-qa-completion.test.ts
Due: none

fix(tests): assert task agentName instead of title for reviewer nodes
  packages/daemon/tests/online/space/space-happy-path-code-review.test.ts
  packages/daemon/tests/online/space/space-happy-path-qa-completion.test.ts
Due: none

test(daemon): add unit tests for NEOKAI_PORT priority and PORT env var restoration
  packages/daemon/tests/unit/config.test.ts
  packages/daemon/tests/unit/provider-service-port-restore.test.ts
Due: none

fix: prevent PORT env var leak from killing parent daemon
  packages/daemon/src/config.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/provider-service.ts
Due: daemon

refactor: centralize PORT/NEOKAI_PORT clearing in provider-service + add NEOKAI_PORT
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/tests/unit/provider-service-port-restore.test.ts
Due: daemon

fix(tests): address reviewer feedback — broken test, integration coverage, consolidation
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/unit/config.test.ts
  packages/daemon/tests/unit/core/config.test.ts
  packages/daemon/tests/unit/core/provider-service.test.ts
Due: daemon

fix: drop PORT env var fallback from config — use NEOKAI_PORT only
  packages/daemon/src/config.ts
  packages/daemon/tests/unit/core/config.test.ts
Due: daemon

fix: prevent PORT env var leak from killing parent daemon (#1159)
  packages/daemon/src/config.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/tests/unit/core/config.test.ts
  packages/daemon/tests/unit/core/provider-service.test.ts
  packages/daemon/tests/unit/provider-service-port-restore.test.ts
Due: daemon

docs: add plan for end node workflow completion
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

docs: address review feedback on end-node workflow plan
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

docs: address second review feedback on end-node workflow plan
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

fix(daemon): resolve SDK startup timeout after cross-provider model switch (#1145)
  .github/workflows/main.yml
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
  packages/daemon/tests/online/convo/startup-timeout-no-retry.test.ts
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
  scripts/validate-online-test-matrix.sh
Due: daemon

docs: address iteration 3 review feedback on end-node workflow plan
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

docs: address iteration 4 review feedback on end-node workflow plan
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

docs: add plan to decouple daemon from single workspaceRoot
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/00-overview.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/01-shared-types-and-validation.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/02-room-creation-enforcement.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/03-eliminate-workspaceroot-fallbacks.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/04-room-update-defaultpath-propagation.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/05-make-daemon-workspaceroot-optional.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/06-test-coverage-and-e2e.md
Due: none

docs: add plan for goal lifecycle reset, stale planning invalidation, and isTerminal fix
  docs/plans/fix-goal-lifecycle-reset-invalidate-stale-planning-fix-ister.md
Due: none

docs: address iteration 5 review feedback on end-node workflow plan
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

docs(plan): address review feedback on workspace decoupling plan
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/00-overview.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/01-shared-types-and-validation.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/02-room-creation-enforcement.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/03-eliminate-workspaceroot-fallbacks.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/04-room-update-defaultpath-propagation.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/05-make-daemon-workspaceroot-optional.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/06-test-coverage-and-e2e.md
Due: none

docs: address review feedback on goal lifecycle plan
  docs/plans/fix-goal-lifecycle-reset-invalidate-stale-planning-fix-ister.md
Due: none

docs(plan): address round 2 review feedback
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/00-overview.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/02-room-creation-enforcement.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/03-eliminate-workspaceroot-fallbacks.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/04-room-update-defaultpath-propagation.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/05-make-daemon-workspaceroot-optional.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/06-test-coverage-and-e2e.md
Due: none

docs: address iteration 6 review feedback on end-node workflow plan
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

docs(plan): address round 3 review feedback
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/00-overview.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/01-shared-types-and-validation.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/02-room-creation-enforcement.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/03-eliminate-workspaceroot-fallbacks.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/04-room-update-defaultpath-propagation.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/05-make-daemon-workspaceroot-optional.md
Due: none

docs: address iteration 7 review feedback on end-node workflow plan
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

docs(plan): address round 4 review feedback
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/03-eliminate-workspaceroot-fallbacks.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/06-test-coverage-and-e2e.md
Due: none

docs: address iteration 8 review feedback on end-node workflow plan
  docs/plans/add-end-node-to-workflow-definition-for-deterministic-workfl.md
Due: none

docs(plan): address round 5 review feedback
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/00-overview.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/02-room-creation-enforcement.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/03-eliminate-workspaceroot-fallbacks.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/04-room-update-defaultpath-propagation.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/05-make-daemon-workspaceroot-optional.md
Due: none

docs(plan): address round 6 review feedback
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/02-room-creation-enforcement.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/03-eliminate-workspaceroot-fallbacks.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/04-room-update-defaultpath-propagation.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/05-make-daemon-workspaceroot-optional.md
Due: none

Plan: Fix goal lifecycle reset, invalidate stale planning, fix isTerminal (#1162)
  docs/plans/fix-goal-lifecycle-reset-invalidate-stale-planning-fix-ister.md
Due: none

docs(plan): address round 7 review feedback
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/03-eliminate-workspaceroot-fallbacks.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/04-room-update-defaultpath-propagation.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/05-make-daemon-workspaceroot-optional.md
Due: none

docs: add plan for fixing iPad Safari layout issues
  docs/plans/fix-ipad-safari-layout-header-behind-tabs-and-bottom-gap.md
Due: none

docs(plan): address round 8 review findings
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/02-room-creation-enforcement.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/03-eliminate-workspaceroot-fallbacks.md
  docs/plans/decouple-daemon-from-single-workspaceroot-make-rooms-fully-w/04-room-update-defaultpath-propagation.md
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
