Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix: update npm/neokai/package.json to version 0.6.1
  npm/neokai/package.json
Due: none

refactor(room): parallelize room recovery for faster startup
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
Due: daemon

feat: add PR mergeability check to leader submit_for_review gate
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/tests/unit/room/lifecycle-hooks.test.ts
Due: daemon

fix: correct GitHub API field name mergeStateStatus
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/tests/unit/room/lifecycle-hooks.test.ts
Due: daemon

fix: use correct mergeable string enum and remove dead code
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/tests/unit/room/lifecycle-hooks.test.ts
Due: daemon

docs: update plan to reflect Task 3 implementation in dev
  docs/plans/improve-kai-binary-configuration-and-developer-experience.md
Due: none

feat: enable sending messages to failed/cancelled tasks with auto-revive to review
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
Due: daemon

fix: address review feedback on failed-task revive feature
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
Due: daemon

feat: add dead loop detection to runtime gates
  packages/daemon/src/lib/room/runtime/dead-loop-detector.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/tests/unit/room/runtime/dead-loop-detector.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
Due: daemon

fix: address review feedback on dead loop detection
  packages/daemon/src/lib/room/runtime/dead-loop-detector.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/runtime/dead-loop-detector.test.ts
Due: daemon

refactor: convert agent prompt builders to template literals
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/agents/planner-agent.ts
Due: daemon

fix: restrict revive-to-review to failed tasks only; reject cancelled
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
Due: daemon

docs: add Goal V2 (Mission System) plan for autonomous agent workflows
  docs/plans/goal-v2.md
Due: none

docs: revise Goal V2 plan addressing review feedback
  docs/plans/goal-v2.md
Due: none

refactor: unify dead loop detection with recordAndCheckDeadLoop helper
  packages/daemon/src/lib/room/runtime/room-runtime.ts
Due: daemon

feat: add SDK sub-agents for worker and leader to avoid context overflow
  packages/daemon/src/lib/room/agents/coder-agent.ts
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/tests/unit/room/coder-agent.test.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
Due: daemon

feat: replace cancel button with dropdown menu for task completion/cancellation UX
  packages/e2e/tests/features/task-actions-dropdown.e2e.ts
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
Due: web, e2e-matrix

fix: use finally block to reset loading state in Complete/Cancel dialogs
  packages/web/src/components/room/TaskView.tsx
Due: web, e2e-matrix

refactor: remove handoff_to_worker no-op compatibility tool
  docs/design/room-runtime-spec.md
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
  packages/daemon/tests/unit/room/lifecycle-hooks.test.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/room/room-runtime-leader-tools.test.ts
Due: daemon

fix: address review feedback on handoff_to_worker removal
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

fix: bridge room events from DaemonHub to WebSocket clients in StateManager
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/unit/session/state-manager.test.ts
Due: daemon

fix: wrap recordGateFailure in a transaction to eliminate TOCTOU race
  packages/daemon/src/lib/room/state/session-group-repository.ts
Due: daemon

fix: resolve worker→leader routing bug where worker finishes first without triggering leader
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/room-runtime-recovery-safety.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
Due: daemon

feat: add lightweight interrupt for worker/leader sessions
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/ui/ConfirmModal.tsx
Due: daemon, web, e2e-matrix

feat: add built-in Tester sub-agent to coder and Explore support for planner
  packages/daemon/src/lib/room/agents/coder-agent.ts
  packages/daemon/src/lib/room/agents/planner-agent.ts
  packages/daemon/tests/unit/room/coder-agent.test.ts
  packages/daemon/tests/unit/room/planner-agent.test.ts
Due: daemon

fix: clear humanInterrupted in routeLeaderToWorker (P2 edge case fix)
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
Due: daemon

fix: address review feedback on stuck-worker recovery
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-recovery-safety.test.ts
Due: daemon

fix: pause task when worker/leader asks question instead of routing to next agent
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
Due: daemon

feat: consolidate SubagentConfig into shared types and add plan-writer sub-agent
  packages/daemon/src/lib/room/agents/coder-agent.ts
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/agents/planner-agent.ts
  packages/daemon/tests/unit/room/planner-agent.test.ts
  packages/shared/src/types/neo.ts
Due: daemon

fix: exclude waiting_for_input from stuck-worker recovery
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-recovery-safety.test.ts
Due: daemon

feat: add activeSession indicator to show agent activity in review tasks
  packages/daemon/src/lib/room/managers/room-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
  packages/daemon/tests/unit/storage/task-repository.test.ts
  packages/shared/src/types/neo.ts
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/components/room/TaskView.tsx
Due: daemon, web, e2e-matrix

fix: address review feedback on activeSession indicator
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
Due: daemon

fix: use resolveModelId/resolveProvider in buildLeaderHelperAgents for consistency with reviewers
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
Due: daemon

fix: restrict bypass marker detection to first line and fix leader gate loop
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/lifecycle-hooks.test.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
Due: daemon

feat: add bypass markers to allow workers to skip git/PR gates for research-only tasks
  packages/daemon/src/lib/room/agents/coder-agent.ts
  packages/daemon/src/lib/room/agents/general-agent.ts
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/lifecycle-hooks.test.ts
Due: daemon

fix: restrict bypass markers to coder/general roles and add structured bypassed field
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/lifecycle-hooks.test.ts
Due: daemon

fix: remove DOCUMENTATION_COMPLETE from bypass markers and use HookResult type
  packages/daemon/src/lib/room/agents/coder-agent.ts
  packages/daemon/src/lib/room/agents/general-agent.ts
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/lifecycle-hooks.test.ts
Due: daemon

fix: check last message for bypass marker and align coder-agent wording
  packages/daemon/src/lib/room/agents/coder-agent.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
Due: daemon

feat: add bypass markers to allow workers to skip git/PR gates for research-only tasks (#332)
  packages/daemon/src/lib/room/agents/coder-agent.ts
  packages/daemon/src/lib/room/agents/general-agent.ts
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/lifecycle-hooks.test.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
Due: daemon

fix: address review feedback on needs_attention rename
  docs/design/task-status-control-design.md
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/tests/unit/room/room-runtime-leader-tools.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
  packages/daemon/tests/unit/storage/task-repository.test.ts
  packages/web/src/components/room/RoomTasks.tsx
Due: daemon, web, e2e-matrix

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
