Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

test: extend timeout test with full reference-clearing assertions
  packages/daemon/tests/unit/agent/query-lifecycle-manager.test.ts
Due: none

fix: prevent planning tasks from getting stuck in unrecoverable states
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/tests/unit/room/room-runtime-planning-recovery.test.ts
  packages/daemon/tests/unit/room/room-runtime.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-28_test.ts
Due: daemon

fix: address review feedback — P0 double-fail, P1 timeout + null-safety, P2-3 improvements
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/tests/unit/room/room-runtime-planning-recovery.test.ts
Due: daemon

test: add timeout fallback coverage for processExitedPromise in stop() (#1395)
  packages/daemon/tests/unit/agent/query-lifecycle-manager.test.ts
Due: none

fix: prevent planning tasks from getting stuck in unrecoverable states (#1396)
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/tests/unit/room/room-runtime-planning-recovery.test.ts
  packages/daemon/tests/unit/room/room-runtime.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-28_test.ts
Due: daemon

refactor(space): Phase 1–8 partial — remove bidirectional/ResolvedChannel/node-instructions, add workflow instructions type, fix tests
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/space/agent-message-router.test.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/channel-resolution.test.ts
  packages/daemon/tests/unit/space/channel-resolver.test.ts
  packages/daemon/tests/unit/space/channel-router-async.test.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/daemon/tests/unit/space/node-agent-tools.test.ts
  packages/daemon/tests/unit/space/send-message-unified.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/space-workflow.test.ts
  packages/daemon/tests/unit/space/task-agent-collaboration.test.ts
  packages/daemon/tests/unit/space/task-agent.test.ts
Due: daemon

chore: rerun plan for mission detail page task creation
  docs/plans/add-dedicated-mission-detail-page-in-room-ui.md
Due: none

docs: address P1/P2 review feedback on mission detail plan
  docs/plans/add-dedicated-mission-detail-page-in-room-ui.md
Due: none

refactor(space): fix remaining test failures — remove resolveNodeChannels, suppress git hints, fix channel node names
  packages/daemon/src/lib/space/managers/space-worktree-manager.ts
  packages/daemon/tests/unit/space/agent-completion.test.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
  packages/daemon/tests/unit/space/space-worktree-manager.test.ts
  packages/daemon/tests/unit/space/workflow-executor-multi-agent.test.ts
Due: daemon

fix(space): use node name for fan-out channel to enable cyclic gate reset detection
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
Due: none

fix(space): fix unit tests broken by schema changes (node.instructions, direction, channel data)
  packages/daemon/tests/unit/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-53_test.ts
Due: none

fix(web): restore channel data in semanticWorkflowGraph tests
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/semanticWorkflowGraph.test.ts
Due: none

fix(web): restore stripped instructions/channels in test fixtures and fix serialization
  packages/web/src/components/space/__tests__/SpaceSettings.test.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowCanvas.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/layout.test.ts
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: web, e2e-matrix

fix(web): restore channels in WorkflowCanvas test fixtures
  packages/web/src/components/space/__tests__/WorkflowCanvas.test.tsx
Due: none

fix: explicitly delete all sessions in space-agent-coordination afterEach to prevent cascade failures
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
Due: none

fix(test): make task-agent-lifecycle tests 3 & 4 resilient to mock routing failures
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
Due: none

fix(web): suppress TLS certificate warnings in test output
  packages/web/vitest.setup.ts
Due: none

fix: address review feedback for TLS filter and mock diagnostics
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/web/vitest.setup.ts
Due: none

fix: suppress known teardown rejections in space online tests
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
Due: none

refactor: scope teardown rejection handler and extract to shared helper
  packages/daemon/tests/online/space/helpers/suppress-teardown-noise.ts
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
Due: none

fix: remove teardown guard and add suppression to all space test files
  packages/daemon/tests/online/space/helpers/suppress-teardown-noise.ts
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
  packages/daemon/tests/online/space/space-chat-session.test.ts
  packages/daemon/tests/online/space/space-edge-cases.test.ts
  packages/daemon/tests/online/space/space-happy-path-code-review.test.ts
  packages/daemon/tests/online/space/space-happy-path-full-pipeline.test.ts
  packages/daemon/tests/online/space/space-happy-path-plan-to-approve.test.ts
  packages/daemon/tests/online/space/space-happy-path-qa-completion.test.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/online/space/task-agent-skills.test.ts
Due: none

fix: add uncaughtException handler alongside unhandledRejection
  packages/daemon/tests/online/space/helpers/suppress-teardown-noise.ts
Due: none

fix: catch stale MCP transport error at source in query-runner
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/online/space/helpers/suppress-teardown-noise.ts
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
  packages/daemon/tests/online/space/space-chat-session.test.ts
  packages/daemon/tests/online/space/space-edge-cases.test.ts
  packages/daemon/tests/online/space/space-happy-path-code-review.test.ts
  packages/daemon/tests/online/space/space-happy-path-full-pipeline.test.ts
  packages/daemon/tests/online/space/space-happy-path-plan-to-approve.test.ts
  packages/daemon/tests/online/space/space-happy-path-qa-completion.test.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/online/space/task-agent-skills.test.ts
Due: daemon

fix: use --unhandled-rejections=none for daemon online tests in CI
  .github/workflows/main.yml
  packages/daemon/src/lib/agent/query-runner.ts
Due: daemon

Fix space overview and remove manual workflow trigger UI
  packages/e2e/tests/features/space-task-creation.e2e.ts
  packages/e2e/tests/features/space-task-fullwidth.e2e.ts
  packages/e2e/tests/features/visual-workflow-editor.e2e.ts
  packages/e2e/tests/helpers/workflow-editor-helpers.ts
  packages/web/src/components/space/SpaceDashboard.tsx
  packages/web/src/components/space/SpaceStartWorkflowDialog.tsx
  packages/web/src/components/space/WorkflowRunStartDialog.tsx
  packages/web/src/components/space/__tests__/SpaceDashboard.test.tsx
  packages/web/src/components/space/__tests__/SpaceStartWorkflowDialog.test.tsx
  packages/web/src/components/space/__tests__/WorkflowRunStartDialog.test.tsx
  packages/web/src/components/space/index.ts
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

Remove rules and channels editors from workflow UI
  packages/web/src/components/space/ChannelEditor.tsx
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowRulesEditor.tsx
  packages/web/src/components/space/__tests__/ChannelEditor.test.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/__tests__/WorkflowRulesEditor.test.tsx
  packages/web/src/components/space/index.ts
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: web, e2e-matrix

Refactor multi-agent node editor and slot prompt UX
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
Due: daemon, web, e2e-matrix

Move single-agent prompts into slide-in editor
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
Due: web, e2e-matrix

Unify prompt editor order and mode controls
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
Due: web, e2e-matrix

Refine full-cycle templates and add fullstack QA loop
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/e2e/tests/features/space-creation.e2e.ts
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/__tests__/fixtures/builtInTemplateWorkflows.ts
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
Due: daemon, web, e2e-matrix

Keep workflow editor open after save
  packages/web/src/components/space/SpaceConfigurePage.tsx
Due: web, e2e-matrix

Rename QA loop template to Coding with QA Workflow
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/e2e/tests/features/space-creation.e2e.ts
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/__tests__/fixtures/builtInTemplateWorkflows.ts
Due: daemon

refactor(space): runtime-driven workflow execution and lazy task agent
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/space/space-agent-tools.test.ts
  packages/daemon/tests/unit/space/space-chat-agent.test.ts
  packages/daemon/tests/unit/space/space-runtime-completion.test.ts
  packages/daemon/tests/unit/space/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/space/space-runtime-rehydration.test.ts
  packages/daemon/tests/unit/space/space-runtime-tick-loop.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
  packages/daemon/tests/unit/space/task-agent-session-lifecycle.test.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: daemon, web, e2e-matrix

refactor space runtime flow around single-task workflow runs
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/completion-detector.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/tests/unit/space/agent-completion.test.ts
  packages/daemon/tests/unit/space/completion-detector.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/send-message-unified.test.ts
  packages/daemon/tests/unit/space/space-agent-task-creation-flow.test.ts
  packages/daemon/tests/unit/space/space-agent-tools.test.ts
  packages/daemon/tests/unit/space/space-chat-agent.test.ts
  packages/daemon/tests/unit/space/space-runtime-completion.test.ts
  packages/daemon/tests/unit/space/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/space/space-runtime-rehydration.test.ts
  packages/daemon/tests/unit/space/space-runtime-tick-loop.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/space/task-agent.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

test(space): migrate task and messaging suites to node_executions
  packages/daemon/tests/unit/space/agent-message-router.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
  packages/daemon/tests/unit/space/node-agent-tools.test.ts
  packages/daemon/tests/unit/space/send-message-unified.test.ts
  packages/daemon/tests/unit/space/task-agent-collaboration.test.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
  packages/daemon/tests/unit/space/task-agent-session-lifecycle.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
Due: none

test(space): align channel router and workflow execution specs
  packages/daemon/tests/unit/space/channel-router-async.test.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
  packages/daemon/tests/unit/space/workflow-executor-multi-agent.test.ts
Due: none

test(space): stabilize global sink and runtime edge-case notifications
  packages/daemon/tests/unit/space/provision-global-agent.test.ts
  packages/daemon/tests/unit/space/space-runtime-edge-cases.test.ts
Due: none

test(web): align space UI tests with current workflow/thread behavior
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/WorkflowNodeCard.test.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: none

test(space): align online lifecycle/skills with node executions
  packages/daemon/src/lib/rpc-handlers/space-node-execution-handlers.ts
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/online/space/task-agent-skills.test.ts
  packages/daemon/tests/unit/rpc-handlers/space-workflow-run-handlers.test.ts
Due: daemon

test(daemon): stabilize db-query and undo unit suites
  packages/daemon/tests/unit/db-query/session-integration.test.ts
  packages/daemon/tests/unit/db-query/tools.test.ts
  packages/daemon/tests/unit/neo/neo-undo-tool.test.ts
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
