Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix: clear room signals in navigateToSession to prevent stale room view
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

fix: address PR #1386 review feedback — tab signal, agent cleanup, context reset (#1387)
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/__tests__/Room.test.tsx
  packages/web/src/lib/__tests__/navigate-to-room-tab-reset.test.ts
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

Fix space overview and remove manual workflow trigger UI
  packages/e2e/tests/features/space-task-creation.e2e.ts
  packages/e2e/tests/features/space-task-fullwidth.e2e.ts
  packages/e2e/tests/features/visual-workflow-editor.e2e.ts
  packages/e2e/tests/helpers/workflow-editor-helpers.ts
  packages/web/src/components/space/SpaceDashboard.tsx
  packages/web/src/components/space/SpaceStartWorkflowDialog.tsx
  packages/web/src/components/space/WorkflowRunStartDialog.tsx
  packages/web/src/components/space/__tests__/SpaceDashboard.test.tsx
  packages/web/src/components/space/__tests__/SpaceStartWorkflowDialog.test.tsx
  packages/web/src/components/space/__tests__/WorkflowRunStartDialog.test.tsx
  packages/web/src/components/space/index.ts
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

Refine full-cycle templates and add fullstack QA loop
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/e2e/tests/features/space-creation.e2e.ts
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/__tests__/fixtures/builtInTemplateWorkflows.ts
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
Due: daemon, web, e2e-matrix

Keep workflow editor open after save
  packages/web/src/components/space/SpaceConfigurePage.tsx
Due: web, e2e-matrix

Unify prompt editor order and mode controls
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
Due: web, e2e-matrix

Remove rules and channels editors from workflow UI
  packages/web/src/components/space/ChannelEditor.tsx
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowRulesEditor.tsx
  packages/web/src/components/space/__tests__/ChannelEditor.test.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/__tests__/WorkflowRulesEditor.test.tsx
  packages/web/src/components/space/index.ts
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: web, e2e-matrix

Move single-agent prompts into slide-in editor
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
Due: web, e2e-matrix

Refactor multi-agent node editor and slot prompt UX
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
Due: daemon, web, e2e-matrix

Rename QA loop template to Coding with QA Workflow
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/e2e/tests/features/space-creation.e2e.ts
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/__tests__/fixtures/builtInTemplateWorkflows.ts
Due: daemon

refactor space runtime flow around single-task workflow runs
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/completion-detector.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/tests/unit/space/agent-completion.test.ts
  packages/daemon/tests/unit/space/completion-detector.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/send-message-unified.test.ts
  packages/daemon/tests/unit/space/space-agent-task-creation-flow.test.ts
  packages/daemon/tests/unit/space/space-agent-tools.test.ts
  packages/daemon/tests/unit/space/space-chat-agent.test.ts
  packages/daemon/tests/unit/space/space-runtime-completion.test.ts
  packages/daemon/tests/unit/space/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/space/space-runtime-rehydration.test.ts
  packages/daemon/tests/unit/space/space-runtime-tick-loop.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/space/task-agent.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

refactor(space): runtime-driven workflow execution and lazy task agent
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/space/space-agent-tools.test.ts
  packages/daemon/tests/unit/space/space-chat-agent.test.ts
  packages/daemon/tests/unit/space/space-runtime-completion.test.ts
  packages/daemon/tests/unit/space/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/space/space-runtime-rehydration.test.ts
  packages/daemon/tests/unit/space/space-runtime-tick-loop.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
  packages/daemon/tests/unit/space/task-agent-session-lifecycle.test.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: daemon, web, e2e-matrix

test(space): migrate task and messaging suites to node_executions
  packages/daemon/tests/unit/space/agent-message-router.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
  packages/daemon/tests/unit/space/node-agent-tools.test.ts
  packages/daemon/tests/unit/space/send-message-unified.test.ts
  packages/daemon/tests/unit/space/task-agent-collaboration.test.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
  packages/daemon/tests/unit/space/task-agent-session-lifecycle.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
Due: none

test(space): align channel router and workflow execution specs
  packages/daemon/tests/unit/space/channel-router-async.test.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
  packages/daemon/tests/unit/space/workflow-executor-multi-agent.test.ts
Due: none

test(space): stabilize global sink and runtime edge-case notifications
  packages/daemon/tests/unit/space/provision-global-agent.test.ts
  packages/daemon/tests/unit/space/space-runtime-edge-cases.test.ts
Due: none

test(web): align space UI tests with current workflow/thread behavior
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/WorkflowNodeCard.test.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: none

test(space): align online lifecycle/skills with node executions
  packages/daemon/src/lib/rpc-handlers/space-node-execution-handlers.ts
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/online/space/task-agent-skills.test.ts
  packages/daemon/tests/unit/rpc-handlers/space-workflow-run-handlers.test.ts
Due: daemon

test(daemon): stabilize db-query and undo unit suites
  packages/daemon/tests/unit/db-query/session-integration.test.ts
  packages/daemon/tests/unit/db-query/tools.test.ts
  packages/daemon/tests/unit/neo/neo-undo-tool.test.ts
Due: none

test(space): stabilize online space suites with deterministic workflow fixture
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
  packages/daemon/tests/online/space/space-edge-cases.test.ts
  packages/daemon/tests/online/space/space-happy-path-code-review.test.ts
  packages/daemon/tests/online/space/space-happy-path-full-pipeline.test.ts
  packages/daemon/tests/online/space/space-happy-path-plan-to-approve.test.ts
  packages/daemon/tests/online/space/space-happy-path-qa-completion.test.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
Due: none

test: fix vote gate persistence test git worktree conflicts and missing Planning node activation
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
  packages/daemon/tests/online/space/space-edge-cases.test.ts
Due: none

test: add test-mode bypass for gate scripts and fix field names
  packages/daemon/src/lib/space/runtime/gate-script-executor.ts
  packages/daemon/tests/online/space/space-edge-cases.test.ts
Due: daemon

test: fix cancellation test to wait for Planning node activation
  packages/daemon/tests/online/space/space-edge-cases.test.ts
Due: none

fix(space): enforce node completion contract with runtime reminders
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

docs: add plan for dedicated Mission detail page in Room UI
  docs/plans/add-dedicated-mission-detail-page-in-room-ui.md
Due: none

fix(space): pass gate data to scripts without template-specific aliases
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/gate-script-executor.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/channel-router-async.test.ts
  packages/daemon/tests/unit/space/gate-script-executor.test.ts
Due: daemon

docs: address plan PR review feedback — signal clearing, back nav, E2E, timeline scope
  docs/plans/add-dedicated-mission-detail-page-in-room-ui.md
Due: none

fix: deterministic subprocess exit wait to prevent SDK startup timeout after model switch
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/unit/agent/query-lifecycle-manager.test.ts
  packages/daemon/tests/unit/agent/query-runner.test.ts
Due: daemon

Plan: Add dedicated Mission detail page in Room UI (#1390)
  docs/plans/add-dedicated-mission-detail-page-in-room-ui.md
Due: none

chore: placeholder commit to unblock task creation
  docs/plans/add-dedicated-mission-detail-page-in-room-ui.md
Due: none

fix(space): preserve node-agent mcp tools on sub-session startup
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

fix: revive in_progress tasks with no active group instead of blocking with misleading error
  packages/daemon/src/lib/room/runtime/human-message-routing.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/room/runtime/human-message-routing.test.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
  packages/daemon/tests/unit/rpc/task-handlers.test.ts
Due: daemon

fix: address review feedback — remove no-op rollback and add room-agent-tools tests
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
Due: daemon

fix(space): match gate writers by role aliases and preserve template slot roles
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/space/node-agent-tools.test.ts
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: daemon, web, e2e-matrix

fix: revive in_progress tasks with no active group instead of blocking (#1393)
  packages/daemon/src/lib/room/runtime/human-message-routing.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/runtime/human-message-routing.test.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
  packages/daemon/tests/unit/rpc/task-handlers.test.ts
Due: daemon

fix: address PR review feedback — reset() delay, constants, cleanup, defaultSpawn
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/unit/agent/query-runner.test.ts
Due: daemon

chore: placeholder commit to unblock task creation (#1392)
  docs/plans/add-dedicated-mission-detail-page-in-room-ui.md
Due: none

fix: snapshot processExitedPromise before interrupt() to fix race condition
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/unit/agent/query-lifecycle-manager.test.ts
Due: daemon

fix: deterministic subprocess exit wait to prevent SDK startup timeout after model switch (#1391)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/unit/agent/query-lifecycle-manager.test.ts
  packages/daemon/tests/unit/agent/query-runner.test.ts
Due: daemon

test: add timeout fallback coverage for processExitedPromise in stop()
  packages/daemon/tests/unit/agent/query-lifecycle-manager.test.ts
Due: none
