Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

feat(storage): add app_mcp_servers table, types, and repository
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/app-mcp-server-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/app-mcp-server-repository.test.ts
  packages/shared/src/mod.ts
  packages/shared/src/types.ts
  packages/shared/src/types/app-mcp-server.ts
Due: daemon

test(short-id): add backward compatibility unit tests for legacy rows (#813)
  packages/daemon/tests/unit/short-id/backward-compat.test.ts
Due: none

docs: add MCP architecture audit report (#816)
  docs/mcp-audit.md
Due: none

fix(web): add .catch() on clipboard writeText and test visual feedback
  packages/web/src/components/room/GoalsEditor.test.tsx
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/components/room/RoomTasks.tsx
Due: web, e2e-matrix

test(short-id): add online integration test for full short ID lifecycle
  .github/workflows/main.yml
  packages/daemon/tests/online/room/short-id-flow.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

fix(storage): address review feedback on AppMcpServerRepository
  packages/daemon/src/storage/repositories/app-mcp-server-repository.ts
  packages/daemon/tests/unit/storage/app-mcp-server-repository.test.ts
  packages/shared/src/types/app-mcp-server.ts
Due: daemon

fix(e2e): update tests for Task Agent virtual node presence
  packages/e2e/tests/features/room-sidebar-navigation.e2e.ts
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
  packages/e2e/tests/features/visual-workflow-editor.e2e.ts
Due: none

fix(e2e): address review feedback for Task Agent test fixes
  packages/e2e/tests/features/room-sidebar-navigation.e2e.ts
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
  packages/e2e/tests/features/visual-workflow-editor.e2e.ts
Due: none

fix(e2e): remove stale NOTE comments from tests 5 and 6
  packages/e2e/tests/features/visual-workflow-editor.e2e.ts
Due: none

refactor(test): address review feedback on short-id-flow online test
  .github/workflows/main.yml
  packages/daemon/tests/online/room/short-id-flow.test.ts
Due: none

feat(web): display short IDs in goals editor with click-to-copy badge (#817)
  packages/web/src/components/room/GoalsEditor.test.tsx
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/components/room/RoomTasks.tsx
Due: web, e2e-matrix

feat(storage): add app_mcp_servers table, types, and repository (#818)
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/app-mcp-server-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/app-mcp-server-repository.test.ts
  packages/shared/src/mod.ts
  packages/shared/src/types.ts
  packages/shared/src/types/app-mcp-server.ts
Due: daemon

test(short-id): add online integration test for full short ID lifecycle (#819)
  .github/workflows/main.yml
  packages/daemon/tests/online/room/short-id-flow.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

feat(mcp): add AppMcpLifecycleManager class and wire mcp.registry.listErrors RPC
  packages/daemon/src/app.ts
  packages/daemon/src/lib/mcp/app-mcp-lifecycle-manager.ts
  packages/daemon/src/lib/mcp/index.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/mcp-handlers.ts
  packages/daemon/tests/unit/mcp/app-mcp-lifecycle-manager.test.ts
Due: daemon

test(e2e): add short ID display and copy test; fix LiveQuery SQL missing short_id
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/e2e/tests/features/short-id-display.e2e.ts
Due: daemon

fix(mcp): reuse ValidationResult from @neokai/shared; add exhaustive check in convertEntry
  packages/daemon/src/lib/mcp/app-mcp-lifecycle-manager.ts
Due: daemon

test(e2e): add short ID display and copy test; fix LiveQuery SQL missing short_id (#821)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/e2e/tests/features/short-id-display.e2e.ts
Due: daemon

feat(mcp): add AppMcpLifecycleManager class and wire mcp.registry.listErrors RPC (#820)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/mcp/app-mcp-lifecycle-manager.ts
  packages/daemon/src/lib/mcp/index.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/mcp-handlers.ts
  packages/daemon/tests/unit/mcp/app-mcp-lifecycle-manager.test.ts
Due: daemon

feat(mcp): seed default fetch-mcp and brave-search entries on daemon startup
  packages/daemon/src/app.ts
  packages/daemon/src/lib/mcp/index.ts
  packages/daemon/src/lib/mcp/seed-defaults.ts
  packages/daemon/tests/unit/mcp/seed-defaults.test.ts
Due: daemon

fix(mcp): add env: {} to fetch-mcp seed entry for consistency with brave-search
  packages/daemon/src/lib/mcp/seed-defaults.ts
Due: daemon

feat(rpc): add MCP registry CRUD handlers and mcpServers.global LiveQuery
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/rpc-handlers/app-mcp-handlers.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/rpc/app-mcp-handlers.test.ts
  packages/shared/src/api.ts
Due: daemon

fix(rpc): address review feedback for MCP registry handlers
  packages/daemon/tests/unit/rpc/app-mcp-handlers.test.ts
Due: none

feat(mcp): seed default fetch-mcp and brave-search entries on daemon startup (#823)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/mcp/index.ts
  packages/daemon/src/lib/mcp/seed-defaults.ts
  packages/daemon/tests/unit/mcp/seed-defaults.test.ts
Due: daemon

fix(web): fix pre-existing test regressions in final regression pass
  packages/web/src/components/__tests__/ScrollToBottomButton.test.tsx
  packages/web/src/components/room/TaskViewV2.test.tsx
  packages/web/src/components/room/TaskViewV2.tsx
  packages/web/src/components/room/__tests__/RuntimeMessageRenderer.test.tsx
  packages/web/src/hooks/useTurnBlocks.ts
Due: web, e2e-matrix

fix(live-query): fix mcpServers.global invariant failures
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-handlers.test.ts
Due: daemon

feat(task): make rate/usage limits first-class task concerns with persistence and auto-retry (#809)
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/room-runtime-rate-limit-persistence.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/task-restrictions.test.ts
  packages/shared/src/types/neo.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/components/room/task-shared/TaskActionDialogs.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/lib/__tests__/room-store-computed-signals.test.ts
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

feat(task): make rate/usage limits first-class task concerns with persistence and auto-retry
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/room-runtime-rate-limit-persistence.test.ts
  packages/daemon/tests/unit/room/task-restrictions.test.ts
Due: daemon

fix(task): address review feedback for rate/usage limit first-class task concerns
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-rate-limit-persistence.test.ts
Due: daemon

feat(task): allow changing worker and leader model in task expand view
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/web/src/components/room/TaskInfoPanel.tsx
  packages/web/src/components/room/__tests__/TaskInfoPanel.test.tsx
Due: daemon, web, e2e-matrix

fix: address PR feedback - remove dead code and restore app_mcp_servers table
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/web/src/components/room/__tests__/TaskInfoPanel.test.tsx
Due: daemon

task/allow changing worker and leader model in task exp (#826)
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/task-restrictions.test.ts
  packages/web/src/components/room/TaskInfoPanel.tsx
  packages/web/src/components/room/__tests__/TaskInfoPanel.test.tsx
Due: daemon, web, e2e-matrix

fix(agent): always restart query when switching models mid-session
  packages/daemon/src/lib/agent/model-switch-handler.ts
  packages/daemon/tests/unit/agent/model-switch-handler.test.ts
Due: daemon

docs: Add Space V2 vs Room gap analysis
  docs/space-gap-analysis.md
Due: none

docs: correct Space gap analysis based on PR review feedback
  docs/space-gap-analysis.md
Due: none

docs: Space V2 vs Room Gap Analysis (#828)
  docs/space-gap-analysis.md
Due: none

fix(agent): always restart query when switching models mid-session (#827)
  packages/daemon/src/lib/agent/model-switch-handler.ts
  packages/daemon/tests/unit/agent/model-switch-handler.test.ts
Due: daemon

refactor(ui): reduce task list info density and update mobile room bottom nav
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/islands/BottomTabBar.tsx
Due: web, e2e-matrix

docs: System-wide @ referencing system plan
  docs/plans/system-wide-referencing-system/00-overview.md
  docs/plans/system-wide-referencing-system/01-core-types-and-rpc-infrastructure.md
  docs/plans/system-wide-referencing-system/02-frontend-autocomplete-menu.md
  docs/plans/system-wide-referencing-system/03-backend-reference-resolution.md
  docs/plans/system-wide-referencing-system/04-reference-token-rendering.md
  docs/plans/system-wide-referencing-system/05-e2e-testing.md
Due: none

refactor(ui): fix task list and mobile room nav issues from review
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/islands/__tests__/BottomTabBar.test.tsx
Due: web, e2e-matrix

fix(goal-handlers): resolve short task IDs to full UUIDs in task.approve
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/tests/unit/rpc-handlers/goal-handlers.test.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
