Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

feat: add room.tick job handler, enqueueRoomTick, and cancelPendingTickJobs
  packages/daemon/src/lib/job-handlers/room-tick.handler.ts
  packages/daemon/src/storage/repositories/job-queue-repository.ts
  packages/daemon/tests/unit/job-handlers/room-tick-handler.test.ts
Due: daemon

fix: address review feedback for room.tick handler
  packages/daemon/src/lib/job-handlers/room-tick.handler.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/tests/unit/job-handlers/room-tick-handler.test.ts
  packages/daemon/tests/unit/storage/job-queue-repository.test.ts
Due: daemon

fix: wire cancelPendingTickJobs on room delete and enqueueRoomTick on runtime restart
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
Due: daemon

fix: re-seed tick loop on room.runtime.resume and add pause-resume test
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/unit/job-handlers/room-tick-handler.test.ts
Due: daemon

fix: add notifyChange to task.updateDraft handler
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
Due: daemon

fix: eliminate dual-tick, cancel ticks on stop, and clean up test style
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/unit/job-handlers/room-tick-handler.test.ts
Due: daemon

feat: inject ReactiveDatabase into TaskManager and fire notifyChange after writes (#642)
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/room/goal-manager.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/daemon/tests/unit/room/task-manager-live-query.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
  packages/daemon/tests/unit/rpc-handlers/task-get-group-messages.test.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
  packages/daemon/tests/unit/rpc/task-handlers.test.ts
Due: daemon

feat: update visual workflow editor for multi-agent steps and channel topology (#637)
  packages/web/src/components/space/WorkflowStepCard.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: web, e2e-matrix

feat: add notifyChange to GoalRepository and wire through GoalManager
  packages/daemon/src/app.ts
  packages/daemon/src/lib/room/managers/goal-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/tests/helpers/database.ts
  packages/daemon/tests/unit/room/goal-manager-measurable.test.ts
  packages/daemon/tests/unit/room/goal-manager.test.ts
  packages/daemon/tests/unit/room/goal-repository-v2.test.ts
  packages/daemon/tests/unit/room/mission-system-edge-cases.test.ts
  packages/daemon/tests/unit/room/recurring-missions.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-manager.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/daemon/tests/unit/storage/database-facade.test.ts
  packages/daemon/tests/unit/storage/goal-repository-live-query.test.ts
  packages/daemon/tests/unit/storage/live-query-integration.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-28_test.ts
  packages/daemon/tests/unit/storage/reactive-database.test.ts
Due: daemon

style: fix formatting in goal-repository-live-query test
  packages/daemon/tests/unit/storage/goal-repository-live-query.test.ts
Due: none

test: switch goal-repository live-query test to in-memory SQLite
  packages/daemon/tests/unit/storage/goal-repository-live-query.test.ts
Due: none

refactor: address review feedback on notifyChange PR
  packages/daemon/src/storage/reactive-database.ts
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/tests/helpers/reactive-database.ts
  packages/daemon/tests/unit/room/goal-manager-measurable.test.ts
  packages/daemon/tests/unit/room/goal-manager.test.ts
  packages/daemon/tests/unit/room/goal-repository-v2.test.ts
  packages/daemon/tests/unit/room/mission-system-edge-cases.test.ts
  packages/daemon/tests/unit/room/recurring-missions.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-28_test.ts
Due: daemon

feat: add room.tick job handler, enqueueRoomTick, and cancelPendingTickJobs (#634)
  packages/daemon/src/lib/job-handlers/room-tick.handler.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/src/storage/repositories/job-queue-repository.ts
  packages/daemon/tests/unit/job-handlers/room-tick-handler.test.ts
  packages/daemon/tests/unit/storage/job-queue-repository.test.ts
Due: daemon

feat: add notifyChange to GoalRepository and wire through GoalManager (#641)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/room/managers/goal-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/reactive-database.ts
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/tests/helpers/database.ts
  packages/daemon/tests/helpers/reactive-database.ts
  packages/daemon/tests/unit/room/goal-manager-measurable.test.ts
  packages/daemon/tests/unit/room/goal-manager.test.ts
  packages/daemon/tests/unit/room/goal-repository-v2.test.ts
  packages/daemon/tests/unit/room/mission-system-edge-cases.test.ts
  packages/daemon/tests/unit/room/recurring-missions.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-manager.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/daemon/tests/unit/storage/database-facade.test.ts
  packages/daemon/tests/unit/storage/goal-repository-live-query.test.ts
  packages/daemon/tests/unit/storage/live-query-integration.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-28_test.ts
  packages/daemon/tests/unit/storage/reactive-database.test.ts
Due: daemon

test: add E2E tests for multi-agent step editor and channel topology
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
Due: none

feat: add sub-session members to session groups in TaskAgentManager
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
Due: daemon

fix: session.error handler sets fired=true and self-unsubscribes; use getMemberCount for orderIndex
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/space-session-group-repository.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

feat: rehydrate group map on daemon restart via dedicated rehydrateGroupMaps() (#639)
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/space-session-group-repository.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

feat: add sub-session members to groups (Task 2.2) (#638)
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-session-group-repository.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
Due: daemon

fix: address review feedback on SessionManager.start() and tests
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/session/session-manager.test.ts
Due: daemon

feat: wire session title handler into SessionManager and remove pendingBackgroundTasks
  packages/daemon/src/app.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/session/session-manager.test.ts
Due: daemon

refactor: address review feedback on multi-agent editor E2E test
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
  packages/e2e/tests/features/visual-workflow-editor.e2e.ts
  packages/e2e/tests/helpers/workflow-editor-helpers.ts
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
Due: web, e2e-matrix

feat: wire session title handler into SessionManager and remove pendingBackgroundTasks (#640)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/session/session-manager.test.ts
Due: daemon

feat: remove setInterval from GitHubPollingService and wire handler into GitHubService
  packages/daemon/src/app.ts
  packages/daemon/src/lib/github/github-service.ts
  packages/daemon/src/lib/github/polling-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/tests/unit/github/github-service-polling.test.ts
Due: daemon

fix: address P2 review feedback on setInterval removal
  packages/daemon/src/lib/github/github-service.ts
  packages/daemon/src/lib/job-handlers/github-poll.handler.ts
  packages/daemon/tests/unit/github/github-service-polling.test.ts
  packages/daemon/tests/unit/job-handlers/github-poll-handler.test.ts
Due: daemon

test: add E2E tests for multi-agent step editor and channel topology (#645)
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
  packages/e2e/tests/features/visual-workflow-editor.e2e.ts
  packages/e2e/tests/helpers/workflow-editor-helpers.ts
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
Due: web, e2e-matrix

feat: replace setInterval/queueMicrotask with job queue in RoomRuntime
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/room-runtime.test.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
Due: daemon

test: add online test for session title generation via job queue
  packages/daemon/tests/online/lifecycle/session-title-job.test.ts
Due: none

feat: emit session group events via DaemonHub (Task 2.3)
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

feat: remove setInterval from GitHubPollingService and wire handler into GitHubService (#644)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/github/github-service.ts
  packages/daemon/src/lib/github/polling-service.ts
  packages/daemon/src/lib/job-handlers/github-poll.handler.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/tests/unit/github/github-service-polling.test.ts
  packages/daemon/tests/unit/job-handlers/github-poll-handler.test.ts
Due: daemon

feat: add notifyChange to SessionGroupRepository
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/storage/reactive-database.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/session-group-repository-reactive.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

fix: restore real SQLite transactions in SessionGroupRepository
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/tests/unit/room/session-group-repository-reactive.test.ts
Due: daemon

fix: use two-param constructor for SessionGroupRepository to fix CI
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/session-group-repository-reactive.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

fix: address P1 review feedback for session-title-job online test
  packages/daemon/tests/online/lifecycle/session-title-job.test.ts
Due: none

fix: address review feedback on session group event emission
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

feat: add notifyChange to SessionGroupRepository (#643)
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/storage/reactive-database.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/session-group-repository-reactive.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

test: add online test for GitHub polling via job queue
  packages/daemon/src/lib/job-handlers/github-poll.handler.ts
  packages/daemon/tests/online/features/github-poll-job.test.ts
  packages/daemon/tests/unit/job-handlers/github-poll-handler.test.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
