Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix(web): bind task auto-target to thread scroller
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
Due: web, e2e-matrix

test(web): add nodeExecutions signal to TaskArtifactsPanel mocks
  packages/web/src/components/space/__tests__/TaskArtifactsPanel.test.tsx
Due: none

fix(space): address review feedback on Active-tab parity
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/lib/__tests__/task-filters.test.ts
Due: web, e2e-matrix

[codex] Target workflow agents from task composer (#1660)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/web/src/components/ChatComposer.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/TaskSessionChatComposer.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.mention.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/__tests__/TaskArtifactsPanel.test.tsx
  packages/web/src/components/space/__tests__/TaskSessionChatComposer.test.tsx
  packages/web/src/hooks/__tests__/useInputDraft.test.ts
  packages/web/src/hooks/useInputDraft.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix(daemon): preserve in-process MCP servers across runtime mutations (Task #140)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/neo/tools/neo-tools-server.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-all-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-query-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-integration-cross-system.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-integration-session-recovery.test.ts
  packages/daemon/tests/unit/2-handlers/db-query/session-integration.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-service-mcp.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-service-worker-mcp.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/config-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/neo-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
Due: daemon

fix(daemon): preserve in-process MCP servers across runtime mutations (Task #140) (#1664)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/neo/tools/neo-tools-server.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-all-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-query-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-integration-cross-system.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-integration-session-recovery.test.ts
  packages/daemon/tests/unit/2-handlers/db-query/session-integration.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-service-mcp.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-service-worker-mcp.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/config-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/neo-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
Due: daemon

fix(space): unify Active-tab filter between sidebar and tasks view (#1662)
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
  packages/web/src/lib/__tests__/task-filters.test.ts
  packages/web/src/lib/task-filters.ts
Due: web, e2e-matrix

fix(space): re-enable lazy-activation on stranded executions and clickable not-started entries (Task #139)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/web/src/components/space/PendingAgentOverlay.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/PendingAgentOverlay.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix(space): address review observations for lazy-activation PR
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/web/src/components/space/PendingAgentOverlay.tsx
  packages/web/src/components/space/__tests__/PendingAgentOverlay.test.tsx
  packages/web/src/lib/router.ts
Due: daemon, web, e2e-matrix

test(daemon): add status-guard tests for activateNodeAgent RPC
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
Due: none

fix: usage.input_tokens crash on bridge providers + upgrade copilot-sdk to 0.3.0
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/lib/providers/anthropic-copilot/conversation.ts
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/translator.ts
  packages/web/src/components/sdk/SDKResultMessage.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
Due: daemon, web, e2e-matrix

test: add coverage for null-safety fixes and usage field forwarding
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/translator.test.ts
  packages/web/src/components/sdk/__tests__/SDKResultMessage.test.tsx
  packages/web/src/components/space/__tests__/space-task-thread-events.test.ts
Due: none

fix: usage.input_tokens crash on bridge providers + upgrade copilot-sdk (#1665)
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/lib/providers/anthropic-copilot/conversation.ts
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/translator.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/translator.test.ts
  packages/web/src/components/sdk/SDKResultMessage.tsx
  packages/web/src/components/sdk/__tests__/SDKResultMessage.test.tsx
  packages/web/src/components/space/__tests__/space-task-thread-events.test.ts
  packages/web/src/components/space/thread/space-task-thread-events.ts
Due: daemon, web, e2e-matrix

fix(space): lazy-activate stranded executions and clickable not-started entries (Task #139) (#1663)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/web/src/components/space/PendingAgentOverlay.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/PendingAgentOverlay.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

review(daemon): clarify orphan-question contracts and add Part C test coverage
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/ask-user-question-handler.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/agent/ask-user-question-handler.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-orphan-question.test.ts
  packages/shared/src/state-types.ts
Due: daemon

fix(codex-bridge): add stub endpoints to prevent SDK "model not found" error
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/translator.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

fix(codex-bridge): add stub endpoints to prevent SDK "model not found" error (#1666)
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/translator.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

fix(daemon): normalize usage on BetaMessages to prevent SDK crash
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/agent/sdk-message-handler.test.ts
Due: daemon

fix(daemon): make AskUserQuestion survive daemon restart and clean up dead sessions (#1659)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/ask-user-question-handler.ts
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/agent/ask-user-question-handler.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-orphan-question.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-tick-loop.test.ts
  packages/shared/src/state-types.ts
  packages/web/src/components/QuestionPrompt.tsx
  packages/web/src/components/__tests__/QuestionPrompt.test.tsx
  packages/web/src/components/sdk/SDKAssistantMessage.tsx
Due: daemon, web, e2e-matrix

fix(space): skip redundant merge approval when human already approved
  packages/daemon/src/lib/space/workflows/post-approval-merge-template.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
Due: daemon

fix(space): use != "human" instead of == "auto" for approval_source check
  packages/daemon/src/lib/space/workflows/post-approval-merge-template.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
Due: daemon

fix(space): update stale file header comment for approval_source values
  packages/daemon/src/lib/space/workflows/post-approval-merge-template.ts
Due: daemon

fix(space): remove "run tests" from reviewer prompt (gate already requires CI)
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
Due: daemon

fix(space): skip redundant merge approval when human already approved (#1668)
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/lib/space/workflows/post-approval-merge-template.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
Due: daemon

fix(space): prevent silent message drop + tighten matcher in task-composer target picker
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix: use null as canonical clear sentinel for inputDraft
  packages/daemon/src/lib/session/session-manager.ts
  packages/shared/src/types.ts
Due: daemon

fix(space): prevent silent message drop + tighten matcher in task-composer target picker (Task #143) (#1669)
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/shared/src/types.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix(daemon): normalize usage on BetaMessages to prevent SDK crash (#1667)
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/agent/sdk-message-handler.test.ts
Due: daemon

fix(space): drop bogus sessionId filter from session.created/deleted subs (#1658)
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
Due: daemon

fix(daemon,web): guard sub-session MCP servers from member-sweep overwrite + replace PendingAgentOverlay with ChatContainer
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/web/src/components/space/AgentOverlayChat.tsx
  packages/web/src/components/space/PendingAgentOverlay.tsx
  packages/web/src/components/space/__tests__/PendingAgentOverlay.test.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/lib/router.ts
Due: daemon, web, e2e-matrix

Address review findings: add sub-session guard tests, pending-agent tests, aria-label
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/__tests__/ChatContainer.test.ts
Due: web, e2e-matrix

fix(daemon): add P1-5 MCP self-heal catcher in QueryRunner.start()
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
Due: daemon

fix(daemon): fix P1-5 self-heal false-positive throw (reviewer feedback)
  packages/daemon/src/lib/agent/query-runner.ts
Due: daemon

fix: guard sub-session MCP servers + replace PendingAgentOverlay (#1670)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
  packages/web/src/components/space/AgentOverlayChat.tsx
  packages/web/src/components/space/PendingAgentOverlay.tsx
  packages/web/src/components/space/__tests__/PendingAgentOverlay.test.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/ChatContainer.test.ts
  packages/web/src/lib/router.ts
Due: daemon, web, e2e-matrix

fix copilot early error handling
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/providers/anthropic-copilot/sse.ts
  packages/daemon/src/lib/providers/anthropic-copilot/streaming.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/streaming.test.ts
Due: daemon

Fix Codex provider model routing
  docs/providers/anthropic-codex-setup.md
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/providers/context-manager.ts
  packages/daemon/src/lib/room/agents/cli-agent-registry.ts
  packages/daemon/tests/unit/1-core/core/provider-service.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

Fix Codex provider model routing
  docs/providers/anthropic-codex-setup.md
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/providers/context-manager.ts
  packages/daemon/src/lib/room/agents/cli-agent-registry.ts
  packages/daemon/tests/unit/1-core/core/provider-service.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
  packages/daemon/tests/unit/1-core/providers/context-manager.test.ts
Due: daemon

test: fix copilot bridge ci expectations
  packages/daemon/tests/online/lifecycle/session-resume.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/server.test.ts
Due: none

fix copilot early error handling (#1673)
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/providers/anthropic-copilot/sse.ts
  packages/daemon/src/lib/providers/anthropic-copilot/streaming.ts
  packages/daemon/tests/online/lifecycle/session-resume.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/server.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/streaming.test.ts
Due: daemon

[codex] Fix Codex provider model routing (#1674)
  docs/providers/anthropic-codex-setup.md
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/providers/context-manager.ts
  packages/daemon/src/lib/room/agents/cli-agent-registry.ts
  packages/daemon/tests/unit/1-core/core/provider-service.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
  packages/daemon/tests/unit/1-core/providers/context-manager.test.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
