Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

test: enhance SlideOutPanel and ReadonlySessionChat unit tests
  packages/web/src/components/room/__tests__/SlideOutPanel.test.tsx
Due: none

fix: prevent isLoadingOlder stuck state and improve E2E test reliability
  packages/e2e/tests/features/task-message-pagination.e2e.ts
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: web, e2e-matrix

test: fix isConnected mock and add disconnected guard tests
  packages/web/src/components/room/__tests__/SlideOutPanel.test.tsx
Due: none

fix: prevent isLoadingOlder stuck when scroll container null at click time
  packages/e2e/tests/features/task-message-pagination.e2e.ts
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: web, e2e-matrix

test: unit tests for ReadonlySessionChat and SlideOutPanel (#741)
  packages/web/src/components/room/__tests__/SlideOutPanel.test.tsx
Due: none

fix: reset isLoadingOlder on conversation remount in TaskView
  packages/web/src/components/room/TaskView.tsx
Due: web, e2e-matrix

fix: address P1/P2 reviewer feedback on task-shared extraction
  packages/web/src/components/room/TaskConversationRenderer.tsx
  packages/web/src/components/room/task-shared/__tests__/HumanInputArea.test.tsx
  packages/web/src/hooks/__tests__/useTaskViewData.test.ts
  packages/web/src/hooks/useTaskViewData.ts
Due: web, e2e-matrix

feat: extract shared hooks, sub-components, constants from TaskView/TaskConversationRenderer (#740)
  packages/web/src/components/room/TaskConversationRenderer.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/room/task-shared/HumanInputArea.tsx
  packages/web/src/components/room/task-shared/TaskActionDialogs.tsx
  packages/web/src/components/room/task-shared/TaskHeaderActions.tsx
  packages/web/src/components/room/task-shared/TaskReviewBar.tsx
  packages/web/src/components/room/task-shared/__tests__/HumanInputArea.test.tsx
  packages/web/src/components/room/task-shared/__tests__/TaskActionDialogs.test.tsx
  packages/web/src/components/room/task-shared/__tests__/TaskHeaderActions.test.tsx
  packages/web/src/components/room/task-shared/__tests__/TaskReviewBar.test.tsx
  packages/web/src/hooks/__tests__/useTaskViewData.test.ts
  packages/web/src/hooks/useTaskViewData.ts
  packages/web/src/lib/parse-group-message.ts
  packages/web/src/lib/task-constants.ts
Due: web, e2e-matrix

feat: define TurnBlock types and implement useTurnBlocks hook
  packages/web/src/hooks/__tests__/useTurnBlocks.test.ts
  packages/web/src/hooks/useTurnBlocks.ts
Due: web, e2e-matrix

fix: address review feedback on useTurnBlocks hook
  packages/web/src/hooks/__tests__/useTurnBlocks.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useTurnBlocks.ts
Due: web, e2e-matrix

feat: define TurnBlock types and implement useTurnBlocks hook (#742)
  packages/web/src/hooks/__tests__/useTurnBlocks.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useTurnBlocks.ts
Due: web, e2e-matrix

test: add real-time delta tests for useTurnBlocks
  packages/web/src/hooks/__tests__/useTurnBlocks.test.ts
Due: none

feat: implement TurnSummaryBlock component with unit tests
  packages/web/src/components/room/TurnSummaryBlock.tsx
  packages/web/src/components/room/__tests__/TurnSummaryBlock.test.tsx
  packages/web/src/components/room/index.ts
Due: web, e2e-matrix

test: address review feedback on useTurnBlocks delta tests
  packages/web/src/hooks/__tests__/useTurnBlocks.test.ts
Due: none

fix: address PR review feedback on TurnSummaryBlock
  packages/web/src/components/room/TurnSummaryBlock.tsx
  packages/web/src/components/room/__tests__/TurnSummaryBlock.test.tsx
  packages/web/src/components/room/index.ts
Due: web, e2e-matrix

test: add real-time delta tests for useTurnBlocks (#743)
  packages/web/src/hooks/__tests__/useTurnBlocks.test.ts
Due: none

feat: implement TurnSummaryBlock component (#744)
  packages/web/src/components/room/TurnSummaryBlock.tsx
  packages/web/src/components/room/__tests__/TurnSummaryBlock.test.tsx
  packages/web/src/components/room/index.ts
Due: web, e2e-matrix

feat: implement RuntimeMessageRenderer component with unit tests
  packages/web/src/components/room/RuntimeMessageRenderer.tsx
  packages/web/src/components/room/__tests__/RuntimeMessageRenderer.test.tsx
Due: web, e2e-matrix

fix: remove duplicate resetsAt display, add missing test coverage, export from index
  packages/web/src/components/room/RuntimeMessageRenderer.tsx
  packages/web/src/components/room/__tests__/RuntimeMessageRenderer.test.tsx
  packages/web/src/components/room/index.ts
Due: web, e2e-matrix

test: add unit tests for TurnSummaryBlock component
  packages/web/src/components/room/__tests__/TurnSummaryBlock.test.tsx
Due: none

feat: implement RuntimeMessageRenderer component with unit tests (#745)
  packages/web/src/components/room/RuntimeMessageRenderer.tsx
  packages/web/src/components/room/__tests__/RuntimeMessageRenderer.test.tsx
  packages/web/src/components/room/index.ts
Due: web, e2e-matrix

test: address review feedback on TurnSummaryBlock tests
  packages/web/src/components/room/__tests__/TurnSummaryBlock.test.tsx
Due: none

test: unit tests for TurnSummaryBlock component (#746)
  packages/web/src/components/room/__tests__/TurnSummaryBlock.test.tsx
Due: none

feat: implement TaskViewV2 component with turn-based conversation view
  packages/web/src/components/room/TaskViewV2.test.tsx
  packages/web/src/components/room/TaskViewV2.tsx
  packages/web/src/components/room/index.ts
Due: web, e2e-matrix

feat: count subagent blocks as 1 pagination unit to prevent block splits
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/web/src/hooks/__tests__/useGroupMessages.test.ts
  packages/web/src/hooks/useGroupMessages.ts
Due: daemon, web, e2e-matrix

fix: anchor visible window by boundary identity when delta-added messages sort into hidden region
  packages/web/src/hooks/__tests__/useGroupMessages.test.ts
  packages/web/src/hooks/useGroupMessages.ts
Due: web, e2e-matrix

fix: guard against out-of-bounds access in delta removed+added path
  packages/web/src/hooks/__tests__/useGroupMessages.test.ts
  packages/web/src/hooks/useGroupMessages.ts
Due: web, e2e-matrix

fix: address PR #747 review feedback
  packages/web/src/components/room/TaskViewV2.test.tsx
  packages/web/src/components/room/TaskViewV2.tsx
  packages/web/src/components/room/__tests__/TurnSummaryBlock.test.tsx
  packages/web/src/lib/task-constants.ts
Due: web, e2e-matrix

feat: add client-side pagination to TaskView message list (#738)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/e2e/tests/features/task-message-pagination.e2e.ts
  packages/web/src/components/room/TaskConversationRenderer.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/hooks/__tests__/useGroupMessages.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useGroupMessages.ts
Due: daemon, web, e2e-matrix

feat: implement TaskViewV2 component with turn-based conversation view (#747)
  packages/web/src/components/room/TaskViewV2.test.tsx
  packages/web/src/components/room/TaskViewV2.tsx
  packages/web/src/components/room/index.ts
  packages/web/src/lib/task-constants.ts
Due: web, e2e-matrix

feat: implement TaskViewToggle and integrate into Room.tsx
  packages/web/src/components/room/TaskViewToggle.tsx
  packages/web/src/components/room/__tests__/TaskViewToggle.test.tsx
  packages/web/src/islands/Room.tsx
Due: web, e2e-matrix

feat: implement TaskViewToggle and integrate into Room.tsx (#748)
  packages/web/src/components/room/TaskViewToggle.tsx
  packages/web/src/components/room/__tests__/TaskViewToggle.test.tsx
  packages/web/src/islands/Room.tsx
Due: web, e2e-matrix

test: E2E tests for TaskViewV2 toggle and structural presence
  packages/e2e/tests/features/task-view-v2.e2e.ts
Due: none

test: address E2E review feedback for TaskViewV2 tests
  packages/e2e/tests/features/task-view-v2.e2e.ts
Due: none

test: E2E tests for TaskViewV2 toggle, persistence, and structural presence
  packages/e2e/tests/features/task-view-v2.e2e.ts
Due: none

docs: plan for unifying agent communication and workflow graph model
  docs/plans/unify-agent-communication-workflow-graph-model/00-overview.md
  docs/plans/unify-agent-communication-workflow-graph-model/01-rename-send-feedback-to-send-message.md
  docs/plans/unify-agent-communication-workflow-graph-model/02-rename-step-to-node.md
  docs/plans/unify-agent-communication-workflow-graph-model/03-unified-messaging-model.md
  docs/plans/unify-agent-communication-workflow-graph-model/04-task-agent-visible-node.md
  docs/plans/unify-agent-communication-workflow-graph-model/05-per-slot-agent-overrides.md
  docs/plans/unify-agent-communication-workflow-graph-model/06-channel-direction-visualization.md
Due: none

fix: address PR review feedback on plan
  docs/plans/unify-agent-communication-workflow-graph-model/00-overview.md
  docs/plans/unify-agent-communication-workflow-graph-model/01-rename-send-feedback-to-send-message.md
  docs/plans/unify-agent-communication-workflow-graph-model/02-rename-step-to-node.md
  docs/plans/unify-agent-communication-workflow-graph-model/03-unified-messaging-model.md
  docs/plans/unify-agent-communication-workflow-graph-model/04-task-agent-visible-node.md
  docs/plans/unify-agent-communication-workflow-graph-model/05-per-slot-agent-overrides.md
  docs/plans/unify-agent-communication-workflow-graph-model/06-channel-direction-visualization.md
Due: none

fix: add currentStepId → currentNodeId rename coverage throughout M2
  docs/plans/unify-agent-communication-workflow-graph-model/02-rename-step-to-node.md
Due: none

fix: address P2 review feedback — scope header and M4 channel cleanup
  docs/plans/unify-agent-communication-workflow-graph-model/02-rename-step-to-node.md
  docs/plans/unify-agent-communication-workflow-graph-model/04-task-agent-visible-node.md
Due: none
