Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

Address review: prune empty trie branches
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Add configurable thinking levels for space agents (#1786)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/rpc-handlers/space-agent-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/space/agents/agent-template-hash.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/space-agent-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-106_test.ts
  packages/daemon/tests/unit/5-space/agent/agent-template-hash.test.ts
  packages/daemon/tests/unit/5-space/agent/custom-agent.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-init.test.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceAgentEditor.tsx
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/serialization.ts
  packages/web/src/components/space/workflow-templates.ts
Due: daemon, web, e2e-matrix

Preserve space switcher subtabs
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
Due: web, e2e-matrix

Add research findings for retry injection after dedupe issue
  docs/research/retry-injection-after-dedupe-findings.md
Due: none

Redesign mobile space navigation (#1789)
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/SpacesPage.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
Due: web, e2e-matrix

Fix P1 and P2 review comments on PR #1777
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Add Kimi Moonshot provider
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/factory.ts
  packages/daemon/src/lib/providers/kimi-bridge-server.ts
  packages/daemon/src/lib/providers/kimi-provider.ts
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/tests/unit/1-core/core/provider-service.test.ts
  packages/daemon/tests/unit/1-core/providers/kimi-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/provider-registry.test.ts
  packages/shared/src/models.ts
  packages/shared/src/types.ts
Due: daemon

Address Kimi provider review feedback
  packages/daemon/src/lib/providers/kimi-bridge-server.ts
  packages/daemon/src/lib/providers/kimi-provider.ts
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/tests/unit/1-core/providers/kimi-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/provider-registry.test.ts
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/components/__tests__/SessionStatusBar.test.tsx
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/hooks/useModelSwitcher.ts
  packages/web/src/lib/__tests__/session-utils.test.ts
  packages/web/src/lib/session-utils.ts
Due: daemon, web, e2e-matrix

Fix Kimi routing and model family ordering
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/tests/unit/1-core/providers/provider-registry.test.ts
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/hooks/useModelSwitcher.ts
Due: daemon, web, e2e-matrix

Normalize Kimi alias routing model
  packages/daemon/src/lib/providers/kimi-provider.ts
  packages/daemon/tests/unit/1-core/providers/kimi-provider.test.ts
Due: daemon

Lowercase all routed Kimi model IDs before forwarding to Moonshot API
  packages/daemon/src/lib/providers/kimi-provider.ts
  packages/daemon/tests/unit/1-core/providers/kimi-provider.test.ts
Due: daemon

Fix Kimi bridge security and tool_choice compatibility
  packages/daemon/src/lib/providers/kimi-bridge-server.ts
  packages/daemon/src/lib/providers/kimi-provider.ts
  packages/daemon/tests/unit/1-core/providers/kimi-provider.test.ts
Due: daemon

Fix P2 review comments #3 and #4 on PR #1777.
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Fix P1 review comments #5 and #6 on PR #1777.
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Fix auth bypass: use || instead of ?? for empty string fallback
  packages/daemon/src/lib/providers/kimi-bridge-server.ts
Due: daemon

Fix P1 #7 and P2 #7 review comments on PR #1777.
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review: close passesScopeCheck before scheduleRetry, fix restart claim, mark issues.opened out-of-scope
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Remove bridge server; use native Kimi Anthropic-compatible API
  packages/daemon/src/lib/providers/kimi-bridge-server.ts
  packages/daemon/src/lib/providers/kimi-provider.ts
  packages/daemon/tests/unit/1-core/providers/kimi-provider.test.ts
Due: daemon

Use official kimi-for-coding model ID and enable extended thinking
  packages/daemon/src/lib/providers/kimi-provider.ts
  packages/daemon/tests/unit/1-core/providers/kimi-provider.test.ts
Due: daemon

Refactor OpenAI bridge session routing
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/openai-responses-bridge/server.ts
  packages/daemon/tests/unit/1-core/core/provider-service.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/openai-responses-bridge/server.test.ts
Due: daemon

Fix review findings: remove dead ternary, add kimi model label, fix stale comment
  packages/daemon/src/lib/providers/kimi-provider.ts
  packages/shared/src/types.ts
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/lib/__tests__/session-utils.test.ts
  packages/web/src/lib/session-utils.ts
Due: daemon, web, e2e-matrix

Fix bridge review regressions
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/tests/unit/1-core/core/provider-service.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-to-codex-bridge-provider.test.ts
Due: daemon

Guard kimi/moonshot prefix routing against Ollama tag hijacking
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/tests/unit/1-core/providers/provider-registry.test.ts
Due: daemon

Refactor OpenAI bridge session routing (#1795)
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/openai-responses-bridge/server.ts
  packages/daemon/tests/unit/1-core/core/provider-service.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/openai-responses-bridge/server.test.ts
Due: daemon

Add Kimi Moonshot provider (#1792)
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/factory.ts
  packages/daemon/src/lib/providers/kimi-provider.ts
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/tests/unit/1-core/core/provider-service.test.ts
  packages/daemon/tests/unit/1-core/providers/kimi-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/provider-registry.test.ts
  packages/shared/src/models.ts
  packages/shared/src/types.ts
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/components/__tests__/SessionStatusBar.test.tsx
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/hooks/useModelSwitcher.ts
  packages/web/src/lib/__tests__/session-utils.test.ts
  packages/web/src/lib/session-utils.ts
Due: daemon, web, e2e-matrix

Refactor event bus design around source adapters
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review feedback on event bus design doc
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Design: external event bus for Space workflow nodes
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Fix inline review feedback on event bus design
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Fix second round review feedback on event bus design
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Use upstream dedupeKey in adapter to preserve event identity
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Fix third round review feedback on event bus design
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Fix dedup cleanup to use suffix match on run ID
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review round 4: fix double-action topic suffix, dedup ordering, blocked-run cleanup
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Fix registerRunInterests to use diff-based trie update instead of full clear
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review round 5: cache invalidation, scope in sub key, min topic depth
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review: task-aware unregister and action-preserving GitHub topics
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none
