Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix(space): thread completionActions through seed + updateWorkflow persistence paths
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/workflow/completion-actions-persistence.test.ts
Due: daemon

feat(space): migration 94 — backfill workflow template tracking + end-node completion actions
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/m94-backfill-workflow-templates.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-94_test.ts
Due: daemon

feat(space): surface completion-action pause reason + task_awaiting_approval event
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/pending-action.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/5-space/other/session-notification-sink.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion-actions.test.ts
  packages/shared/src/types/space.ts
Due: daemon

feat(space): surface completion-action pauses in task pane + overview
  packages/e2e/tests/features/space-completion-action-approval.e2e.ts
  packages/web/src/components/space/PendingCompletionActionBanner.tsx
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/TaskStatusActions.tsx
  packages/web/src/components/space/__tests__/PendingCompletionActionBanner.test.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/components/space/__tests__/TaskStatusActions.test.tsx
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

feat(space): thread approvalReason through completion-action resume + emit audit events
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/5-space/other/session-notification-sink.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion-actions.test.ts
  packages/shared/src/types/space.ts
Due: daemon

docs(space): correct JSDoc reference for awaiting-approval dedup cleanup
  packages/daemon/src/lib/space/runtime/space-runtime.ts
Due: daemon

refactor(space): thread taskId through resolveCompletionWithActions + guard approve_task
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion-actions.test.ts
Due: daemon

fix(m94): correct PR_READY_SCRIPT_PREFIX to 64 chars
  packages/daemon/src/storage/schema/m94-backfill-workflow-templates.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-94_test.ts
Due: daemon

chore(web): drop inert eslint-disable in SpaceTasks
  packages/web/src/components/space/SpaceTasks.tsx
Due: web, e2e-matrix

Refine compact task thread to turn-grouped full history
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/web/src/components/sdk/SDKAssistantMessage.tsx
  packages/web/src/components/sdk/SDKMessageRenderer.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.tsx
Due: daemon, web, e2e-matrix

fix(space): persist completionActions + backfill workflow template tracking (M94) (#1526)
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/m94-backfill-workflow-templates.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-94_test.ts
  packages/daemon/tests/unit/5-space/workflow/completion-actions-persistence.test.ts
Due: daemon

feat(space): surface completion-action pause reason + task_awaiting_approval event (#1527)
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/pending-action.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/5-space/other/session-notification-sink.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion-actions.test.ts
  packages/shared/src/types/space.ts
Due: daemon

feat(space): surface completion-action pauses in task pane + overview (#1528)
  packages/e2e/tests/features/space-completion-action-approval.e2e.ts
  packages/web/src/components/space/PendingCompletionActionBanner.tsx
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/TaskStatusActions.tsx
  packages/web/src/components/space/__tests__/PendingCompletionActionBanner.test.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/components/space/__tests__/TaskStatusActions.test.tsx
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

fix(space): reactivate completed node agent when task-agent sends follow-up
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
Due: daemon

Revert "fix(space): reactivate completed node agent when task-agent sends follow-up"
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
Due: daemon

feat(space): compact task thread by agent turn blocks
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/web/src/components/sdk/SDKMessageRenderer.tsx
  packages/web/src/components/sdk/SDKUserMessage.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
  packages/web/src/hooks/useSpaceTaskMessages.ts
Due: daemon, web, e2e-matrix

refactor(space): replace turn dividers with styled agent block headers
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.tsx
Due: web, e2e-matrix

refactor(space): simplify agent header and make hidden-message divider openable
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.tsx
Due: web, e2e-matrix

feat(space): audit trail for completion-action approvals (approvalReason + thread events) (#1529)
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/5-space/other/session-notification-sink.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion-actions.test.ts
  packages/shared/src/types/space.ts
Due: daemon

refactor(space): L-bracket agent header + hide floating tag when on-screen
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.tsx
Due: web, e2e-matrix

style(space): tighten right inset of agent header pill to m-1
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.tsx
Due: web, e2e-matrix

style(space): flush the right edge of the agent header pill to the arm
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.tsx
Due: web, e2e-matrix

feat(space): compact task thread polish — cleaner headers, clickable hidden-message divider (#1530)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/web/src/components/sdk/SDKAssistantMessage.tsx
  packages/web/src/components/sdk/SDKMessageRenderer.tsx
  packages/web/src/components/sdk/SDKUserMessage.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
  packages/web/src/hooks/useSpaceTaskMessages.ts
Due: daemon, web, e2e-matrix

feat(space): reviewers must post to GitHub via `gh pr review`
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
Due: daemon

feat(space): verify review-posted-gate against real GitHub activity
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/gate-script-executor.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
Due: daemon

test(space): cover reviewer-posting mandate + review-posted-gate
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/other/gate-script-executor.test.ts
  packages/daemon/tests/unit/5-space/other/seed-agents.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: none

feat(space): harden Coding Workflow reviewer loop — post to PR + verify (#1532)
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/gate-script-executor.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/other/gate-script-executor.test.ts
  packages/daemon/tests/unit/5-space/other/seed-agents.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: daemon

feat(space): report_result result-only; completion pipeline sole status arbiter
  docs/design/autonomy-levels-and-completion-actions.md
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/runtime/completion-action-executors.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent.test.ts
  packages/daemon/tests/unit/5-space/runtime/completion-action-executors.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion-actions.test.ts
  packages/daemon/tests/unit/5-space/workflow/completion-actions-persistence.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/PendingCompletionActionBanner.tsx
  packages/web/src/components/space/__tests__/PendingCompletionActionBanner.test.tsx
Due: daemon, web, e2e-matrix

feat(space): report_result result-only; completion pipeline sole status arbiter (#1533)
  docs/design/autonomy-levels-and-completion-actions.md
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/runtime/completion-action-executors.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent.test.ts
  packages/daemon/tests/unit/5-space/runtime/completion-action-executors.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion-actions.test.ts
  packages/daemon/tests/unit/5-space/workflow/completion-actions-persistence.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/PendingCompletionActionBanner.tsx
  packages/web/src/components/space/__tests__/PendingCompletionActionBanner.test.tsx
Due: daemon, web, e2e-matrix

fix(space): add consistent padding below agent header pill
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.tsx
Due: web, e2e-matrix

fix(web): omit empty thinking blocks from Opus 4.7 omitted-thinking stubs
  packages/shared/src/sdk/type-guards.ts
  packages/shared/tests/type-guards.test.ts
  packages/web/src/components/room/AgentTurnBlock.tsx
  packages/web/src/components/sdk/SDKAssistantMessage.tsx
  packages/web/src/components/sdk/ThinkingBlock.tsx
  packages/web/src/components/sdk/__tests__/SDKAssistantMessage.test.tsx
  packages/web/src/components/sdk/__tests__/ThinkingBlock.test.tsx
Due: daemon, web, e2e-matrix

fix(space): match collapsed system:init card height to result block
  packages/web/src/components/space/thread/compact/SpaceSystemInitCard.test.tsx
  packages/web/src/components/space/thread/compact/SpaceSystemInitCard.tsx
Due: web, e2e-matrix

fix(web): filter empty thinking blocks in thread events + subagent render
  packages/web/src/components/sdk/SubagentBlock.tsx
  packages/web/src/components/space/__tests__/space-task-thread-events.test.ts
  packages/web/src/components/space/thread/space-task-thread-events.ts
Due: web, e2e-matrix

fix(space): thread UI — agent header spacing, system:init card height, empty thinking blocks (#1534)
  packages/shared/src/sdk/type-guards.ts
  packages/shared/tests/type-guards.test.ts
  packages/web/src/components/room/AgentTurnBlock.tsx
  packages/web/src/components/sdk/SDKAssistantMessage.tsx
  packages/web/src/components/sdk/SubagentBlock.tsx
  packages/web/src/components/sdk/ThinkingBlock.tsx
  packages/web/src/components/sdk/__tests__/SDKAssistantMessage.test.tsx
  packages/web/src/components/sdk/__tests__/ThinkingBlock.test.tsx
  packages/web/src/components/space/__tests__/space-task-thread-events.test.ts
  packages/web/src/components/space/thread/compact/SpaceSystemInitCard.test.tsx
  packages/web/src/components/space/thread/compact/SpaceSystemInitCard.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
Due: daemon, web, e2e-matrix

feat(space): reorganize agent task message, inject runtime context
  CLAUDE.md
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/agent/custom-agent.test.ts
Due: daemon

feat(space): show "X of Y workflows autonomous" on autonomy selector
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/shared/src/mod.ts
  packages/shared/src/space/workflow-autonomy.ts
  packages/shared/tests/workflow-autonomy.test.ts
  packages/web/src/components/space/AutonomyWorkflowSummary.tsx
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceSettings.tsx
  packages/web/src/components/space/__tests__/AutonomyWorkflowSummary.test.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
Due: daemon, web, e2e-matrix

feat(web): migrate ChatContainer messages to messages.bySession LiveQuery
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-messages.test.ts
  packages/web/src/lib/__tests__/session-store-comprehensive.test.ts
  packages/web/src/lib/session-store.ts
Due: daemon, web, e2e-matrix

docs: Space Runtime section — tool availability + messages.bySession LiveQuery
  CLAUDE.md
Due: none

feat(space): expose space-agent-tools to all Space sessions
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-worktree.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-session-lifecycle.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
Due: daemon

feat(space): replace Full-Cycle with Plan & Decompose workflow
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/storage/schema/m94-backfill-workflow-templates.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/space/space-happy-path-code-review.test.ts
  packages/daemon/tests/online/space/space-happy-path-full-pipeline.test.ts
  packages/daemon/tests/online/space/space-happy-path-plan-to-approve.test.ts
  packages/daemon/tests/online/space/space-happy-path-qa-completion.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-94_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-95_test.ts
  packages/daemon/tests/unit/5-space/other/channel-router.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/__tests__/fixtures/builtInTemplateWorkflows.ts
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
