Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

ci: remove AppImage from Linux desktop release
  .github/workflows/release.yml
Due: none

ci: remove AppImage from Linux desktop release (#1944)
  .github/workflows/release.yml
Due: none

chore(release): bump version to 0.27.1
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/desktop/package.json
  packages/desktop/src-tauri/Cargo.toml
  packages/desktop/src-tauri/tauri.conf.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/web/package.json
Due: none

chore(release): bump version to 0.27.1 (#1945)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/desktop/package.json
  packages/desktop/src-tauri/Cargo.toml
  packages/desktop/src-tauri/tauri.conf.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/web/package.json
Due: none

docs: fix worker MCP attachment comment
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
Due: daemon

feat: add space actor registry adapter
  packages/daemon/src/lib/space/actor-registry.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/tests/unit/5-space/actor-registry.test.ts
Due: daemon

feat(web): add space folder browse button
  packages/web/src/components/space/SpaceCreateDialog.tsx
  packages/web/src/components/space/__tests__/SpaceCreateDialog.test.tsx
Due: web, e2e-matrix

fix: harden space actor registry seeding
  packages/daemon/src/lib/space/actor-registry.ts
  packages/daemon/tests/unit/5-space/actor-registry.test.ts
Due: daemon

fix: avoid actor registry handle collisions
  packages/daemon/src/lib/space/actor-registry.ts
  packages/daemon/tests/unit/5-space/actor-registry.test.ts
Due: daemon

fix: scope actor registry pending lookups
  packages/daemon/src/lib/space/actor-registry.ts
  packages/daemon/src/storage/repositories/pending-agent-message-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/5-space/actor-registry.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
Due: daemon

fix: protect actor registry routing roles
  packages/daemon/src/lib/space/actor-registry.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/5-space/actor-registry.test.ts
Due: daemon

fix: make actor registry roles unambiguous
  packages/daemon/src/lib/space/actor-registry.ts
  packages/daemon/tests/unit/5-space/actor-registry.test.ts
Due: daemon

feat(web): add space folder browse button (#1948)
  packages/web/src/components/space/SpaceCreateDialog.tsx
  packages/web/src/components/space/__tests__/SpaceCreateDialog.test.tsx
Due: web, e2e-matrix

Fix worker session Space MCP reattach (#1943)
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-memory-mcp.test.ts
Due: daemon

feat(web): add Space goals UI
  packages/web/src/components/space/SpaceGoalDialog.tsx
  packages/web/src/components/space/SpaceGoals.tsx
  packages/web/src/components/space/__tests__/SpaceGoals.test.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/lib/__tests__/router.test.ts
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

fix(web): update Space detail test goals mock
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
Due: none

fix(web): address Space goals review feedback
  packages/web/src/components/space/SpaceGoalDialog.tsx
  packages/web/src/components/space/SpaceGoals.tsx
  packages/web/src/components/space/__tests__/SpaceGoals.test.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

fix(web): load Space goals dependencies reliably
  packages/web/src/components/space/SpaceGoals.tsx
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

fix(web): prevent stale Space goal overwrites
  packages/web/src/components/space/SpaceGoalDialog.tsx
  packages/web/src/components/space/__tests__/SpaceGoals.test.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

fix(web): preserve Space goals URL sync
  packages/web/src/App.tsx
Due: web, e2e-matrix

fix(web): preserve Space goals when switching spaces
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
Due: web, e2e-matrix

fix(web): restrict Space goal metric JSON parsing
  packages/web/src/components/space/SpaceGoalDialog.tsx
  packages/web/src/components/space/__tests__/SpaceGoals.test.tsx
Due: web, e2e-matrix

Add Space goals UI (#1937)
  packages/web/src/App.tsx
  packages/web/src/components/space/SpaceGoalDialog.tsx
  packages/web/src/components/space/SpaceGoals.tsx
  packages/web/src/components/space/__tests__/SpaceGoals.test.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
  packages/web/src/lib/__tests__/router.test.ts
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

Add Space actor registry adapter (#1946)
  packages/daemon/src/lib/space/actor-registry.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/storage/repositories/pending-agent-message-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/5-space/actor-registry.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
Due: daemon

fix: harden semantic memory embeddings
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/agent-memory-tools.ts
  packages/daemon/src/storage/repositories/agent-memory-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/agent-memory-repository.test.ts
Due: daemon

feat: add hybrid agent memory search
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/agent-memory-embeddings.ts
  packages/daemon/src/storage/repositories/agent-memory-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/agent-memory-repository.test.ts
Due: daemon

fix: retry failed embedding initialization
  packages/daemon/src/storage/repositories/agent-memory-embeddings.ts
  packages/daemon/src/storage/repositories/agent-memory-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

fix: preserve memory search fallback on embedder errors
  packages/daemon/src/storage/repositories/agent-memory-embeddings.ts
  packages/daemon/src/storage/repositories/agent-memory-repository.ts
  packages/daemon/tests/unit/4-space-storage/agent-memory-repository.test.ts
Due: daemon

fix: use named memory key for vector foreign key
  packages/daemon/src/storage/repositories/agent-memory-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/agent-memory-repository.test.ts
Due: daemon

fix: harden memory embedding lifecycle
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/agent-memory-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/agent-memory-repository.test.ts
Due: daemon

fix: pin transformers dependency exactly
  bun.lock
  packages/daemon/package.json
Due: none

fix: switch memory embeddings to transformers
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/storage/repositories/agent-memory-embeddings.ts
Due: daemon

fix: use transformers onnx bge model
  packages/daemon/src/storage/repositories/agent-memory-embeddings.ts
Due: daemon

fix: use granite embedding model
  packages/daemon/src/storage/repositories/agent-memory-embeddings.ts
Due: daemon

fix: harden embedding backfill coverage
  packages/daemon/src/storage/repositories/agent-memory-embeddings.ts
  packages/daemon/src/storage/repositories/agent-memory-repository.ts
  packages/daemon/tests/unit/4-space-storage/agent-memory-repository.test.ts
Due: daemon

feat: add Space messaging resolver facade
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/messaging-adapter.ts
  packages/daemon/tests/unit/5-space/messaging-adapter.test.ts
Due: daemon

fix: harden Space worker delivery resolution
  packages/daemon/src/lib/space/messaging-adapter.ts
  packages/daemon/tests/unit/5-space/messaging-adapter.test.ts
Due: daemon

fix: accept named Space worker routes
  packages/daemon/src/lib/space/messaging-adapter.ts
  packages/daemon/tests/unit/5-space/messaging-adapter.test.ts
Due: daemon

fix: guard memory embedding backfills
  packages/daemon/src/storage/repositories/agent-memory-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/agent-memory-repository.test.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
