Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

refactor: extract room and space event forwarding into ClientEventBridge (#1835)
  bun.lock
  docs/plans/internal-event-command-query-architecture.md
  packages/daemon/src/app.ts
  packages/daemon/src/lib/client-event-bridge.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/unit/1-core/core/client-event-bridge.test.ts
  packages/daemon/tests/unit/1-core/session/state-manager.test.ts
Due: daemon

fix: resolve agent-name target to node-name channel for gate data writes
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
Due: daemon

fix: remove double-compensation causing mobile Safari chat composer jump
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/styles.css
Due: web, e2e-matrix

fix: resolve agent-name target to node-name channel for gate data writes (#1844)
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
Due: daemon

feat(shared): TypedHub publish awaits async handlers, adds publishAsync
  packages/daemon/src/lib/job-handlers/task-schedule-fire.handler.ts
  packages/shared/src/message-hub/typed-hub.ts
  packages/shared/tests/typed-hub.test.ts
Due: daemon

refactor: remove legacy EventBus and rename DaemonHub variables
  knip.json
  packages/daemon/src/app.ts
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/helpers/database.ts
  packages/daemon/tests/unit/1-core/core/error-manager-throttling.test.ts
  packages/daemon/tests/unit/1-core/core/error-manager.test.ts
  packages/daemon/tests/unit/1-core/session/message-persistence.test.ts
  packages/daemon/tests/unit/1-core/session/sandbox-default.test.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle-sdk-title.test.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle.test.ts
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
  packages/daemon/tests/unit/1-core/session/state-manager.test.ts
  packages/daemon/tests/unit/4-space-storage/reference-message-persistence.test.ts
  packages/e2e/playwright.config.ts
  packages/shared/src/event-bus.ts
  packages/shared/tests/event-bus-session-filtering.test.ts
  packages/shared/tests/event-bus.test.ts
Due: daemon

docs: update stale comment about --keyboard-height consumer
  packages/web/src/hooks/useViewportSafety.ts
Due: web, e2e-matrix

refactor: fix stale EventBus references in comments
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/session/session-manager.ts
Due: daemon

refactor: fix remaining stale EventBus references in comments
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/session/session-manager.ts
Due: daemon

refactor: remove legacy EventBus and rename DaemonHub variables (M1) (#1847)
  knip.json
  packages/daemon/src/app.ts
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/helpers/database.ts
  packages/daemon/tests/unit/1-core/core/error-manager-throttling.test.ts
  packages/daemon/tests/unit/1-core/core/error-manager.test.ts
  packages/daemon/tests/unit/1-core/session/message-persistence.test.ts
  packages/daemon/tests/unit/1-core/session/sandbox-default.test.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle-sdk-title.test.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle.test.ts
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
  packages/daemon/tests/unit/1-core/session/state-manager.test.ts
  packages/daemon/tests/unit/4-space-storage/reference-message-persistence.test.ts
  packages/e2e/playwright.config.ts
  packages/shared/src/event-bus.ts
  packages/shared/tests/event-bus-session-filtering.test.ts
  packages/shared/tests/event-bus.test.ts
Due: daemon

fix(shared): address review feedback on TypedHub async delivery
  packages/daemon/src/lib/error-manager.ts
  packages/daemon/src/lib/github/github-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/1-core/core/error-manager.test.ts
  packages/shared/src/message-hub/typed-hub.ts
Due: daemon

fix: remove double-compensation causing mobile Safari chat composer jump (#1845)
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/hooks/useViewportSafety.ts
  packages/web/src/styles.css
Due: web, e2e-matrix

fix(shared): prune handlerNameCounters on unsubscribe/close, guard github emitEvent
  packages/daemon/src/lib/github/github-service.ts
  packages/shared/src/message-hub/typed-hub.ts
Due: daemon

feat(shared): TypedHub publish awaits async handlers, adds publishAsync (#1846)
  packages/daemon/src/lib/error-manager.ts
  packages/daemon/src/lib/github/github-service.ts
  packages/daemon/src/lib/job-handlers/task-schedule-fire.handler.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/1-core/core/error-manager.test.ts
  packages/shared/src/message-hub/typed-hub.ts
  packages/shared/tests/typed-hub.test.ts
Due: daemon

feat: add scheduled task creation UI to SpaceCreateTaskDialog
  packages/web/src/components/space/SpaceCreateTaskDialog.tsx
  packages/web/src/components/space/__tests__/SpaceCreateTaskDialog.test.tsx
Due: web, e2e-matrix

fix: use new Date(value).getTime() for at trigger datetime-local input
  packages/web/src/components/space/SpaceCreateTaskDialog.tsx
  packages/web/src/components/space/__tests__/SpaceCreateTaskDialog.test.tsx
Due: web, e2e-matrix

fix: address review feedback on scheduled task creation UI
  packages/web/src/components/space/SpaceCreateTaskDialog.tsx
  packages/web/src/components/space/__tests__/SpaceCreateTaskDialog.test.tsx
Due: web, e2e-matrix

feat: address Round 4 review feedback on scheduled task UI
  packages/web/src/components/space/SpaceCreateTaskDialog.tsx
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

feat: strengthen cron validation and move runAt future check to submit time
  packages/web/src/components/space/SpaceCreateTaskDialog.tsx
Due: web, e2e-matrix

fix: use non-capturing group for +MON weekday modifier regex
  packages/web/src/components/space/SpaceCreateTaskDialog.tsx
Due: web, e2e-matrix

feat: add scheduled task creation UI to SpaceCreateTaskDialog (#1848)
  packages/web/src/components/space/SpaceCreateTaskDialog.tsx
  packages/web/src/components/space/__tests__/SpaceCreateTaskDialog.test.tsx
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

feat(daemon): detect and recover from dead loops in agent execution
  packages/daemon/src/lib/agent/loop-detector-hook.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/unit/1-core/agent/loop-detector-hook.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
Due: daemon

docs(daemon): clarify loop-detector docs and tighten threshold-merge test
  packages/daemon/src/lib/agent/loop-detector-hook.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/unit/1-core/agent/loop-detector-hook.test.ts
Due: daemon

refactor(daemon): tighten loop-detector semantics per review
  packages/daemon/src/lib/agent/loop-detector-hook.ts
  packages/daemon/tests/unit/1-core/agent/loop-detector-hook.test.ts
Due: daemon

refactor(daemon): observe all tools, true sliding window, untracked-resets-streak
  packages/daemon/src/lib/agent/loop-detector-hook.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/unit/1-core/agent/loop-detector-hook.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
Due: daemon

feat(space): server-side pagination for space task list groups
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-task-repository.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/components/space/__tests__/TaskGroupPagination.test.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

feat(daemon): detect and recover from dead loops in agent execution (#1849)
  packages/daemon/src/lib/agent/loop-detector-hook.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/unit/1-core/agent/loop-detector-hook.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
Due: daemon

refactor: extract remaining StateManager forwarding paths into ClientEventBridge
  packages/daemon/src/app.ts
  packages/daemon/src/lib/client-event-bridge.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/unit/1-core/core/client-event-bridge.test.ts
  packages/daemon/tests/unit/1-core/session/state-manager.test.ts
Due: daemon

refactor: address review feedback for ClientEventBridge extraction
  packages/daemon/src/app.ts
  packages/daemon/src/lib/client-event-bridge.ts
  packages/daemon/tests/unit/1-core/core/client-event-bridge.test.ts
Due: daemon

fix(space): refresh paginated groups on content edits, errors, and space switches
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
Due: web, e2e-matrix

fix: replace console.warn with Logger in ClientEventBridge
  packages/daemon/src/lib/client-event-bridge.ts
Due: daemon

perf(daemon): use materialised parent_tool_use_id column in sdk_messages queries
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-messages.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-126_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/scoped-messages-integration.test.ts
Due: daemon

fix(daemon): remove legacy parent_tool index from migration 113
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

feat(space): server-side pagination for task list groups (#1851)
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-task-repository.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/components/space/__tests__/TaskGroupPagination.test.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

perf(daemon): use materialised parent_tool_use_id column in sdk_messages queries (#1853)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-messages.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-126_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/scoped-messages-integration.test.ts
Due: daemon

fix(daemon): add pr_url field to review-posted-gate so script can resolve PR URL
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: daemon

fix: restrict update_task to Task Agent, remove from node-agent path
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
Due: daemon

feat: add update_task MCP tool for space agent and task agent
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

fix: reject update_task calls with no fields to change
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
Due: daemon

fix: repair broken error messages, remove dead UpdateTaskSchema from node-agent
  packages/daemon/src/lib/space/tools/node-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
