Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

docs(plan): add render-goal plan for active mission banner in chat
  docs/plans/render-goal.md
Due: none

docs(plan): render-goal plan — MissionBanner, needs_human sidebar, MetricSparkline, metric history RPC
  docs/plans/render-goal.md
Due: none

feat(tools): add filtering, pagination, and compact mode to list_goals and list_tasks (#1142)
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/space/tools/global-spaces-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/neo/neo-query-tools.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/space/global-spaces-tools.test.ts
  packages/daemon/tests/unit/space/space-agent-tools.test.ts
Due: daemon

test(e2e): Neo chat rendering — verify messages render as readable text (#1144)
  packages/e2e/tests/features/neo-chat-rendering.e2e.ts
  packages/e2e/tests/features/neo-conversation.e2e.ts
  packages/e2e/tests/helpers/neo-helpers.ts
  packages/web/src/components/neo/NeoChatView.tsx
Due: web, e2e-matrix

Fix workflow canvas freeze on cyclic spaces
  packages/web/src/components/space/WorkflowCanvas.tsx
  packages/web/src/components/space/__tests__/WorkflowCanvas.test.tsx
Due: web, e2e-matrix

Make visual workflow editor the only edit path
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: web, e2e-matrix

Center space execution around tasks
  packages/web/src/components/space/SpaceDashboard.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceDashboard.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
Due: web, e2e-matrix

Simplify the space dashboard around agent-led tasks
  packages/web/src/components/space/SpaceDashboard.tsx
  packages/web/src/components/space/__tests__/SpaceDashboard.test.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: web, e2e-matrix

Refresh space dashboard and task UX
  packages/web/src/components/space/SpaceDashboard.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceDashboard.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/SpaceIsland.tsx
Due: web, e2e-matrix

docs: comprehensive UX flow for first space task creation and tracking
  docs/ux-flows/first-space-task-flow.md
  docs/ux-flows/space-agent-ux-recommendations.md
Due: none

Add LiveQuery-backed task agent activity
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-handlers.test.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-subscribe.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

Simplify task view around conversation
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

fix(daemon): address PR review — clear sdkSessionId for dead conversations, add retry feedback
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/online/convo/startup-timeout-no-retry.test.ts
Due: daemon

Refocus space task view on activity and control
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

docs: add plan for first task through Space Agent
  docs/plans/write-the-first-task-through-space-agent/plan.md
Due: none

fix(test): handle retry-succeeds case in startup timeout test
  packages/daemon/tests/online/convo/startup-timeout-no-retry.test.ts
Due: none

ci: pass Anthropic credentials to cross-provider-3 test matrix entry
  .github/workflows/main.yml
Due: none

chore(deps): update all dependencies
  bun.lock
  package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(deps): update all dependencies (#1151)
  bun.lock
  package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(deps): update @anthropic-ai/claude-agent-sdk to 0.2.86
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/space/tools/tool-result.ts
  packages/shared/src/sdk/sdk-tools.d.ts
  packages/shared/src/sdk/sdk.d.ts
Due: daemon

chore(deps): update @anthropic-ai/claude-agent-sdk to 0.2.86 (#1152)
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/space/tools/tool-result.ts
  packages/shared/src/sdk/sdk-tools.d.ts
  packages/shared/src/sdk/sdk.d.ts
Due: daemon

feat: add NO_CHANGES_NEEDED bypass marker for no-op coding tasks
  packages/daemon/src/lib/room/agents/coder-agent.ts
  packages/daemon/src/lib/room/agents/general-agent.ts
  packages/daemon/src/lib/room/agents/leader-agent.ts
Due: daemon

fix: register NO_CHANGES_NEEDED in runtime bypass markers and update all agents
  packages/daemon/src/lib/room/agents/coder-agent.ts
  packages/daemon/src/lib/room/agents/general-agent.ts
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
Due: daemon

test: update assertions to match new no_pr and bypass section wording
  packages/daemon/tests/unit/room/leader-agent.test.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
Due: none

feat: add NO_CHANGES_NEEDED bypass marker for no-op coding tasks (#1156)
  packages/daemon/src/lib/room/agents/coder-agent.ts
  packages/daemon/src/lib/room/agents/general-agent.ts
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
Due: daemon

Add task-agent session bootstrap RPC
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/rpc-handlers/space-task-message-handlers.test.ts
Due: daemon

Embed task thread interaction in task view
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

Convert task view to unified full-height thread surface
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

Refocus task view on live task-thread workflow
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix
