Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

feat(web): redesign hook response card to collapsible style
  packages/web/src/components/sdk/SDKSystemMessage.tsx
  packages/web/src/components/sdk/__tests__/SDKSystemMessage.test.tsx
Due: web, e2e-matrix

docs: increase Docker warmup timeout to 180s
  docs/research/npm-global-install-sdk-binary-issue.md
Due: none

fix: coerce legacy extension capabilities
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-128_test.ts
Due: daemon

feat(web): redesign hook response card to collapsible style (#1919)
  packages/web/src/components/sdk/SDKSystemMessage.tsx
  packages/web/src/components/sdk/__tests__/SDKSystemMessage.test.tsx
Due: web, e2e-matrix

fix(web): reset form only on modal open, clear edit state on task switch
  packages/web/src/components/space/EditTaskModal.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/EditTaskModal.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

fix: move warmup after all startup awaits, remove resolveSDKCliPath guard
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/sdk-cli-resolver.ts
Due: daemon

Wire GitHub external event extension (#1884)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/external-events/extension-config-store.ts
  packages/daemon/src/lib/external-events/extension-manager.ts
  packages/daemon/src/lib/external-events/github/github-event-extension.ts
  packages/daemon/src/lib/external-events/github/index.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/db-query/scope-config.test.ts
  packages/daemon/tests/unit/2-handlers/github/github-event-extension.test.ts
  packages/daemon/tests/unit/2-handlers/github/space-github.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-extension-config-store.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-extension.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-128_test.ts
Due: daemon

fix: await cooldown state write, add cooldown to space activity types
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/agent/rate-limit-watchdog.ts
  packages/daemon/tests/unit/1-core/agent/rate-limit-watchdog.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: daemon, web, e2e-matrix

fix: cancel rate-limit watchdog on reset/restart flows
  packages/daemon/src/lib/agent/agent-session.ts
Due: daemon

fix: move SDK warmup to CLI entry points after Bun.serve
  packages/cli/src/dev-server.ts
  packages/cli/src/prod-server-embedded.ts
  packages/cli/src/prod-server.ts
  packages/daemon/src/app.ts
Due: daemon

fix(web): send only changed fields on save, guard stale callbacks
  packages/web/src/components/space/EditTaskModal.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/EditTaskModal.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

fix: clear SDK warmup timer on early shutdown
  packages/cli/src/dev-server.ts
  packages/cli/src/prod-server-embedded.ts
  packages/cli/src/prod-server.ts
Due: none

feat: warmup SDK binary on daemon startup (#1912)
  docs/research/npm-global-install-sdk-binary-issue.md
  packages/cli/src/dev-server.ts
  packages/cli/src/prod-server-embedded.ts
  packages/cli/src/prod-server.ts
  packages/daemon/src/lib/agent/sdk-cli-resolver.ts
  packages/daemon/tests/unit/1-core/agent/sdk-cli-resolver.test.ts
Due: daemon

feat: add 429 retry exhaustion detection and auto-recovery (#1915)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/processing-state-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/agent/rate-limit-watchdog.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/agent/rate-limit-watchdog.test.ts
  packages/shared/src/state-types.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/sdk/RateLimitCooldownBanner.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/api-helpers.ts
Due: daemon, web, e2e-matrix

fix(web): freeze edit baseline at modal-open, separate error formatters
  packages/web/src/components/space/EditTaskModal.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/EditTaskModal.test.tsx
Due: web, e2e-matrix

fix(web): use ref-based task identity guard in edit confirm handler
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: web, e2e-matrix

refactor(web): move edit button into task actions dropdown menu
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

chore(release): bump version to 0.25.0
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(release): bump version to 0.25.0 (#1921)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

feat(web): add user-facing edit task description mid-flight (#1914)
  packages/web/src/components/space/EditTaskModal.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/EditTaskModal.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

refactor(space): remove task-agent LLM files, frontend, types, and routing
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-repository.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceAgentList.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskSessionChatComposer.tsx
  packages/web/src/components/space/__tests__/TaskSessionChatComposer.test.tsx
  packages/web/src/hooks/__tests__/useTargetSessionContext.test.ts
  packages/web/src/hooks/useTargetSessionContext.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

refactor(space): strip task-agent LLM session from core managers
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
Due: daemon

test(space): fix remaining test failures from task-agent removal
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
  packages/web/src/components/space/__tests__/SpaceTaskPane.images.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.mention.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/TaskSessionChatComposer.test.tsx
  packages/web/src/hooks/__tests__/useTargetSessionContext.test.ts
Due: none

test(space): update tests for task-agent LLM removal
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-eager-spawn.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-worktree.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-session-lifecycle.test.ts
Due: none

fix(space): address review feedback on task-agent removal
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: daemon, web, e2e-matrix

fix(space): remove task-agent from post-approval routing, node-agent tools, and dead tests
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/runtime/post-approval-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/workflows/post-approval-validator.ts
  packages/daemon/tests/unit/1-core/agent/query-options-m1-mcp-leak.test.ts
  packages/daemon/tests/unit/1-core/lib/space-workflow-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/agent-completion.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-collaboration.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-init.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-mark-complete.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent.test.ts
  packages/daemon/tests/unit/5-space/other/autonomy-gated-approvals.test.ts
  packages/daemon/tests/unit/5-space/other/cross-agent-messaging.test.ts
  packages/daemon/tests/unit/5-space/runtime/post-approval-router.test.ts
  packages/daemon/tests/unit/5-space/workflow/post-approval-validator.test.ts
Due: daemon

fix(space): preserve backward compat for task-agent post-approval targets
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/workflows/post-approval-validator.ts
  packages/daemon/tests/unit/1-core/lib/space-workflow-manager.test.ts
  packages/daemon/tests/unit/5-space/workflow/post-approval-validator.test.ts
Due: daemon

fix(space): derive agentSessionId from activity members, disable send without targets
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: web, e2e-matrix

fix(space): derive composer targets from activity members when workflow unavailable
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

test(space): re-enable and update composer placeholder test
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: none

fix: prevent cross-agent draft leakage in task composer
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskSessionChatComposer.tsx
  packages/web/src/components/space/__tests__/TaskSessionChatComposer.test.tsx
  packages/web/src/hooks/useInputDraft.ts
Due: web, e2e-matrix

chore: clean up stale task-agent comments and dead INSERT column
  packages/daemon/src/lib/mcp/app-mcp-lifecycle-manager.ts
  packages/daemon/src/lib/mcp/resolve-mcp-servers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/storage/repositories/space-repository.ts
  packages/e2e/tests/features/space-agent-overlay.e2e.ts
  packages/shared/src/types/space.ts
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

fix: remove stale backtick from app-mcp-lifecycle-manager comment
  packages/daemon/src/lib/mcp/app-mcp-lifecycle-manager.ts
Due: daemon

fix: skip legacy space_task_agent sessions in member tool wiring
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
Due: daemon

fix: auto-activate unstarted workflow agents on human send
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
Due: daemon

fix: remove task_agent from sendTaskMessage client contract
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

docs: add agent discipline guidelines
  CLAUDE.md
Due: none

docs: add agent discipline guidelines (#1923)
  CLAUDE.md
Due: none

fix: skip legacy task-agent post-approval targets gracefully
  packages/daemon/src/lib/space/runtime/post-approval-router.ts
  packages/daemon/tests/unit/5-space/runtime/post-approval-router.test.ts
Due: daemon
