Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

test(space): cover sub-session shutdown and rehydrate self-heal
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
Due: daemon

fix(space): preserve task agent sessions across daemon restart
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
Due: daemon

fix(space): preserve task agent sessions across daemon restart (#1595)
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
Due: daemon

docs(research): prompt stacking analysis for node agent sessions
  docs/research/node-agent-initial-prompt-size.md
Due: none

docs(research): prompt stacking analysis for node agent sessions (#1594)
  docs/research/node-agent-initial-prompt-size.md
Due: none

fix(space): emit session.created on daemonHub so ad-hoc space sessions get space-agent-tools MCP
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
Due: daemon

fix(space): emit session.created on daemonHub so ad-hoc space sessions get space-agent-tools MCP (#1596)
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
Due: daemon

chore(release): bump version to 0.11.1
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(release): bump version to 0.11.1 (#1597)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

fix(space): synchronously attach space-agent-tools on session.create RPC
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
Due: daemon

feat(web): surface runtime-attached MCP servers in Tool Modal
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
  packages/shared/src/api.ts
  packages/web/src/components/ToolsModal.tsx
  packages/web/src/lib/api-helpers.ts
Due: daemon, web, e2e-matrix

test(space): cover sdkSessionId preservation, awaitSdkSessionCaptured, and eager sub-session spawning
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-eager-spawn.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-worktree.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-session-lifecycle.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-worktree-manager.test.ts
Due: none

fix(space): preserve task-agent sdkSessionId across restart and eagerly spawn sub-sessions
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/managers/space-worktree-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
Due: daemon

fix(space): drop blocking sdk-session-capture wait in createSubSession
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
Due: daemon

fix(space): preserve task-agent sdkSessionId across restart; eagerly spawn sub-sessions (#1599)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/managers/space-worktree-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-eager-spawn.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-worktree.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-session-lifecycle.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-worktree-manager.test.ts
Due: daemon

chore(web): remove global MCP Servers settings page + plan MCP unification
  docs/plans/unify-mcp-config-model/00-overview.md
  packages/web/src/components/settings/McpServersSettings.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

chore(web,e2e): fix review nits from #1601
  docs/plans/unify-mcp-config-model/00-overview.md
  packages/e2e/tests/features/app-mcp-registry.e2e.ts
  packages/e2e/tests/settings/settings-modal.e2e.ts
  packages/web/src/components/settings/AddSkillDialog.tsx
  packages/web/src/components/settings/AppMcpServersSettings.tsx
  packages/web/src/components/settings/EditSkillDialog.tsx
  packages/web/src/islands/ContextPanel.tsx
Due: web, e2e-matrix

fix(daemon): sessions are only deleted/archived from UI (Task #85)
  package.json
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-all-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-query-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-integration-cross-system.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-integration-session-recovery.test.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle.test.ts
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
  packages/daemon/tests/unit/2-handlers/db-query/session-integration.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/neo-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-worktree.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-session-lifecycle.test.ts
  scripts/check-session-deletion-callers.sh
Due: daemon

fix(daemon): clear session.worktree + snapshot response fields during archive
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
Due: daemon

fix(daemon): address Task #85 reviewer follow-ups
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/src/lib/room/managers/room-manager.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/neo/neo-action-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-session-lifecycle.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
  scripts/check-session-deletion-callers.sh
Due: daemon

docs(mcp): polish M1 risk phrasing per review
  docs/plans/unify-mcp-config-model/00-overview.md
Due: none

chore(web): remove global MCP Servers page + plan MCP unification (#1601)
  docs/plans/unify-mcp-config-model/00-overview.md
  packages/e2e/tests/features/app-mcp-registry.e2e.ts
  packages/e2e/tests/settings/settings-modal.e2e.ts
  packages/web/src/components/settings/AddSkillDialog.tsx
  packages/web/src/components/settings/AppMcpServersSettings.tsx
  packages/web/src/components/settings/EditSkillDialog.tsx
  packages/web/src/components/settings/McpServersSettings.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

fix(daemon): sessions only deleted/archived from UI (Task #85) (#1600)
  package.json
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/src/lib/room/managers/room-manager.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/neo/neo-action-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-all-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-query-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-integration-cross-system.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-integration-session-recovery.test.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle.test.ts
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
  packages/daemon/tests/unit/2-handlers/db-query/session-integration.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/neo-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-worktree.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-session-lifecycle.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
  scripts/check-session-deletion-callers.sh
Due: daemon

feat(space): sync-attach space tools + surface runtime MCPs in Tool Modal (#1598)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
  packages/shared/src/api.ts
  packages/web/src/components/ToolsModal.tsx
  packages/web/src/lib/api-helpers.ts
Due: daemon, web, e2e-matrix

fix(daemon): kill `.mcp.json` auto-load leak (MCP M1)
  packages/daemon/.env.example
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-m1-mcp-leak.test.ts
Due: daemon

fix(space): accept depends_on in create_standalone_task MCP tool
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

feat(mcp): add source + sourcePath columns to app_mcp_servers
  packages/daemon/src/lib/mcp/seed-defaults.ts
  packages/daemon/src/storage/repositories/app-mcp-server-repository.ts
  packages/daemon/src/storage/repositories/room-mcp-enablement-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/app-mcp-server-repository.test.ts
  packages/shared/src/types/app-mcp-server.ts
  packages/web/src/components/room/__tests__/RoomSettings-mcp.test.tsx
  packages/web/src/components/settings/__tests__/AppMcpServersSettings.test.tsx
  packages/web/src/lib/__tests__/app-mcp-store.test.ts
Due: daemon

feat(mcp): implement McpImportService for .mcp.json scanning
  packages/daemon/src/app.ts
  packages/daemon/src/lib/mcp/index.ts
  packages/daemon/src/lib/mcp/mcp-import-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/settings-handlers.ts
  packages/daemon/src/lib/rpc-handlers/workspace-handlers.ts
  packages/daemon/tests/unit/2-handlers/mcp/mcp-import-service.test.ts
Due: daemon

fix(space): accept depends_on in create_standalone_task MCP tool (#1603)
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

chore(release): bump version to 0.12.0
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(release): bump version to 0.12.0 (#1609)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

fix(daemon): kill `.mcp.json` auto-load leak (MCP M1) (#1602)
  packages/daemon/.env.example
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-m1-mcp-leak.test.ts
Due: daemon

feat(mcp): import .mcp.json into app_mcp_servers (source + sourcePath)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/mcp/index.ts
  packages/daemon/src/lib/mcp/mcp-import-service.ts
  packages/daemon/src/lib/mcp/seed-defaults.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/settings-handlers.ts
  packages/daemon/src/lib/rpc-handlers/workspace-handlers.ts
  packages/daemon/src/storage/repositories/app-mcp-server-repository.ts
  packages/daemon/src/storage/repositories/room-mcp-enablement-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/mcp/mcp-import-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/app-mcp-server-repository.test.ts
  packages/shared/src/types/app-mcp-server.ts
  packages/web/src/components/room/__tests__/RoomSettings-mcp.test.tsx
  packages/web/src/components/settings/__tests__/AppMcpServersSettings.test.tsx
  packages/web/src/lib/__tests__/app-mcp-store.test.ts
Due: daemon

feat(daemon): generalize MCP enablement with mcp_enablement table + resolver (Task #89)
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/mcp/app-mcp-lifecycle-manager.ts
  packages/daemon/src/lib/mcp/resolve-mcp-servers.ts
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/app-mcp-handlers.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/mcp-enablement-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-all-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-query-tools.test.ts
  packages/daemon/tests/unit/2-handlers/mcp/app-mcp-lifecycle-manager.test.ts
  packages/daemon/tests/unit/2-handlers/mcp/resolve-mcp-servers.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-service-mcp.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-service-worker-mcp.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/database-core.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/mcp-enablement-repository.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migration-101-mcp-enablement.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/shared/src/mod.ts
  packages/shared/src/types/mcp-enablement.ts
Due: daemon

feat(daemon): generalize MCP enablement with mcp_enablement table + resolver (#1606)
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/mcp/app-mcp-lifecycle-manager.ts
  packages/daemon/src/lib/mcp/resolve-mcp-servers.ts
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/app-mcp-handlers.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/mcp-enablement-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-all-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-query-tools.test.ts
  packages/daemon/tests/unit/2-handlers/mcp/app-mcp-lifecycle-manager.test.ts
  packages/daemon/tests/unit/2-handlers/mcp/resolve-mcp-servers.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-service-mcp.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-service-worker-mcp.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/database-core.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/mcp-enablement-repository.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migration-101-mcp-enablement.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/shared/src/mod.ts
  packages/shared/src/types/mcp-enablement.ts
Due: daemon

plan: decompose completion-actions removal into 5 stacked work items (#1592)
  plan.md
Due: none

feat(mcp): per-space override UI + import scanner (M4)
  packages/daemon/src/lib/mcp/import-scanner.ts
  packages/daemon/src/lib/mcp/seed-defaults.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-mcp-handlers.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/2-handlers/mcp/import-scanner.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/space-mcp-handlers.test.ts
  packages/shared/src/api.ts
  packages/web/src/components/space/SpaceMcpSettings.tsx
  packages/web/src/components/space/SpaceSettings.tsx
  packages/web/src/components/space/__tests__/SpaceMcpSettings.test.tsx
  packages/web/src/lib/__tests__/space-mcp-store.test.ts
  packages/web/src/lib/space-mcp-store.ts
Due: daemon, web, e2e-matrix

feat(mcp): per-space override UI + import scanner (M4) (#1604)
  packages/daemon/src/lib/mcp/import-scanner.ts
  packages/daemon/src/lib/mcp/seed-defaults.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-mcp-handlers.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/2-handlers/mcp/import-scanner.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/space-mcp-handlers.test.ts
  packages/shared/src/api.ts
  packages/web/src/components/space/SpaceMcpSettings.tsx
  packages/web/src/components/space/SpaceSettings.tsx
  packages/web/src/components/space/__tests__/SpaceMcpSettings.test.tsx
  packages/web/src/lib/__tests__/space-mcp-store.test.ts
  packages/web/src/lib/space-mcp-store.ts
Due: daemon, web, e2e-matrix

refactor(shared): drop legacy MCP fields from settings/tools types
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/mcp/mcp-tools-toggle.integration.test.ts
  packages/daemon/tests/online/rpc/rpc-mcp-toggle.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-102_test.ts
  packages/e2e/tests/helpers/mcp-toggle-helpers.ts
  packages/e2e/tests/settings/mcp-servers.e2e.ts
  packages/shared/src/types.ts
  packages/shared/src/types/settings.ts
Due: daemon

refactor(daemon): remove legacy MCP config code paths
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/sdk-runtime-config.ts
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/rpc-handlers/mcp-handlers.ts
  packages/daemon/src/lib/rpc-handlers/settings-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/session/tools-config.ts
  packages/daemon/src/lib/settings-manager.ts
Due: daemon
