Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

feat(visual-editor): add Task Agent virtual node to data model (#774)
  packages/shared/src/types/space.ts
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/layout.test.ts
  packages/web/src/components/space/visual-editor/__tests__/performance.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/layout.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: daemon, web, e2e-matrix

feat(visual-editor): render Task Agent as distinct pinned node on canvas
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
Due: web, e2e-matrix

feat: extend WorkflowNodeAgent schema with role, model, systemPrompt fields (#777)
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/tests/unit/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/daemon/tests/unit/space/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/space-workflow.test.ts
  packages/daemon/tests/unit/space/workflow-executor-multi-agent.test.ts
  packages/shared/src/types/space-utils.ts
  packages/shared/src/types/space.ts
  packages/shared/tests/space-utils.test.ts
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
Due: daemon, web, e2e-matrix

test: add regression tests for missionType preservation in recurring goals
  packages/daemon/tests/unit/room/recurring-missions.test.ts
Due: none

test(space): add per-slot override tests for export/import pipeline
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/daemon/tests/unit/space/export-import-round-trip.test.ts
Due: daemon

refactor(visual-editor): address P3 review nits for Task Agent node
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.transitionGuard.test.tsx
Due: web, e2e-matrix

feat(visual-editor): add per-slot agent override UI with visual indicators
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
Due: web, e2e-matrix

feat(space): resolve base + override config at runtime when spawning agent sessions
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
Due: daemon

test(space): add instructions field coverage to per-slot override tests
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/daemon/tests/unit/space/export-import-round-trip.test.ts
Due: none

fix(visual-editor): address PR #783 review feedback
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/__tests__/WorkflowNodeCard.test.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
Due: web, e2e-matrix

test: replace shallow regression tests with full tick lifecycle coverage
  packages/daemon/tests/unit/room/recurring-missions.test.ts
Due: none

fix(space): store slotRole on SpaceTask to fix slot disambiguation bug
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix(visual-editor): add data-testids and expand/collapse tests for WorkflowNodeCard override section
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/__tests__/WorkflowNodeCard.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
Due: web, e2e-matrix

feat(visual-editor): render Task Agent as distinct pinned node on canvas (#780)
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.transitionGuard.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
Due: web, e2e-matrix

test(space): address review nits — fix P1 assertion, add stale-slot test, P3 comment
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
Due: daemon

feat(visual-editor): add per-slot agent override UI with visual indicators (#783)
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/__tests__/WorkflowNodeCard.test.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
Due: web, e2e-matrix

docs(test): fix stale doc comment in export-import-round-trip.test.ts
  packages/daemon/tests/unit/space/export-import-round-trip.test.ts
Due: none

test(space): add per-slot override tests for export/import pipeline (#782)
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/daemon/tests/unit/space/export-import-round-trip.test.ts
Due: daemon

fix(test): add slot_role column to space-test-db helper schema
  packages/daemon/tests/unit/helpers/space-test-db.ts
Due: none

feat(space): resolve base + override config at runtime when spawning agent sessions (#784)
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: auto-compute nextRunAt when recurring goal created with schedule
  packages/daemon/src/lib/room/managers/goal-manager.ts
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/tests/unit/room/recurring-missions.test.ts
Due: daemon

docs: add agent memory research report with phased FTS5 + vector recommendation
  docs/agent-memory-research.md
Due: none

docs: update agent memory research with 2025-2026 internet research data
  docs/agent-memory-research.md
Due: none

docs: add LSP integration research — Claude Agent SDK and native LSP options
  docs/lsp-integration-research.md
Due: none

docs: fix P0/P1/P2/P3 review issues + refresh with 2024-2026 research
  docs/agent-memory-research.md
Due: none

docs: fix remaining P0/P1/P2 review issues in agent memory research
  docs/agent-memory-research.md
Due: none

docs(lsp): address review feedback — remove unverifiable claims, add document sync section
  docs/lsp-integration-research.md
Due: none

feat(recurring-missions): implement plan reuse for subsequent executions
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/recurring-missions.test.ts
Due: daemon

docs: fix P1 issues — sqlite-vector SQL API and queryEmbedding variable
  docs/agent-memory-research.md
Due: none

fix: auto-compute nextRunAt when recurring goal created with schedule
  packages/daemon/src/lib/room/managers/goal-manager.ts
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
Due: daemon

docs: fix non-existent vector_to_blob() — use correct vector_as_f32() API
  docs/agent-memory-research.md
Due: none

docs(lsp): fix MCP tool naming to mcp__lsp__ prefix and stale §3.6 cross-references
  docs/lsp-integration-research.md
Due: none

fix(recurring): handle unresolvable deps and error cases in plan reuse
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/recurring-missions.test.ts
Due: daemon

docs(lsp): fix duplicate §3.5, add 0-indexed coordinate note, add missing capability gaps
  docs/lsp-integration-research.md
Due: none

plan: simplify ID and folder path system
  docs/plans/simplify-id-and-folder-path-system/00-overview.md
  docs/plans/simplify-id-and-folder-path-system/01-short-id-infrastructure.md
  docs/plans/simplify-id-and-folder-path-system/02-repository-layer.md
  docs/plans/simplify-id-and-folder-path-system/03-api-compatibility-layer.md
  docs/plans/simplify-id-and-folder-path-system/04-worktree-path-shortening.md
  docs/plans/simplify-id-and-folder-path-system/05-ui-display.md
  docs/plans/simplify-id-and-folder-path-system/06-tests-and-validation.md
Due: none

docs: correct sqlite-vec/vec1 stability and origin claims
  docs/agent-memory-research.md
Due: none

docs(plan): address review feedback on simplify-id-and-folder-path-system plan
  docs/plans/simplify-id-and-folder-path-system/00-overview.md
  docs/plans/simplify-id-and-folder-path-system/01-short-id-infrastructure.md
  docs/plans/simplify-id-and-folder-path-system/02-repository-layer.md
  docs/plans/simplify-id-and-folder-path-system/03-api-compatibility-layer.md
  docs/plans/simplify-id-and-folder-path-system/04-worktree-path-shortening.md
  docs/plans/simplify-id-and-folder-path-system/06-tests-and-validation.md
Due: none

docs(plan): add collision detection to Task 4.1 worktree path shortening
  docs/plans/simplify-id-and-folder-path-system/04-worktree-path-shortening.md
Due: none

docs(plan): address review feedback on Task 4.1 collision detection
  docs/plans/simplify-id-and-folder-path-system/00-overview.md
  docs/plans/simplify-id-and-folder-path-system/04-worktree-path-shortening.md
Due: none

plan: simplify ID and folder path system (#787)
  docs/plans/simplify-id-and-folder-path-system/00-overview.md
  docs/plans/simplify-id-and-folder-path-system/01-short-id-infrastructure.md
  docs/plans/simplify-id-and-folder-path-system/02-repository-layer.md
  docs/plans/simplify-id-and-folder-path-system/03-api-compatibility-layer.md
  docs/plans/simplify-id-and-folder-path-system/04-worktree-path-shortening.md
  docs/plans/simplify-id-and-folder-path-system/05-ui-display.md
  docs/plans/simplify-id-and-folder-path-system/06-tests-and-validation.md
Due: none
