Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

Address review round 5: cache invalidation, scope in sub key, min topic depth
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review round 4: fix double-action topic suffix, dedup ordering, blocked-run cleanup
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Fix registerRunInterests to use diff-based trie update instead of full clear
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Fix rotation reload, re-auth email verification, flowId type, and flowId validation
  packages/daemon/src/lib/providers/gemini/account-rotation.ts
  packages/daemon/src/lib/rpc-handlers/auth-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/gemini-auth-handlers.test.ts
  packages/shared/src/provider/auth-types.ts
  packages/web/src/components/settings/GeminiAccountsPanel.tsx
  packages/web/src/components/settings/__tests__/GeminiAccountsPanel.test.tsx
Due: daemon, web, e2e-matrix

Address review: task-aware unregister and action-preserving GitHub topics
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review: enforce dedupe TTL and exact topic depth
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review: require dedupe identifiers and 4-segment non-repo topics
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review: full resolver fallback payload and scope CI examples to future adapter
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review: preserve routed event occurrence timestamp
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review: use fixed TypedHub method for external event bus
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review: add space boundary to external event delivery
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Fix OpenAI response usage normalization
  packages/daemon/src/lib/providers/openai-responses-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/openai-responses-bridge/server.test.ts
Due: daemon

Fix task thread refresh after reconnect
  packages/web/src/hooks/__tests__/useSpaceTaskMessages.test.ts
  packages/web/src/hooks/useSpaceTaskMessages.ts
Due: web, e2e-matrix

Fix OpenAI response usage normalization (#1787)
  packages/daemon/src/lib/providers/openai-responses-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/openai-responses-bridge/server.test.ts
Due: daemon

Redesign mobile space navigation
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/SpacesPage.tsx
Due: web, e2e-matrix

Fix OAuth retry: keep flow alive on exchange error, restart from URL step
  packages/daemon/src/lib/rpc-handlers/auth-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/gemini-auth-handlers.test.ts
  packages/web/src/components/settings/AddGoogleAccountModal.tsx
  packages/web/src/components/settings/__tests__/AddGoogleAccountModal.test.tsx
Due: daemon, web, e2e-matrix

Add Google OAuth account management UI to provider settings (#1779)
  packages/daemon/src/lib/providers/gemini/account-rotation.ts
  packages/daemon/src/lib/rpc-handlers/auth-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/gemini-auth-handlers.test.ts
  packages/shared/src/provider/auth-types.ts
  packages/shared/src/provider/index.ts
  packages/web/src/components/settings/AddGoogleAccountModal.tsx
  packages/web/src/components/settings/GeminiAccountsPanel.tsx
  packages/web/src/components/settings/ProvidersSettings.tsx
  packages/web/src/components/settings/__tests__/AddGoogleAccountModal.test.tsx
  packages/web/src/components/settings/__tests__/GeminiAccountsPanel.test.tsx
  packages/web/src/lib/api-helpers.ts
Due: daemon, web, e2e-matrix

Fix chat composer stop button state
  packages/web/src/components/ChatComposer.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/__tests__/ChatComposer.test.tsx
  packages/web/src/components/__tests__/InputTextarea.test.tsx
Due: web, e2e-matrix

Fix task thread refresh after reconnect (#1788)
  packages/web/src/hooks/__tests__/useSpaceTaskMessages.test.ts
  packages/web/src/hooks/useSpaceTaskMessages.ts
Due: web, e2e-matrix

Gate queue shortcuts for task composers
  packages/web/src/components/ChatComposer.tsx
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/__tests__/ChatComposer.test.tsx
  packages/web/src/components/__tests__/MessageInput.queue-mode.test.tsx
Due: web, e2e-matrix

Fix chat composer stop button state (#1791)
  packages/web/src/components/ChatComposer.tsx
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/__tests__/ChatComposer.test.tsx
  packages/web/src/components/__tests__/InputTextarea.test.tsx
  packages/web/src/components/__tests__/MessageInput.queue-mode.test.tsx
Due: web, e2e-matrix

fix: use correct DB table/column names in task scope docs
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Add configurable space agent thinking levels
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/rpc-handlers/space-agent-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/space/agents/agent-template-hash.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/managers/space-agent-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/space-agent-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/5-space/agent/custom-agent.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-init.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceAgentEditor.tsx
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/workflow-templates.ts
Due: daemon, web, e2e-matrix

Fix thinking level review issues
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/web/src/components/space/SpaceAgentEditor.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
Due: daemon, web, e2e-matrix

Keep task thinking config out of space chat
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
Due: daemon

Persist inherited thinking behavior correctly
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: daemon, web, e2e-matrix

Remove thinkingLevel from template drift hash — user preference, not preset identity
  packages/daemon/src/lib/space/agents/agent-template-hash.ts
  packages/daemon/src/lib/space/managers/space-agent-manager.ts
  packages/daemon/src/storage/schema/m117-backfill-agent-thinking-template-hashes.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-106_test.ts
  packages/daemon/tests/unit/5-space/agent/agent-template-hash.test.ts
Due: daemon

Clear step-level overrides when materializing single-agent to slot mode
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
Due: web, e2e-matrix

Address Codex P2 feedback and fix test schemas for thinkingLevel
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/storage/schema/m117-backfill-agent-thinking-template-hashes.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-106_test.ts
  packages/daemon/tests/unit/5-space/agent/agent-template-hash.test.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
Due: daemon, web, e2e-matrix

Address review: isolate EventRouter delivery failures
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Remove step-level field duplication in template node creation
  packages/web/src/components/space/workflow-templates.ts
Due: web, e2e-matrix

Address context panel review feedback
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
Due: web, e2e-matrix

Address review: store single subscriptions in topic trie
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review: clarify resource action topic format
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Restore mobile space switcher global nav
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
Due: web, e2e-matrix

Address review: use structured subscription keys
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review: add session channel to external event bus
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review: use structured delivery keys
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
