Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

docs: add database configuration guidance for tests
  CLAUDE.md
Due: none

fix: address review feedback on workspace selector
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle.test.ts
  packages/e2e/tests/features/workspace-selector.e2e.ts
  packages/web/src/components/WorkspaceSelector.tsx
Due: daemon, web, e2e-matrix

fix(QA): fix WorkspaceSelector z-index and update NewSessionModal tests
  packages/web/src/components/WorkspaceSelector.tsx
  packages/web/src/components/lobby/__tests__/NewSessionModal.test.tsx
Due: web, e2e-matrix

chore: add DB_PATH support to make dev/run and document worktree dev server usage
  CLAUDE.md
  Makefile
Due: none

fix: lazy rehydrate node-agent sub-sessions on message injection after daemon restart
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/node-execution-repository.ts
  packages/daemon/tests/unit/5-space/space/task-agent-manager-rehydration.test.ts
Due: daemon

fix(e2e): fix space-approval-gate-rejection test 4 and clean up debug logging
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/e2e/playwright.config.ts
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
  packages/web/src/components/space/ReadOnlyWorkflowCanvas.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix(e2e): fix space-approval-gate-rejection test 4 and clean up debug logging (#1473)
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/e2e/playwright.config.ts
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
  packages/web/src/components/space/ReadOnlyWorkflowCanvas.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

docs: add QA node reporting guidelines to CLAUDE.md
  CLAUDE.md
Due: none

Revert "docs: add QA node reporting guidelines to CLAUDE.md"
  CLAUDE.md
Due: none

chore: bump version to 0.9.0
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore: skip neo-daemon-lifecycle tests (will be refactored)
  Makefile
Due: none

chore: bump version to 0.9.0 (#1474)
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

fix: show stop button in space session composer when agent is running
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/ThreadedChatComposer.tsx
  packages/web/src/components/space/__tests__/ThreadedChatComposer.test.tsx
Due: web, e2e-matrix

fix(cli): remove orphaned workspace-related tests
  packages/cli/tests/cli-utils.test.ts
Due: none

fix(cli): remove orphaned workspace-related tests (#1476)
  packages/cli/tests/cli-utils.test.ts
Due: none

fix(ci): increase cross-provider idle timeouts to reduce flakiness
  .github/workflows/main.yml
  packages/daemon/tests/online/cross-provider/conversation-continuity-after-switch.test.ts
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
Due: none

refactor: inline workspace selection in chat container (#1472)
  CLAUDE.md
  Makefile
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/node-execution-repository.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle.test.ts
  packages/daemon/tests/unit/5-space/space/task-agent-manager-rehydration.test.ts
  packages/e2e/tests/features/workspace-selector.e2e.ts
  packages/shared/src/api.ts
  packages/web/src/components/WorkspaceSelector.tsx
  packages/web/src/components/lobby/NewSessionModal.tsx
  packages/web/src/components/lobby/__tests__/NewSessionModal.test.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/Lobby.tsx
  packages/web/src/lib/api-helpers.ts
Due: daemon, web, e2e-matrix

fix: show stop button in space session composer when agent is running (#1475)
  .github/workflows/main.yml
  packages/daemon/tests/online/cross-provider/conversation-continuity-after-switch.test.ts
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/ThreadedChatComposer.tsx
  packages/web/src/components/space/__tests__/ThreadedChatComposer.test.tsx
Due: web, e2e-matrix

fix(e2e): update workspace-selection tests after modal refactor (#1472)
  packages/e2e/tests/features/provider-model-switching.e2e.ts
  packages/e2e/tests/features/workspace-selection.e2e.ts
Due: none

refactor: lazy-load heavy deps and improve /spaces page UX
  packages/web/src/components/chat/MarkdownRenderer.tsx
  packages/web/src/components/sdk/tools/CodeViewer.tsx
  packages/web/src/components/space/SpaceConfigurePage.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/SpacesPage.tsx
  packages/web/vite.config.ts
Due: web, e2e-matrix

fix(e2e): update workspace-selection tests after modal refactor (#1472) (#1477)
  packages/e2e/tests/features/provider-model-switching.e2e.ts
  packages/e2e/tests/features/workspace-selection.e2e.ts
Due: none

test: update tests for async MarkdownRenderer and lazy-loaded components
  packages/web/src/components/chat/__tests__/MarkdownRenderer.test.tsx
  packages/web/src/components/sdk/__tests__/SDKAssistantMessage.test.tsx
  packages/web/src/components/sdk/__tests__/SDKMessageRenderer.test.tsx
  packages/web/src/components/sdk/__tests__/SDKUserMessage.test.tsx
  packages/web/src/components/sdk/__tests__/SlashCommandOutput.test.tsx
  packages/web/src/components/sdk/__tests__/SubagentBlock.test.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: none

refactor: lazy-load heavy deps and improve /spaces page UX (#1478)
  packages/web/src/components/chat/MarkdownRenderer.tsx
  packages/web/src/components/chat/__tests__/MarkdownRenderer.test.tsx
  packages/web/src/components/sdk/__tests__/SDKAssistantMessage.test.tsx
  packages/web/src/components/sdk/__tests__/SDKMessageRenderer.test.tsx
  packages/web/src/components/sdk/__tests__/SDKUserMessage.test.tsx
  packages/web/src/components/sdk/__tests__/SlashCommandOutput.test.tsx
  packages/web/src/components/sdk/__tests__/SubagentBlock.test.tsx
  packages/web/src/components/sdk/tools/CodeViewer.tsx
  packages/web/src/components/space/SpaceConfigurePage.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/SpacesPage.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
  packages/web/vite.config.ts
Due: web, e2e-matrix

fix(e2e): fix three test failures from post-#1472 UI changes
  packages/e2e/tests/features/provider-model-switching.e2e.ts
  packages/e2e/tests/features/space-context-panel-switching.e2e.ts
  packages/e2e/tests/features/space-navigation.e2e.ts
Due: none

fix(e2e): fix three test failures from post-#1472 UI changes (#1479)
  packages/e2e/tests/features/provider-model-switching.e2e.ts
  packages/e2e/tests/features/space-context-panel-switching.e2e.ts
  packages/e2e/tests/features/space-navigation.e2e.ts
Due: none

ci: remove broken Microsoft apt repos before apt-get update
  .github/workflows/main.yml
Due: none

ci: remove broken Microsoft apt repos before apt-get update (#1480)
  .github/workflows/main.yml
Due: none

feat(space): add approval audit trail with SpaceApprovalSource tracking
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-run-gate-handlers.test.ts
  packages/daemon/tests/unit/5-space/space/task-agent-tools.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/lib/__tests__/space-store.test.ts
Due: daemon

docs: add space autonomy & HITL gap analysis
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
Due: none

fix(ui): standardize panel header heights and fix mobile Safari bottom gap
  packages/web/src/App.tsx
  packages/web/src/components/ChatHeader.tsx
  packages/web/src/components/space/SpacePageHeader.tsx
  packages/web/src/islands/ContextPanel.tsx
Due: web, e2e-matrix

fix(ui): standardize panel header heights and fix mobile Safari bottom gap (#1482)
  packages/web/src/App.tsx
  packages/web/src/components/ChatHeader.tsx
  packages/web/src/components/space/SpacePageHeader.tsx
  packages/web/src/islands/ContextPanel.tsx
Due: web, e2e-matrix

feat(space): approval audit trail with SpaceApprovalSource tracking (#1481)
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-run-gate-handlers.test.ts
  packages/daemon/tests/unit/5-space/space/task-agent-tools.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/lib/__tests__/space-store.test.ts
Due: daemon

docs: add dependency graph and implementation sequence to gap analysis
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
Due: none

docs: rewrite Gap 8 as block reason tagging with 6 specific reasons
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
Due: none

feat(space): add block reason tagging for space tasks (#gap-8)
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/lib/__tests__/space-store.test.ts
Due: daemon

plan: review plan for PR 1484 block reason tagging
  plan.md
Due: none

fix(space): wire gate_rejected block reason and add stamp/clear tests
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix(agent): prevent stale startup timer from aborting new query after model switch
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
  packages/daemon/tests/unit/1-core/agent/model-switch-session-continuity.test.ts
  packages/daemon/tests/unit/1-core/agent/query-lifecycle-manager.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
Due: daemon

test(cross-provider): reduce timeouts to 30s and remove redundant test file
  .github/workflows/main.yml
  packages/daemon/tests/online/cross-provider/conversation-continuity-after-switch.test.ts
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
Due: none

fix(ci): remove deleted test file from online test matrix validator
  scripts/validate-online-test-matrix.sh
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
