Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

format: apply biome formatting to GoalsEditor.test.tsx
  packages/web/src/components/room/GoalsEditor.test.tsx
Due: none

Fix TaskView recovery after server restart (#718)
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-service.test.ts
Due: daemon

fix: update e2e locators from Goals to Missions
  packages/e2e/tests/features/livequery-task-goal-updates.e2e.ts
  packages/e2e/tests/features/room-sidebar-sections.e2e.ts
Due: none

feat: audit and fix room agent MCP tools parity vs backend capabilities
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/rpc-handlers/goal-handlers.test.ts
Due: daemon

fix: address review feedback — add missing tests and guard
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/rpc-handlers/goal-handlers.test.ts
Due: daemon

fix: format e2e comment + update remaining "No goals" assertion
  packages/e2e/tests/features/room-sidebar-sections.e2e.ts
  packages/web/src/islands/__tests__/RoomContextPanel.test.tsx
Due: none

refactor: switch task timeline livequery to canonical persisted sources
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-handlers.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-41_test.ts
  packages/daemon/tests/unit/storage/migrations/migration-43_test.ts
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
  packages/web/src/hooks/useGroupMessages.ts
Due: daemon, web, e2e-matrix

fix: do not auto-start paused or stopped room runtimes
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/tests/unit/room/room-runtime-service-wiring.test.ts
Due: daemon

refactor: remove sessions list from room dashboard overview
  packages/web/src/components/room/RoomDashboard.test.tsx
  packages/web/src/components/room/RoomDashboard.tsx
Due: web, e2e-matrix

refactor: canonical TaskView timeline + runtime startup state persistence (#720)
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/room-runtime-service-wiring.test.ts
  packages/daemon/tests/unit/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-handlers.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-41_test.ts
  packages/daemon/tests/unit/storage/migrations/migration-43_test.ts
  packages/web/src/components/room/RoomDashboard.test.tsx
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
  packages/web/src/hooks/useGroupMessages.ts
Due: daemon, web, e2e-matrix

feat: audit and fix room agent MCP tools parity vs backend capabilities (#719)
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/rpc-handlers/goal-handlers.test.ts
Due: daemon

fix: propagate reactiveDb to TaskRepository for LiveQuery notifications + rename Goals to Missions (#717)
  .gitignore
  docs/e2e-health-check-log.md
  packages/daemon/src/lib/room/managers/goal-manager.ts
  packages/daemon/src/lib/room/managers/room-manager.ts
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/tests/online/features/job-queue-crash-recovery.test.ts
  packages/daemon/tests/unit/room/goal-manager-measurable.test.ts
  packages/daemon/tests/unit/room/goal-manager.test.ts
  packages/daemon/tests/unit/room/goal-repository-v2.test.ts
  packages/daemon/tests/unit/room/room-manager.test.ts
  packages/daemon/tests/unit/room/task-manager-live-query.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
  packages/daemon/tests/unit/storage/task-repository.test.ts
  packages/e2e/tests/features/livequery-task-goal-updates.e2e.ts
  packages/e2e/tests/features/room-sidebar-sections.e2e.ts
  packages/web/src/components/room/GoalsEditor.test.tsx
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/islands/__tests__/Room.test.tsx
  packages/web/src/islands/__tests__/RoomContextPanel.test.tsx
Due: daemon, web, e2e-matrix

test: fix pre-existing test failures uncovered during Task 6.2 verification
  packages/daemon/tests/unit/providers/anthropic-copilot/bun-node-wrapper.test.ts
  packages/web/src/hooks/__tests__/useGroupMessages.test.ts
Due: none

test: update stale header comment to reflect full CRUD delta handling
  packages/web/src/hooks/__tests__/useGroupMessages.test.ts
Due: none

fix(e2e): disambiguate Missions tab locator to avoid sidebar button clash
  .gitignore
  docs/e2e-health-check-log.md
  packages/e2e/tests/features/livequery-task-goal-updates.e2e.ts
  packages/e2e/tests/features/mission-creation.e2e.ts
  packages/e2e/tests/features/mission-detail.e2e.ts
  packages/e2e/tests/features/mission-terminology.e2e.ts
Due: none

test: fix pre-existing test failures uncovered during Task 6.2 verification (#721)
  packages/daemon/tests/unit/providers/anthropic-copilot/bun-node-wrapper.test.ts
  packages/web/src/hooks/__tests__/useGroupMessages.test.ts
Due: none

refactor(e2e): extract openMissionsTab to shared room-helpers
  packages/e2e/tests/features/livequery-task-goal-updates.e2e.ts
  packages/e2e/tests/features/mission-creation.e2e.ts
  packages/e2e/tests/features/mission-detail.e2e.ts
  packages/e2e/tests/helpers/room-helpers.ts
Due: none

test: add parseGroupMessage timestamp preservation tests
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
Due: none

fix: inject timestamp from database row into parsed SDKMessages
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: web, e2e-matrix

fix: wire room runtime to reactive db facade for livequery updates
  packages/daemon/src/lib/rpc-handlers/index.ts
Due: none

fix: route sdk message write paths through reactive db facade
  packages/daemon/src/app.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
Due: daemon

task/bug task view message timestamps show current time (#722)
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: web, e2e-matrix

fix(e2e): disambiguate Missions tab locator to avoid sidebar button clash (#723)
  .gitignore
  docs/e2e-health-check-log.md
  packages/e2e/tests/features/livequery-task-goal-updates.e2e.ts
  packages/e2e/tests/features/mission-creation.e2e.ts
  packages/e2e/tests/features/mission-detail.e2e.ts
  packages/e2e/tests/features/mission-terminology.e2e.ts
  packages/e2e/tests/helpers/room-helpers.ts
Due: none

test: cover reactive sdk_messages invalidation on room runtime inject
  packages/daemon/tests/unit/room/room-runtime-service-wiring.test.ts
Due: none

fix: use reactive db facade for sdk message write paths (#724)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/tests/unit/room/room-runtime-service-wiring.test.ts
Due: daemon

fix(e2e): update mission-creation selectors for two-step wizard flow
  packages/e2e/tests/features/mission-creation.e2e.ts
Due: none

fix(e2e): update selectors for two-step wizard and fix API response mismatches
  packages/e2e/tests/features/mission-detail.e2e.ts
  packages/e2e/tests/features/space-session-groups.e2e.ts
  packages/e2e/tests/features/task-message-streaming.e2e.ts
Due: none

fix(e2e): resolve strict mode violations in task-action tests
  packages/e2e/tests/features/task-actions-dropdown.e2e.ts
  packages/e2e/tests/features/task-view-action-dropdown.e2e.ts
Due: none

fix(e2e): update task-lifecycle selectors and skip deprecated task-action tests
  packages/e2e/tests/features/task-actions-dropdown.e2e.ts
  packages/e2e/tests/features/task-lifecycle.e2e.ts
  packages/e2e/tests/features/task-view-action-dropdown.e2e.ts
Due: none

fix(e2e): skip tests requiring LLM response that fail in CI
  packages/e2e/tests/features/job-queue-background-tasks.e2e.ts
  packages/e2e/tests/features/worktree-isolation.e2e.ts
Due: none

feat(web): show pending queue overlay in task view input
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
Due: web, e2e-matrix

test(e2e): skip worktree-isolation tests requiring LLM responses
  packages/e2e/tests/features/space-session-groups.e2e.ts
  packages/e2e/tests/features/worktree-isolation.e2e.ts
Due: none

test: migrate delivery semantics in daemon suite
  packages/daemon/src/lib/agent/query-mode-handler.ts
  packages/daemon/tests/online/features/message-delivery-mode-queue.test.ts
  packages/daemon/tests/unit/agent/event-subscription-setup.test.ts
  packages/daemon/tests/unit/agent/message-recovery-handler.test.ts
  packages/daemon/tests/unit/agent/query-mode-handler.test.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-handlers.test.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

fix: handle null status migration and guard taskview queue races
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-44_test.ts
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
Due: daemon, web, e2e-matrix

fix(e2e): update mission-creation selectors for two-step wizard flow (#725)
  packages/e2e/tests/features/job-queue-background-tasks.e2e.ts
  packages/e2e/tests/features/mission-creation.e2e.ts
  packages/e2e/tests/features/mission-detail.e2e.ts
  packages/e2e/tests/features/space-session-groups.e2e.ts
  packages/e2e/tests/features/task-actions-dropdown.e2e.ts
  packages/e2e/tests/features/task-lifecycle.e2e.ts
  packages/e2e/tests/features/task-message-streaming.e2e.ts
  packages/e2e/tests/features/task-view-action-dropdown.e2e.ts
  packages/e2e/tests/features/worktree-isolation.e2e.ts
Due: none

chore: bump version to 0.8.0
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none
