Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

test(ui): add unit tests for R2 headless components
  packages/ui/src/components/badge/badge.tsx
  packages/ui/tests/r2-headless-components.test.tsx
Due: none

fix(ui): address P0/P1 code review feedback
  packages/ui/src/components/alert/alert.tsx
  packages/ui/src/components/avatar/avatar.tsx
  packages/ui/src/components/progress-bar/progress-bar.tsx
  packages/ui/src/components/stepper/stepper.tsx
  packages/ui/tests/r2-headless-components.test.tsx
Due: none

feat(ui): export TransitionChild and add TouchTarget component
  packages/ui/src/components/touch-target/touch-target.tsx
  packages/ui/src/mod.ts
  packages/ui/tests/touch-target.test.tsx
Due: none

feat(ui): add demo examples for Command Palette, Drawer, and Notifications
  packages/ui/demo/App.tsx
  packages/ui/demo/sections/CommandPaletteDemo.tsx
  packages/ui/demo/sections/DrawerDemo.tsx
  packages/ui/demo/sections/NotificationDemo.tsx
Due: none

fix(ui): address code review feedback for demo examples
  packages/ui/demo/sections/CommandPaletteDemo.tsx
  packages/ui/demo/sections/DrawerDemo.tsx
  packages/ui/demo/sections/NotificationDemo.tsx
Due: none

feat(ui): add demo examples for composable patterns (#1260)
  packages/ui/demo/App.tsx
  packages/ui/demo/sections/CommandPaletteDemo.tsx
  packages/ui/demo/sections/DrawerDemo.tsx
  packages/ui/demo/sections/NotificationDemo.tsx
  packages/ui/src/components/alert/alert.tsx
  packages/ui/src/components/avatar/avatar.tsx
  packages/ui/src/components/badge/badge.tsx
  packages/ui/src/components/progress-bar/progress-bar.tsx
  packages/ui/src/components/stepper/stepper.tsx
  packages/ui/src/components/touch-target/touch-target.tsx
  packages/ui/src/mod.ts
  packages/ui/tests/r2-headless-components.test.tsx
  packages/ui/tests/touch-target.test.tsx
Due: none

fix(e2e): clean up archived spaces in test cleanup to prevent UNIQUE constraint errors
  packages/e2e/tests/features/reviewer-feedback-loop.e2e.ts
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
  packages/e2e/tests/features/space-export-import.e2e.ts
  packages/e2e/tests/features/space-happy-path-pipeline.e2e.ts
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
  packages/e2e/tests/helpers/workflow-editor-helpers.ts
Due: none

fix(ui): address P1 bugs and P2 test gaps from review
  packages/ui/src/components/field/field.tsx
  packages/ui/src/components/input/input.tsx
  packages/ui/tests/field.test.tsx
  packages/ui/tests/input-group.test.tsx
Due: none

fix(e2e): clean up archived spaces in test cleanup to prevent UNIQUE constraint errors (#1261)
  packages/e2e/tests/features/reviewer-feedback-loop.e2e.ts
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
  packages/e2e/tests/features/space-export-import.e2e.ts
  packages/e2e/tests/features/space-happy-path-pipeline.e2e.ts
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
  packages/e2e/tests/helpers/workflow-editor-helpers.ts
Due: none

fix(ui): correct aria-describedby test assertions to check IDs not text
  packages/ui/tests/field.test.tsx
Due: none

feat(ui): improve existing component APIs (#1255)
  packages/ui/src/components/field/field.tsx
  packages/ui/src/components/input-group/input-group.tsx
  packages/ui/src/components/input/input.tsx
  packages/ui/src/components/menu/menu.tsx
  packages/ui/src/mod.ts
  packages/ui/tests/field.test.tsx
  packages/ui/tests/input-group.test.tsx
  packages/ui/tests/menu.test.tsx
Due: none

Make startup-timeout retry transparent
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/unit/agent/query-runner.test.ts
Due: daemon

Refactor space overview for task triage
  packages/web/src/components/space/SpaceDashboard.tsx
  packages/web/src/components/space/__tests__/SpaceDashboard.test.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
Due: web, e2e-matrix

Move space configure into its own route
  packages/web/src/App.tsx
  packages/web/src/components/space/SpaceConfigurePage.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

Add dashboard style explorer and ui tabs trial
  packages/web/public/space-dashboard-style-options.html
  packages/web/src/components/space/SpaceConfigurePage.tsx
  packages/web/tsconfig.json
  packages/web/vite.config.ts
  packages/web/vitest.config.ts
Due: web, e2e-matrix

Polish space configure surface
  packages/web/src/components/space/SpaceConfigurePage.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: web, e2e-matrix

Simplify space overview shell
  packages/web/src/components/space/SpaceDashboard.tsx
  packages/web/src/components/space/__tests__/SpaceDashboard.test.tsx
Due: web, e2e-matrix

Format space dashboard files for CI
  packages/web/src/App.tsx
  packages/web/src/components/space/SpaceConfigurePage.tsx
  packages/web/src/components/space/SpaceDashboard.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
Due: web, e2e-matrix

chore(deps): update all non-SDK dependencies to latest stable versions
  bun.lock
  package.json
  packages/cli/package.json
  packages/e2e/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(deps): update all non-SDK dependencies to latest stable versions (#1264)
  bun.lock
  package.json
  packages/cli/package.json
  packages/e2e/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(deps): update @anthropic-ai/claude-agent-sdk to 0.2.91
  bun.lock
  packages/daemon/package.json
  packages/shared/src/sdk/sdk-tools.d.ts
  packages/shared/src/sdk/sdk.d.ts
Due: daemon

fix(e2e): initialize git repo for E2E workspace in global-setup
  packages/e2e/global-setup.ts
Due: none

fix(e2e): initialize git repo for E2E workspace using shared module
  packages/e2e/global-setup.ts
  packages/e2e/playwright.config.ts
  packages/e2e/test-env.ts
Due: none

chore(deps): update @anthropic-ai/claude-agent-sdk to 0.2.91 (#1265)
  bun.lock
  packages/daemon/package.json
  packages/shared/src/sdk/sdk-tools.d.ts
  packages/shared/src/sdk/sdk.d.ts
Due: daemon

fix(e2e): initialize git repo for E2E workspace in global-setup (#1263)
  packages/e2e/global-setup.ts
  packages/e2e/playwright.config.ts
  packages/e2e/test-env.ts
Due: none

fix(ui): fix StepperIcon stepIndex prop in tests and add Avatar coverage
  packages/ui/tests/r2-headless-components.test.tsx
Due: none

fix(ui): fix StepperIcon stepIndex prop in tests and add Avatar coverage (#1267)
  packages/ui/tests/r2-headless-components.test.tsx
Due: none

Make startup-timeout retry transparent (#1262)
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/unit/agent/query-runner.test.ts
Due: daemon

Refine space dashboard shell and add style explorer (#1251)
  packages/web/public/space-dashboard-style-options.html
  packages/web/src/App.tsx
  packages/web/src/components/space/SpaceConfigurePage.tsx
  packages/web/src/components/space/SpaceDashboard.tsx
  packages/web/src/components/space/__tests__/SpaceDashboard.test.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
  packages/web/tsconfig.json
  packages/web/vite.config.ts
  packages/web/vitest.config.ts
Due: web, e2e-matrix

fix(ci): add ANTHROPIC_API_KEY to No-LLM E2E tests
  .github/workflows/main.yml
Due: none

fix(ci): add ANTHROPIC_API_KEY to No-LLM E2E tests (#1268)
  .github/workflows/main.yml
Due: none

docs: add plan for completing @neokai/ui missing components + 364-example demo
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/00-overview.md
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/01-foundation.md
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/02-pure-html-demos.md
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/03-icon-only-demos.md
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/04-headless-only-demos.md
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/05-headless-icon-demos.md
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/06-page-compositions.md
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/07-integration-qa.md
Due: none

feat(daemon): add disableGoalProcessing flag to prevent worktree spam in E2E tests
  packages/daemon/src/config.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/tests/unit/room/room-runtime-service-wiring.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/room-runtime.test.ts
  packages/e2e/playwright.config.ts
Due: daemon

fix: address plan review feedback — correct file counts and add missing dependency
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/00-overview.md
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/01-foundation.md
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/02-pure-html-demos.md
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/03-icon-only-demos.md
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/05-headless-icon-demos.md
Due: none

fix: correct dependency breakdown table and subtask file counts
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/00-overview.md
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/03-icon-only-demos.md
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/05-headless-icon-demos.md
Due: none

fix: reconcile M2 subtask counts with verified overview table
  docs/plans/complete-neokaiui-missing-components-full-364-example-demo/02-pure-html-demos.md
Due: none

fix visual workflow port drag behavior and tag suggestion cleanup
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/useConnectionDrag.test.tsx
  packages/web/src/components/space/visual-editor/useConnectionDrag.ts
Due: web, e2e-matrix
