Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

feat(shared): add short ID utilities and prefix constants
  packages/daemon/tests/unit/short-id/utils.test.ts
  packages/shared/src/utils.ts
Due: daemon

feat(shared): add short ID utilities and prefix constants (#788)
  packages/daemon/tests/unit/short-id/utils.test.ts
  packages/shared/src/utils.ts
Due: daemon

feat(storage): add migration 47 — short_id columns and short_id_counters table
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-47_test.ts
Due: daemon

test(storage): strengthen migration-47 tests — existing-DB ALTER path and goals index coverage
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-47_test.ts
Due: daemon

feat(storage): add migration 47 — short_id columns and short_id_counters table (#789)
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-47_test.ts
Due: daemon

feat(daemon): add ShortIdAllocator service with atomic counter allocation
  packages/daemon/src/lib/short-id-allocator.ts
  packages/daemon/tests/unit/short-id/allocator.test.ts
Due: daemon

refactor(daemon): use RETURNING clause in ShortIdAllocator, add explicit null guard
  packages/daemon/src/lib/short-id-allocator.ts
  packages/daemon/tests/unit/short-id/allocator.test.ts
Due: daemon

feat(daemon): add ShortIdAllocator service with atomic counter allocation (#790)
  packages/daemon/src/lib/short-id-allocator.ts
  packages/daemon/tests/unit/short-id/allocator.test.ts
Due: daemon

feat(shared): add shortId field to NeoTask and RoomGoal interfaces
  packages/shared/src/types/neo.ts
Due: daemon

feat(shared): add shortId field to NeoTask and RoomGoal interfaces (#791)
  packages/shared/src/types/neo.ts
Due: daemon

feat(worktree): add getProjectShortKey and sentinel-based collision detection
  packages/daemon/src/lib/worktree-manager.ts
  packages/daemon/tests/unit/lib/worktree-manager.test.ts
Due: daemon

fix(worktree): address review feedback — stale comment and mock type cleanup
  packages/daemon/src/lib/worktree-manager.ts
  packages/daemon/tests/unit/lib/worktree-manager.test.ts
Due: daemon

feat(storage): add short ID assignment and backfill in TaskRepository
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/tests/unit/storage/task-repository-short-id.test.ts
  packages/daemon/tests/unit/storage/task-repository.test.ts
Due: daemon

feat(worktree): add getProjectShortKey and sentinel-based collision detection (#792)
  packages/daemon/src/lib/worktree-manager.ts
  packages/daemon/tests/unit/lib/worktree-manager.test.ts
Due: daemon

test(worktree): add TEST_WORKTREE_BASE_DIR override and old-path verifyWorktree tests
  packages/daemon/tests/unit/lib/worktree-manager.test.ts
Due: none

fix(storage): apply short ID backfill in getDraftTasksByCreator; document listTasks concurrency safety
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/tests/unit/storage/task-repository-short-id.test.ts
Due: daemon

test(worktree): add TEST_WORKTREE_BASE_DIR override and old-path verifyWorktree tests (#794)
  packages/daemon/tests/unit/lib/worktree-manager.test.ts
Due: none

fix(tests): add short_id column to all room test helper schemas
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/session-group-repository-reactive.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: none

feat(storage): add short ID assignment and backfill in TaskRepository (#793)
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/session-group-repository-reactive.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/daemon/tests/unit/storage/task-repository-short-id.test.ts
  packages/daemon/tests/unit/storage/task-repository.test.ts
Due: daemon

feat(storage): add short ID assignment and backfill in GoalRepository (#task-23)
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/tests/unit/room/mission-system-edge-cases.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/daemon/tests/unit/storage/goal-repository-short-id.test.ts
Due: daemon

fix(storage): add short ID backfill to getGoalsForTask and concurrency comment
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/tests/unit/storage/goal-repository-short-id.test.ts
Due: daemon

feat(storage): add short ID assignment and backfill in GoalRepository (#task-23) (#795)
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/tests/unit/room/mission-system-edge-cases.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/daemon/tests/unit/storage/goal-repository-short-id.test.ts
Due: daemon

feat(storage): wire ShortIdAllocator into TaskManager and GoalManager at all instantiation sites
  packages/daemon/src/lib/room/managers/goal-manager.ts
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/tests/unit/room/goal-manager.test.ts
  packages/daemon/tests/unit/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
Due: daemon

fix(storage): fix UNIQUE constraint failure — short_id uniqueness must be room-scoped
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-47_test.ts
  packages/daemon/tests/unit/storage/migrations/migration-48_test.ts
Due: daemon

plan: comprehensive MCP support review and external MCP integration
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/00-overview.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/01-audit-and-documentation.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/02-app-mcp-registry-backend.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/03-mcp-lifecycle-manager.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/04-room-session-mcp-integration.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/05-web-ui-mcp-registry.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/06-planner-web-search.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/07-e2e-tests.md
Due: none

feat(storage): wire ShortIdAllocator into TaskManager and GoalManager at all instantiation sites (#796)
  packages/daemon/src/lib/room/managers/goal-manager.ts
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/goal-manager.test.ts
  packages/daemon/tests/unit/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-47_test.ts
  packages/daemon/tests/unit/storage/migrations/migration-48_test.ts
Due: daemon

test(short-id): add multi-tenant isolation unit tests for scoped counters
  packages/daemon/tests/unit/short-id/multi-tenant.test.ts
Due: none

feat(lib): add ID resolution helpers for task and goal UUID/short-ID lookup
  packages/daemon/src/lib/id-resolution.ts
  packages/daemon/tests/unit/lib/id-resolution.test.ts
Due: daemon

test(short-id): add multi-tenant isolation unit tests for scoped counters (#798)
  packages/daemon/tests/unit/short-id/multi-tenant.test.ts
Due: none

docs(plan): address P1/P2/P3 review feedback on MCP plan
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/00-overview.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/01-audit-and-documentation.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/02-app-mcp-registry-backend.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/03-mcp-lifecycle-manager.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/05-web-ui-mcp-registry.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/06-planner-web-search.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/07-e2e-tests.md
Due: none

fix(lib): include input ID in not-found error messages for debuggability
  packages/daemon/src/lib/id-resolution.ts
  packages/daemon/tests/unit/lib/id-resolution.test.ts
Due: daemon

docs(plan): address P2/P3 feedback from second review
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/00-overview.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/02-app-mcp-registry-backend.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/03-mcp-lifecycle-manager.md
Due: none

feat(lib): add ID resolution helpers for task and goal UUID/short-ID lookup (#800)
  packages/daemon/src/lib/id-resolution.ts
  packages/daemon/tests/unit/lib/id-resolution.test.ts
Due: daemon

feat(web): replace flat progress bar with circular indicator in task list items
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
Due: web, e2e-matrix

docs(plan): address P2/P3 feedback from third review
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/00-overview.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/03-mcp-lifecycle-manager.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/07-e2e-tests.md
Due: none

docs: add agent memory research report with phased FTS5 + vector recommendation (#785)
  docs/agent-memory-research.md
Due: none

docs: add LSP integration research — Claude Agent SDK and native LSP options (#786)
  docs/lsp-integration-research.md
Due: none

feat(web): replace flat progress bar with circular indicator in task list items (#801)
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
Due: web, e2e-matrix

fix(task): transition review task to in_progress when human sends a message
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
