Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

feat(neo): Attach query tools MCP server to Neo session (task 2.5) (#1133)
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/tests/unit/neo/neo-agent-manager-query-tools.test.ts
Due: daemon

feat(neo): Configuration and messaging action tools (task 3.4)
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
Due: daemon

fix(neo): address PR review feedback for configuration and messaging tools
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
Due: daemon

fix(neo): sanitize env vars in update_mcp_server; fix update_skill description
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
Due: daemon

feat(neo): Configuration and messaging action tools (task 3.4) (#1134)
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
Due: daemon

feat(neo): Attach action tools MCP server to Neo session (task 3.5)
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/neo/neo-system-prompt.ts
  packages/daemon/src/lib/neo/tools/neo-tools-server.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/tests/unit/neo/neo-agent-manager-all-tools.test.ts
Due: daemon

fix(neo): guard getActiveSessionForRoom against non-existent sessions
  packages/daemon/src/lib/rpc-handlers/index.ts
Due: none

feat(neo): Attach action tools to Neo session (task 3.5) (#1135)
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/neo/neo-system-prompt.ts
  packages/daemon/src/lib/neo/tools/neo-tools-server.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/tests/unit/neo/neo-agent-manager-all-tools.test.ts
Due: daemon

feat(neo): Activity logging infrastructure for Neo tool invocations (task 5.1)
  packages/daemon/src/lib/neo/activity-logger.ts
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/neo-activity-log-repository.ts
  packages/daemon/tests/unit/neo/neo-activity-logger.test.ts
Due: daemon

fix(neo): address review feedback on activity logging infrastructure
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/src/storage/repositories/neo-activity-log-repository.ts
  packages/daemon/tests/unit/neo/neo-activity-logger.test.ts
Due: daemon

feat(neo): Activity logging infrastructure (task 5.1) (#1136)
  packages/daemon/src/lib/neo/activity-logger.ts
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/neo-activity-log-repository.ts
  packages/daemon/tests/unit/neo/neo-activity-logger.test.ts
Due: daemon

test(neo): online conversation flow tests (task 10.2)
  .github/workflows/main.yml
  packages/daemon/tests/online/neo/neo-conversation-flow.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

feat(neo): undo_last_action tool implementation (task 5.2)
  packages/daemon/src/lib/neo/activity-logger.ts
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
  packages/daemon/tests/unit/neo/neo-undo-tool.test.ts
Due: daemon

fix(neo): address undo tool review feedback
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-undo-tool.test.ts
Due: daemon

fix(neo): resolve all P0/P1/P2 review issues in conversation flow tests
  packages/daemon/tests/online/neo/neo-conversation-flow.test.ts
Due: none

fix(test): fix test ordering interference in neo-activity-logger tests
  packages/daemon/tests/unit/neo/neo-activity-logger.test.ts
Due: none

test(neo): online conversation flow tests (task 10.2) (#1137)
  .github/workflows/main.yml
  packages/daemon/tests/online/neo/neo-conversation-flow.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

fix(neo): add active-session check to create_room undo handler
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
  packages/daemon/tests/unit/neo/neo-undo-tool.test.ts
Due: daemon

feat(neo): Undo tool implementation (task 5.2) (#1138)
  packages/daemon/src/lib/neo/activity-logger.ts
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
  packages/daemon/tests/unit/neo/neo-activity-logger.test.ts
  packages/daemon/tests/unit/neo/neo-undo-tool.test.ts
Due: daemon

test(neo): cross-system integration and gap coverage unit tests (task 10.1)
  packages/daemon/tests/unit/neo/neo-integration-confirmation-roundtrip.test.ts
  packages/daemon/tests/unit/neo/neo-integration-cross-system.test.ts
  packages/daemon/tests/unit/neo/neo-integration-session-recovery.test.ts
Due: none

test(neo): address review feedback on integration gap coverage tests
  packages/daemon/tests/unit/neo/neo-integration-confirmation-roundtrip.test.ts
  packages/daemon/tests/unit/neo/neo-integration-cross-system.test.ts
  packages/daemon/tests/unit/neo/neo-integration-session-recovery.test.ts
  packages/daemon/tests/unit/neo/neo-test-helpers.ts
Due: none

test(neo): cross-system integration and gap coverage unit tests (task 10.1) (#1139)
  packages/daemon/tests/unit/neo/neo-integration-confirmation-roundtrip.test.ts
  packages/daemon/tests/unit/neo/neo-integration-cross-system.test.ts
  packages/daemon/tests/unit/neo/neo-integration-session-recovery.test.ts
  packages/daemon/tests/unit/neo/neo-test-helpers.ts
Due: none

fix(e2e): resolve strict mode violations and space creation isolation issues
  packages/e2e/tests/core/connection-resilience.e2e.ts
  packages/e2e/tests/core/scroll-behavior.e2e.ts
  packages/e2e/tests/features/archive.e2e.ts
  packages/e2e/tests/features/draft.e2e.ts
  packages/e2e/tests/features/file-attachment.e2e.ts
  packages/e2e/tests/features/slash-cmd.e2e.ts
  packages/e2e/tests/features/task-message-streaming.e2e.ts
  packages/e2e/tests/helpers/session-archive-helpers.ts
  packages/e2e/tests/helpers/slash-command-helpers.ts
  packages/e2e/tests/helpers/space-helpers.ts
  packages/e2e/tests/serial/error-scenarios.e2e.ts
  packages/e2e/tests/smoke/message-send.e2e.ts
Due: none

fix(e2e): address reviewer feedback on PR #1140
  packages/e2e/tests/features/draft.e2e.ts
  packages/e2e/tests/features/rewind-features.e2e.ts
  packages/e2e/tests/features/space-agent-chat.e2e.ts
  packages/e2e/tests/features/space-context-panel-switching.e2e.ts
Due: none

fix(neo): render SDK messages using SDKMessageRenderer in NeoChatView
  packages/web/src/components/neo/NeoChatView.test.tsx
  packages/web/src/components/neo/NeoChatView.tsx
Due: web, e2e-matrix

fix(e2e): resolve strict mode violations and space creation isolation (#1140)
  packages/e2e/tests/core/connection-resilience.e2e.ts
  packages/e2e/tests/core/scroll-behavior.e2e.ts
  packages/e2e/tests/features/archive.e2e.ts
  packages/e2e/tests/features/draft.e2e.ts
  packages/e2e/tests/features/file-attachment.e2e.ts
  packages/e2e/tests/features/rewind-features.e2e.ts
  packages/e2e/tests/features/slash-cmd.e2e.ts
  packages/e2e/tests/features/space-agent-chat.e2e.ts
  packages/e2e/tests/features/space-context-panel-switching.e2e.ts
  packages/e2e/tests/features/task-message-streaming.e2e.ts
  packages/e2e/tests/helpers/session-archive-helpers.ts
  packages/e2e/tests/helpers/slash-command-helpers.ts
  packages/e2e/tests/helpers/space-helpers.ts
  packages/e2e/tests/serial/error-scenarios.e2e.ts
  packages/e2e/tests/smoke/message-send.e2e.ts
Due: none

fix(neo): add fallback rendering for unparseable assistant messages
  packages/web/src/components/neo/NeoChatView.test.tsx
  packages/web/src/components/neo/NeoChatView.tsx
Due: web, e2e-matrix

feat(tools): add filtering, pagination, and compact mode to list_goals and list_tasks MCP tools
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/space/tools/global-spaces-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
Due: daemon

fix(neo): render SDK messages using SDKMessageRenderer in NeoChatView (#1141)
  packages/web/src/components/neo/NeoChatView.test.tsx
  packages/web/src/components/neo/NeoChatView.tsx
Due: web, e2e-matrix

test: update and extend list_goals/list_tasks tests for new filtering, pagination, and compact mode
  packages/daemon/tests/unit/neo/neo-query-tools.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
Due: none

refactor: remove dead loadHistory() and historyLoaded from neoStore
  packages/web/src/lib/neo-store.test.ts
  packages/web/src/lib/neo-store.ts
Due: web, e2e-matrix

test(e2e): add Neo chat rendering tests to verify readable text output
  packages/e2e/tests/features/neo-chat-rendering.e2e.ts
Due: none

fix: address review feedback on list_goals/list_tasks tools
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/space/tools/global-spaces-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/neo/neo-query-tools.test.ts
  packages/daemon/tests/unit/space/global-spaces-tools.test.ts
  packages/daemon/tests/unit/space/space-agent-tools.test.ts
Due: daemon

refactor: remove dead loadHistory() and historyLoaded from neoStore (#1143)
  packages/web/src/lib/neo-store.test.ts
  packages/web/src/lib/neo-store.ts
Due: web, e2e-matrix

refactor(e2e): extract Neo helpers and fix rendering test issues
  packages/e2e/tests/features/neo-chat-rendering.e2e.ts
  packages/e2e/tests/features/neo-conversation.e2e.ts
  packages/e2e/tests/helpers/neo-helpers.ts
  packages/web/src/components/neo/NeoChatView.tsx
Due: web, e2e-matrix

fix(e2e): address rendering test review feedback (P1/P2 issues)
  packages/e2e/tests/features/neo-chat-rendering.e2e.ts
  packages/e2e/tests/helpers/neo-helpers.ts
Due: none

fix(daemon): resolve SDK session file path mismatch causing startup timeout after cross-provider model switch
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
  packages/daemon/tests/online/cross-provider/glm-to-anthropic-resume.test.ts
Due: daemon

ci: add glm-to-anthropic-resume test to online test matrix
  .github/workflows/main.yml
  scripts/validate-online-test-matrix.sh
Due: none

docs(ci): document workflow_dispatch E2E on PR branches verification
  docs/ci/workflow-dispatch-e2e-on-pr-branches.md
Due: none

docs(plan): add render-goal plan for mission display in room UI
  docs/plans/render-goal.md
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
