Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix: treat disabled workflow_id as unusable in get_workflow_detail
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

feat: canonicalise Bash defaults and correlate pre/post hooks by tool_use_id
  packages/daemon/src/lib/agent/loop-detector-hook.ts
  packages/daemon/tests/unit/1-core/agent/loop-detector-hook.test.ts
Due: daemon

fix: guard handle fallback in get_workflow_detail and change_plan
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

feat: add workflow handle as alternative identifier (#1841)
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-handlers.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/1-core/lib/space-workflow-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-127_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-workflow-repository-handle.test.ts
  packages/daemon/tests/unit/5-space/other/export-import-round-trip.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

chore(release): bump version to 0.22.0
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(release): bump version to 0.22.0 (#1859)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

refactor: split StateManager into StateProjectionService + InternalEventBus subscribers (M5)
  knip.json
  packages/daemon/src/app.ts
  packages/daemon/src/lib/client-event-bridge.ts
  packages/daemon/src/lib/internal-event-bus.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/src/lib/state-projection-service.ts
  packages/daemon/tests/unit/1-core/session/state-projection-service.test.ts
Due: daemon

fix: address review feedback on M5 bridge (complete payload, sync ordering, shim compat)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/src/lib/state-projection-service.ts
Due: daemon

fix: correct test mock to store handler arrays
  packages/daemon/tests/unit/1-core/session/state-projection-service.test.ts
Due: none

refactor: split StateManager into StateProjectionService + InternalEventBus subscribers (M5) (#1858)
  knip.json
  packages/daemon/src/app.ts
  packages/daemon/src/lib/client-event-bridge.ts
  packages/daemon/src/lib/internal-event-bus.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/src/lib/state-projection-service.ts
  packages/daemon/tests/unit/1-core/session/state-projection-service.test.ts
Due: daemon

feat(daemon): normalize Space runtime notifications via InternalEventBus (M6)
  packages/daemon/src/lib/internal-event-bus.ts
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-agent-notification-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/other/space-agent-notification-service.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-notifications.test.ts
Due: daemon

fix(daemon): address M6 review feedback on production wiring and types
  packages/daemon/src/lib/internal-event-bus.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-agent-notification-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/types.ts
  packages/daemon/tests/unit/5-space/other/space-agent-notification-service.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-edge-cases.test.ts
Due: daemon

feat: per-space filtering, task-agent-manager bus wiring, and lifecycle cleanup
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/runtime/space-agent-notification-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/other/space-agent-notification-service.test.ts
Due: daemon

fix: pass error object to log.error and extract tearDownSpaceNotificationService helper
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
Due: daemon

test: update unsubscriber count expectation from 4 to 7
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
Due: none

feat(daemon): normalize Space runtime notifications via InternalEventBus (M6) (#1860)
  packages/daemon/src/lib/internal-event-bus.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-agent-notification-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/runtime/types.ts
  packages/daemon/tests/unit/5-space/other/space-agent-notification-service.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-edge-cases.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
Due: daemon

refactor(daemon): rename InternalEventBus sessionId to namespaceId
  packages/daemon/src/app.ts
  packages/daemon/src/lib/external-events/external-event-service.ts
  packages/daemon/src/lib/internal-event-bus.ts
  packages/daemon/src/lib/rpc-handlers/settings-handlers.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/state-projection-service.ts
  packages/daemon/tests/unit/1-core/core/internal-event-bus.test.ts
  packages/daemon/tests/unit/1-core/session/state-projection-service.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/settings-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-service.test.ts
  packages/daemon/tests/unit/5-space/other/space-agent-notification-service.test.ts
Due: daemon

fix(test): update stale sessionId type annotation in internal-event-bus test
  packages/daemon/tests/unit/1-core/core/internal-event-bus.test.ts
Due: none

refactor(daemon): rename InternalEventBus sessionId to namespaceId (#1861)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/external-events/external-event-service.ts
  packages/daemon/src/lib/internal-event-bus.ts
  packages/daemon/src/lib/rpc-handlers/settings-handlers.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/state-projection-service.ts
  packages/daemon/tests/unit/1-core/core/internal-event-bus.test.ts
  packages/daemon/tests/unit/1-core/session/state-projection-service.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/settings-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-service.test.ts
  packages/daemon/tests/unit/5-space/other/space-agent-notification-service.test.ts
Due: daemon

refactor(daemon): remove messageHub from StateProjectionService, kill state-manager.ts re-export (M4/M5)
  knip.json
  packages/daemon/src/app.ts
  packages/daemon/src/lib/client-event-bridge.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/src/lib/state-projection-service.ts
  packages/daemon/tests/unit/1-core/core/client-event-bridge.test.ts
  packages/daemon/tests/unit/1-core/session/state-projection-service.test.ts
Due: daemon

fix(daemon): address review feedback on ClientEventBridge event sourcing
  packages/daemon/src/app.ts
  packages/daemon/src/lib/client-event-bridge.ts
  packages/daemon/src/lib/state-projection-service.ts
  packages/daemon/tests/unit/1-core/core/client-event-bridge.test.ts
Due: daemon

refactor(daemon): remove messageHub from StateProjectionService, kill state-manager.ts (M4/M5) (#1862)
  knip.json
  packages/daemon/src/app.ts
  packages/daemon/src/lib/client-event-bridge.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/src/lib/state-projection-service.ts
  packages/daemon/tests/unit/1-core/core/client-event-bridge.test.ts
  packages/daemon/tests/unit/1-core/session/state-projection-service.test.ts
Due: daemon

refactor(daemon): remove deprecated NotificationSink dual-publishing path
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-agent-notification-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/runtime/types.ts
  packages/daemon/tests/unit/5-space/other/channel-router-reopen.test.ts
  packages/daemon/tests/unit/5-space/other/notification-sink.test.ts
  packages/daemon/tests/unit/5-space/other/session-notification-sink.test.ts
  packages/daemon/tests/unit/5-space/other/space-agent-notification-service.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-autonomy.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-edge-cases.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

fix: correct stale publishAsync/sessionId references in comments
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
Due: daemon

refactor(daemon): remove deprecated NotificationSink dual-publishing path (#1864)
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-agent-notification-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/runtime/types.ts
  packages/daemon/tests/unit/5-space/other/channel-router-reopen.test.ts
  packages/daemon/tests/unit/5-space/other/notification-sink.test.ts
  packages/daemon/tests/unit/5-space/other/session-notification-sink.test.ts
  packages/daemon/tests/unit/5-space/other/space-agent-notification-service.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-autonomy.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-edge-cases.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

feat(daemon): route Space CRUD events through InternalEventBus
  packages/daemon/src/app.ts
  packages/daemon/src/lib/client-event-bridge.ts
  packages/daemon/src/lib/github/space-github.ts
  packages/daemon/src/lib/internal-event-bus.ts
  packages/daemon/src/lib/job-handlers/space-workflow-run-artifact.handler.ts
  packages/daemon/src/lib/job-handlers/task-schedule-fire.handler.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/1-core/core/client-event-bridge.test.ts
  packages/daemon/tests/unit/2-handlers/job-handlers/space-workflow-run-artifact.handler.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/end-node-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

fix(daemon): preserve transitional Space event wiring
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-run-gate-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-run-handlers.test.ts
  packages/daemon/tests/unit/5-space/other/autonomy-gated-approvals.test.ts
Due: daemon

fix(daemon): align Space events with namespace routing
  packages/daemon/src/lib/github/space-github.ts
  packages/daemon/src/lib/internal-event-bus.ts
  packages/daemon/src/lib/job-handlers/space-workflow-run-artifact.handler.ts
  packages/daemon/src/lib/job-handlers/task-schedule-fire.handler.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/online/rpc/session-handlers.test.ts
  packages/daemon/tests/online/websocket/websocket-protocol.test.ts
  packages/daemon/tests/unit/2-handlers/routes/setup-websocket.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-subscribe.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/skill-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-run-gate-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-run-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/space-mcp-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-session-lifecycle.test.ts
Due: daemon

fix(daemon): preserve DaemonHub fallbacks and fix event wiring after rebase
  packages/daemon/src/lib/client-event-bridge.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/core/client-event-bridge.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-handlers.test.ts
Due: daemon

Migrate Space events to InternalEventBus (#1863)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/client-event-bridge.ts
  packages/daemon/src/lib/github/space-github.ts
  packages/daemon/src/lib/internal-event-bus.ts
  packages/daemon/src/lib/job-handlers/space-workflow-run-artifact.handler.ts
  packages/daemon/src/lib/job-handlers/task-schedule-fire.handler.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/online/rpc/session-handlers.test.ts
  packages/daemon/tests/online/websocket/websocket-protocol.test.ts
  packages/daemon/tests/unit/1-core/core/client-event-bridge.test.ts
  packages/daemon/tests/unit/2-handlers/job-handlers/space-workflow-run-artifact.handler.test.ts
  packages/daemon/tests/unit/2-handlers/routes/setup-websocket.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-subscribe.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/skill-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-run-gate-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-run-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/space-mcp-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/end-node-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-session-lifecycle.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/other/autonomy-gated-approvals.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

fix: enforce task dependencies on late dep addition and auto-unblock on completion
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/task-dependency-enforcement.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: address review feedback for task dependency enforcement
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/task-dependency-enforcement.test.ts
  packages/web/src/components/space/TaskBlockedBanner.tsx
Due: daemon, web, e2e-matrix

fix: emit events for cascaded dependency state changes
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
Due: daemon

fix: use correct task.id in cascade emits, wire callback in RPC handler
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
Due: daemon

fix: add missing cascade callback in first otherFields follow-up, wrap unblock in try-catch
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
Due: daemon

fix: wire onCascadedTasks in all RPC handler updateTask calls, update test assertions
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
Due: daemon

fix: per-dependent error handling in unblockDependentTasks, guard no-route unblock
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
Due: daemon

fix: show task composer context usage
  packages/web/src/components/space/TaskSessionChatComposer.tsx
  packages/web/src/hooks/__tests__/useTargetSessionContext.test.ts
  packages/web/src/hooks/useTargetSessionContext.ts
Due: web, e2e-matrix

fix: enforce task dependencies on late dep addition and auto-unblock on completion (#1865)
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/5-space/runtime/task-dependency-enforcement.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/TaskBlockedBanner.tsx
Due: daemon, web, e2e-matrix

test(daemon): cover scheduled task fire events
  packages/daemon/tests/unit/2-handlers/job-handlers/task-schedule-fire.handler.test.ts
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
