Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix: recreate all dropped indexes in migration 34 table rebuilds
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-34_test.ts
Due: daemon

fix: clear stale result/progress when reactivating completed tasks
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/tests/unit/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
Due: daemon

feat: add mobile BottomTabBar with iOS-style navigation (Task 4.6) (#571)
  packages/web/src/App.tsx
  packages/web/src/islands/BottomTabBar.tsx
  packages/web/src/islands/__tests__/BottomTabBar.test.tsx
  packages/web/src/styles.css
Due: web, e2e-matrix

fix: address review feedback — propagate maxIterations to runs, clarify task_result matching
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
Due: daemon

feat: add computed signals for goal-task grouping and orphan tasks (#569)
  packages/web/src/lib/__tests__/room-store-computed-signals.test.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

test: unit tests for goalId propagation (Task 5.3) (#572)
  packages/daemon/tests/unit/space/space-task-findByGoalId.test.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: none

test: add additional edge-case tests for room agent router
  packages/web/src/lib/__tests__/room-agent-router.test.ts
Due: none

test: add reactivity and edge case tests for room store computed signals
  packages/web/src/lib/__tests__/room-store-computed-signals.test.ts
Due: none

test: address review feedback on room agent router tests
  packages/web/src/lib/__tests__/room-agent-router.test.ts
Due: none

feat: add archived status to TaskStatus and SpaceTaskStatus unions (#566)
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
  packages/daemon/tests/unit/space/global-spaces-tools.test.ts
  packages/daemon/tests/unit/space/space-agent-tools.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-34_test.ts
  packages/daemon/tests/unit/storage/space-task-repository.test.ts
  packages/daemon/tests/unit/storage/task-repository.test.ts
  packages/shared/src/types/neo.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: daemon, web, e2e-matrix

feat: rewrite RoomContextPanel with goal-centric sidebar layout
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/islands/__tests__/RoomContextPanel.test.tsx
Due: web, e2e-matrix

feat: add Verify & Test step to Coding Workflow template (#573)
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
Due: daemon

refactor: remove @ts-nocheck and add proper types to test helpers
  packages/web/src/lib/__tests__/room-store-computed-signals.test.ts
Due: none

fix: stop worktree cleanup on complete and cancel in task-group-manager
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

test: add space task manager tests for archival and reactivation lifecycle
  packages/daemon/tests/unit/lib/space-task-manager.test.ts
Due: none

test: add comprehensive unit tests for archived status transitions and archival filtering
  packages/daemon/tests/unit/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
  packages/daemon/tests/unit/storage/task-repository.test.ts
Due: none

fix: address review feedback on RoomContextPanel rewrite
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/islands/__tests__/RoomContextPanel.test.tsx
Due: web, e2e-matrix

fix: fix flaky online tests in CI — null guards, port collisions, copilot retry
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/online/git/archive-session.test.ts
  packages/daemon/tests/online/lifecycle/sigint-cleanup.test.ts
  packages/daemon/tests/online/mcp/mcp-tools-toggle.integration.test.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
  packages/daemon/tests/online/room/room-planner-two-phase.test.ts
  packages/daemon/tests/online/room/room-reviewer-flow.test.ts
  packages/daemon/tests/online/rpc/rpc-agent-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-config-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-file-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-mcp-toggle.test.ts
  packages/daemon/tests/online/rpc/rpc-message-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-remove-output.test.ts
  packages/daemon/tests/online/rpc/rpc-rewind-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-session-filtering.test.ts
  packages/daemon/tests/online/rpc/rpc-session-handlers-extended.test.ts
  packages/daemon/tests/online/rpc/rpc-session-workflow.test.ts
  packages/daemon/tests/online/rpc/rpc-settings-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-state-sync.test.ts
  packages/daemon/tests/online/sandbox/sandbox-restriction.test.ts
Due: none

feat: implement task_result evaluation in WorkflowExecutor
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: daemon

fix: address review feedback on task_result evaluation
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: none

fix: archiveTask clears active_session; add review feedback tests
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/tests/unit/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
  packages/daemon/tests/unit/storage/task-repository.test.ts
Due: daemon

feat: implement task_result evaluation in WorkflowExecutor (#574)
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: daemon

fix: address remaining review feedback (toast error + goals filtering)
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/islands/__tests__/RoomContextPanel.test.tsx
Due: web, e2e-matrix

fix: address review feedback — timeout budget, spawned port 0, style cleanup
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/online/lifecycle/sigint-cleanup.test.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
  packages/daemon/tests/online/rpc/rpc-remove-output.test.ts
Due: none

feat(workflow): implement iteration detection and capping in WorkflowExecutor
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: daemon

feat: wire step_result through advance_workflow to executor (Task 1.3)
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
Due: daemon

fix(workflow): clarify advance() re-read behavior with needs_attention
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
Due: daemon

feat(workflow): implement iteration detection and capping in WorkflowExecutor (#585)
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: daemon

fix: replace crypto.randomUUID with browser-compatible generateUUID
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowRulesEditor.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/serialization.ts
Due: web, e2e-matrix

test: add unit tests for step_result forwarding and prompt content
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
  packages/daemon/tests/unit/space/task-agent.test.ts
Due: daemon

test: add unit tests for iteration tracking and maxIterations cap (Task 5.2)
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: none

feat: add model switching in TaskView and auto-fallback on rate/usage limits
  packages/daemon/src/lib/room/runtime/error-classifier.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime/error-classifier.test.ts
  packages/shared/src/types/settings.ts
  packages/web/src/components/ChatHeader.tsx
  packages/web/src/components/SessionListItem.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/room/TaskViewModelSelector.tsx
  packages/web/src/components/settings/FallbackModelsSettings.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/lib/session-utils.ts
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

fix: replace crypto.randomUUID with browser-compatible generateUUID (#587)
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowRulesEditor.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/serialization.ts
Due: web, e2e-matrix

feat: wire step_result through advance_workflow to executor (Task 1.3) (#586)
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
  packages/daemon/tests/unit/space/task-agent.test.ts
Due: daemon

feat: add Phase 4 micro-animations for badge, card, panel, and page transitions
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/components/ui/InboxBadge.test.tsx
  packages/web/src/components/ui/InboxBadge.tsx
  packages/web/src/islands/BottomTabBar.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/NavRail.tsx
  packages/web/src/styles.css
Due: web, e2e-matrix

fix: address reviewer feedback on iteration tracking tests (Task 5.2)
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: none

chore: fix Biome formatting
  packages/web/src/islands/ContextPanel.tsx
Due: web, e2e-matrix

fix: redesign DAG test to avoid infinite loop (P0 issue)
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: none
