Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix: preserve rehydrate fallback for missing workflows
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
Due: daemon

fix: activate agents before message delivery
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/5-space/other/channel-router.test.ts
  packages/daemon/tests/unit/5-space/other/cross-agent-messaging.test.ts
Due: daemon

fix: refresh reviewer prompts after restart (#1728)
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
Due: daemon

fix: align message activation queue semantics
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
Due: daemon

Fix reviewer preset prompt reconciliation
  packages/daemon/src/lib/space/managers/space-agent-manager.ts
  packages/daemon/tests/unit/1-core/lib/space-agent-manager.test.ts
Due: daemon

fix: reset stale message activation sessions
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
Due: daemon

Move reviewer prompt reconciliation to startup
  packages/daemon/src/app.ts
  packages/daemon/src/lib/space/managers/space-agent-manager.ts
  packages/daemon/tests/unit/1-core/lib/space-agent-manager.test.ts
Due: daemon

Fix agent activation before message delivery (#1729)
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/other/channel-router.test.ts
  packages/daemon/tests/unit/5-space/other/cross-agent-messaging.test.ts
Due: daemon

Fix Codex context capacity metadata flow
  packages/daemon/src/lib/agent/context-fetcher.ts
  packages/daemon/src/lib/model-service.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/model-context-windows.ts
  packages/daemon/tests/unit/1-core/agent/context-fetcher.test.ts
  packages/daemon/tests/unit/1-core/core/model-service.test.ts
  packages/web/src/components/__tests__/ContextUsageBar.test.tsx
Due: daemon

Preserve Copilot model identity in metadata overlay
  packages/daemon/src/lib/model-service.ts
  packages/daemon/tests/unit/1-core/core/model-service.test.ts
Due: daemon

Decouple legacy reviewer prompt reconciliation
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/managers/space-agent-manager.ts
  packages/daemon/tests/unit/1-core/lib/space-agent-manager.test.ts
Due: daemon

Fix reviewer agent prompt drift on restart (#1730)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/managers/space-agent-manager.ts
  packages/daemon/tests/unit/1-core/lib/space-agent-manager.test.ts
Due: daemon

Keep context fetcher provider agnostic
  packages/daemon/src/lib/agent/context-fetcher.ts
  packages/daemon/tests/unit/1-core/agent/context-fetcher.test.ts
Due: daemon

Fix Codex context capacity display (#1731)
  packages/daemon/src/lib/agent/context-fetcher.ts
  packages/daemon/src/lib/model-service.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/model-context-windows.ts
  packages/daemon/tests/unit/1-core/agent/context-fetcher.test.ts
  packages/daemon/tests/unit/1-core/core/model-service.test.ts
  packages/web/src/components/__tests__/ContextUsageBar.test.tsx
Due: daemon

chore(release): bump version to 0.17.0
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(release): bump version to 0.17.0 (#1732)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

docs: investigate openrouter duplicate dispatch (Task #196)
  docs/research/openrouter-duplicate-dispatch.md
Due: none

Fix autocompact buffer threshold mapping
  packages/daemon/src/lib/agent/context-fetcher.ts
  packages/daemon/tests/unit/1-core/agent/context-fetcher.test.ts
  packages/web/src/components/__tests__/ContextUsageBar.test.tsx
Due: daemon

docs: address review on openrouter-duplicate-dispatch (Task #196)
  docs/research/openrouter-duplicate-dispatch.md
Due: none

Fix autocompact buffer threshold mapping (#1734)
  packages/daemon/src/lib/agent/context-fetcher.ts
  packages/daemon/tests/unit/1-core/agent/context-fetcher.test.ts
  packages/web/src/components/__tests__/ContextUsageBar.test.tsx
Due: daemon

Regroup real API tests behind manual workflow
  .github/workflows/main.yml
  .github/workflows/real-api-tests.yml
Due: none

Address real API workflow review cleanup
  .github/workflows/main.yml
  .github/workflows/real-api-tests.yml
  scripts/validate-online-test-matrix.sh
Due: none

Regroup real API CI tests behind manual workflow (#1735)
  .github/workflows/main.yml
  .github/workflows/real-api-tests.yml
  scripts/validate-online-test-matrix.sh
Due: none

Fix Space Agent MCP recovery after resume
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/builtins.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/skills/space-coordination/SKILL.md
  packages/daemon/tests/unit/4-space-storage/skills-manager.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-chat-agent.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
Due: daemon

Fix minimal thread active turn metadata drift.
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

Align active message counts with row counts.
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

Address Space MCP recovery review feedback.
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/builtins.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
  packages/shared/src/types/skills.ts
Due: daemon

Scope completed summary counts by turn index.
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

Re-provision Space sessions after hard reset.
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
Due: daemon

Limit summary counts to final turn slices.
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

Test hard-reset session reset events.
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
Due: none

Fix MinimalThreadFeed active turn drift (#1737)
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

Close remaining Space MCP review gaps.
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
  packages/daemon/tests/unit/4-space-storage/skills-manager.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
Due: daemon

Fix Space Agent MCP recovery after resume (#1736)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/builtins.ts
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/skills/space-coordination/SKILL.md
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
  packages/daemon/tests/unit/4-space-storage/skills-manager.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-chat-agent.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
  packages/shared/src/types/skills.ts
Due: daemon

Fix queued workflow handoff recovery
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/pending-agent-message-repository.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
Due: daemon

Harden queued handoff repair.
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/pending-agent-message-repository.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
Due: daemon

Preserve terminal tasks during handoff expiry.
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
Due: daemon

Make workflow agent prompts data-driven
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/managers/space-agent-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/1-core/lib/space-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/custom-agent.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
  packages/shared/src/types.ts
Due: daemon

Address prompt cleanup review feedback
  packages/daemon/src/app.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
Due: daemon

Address queued handoff review comments.
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/pending-agent-message-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
Due: daemon
