Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix(channel-router): update fan-out test to use agentName instead of slotRole
  packages/daemon/tests/unit/space/channel-router.test.ts
Due: none

fix(plan): address round 2 review feedback
  docs/plans/fix-model-switching-bugs-in-neokai.md
Due: none

refactor(plan): revise Bug 1 fix to use registerSession pattern
  docs/plans/fix-model-switching-bugs-in-neokai.md
Due: none

Plan: fix model switching bugs in NeoKai
  docs/plans/fix-model-switching-bugs-in-neokai.md
Due: none

refactor(plan): replace sdkSessionId clearing with forkSession approach
  docs/plans/fix-model-switching-bugs-in-neokai.md
Due: none

fix(plan): address P0/P1/P2 feedback on forkSession approach
  docs/plans/fix-model-switching-bugs-in-neokai.md
Due: none

fix(plan): address round 3 review feedback
  docs/plans/fix-model-switching-bugs-in-neokai.md
Due: none

fix(test): use sync file I/O in codex bridge provider tests
  packages/daemon/tests/unit/providers/anthropic-to-codex-bridge-provider.test.ts
Due: none

docs(plan): update line numbers after rebase onto latest dev
  docs/plans/fix-model-switching-bugs-in-neokai.md
Due: none

feat(review-tab): show needs_attention and rate/usage-limited tasks prominently
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/lib/__tests__/room-store-computed-signals.test.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

fix(ui): move goal badge to separate line and use target icon in task list
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
Due: web, e2e-matrix

fix(test): bridge async fs to sync in codex bridge provider tests
  packages/daemon/tests/unit/providers/anthropic-to-codex-bridge-provider.test.ts
Due: none

fix: update stale slot_role references in comments to agent_name
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

fix(ui): restore purple PR badge in task list items
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
Due: web, e2e-matrix

fix(ui): fill innermost bullseye circle and rewrite placement test
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
Due: web, e2e-matrix

fix(agent-liveness): fix racy boundary test by using timeout > elapsed
  packages/daemon/tests/unit/space/agent-liveness.test.ts
Due: none

fix(ui): move goal badge to separate line and use target icon in task list (#909)
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
Due: web, e2e-matrix

feat(space): rename slot_role→agent_name and add completion_summary on space_tasks (#867)
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/space/agent-liveness.test.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-34_test.ts
  packages/daemon/tests/unit/storage/migrations/migration-51_test.ts
  packages/daemon/tests/unit/storage/migrations/migration-54_test.ts
  packages/shared/src/types/space.ts
Due: daemon

feat(reference): implement task and goal resolvers
  packages/daemon/src/lib/agent/reference-resolver.ts
  packages/daemon/tests/unit/reference-resolver.test.ts
Due: daemon

refactor(plan): replace Bug 2 forkSession tasks with investigation task
  docs/plans/fix-model-switching-bugs-in-neokai.md
Due: none

feat(review-tab): show needs_attention and rate/usage-limited tasks prominently (#908)
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/lib/__tests__/room-store-computed-signals.test.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

fix(plan): address P1/P2 review feedback
  docs/plans/fix-model-switching-bugs-in-neokai.md
Due: none

feat(space): add query completion state capability (Tasks 2.2 + 2.4)
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/tools/step-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/space/agent-completion.test.ts
  packages/daemon/tests/unit/space/step-agent-tools.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix(space): remove duplicate completion_summary column in space-test-db.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

fix(space): address review feedback on migration 51
  packages/daemon/tests/unit/space/agent-completion.test.ts
Due: none

fix(space): resolve rebase conflicts and fix agentEntry.name references
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/shared/src/types/space.ts
Due: daemon

Plan: Fix model switching bugs in NeoKai (#869)
  docs/plans/fix-model-switching-bugs-in-neokai.md
  packages/daemon/tests/unit/providers/anthropic-to-codex-bridge-provider.test.ts
Due: none

fix(runtime): advance lastForwardedMessageId on manual rate-limit clear to prevent re-detection
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-rate-limit-persistence.test.ts
Due: daemon

test(session-cache): add unit tests for room session registration and unregister race condition fix
  packages/daemon/src/lib/session/session-cache.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/room/session-registration.test.ts
Due: daemon

feat(space): add CompletionDetector for all-agents-done detection
  packages/daemon/src/lib/space/runtime/completion-detector.ts
  packages/daemon/tests/unit/space/completion-detector.test.ts
Due: daemon

feat(space): add query completion state capability (Tasks 2.2 + 2.4) (#877)
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/step-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/space/agent-completion.test.ts
  packages/daemon/tests/unit/space/step-agent-tools.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix(session-cache): fully prevent stale session re-insertion after remove() + address review feedback
  packages/daemon/src/lib/session/session-cache.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/room/session-registration.test.ts
Due: daemon

test(session-cache): unit tests for room session registration + remove() race condition fix (#912)
  packages/daemon/src/lib/session/session-cache.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/room/session-registration.test.ts
Due: daemon

feat(space): add CompletionDetector for all-agents-done detection (#913)
  packages/daemon/src/lib/space/runtime/completion-detector.ts
  packages/daemon/tests/unit/space/completion-detector.test.ts
Due: daemon

fix(runtime): advance lastForwardedMessageId on manual rate-limit clear to prevent re-detection (#910)
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-rate-limit-persistence.test.ts
Due: daemon

feat(ui): add agent completion state indicators to WorkflowNodeCard and WorkflowNode
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/__tests__/WorkflowNodeCard.test.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.transitionGuard.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/performance.test.tsx
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

feat(space): unified send_message with string-based target and ChannelRouter
  packages/daemon/src/lib/space/runtime/session-channel-router.ts
  packages/daemon/src/lib/space/tools/step-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/step-agent-tools.ts
  packages/daemon/tests/unit/space/send-message-unified.test.ts
  packages/daemon/tests/unit/space/session-channel-router.test.ts
  packages/daemon/tests/unit/space/step-agent-tools.test.ts
Due: daemon

test(space): remove array-target multicast tests obsoleted by z.string() schema
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
Due: none

style: fix formatting in session-channel-router.ts
  packages/daemon/src/lib/space/runtime/session-channel-router.ts
Due: daemon

fix(ui): filter completion state to most relevant workflow run (P1/P2)
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.transitionGuard.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/performance.test.tsx
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix
