Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix: populate session_group_messages for LiveQuery; fix GroupMessage duplication
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/session-group-repository-reactive.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: daemon, web, e2e-matrix

fix: address review feedback for task-4.2 (migration test, error isolation, session.get guard)
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/storage/migrations/migration-41_test.ts
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: daemon, web, e2e-matrix

fix: address root causes of duplicate and stale session groups (#696)
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-42_test.ts
Due: daemon

feat: replace state.groupMessages.delta listener with useGroupMessages hook (#698)
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/session-group-repository-reactive.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-41_test.ts
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: daemon, web, e2e-matrix

fix: remove emitGoalUpdated/emitGoalProgressUpdated from goal RPC handlers (Task 3.2) (#695)
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/unit/rpc-handlers/goal-handlers.test.ts
  packages/web/src/lib/__tests__/room-store-computed-signals.test.ts
  packages/web/src/lib/__tests__/room-store-create-session.test.ts
  packages/web/src/lib/__tests__/room-store-goals-live-query.test.ts
  packages/web/src/lib/__tests__/room-store-review.test.ts
  packages/web/src/lib/__tests__/room-store-session-events.test.ts
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

fix: align send_feedback partial-delivery response shape across tests
  packages/daemon/src/lib/space/tools/step-agent-tools.ts
  packages/daemon/tests/unit/space/step-agent-tools.test.ts
Due: daemon

refactor: remove state.groupMessages.delta listener from TaskConversationRenderer
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: web, e2e-matrix

feat: integrate useGroupMessages hook into TaskConversationRenderer for live streaming
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: web, e2e-matrix

fix: populate session_group_messages for LiveQuery; fix GroupMessage duplication
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: web, e2e-matrix

fix: add error handling to appendGroupMessage calls; fix isLoading flash
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/web/src/hooks/useGroupMessages.ts
Due: daemon, web, e2e-matrix

fix: fix task cancellation cascade and allow manual UI state transitions
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
  packages/shared/src/types/neo.ts
  packages/web/src/components/room/TaskInfoPanel.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
Due: daemon, web, e2e-matrix

fix: address P1/P2 review feedback on task state transitions
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
  packages/web/src/components/room/TaskView.test.tsx
Due: daemon

fix: restore handler-level validation to prevent bypass via cancel/archive early returns
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
Due: daemon

test: remove goal.updated StateManager tests after LiveQuery migration
  packages/daemon/tests/unit/session/state-manager.test.ts
Due: none

feat: redesign Goals tab with two-step create wizard and improved cards
  packages/web/src/components/room/GoalsEditor.test.tsx
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/__tests__/Room.test.tsx
Due: web, e2e-matrix

fix: use Unix seconds for createdAt in GoalsEditor test mock
  packages/web/src/components/room/GoalsEditor.test.tsx
Due: none

style: apply Biome formatting to GoalsEditor files
  packages/web/src/components/room/GoalsEditor.test.tsx
  packages/web/src/components/room/GoalsEditor.tsx
Due: web, e2e-matrix

fix: remove stale goal.updated event handler test from state-manager
  packages/daemon/tests/unit/session/state-manager.test.ts
Due: none

feat: redesign Goals tab with two-step create wizard and improved cards (#703)
  packages/daemon/tests/unit/session/state-manager.test.ts
  packages/web/src/components/room/GoalsEditor.test.tsx
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/__tests__/Room.test.tsx
Due: web, e2e-matrix

fix: fix task cancellation cascade and allow manual UI state transitions (#702)
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
  packages/shared/src/types/neo.ts
  packages/web/src/components/room/TaskInfoPanel.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
Due: daemon, web, e2e-matrix

fix: resolve P1/P2 review issues in TaskConversationRenderer
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
Due: daemon

feat: remove daemon-side state.groupMessages.delta emissions and add reconnect handling
  packages/daemon/src/lib/room/runtime/room-runtime.ts
Due: daemon

test: fix state-manager goal.updated tests after PR #695 removed emitGoalUpdated
  packages/daemon/tests/unit/session/state-manager.test.ts
Due: none

feat: remove daemon-side state.groupMessages.delta emissions and add reconnect handling (#700)
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/session/state-manager.test.ts
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
Due: daemon

fix: address review feedback on task message streaming PR
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/e2e/tests/features/task-message-streaming.e2e.ts
Due: daemon

feat: migrate TaskConversationRenderer to liveQuery and add E2E streaming tests
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/e2e/tests/features/task-message-streaming.e2e.ts
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: daemon, web, e2e-matrix

feat: migrate TaskConversationRenderer to liveQuery and add E2E streaming tests (#701)
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/e2e/tests/features/task-message-streaming.e2e.ts
  packages/web/src/components/room/TaskConversationRenderer.test.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: daemon, web, e2e-matrix

docs: add recurring dev branch e2e tests health check plan
  docs/plans/dev-branch-e2e-tests-health-check.md
Due: none

fix(plan): address review feedback for e2e health check
  docs/plans/dev-branch-e2e-tests-health-check.md
Due: none

fix(plan): address iteration 2 review feedback
  docs/plans/dev-branch-e2e-tests-health-check.md
Due: none

feat: replace room.task.update listener with tasks.byRoom LiveQuery (Task 3.3)
  packages/web/src/lib/__tests__/room-store-review.test.ts
  packages/web/src/lib/__tests__/room-store-tasks-live-query.test.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

fix: reuse existing dev proxy instance instead of failing on startup
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/helpers/dev-proxy.ts
  packages/daemon/tests/unit/helpers/dev-proxy.test.ts
Due: none

fix: address P2 review feedback on Task 3.3 PR
  packages/web/src/lib/__tests__/room-store-goals-live-query.test.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

fix: address review feedback — import net at top level, remove dead helpers, add comment
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/helpers/dev-proxy.ts
Due: none

fix: reset goalsLoading on deselect and set it during reconnect re-subscribe
  packages/web/src/lib/__tests__/room-store-goals-live-query.test.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

fix: fix TaskView not showing messages after daemon restart
  packages/web/src/components/room/TaskConversationRenderer.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/hooks/__tests__/useGroupMessages.test.ts
  packages/web/src/hooks/useGroupMessages.ts
Due: web, e2e-matrix

feat: replace room.task.update listener with tasks.byRoom LiveQuery (Task 3.3) (#705)
  packages/web/src/lib/__tests__/room-store-review.test.ts
  packages/web/src/lib/__tests__/room-store-tasks-live-query.test.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

test: replace try/finally TCP cleanup with beforeEach/afterEach in isExternal tests
  packages/daemon/tests/unit/helpers/dev-proxy.test.ts
Due: none

feat: expand TaskView info panel with task ID, group ID, full session IDs, model switcher, and metadata
  packages/web/src/components/room/TaskInfoPanel.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/room/__tests__/TaskInfoPanel.test.tsx
Due: web, e2e-matrix

test: add reconnect resync guard test for review-status toast (Task 3.4)
  packages/web/src/lib/__tests__/room-store-review.test.ts
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
