Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

Update review gate script test fixture
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: none

Cover own-PR review gate fallback
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: daemon

Fix own-PR review gate cycles
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: daemon

Guard review resubmit against gate checkpoint overwrite
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
Due: daemon

Fix own-PR review handoffs (#1760)
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: daemon

Recover stalled workflow handoffs after restart
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

Tighten restart recovery cyclic fan-out handling
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

Fix restart recovery cycle cap regression test
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: none

Tighten restart handoff recovery edges
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

Address restart handoff recovery review feedback
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

Match restart recovery agent-name channels
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

Stop wildcard restart recovery broadcasts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

Recover cancelled restart targets
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

Recover partial multi-agent restart targets
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

Recover stalled workflow handoffs after restart (#1750)
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

Fix context window reporting for non-Codex models and increase chat composer limits
  packages/daemon/src/lib/providers/openai-responses-bridge/server.ts
  packages/daemon/src/lib/providers/openrouter-provider.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/tests/unit/1-core/providers/openai-responses-bridge/server.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/hooks/useChatBase.ts
Due: daemon, web, e2e-matrix

Address review feedback: revert Claude fallback context windows, add regression tests
  packages/daemon/src/lib/providers/openrouter-provider.ts
  packages/daemon/tests/unit/1-core/providers/openai-responses-bridge/server.test.ts
  packages/daemon/tests/unit/1-core/providers/openrouter-provider.test.ts
Due: daemon

Fix context window reporting for non-Codex models and increase chat limits (#1765)
  packages/daemon/src/lib/providers/openai-responses-bridge/server.ts
  packages/daemon/src/lib/providers/openrouter-provider.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/tests/unit/1-core/providers/openai-responses-bridge/server.test.ts
  packages/daemon/tests/unit/1-core/providers/openrouter-provider.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/hooks/useChatBase.ts
Due: daemon, web, e2e-matrix

Route overlay task sends to exact node execution
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/AgentOverlayChat.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/AgentOverlayChat.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
  packages/web/src/hooks/useSpaceTaskMessages.ts
  packages/web/src/lib/__tests__/overlay-history.test.ts
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

Check local Ollama availability before routing.
  packages/daemon/src/lib/providers/ollama-provider.ts
  packages/daemon/tests/unit/1-core/providers/ollama-provider.test.ts
Due: daemon

Handle Ollama bridge continuation edge cases.
  packages/daemon/src/lib/providers/ollama-bridge-server.ts
  packages/daemon/tests/unit/1-core/providers/ollama-bridge-server.test.ts
Due: daemon

Preserve node execution context on pending overlay handoff
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/__tests__/ChatContainer.test.ts
Due: web, e2e-matrix

Allow forced Ollama model refreshes.
  packages/daemon/src/lib/providers/ollama-provider.ts
  packages/daemon/tests/unit/1-core/providers/ollama-provider.test.ts
Due: daemon

Route overlay sends through task messaging (#1758)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/AgentOverlayChat.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/AgentOverlayChat.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
  packages/web/src/hooks/useSpaceTaskMessages.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/ChatContainer.test.ts
  packages/web/src/islands/__tests__/ChatContainerSendOverride.test.ts
  packages/web/src/lib/__tests__/overlay-history.test.ts
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

Add native draft status to Space tasks
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/5-space/runtime/task-draft-status.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskStatusActions.tsx
  packages/web/src/lib/space-store.ts
  packages/web/src/lib/task-constants.ts
  packages/web/src/lib/task-filters.ts
Due: daemon, web, e2e-matrix

Guard idle node agents with last-message checks
  packages/daemon/src/lib/space/runtime/last-message-classifier.ts
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

Fix getLastSDKMessage ordering and test SDK table bootstrap
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-orphan-question.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
Due: daemon

Exhaust blocked retry budget on non-terminal idle escalation
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

Filter getLastSDKMessage to top-level SDK rows only
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
Due: daemon

Reset nonTerminalIdleCounts on recovery and exclude unsent user rows
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
Due: daemon

Skip archived tasks in non-terminal idle recovery
  packages/daemon/src/lib/space/runtime/space-runtime.ts
Due: daemon

Improve Ollama cloud routing and token counts.
  packages/daemon/src/lib/providers/ollama-bridge-server.ts
  packages/daemon/src/lib/providers/ollama-provider.ts
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/tests/unit/1-core/providers/ollama-bridge-server.test.ts
  packages/daemon/tests/unit/1-core/providers/ollama-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/provider-registry.test.ts
Due: daemon

Guard idle node agents with last-message checks (#1755)
  packages/daemon/src/lib/space/runtime/last-message-classifier.ts
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-orphan-question.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
Due: daemon

Fix migration 114: wrap table rebuild in FK-off/try-finally
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

Route large unsuffixed gpt-oss models to Ollama Cloud.
  packages/daemon/src/lib/providers/ollama-provider.ts
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/tests/unit/1-core/providers/ollama-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/provider-registry.test.ts
Due: daemon

Add Ollama model providers (#1745)
  README.md
  docs/providers/ollama-setup.md
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/factory.ts
  packages/daemon/src/lib/providers/ollama-bridge-server.ts
  packages/daemon/src/lib/providers/ollama-provider.ts
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/tests/unit/1-core/providers/ollama-bridge-server.test.ts
  packages/daemon/tests/unit/1-core/providers/ollama-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/provider-registry.test.ts
  packages/shared/src/types.ts
  packages/web/src/components/settings/__tests__/ProvidersSettings.test.tsx
Due: daemon

Rewrite migration 114 to use dynamic DDL approach
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

Cancel stale workflow node executions
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/runtime/workflow-node-execution-validation.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

Narrow transient error patterns and replace weak tests with integration tests
  packages/daemon/src/lib/agent/api-error-circuit-breaker.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/unit/1-core/agent/api-error-circuit-breaker.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
Due: daemon

Skip cancelled queued workflow handoffs
  packages/daemon/src/lib/space/runtime/space-runtime.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
