Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix copilot early error handling (#1673)
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/providers/anthropic-copilot/sse.ts
  packages/daemon/src/lib/providers/anthropic-copilot/streaming.ts
  packages/daemon/tests/online/lifecycle/session-resume.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/server.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/streaming.test.ts
Due: daemon

fix(space): drop bogus sessionId filter from session.created/deleted subs (#1658)
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
Due: daemon

fix: guard sub-session MCP servers + replace PendingAgentOverlay (#1670)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
  packages/web/src/components/space/AgentOverlayChat.tsx
  packages/web/src/components/space/PendingAgentOverlay.tsx
  packages/web/src/components/space/__tests__/PendingAgentOverlay.test.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/ChatContainer.test.ts
  packages/web/src/lib/router.ts
Due: daemon, web, e2e-matrix

Fix Space runtime MCP rehydration (#1678)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
Due: daemon

fix: make overlay message highlight one-shot (#1675)
  packages/web/src/hooks/__tests__/useScrollToMessage.test.ts
  packages/web/src/hooks/useScrollToMessage.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

chore(release): bump version to 0.15.0 (#1676)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/daemon/src/lib/providers/anthropic-copilot/conversation.ts
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: daemon

docs: update space autonomy gap analysis — April 2026 reanalysis
  docs/space-autonomy-gap-analysis-minimax-m2-7-highspeed.md
Due: none

[copilot] Report Copilot context usage from bridge (#1680)
  packages/daemon/src/lib/providers/anthropic-copilot/context-usage.ts
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
  packages/daemon/src/lib/providers/anthropic-copilot/sse.ts
  packages/daemon/src/lib/providers/anthropic-copilot/streaming.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/server.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/streaming.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/token-accounting.test.ts
Due: daemon

Fix Codex bridge context usage (#1679)
  packages/daemon/src/lib/providers/codex-anthropic-bridge/process-manager.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/token-estimator.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/process-manager.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

fix post-approval workflow prompts (#1677)
  packages/daemon/src/lib/rpc-handlers/space-workflow-handlers.ts
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/runtime/post-approval-router.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/lib/space/workflows/post-approval-merge-template.ts
  packages/daemon/tests/unit/5-space/runtime/post-approval-router.test.ts
  packages/daemon/tests/unit/5-space/runtime/post-approval-routing-integration.test.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/serialization.ts
  packages/web/src/components/space/workflow-templates.ts
Due: daemon, web, e2e-matrix

docs: update space autonomy gap analysis to April 27
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
Due: none

chore(release): bump version to 0.16.0
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

Fix Codex and Copilot model context windows
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/provider.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/server.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

Remove Brave Search MCP integration
  CHANGELOG.md
  docs/architecture/skills-audit.md
  docs/e2e-health-check-log.md
  docs/features/skills.md
  docs/mcp-audit.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/00-overview.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/02-app-mcp-registry-backend.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/05-web-ui-mcp-registry.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/06-planner-web-search.md
  docs/plans/comprehensive-skills-support-review-and-external-skills-inte/06-planner-websearch.md
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/space/task-agent-skills.test.ts
  packages/daemon/tests/unit/2-handlers/mcp/seed-defaults.test.ts
  packages/daemon/tests/unit/4-space-storage/builtins.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migration-108-remove-brave-search-mcp.test.ts
Due: daemon

chore(release): bump version to 0.16.0 (#1684)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

Align space roster activity lines
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/web/src/components/sdk/tools/ToolIcon.tsx
  packages/web/src/components/sdk/tools/__tests__/ToolIcon.test.tsx
  packages/web/src/components/sdk/tools/__tests__/tool-registry.test.ts
  packages/web/src/components/sdk/tools/tool-registry.ts
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
  packages/web/src/components/space/thread/minimal/minimal-mock-data.ts
Due: daemon, web, e2e-matrix

Fix Codex provider context metadata
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-to-codex-bridge-provider.test.ts
Due: daemon

Cover Brave Search MCP migration edge cases
  packages/daemon/tests/unit/4-space-storage/storage/migration-108-remove-brave-search-mcp.test.ts
Due: none

Fix model context windows for Codex and Copilot (#1683)
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/provider.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/server.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

Align space roster activity lines (#1687)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/web/src/components/sdk/tools/ToolIcon.tsx
  packages/web/src/components/sdk/tools/__tests__/ToolIcon.test.tsx
  packages/web/src/components/sdk/tools/__tests__/tool-registry.test.ts
  packages/web/src/components/sdk/tools/tool-registry.ts
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
  packages/web/src/components/space/thread/minimal/minimal-mock-data.ts
Due: daemon, web, e2e-matrix

Fix Codex bridge context window usage
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/model-context-windows.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/process-manager.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/translator.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/process-manager.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/translator.test.ts
Due: daemon

fix(space): queue node-targeted task messages
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

fix(space): queue node-targeted task messages (#1671)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

Remove Brave Search MCP integration (#1685)
  CHANGELOG.md
  docs/architecture/skills-audit.md
  docs/e2e-health-check-log.md
  docs/features/skills.md
  docs/mcp-audit.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/00-overview.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/02-app-mcp-registry-backend.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/05-web-ui-mcp-registry.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/06-planner-web-search.md
  docs/plans/comprehensive-skills-support-review-and-external-skills-inte/06-planner-websearch.md
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/space/task-agent-skills.test.ts
  packages/daemon/tests/unit/2-handlers/mcp/seed-defaults.test.ts
  packages/daemon/tests/unit/4-space-storage/builtins.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migration-108-remove-brave-search-mcp.test.ts
Due: daemon

Make workflow task recovery workflow-aware
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

Preserve executor rehydration error isolation
  packages/daemon/src/lib/space/runtime/space-runtime.ts
Due: daemon

Keep normal workflow starts on task status path
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
Due: daemon

Address workflow resume review gaps
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
  packages/shared/src/types/space-utils.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: daemon, web, e2e-matrix

Make workflow task recovery workflow-aware (#1689)
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
  packages/shared/src/types/space-utils.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

Fix space task thread scroll padding
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
Due: web, e2e-matrix

Document e2e update expectations
  CLAUDE.md
Due: none

Fix space task thread scroll padding (#1681)
  CLAUDE.md
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
Due: web, e2e-matrix

Fix Codex bridge context window usage (#1688)
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/model-context-windows.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/process-manager.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/translator.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/process-manager.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/translator.test.ts
Due: daemon

Fix space_tasks migration rebuild schema preservation
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-103_test.ts
Due: daemon

Fix space_tasks migration rebuild schema preservation (#1686)
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-103_test.ts
Due: daemon

Refactor runtime deterministic orchestration boundary
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/runtime/escalation-reasons.ts
  packages/daemon/src/lib/space/runtime/post-approval-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-session-lifecycle.test.ts
  packages/daemon/tests/unit/5-space/runtime/post-approval-router.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-dispatch-post-approval.test.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
Due: daemon

Address runtime escalation review nits
  packages/daemon/src/lib/space/runtime/escalation-reasons.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-session-lifecycle.test.ts
Due: daemon

Runtime owns deterministic workflow routing (#1690)
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/runtime/escalation-reasons.ts
  packages/daemon/src/lib/space/runtime/post-approval-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-session-lifecycle.test.ts
  packages/daemon/tests/unit/5-space/runtime/post-approval-router.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-dispatch-post-approval.test.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
Due: daemon

Restrict node agent MCP tools
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-autonomy.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
