Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

feat: create connections by dragging from output to input ports (Task 3.2)
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowCanvas.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/useConnectionDrag.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
  packages/web/src/components/space/visual-editor/useConnectionDrag.ts
Due: web, e2e-matrix

fix: always set provider in createCustomAgentInit for Space custom agents (#495)
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
Due: daemon

fix: increase afterEach hook timeout to 15s in online rpc tests
  packages/daemon/tests/online/rpc/rpc-agent-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-config-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-file-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-mcp-toggle.test.ts
  packages/daemon/tests/online/rpc/rpc-message-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-remove-output.test.ts
  packages/daemon/tests/online/rpc/rpc-rewind-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-session-filtering.test.ts
  packages/daemon/tests/online/rpc/rpc-session-handlers-extended.test.ts
  packages/daemon/tests/online/rpc/rpc-session-workflow.test.ts
  packages/daemon/tests/online/rpc/rpc-settings-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-state-sync.test.ts
Due: none

fix: address review feedback on connection drag (PR #496)
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/useConnectionDrag.test.tsx
  packages/web/src/components/space/visual-editor/useConnectionDrag.ts
Due: web, e2e-matrix

fix: merge spaces_global session type into migration 29
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

fix: eliminate containerRef bounding-rect drift (P2)
  packages/web/src/components/space/visual-editor/VisualCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
Due: web, e2e-matrix

fix: add 15s timeout to afterAll hooks in online rpc tests
  packages/daemon/tests/online/rpc/rpc-draft-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-interrupt-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-model-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-model-switching.test.ts
  packages/daemon/tests/online/rpc/rpc-task-draft-handlers.test.ts
Due: none

feat: create connections by dragging from output to input ports (Task 3.2) (#496)
  packages/web/src/components/space/visual-editor/VisualCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowCanvas.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/useConnectionDrag.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
  packages/web/src/components/space/visual-editor/useConnectionDrag.ts
Due: web, e2e-matrix

feat: implement NodeConfigPanel and extract GateConfig (Task 4.1)
  packages/web/src/components/space/WorkflowStepCard.tsx
  packages/web/src/components/space/visual-editor/GateConfig.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
Due: web, e2e-matrix

fix: address reviewer feedback on NodeConfigPanel (Task 4.1)
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
Due: web, e2e-matrix

fix: skip global spaces agent provisioning in tests
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/tests/helpers/daemon-server.ts
Due: none

feat: implement NodeConfigPanel and extract GateConfig (Task 4.1) (#497)
  packages/web/src/components/space/WorkflowStepCard.tsx
  packages/web/src/components/space/visual-editor/GateConfig.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
Due: web, e2e-matrix

fix: address PR review feedback for EdgeRenderer (Task 3.1)
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowCanvas.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
Due: web, e2e-matrix

feat: add EdgeRenderer SVG bezier edge component (Task 3.1)
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
Due: web, e2e-matrix

feat: serialize visual state to SpaceWorkflow data model (Task 5.2)
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/index.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: web, e2e-matrix

fix: biome formatting in WorkflowCanvas handleEdgeDelete
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
Due: web, e2e-matrix

feat: add Spaces UI with global agent and context panel (#493)
  packages/daemon/src/lib/rpc-handlers/global-spaces-handlers.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/space/agents/global-spaces-agent.ts
  packages/daemon/src/lib/space/provision-global-agent.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/tools/global-spaces-tools.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/online/rpc/rpc-agent-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-config-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-draft-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-file-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-interrupt-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-mcp-toggle.test.ts
  packages/daemon/tests/online/rpc/rpc-message-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-model-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-model-switching.test.ts
  packages/daemon/tests/online/rpc/rpc-remove-output.test.ts
  packages/daemon/tests/online/rpc/rpc-rewind-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-session-filtering.test.ts
  packages/daemon/tests/online/rpc/rpc-session-handlers-extended.test.ts
  packages/daemon/tests/online/rpc/rpc-session-workflow.test.ts
  packages/daemon/tests/online/rpc/rpc-settings-handlers.test.ts
  packages/daemon/tests/online/rpc/rpc-state-sync.test.ts
  packages/daemon/tests/online/rpc/rpc-task-draft-handlers.test.ts
  packages/daemon/tests/unit/core/daemon-app-cleanup.test.ts
  packages/shared/src/types.ts
  packages/web/src/App.tsx
  packages/web/src/components/space/SpaceContextPanel.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/SpacesPage.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

task/task 31 render edges as svg bezier curves (#494)
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowCanvas.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
Due: web, e2e-matrix

fix: address review feedback on serialization module
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: web, e2e-matrix

fix: address review feedback on EdgeConfigPanel (Task 4.2)
  packages/web/src/components/space/visual-editor/EdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeConfigPanel.test.tsx
Due: web, e2e-matrix

feat: implement EdgeConfigPanel component for transition editing (Task 4.2)
  packages/web/src/components/space/visual-editor/EdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
Due: web, e2e-matrix

feat: implement EdgeConfigPanel component for transition editing (Task 4.2) (#498)
  packages/web/src/components/space/visual-editor/EdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
Due: web, e2e-matrix

feat: serialize visual state to SpaceWorkflow data model (Task 5.2) (#499)
  packages/web/src/components/space/visual-editor/__tests__/serialization.test.ts
  packages/web/src/components/space/visual-editor/index.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: web, e2e-matrix

feat: add VisualWorkflowEditor orchestrator component (Task 6.1)
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
Due: web, e2e-matrix

fix: address code review feedback on VisualWorkflowEditor (PR #500)
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
Due: web, e2e-matrix

fix: address P2 review feedback on VisualWorkflowEditor
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
Due: web, e2e-matrix

docs: add plan for Task Agent session orchestrator for Space tasks
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/00-overview.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/01-types-and-data-model.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/02-task-agent-system-prompt-and-session-init.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/03-task-agent-mcp-tools.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/04-task-agent-session-manager.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/05-space-runtime-integration.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/06-space-agent-communication.md
Due: none

docs: restructure plan for maximum parallel execution
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/00-overview.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/03-task-agent-mcp-tools.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/04-task-agent-session-manager.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/05-space-runtime-integration.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/06-space-agent-communication.md
Due: none

docs: address P2/P3 review feedback on task agent plan
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/00-overview.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/01-types-and-data-model.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/03-task-agent-mcp-tools.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/04-task-agent-session-manager.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/05-space-runtime-integration.md
Due: none

docs: address P1/P2/P3 feedback from reviewer-sonnet on task agent plan
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/00-overview.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/03-task-agent-mcp-tools.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/04-task-agent-session-manager.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/05-space-runtime-integration.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/06-space-agent-communication.md
Due: none

docs: clarify sub-session lifecycle design decision in Task 4.1
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/04-task-agent-session-manager.md
Due: none

Plan: Task Agent session orchestrator for Space tasks (#501)
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/00-overview.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/01-types-and-data-model.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/02-task-agent-system-prompt-and-session-init.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/03-task-agent-mcp-tools.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/04-task-agent-session-manager.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/05-space-runtime-integration.md
  docs/plans/implement-task-agent-session-orchestrator-for-space-tasks/06-space-agent-communication.md
Due: none

feat: add VisualWorkflowEditor orchestrator component (Task 6.1) (#500)
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
Due: web, e2e-matrix

feat: add space_task_agent session type and taskAgentSessionId to SpaceTask
  packages/shared/src/types.ts
  packages/shared/src/types/space.ts
Due: daemon

feat: define Task Agent MCP tool schemas (Task 1.3)
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/tests/unit/space/task-agent-tool-schemas.test.ts
Due: daemon

test: add performance validation for large workflows (Task 7.3)
  packages/web/src/components/space/visual-editor/__tests__/performance.test.tsx
Due: none

fix: add space_task_agent to sessions CHECK constraint and migration 31
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

feat: add List/Visual toggle in SpaceIsland workflow editor (Task 6.2)
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: web, e2e-matrix

fix: address review feedback on task-agent-tool-schemas
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/tests/unit/space/task-agent-tool-schemas.test.ts
Due: daemon

feat: add template support to visual workflow editor (Task 5.3)
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
Due: web, e2e-matrix
