Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix ChatGPT Codex responses request shape (#1719)
  packages/daemon/src/lib/providers/openai-responses-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/openai-responses-bridge/server.test.ts
Due: daemon

fix: skip previous_response_id continuation for ChatGPT OAuth endpoint (#1721)
  packages/daemon/src/lib/providers/openai-responses-bridge/server.ts
Due: daemon

[codex] Fix Responses bridge compatibility with ChatGPT Codex endpoint (#1720)
  packages/daemon/src/lib/providers/openai-responses-bridge/server.ts
Due: daemon

[codex] add OpenAI Responses bridge (#1717)
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/process-manager.ts
  packages/daemon/src/lib/providers/openai-responses-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/openai-responses-bridge/server.test.ts
Due: daemon

fix: don't store continuations for ChatGPT OAuth endpoint (#1723)
  packages/daemon/src/lib/providers/openai-responses-bridge/server.ts
Due: daemon

Fix PR ready gate handoff validation (#1722)
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: daemon

Fix Codex context window display (#1726)
  packages/daemon/src/lib/agent/context-fetcher.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/model-context-windows.ts
  packages/daemon/tests/unit/1-core/agent/context-fetcher.test.ts
  packages/daemon/tests/unit/1-core/core/model-service.test.ts
  packages/shared/src/models.ts
Due: daemon

Fix ghost tool continuation rehydrate race (#1725)
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/tool-continuation-recovery-repository.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/tool-continuation-recovery-repository.test.ts
Due: daemon

fix: guard Responses bridge SSE controller lifecycle (#1727)
  packages/daemon/src/lib/providers/openai-responses-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/openai-responses-bridge/server.test.ts
Due: daemon

Fix agent activation before message delivery (#1729)
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/other/channel-router.test.ts
  packages/daemon/tests/unit/5-space/other/cross-agent-messaging.test.ts
Due: daemon

Fix reviewer agent prompt drift on restart (#1730)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/managers/space-agent-manager.ts
  packages/daemon/tests/unit/1-core/lib/space-agent-manager.test.ts
Due: daemon

fix: refresh reviewer prompts after restart (#1728)
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
Due: daemon

Fix Codex context capacity display (#1731)
  packages/daemon/src/lib/agent/context-fetcher.ts
  packages/daemon/src/lib/model-service.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/model-context-windows.ts
  packages/daemon/tests/unit/1-core/agent/context-fetcher.test.ts
  packages/daemon/tests/unit/1-core/core/model-service.test.ts
  packages/web/src/components/__tests__/ContextUsageBar.test.tsx
Due: daemon

chore(release): bump version to 0.17.0 (#1732)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

Fix autocompact buffer threshold mapping (#1734)
  packages/daemon/src/lib/agent/context-fetcher.ts
  packages/daemon/tests/unit/1-core/agent/context-fetcher.test.ts
  packages/web/src/components/__tests__/ContextUsageBar.test.tsx
Due: daemon

Regroup real API CI tests behind manual workflow (#1735)
  .github/workflows/main.yml
  .github/workflows/real-api-tests.yml
  scripts/validate-online-test-matrix.sh
Due: none

Fix MinimalThreadFeed active turn drift (#1737)
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

Fix queued workflow handoff recovery (#1738)
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/pending-agent-message-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
Due: daemon

Fix Space Agent MCP recovery after resume (#1736)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/builtins.ts
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/skills/space-coordination/SKILL.md
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
  packages/daemon/tests/unit/4-space-storage/skills-manager.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-chat-agent.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
  packages/shared/src/types/skills.ts
Due: daemon

Make workflow agent prompts data-driven (#1739)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/managers/space-agent-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/1-core/lib/space-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/custom-agent.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
  packages/shared/src/types.ts
Due: daemon

Fix Space GitHub polling cursor follow-ups (#1741)
  packages/daemon/src/lib/github/space-github.ts
  packages/daemon/tests/unit/2-handlers/github/space-github.test.ts
Due: daemon

Fix restart migration preserving agent prompts (#1744)
  CLAUDE.md
  packages/daemon/src/lib/space/managers/space-agent-manager.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/1-core/lib/space-agent-manager.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-106_test.ts
Due: daemon

Add Space GitHub PR ingestion (#1740)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/github/space-github.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/github/space-github.test.ts
  packages/web/src/components/space/SpaceSettings.tsx
Due: daemon, web, e2e-matrix

Normalize Space GitHub dedupe keys (#1742)
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-112_test.ts
Due: daemon

Graceful socket disconnection handling in UI (#1748)
  packages/shared/src/message-hub/websocket-client-transport.ts
  packages/shared/tests/websocket-client-transport.test.ts
  packages/web/src/components/ConnectionOverlay.tsx
  packages/web/src/components/__tests__/ConnectionOverlay.test.ts
  packages/web/src/hooks/__tests__/useSendMessage.test.ts
  packages/web/src/hooks/useSendMessage.ts
  packages/web/src/lib/__tests__/connection-manager-comprehensive.test.ts
  packages/web/src/lib/__tests__/outbound-queue.test.ts
  packages/web/src/lib/__tests__/user-error.test.ts
  packages/web/src/lib/connection-manager.ts
  packages/web/src/lib/outbound-queue.ts
  packages/web/src/lib/state.ts
  packages/web/src/lib/user-error.ts
Due: daemon, web, e2e-matrix

Improve large SDK thread performance (#1746)
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/reactive-database.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/1-core/agent/sdk-message-handler.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-messages.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/reactive-database.test.ts
  packages/web/src/components/sdk/SDKAssistantMessage.tsx
  packages/web/src/components/sdk/SDKMessageRenderer.tsx
  packages/web/src/components/sdk/SDKUserMessage.tsx
  packages/web/src/components/sdk/__tests__/SDKAssistantMessage.test.tsx
  packages/web/src/hooks/__tests__/useMessageMaps.test.ts
  packages/web/src/hooks/useMessageMaps.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/session-store.ts
Due: daemon, web, e2e-matrix

Fix OpenRouter model cache never refreshing and context window metadata (#1747)
  packages/daemon/src/lib/model-service.ts
  packages/daemon/src/lib/providers/openrouter-provider.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/shared/src/provider/types.ts
  packages/web/src/components/settings/ModelsSettings.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

Fix chat autoscroll padding (#1757)
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/TaskSessionChatComposer.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/hooks/__tests__/useAutoScroll.test.ts
  packages/web/src/hooks/useAutoScroll.ts
Due: web, e2e-matrix

Fix review-posted gate URL extraction (#1749)
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/lib/space/workflows/post-approval-merge-template.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
Due: daemon

[codex] Reduce daemon live-query churn (#1754)
  packages/daemon/src/lib/agent/message-queue.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/storage/live-query.ts
  packages/daemon/tests/unit/4-space-storage/storage/live-query.test.ts
Due: daemon

Block unresolved PR conversations before merge (#1763)
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/lib/space/workflows/post-approval-merge-template.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
Due: daemon

Fix OpenRouter model allowlist filtering (#1756)
  packages/daemon/src/lib/providers/openrouter-provider.ts
  packages/daemon/src/lib/rpc-handlers/settings-handlers.ts
  packages/daemon/tests/unit/1-core/providers/openrouter-provider.test.ts
  packages/shared/src/types/settings.ts
  packages/web/src/components/settings/ModelsSettings.tsx
Due: daemon, web, e2e-matrix

Fix stale compact summary carryover (#1743)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/agent/rewind-handler.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/1-core/agent/model-switch-session-continuity.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/agent/rewind-handler.test.ts
  packages/daemon/tests/unit/1-core/core/sdk-session-file-manager.test.ts
  packages/shared/src/types.ts
Due: daemon

Fix runtime reverting manually reopened/resumed workflow task back to Blocked (#1759)
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/pending-agent-message-repository.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
Due: daemon

Fix own-PR review handoffs (#1760)
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: daemon

Prevent coder agents from merging PRs (#1764)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/5-space/other/seed-agents.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
  packages/shared/src/types.ts
  packages/shared/src/types/space.ts
Due: daemon

Route overlay sends through task messaging (#1758)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/AgentOverlayChat.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/AgentOverlayChat.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
  packages/web/src/hooks/useSpaceTaskMessages.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/ChatContainer.test.ts
  packages/web/src/islands/__tests__/ChatContainerSendOverride.test.ts
  packages/web/src/lib/__tests__/overlay-history.test.ts
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

Fix context window reporting for non-Codex models and increase chat limits (#1765)
  packages/daemon/src/lib/providers/openai-responses-bridge/server.ts
  packages/daemon/src/lib/providers/openrouter-provider.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/tests/unit/1-core/providers/openai-responses-bridge/server.test.ts
  packages/daemon/tests/unit/1-core/providers/openrouter-provider.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/hooks/useChatBase.ts
Due: daemon, web, e2e-matrix

Recover stalled workflow handoffs after restart (#1750)
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
