Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

refactor(web): drop legacy MCP toggle UI from Tools modal + api helpers
  packages/web/src/components/ToolsModal.tsx
  packages/web/src/components/ToolsModal.utils.ts
  packages/web/src/components/__tests__/ToolsModal.test.tsx
  packages/web/src/lib/__tests__/api-helpers.test.ts
  packages/web/src/lib/api-helpers.ts
Due: web, e2e-matrix

test(daemon): purge legacy MCP coverage from unit + online suites
  packages/daemon/tests/online/rpc/rpc-settings-handlers.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-m1-mcp-leak.test.ts
  packages/daemon/tests/unit/1-core/agent/sdk-runtime-config.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-action-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-all-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-query-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-query-tools.test.ts
  packages/daemon/tests/unit/1-core/session/sandbox-default.test.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle-sdk-title.test.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle.test.ts
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
  packages/daemon/tests/unit/1-core/session/settings-manager.test.ts
  packages/daemon/tests/unit/1-core/session/tools-config.test.ts
  packages/daemon/tests/unit/2-handlers/db-query/session-integration.test.ts
  packages/daemon/tests/unit/2-handlers/room/session-registration.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/mcp-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/settings-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/neo-agent-manager.test.ts
Due: none

ci: drop deleted rpc-mcp-toggle.test.ts from online matrix
  .github/workflows/main.yml
  scripts/validate-online-test-matrix.sh
Due: none

feat(space): add Task Agent merge_pr MCP tool behind feature flag
  packages/daemon/src/lib/space/tools/pr-merge-script.ts
  packages/daemon/src/lib/space/tools/task-agent-merge-handler.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-merge-handler.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tool-schemas.test.ts
Due: daemon

feat(daemon): honor mcp_enablement chain for skill-wrapped MCPs (M6)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/shared/src/types/mcp-enablement.ts
Due: daemon

feat(web): per-session MCP override toggles in Tools modal (M6)
  packages/daemon/src/lib/rpc-handlers/app-mcp-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc/app-mcp-handlers.test.ts
  packages/web/src/components/ToolsModal.tsx
Due: daemon, web, e2e-matrix

fix(daemon): cascade-delete session-scope MCP overrides on session delete
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/tests/unit/4-space-storage/storage/session-repository.test.ts
Due: daemon

feat: per-session MCP override toggles in Tool Modal (M6)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/rpc-handlers/app-mcp-handlers.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/app-mcp-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/session-repository.test.ts
  packages/shared/src/types/mcp-enablement.ts
  packages/web/src/components/ToolsModal.tsx
Due: daemon, web, e2e-matrix

docs: revise plan to workflow-declared post-approval agent routing
  docs/plans/remove-completion-actions-task-agent-as-post-approval-executor.md
Due: none

docs: revise plan to workflow-declared post-approval agent routing (#1612)
  docs/plans/remove-completion-actions-task-agent-as-post-approval-executor.md
Due: none

fix(space): re-attach space-agent-tools on workflow sub-session reuse (Task #99)
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
Due: daemon

fix(daemon): reset channel cycle counters on human touch
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/storage/repositories/channel-cycle-repository.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/channel-cycle-repository.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
Due: daemon

refactor(daemon): tighten cycle-reset review nits
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/storage/repositories/channel-cycle-repository.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/channel-cycle-repository.test.ts
Due: daemon

fix(space): re-attach space-agent-tools on workflow sub-session reuse (Task #99) (#1615)
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
Due: daemon

docs: revise plan — runtime-driven post-approval routing (drop Task Agent MCP tools)
  docs/plans/remove-completion-actions-task-agent-as-post-approval-executor.md
Due: none

docs: plan revision 3 — add mark_complete tool, adopt "space task node agent" terminology
  docs/plans/remove-completion-actions-task-agent-as-post-approval-executor.md
Due: none

docs: plan revision 4 — UI consolidation (single-slot approval banner, one-line rule)
  docs/plans/remove-completion-actions-task-agent-as-post-approval-executor.md
Due: none

docs: plan — remove completionActions, runtime-driven post-approval routing (#1613)
  docs/plans/remove-completion-actions-task-agent-as-post-approval-executor.md
Due: none

feat(space): show task dependency badges in task list
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
Due: web, e2e-matrix

fix(web): gate chat empty state on first messages snapshot
  packages/web/src/hooks/__tests__/useGroupMessages.test.ts
  packages/web/src/hooks/__tests__/useSpaceTaskMessages.test.ts
  packages/web/src/hooks/useGroupMessages.ts
  packages/web/src/hooks/useSpaceTaskMessages.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/__tests__/session-store-comprehensive.test.ts
  packages/web/src/lib/session-store.ts
Due: web, e2e-matrix

fix(web): gate chat empty state on first messages snapshot (#1614)
  packages/web/src/hooks/__tests__/useGroupMessages.test.ts
  packages/web/src/hooks/__tests__/useSpaceTaskMessages.test.ts
  packages/web/src/hooks/useGroupMessages.ts
  packages/web/src/hooks/useSpaceTaskMessages.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/__tests__/session-store-comprehensive.test.ts
  packages/web/src/lib/session-store.ts
Due: web, e2e-matrix

fix(web): keep last chat message visible above floating composer
  packages/web/src/hooks/__tests__/useAutoScroll.test.ts
  packages/web/src/hooks/useAutoScroll.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/__tests__/layout-metrics.test.ts
  packages/web/src/lib/layout-metrics.ts
Due: web, e2e-matrix

fix(web): keep last chat message visible above floating composer (#1617)
  packages/web/src/hooks/__tests__/useAutoScroll.test.ts
  packages/web/src/hooks/useAutoScroll.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/__tests__/layout-metrics.test.ts
  packages/web/src/lib/layout-metrics.ts
Due: web, e2e-matrix

fix(tests): stabilize flaky CI tests (workspace-history sort, web Suspense, Node imports)
  packages/daemon/src/storage/repositories/workspace-history-repository.ts
  packages/daemon/tests/unit/2-handlers/rpc/workspace-handlers.test.ts
  packages/web/src/islands/__tests__/ChatContainer.test.ts
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: daemon

fix(tests): stabilize flaky CI tests (workspace-history sort, web Suspense, Node imports) (#1619)
  packages/daemon/src/storage/repositories/workspace-history-repository.ts
  packages/daemon/tests/unit/2-handlers/rpc/workspace-handlers.test.ts
  packages/web/src/islands/__tests__/ChatContainer.test.ts
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: daemon

refactor(space): address review notes on dependency badges
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
Due: web, e2e-matrix

feat(space): show task dependency badges in task list (#1618)
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
Due: web, e2e-matrix

feat(space): add 'approved' task status + workflow postApproval schema (PR 1/5)
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/workflows/post-approval-template.ts
  packages/daemon/src/lib/space/workflows/post-approval-validator.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/1-core/lib/space-workflow-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-103_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-task-repository-post-approval.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-workflow-repository-post-approval.test.ts
  packages/daemon/tests/unit/5-space/workflow/post-approval-template.test.ts
  packages/daemon/tests/unit/5-space/workflow/post-approval-validator.test.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskStatusActions.tsx
Due: daemon, web, e2e-matrix

docs(space): address review nits on PR 1/5
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

feat(space): add 'approved' task status + workflow postApproval schema (PR 1/5) (#1620)
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/workflows/post-approval-template.ts
  packages/daemon/src/lib/space/workflows/post-approval-validator.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/1-core/lib/space-workflow-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-103_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-task-repository-post-approval.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-workflow-repository-post-approval.test.ts
  packages/daemon/tests/unit/5-space/workflow/post-approval-template.test.ts
  packages/daemon/tests/unit/5-space/workflow/post-approval-validator.test.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskStatusActions.tsx
Due: daemon, web, e2e-matrix

feat(space): runtime post-approval routing + mark_complete tool (PR 2/5)
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/post-approval-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-mark-complete.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/runtime/post-approval-router.test.ts
  packages/daemon/tests/unit/5-space/runtime/task-status-transitions.test.ts
  packages/web/src/components/space/InlineStatusBanner.tsx
  packages/web/src/components/space/PendingPostApprovalBanner.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/InlineStatusBanner.test.tsx
  packages/web/src/components/space/__tests__/PendingPostApprovalBanner.test.tsx
Due: daemon, web, e2e-matrix

fix(space): forward approvalReason + emit on post-approval dispatch
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-dispatch-post-approval.test.ts
  packages/web/src/components/space/PendingPostApprovalBanner.tsx
Due: daemon, web, e2e-matrix

feat(space): runtime post-approval routing + mark_complete tool (PR 2/5) (#1621)
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/post-approval-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-mark-complete.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/runtime/post-approval-router.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-dispatch-post-approval.test.ts
  packages/daemon/tests/unit/5-space/runtime/task-status-transitions.test.ts
  packages/web/src/components/space/InlineStatusBanner.tsx
  packages/web/src/components/space/PendingPostApprovalBanner.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/InlineStatusBanner.test.tsx
  packages/web/src/components/space/__tests__/PendingPostApprovalBanner.test.tsx
Due: daemon, web, e2e-matrix

feat(space): add shared post-approval merge-template + hash fingerprint
  packages/daemon/src/lib/space/workflows/post-approval-merge-template.ts
  packages/daemon/src/lib/space/workflows/template-hash.ts
Due: daemon

feat(space): rewrite built-in-workflow end nodes + seeder re-stamp
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
Due: daemon

feat(space): harden Reviewer preset agent prompt
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/tests/unit/5-space/other/seed-agents.test.ts
Due: daemon

feat(space): auto-restamp built-in workflows on daemon startup
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-handlers.ts
Due: daemon

feat(space): flip NEOKAI_TASK_AGENT_POST_APPROVAL_ROUTING default ON
  packages/daemon/src/lib/space/runtime/post-approval-router.ts
  packages/daemon/tests/unit/5-space/runtime/post-approval-router.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion-actions.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-completion.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-tick-loop.test.ts
Due: daemon
