Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

ci: add exact version pin enforcement to check job
  .github/workflows/main.yml
Due: none

test: increase IDLE_TIMEOUT for space-agent-coordination mock mode
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
Due: none

feat: add room tab route matching to handlePopState and initializeRouter
  packages/web/src/lib/__tests__/router.test.ts
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

fix(e2e): update space-happy-path-pipeline for current UI (#1419)
  packages/e2e/tests/features/space-happy-path-pipeline.e2e.ts
Due: none

fix: correct setupPage comment and deduplicate raw WS helpers
  packages/e2e/tests/features/room-livequery-subscriptions.e2e.ts
Due: none

fix: navigate to Done sub-tab in task-lifecycle E2E test (#1406)
  packages/e2e/tests/features/task-lifecycle.e2e.ts
Due: none

test(e2e): add MissionDetail page E2E tests
  packages/e2e/tests/features/mission-detail-page.e2e.ts
Due: none

fix: clear currentRoomActiveTabSignal in all non-room route branches
  packages/web/src/lib/__tests__/router.test.ts
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

test: increase timeouts in cross-provider continuity tests
  packages/daemon/tests/online/cross-provider/conversation-continuity-after-switch.test.ts
Due: none

fix: scope @mention autocomplete to workflow agents only
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.mention.test.tsx
Due: web, e2e-matrix

fix: navigateToRoom must not reset currentRoomActiveTabSignal
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

fix: resolve E2E reference-autocomplete flaky failures (#1417)
  packages/daemon/src/lib/file-index.ts
  packages/daemon/src/lib/room/managers/room-manager.ts
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
  packages/e2e/tests/features/reference-autocomplete.e2e.ts
Due: daemon

chore(deps): audit exact version pins - no violations found (#1433)
  .github/workflows/main.yml
  packages/daemon/tests/online/cross-provider/conversation-continuity-after-switch.test.ts
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
Due: none

fix: scope @mention autocomplete to workflow agents only (#1440)
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.mention.test.tsx
Due: web, e2e-matrix

feat: MissionDetail main content sections (#1428)
  packages/e2e/tests/features/mission-detail-page.e2e.ts
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/components/room/MissionDetail.tsx
  packages/web/src/components/room/__tests__/MissionDetail.test.tsx
Due: web, e2e-matrix

feat: add room tab route matching to handlePopState and initializeRouter (#1439)
  packages/web/src/lib/__tests__/router.test.ts
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

refactor: split room-store subscribeRoom into per-query methods (#1436)
  packages/e2e/tests/features/room-livequery-subscriptions.e2e.ts
  packages/web/src/lib/__tests__/connection-manager-comprehensive.test.ts
  packages/web/src/lib/__tests__/room-store-per-query-subscriptions.test.ts
  packages/web/src/lib/__tests__/room-store-tasks-live-query.test.ts
  packages/web/src/lib/connection-manager.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

test: add navigateToRoomTask and concurrent signal transition tests
  packages/web/src/components/room/__tests__/MissionDetail.test.tsx
  packages/web/src/lib/__tests__/router.test.ts
Due: none

refactor: replace useState with signal-driven tab in Room.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/__tests__/Room.test.tsx
Due: web, e2e-matrix

test(e2e): add MissionDetail navigation tests and fix post-Task6 selectors
  packages/e2e/tests/features/mission-detail-page.e2e.ts
  packages/e2e/tests/features/mission-detail.e2e.ts
Due: none

test: address review feedback on router and MissionDetail tests
  packages/web/src/components/room/__tests__/MissionDetail.test.tsx
  packages/web/src/lib/__tests__/router.test.ts
Due: none

feat: unify task pane canvas with visual editor — add readOnly mode
  packages/web/src/components/space/ReadOnlyWorkflowCanvas.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/useRuntimeCanvasData.ts
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
Due: web, e2e-matrix

refactor: migrate currentRoomTabSignal consumers to navigateToRoomTab
  packages/web/src/components/room/MissionDetail.tsx
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/islands/__tests__/BottomTabBar.test.tsx
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

fix: use task worktree path for getGateArtifacts and getFileDiff
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/space-workflow-run-handlers.test.ts
Due: daemon

test(e2e): fix overlay button ambiguity and add Missions tab assertion
  packages/e2e/tests/features/mission-detail-page.e2e.ts
Due: none

fix: complete currentRoomTabSignal migration across all callers
  packages/web/src/components/room/RoomDashboard.test.tsx
  packages/web/src/components/room/TaskViewV2.test.tsx
  packages/web/src/components/room/__tests__/MissionDetail.test.tsx
  packages/web/src/components/room/task-shared/__tests__/TaskHeader.test.tsx
  packages/web/src/islands/BottomTabBar.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/__tests__/RoomContextPanel.test.tsx
  packages/web/src/lib/__tests__/navigate-to-room-tab-reset.test.ts
Due: web, e2e-matrix

fix: add navigateToRoomTab mock and stat card navigation tests
  packages/web/src/components/room/RoomDashboard.test.tsx
Due: none

fix: support taskId in getGateArtifacts/getFileDiff, add getFileDiff tests
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/space-workflow-run-handlers.test.ts
  packages/web/src/components/space/FileDiffView.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskArtifactsPanel.tsx
Due: daemon, web, e2e-matrix

fix: address readOnly canvas review feedback — fix drag affordances, remove dead code, add tests
  packages/web/src/components/space/ReadOnlyWorkflowCanvas.tsx
  packages/web/src/components/space/WorkflowCanvas.tsx
  packages/web/src/components/space/__tests__/ReadOnlyWorkflowCanvas.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/WorkflowCanvas.test.tsx
  packages/web/src/components/space/__tests__/useRuntimeCanvasData.test.tsx
  packages/web/src/components/space/index.ts
  packages/web/src/components/space/useRuntimeCanvasData.ts
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
Due: web, e2e-matrix

fix: pass spaceTaskRepo and spaceWorktreeManager to gate handler tests
  packages/daemon/tests/unit/rpc-handlers/space-workflow-run-gate-handlers.test.ts
Due: none

refactor: replace useState with signal-driven tab in Room.tsx (#1443)
  packages/web/src/components/room/MissionDetail.tsx
  packages/web/src/components/room/RoomDashboard.test.tsx
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskViewV2.test.tsx
  packages/web/src/components/room/__tests__/MissionDetail.test.tsx
  packages/web/src/components/room/task-shared/__tests__/TaskHeader.test.tsx
  packages/web/src/islands/BottomTabBar.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/islands/__tests__/BottomTabBar.test.tsx
  packages/web/src/islands/__tests__/Room.test.tsx
  packages/web/src/islands/__tests__/RoomContextPanel.test.tsx
  packages/web/src/lib/__tests__/navigate-to-room-tab-reset.test.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

test: add navigateToRoomTask and concurrent signal transition tests (#1441)
  packages/web/src/components/room/__tests__/MissionDetail.test.tsx
  packages/web/src/lib/__tests__/router.test.ts
Due: none

test(e2e): MissionDetail navigation E2E tests (#1442)
  packages/e2e/tests/features/mission-detail-page.e2e.ts
  packages/e2e/tests/features/mission-detail.e2e.ts
Due: none

refactor: make useRoomLiveQuery tab-aware with conditional skills subscription
  packages/web/src/hooks/__tests__/useRoomLiveQuery.test.ts
  packages/web/src/hooks/useRoomLiveQuery.ts
  packages/web/src/islands/Room.tsx
Due: web, e2e-matrix

refactor: add lazy loading for GoalsEditor, RoomAgents, and RoomSettings
  packages/web/src/components/room/index.ts
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/__tests__/Room.test.tsx
Due: web, e2e-matrix

test: add skills roomId-change test, fix misleading test name
  packages/web/src/hooks/__tests__/useRoomLiveQuery.test.ts
Due: none

chore: show failing file:line at end of make test-daemon output (#1437)
  Makefile
Due: none
