Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix: address P1/P2/P3 review feedback on workflow step builder
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowStepCard.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/__tests__/WorkflowList.test.tsx
Due: web, e2e-matrix

feat: workflow step builder — WorkflowList, WorkflowEditor, WorkflowStepCard (Task 6.2)
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowList.tsx
  packages/web/src/components/space/WorkflowStepCard.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/__tests__/WorkflowList.test.tsx
  packages/web/src/components/space/__tests__/WorkflowStepCard.test.tsx
  packages/web/src/islands/SpaceIsland.tsx
Due: daemon, web, e2e-matrix

fix: remove residual optional chaining on required SpaceAgent.role field
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowStepCard.tsx
Due: web, e2e-matrix

fix: remove @ts-nocheck and resolve all TypeScript errors in test files
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowList.tsx
  packages/web/src/components/space/WorkflowStepCard.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/__tests__/WorkflowList.test.tsx
  packages/web/src/components/space/__tests__/WorkflowStepCard.test.tsx
Due: web, e2e-matrix

fix: resolveProvider throws on missing/unknown provider instead of silently falling back
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/providers/context-manager.ts
  packages/daemon/tests/unit/providers/context-manager.test.ts
Due: daemon

chore: fix biome formatting in SpaceIsland after conflict resolution
  packages/web/src/islands/SpaceIsland.tsx
Due: web, e2e-matrix

feat: workflow step builder (Task 6.2) (#463)
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowList.tsx
  packages/web/src/components/space/WorkflowStepCard.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/__tests__/WorkflowList.test.tsx
  packages/web/src/components/space/__tests__/WorkflowStepCard.test.tsx
  packages/web/src/islands/SpaceIsland.tsx
Due: daemon, web, e2e-matrix

feat: Task 6.3 - Workflow Rules Editor and Space integration
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowRulesEditor.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/__tests__/WorkflowRulesEditor.test.tsx
  packages/web/src/components/space/index.ts
  packages/web/src/islands/SpaceIsland.tsx
Due: web, e2e-matrix

test: add missing provider to query-options-builder test session fixture
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
Due: none

fix: handle thinking blocks in SDK title generation (#461)
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/unit/session/session-lifecycle-sdk-title.test.ts
Due: daemon

fix: address review feedback on PR #468
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/index.ts
Due: web, e2e-matrix

fix: restore Anthropic fallback for legacy sessions, fix requiresQueryRestart, update stale tests
  packages/daemon/src/lib/providers/context-manager.ts
  packages/daemon/tests/online/glm/glm-provider.test.ts
  packages/daemon/tests/unit/providers/context-manager.test.ts
Due: daemon

refactor: remove detectProvider heuristic entirely (#467)
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/context-manager.ts
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/tests/online/glm/glm-provider.test.ts
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/core/provider-service.test.ts
  packages/daemon/tests/unit/providers/context-manager.test.ts
  packages/daemon/tests/unit/providers/provider-registry.test.ts
Due: daemon

test: make P0 regression test unconditional — remove vacuous guard
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
Due: none

feat: Task 6.3 - Workflow Rules Editor and Space integration (#468)
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowRulesEditor.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/__tests__/WorkflowRulesEditor.test.tsx
  packages/web/src/components/space/index.ts
  packages/web/src/islands/SpaceIsland.tsx
Due: web, e2e-matrix

feat: add structured tokens object to design-tokens module
  packages/web/src/lib/design-tokens.ts
Due: web, e2e-matrix

feat: add structured tokens object to design-tokens module (#469)
  packages/web/src/lib/design-tokens.ts
Due: web, e2e-matrix

test: add tokens unified namespace tests for Task 1.2
  packages/web/src/lib/__tests__/design-tokens.test.ts
Due: none

feat: typography and global prose refinements (Task 1.3)
  packages/web/src/styles.css
Due: web, e2e-matrix

test: add tokens unified namespace tests for Task 1.2 (#470)
  packages/web/src/lib/__tests__/design-tokens.test.ts
Due: none

feat: typography and global prose refinements (Task 1.3) (#471)
  packages/web/src/styles.css
Due: web, e2e-matrix

feat: Button/IconButton/NavIconButton unification (Task 2.1)
  packages/web/src/components/ui/Button.tsx
  packages/web/src/components/ui/IconButton.tsx
  packages/web/src/components/ui/NavIconButton.tsx
  packages/web/src/components/ui/__tests__/Button.test.tsx
  packages/web/src/components/ui/__tests__/IconButton.test.tsx
  packages/web/src/components/ui/__tests__/NavIconButton.test.tsx
Due: web, e2e-matrix

fix: ensure onError cleanup runs on subprocess crash in codex bridge
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
Due: daemon

fix: clear stale sdkSessionId when SDK session file no longer exists
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
Due: daemon

fix: ensure onError cleanup runs on subprocess crash in codex bridge (#473)
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
Due: daemon

fix: clear stale sdkSessionId when SDK session file no longer exists (#474)
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
Due: daemon

feat: display API retry errors in UI during SDK retry attempts
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/daemon-hub.ts
  packages/shared/src/event-bus.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/session-store.ts
Due: daemon, web, e2e-matrix

fix: display Copilot quota errors as UI error blocks and stop retrying
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/error-manager.ts
  packages/daemon/src/lib/providers/anthropic-copilot/conversation.ts
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
Due: daemon

fix: display Copilot quota errors as UI error blocks and stop retrying (#476)
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/error-manager.ts
  packages/daemon/src/lib/providers/anthropic-copilot/conversation.ts
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
Due: daemon

feat: display API retry errors in UI during SDK retry attempts (#475)
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/daemon-hub.ts
  packages/shared/src/event-bus.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/session-store.ts
Due: daemon, web, e2e-matrix

fix: use unique workspace paths and correct delete params in space E2E tests
  packages/e2e/tests/features/space-export-import.e2e.ts
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
Due: none

fix: use unique workspace paths and correct delete params in space E2E tests (#477)
  packages/e2e/tests/features/space-export-import.e2e.ts
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
Due: none

feat: Button/IconButton/NavIconButton unification (Task 2.1) (#472)
  packages/web/src/components/ui/Button.tsx
  packages/web/src/components/ui/IconButton.tsx
  packages/web/src/components/ui/NavIconButton.tsx
  packages/web/src/components/ui/__tests__/Button.test.tsx
  packages/web/src/components/ui/__tests__/IconButton.test.tsx
  packages/web/src/components/ui/__tests__/NavIconButton.test.tsx
Due: web, e2e-matrix

fix: clean up stale spaces before creating in E2E tests
  packages/e2e/tests/features/space-export-import.e2e.ts
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
Due: none

fix: clean up stale spaces before creating in E2E tests (#478)
  packages/e2e/tests/features/space-export-import.e2e.ts
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
Due: none

feat: replace hidden dropdown with inline Cancel/Complete buttons in TaskView (Task 2.2)
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/components/room/TaskView.tsx
Due: web, e2e-matrix

fix: correct space.list response shape in E2E stale-space cleanup
  packages/e2e/tests/features/space-export-import.e2e.ts
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
Due: none

fix: correct space.list response shape in E2E stale-space cleanup (#481)
  packages/e2e/tests/features/space-export-import.e2e.ts
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
Due: none

fix: use correct space.create response shape in E2E tests
  packages/e2e/tests/features/space-export-import.e2e.ts
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
Due: none

fix: use correct space.create response shape in E2E tests (#482)
  packages/e2e/tests/features/space-export-import.e2e.ts
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
Due: none
