Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix(room): return placeholder idle state for unstarted room sessions
  packages/daemon/src/lib/state-manager.ts
Due: daemon

fix(web): fix room chat panel loading and handle real-time room deletion
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/lobby-store.ts
Due: web, e2e-matrix

feat(room): add agent lifecycle management and workspace auto-populate
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
Due: daemon

feat(room): add allowedModels restriction field for room agents
  packages/daemon/src/storage/repositories/room-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/shared/src/types/neo.ts
  packages/web/src/components/room/RoomSettings.tsx
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

fix(room-agent): restrict room sessions to orchestration tools only
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/web/src/components/sdk/MessageInfoDropdown.tsx
Due: daemon, web, e2e-matrix

feat(prompts): centralize all prompt templates in packages/shared
  packages/daemon/src/lib/prompts/builtin-templates.ts
  packages/daemon/src/lib/prompts/types.ts
  packages/daemon/src/lib/room/room-agent-service.ts
  packages/shared/src/mod.ts
  packages/shared/src/prompts/index.ts
  packages/shared/src/prompts/room-agent.ts
  packages/shared/src/prompts/templates.ts
  packages/shared/src/prompts/types.ts
Due: daemon

feat(settings): add maxConcurrentWorkers global setting for room agent
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/room-agent-handlers.ts
  packages/shared/src/types/settings.ts
Due: daemon

feat(room): add room-specific context panel and rename Dashboard to Overview
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/RoomContextPanel.tsx
Due: web, e2e-matrix

fix(router): restore room/session URL on page refresh
  packages/web/src/App.tsx
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

fix(room-agent): use config workspaceRoot instead of process.cwd() as workspace fallback
  packages/daemon/src/lib/room/room-agent-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/room-agent-handlers.ts
Due: daemon

refactor(room): move archive/delete buttons to Settings danger zone
  packages/web/src/components/room/RoomSettings.tsx
  packages/web/src/islands/Room.tsx
Due: web, e2e-matrix

feat(room): add New Session button to room context panel
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

feat(room): add room/session route and remove Start button
  packages/web/src/App.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

fix(room): make ContextEditor textareas editable and fix overflow
  packages/web/src/components/room/ContextEditor.tsx
Due: web, e2e-matrix

feat(room): rename Room Agent to Dashboard and hide chat panel when viewing session
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

fix(room): fix goal editing save button and state updates
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

fix(room-agent): fix manager/worker session message queue timeout
  packages/daemon/src/lib/room/session-pair-manager.ts
Due: daemon

feat(room): add escalated issues UI and fix waiting state
  packages/daemon/src/lib/room/room-agent-service.ts
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomEscalations.tsx
  packages/web/src/components/room/index.ts
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

feat(room-agent): add autonomous work tools and fix duplicate sessions
  packages/daemon/src/lib/agent/room-agent-tools.ts
  packages/daemon/src/lib/room/room-agent-service.ts
  packages/daemon/src/lib/room/session-pair-manager.ts
  packages/daemon/src/lib/room/task-manager.ts
  packages/daemon/src/lib/rpc-handlers/room-agent-handlers.ts
  packages/daemon/src/storage/repositories/session-pair-repository.ts
  packages/shared/src/types/neo.ts
Due: daemon

refactor(cli): remove RoomNeo runtime orchestration
  packages/cli/src/dev-server.ts
  packages/cli/src/prod-server-embedded.ts
  packages/cli/src/prod-server.ts
Due: none

fix(room): stop implicit room-agent autostart
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
Due: daemon

fix(room): restore human input and cancel-task contract
  packages/daemon/src/lib/agent/room-agent-tools.ts
  packages/daemon/src/lib/room/task-manager.ts
  packages/daemon/src/lib/rpc-handlers/room-agent-handlers.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

feat(room): make task flow first-class and constrain manager role
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/room/room-agent-service.ts
  packages/daemon/src/lib/room/room-manager.ts
  packages/daemon/src/lib/room/session-pair-manager.ts
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
  packages/shared/src/types/neo.ts
  packages/web/src/components/room/RoomDashboard.tsx
Due: daemon, web, e2e-matrix

fix(room): honor CLI workspace for room agent sessions
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/room/room-agent-service.ts
  packages/daemon/tests/unit/agent/agent-session.test.ts
Due: daemon

fix(room): clear stale persisted worktree for room sessions
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/tests/unit/agent/agent-session.test.ts
Due: daemon

fix(room): disable SDK resume for orchestration sessions
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
Due: daemon

fix(room): keep resume while invalidating stale orchestration state
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/tests/unit/agent/agent-session.test.ts
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
  packages/shared/src/types.ts
Due: daemon

fix(room): create room chat session on room creation
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
Due: daemon

fix(room): enable room-agent-tools MCP server for room chat sessions
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/room/room-agent-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/room-agent-handlers.ts
Due: daemon

refactor: introduce room chat/self session architecture
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/room/room-agent-service.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/shared/src/types.ts
Due: daemon

refactor(room): rename RoomAgent* types to RoomSelf* for clarity
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/room/index.ts
  packages/daemon/src/lib/room/room-self-lifecycle-manager.ts
  packages/daemon/src/lib/room/room-self-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/src/lib/rpc-handlers/room-self-handlers.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/room-self-state-repository.ts
  packages/shared/src/types/neo.ts
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomEscalations.tsx
  packages/web/src/components/room/RoomSelfStatus.tsx
  packages/web/src/components/room/index.ts
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

fix(room): filter room_chat/self sessions and fix coordinator mode
  packages/daemon/src/lib/room/room-manager.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/Room.tsx
Due: daemon, web, e2e-matrix

feat(room): create room-agent-tools MCP server on room creation
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/src/lib/rpc-handlers/room-self-handlers.ts
Due: daemon

fix(session): persist mcpServers config to database on session creation
  knip.json
  packages/daemon/src/lib/model-service.ts
  packages/daemon/src/lib/providers/factory.ts
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/src/lib/rpc-handlers/room-self-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
Due: daemon

fix(room-handlers): pass db parameter to setupRoomHandlers
  packages/daemon/src/lib/rpc-handlers/index.ts
Due: none

test(e2e): add room functionality E2E tests
  packages/e2e/tests/helpers/room-helpers.ts
  packages/e2e/tests/smoke/room.e2e.ts
Due: none

feat(room): add room chat panel tabs and Stop button
  packages/web/src/components/ChatHeader.tsx
  packages/web/src/components/room/RoomSelfStatus.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/Room.tsx
Due: web, e2e-matrix

fix(room-agent): prevent cyclic structure serialization errors
  packages/daemon/src/lib/rpc-handlers/room-self-handlers.ts
  packages/shared/src/message-hub/router.ts
Due: daemon

fix(room): save user messages to DB in room:self service
  packages/daemon/src/lib/room/room-self-service.ts
Due: daemon

fix(router): handle circular references in JSON serialization
  packages/shared/src/message-hub/router.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
