Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix(web): responsive review bar text and loosen ActionBar title type
  packages/web/src/components/room/task-shared/TaskReviewBar.tsx
  packages/web/src/components/ui/ActionBar.tsx
Due: web, e2e-matrix

fix: complete FULL_CYCLE rename and add node instructions
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/space-agent-tools.test.ts
  packages/e2e/tests/features/space-happy-path-pipeline.e2e.ts
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
Due: daemon, web, e2e-matrix

fix: address iteration-2 reviewer feedback on db-query server
  packages/daemon/src/lib/db-query/sql-validator.ts
  packages/daemon/src/lib/db-query/tools.ts
  packages/daemon/tests/unit/db-query/sql-validator.test.ts
  packages/daemon/tests/unit/db-query/tools.test.ts
Due: daemon

fix: reject top-level UNION queries and add missing test coverage
  packages/daemon/src/lib/db-query/sql-validator.ts
  packages/daemon/src/lib/db-query/tools.ts
  packages/daemon/tests/unit/db-query/sql-validator.test.ts
  packages/daemon/tests/unit/db-query/tools.test.ts
Due: daemon

fix: update test files to use NodeExecutionRepository for CompletionDetector and SpaceRuntime
  packages/daemon/tests/unit/space/space-runtime-completion.test.ts
  packages/daemon/tests/unit/space/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/space/task-agent-collaboration.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
Due: none

fix: create node_execution records in task-agent-collaboration tests
  packages/daemon/tests/unit/space/task-agent-collaboration.test.ts
Due: none

feat: add NodeExecutionManager, migrate CompletionDetector, and wire nodeExecutionRepo
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/space/managers/node-execution-manager.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/provision-global-agent.ts
  packages/daemon/src/lib/space/runtime/completion-detector.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/global-spaces-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/lib/node-execution-manager.test.ts
  packages/daemon/tests/unit/rpc-handlers/space-workflow-run-handlers.test.ts
  packages/daemon/tests/unit/space/completion-detector.test.ts
  packages/daemon/tests/unit/space/space-runtime-completion.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
Due: daemon

fix: wire nodeExecutionRepo in MCP test constructors, add TODO on NodeExecutionManager
  packages/daemon/src/lib/space/managers/node-execution-manager.ts
  packages/daemon/tests/unit/space/task-agent-manager-mcp.test.ts
Due: daemon

fix: address PR review feedback — dependency injection, async cleanup, test fixes
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/managers/node-execution-manager.ts
  packages/daemon/src/lib/space/runtime/completion-detector.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/lib/node-execution-manager.test.ts
  packages/daemon/tests/unit/space/completion-detector.test.ts
  packages/daemon/tests/unit/space/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/space/task-agent-manager-mcp.test.ts
Due: daemon

fix: address review feedback — agentName mismatch, UNIQUE constraint, worst-status sync
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/node-execution-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/lib/node-execution-manager.test.ts
  packages/daemon/tests/unit/space/completion-detector.test.ts
  packages/daemon/tests/unit/space/space-runtime-completion.test.ts
  packages/daemon/tests/unit/space/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/task-agent-collaboration.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: create node_execution records in ChannelRouter and sync status in tick loop
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
Due: daemon

fix: invoke db.transaction() in migration 75
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

fix: address GLM review feedback — align task titles, defensive throw, atomic migration
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/node-execution-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/space/space-runtime-completion.test.ts
Due: daemon

fix: resolve duplicate imports, add nodeExecutionRepo to tests, remove dead methods
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/space/provision-global-agent.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/global-spaces-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/space/channel-router-async.test.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
  packages/daemon/tests/unit/space/global-spaces-tools.test.ts
  packages/daemon/tests/unit/space/space-agent-tools.test.ts
  packages/daemon/tests/unit/space/space-runtime-edge-cases.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
  packages/daemon/tests/unit/space/workflow-executor-multi-agent.test.ts
Due: daemon

fix: reject INTERSECT/EXCEPT set operators and fix test nesting
  packages/daemon/src/lib/db-query/sql-validator.ts
  packages/daemon/src/lib/db-query/tools.ts
  packages/daemon/tests/unit/db-query/sql-validator.test.ts
  packages/daemon/tests/unit/db-query/tools.test.ts
Due: daemon

fix: honor SQL LIMIT in scoped queries and preserve named-column CTEs
  packages/daemon/src/lib/db-query/tools.ts
  packages/daemon/tests/unit/db-query/tools.test.ts
Due: daemon

feat: add NodeExecutionManager and migrate CompletionDetector to node_executions (#1236)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/space/managers/node-execution-manager.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/provision-global-agent.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/completion-detector.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/global-spaces-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/node-execution-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/lib/node-execution-manager.test.ts
  packages/daemon/tests/unit/rpc-handlers/space-workflow-run-handlers.test.ts
  packages/daemon/tests/unit/space/channel-router-async.test.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
  packages/daemon/tests/unit/space/completion-detector.test.ts
  packages/daemon/tests/unit/space/global-spaces-tools.test.ts
  packages/daemon/tests/unit/space/space-agent-tools.test.ts
  packages/daemon/tests/unit/space/space-runtime-completion.test.ts
  packages/daemon/tests/unit/space/space-runtime-edge-cases.test.ts
  packages/daemon/tests/unit/space/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/task-agent-collaboration.test.ts
  packages/daemon/tests/unit/space/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
  packages/daemon/tests/unit/space/workflow-executor-multi-agent.test.ts
  packages/shared/src/types/space.ts
Due: daemon

feat(web): redesign task view header for mobile — reduce crowding (#1218)
  packages/web/src/components/room/TaskInfoPanel.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/room/TaskViewToggle.tsx
  packages/web/src/components/room/TaskViewV2.test.tsx
  packages/web/src/components/room/TaskViewV2.tsx
  packages/web/src/components/room/__tests__/TaskInfoPanel.test.tsx
  packages/web/src/components/room/__tests__/TaskViewToggle.test.tsx
  packages/web/src/components/room/task-shared/TaskHeader.tsx
  packages/web/src/components/room/task-shared/TaskHeaderActions.tsx
  packages/web/src/components/room/task-shared/TaskReviewBar.tsx
  packages/web/src/components/room/task-shared/__tests__/TaskHeader.test.tsx
  packages/web/src/components/room/task-shared/__tests__/TaskHeaderActions.test.tsx
  packages/web/src/components/ui/ActionBar.tsx
Due: web, e2e-matrix

fix: handle aggregate/DISTINCT/ORDER BY correctly in scoped queries
  packages/daemon/src/lib/db-query/tools.ts
  packages/daemon/tests/unit/db-query/tools.test.ts
Due: daemon

feat: runtime updates for node_executions workflow-internal state
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-handlers.test.ts
Due: daemon

feat: replace agent-written gate fields with bash script in CODING_WORKFLOW
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
Due: daemon

fix: prevent rewriteSelectToStar from destroying column-list subqueries
  packages/daemon/src/lib/db-query/tools.ts
  packages/daemon/tests/unit/db-query/tools.test.ts
Due: daemon

docs: append E2E health check results for run #23914538827 (#1234)
  docs/e2e-health-check-log.md
Due: none

fix: remove incorrect shift tracking in rewriteSelectToStar
  packages/daemon/src/lib/db-query/tools.ts
  packages/daemon/tests/unit/db-query/tools.test.ts
Due: daemon

fix: close queryObject before auto-retry to prevent MCP transport crash
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/unit/agent/query-runner.test.ts
Due: daemon

fix: address review feedback on runtime node_executions migration
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-handlers.test.ts
Due: daemon

fix: add missing agentSessionIndex.delete and messages SQL guard
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
Due: daemon

feat: implement db-query MCP server with scoped read-only SQL access (#1239)
  packages/daemon/src/lib/db-query/sql-validator.ts
  packages/daemon/src/lib/db-query/tools.ts
  packages/daemon/tests/unit/db-query/sql-validator.test.ts
  packages/daemon/tests/unit/db-query/tools.test.ts
Due: daemon

fix: verify PR state is OPEN in code-ready-gate script
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
Due: daemon

feat: runtime updates (ChannelRouter, SpaceRuntime, TaskAgentManager) (#1242)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-handlers.test.ts
Due: daemon

test: add db-query MCP server injection tests for NeoAgentManager
  packages/daemon/tests/unit/db-query/session-integration.test.ts
  packages/daemon/tests/unit/neo-agent-manager.test.ts
Due: none

test: update tests for report_workflow_done removal and space.task.done rename
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/provision-global-agent.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/space/provision-global-agent.test.ts
  packages/daemon/tests/unit/space/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
Due: daemon

test: remove report_workflow_done tests from collaboration suite
  packages/daemon/tests/unit/space/task-agent-collaboration.test.ts
Due: none

feat: inject db-query MCP server into all agent session types
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
Due: daemon

fix: close queryObject before auto-retry to prevent MCP transport crash (#1244)
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/unit/agent/query-runner.test.ts
Due: daemon

fix: verify PR mergeability in code-ready-gate script
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
Due: daemon

feat: inject db-query MCP server into all agent session types (#1246)
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/db-query/session-integration.test.ts
  packages/daemon/tests/unit/neo-agent-manager.test.ts
Due: daemon

fix: harden code-ready-gate script and gate-script env vars
  packages/daemon/src/lib/space/runtime/gate-script-executor.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/gate-script-executor.test.ts
Due: daemon

fix: use here-strings in gate script and add GH_TOKEN test assertions
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/gate-script-executor.test.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
