Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

feat(skills): wire builtin skill loading end-to-end for dev and prod
  docs/features/skills.md
  packages/cli/src/dev-server.ts
  packages/cli/src/skill-utils.ts
  packages/cli/tests/skill-utils.test.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
Due: daemon

fix: make migration 29 resilient when custom_agent_id is missing
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-29_test.ts
Due: daemon

test: add maxBuffer and cwd tests for gate script executor (#1197)
  packages/daemon/tests/unit/space/gate-script-executor.test.ts
Due: none

fix: correct M71→M73 in migration 29 test comments
  packages/daemon/tests/unit/storage/migrations/migration-29_test.ts
Due: none

refactor: rename evaluateFieldsSync to evaluateFields
  packages/daemon/src/lib/space/runtime/gate-evaluator.ts
  packages/daemon/tests/unit/space/gate-evaluator.test.ts
Due: daemon

docs: update E2E guardian plan with corrected CI artifact handling
  docs/plans/dev-branch-e2e-tests-guardian-hourly.md
Due: none

test: add unit tests for gate shared type changes
  packages/daemon/tests/unit/space/gate-types-and-schema.test.ts
Due: none

feat: propagate gate label/color/hasScript through semantic workflow graph (#1198)
  packages/web/src/components/space/visual-editor/__tests__/semanticWorkflowGraph.test.ts
  packages/web/src/components/space/visual-editor/semanticWorkflowGraph.ts
Due: web, e2e-matrix

fix: handle missing custom_agent_id in migration 29 (#1204)
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-29_test.ts
Due: daemon

test: add unit tests for gate shared type changes (#1202)
  packages/daemon/tests/unit/space/gate-types-and-schema.test.ts
Due: none

feat(web): add badge label/color inputs and preview to GateEditorPanel (#1199)
  packages/web/src/components/space/visual-editor/GateEditorPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/GateEditorPanel.test.tsx
Due: web, e2e-matrix

fix: address reviewer P1 blocking issues on E2E guardian plan
  docs/plans/dev-branch-e2e-tests-guardian-hourly.md
Due: none

test: add edge-case tests for gate label/color/hasScript propagation
  packages/web/src/components/space/visual-editor/__tests__/semanticWorkflowGraph.test.ts
Due: none

test: add unit tests for ChannelEdgeConfigPanel gate summary display
  packages/web/src/components/space/__tests__/ChannelEdgeConfigPanel.test.tsx
Due: none

docs: rename data param to gateData, document data origin
  packages/daemon/src/lib/space/runtime/gate-evaluator.ts
Due: daemon

feat(web): use gate label/color/hasScript in EdgeRenderer badge rendering
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
Due: web, e2e-matrix

feat(web): show gate label, color, and script indicator in ChannelEdgeConfigPanel
  packages/web/src/components/space/visual-editor/ChannelEdgeConfigPanel.tsx
Due: web, e2e-matrix

fix: address PR review feedback on gate badge tests
  packages/web/src/components/space/visual-editor/__tests__/semanticWorkflowGraph.test.ts
Due: none

feat(skills): add Install from Git UI in Skills settings panel
  packages/web/src/components/settings/InstallSkillFromGitDialog.tsx
  packages/web/src/components/settings/SkillsRegistry.tsx
  packages/web/src/components/settings/__tests__/InstallSkillFromGitDialog.test.tsx
  packages/web/src/components/settings/__tests__/SkillsRegistry.test.tsx
  packages/web/src/lib/skills-store.ts
Due: web, e2e-matrix

feat(web): add script editor to GateEditorPanel
  packages/web/src/components/space/visual-editor/GateEditorPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/GateEditorPanel.test.tsx
Due: web, e2e-matrix

fix: prevent duplicate "asked a question" group events on repeated waiting_for_input
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
Due: daemon

fix(test): remove @ts-nocheck and add gate+fields+script test
  packages/web/src/components/space/__tests__/ChannelEdgeConfigPanel.test.tsx
Due: none

fix(web): consume reverseGateLabel/reverseGateColor in EdgeRenderer
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
Due: web, e2e-matrix

fix(web): address review feedback on GateEditorPanel script editor
  packages/web/src/components/space/visual-editor/GateEditorPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/GateEditorPanel.test.tsx
Due: web, e2e-matrix

feat: migrate evaluateGate to async with script pre-check
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/gate-evaluator.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/space/gate-evaluator.test.ts
  packages/daemon/tests/unit/space/gate-types-and-schema.test.ts
Due: daemon

fix: increase waitForIdle timeout for cross-provider Minimax test
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
Due: none

fix(skills): reject http:// URLs in InstallSkillFromGitDialog — only https:// accepted
  packages/web/src/components/settings/InstallSkillFromGitDialog.tsx
  packages/web/src/components/settings/__tests__/InstallSkillFromGitDialog.test.tsx
Due: web, e2e-matrix

feat(web): show gate label, color, and script indicator in ChannelEdgeConfigPanel (#1209)
  packages/web/src/components/space/__tests__/ChannelEdgeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/ChannelEdgeConfigPanel.tsx
Due: web, e2e-matrix

docs: update E2E guardian plan with corrected CI artifact handling (#1206)
  docs/plans/dev-branch-e2e-tests-guardian-hourly.md
Due: none

fix(ci): reduce flaky tests and optimize CI duration
  .github/workflows/main.yml
  packages/e2e/tests/core/connection-resilience.e2e.ts
  packages/e2e/tests/helpers/connection-helpers.ts
Due: none

fix: prevent duplicate leader/worker question messages (#1212)
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/online/cross-provider/cross-provider-model-switch.test.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
Due: daemon

feat: add playwright built-in skills and chrome-devtools MCP default (#1188)
  .gitignore
  docs/features/skills.md
  packages/cli/src/dev-server.ts
  packages/cli/src/embedded-assets.d.ts
  packages/cli/src/prod-server-embedded.ts
  packages/cli/src/skill-utils.ts
  packages/cli/tests/skill-utils.test.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/mcp/seed-defaults.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/skill-handlers.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/mcp/seed-defaults.test.ts
  packages/daemon/tests/unit/skills-manager.test.ts
  packages/shared/src/types/skills.ts
  packages/skills/playwright-interactive/LICENSE.txt
  packages/skills/playwright-interactive/NOTICE.txt
  packages/skills/playwright-interactive/SKILL.md
  packages/skills/playwright-interactive/agents/openai.yaml
  packages/skills/playwright-interactive/assets/playwright-small.svg
  packages/skills/playwright-interactive/assets/playwright.png
  packages/skills/playwright/LICENSE.txt
  packages/skills/playwright/NOTICE.txt
  packages/skills/playwright/SKILL.md
  packages/skills/playwright/agents/openai.yaml
  packages/skills/playwright/assets/playwright-small.svg
  packages/skills/playwright/assets/playwright.png
  packages/skills/playwright/references/cli.md
  packages/skills/playwright/references/workflows.md
  packages/skills/playwright/scripts/playwright_cli.sh
  packages/web/src/components/settings/InstallSkillFromGitDialog.tsx
  packages/web/src/components/settings/SkillsRegistry.tsx
  packages/web/src/components/settings/__tests__/InstallSkillFromGitDialog.test.tsx
  packages/web/src/components/settings/__tests__/SkillsRegistry.test.tsx
  packages/web/src/lib/skills-store.ts
  scripts/generate-embedded-assets.ts
Due: daemon, web, e2e-matrix

feat: update ChannelRouter for async gate evaluation with semaphore and coalescing
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/tests/unit/space/channel-router-async.test.ts
Due: daemon

feat(web): use gate label/color/hasScript in EdgeRenderer badge rendering (#1210)
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
Due: web, e2e-matrix

fix(ci): address review feedback on PR #1213
  .github/workflows/main.yml
  packages/e2e/tests/core/connection-resilience.e2e.ts
  packages/e2e/tests/helpers/connection-helpers.ts
Due: none

docs: refine E2E guardian plan -- switch to supervised autonomy, fix gh CLI usage
  docs/plans/dev-branch-e2e-tests-guardian-hourly.md
Due: none

feat(web): add script editor to GateEditorPanel (#1211)
  packages/web/src/components/space/visual-editor/GateEditorPanel.tsx
  packages/web/src/components/space/visual-editor/__tests__/GateEditorPanel.test.tsx
Due: web, e2e-matrix
