Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

feat(neo): add MessageOrigin field to shared types and message pipeline (task 6.1) (#1107)
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/reference-message-persistence.test.ts
  packages/daemon/tests/unit/session/message-persistence.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-68_test.ts
  packages/daemon/tests/unit/storage/sdk-message-repository.test.ts
  packages/shared/src/types.ts
Due: daemon

feat(neo): security tier system with pending action store (task 3.1)
  packages/daemon/src/lib/neo/security-tier.ts
  packages/daemon/tests/unit/neo-security-tier.test.ts
Due: daemon

feat(web): wire SpaceIsland to render ChatContainer for agent/session views (#1111)
  packages/e2e/tests/features/space-agent-chat.e2e.ts
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: web, e2e-matrix

fix(neo): address review feedback on security tier (task 3.1)
  packages/daemon/src/lib/neo/neo-system-prompt.ts
  packages/daemon/src/lib/neo/security-tier.ts
  packages/daemon/tests/unit/neo-security-tier.test.ts
Due: daemon

feat(neo): add ViaNeoIndicator badge and integrate into chat/gate/task UI (task 9.1)
  packages/web/src/components/neo/ViaNeoIndicator.test.tsx
  packages/web/src/components/neo/ViaNeoIndicator.tsx
  packages/web/src/components/room/TaskInfoPanel.tsx
  packages/web/src/components/sdk/SDKUserMessage.tsx
  packages/web/src/components/space/GateArtifactsView.tsx
Due: web, e2e-matrix

feat(space): full-width task view with agent session navigation (M3.1)
  packages/e2e/tests/features/space-task-fullwidth.e2e.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: web, e2e-matrix

feat(neo): security tier system (task 3.1) (#1112)
  packages/daemon/src/lib/neo/neo-system-prompt.ts
  packages/daemon/src/lib/neo/security-tier.ts
  packages/daemon/tests/unit/neo-security-tier.test.ts
Due: daemon

fix(neo): fix Cyrillic homoglyph in viaNeo prop, wire callers, add integration tests
  packages/web/src/components/room/TaskInfoPanel.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/room/TaskViewV2.tsx
  packages/web/src/components/room/__tests__/TaskInfoPanel.test.tsx
  packages/web/src/components/sdk/__tests__/SDKUserMessage.test.tsx
  packages/web/src/components/space/GateArtifactsView.tsx
  packages/web/src/components/space/__tests__/GateArtifactsView.test.tsx
Due: web, e2e-matrix

feat(neo): wire NeoAgentManager into daemon app lifecycle (task 1.3)
  packages/daemon/src/app.ts
  packages/daemon/tests/unit/core/neo-daemon-lifecycle.test.ts
Due: daemon

fix(neo): address review feedback on task 1.3 wiring
  packages/daemon/.env.example
  packages/daemon/src/app.ts
  packages/daemon/tests/unit/core/neo-daemon-lifecycle.test.ts
Due: daemon

fix(space): address review feedback on task full-width view (P2/P3)
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: web, e2e-matrix

feat(neo): ViaNeoIndicator badge + chat/gate/task integration (task 9.1) (#1113)
  packages/web/src/components/neo/ViaNeoIndicator.test.tsx
  packages/web/src/components/neo/ViaNeoIndicator.tsx
  packages/web/src/components/room/TaskInfoPanel.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/room/TaskViewV2.tsx
  packages/web/src/components/room/__tests__/TaskInfoPanel.test.tsx
  packages/web/src/components/sdk/SDKUserMessage.tsx
  packages/web/src/components/sdk/__tests__/SDKUserMessage.test.tsx
  packages/web/src/components/space/GateArtifactsView.tsx
  packages/web/src/components/space/__tests__/GateArtifactsView.test.tsx
Due: web, e2e-matrix

feat(space): full-width task view with agent session navigation (M3.1) (#1115)
  packages/e2e/tests/features/space-task-fullwidth.e2e.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: web, e2e-matrix

feat(neo): wire NeoAgentManager into daemon app lifecycle (task 1.3) (#1114)
  packages/daemon/.env.example
  packages/daemon/src/app.ts
  packages/daemon/tests/unit/core/neo-daemon-lifecycle.test.ts
Due: daemon

test(e2e): add comprehensive space navigation E2E test
  packages/e2e/tests/features/space-navigation.e2e.ts
Due: none

fix(e2e): resolve selector ambiguity and fragile CSS assertion in space-navigation test
  packages/e2e/tests/features/space-navigation.e2e.ts
  packages/web/src/islands/SpaceDetailPanel.tsx
Due: web, e2e-matrix

fix(daemon): preserve autonomyLevel when combined with status in goal.update (#1110)
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/goal-handlers.test.ts
Due: daemon

feat(neo): add Neo query tools for rooms, sessions, and system info (task 2.1)
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/tests/unit/neo/neo-query-tools.test.ts
Due: daemon

fix(e2e): scope Dashboard tab click to space-tab-bar to avoid sidebar ambiguity
  packages/e2e/tests/features/space-navigation.e2e.ts
  packages/web/src/islands/SpaceIsland.tsx
Due: web, e2e-matrix

ci: split online space tests into 2 parallel CI jobs (#1108)
  .github/workflows/main.yml
  scripts/validate-online-test-matrix.sh
Due: none

test(e2e): add comprehensive space navigation E2E test (#1116)
  packages/e2e/tests/features/space-navigation.e2e.ts
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/SpaceIsland.tsx
Due: web, e2e-matrix

feat(neo): Neo RPC handlers — send, history, clearSession, settings, confirmAction, cancelAction (task 4.1)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/neo-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/neo-handlers.test.ts
Due: daemon

fix(neo): address P1/P2 review issues in Neo RPC handlers
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/neo-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/neo-handlers.test.ts
Due: daemon

ci: add space-chat-session.test.ts to space-1 CI matrix shard
  .github/workflows/main.yml
  scripts/validate-online-test-matrix.sh
Due: none

test(space): E2E test for all space sub-route deep links and back/forward nav (M3.2)
  packages/e2e/tests/features/space-sub-routes.e2e.ts
Due: none

fix(space): use navigateToSpaceAgent in SpaceDetailPanel; add isSpaceAgentRoute to App.tsx; add /session/:sid E2E test
  packages/e2e/tests/features/space-sub-routes.e2e.ts
  packages/web/src/App.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
Due: web, e2e-matrix

ci: add space-chat-session.test.ts to CI matrix and validator
  .github/workflows/main.yml
  scripts/validate-online-test-matrix.sh
Due: none

feat(neo): Neo RPC handlers — neo.send, neo.history, neo.clearSession, neo.getSettings, neo.updateSettings, neo.confirmAction, neo.cancelAction (task 4.1) (#1118)
  .github/workflows/main.yml
  packages/daemon/src/app.ts
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/neo-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/neo-handlers.test.ts
  scripts/validate-online-test-matrix.sh
Due: daemon

test(space): E2E tests for all space sub-route deep links (M3.2) (#1117)
  packages/e2e/tests/features/space-sub-routes.e2e.ts
  packages/web/src/App.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
Due: web, e2e-matrix

refactor(neo): fix P2 review issues in neo-query-tools
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/src/lib/room/managers/room-manager.ts
  packages/daemon/src/lib/room/session-utils.ts
  packages/daemon/tests/unit/room/session-utils.test.ts
Due: daemon

feat(neo): add neo.messages and neo.activity LiveQuery named queries (task 4.2)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-handlers.test.ts
Due: daemon

feat(neo): Room and session query tools (task 2.1) (#1119)
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/src/lib/room/managers/room-manager.ts
  packages/daemon/src/lib/room/session-utils.ts
  packages/daemon/tests/unit/neo/neo-query-tools.test.ts
  packages/daemon/tests/unit/room/session-utils.test.ts
Due: daemon

feat(neo): add neo.messages and neo.activity LiveQuery named queries (task 4.2) (#1120)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-handlers.test.ts
Due: daemon

feat(neo): Skill and MCP server query tools (task 2.4)
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/tests/unit/neo/neo-query-tools.test.ts
Due: daemon

feat(neo): Room and goal action tools (task 3.2)
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
Due: daemon

feat(neo): signal-based NeoStore with LiveQuery subscriptions (task 7.1)
  packages/web/src/lib/neo-store.test.ts
  packages/web/src/lib/neo-store.ts
Due: web, e2e-matrix

fix(neo): Address review feedback for action tools
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
Due: daemon

fix(neo): address review feedback on NeoStore (P1/P2 issues)
  packages/web/src/lib/neo-store.test.ts
  packages/web/src/lib/neo-store.ts
Due: web, e2e-matrix

fix(neo): clear loading after reconnect re-subscribe completes
  packages/web/src/lib/neo-store.test.ts
  packages/web/src/lib/neo-store.ts
Due: web, e2e-matrix
