Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix: patch CopilotClient PATH so CLI subprocess uses Bun, not system node
  packages/daemon/src/lib/providers/anthropic-copilot/bun-node-wrapper.ts
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/bun-node-wrapper.test.ts
Due: daemon

ci: add Node.js 24 setup to all CI jobs
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

fix: address P2 issues — slow_down RFC 8628 backoff, streaming/polling .unref()
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/src/lib/providers/anthropic-copilot/streaming.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/provider.test.ts
Due: daemon

fix: address P1/P2 review issues in anthropic-copilot provider
  packages/daemon/src/lib/providers/anthropic-copilot/conversation.ts
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
  packages/daemon/src/lib/providers/anthropic-copilot/tool-bridge.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/provider.test.ts
Due: daemon

fix: stop using bun-node-wrapper for CopilotClient — Bun lacks node:sqlite on Linux
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
Due: daemon

test: replace real 5s sleep with setTimeout spy in slow_down backoff test
  packages/daemon/tests/unit/providers/anthropic-copilot/provider.test.ts
Due: none

fix: make bun-node-wrapper platform-conditional — skip on Linux, apply on macOS
  packages/daemon/.env.example
  packages/daemon/src/lib/providers/anthropic-copilot/bun-node-wrapper.ts
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/bun-node-wrapper.test.ts
Due: daemon

test: use unique runtime token in MCP test to force tool use
  packages/daemon/tests/online/providers/anthropic-copilot-provider.test.ts
Due: none

test(anthropic-copilot): assert MCP server initialisation, not model tool-call
  packages/daemon/tests/online/providers/anthropic-copilot-provider.test.ts
Due: none

fix(anthropic-copilot): guard MCP flag check with poll loop; document GPT ID collision
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/tests/online/providers/anthropic-copilot-provider.test.ts
Due: daemon

refactor(anthropic-copilot): rename class to AnthropicToCopilotBridgeProvider
  .github/workflows/main.yml
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/anthropic-copilot/index.ts
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
  packages/daemon/src/lib/providers/factory.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
  packages/daemon/tests/unit/core/provider-service.test.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/provider.test.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/server.test.ts
  packages/daemon/tests/unit/providers/anthropic-provider.test.ts
Due: daemon

docs: add codex anthropic parity report
  docs/reports/codex-anthropic-parity-report.md
Due: none

fix: update validate-online-test-matrix.sh for renamed provider test file
  scripts/validate-online-test-matrix.sh
Due: none

docs: add anthropic-copilot parity report
  docs/reports/anthropic-copilot-parity-report.md
Due: none

refactor: remove legacy pi-mono provider path and wire copilot bridge
  packages/daemon/package.json
  packages/daemon/src/lib/agent/model-switch-handler.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/src/lib/providers/pimono-adapter.ts
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/online/providers/openai-provider.test.ts
  packages/daemon/tests/online/rpc/session-handlers.test.ts
  packages/daemon/tests/unit/providers/pimono-adapter.test.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
  packages/shared/src/provider/index.ts
  packages/shared/src/provider/query-types.ts
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/hooks/useModelSwitcher.ts
Due: daemon, web, e2e-matrix

refactor: purge legacy pi-mono artifacts and trim provider online matrix
  .github/workflows/main.yml
  bun.lock
  docs/codex-anthropic-api-parity-review.md
  docs/plans/all-online-tests-require-llm-should-be-using-devproxy.md
  docs/plans/fix-pi-mono-integration-for-transparent-multi-provider-suppo.md
  docs/plans/use-dev-proxy-for-all-online-tests.md
  docs/reports/codex-app-server-integration.md
  docs/reports/codex-cli-vs-pimono.md
  docs/reports/codex-message-mapping.md
  docs/reports/codex-tool-integration.md
  docs/reports/copilot-cli-capabilities.md
  docs/reports/copilot-cli-vs-pimono.md
  docs/reports/copilot-message-mapping.md
  docs/reports/copilot-tool-integration.md
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/factory.ts
  packages/daemon/tests/online/providers/anthropic-provider.test.ts
  packages/daemon/tests/online/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/online/providers/model-switch-system-init.test.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/provider.test.ts
  scripts/validate-online-test-matrix.sh
Due: daemon

fix: fallback to system node when bun lacks node:sqlite
  packages/daemon/src/lib/providers/anthropic-copilot/bun-node-wrapper.ts
Due: daemon

docs: plan for full first-class anthropic-copilot and anthropic-codex provider support
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/00-overview.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/01-shared-type-system-updates.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/02-provider-routing-hardening.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/03-web-ui-provider-integration.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/04-codex-bridge-parity-gaps.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/05-copilot-bridge-parity-gaps.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/06-auth-ux-and-health-recovery.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/07-test-coverage.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/08-documentation-and-final-report.md
Due: none

fix(plan): address P1/P2 review feedback on provider support plan
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/01-shared-type-system-updates.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/02-provider-routing-hardening.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/03-web-ui-provider-integration.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/04-codex-bridge-parity-gaps.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/05-copilot-bridge-parity-gaps.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/06-auth-ux-and-health-recovery.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/07-test-coverage.md
Due: none

fix: show PR link for all task statuses once created
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
Due: web, e2e-matrix

feat: add mission metadata schema and types for Goal V2 (#369)
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-28_test.ts
  packages/shared/src/types/neo.ts
Due: daemon

docs: Goal V2 Mission System -- Autonomous Agent Workflows plan (#368)
  docs/plans/goal-v2-mission-system-autonomous-agent-workflows/00-overview.md
  docs/plans/goal-v2-mission-system-autonomous-agent-workflows/01-shared-types-and-mission-aliases.md
  docs/plans/goal-v2-mission-system-autonomous-agent-workflows/02-database-schema-migration.md
  docs/plans/goal-v2-mission-system-autonomous-agent-workflows/03-measurable-missions.md
  docs/plans/goal-v2-mission-system-autonomous-agent-workflows/04-recurring-missions.md
  docs/plans/goal-v2-mission-system-autonomous-agent-workflows/05-semi-autonomous-mode.md
  docs/plans/goal-v2-mission-system-autonomous-agent-workflows/06-rpc-layer-extensions.md
  docs/plans/goal-v2-mission-system-autonomous-agent-workflows/07-ui-mission-creation-dashboard.md
Due: none

feat: tighten leader agent tool permissions to read-only context subset
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
Due: daemon

fix: address review feedback on leader agent tool permissions
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
Due: daemon

fix: address second-round review feedback on leader agent tool permissions
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
Due: daemon

fix: show PR link for all task statuses once created (#372)
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
Due: web, e2e-matrix

Plan: Full first-class anthropic-copilot and anthropic-codex provider support (#370)
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/00-overview.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/01-shared-type-system-updates.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/02-provider-routing-hardening.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/03-web-ui-provider-integration.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/04-codex-bridge-parity-gaps.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/05-copilot-bridge-parity-gaps.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/06-auth-ux-and-health-recovery.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/07-test-coverage.md
  docs/plans/implement-anthropic-copilot-anthropic-to-codex-bridge-provid/08-documentation-and-final-report.md
Due: none

feat: widen Provider type union to include anthropic-copilot and anthropic-codex
  packages/shared/src/types.ts
Due: daemon

feat: tighten leader agent tool permissions to read-only context subset (#371)
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
Due: daemon

chore: remove pi-mono approach dead code
  bun.lock
Due: none

chore: fix review feedback for pi-mono removal
  packages/daemon/src/lib/providers/anthropic-provider.ts
  packages/daemon/tests/unit/agent/sdk-message-handler.test.ts
Due: daemon

chore: remove createQuery dead code (isCustomQueryProvider, query-types, updateContextInfoFromUsage)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/shared/src/provider/index.ts
  packages/shared/src/provider/query-types.ts
  packages/shared/src/provider/types.ts
Due: daemon

feat: define V2 mission types and extend RoomGoal/GoalRepository
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/shared/src/types/neo.ts
Due: daemon

fix: wire V2 mission fields to DB, add migration 28, add tests
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/goal-manager.test.ts
  packages/daemon/tests/unit/room/goal-repository-v2.test.ts
Due: daemon

fix: add consecutiveFailures to CreateGoalParams and align test expectations with defaults
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/tests/unit/room/goal-repository-v2.test.ts
Due: daemon

fix: add replan_count column to inline test CREATE TABLE schemas
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: none

feat: define V2 mission types and extend RoomGoal (Task 1.1) (#374)
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/goal-manager.test.ts
  packages/daemon/tests/unit/room/goal-repository-v2.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/shared/src/types/neo.ts
Due: daemon

chore: remove pi-mono approach dead code (#364)
  bun.lock
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/providers/anthropic-provider.ts
  packages/daemon/tests/unit/agent/sdk-message-handler.test.ts
  packages/shared/src/provider/index.ts
  packages/shared/src/provider/query-types.ts
  packages/shared/src/provider/types.ts
Due: daemon

feat: widen Provider type union to include anthropic-copilot and anthropic-codex (#373)
  packages/shared/src/types.ts
Due: daemon
