Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix: block on UNKNOWN for both mergeable and mergeStateStatus
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
Due: daemon

fix: update stale event name comments and fix step numbering in system prompt
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
Due: daemon

test(db-query): add integration tests and schema evolution validation
  packages/daemon/tests/unit/db-query/db-query-integration.test.ts
  packages/daemon/tests/unit/db-query/sql-validator.test.ts
  packages/daemon/tests/unit/db-query/tools.test.ts
Due: none

test: add multi-CTE cross-scope rejection and HAVING clause tests
  packages/daemon/tests/unit/db-query/db-query-integration.test.ts
Due: none

test: update tests for report_workflow_done removal and space.task.done rename (#1245)
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/provision-global-agent.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/unit/space/provision-global-agent.test.ts
  packages/daemon/tests/unit/space/task-agent-collaboration.test.ts
  packages/daemon/tests/unit/space/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
Due: daemon

test(db-query): integration tests and schema evolution validation (#1247)
  packages/daemon/tests/unit/db-query/db-query-integration.test.ts
  packages/daemon/tests/unit/db-query/sql-validator.test.ts
  packages/daemon/tests/unit/db-query/tools.test.ts
Due: none

test: add end-node bypass, composePromptLayer, and orchestration auto-complete integration tests
  packages/daemon/tests/unit/space/space-runtime-completion.test.ts
Due: none

feat: iterative Research→Review loop for RESEARCH_WORKFLOW
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
Due: daemon

docs: audit @neokai/ui against Tailwind Application UI v4 reference
  docs/plans/audit-neokaiui-against-tailwind-application-ui-v4-reference.md
Due: none

test: add task.getGroup handler tests for session info bundling
  packages/daemon/tests/unit/rpc/task-handlers.test.ts
Due: none

perf(task-view): bundle session info into task.getGroup response; remove progress circle from header
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/web/src/components/room/task-shared/TaskHeader.tsx
  packages/web/src/components/room/task-shared/__tests__/TaskHeader.test.tsx
  packages/web/src/hooks/useTaskViewData.ts
Due: daemon, web, e2e-matrix

test: update retry test description to reflect 200ms delay
  packages/web/src/components/room/TaskView.test.tsx
Due: none

refactor(task-view): remove dead session fallback; add comment on unconditional session fetch
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/web/src/hooks/useTaskViewData.ts
Due: daemon, web, e2e-matrix

fix: address review feedback on UI audit plan
  docs/plans/audit-neokaiui-against-tailwind-application-ui-v4-reference.md
Due: none

docs(tests): update stale status/terminology comments in online and unit tests
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
  packages/daemon/tests/online/space/space-edge-cases.test.ts
  packages/daemon/tests/online/space/space-happy-path-code-review.test.ts
  packages/daemon/tests/online/space/space-happy-path-full-pipeline.test.ts
  packages/daemon/tests/online/space/space-happy-path-plan-to-approve.test.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/unit/space/task-agent-collaboration.test.ts
Due: none

feat: add Research agent seed and update workflow agent assignments
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/seed-agents.test.ts
  packages/e2e/tests/features/space-happy-path-pipeline.e2e.ts
Due: daemon

fix: correct import count (92), test count (27), and refine R2 tasks
  docs/plans/audit-neokaiui-against-tailwind-application-ui-v4-reference.md
Due: none

fix: update stale test names, JSDoc, and add Research toolset test
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/seed-agents.test.ts
Due: daemon

fix: correct stale numbers in R2 task and effort estimate
  docs/plans/audit-neokaiui-against-tailwind-application-ui-v4-reference.md
Due: none

fix: update stale RESEARCH_WORKFLOW seeded test description
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
Due: none

refactor(tests): move composePromptLayer tests to custom-agent.test.ts; fix stale terminology
  packages/daemon/tests/unit/space/custom-agent.test.ts
  packages/daemon/tests/unit/space/space-runtime-completion.test.ts
Due: none

test: add end-node bypass, composePromptLayer, and orchestration auto-complete integration tests (#1249)
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
  packages/daemon/tests/online/space/space-edge-cases.test.ts
  packages/daemon/tests/online/space/space-happy-path-code-review.test.ts
  packages/daemon/tests/online/space/space-happy-path-full-pipeline.test.ts
  packages/daemon/tests/online/space/space-happy-path-plan-to-approve.test.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
  packages/daemon/tests/unit/space/space-runtime-completion.test.ts
  packages/daemon/tests/unit/space/task-agent-collaboration.test.ts
Due: none

perf(task-view): bundle session info into getGroup; remove header progress circle (#1248)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc/task-handlers.test.ts
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/task-shared/TaskHeader.tsx
  packages/web/src/components/room/task-shared/__tests__/TaskHeader.test.tsx
  packages/web/src/hooks/useTaskViewData.ts
Due: daemon, web, e2e-matrix

docs: revise plan — focus on packages/ui improvements only
  docs/plans/audit-neokaiui-against-tailwind-application-ui-v4-reference.md
Due: none

fix: address review feedback — Field data-disabled, headless philosophy, Stepper, CloseButton
  docs/plans/audit-neokaiui-against-tailwind-application-ui-v4-reference.md
Due: none

feat: add system prompts and instructions to preset agents and workflow nodes
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/seed-agents.test.ts
Due: daemon

fix: remove stale CloseButton crash references and Tailwind class in Avatar spec
  docs/plans/audit-neokaiui-against-tailwind-application-ui-v4-reference.md
Due: none

refactor: extract shared PR_READY_BASH_SCRIPT gate constant and add round-trip tests
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
Due: daemon

feat: add endNodeId to built-in workflow templates (#1241)
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/runtime/gate-script-executor.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
  packages/daemon/tests/online/space/space-happy-path-code-review.test.ts
  packages/daemon/tests/online/space/space-happy-path-full-pipeline.test.ts
  packages/daemon/tests/online/space/space-happy-path-plan-to-approve.test.ts
  packages/daemon/tests/online/space/space-happy-path-qa-completion.test.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
  packages/daemon/tests/unit/space/gate-script-executor.test.ts
  packages/daemon/tests/unit/space/seed-agents.test.ts
  packages/daemon/tests/unit/space/space-agent-tools.test.ts
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
  packages/e2e/tests/features/space-happy-path-pipeline.e2e.ts
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
Due: daemon, web, e2e-matrix

docs: audit @neokai/ui against Tailwind Application UI v4 reference (#1250)
  docs/plans/audit-neokaiui-against-tailwind-application-ui-v4-reference.md
Due: none

feat(ui): add Toast variant types, icon slot, and progress bar
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/mod.ts
  packages/ui/tests/toast.test.tsx
Due: none

docs(ui): update ToastDemo with variant, icon, and progress examples
  packages/ui/demo/sections/ToastDemo.tsx
Due: none

feat(ui): add Stepper compound component
  packages/ui/package.json
  packages/ui/src/components/stepper/stepper.tsx
  packages/ui/src/mod.ts
Due: none

feat(ui): improve existing component APIs
  packages/ui/src/components/field/field.tsx
  packages/ui/src/components/input-group/input-group.tsx
  packages/ui/src/components/input/input.tsx
  packages/ui/src/components/menu/menu.tsx
  packages/ui/src/mod.ts
  packages/ui/tests/field.test.tsx
  packages/ui/tests/input-group.test.tsx
  packages/ui/tests/menu.test.tsx
Due: none

fix(ui): include ToastProgress in Toaster auto-render when showProgress is true
  packages/ui/src/components/toast/toast.tsx
  packages/ui/tests/toast.test.tsx
Due: none

feat(ui): add Toast variant types, icon slot, and progress bar (#1252)
  packages/ui/demo/sections/ToastDemo.tsx
  packages/ui/src/components/toast/toast.tsx
  packages/ui/src/mod.ts
  packages/ui/tests/toast.test.tsx
Due: none

feat(ui): add ButtonGroup component
  packages/ui/src/components/button/button.tsx
  packages/ui/src/mod.ts
  packages/ui/tests/button.test.tsx
Due: none

feat(ui): add ButtonGroup component (#1256)
  packages/ui/src/components/button/button.tsx
  packages/ui/src/mod.ts
  packages/ui/tests/button.test.tsx
Due: none

feat(ui): add Avatar compound component
  packages/ui/src/components/avatar/avatar.tsx
  packages/ui/src/mod.ts
Due: none

feat(ui): add Alert, Badge, ProgressBar, Stepper headless components
  packages/ui/src/components/alert/alert.tsx
  packages/ui/src/components/badge/badge.tsx
  packages/ui/src/components/progress-bar/progress-bar.tsx
  packages/ui/src/components/stepper/stepper.tsx
  packages/ui/src/mod.ts
Due: none
