Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

docs(tests): precise cross-reference to setup.ts module-level comment
  packages/daemon/tests/unit/room/room-runtime-service-worker-mcp.test.ts
Due: none

docs(tests): clarify why createSdkMcpServer must remain mocked
  packages/daemon/tests/unit/room/room-runtime-service-worker-mcp.test.ts
  packages/daemon/tests/unit/setup.ts
Due: none

chore: pin claude-agent-sdk to 0.2.84 (#994)
  bun.lock
  packages/daemon/package.json
  packages/daemon/tests/unit/room/room-runtime-service-worker-mcp.test.ts
  packages/daemon/tests/unit/setup.ts
Due: none

fix(e2e): fix mobile/tablet responsive tests — wrong selectors and fragile timeouts
  packages/e2e/tests/helpers/mobile-helpers.ts
  packages/e2e/tests/responsive/mobile.e2e.ts
  packages/e2e/tests/responsive/tablet.e2e.ts
Due: none

fix(test): align worker-mcp SDK mock with setup.ts to prevent cross-test pollution
  packages/daemon/tests/unit/room/room-runtime-service-worker-mcp.test.ts
Due: none

fix: include archived tasks in tasks.byRoom LiveQuery for Archived tab (#997)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/storage/task-live-query-archived-filter.test.ts
Due: daemon

fix(e2e): fix mobile/tablet responsive test timeouts (#998)
  packages/daemon/tests/unit/room/room-runtime-service-worker-mcp.test.ts
  packages/e2e/tests/helpers/mobile-helpers.ts
  packages/e2e/tests/responsive/mobile.e2e.ts
  packages/e2e/tests/responsive/tablet.e2e.ts
Due: none

fix(e2e): update settings-modal assertions for 8-section nav layout
  packages/e2e/tests/settings/settings-modal.e2e.ts
Due: none

fix: restore scroll position synchronously after loading older messages
  packages/e2e/tests/features/task-message-pagination.e2e.ts
  packages/web/src/components/room/TaskConversationRenderer.tsx
  packages/web/src/hooks/__tests__/useAutoScroll.test.ts
  packages/web/src/hooks/useAutoScroll.ts
Due: web, e2e-matrix

fix(test): remove per-file SDK mock.module overrides that poison other tests
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
Due: none

fix(e2e): address review feedback on settings-modal assertions
  packages/e2e/tests/settings/settings-modal.e2e.ts
Due: none

fix(e2e): update multi-agent editor and settings modal tests for current UI
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
  packages/e2e/tests/settings/settings-modal.e2e.ts
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowCanvas.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/useConnectionDrag.test.tsx
Due: web, e2e-matrix

plan: space feature end-to-end happy path — single space, single task
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/01-enhanced-node-agent-prompts.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/02-extended-coding-workflow.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/03-node-agent-session-factory.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/04-qa-agent-node.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/05-human-gate-and-completion.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/06-online-integration-test.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/07-e2e-test.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/08-bug-fixes-and-hardening.md
Due: none

fix: address review feedback on scroll restoration
  packages/e2e/tests/features/task-message-pagination.e2e.ts
  packages/web/src/islands/ChatContainer.tsx
Due: web, e2e-matrix

fix(tests): resolve SDK module resolution in test-daemon
  Makefile
  packages/daemon/tests/helpers/default-sdk-mock.ts
  packages/daemon/tests/unit/providers/anthropic-provider.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/session/session-lifecycle-sdk-title.test.ts
  packages/daemon/tests/unit/setup.ts
Due: none

fix: restore scroll position synchronously after loading older messages (#1002)
  packages/e2e/tests/features/task-message-pagination.e2e.ts
  packages/web/src/components/room/TaskConversationRenderer.tsx
  packages/web/src/hooks/__tests__/useAutoScroll.test.ts
  packages/web/src/hooks/useAutoScroll.ts
  packages/web/src/islands/ChatContainer.tsx
Due: web, e2e-matrix

fix(e2e): update settings-modal assertions for 8-section nav layout (#1001)
  packages/e2e/tests/settings/settings-modal.e2e.ts
Due: none

fix(e2e): address review feedback on channel assertions
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
Due: none

fix(e2e): update channel form testids and scope for workflow-level channels
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
Due: none

fix(e2e): fix P2/P3 nits from code review
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
Due: none

fix(e2e): use role strings instead of display names in agent badge assertions
  packages/e2e/tests/features/space-agent-centric-workflow.e2e.ts
Due: none

fix(web): prevent addStep from double-firing in React StrictMode
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
Due: web, e2e-matrix

fix(e2e): update multi-agent editor and settings modal tests for current UI
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowCanvas.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/useConnectionDrag.test.tsx
Due: web, e2e-matrix

style: fix biome formatting in WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
Due: web, e2e-matrix

fix(tests): complete SDK mock and fix flaky goal-manager test
  packages/daemon/tests/unit/providers/anthropic-provider.test.ts
  packages/daemon/tests/unit/room/goal-manager.test.ts
  packages/daemon/tests/unit/session/session-lifecycle-sdk-title.test.ts
Due: none

plan: leader agent add complete_task(no_pr) capability
  docs/plans/leader-agent-add-createtask-capability.md
Due: none

fix(e2e): update multi-agent editor and settings modal tests for current UI (#1003)
  packages/e2e/tests/features/space-multi-agent-editor.e2e.ts
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowCanvas.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/useConnectionDrag.test.tsx
Due: web, e2e-matrix

plan: leader agent add complete_task(no_pr) capability (#993)
  docs/plans/leader-agent-add-createtask-capability.md
Due: none

fix: prevent addStep double-invocation and update agent-centric workflow tests
  packages/e2e/tests/features/space-agent-centric-workflow.e2e.ts
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
Due: web, e2e-matrix

fix(e2e): await add-step button visibility before clicking
  packages/e2e/tests/features/space-agent-centric-workflow.e2e.ts
Due: none

fix: address P0/P1 review feedback on space happy path plan
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/01-enhanced-node-agent-prompts.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/02-extended-coding-workflow.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/03-node-agent-session-factory.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/04-qa-agent-node.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/05-human-gate-and-completion.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/06-online-integration-test.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/07-e2e-test.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/08-bug-fixes-and-hardening.md
Due: none

plan: space feature end-to-end happy path — single space, single task, single workflow
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/01-enhanced-node-agent-prompts.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/02-extended-coding-workflow.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/03-node-agent-session-factory.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/04-qa-agent-node.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/05-human-gate-and-completion.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/06-online-integration-test.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/07-e2e-test.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/08-bug-fixes-and-hardening.md
Due: none

fix: address P0/P1 review feedback on space happy path plan
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/01-enhanced-node-agent-prompts.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/02-extended-coding-workflow.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/03-node-agent-session-factory.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/04-qa-agent-node.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/05-human-gate-and-completion.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/07-e2e-test.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/08-bug-fixes-and-hardening.md
Due: none

fix: address iteration 2 review feedback (P1/P2)
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/03-node-agent-session-factory.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/04-qa-agent-node.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/05-human-gate-and-completion.md
Due: none

fix: reconcile iteration cap status with M5 Task 5.1
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
Due: none

docs: revise space plan with gate+channel architecture
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/00-overview.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/01-enhanced-node-agent-prompts.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/01-gate-data-store.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/02-enhanced-node-agent-prompts.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/02-extended-coding-workflow.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/03-extended-coding-workflow.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/03-node-agent-session-factory.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/04-qa-agent-node.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/04-worktree-isolation.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/05-human-gate-and-completion.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/05-qa-agent-node.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/06-human-gate-canvas-ui.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/06-online-integration-test.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/07-e2e-test.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/07-online-integration-test.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/08-bug-fixes-and-hardening.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/08-e2e-test.md
  docs/plans/space-feature-end-to-end-happy-path-single-space-single-task/09-bug-fixes-and-hardening.md
Due: none
