Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

Remove untestable happy-path retry test that hangs in CI
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
Due: none

Scope sdk_messages live-query invalidation by session (#1771)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/storage/live-query.ts
  packages/daemon/src/storage/reactive-database.ts
  packages/daemon/tests/unit/4-space-storage/storage/scoped-invalidation.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/scoped-messages-integration.test.ts
Due: daemon

Retry SDK API requests on transient connection errors (#1762)
  packages/daemon/src/lib/agent/api-error-circuit-breaker.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/agent/transient-error-patterns.ts
  packages/daemon/tests/unit/1-core/agent/api-error-circuit-breaker.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
Due: daemon

Remove "Awaiting Approval" filter chip from tasks Action tab
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

Remove "Awaiting Approval" filter chip from tasks Action tab (#1773)
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

chore(release): bump version to 0.18.0
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(release): bump version to 0.18.0 (#1774)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(release): bump version to 0.16.0 (#1684)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

Fix model context windows for Codex and Copilot (#1683)
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/provider.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/server.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

Align space roster activity lines (#1687)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/web/src/components/sdk/tools/ToolIcon.tsx
  packages/web/src/components/sdk/tools/__tests__/ToolIcon.test.tsx
  packages/web/src/components/sdk/tools/__tests__/tool-registry.test.ts
  packages/web/src/components/sdk/tools/tool-registry.ts
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
  packages/web/src/components/space/thread/minimal/minimal-mock-data.ts
Due: daemon, web, e2e-matrix

Remove Brave Search MCP integration (#1685)
  CHANGELOG.md
  docs/architecture/skills-audit.md
  docs/e2e-health-check-log.md
  docs/features/skills.md
  docs/mcp-audit.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/00-overview.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/02-app-mcp-registry-backend.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/05-web-ui-mcp-registry.md
  docs/plans/comprehensive-mcp-support-review-and-external-mcp-integratio/06-planner-web-search.md
  docs/plans/comprehensive-skills-support-review-and-external-skills-inte/06-planner-websearch.md
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/space/task-agent-skills.test.ts
  packages/daemon/tests/unit/2-handlers/mcp/seed-defaults.test.ts
  packages/daemon/tests/unit/4-space-storage/builtins.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migration-108-remove-brave-search-mcp.test.ts
Due: daemon

Fix space task thread scroll padding (#1681)
  CLAUDE.md
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
Due: web, e2e-matrix

Make workflow task recovery workflow-aware (#1689)
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
  packages/shared/src/types/space-utils.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix(space): queue node-targeted task messages (#1671)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

Fix space_tasks migration rebuild schema preservation (#1686)
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-103_test.ts
Due: daemon

Fix Codex bridge context window usage (#1688)
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/model-context-windows.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/process-manager.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/translator.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/process-manager.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/translator.test.ts
Due: daemon

Disable Codex bridge SDK auto-compaction (#1693)
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
Due: daemon

Restrict node agent MCP tools (#1692)
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-autonomy.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

Runtime owns deterministic workflow routing (#1690)
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/runtime/escalation-reasons.ts
  packages/daemon/src/lib/space/runtime/post-approval-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-session-lifecycle.test.ts
  packages/daemon/tests/unit/5-space/runtime/post-approval-router.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-dispatch-post-approval.test.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
Due: daemon

Fix message type misclassification in unified thread view (#1697)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/web/src/components/space/__tests__/space-task-thread-events.test.ts
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
  packages/web/src/hooks/useSpaceTaskMessages.ts
Due: daemon, web, e2e-matrix

Enforce Space agent tool permissions (#1694)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-m1-mcp-leak.test.ts
  packages/daemon/tests/unit/5-space/agent/custom-agent.test.ts
Due: daemon

Fix stale SDK rewind resume recovery (#1691)
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/agent/rewind-handler.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/agent/rewind-handler.test.ts
  packages/daemon/tests/unit/1-core/core/sdk-session-file-manager.test.ts
  packages/shared/src/types.ts
Due: daemon

Fix Codex bridge subprocess crash retry (#1701)
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

Show task numbers in space task headers (#1700)
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

Fix Codex context usage normalization (#1698)
  packages/daemon/src/lib/agent/context-fetcher.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/1-core/agent/context-fetcher.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
  packages/web/src/components/ChatComposer.tsx
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/hooks/useModelSwitcher.ts
Due: daemon, web, e2e-matrix

Fix stuck MCP session: repair missing agent_session_id from sub-session id (#1699)
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/node-execution-repository.ts
  packages/daemon/tests/unit/4-space-storage/storage/node-execution-repository.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
Due: daemon

[codex] Fix Codex orphan tool continuation recovery (#1705)
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

Hard reset agent sessions on reset (#1703)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/event-subscription-setup.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/1-core/agent/event-subscription-setup.test.ts
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
Due: daemon

Prevent reviewer follow-up after terminal action (#1702)
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/tests/unit/5-space/other/seed-agents.test.ts
Due: daemon

Fix Codex MCP elicitation responses (#1707)
  packages/daemon/src/lib/providers/codex-anthropic-bridge/process-manager.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/process-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
Due: daemon

[codex] fix stale resumeSessionAt recovery (#1706)
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/core/sdk-session-file-manager.test.ts
Due: daemon

[codex] Fix first message after model switch (#1704)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/event-subscription-setup.ts
  packages/daemon/src/lib/agent/model-switch-handler.ts
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/agent/query-mode-handler.ts
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/tests/online/cross-provider/thinking-block-signatures.test.ts
  packages/daemon/tests/online/rpc/rpc-message-handlers.test.ts
  packages/daemon/tests/unit/1-core/agent/event-subscription-setup.test.ts
  packages/daemon/tests/unit/1-core/agent/model-switch-handler.test.ts
  packages/daemon/tests/unit/1-core/agent/model-switch-session-continuity.test.ts
  packages/daemon/tests/unit/1-core/agent/query-lifecycle-manager.test.ts
  packages/daemon/tests/unit/1-core/agent/query-mode-handler.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/server.test.ts
  packages/daemon/tests/unit/1-core/session/message-persistence.test.ts
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/reference-message-persistence.test.ts
  packages/web/src/components/ChatComposer.tsx
  packages/web/src/hooks/useSendMessage.ts
  packages/web/src/islands/ChatContainer.tsx
Due: daemon, web, e2e-matrix

Add OpenRouter provider support (#1713)
  README.md
  docs/providers/openrouter-setup.md
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/factory.ts
  packages/daemon/src/lib/providers/openrouter-provider.ts
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/tests/unit/1-core/core/provider-service.test.ts
  packages/daemon/tests/unit/1-core/providers/openrouter-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/provider-registry.test.ts
  packages/shared/src/types.ts
  packages/shared/src/types/settings.ts
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/hooks/useModelSwitcher.ts
Due: daemon, web, e2e-matrix

Mark timed-out queued messages failed (#1711)
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/tests/unit/1-core/agent/query-lifecycle-manager.test.ts
Due: daemon

[codex] Harden orphaned tool continuation recovery (#1708)
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/space/managers/node-execution-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/node-execution-repository.ts
  packages/daemon/src/storage/repositories/tool-continuation-recovery-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/1-core/lib/node-execution-manager.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/tool-continuation-recovery-repository.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
Due: daemon

[codex] Fix orphan continuation recovery edge cases (#1712)
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/tool-continuation-recovery-repository.ts
  packages/daemon/tests/unit/4-space-storage/storage/tool-continuation-recovery-repository.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

Fix Codex context window metadata (#1710)
  packages/daemon/src/lib/agent/context-fetcher.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/agent/sdk-runtime-config.ts
  packages/daemon/src/lib/model-service.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/model-context-windows.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/agent/context-fetcher.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/core/model-service.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/web/src/components/ChatComposer.tsx
  packages/web/src/components/ContextUsageBar.tsx
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/components/__tests__/ContextUsageBar.test.tsx
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/hooks/useModelSwitcher.ts
Due: daemon, web, e2e-matrix

[codex] Add searchable model picker and cap OpenRouter models (#1715)
  packages/daemon/src/lib/providers/openrouter-provider.ts
  packages/daemon/tests/unit/1-core/providers/openrouter-provider.test.ts
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/components/__tests__/SessionStatusBar.test.tsx
  packages/web/src/components/settings/FallbackModelsSettings.tsx
  packages/web/src/components/space/visual-editor/WorkflowModelSelect.tsx
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useModelSwitcher.ts
Due: daemon, web, e2e-matrix
