Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix: address review feedback on RoomContextPanel redesign plan
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/00-overview.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/01-room-store-computed-signals.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/02-router-room-agent-url.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/03-roomcontextpanel-redesign.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/04-room-integration.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/05-unit-tests.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/06-e2e-tests.md
Due: none

fix: replace fixed sleep with Playwright auto-retrying assertion in worktree-isolation E2E test (#557)
  packages/e2e/tests/features/worktree-isolation.e2e.ts
Due: none

fix: rewrite task-actions-dropdown E2E tests to match actual inline button UI (#558)
  packages/e2e/tests/features/task-actions-dropdown.e2e.ts
Due: none

fix: re-add session.updated subscription scoped to status changes only
  packages/web/src/lib/__tests__/room-store-session-events.test.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

fix: add max_iterations column to inline test DB schemas
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/rpc-handlers/space-export-import-handlers.test.ts
Due: none

fix: fix visual-workflow-editor E2E tests — space URL sync + navigateToSpace wait
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
  packages/e2e/tests/features/visual-workflow-editor.e2e.ts
  packages/web/src/App.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
Due: web, e2e-matrix

style: fix Biome formatting in ActionBar and HeaderReviewBar files
  packages/web/src/components/room/HeaderReviewBar.tsx
  packages/web/src/components/ui/__tests__/ActionBar.test.tsx
Due: web, e2e-matrix

Plan: Redesign RoomContextPanel goal-centric sidebar (#563)
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/00-overview.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/01-room-store-computed-signals.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/02-router-room-agent-url.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/03-roomcontextpanel-redesign.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/04-room-integration.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/05-unit-tests.md
  docs/plans/redesign-roomcontextpanel-goal-centric-sidebar-with-tasks-co/06-e2e-tests.md
Due: none

feat: add iteration tracking columns to DB and types (Task 2.1) (#564)
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/space/space-workflow.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-35-36_test.ts
  packages/daemon/tests/unit/storage/space-workflow-run-repository.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/lib/__tests__/space-store.test.ts
Due: daemon

fix: remove stale sessions from RoomContextPanel on session delete/update (#554)
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/rpc/session-handlers.test.ts
  packages/web/src/lib/__tests__/room-store-session-events.test.ts
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

fix: update space-creation E2E test assertions to match actual tabbed UI (#559)
  packages/e2e/tests/features/space-creation.e2e.ts
Due: none

feat: add ActionBar component and replace inline HeaderReviewBar in TaskView (Task 4.5) (#560)
  packages/web/src/components/room/HeaderReviewBar.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/ui/ActionBar.tsx
  packages/web/src/components/ui/__tests__/ActionBar.test.tsx
Due: web, e2e-matrix

feat: add CollapsibleSection component for sidebar sections
  packages/web/src/components/room/CollapsibleSection.test.tsx
  packages/web/src/components/room/CollapsibleSection.tsx
  packages/web/src/components/room/index.ts
Due: web, e2e-matrix

feat: propagate goalId through workflow task creation (Task 3.2)
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/storage/space-workflow-run-repository.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: wire goalId through all external entry points
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/tools/global-spaces-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/rpc-handlers/space-workflow-run-handlers.test.ts
Due: daemon

fix: add goal_id to MCP tool Zod schemas for start_workflow_run
  packages/daemon/src/lib/space/tools/global-spaces-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
Due: daemon

feat: add computed signals for goal-task grouping and orphan tasks
  packages/web/src/lib/__tests__/room-store-computed-signals.test.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

fix: address review feedback — P1 cleanup scope + P2 missing signal clears
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
  packages/e2e/tests/features/visual-workflow-editor.e2e.ts
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

feat: propagate goalId through workflow task creation (Task 3.2) (#565)
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/tools/global-spaces-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/rpc-handlers/space-workflow-run-handlers.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/storage/space-workflow-run-repository.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: address review feedback for CollapsibleSection
  packages/web/src/components/room/CollapsibleSection.test.tsx
  packages/web/src/components/room/CollapsibleSection.tsx
Due: web, e2e-matrix

feat: add task_result condition type and isCyclic to workflow transitions
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-38_test.ts
  packages/daemon/tests/unit/storage/space-workflow-repository-is-cyclic.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/WorkflowList.tsx
  packages/web/src/components/space/visual-editor/EdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/GateConfig.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
Due: daemon, web, e2e-matrix

fix: address review feedback — NULL mapping, Zod validation, UI expression input
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/daemon/tests/unit/storage/space-workflow-repository-is-cyclic.test.ts
  packages/web/src/components/space/visual-editor/EdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/GateConfig.tsx
Due: daemon, web, e2e-matrix

test: add EdgeConfigPanel tests for task_result, fix GateConfig JSDoc
  packages/web/src/components/space/visual-editor/GateConfig.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeConfigPanel.test.tsx
Due: web, e2e-matrix

fix: EdgeConfigPanel handleExpressionChange uses current condition type
  packages/web/src/components/space/visual-editor/EdgeConfigPanel.tsx
Due: web, e2e-matrix

fix: add is_cyclic column to space_workflow_transitions in export-import test schema
  packages/daemon/tests/unit/rpc-handlers/space-export-import-handlers.test.ts
Due: none

feat: add mobile BottomTabBar with iOS-style navigation (Task 4.6)
  packages/web/src/App.tsx
  packages/web/src/islands/BottomTabBar.tsx
  packages/web/src/islands/__tests__/BottomTabBar.test.tsx
  packages/web/src/styles.css
Due: web, e2e-matrix

fix: address review feedback on computed signals tests
  packages/web/src/lib/__tests__/room-store-computed-signals.test.ts
Due: none

feat: add task_result condition type and isCyclic to workflow transitions (#562)
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-38_test.ts
  packages/daemon/tests/unit/storage/space-workflow-repository-is-cyclic.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/WorkflowList.tsx
  packages/web/src/components/space/visual-editor/EdgeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/GateConfig.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/EdgeRenderer.test.tsx
Due: daemon, web, e2e-matrix

fix: fix visual-workflow-editor E2E tests — space URL sync + navigateToSpace wait (#567)
  packages/e2e/tests/features/space-workflow-rules.e2e.ts
  packages/e2e/tests/features/visual-workflow-editor.e2e.ts
  packages/web/src/App.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

test: add unit tests for goalId propagation and findByGoalId (Task 5.3)
  packages/daemon/tests/unit/space/space-task-findByGoalId.test.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: none

feat: add CollapsibleSection component for sidebar sections (#568)
  packages/web/src/components/room/CollapsibleSection.test.tsx
  packages/web/src/components/room/CollapsibleSection.tsx
  packages/web/src/components/room/index.ts
Due: web, e2e-matrix

feat: add /room/:roomId/agent route pattern and navigateToRoomAgent
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/lib/__tests__/room-agent-router.test.ts
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

fix: prevent App.tsx URL sync from overwriting /room/:roomId/agent route
  packages/web/src/App.tsx
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

feat: add Verify & Test step to Coding Workflow template
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
Due: daemon

fix: address review feedback on goalId test naming and flakiness
  packages/daemon/tests/unit/space/space-task-findByGoalId.test.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: none

feat: add /room/:roomId/agent route pattern and navigation (#570)
  packages/web/src/App.tsx
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/lib/__tests__/room-agent-router.test.ts
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

feat: add archived status to TaskStatus and SpaceTaskStatus unions
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
  packages/daemon/tests/unit/space/global-spaces-tools.test.ts
  packages/daemon/tests/unit/space/space-agent-tools.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-34_test.ts
  packages/daemon/tests/unit/storage/task-repository.test.ts
  packages/shared/src/types/neo.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: daemon, web, e2e-matrix

fix: address PR #566 review feedback (P0-P2)
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/lib/space-task-manager.test.ts
Due: daemon

fix: address PR #566 review round 2 (P1/P2 items)
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/tests/unit/storage/space-task-repository.test.ts
  packages/daemon/tests/unit/storage/task-repository.test.ts
  packages/shared/src/types/neo.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: remove contradictory archived filter in listByStatus, add archived badge to GoalsEditor
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/web/src/components/room/GoalsEditor.tsx
Due: daemon, web, e2e-matrix
