Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

update
  packages/e2e/tests/features/slash-cmd.e2e.ts
  packages/web/src/hooks/useCommandAutocomplete.ts
Due: web, e2e-matrix

test: update web tests for UI changes
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
  packages/web/src/islands/__tests__/NavRail.test.tsx
Due: none

test: remove outdated context tracker test from integration tests
  packages/daemon/tests/integration/components/sdk-message-handler.test.ts
Due: none

test: add context persistence E2E test and fix missing import
  packages/e2e/tests/core/context-features.e2e.ts
Due: none

fix: clear ANTHROPIC_AUTH_TOKEN when switching to Anthropic provider
  packages/daemon/src/lib/provider-service.ts
Due: daemon

test: skip online tests when no Anthropic credentials available
  packages/daemon/tests/online/agent/context-command.test.ts
  packages/daemon/tests/online/providers/model-switch-system-init.test.ts
Due: none

feat(daemon): add persisted steering delivery queue
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/message-recovery-handler.ts
  packages/daemon/src/lib/agent/query-mode-handler.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/tests/helpers/daemon-actions.ts
  packages/daemon/tests/integration/database/message-query-modes.test.ts
  packages/daemon/tests/online/features/message-delivery-mode-queue.test.ts
  packages/daemon/tests/unit/agent/message-recovery-handler.test.ts
  packages/daemon/tests/unit/agent/query-mode-handler.test.ts
  packages/daemon/tests/unit/agent/query-runner.test.ts
  packages/daemon/tests/unit/agent/sdk-message-handler.test.ts
  packages/daemon/tests/unit/rpc/session-handlers.test.ts
  packages/daemon/tests/unit/session/message-persistence.test.ts
  packages/daemon/tests/unit/storage/sdk-message-repository.test.ts
  packages/shared/src/types.ts
Due: daemon

feat(web): add steering queue composer and layout
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/__tests__/InputTextarea.test.tsx
  packages/web/src/components/__tests__/MessageInput.queue-mode.test.tsx
  packages/web/src/hooks/__tests__/useSendMessage.test.ts
  packages/web/src/hooks/useSendMessage.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/__tests__/layout-metrics.test.ts
  packages/web/src/lib/layout-metrics.ts
Due: web, e2e-matrix

feat: introduce session_groups architecture replacing task_pairs
  packages/daemon/src/lib/room/session-group-repository.ts
  packages/daemon/src/lib/room/task-pair-repository.ts
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime.test.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-pair-manager.test.ts
  packages/daemon/tests/unit/room/task-pair-repository.test.ts
  packages/shared/src/types.ts
  packages/shared/src/types/neo.ts
Due: daemon

refactor(room): rename pair → group throughout room runtime
  packages/daemon/src/lib/room/conversation-session.ts
  packages/daemon/src/lib/room/craft-agent.ts
  packages/daemon/src/lib/room/goal-manager.ts
  packages/daemon/src/lib/room/lead-agent.ts
  packages/daemon/src/lib/room/room-agent-tools.ts
  packages/daemon/src/lib/room/room-runtime-service.ts
  packages/daemon/src/lib/room/room-runtime.ts
  packages/daemon/src/lib/room/runtime-recovery.ts
  packages/daemon/src/lib/room/session-group-repository.ts
  packages/daemon/src/lib/room/task-group-manager.ts
  packages/daemon/src/lib/room/task-message-queue.ts
  packages/daemon/src/lib/room/turn-tracker.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/shared/src/types.ts
  packages/shared/src/types/neo.ts
Due: daemon

feat(web): update task view to use session group messages
  packages/web/src/components/room/TaskConversationRenderer.tsx
  packages/web/src/components/room/TaskView.tsx
Due: web, e2e-matrix

feat(daemon): implement room runtime with multi-agent task execution
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/room/conversation-session.ts
  packages/daemon/src/lib/room/goal-manager.ts
  packages/daemon/src/lib/room/planning-craft-agent.ts
  packages/daemon/src/lib/room/room-agent-tools.ts
  packages/daemon/src/lib/room/room-runtime-service.ts
  packages/daemon/src/lib/room/room-runtime.ts
  packages/daemon/src/lib/room/runtime-recovery.ts
  packages/daemon/src/lib/room/task-manager.ts
  packages/daemon/src/lib/room/task-pair-manager.ts
  packages/daemon/src/lib/room/turn-tracker.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/message-handlers.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/lib/state-manager.ts
Due: daemon

docs: update room runtime spec to reflect session groups design
  docs/design/room-runtime-spec.md
Due: none

feat(web): add room task management and conversation UI
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/components/room/TaskConversationRenderer.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

feat(web): update task UI for multi-agent roles
  packages/web/src/components/room/TaskConversationRenderer.tsx
  packages/web/src/components/room/TaskView.tsx
Due: web, e2e-matrix

refactor(room): rename craft/lead → worker/leader throughout runtime
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/room/message-routing.ts
  packages/daemon/src/lib/room/room-runtime-service.ts
  packages/daemon/src/lib/room/room-runtime.ts
  packages/daemon/src/lib/room/runtime-recovery.ts
  packages/daemon/src/lib/room/session-group-repository.ts
  packages/daemon/src/lib/room/task-group-manager.ts
  packages/daemon/src/lib/room/task-message-queue.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
Due: daemon

feat(room): add specialized agent factories — coder, planner, leader, general
  packages/daemon/src/lib/room/coder-agent.ts
  packages/daemon/src/lib/room/general-agent.ts
  packages/daemon/src/lib/room/leader-agent.ts
  packages/daemon/src/lib/room/planner-agent.ts
Due: daemon

fix(web): clear task signal when navigating back from task view
  packages/web/src/App.tsx
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

feat(room): add multi-agent foundation — DB migration, types, task manager
  packages/daemon/src/lib/room/task-manager.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/shared/src/types.ts
  packages/shared/src/types/neo.ts
Due: daemon

test(room): update tests for pair → group rename
  packages/daemon/tests/unit/room/lead-agent.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime.test.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/daemon/tests/unit/room/task-message-queue.test.ts
Due: none

chore(room): delete old agent files replaced by multi-agent system
  packages/daemon/src/lib/room/craft-agent.ts
  packages/daemon/src/lib/room/lead-agent.ts
  packages/daemon/src/lib/room/planning-craft-agent.ts
  packages/daemon/src/lib/room/turn-tracker.ts
  packages/daemon/tests/unit/room/craft-agent.test.ts
  packages/daemon/tests/unit/room/lead-agent.test.ts
Due: daemon

test(room): update tests for multi-agent rename
  packages/daemon/tests/unit/room/coder-agent.test.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
  packages/daemon/tests/unit/room/message-routing.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime.test.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/daemon/tests/unit/room/task-message-queue.test.ts
Due: none

test: fix 35 unit test failures from multi-agent runtime refactor
  packages/daemon/tests/unit/agent/context-fetcher.test.ts
  packages/daemon/tests/unit/agent/sdk-message-handler.test.ts
  packages/daemon/tests/unit/storage/task-repository.test.ts
Due: none

test: fix stale tests after NavRail/ContextPanel UI refactor
  packages/daemon/tests/integration/components/sdk-message-handler.test.ts
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
  packages/web/src/islands/__tests__/NavRail.test.tsx
Due: none

test: fix context-command online test for new source value
  packages/daemon/tests/online/agent/context-command.test.ts
Due: none

chore: fix biome formatting in context-command test
  packages/daemon/tests/online/agent/context-command.test.ts
Due: none

fix: resolve CI failures in sdk-message-handler tests and biome format
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/integration/components/sdk-message-handler.test.ts
  packages/daemon/tests/unit/agent/query-mode-handler.test.ts
  packages/daemon/tests/unit/agent/sdk-message-handler.test.ts
  packages/web/src/components/MessageInput.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/__tests__/layout-metrics.test.ts
Due: daemon, web, e2e-matrix

fix: resolve CI failures in sdk-message-handler tests and biome format (#158)
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/integration/components/sdk-message-handler.test.ts
  packages/daemon/tests/unit/agent/query-mode-handler.test.ts
  packages/daemon/tests/unit/agent/sdk-message-handler.test.ts
  packages/web/src/components/MessageInput.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/__tests__/layout-metrics.test.ts
Due: daemon, web, e2e-matrix

refactor: consolidate room migrations 25–36 into single cleanup migration
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

test: remove stale room-persistence test
  packages/daemon/tests/unit/storage/database-core.test.ts
Due: none

ci: temporarily disable Coveralls finalization and coverage gate
  .github/workflows/main.yml
Due: none

refactor: consolidate room migrations 25–36 into single cleanup migration (#159)
  .github/workflows/main.yml
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/database-core.test.ts
Due: daemon

refactor: make SessionObserver a stateless terminal-state relay
  packages/daemon/src/lib/room/session-observer.ts
  packages/daemon/tests/unit/room/session-observer.test.ts
Due: daemon

fix: change session_group_members PK from (group_id, role) to (group_id, session_id)
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime.test.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: none

feat: add mid-execution replanning when a task fails
  packages/daemon/src/lib/room/planner-agent.ts
  packages/daemon/src/lib/room/room-runtime.ts
  packages/daemon/src/lib/room/runtime-recovery.ts
  packages/daemon/src/lib/room/session-group-repository.ts
  packages/daemon/src/lib/room/task-manager.ts
Due: daemon

feat: use raw terminal state in envelopes and add answerQuestion to SessionFactory
  packages/daemon/src/lib/room/leader-agent.ts
  packages/daemon/src/lib/room/message-routing.ts
  packages/daemon/src/lib/room/room-runtime-service.ts
  packages/daemon/src/lib/room/task-group-manager.ts
  packages/daemon/tests/unit/room/message-routing.test.ts
Due: daemon

fix: exclude planning tasks from replan completed-tasks context
  packages/daemon/src/lib/room/room-runtime.ts
Due: daemon

feat: add replan_goal as explicit leader tool for mid-execution replanning
  packages/daemon/src/lib/room/leader-agent.ts
  packages/daemon/src/lib/room/room-runtime.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

refactor: split room-runtime tests into logical files
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/room/room-runtime-leader-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/room-runtime.test.ts
Due: none

test: use realistic goal descriptions in online multi-agent flow tests
  packages/daemon/tests/online/room/room-multi-agent-flow.test.ts
Due: none
