Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

Restrict node agent MCP tools (#1692)
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-autonomy.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

Disable Codex bridge SDK auto-compaction
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
Due: daemon

Disable Codex bridge SDK auto-compaction (#1693)
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
Due: daemon

Enforce Space agent tool permissions
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-m1-mcp-leak.test.ts
  packages/daemon/tests/unit/5-space/agent/custom-agent.test.ts
Due: daemon

Carry compacted SDK summary into retry
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/core/sdk-session-file-manager.test.ts
  packages/shared/src/types.ts
Due: daemon

Fix stale SDK rewind resume recovery
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/agent/rewind-handler.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/agent/rewind-handler.test.ts
  packages/daemon/tests/unit/1-core/core/sdk-session-file-manager.test.ts
Due: daemon

feat: harden task automation runtime
  packages/daemon/src/lib/automation/automation-condition-evaluator.ts
  packages/daemon/src/lib/automation/automation-manager.ts
  packages/daemon/src/lib/automation/automation-scheduler.ts
  packages/daemon/src/lib/automation/automation-target-launchers.ts
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/rpc-handlers/automation-handlers.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/storage/repositories/automation-repository.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/2-handlers/rpc/task-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/automation-repository.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/automation-scheduler.test.ts
  packages/e2e/tests/features/automation-runtime.e2e.ts
  packages/shared/src/types/automation.ts
  packages/shared/src/types/neo.ts
  packages/web/src/components/room/AutomationPanel.tsx
  packages/web/src/components/room/MissionDetail.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/room/TaskViewV2.test.tsx
  packages/web/src/components/room/TaskViewV2.tsx
  packages/web/src/components/room/__tests__/MissionDetail.test.tsx
  packages/web/src/components/room/task-shared/TaskNoGroupState.tsx
  packages/web/src/components/space/__tests__/SpaceAutomationPanel.test.tsx
  packages/web/src/hooks/useTaskViewData.ts
  packages/web/src/lib/automation-store.test.ts
  packages/web/src/lib/automation-store.ts
  packages/web/src/lib/lobby-store.test.ts
  packages/web/src/lib/lobby-store.ts
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

Fix stale SDK rewind resume recovery (#1691)
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/agent/rewind-handler.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
  packages/daemon/tests/unit/1-core/agent/rewind-handler.test.ts
  packages/daemon/tests/unit/1-core/core/sdk-session-file-manager.test.ts
  packages/shared/src/types.ts
Due: daemon

Enforce Space agent tool permissions (#1694)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-m1-mcp-leak.test.ts
  packages/daemon/tests/unit/5-space/agent/custom-agent.test.ts
Due: daemon

Fix message type misclassification in unified thread view
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/web/src/components/space/thread/space-task-thread-events.ts
  packages/web/src/hooks/useSpaceTaskMessages.ts
Due: daemon, web, e2e-matrix

Complete message origin classification fix
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/web/src/components/space/__tests__/space-task-thread-events.test.ts
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
Due: daemon

Fix message type misclassification in unified thread view (#1697)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/web/src/components/space/__tests__/space-task-thread-events.test.ts
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
  packages/web/src/hooks/useSpaceTaskMessages.ts
Due: daemon, web, e2e-matrix

Fix Codex bridge persistent turn usage estimates
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

Fix Codex context usage normalization
  packages/daemon/src/lib/agent/context-fetcher.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/1-core/agent/context-fetcher.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
  packages/web/src/components/ChatComposer.tsx
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/hooks/useModelSwitcher.ts
Due: daemon, web, e2e-matrix

Fix Codex context usage normalization (#1698)
  packages/daemon/src/lib/agent/context-fetcher.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/1-core/agent/context-fetcher.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
  packages/web/src/components/ChatComposer.tsx
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/hooks/useModelSwitcher.ts
Due: daemon, web, e2e-matrix

Fix stuck MCP session: repair missing agent_session_id from sub-session id
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/node-execution-repository.ts
  packages/daemon/tests/unit/4-space-storage/storage/node-execution-repository.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
Due: daemon

Fix stuck MCP session: repair missing agent_session_id from sub-session id (#1699)
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/node-execution-repository.ts
  packages/daemon/tests/unit/4-space-storage/storage/node-execution-repository.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
Due: daemon

Show task numbers in space task headers
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

Fix Codex bridge subprocess crash retry
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

Show task numbers in space task headers (#1700)
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

Prevent reviewer follow-up after terminal action
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/tests/unit/5-space/other/seed-agents.test.ts
Due: daemon

Fix Codex bridge retry session reservation
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

Hard reset agent sessions on reset
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
Due: daemon

Fix Codex bridge subprocess crash retry (#1701)
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

Address hard reset review feedback
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/event-subscription-setup.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/1-core/agent/event-subscription-setup.test.ts
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
Due: daemon

Use agent-agnostic terminal action warning
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/tests/unit/5-space/other/seed-agents.test.ts
Due: daemon

Hard reset agent sessions on reset (#1703)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/event-subscription-setup.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/1-core/agent/event-subscription-setup.test.ts
  packages/daemon/tests/unit/1-core/session/session-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
Due: daemon

Prevent reviewer follow-up after terminal action (#1702)
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/tests/unit/5-space/other/seed-agents.test.ts
Due: daemon

Fix first message after model switch
  packages/daemon/src/lib/agent/event-subscription-setup.ts
  packages/daemon/src/lib/agent/model-switch-handler.ts
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/tests/unit/1-core/agent/event-subscription-setup.test.ts
  packages/daemon/tests/unit/1-core/agent/model-switch-handler.test.ts
  packages/daemon/tests/unit/1-core/agent/query-lifecycle-manager.test.ts
  packages/daemon/tests/unit/1-core/session/message-persistence.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/reference-message-persistence.test.ts
  packages/web/src/components/ChatComposer.tsx
  packages/web/src/hooks/useSendMessage.ts
  packages/web/src/islands/ChatContainer.tsx
Due: daemon, web, e2e-matrix

Fix Codex orphan tool continuation recovery
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

Fix message send acknowledgement boundary
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/1-core/agent/query-lifecycle-manager.test.ts
  packages/daemon/tests/unit/1-core/session/message-persistence.test.ts
Due: daemon

Stabilize online message test workspaces
  packages/daemon/tests/online/cross-provider/thinking-block-signatures.test.ts
  packages/daemon/tests/online/rpc/rpc-message-handlers.test.ts
Due: none

fix stale resume session recovery
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
Due: daemon

Tighten Codex orphan continuation cleanup
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

[codex] Fix Codex orphan tool continuation recovery (#1705)
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

Fix Codex MCP elicitation responses
  packages/daemon/src/lib/providers/codex-anthropic-bridge/process-manager.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/process-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
Due: daemon

Improve stale resume checkpoint recovery
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/agent/query-runner.test.ts
Due: daemon

Address query startup review feedback
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/model-switch-handler.ts
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/1-core/agent/model-switch-handler.test.ts
  packages/daemon/tests/unit/1-core/agent/model-switch-session-continuity.test.ts
  packages/daemon/tests/unit/1-core/agent/query-lifecycle-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
Due: daemon

Fix Codex MCP elicitation responses (#1707)
  packages/daemon/src/lib/providers/codex-anthropic-bridge/process-manager.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/process-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
