Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix: switch PR poll script from REST to GraphQL API for all unresolved threads
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
Due: daemon

fix: use comments(last:1) to fetch newest comment per review thread
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
Due: daemon

Add Google OAuth account management UI to provider settings
  packages/daemon/src/lib/rpc-handlers/auth-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/gemini-auth-handlers.test.ts
  packages/shared/src/provider/auth-types.ts
  packages/shared/src/provider/index.ts
  packages/web/src/components/settings/AddGoogleAccountModal.tsx
  packages/web/src/components/settings/GeminiAccountsPanel.tsx
  packages/web/src/components/settings/ProvidersSettings.tsx
  packages/web/src/components/settings/__tests__/GeminiAccountsPanel.test.tsx
  packages/web/src/lib/api-helpers.ts
Due: daemon, web, e2e-matrix

Address review feedback: TTL, flowId field, rotation sync, duplicate check
  packages/daemon/src/lib/rpc-handlers/auth-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/gemini-auth-handlers.test.ts
  packages/shared/src/provider/auth-types.ts
  packages/web/src/components/settings/AddGoogleAccountModal.tsx
  packages/web/src/components/settings/GeminiAccountsPanel.tsx
  packages/web/src/components/settings/ProvidersSettings.tsx
  packages/web/src/components/settings/__tests__/GeminiAccountsPanel.test.tsx
Due: daemon, web, e2e-matrix

Add gate poll mechanism for periodic script execution and node message injection (#1778)
  packages/daemon/src/lib/space/runtime/gate-evaluator.ts
  packages/daemon/src/lib/space/runtime/gate-poll-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/other/gate-evaluator.test.ts
  packages/daemon/tests/unit/5-space/other/gate-poll-manager.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/visual-editor/GateEditorPanel.tsx
Due: daemon, web, e2e-matrix

Refactor template hash to use exhaustive JSON serialization and include gate poll
  packages/daemon/src/lib/space/workflows/template-hash.ts
  packages/daemon/tests/unit/5-space/workflow/template-hash.test.ts
Due: daemon

Canonicalize gate field ordering and check key serialization
  packages/daemon/src/lib/space/workflows/template-hash.ts
  packages/daemon/tests/unit/5-space/workflow/template-hash.test.ts
Due: daemon

Hash full scripts and normalize single-target channel to
  packages/daemon/src/lib/space/workflows/template-hash.ts
  packages/daemon/tests/unit/5-space/workflow/template-hash.test.ts
Due: daemon

Use locale-independent comparator for gate field sorting
  packages/daemon/src/lib/space/workflows/template-hash.ts
Due: daemon

Add total-order comparator for gate field sorting with tie-breaking
  packages/daemon/src/lib/space/workflows/template-hash.ts
  packages/daemon/tests/unit/5-space/workflow/template-hash.test.ts
Due: daemon

Fix template hash to include gate poll and prevent future drift (#1780)
  packages/daemon/src/lib/space/workflows/template-hash.ts
  packages/daemon/tests/unit/5-space/workflow/template-hash.test.ts
Due: daemon

Enable mid-run pickup of gate poll config changes
  packages/daemon/src/lib/space/runtime/gate-poll-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/other/gate-poll-manager.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
Due: daemon

Fix two bugs in mid-run poll refresh found by review
  packages/daemon/src/lib/space/runtime/gate-poll-manager.ts
  packages/daemon/tests/unit/5-space/other/gate-poll-manager.test.ts
Due: daemon

Add default model picker to Space Settings and Task Agent editor
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/storage/repositories/space-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceAgentList.tsx
  packages/web/src/components/space/SpaceSettings.tsx
  packages/web/src/components/space/__tests__/SpaceAgentList.test.tsx
  packages/web/src/components/space/__tests__/SpaceSettings.test.tsx
Due: daemon, web, e2e-matrix

Store scriptContext in runContexts for empty-run poll additions
  packages/daemon/src/lib/space/runtime/gate-poll-manager.ts
  packages/daemon/tests/unit/5-space/other/gate-poll-manager.test.ts
Due: daemon

Fix taskAgentConfig persistence in createSpace and updateSpace
  packages/daemon/src/storage/repositories/space-repository.ts
Due: daemon

fix: always update targetNodeId on refresh, even without config change
  packages/daemon/src/lib/space/runtime/gate-poll-manager.ts
  packages/daemon/tests/unit/5-space/other/gate-poll-manager.test.ts
Due: daemon

Apply space.update RPC response directly to store on save/reset
  packages/web/src/components/space/SpaceAgentList.tsx
  packages/web/src/components/space/SpaceSettings.tsx
Due: web, e2e-matrix

Enable mid-run pickup of gate poll config changes (#1781)
  packages/daemon/src/lib/space/runtime/gate-poll-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/other/gate-poll-manager.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
Due: daemon

Add task_agent_config column to inline test schemas
  packages/daemon/tests/unit/5-space/runtime/space-slug.test.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
Due: none

Add default model picker to Space Settings + Task Agent editor (#1782)
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/storage/repositories/space-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/5-space/runtime/space-slug.test.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceAgentList.tsx
  packages/web/src/components/space/SpaceSettings.tsx
  packages/web/src/components/space/__tests__/SpaceAgentList.test.tsx
  packages/web/src/components/space/__tests__/SpaceSettings.test.tsx
Due: daemon, web, e2e-matrix

Fix gate poll rehydration after daemon restart
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-rehydration.test.ts
Due: daemon

Keep gate polls alive for recoverable runs
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-rehydration.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
Due: daemon

Prevent duplicate gate poll timers
  packages/daemon/src/lib/space/runtime/space-runtime.ts
Due: daemon

Use latest workflow config for poll recovery
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
Due: daemon

Fix gate poll rehydration after restart (#1783)
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-rehydration.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
Due: daemon

Fix PR comment gate poll rehydration
  packages/daemon/src/lib/space/runtime/gate-poll-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-rehydration.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: daemon

Fix PR comment poll GraphQL query quoting
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: daemon

Test poll PR URL fallback behavior
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-rehydration.test.ts
Due: daemon

Stop orphaned polls when workflow lookup fails
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-rehydration.test.ts
Due: daemon

Skip cancelled sessions in gate poll fallback
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-rehydration.test.ts
Due: daemon

Fix PR comment gate poll notifications (#1784)
  packages/daemon/src/lib/space/runtime/gate-poll-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-rehydration.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: daemon

Address review feedback on event bus design doc
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Design: external event bus for Space workflow nodes
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Fix inline review feedback on event bus design
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Fix dedup cleanup to use suffix match on run ID
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Use upstream dedupeKey in adapter to preserve event identity
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Fix third round review feedback on event bus design
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Fix second round review feedback on event bus design
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address review: scope task matching to task and allow segment-local globs
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none
