Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix: keep editor mounted when refreshing same workflow in SpaceConfigurePage
  packages/web/src/components/space/SpaceConfigurePage.tsx
Due: web, e2e-matrix

test: add workflowVersions to TaskArtifactsPanel.test.tsx mocks
  packages/web/src/components/space/__tests__/TaskArtifactsPanel.test.tsx
Due: none

feat: add SpaceWorkflowSummary and listWorkflowSummaries to reduce payload size (#1840)
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-handlers.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-handlers.test.ts
  packages/e2e/tests/features/space-happy-path-pipeline.e2e.ts
  packages/shared/src/space/workflow-autonomy.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/AutonomyWorkflowSummary.tsx
  packages/web/src/components/space/SpaceAgentList.tsx
  packages/web/src/components/space/SpaceConfigurePage.tsx
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/WorkflowList.tsx
  packages/web/src/components/space/__tests__/PendingGateBanner.test.tsx
  packages/web/src/components/space/__tests__/ReadOnlyWorkflowCanvas.test.tsx
  packages/web/src/components/space/__tests__/SpaceAgentList.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.images.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.mention.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/TaskArtifactsPanel.test.tsx
  packages/web/src/components/space/__tests__/WorkflowList.test.tsx
  packages/web/src/components/space/__tests__/useRuntimeCanvasData.test.tsx
  packages/web/src/components/space/use-run-gate-summaries.ts
  packages/web/src/components/space/useRuntimeCanvasData.ts
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix: sync textarea height before auto-scroll to prevent message hiding behind composer
  packages/web/src/components/InputTextarea.tsx
Due: web, e2e-matrix

test: add regression tests for InputTextarea synchronous auto-resize
  packages/web/src/components/__tests__/InputTextarea.test.tsx
Due: none

fix: sync textarea height before auto-scroll (#1836)
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/__tests__/InputTextarea.test.tsx
Due: web, e2e-matrix

fix: address PR review feedback for ExternalEventService and task resolver
  packages/daemon/src/lib/external-events/external-event-service.ts
  packages/daemon/src/lib/external-events/external-event-store.ts
  packages/daemon/src/lib/external-events/external-event-task-resolver.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-store.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-task-resolver.test.ts
Due: daemon

feat: implement ExternalEventService and ExternalEventTaskResolver
  packages/daemon/src/lib/external-events/external-event-service.ts
  packages/daemon/src/lib/external-events/external-event-store.ts
  packages/daemon/src/lib/external-events/external-event-task-resolver.ts
  packages/daemon/src/lib/external-events/index.ts
  packages/daemon/src/lib/internal-event-bus.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-task-resolver.test.ts
Due: daemon

fix: address round-3 review feedback for ExternalEventService and task resolver
  packages/daemon/src/lib/external-events/external-event-service.ts
  packages/daemon/src/lib/external-events/external-event-task-resolver.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-task-resolver.test.ts
Due: daemon

fix: address round-2 review feedback for ExternalEventService and task resolver
  packages/daemon/src/lib/external-events/external-event-service.ts
  packages/daemon/src/lib/external-events/external-event-task-resolver.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-task-resolver.test.ts
Due: daemon

fix: address round-4 review feedback for ExternalEventService and task resolver
  packages/daemon/src/lib/external-events/external-event-service.ts
  packages/daemon/src/lib/external-events/external-event-task-resolver.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-task-resolver.test.ts
Due: daemon

fix: address round-6 review feedback for ExternalEventService and task resolver
  packages/daemon/src/lib/external-events/external-event-service.ts
  packages/daemon/src/lib/external-events/external-event-task-resolver.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-task-resolver.test.ts
Due: daemon

fix: address round-5 review feedback for ExternalEventService and task resolver
  packages/daemon/src/lib/external-events/external-event-service.ts
  packages/daemon/src/lib/external-events/external-event-task-resolver.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-task-resolver.test.ts
Due: daemon

refactor: simplify external event architecture — remove task coupling
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
  packages/daemon/src/lib/external-events/external-event-service.ts
  packages/daemon/src/lib/external-events/external-event-store.ts
  packages/daemon/src/lib/external-events/external-event-task-resolver.ts
  packages/daemon/src/lib/external-events/index.ts
  packages/daemon/src/lib/external-events/types.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-store.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-task-resolver.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
Due: daemon

fix: address migration 124 safety review feedback
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-124_test.ts
Due: daemon

fix: address round-7 review feedback — bus payload completeness and malformed JSON guard
  packages/daemon/src/lib/external-events/external-event-service.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-124_test.ts
Due: daemon

fix: address round-8 review feedback — canonical payload, FK restore, payload preference, routedTaskId
  packages/daemon/src/lib/external-events/external-event-service.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-124_test.ts
Due: daemon

refactor: remove all task coupling from design doc, migration, and task description
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-124_test.ts
Due: daemon

docs: remove remaining 'task' scope references from design doc
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

fix: address round-10 review feedback — JSON root coercion, crash recovery
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-124_test.ts
Due: daemon

fix: address round-11 review feedback — crash recovery with M123, routedTaskId backfill
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-124_test.ts
Due: daemon

fix: revert unrelated migration 108 catch block formatting change
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

docs: remove ExternalEventRouter from design — pipeline is a dumb pipe
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
  packages/daemon/src/lib/external-events/external-event-service.ts
  packages/daemon/src/lib/external-events/external-event-store.ts
  packages/daemon/src/lib/external-events/index.ts
Due: daemon

fix: remove stale scope/router references from code comments
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
  packages/daemon/src/lib/external-events/external-event-store.ts
  packages/daemon/src/lib/external-events/topic-validator.ts
Due: daemon

feat: add recurring and scheduled task support via TaskSchedule
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/app.ts
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/job-handlers/task-schedule-fire.handler.ts
  packages/daemon/src/lib/job-queue-constants.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/task-schedule-handlers.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/schedule/cron-utils.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/task-schedule-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/db-query/scope-config.test.ts
  packages/daemon/tests/unit/2-handlers/job-handlers/task-schedule-fire.handler.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/task-schedule-repository.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix(space): address review feedback on TaskSchedule PR
  packages/daemon/src/app.ts
  packages/daemon/src/lib/job-handlers/task-schedule-fire.handler.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/task-schedule-handlers.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/schedule/schedule-service.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/2-handlers/job-handlers/task-schedule-fire.handler.test.ts
  packages/daemon/tests/unit/4-space-storage/schedule-service.test.ts
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
  packages/web/src/lib/router.ts
Due: daemon, web, e2e-matrix

fix(space): second-pass review fixes for TaskSchedule PR
  packages/daemon/src/app.ts
  packages/daemon/src/lib/job-handlers/task-schedule-fire.handler.ts
  packages/daemon/src/lib/rpc-handlers/task-schedule-handlers.ts
  packages/daemon/src/lib/space/schedule/schedule-service.ts
  packages/daemon/src/storage/repositories/task-schedule-repository.ts
  packages/daemon/tests/unit/2-handlers/job-handlers/task-schedule-fire.handler.test.ts
  packages/daemon/tests/unit/4-space-storage/schedule-service.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix(web): include scheduled in getSpaceTasksTabFromPath return type
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

fix: address round-3 review feedback for TaskSchedule
  packages/daemon/src/lib/job-handlers/task-schedule-fire.handler.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/managers/space-manager.ts
  packages/daemon/src/lib/space/schedule/schedule-service.ts
  packages/daemon/src/storage/repositories/task-schedule-repository.ts
  packages/daemon/tests/unit/2-handlers/job-handlers/task-schedule-fire.handler.test.ts
  packages/daemon/tests/unit/4-space-storage/schedule-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/task-schedule-repository.test.ts
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/lib/space-store.ts
  packages/web/src/lib/utils.ts
Due: daemon, web, e2e-matrix

refactor: simplify external event architecture — remove task coupling (#1833)
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
  packages/daemon/src/lib/external-events/external-event-service.ts
  packages/daemon/src/lib/external-events/external-event-store.ts
  packages/daemon/src/lib/external-events/index.ts
  packages/daemon/src/lib/external-events/topic-validator.ts
  packages/daemon/src/lib/external-events/types.ts
  packages/daemon/src/lib/internal-event-bus.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/external-event-store.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-124_test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
Due: daemon

fix: address round-5 review feedback for TaskSchedule
  packages/daemon/src/lib/space/schedule/schedule-service.ts
  packages/daemon/tests/unit/4-space-storage/schedule-service.test.ts
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
Due: daemon, web, e2e-matrix

fix: address round-6 review feedback for TaskSchedule
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/schedule/schedule-service.ts
  packages/daemon/src/storage/repositories/task-schedule-repository.ts
  packages/daemon/tests/unit/4-space-storage/schedule-service.test.ts
Due: daemon

fix: address round-7 review feedback for TaskSchedule
  packages/daemon/src/app.ts
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/job-handlers/task-schedule-fire.handler.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/state-manager.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix: pin croner to exact version 10.0.1
  packages/daemon/package.json
Due: none

feat: add recurring and scheduled task support via TaskSchedule (#1843)
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/app.ts
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/job-handlers/task-schedule-fire.handler.ts
  packages/daemon/src/lib/job-queue-constants.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/task-schedule-handlers.ts
  packages/daemon/src/lib/space/managers/space-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/schedule/cron-utils.ts
  packages/daemon/src/lib/space/schedule/schedule-service.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/task-schedule-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/db-query/scope-config.test.ts
  packages/daemon/tests/unit/2-handlers/job-handlers/task-schedule-fire.handler.test.ts
  packages/daemon/tests/unit/4-space-storage/schedule-service.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/task-schedule-repository.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
  packages/web/src/lib/space-store.ts
  packages/web/src/lib/utils.ts
Due: daemon, web, e2e-matrix

refactor: extract room and space event forwarding into ClientEventBridge
  packages/daemon/src/app.ts
  packages/daemon/src/lib/client-event-bridge.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/unit/1-core/core/client-event-bridge.test.ts
  packages/daemon/tests/unit/1-core/session/state-manager.test.ts
Due: daemon

test: address review feedback on state-manager.test.ts
  packages/daemon/tests/unit/1-core/session/state-manager.test.ts
Due: none

refactor: remove dead room/goal bridge mappings
  packages/daemon/src/lib/client-event-bridge.ts
  packages/daemon/tests/unit/1-core/core/client-event-bridge.test.ts
  packages/daemon/tests/unit/1-core/session/state-manager.test.ts
Due: daemon

docs: remove stale room references from architecture plan
  docs/plans/internal-event-command-query-architecture.md
Due: none

refactor: rebase onto dev and integrate space.schedule.updated
  bun.lock
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/unit/1-core/core/client-event-bridge.test.ts
  packages/daemon/tests/unit/1-core/session/state-manager.test.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
