Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix(providers): address review round 2 on custom endpoints
  packages/daemon/src/lib/providers/factory.ts
  packages/daemon/src/lib/providers/openai-chat-bridge/server.ts
  packages/daemon/src/lib/rpc-handlers/custom-endpoint-handlers.ts
  packages/daemon/src/lib/rpc-handlers/settings-handlers.ts
  packages/daemon/tests/unit/1-core/providers/factory-custom-endpoint-sync.test.ts
  packages/daemon/tests/unit/1-core/providers/openai-chat-bridge-server.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/custom-endpoint-handlers.test.ts
Due: daemon

fix(providers): address review round 3 on custom endpoints
  packages/daemon/src/lib/providers/custom-endpoint-provider.ts
  packages/daemon/src/lib/providers/openai-chat-bridge/server.ts
  packages/daemon/tests/unit/1-core/providers/custom-endpoint-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/openai-chat-bridge-server.test.ts
Due: daemon

fix(providers): address review round 4 on custom endpoints
  packages/daemon/src/lib/providers/factory.ts
  packages/daemon/src/lib/rpc-handlers/settings-handlers.ts
  packages/daemon/tests/unit/1-core/providers/factory-custom-endpoint-sync.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/settings-handlers-custom-endpoints.test.ts
Due: daemon

fix(providers): share custom-endpoints mutation lock across all RPCs
  packages/daemon/src/lib/rpc-handlers/custom-endpoint-handlers.ts
  packages/daemon/src/lib/rpc-handlers/settings-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc/settings-handlers-custom-endpoints.test.ts
Due: daemon

fix: harden custom endpoints against partial saves, null payloads, multi-line SSE
  packages/daemon/src/lib/providers/openai-chat-bridge/server.ts
  packages/daemon/src/lib/rpc-handlers/custom-endpoint-handlers.ts
  packages/daemon/src/lib/rpc-handlers/settings-handlers.ts
  packages/daemon/tests/unit/1-core/providers/openai-chat-bridge-server.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/settings-handlers-custom-endpoints.test.ts
Due: daemon

fix: serialise all global-settings writes via customEndpoints lock + handle query-bearing baseUrls
  packages/daemon/src/lib/providers/openai-chat-bridge/server.ts
  packages/daemon/src/lib/rpc-handlers/settings-handlers.ts
  packages/daemon/tests/unit/1-core/providers/openai-chat-bridge-server.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/settings-handlers-custom-endpoints.test.ts
Due: daemon

feat(web): add command palette (Cmd+K) with action registry
  packages/web/src/App.tsx
  packages/web/src/components/settings/ShortcutsSettings.tsx
  packages/web/src/hooks/__tests__/useGlobalShortcuts.test.ts
  packages/web/src/hooks/useGlobalShortcuts.ts
  packages/web/src/islands/CommandPalette.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/lib/__tests__/command-registry.test.ts
  packages/web/src/lib/__tests__/default-commands.test.ts
  packages/web/src/lib/command-registry.ts
  packages/web/src/lib/default-commands.ts
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

fix(web): address review feedback on command palette
  packages/web/src/hooks/__tests__/useGlobalShortcuts.test.ts
  packages/web/src/hooks/useGlobalShortcuts.ts
  packages/web/src/lib/default-commands.ts
Due: web, e2e-matrix

fix(web): address round-2 review feedback on command palette
  packages/web/src/App.tsx
  packages/web/src/components/settings/__tests__/ShortcutsSettings.test.tsx
  packages/web/src/hooks/useGlobalShortcuts.ts
  packages/web/src/islands/CommandPalette.tsx
  packages/web/src/islands/__tests__/CommandPalette.test.tsx
  packages/web/src/lib/__tests__/command-registry.test.ts
  packages/web/src/lib/command-registry.ts
  packages/web/src/lib/default-commands.ts
Due: web, e2e-matrix

fix(web): strict modifier matching for command shortcuts and palette toggle
  packages/web/src/hooks/__tests__/useGlobalShortcuts.test.ts
  packages/web/src/hooks/useGlobalShortcuts.ts
  packages/web/src/lib/__tests__/command-registry.test.ts
  packages/web/src/lib/command-registry.ts
Due: web, e2e-matrix

fix(web): address round-4 review feedback
  packages/web/src/hooks/__tests__/useGlobalShortcuts.test.ts
  packages/web/src/hooks/useGlobalShortcuts.ts
  packages/web/src/islands/CommandPalette.tsx
  packages/web/src/lib/__tests__/command-registry.test.ts
  packages/web/src/lib/__tests__/default-commands.test.ts
  packages/web/src/lib/command-registry.ts
  packages/web/src/lib/default-commands.ts
Due: web, e2e-matrix

fix(web): clamp fuzzyScore substring branches to stay positive
  packages/web/src/lib/__tests__/command-registry.test.ts
  packages/web/src/lib/command-registry.ts
Due: web, e2e-matrix

fix(web): generate platform-specific shortcut labels
  packages/web/src/components/settings/ShortcutsSettings.tsx
  packages/web/src/hooks/__tests__/useGlobalShortcuts.test.ts
  packages/web/src/islands/CommandPalette.tsx
  packages/web/src/lib/__tests__/command-registry.test.ts
  packages/web/src/lib/__tests__/default-commands.test.ts
  packages/web/src/lib/command-registry.ts
  packages/web/src/lib/default-commands.ts
Due: web, e2e-matrix

fix(web): update ShortcutsSettings test to use code-based shortcuts
  packages/web/src/components/settings/__tests__/ShortcutsSettings.test.tsx
Due: none

feat(web): add command palette (Cmd+K) with action registry (#1932)
  packages/web/src/App.tsx
  packages/web/src/components/settings/ShortcutsSettings.tsx
  packages/web/src/components/settings/__tests__/ShortcutsSettings.test.tsx
  packages/web/src/hooks/__tests__/useGlobalShortcuts.test.ts
  packages/web/src/hooks/useGlobalShortcuts.ts
  packages/web/src/islands/CommandPalette.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/__tests__/CommandPalette.test.tsx
  packages/web/src/lib/__tests__/command-registry.test.ts
  packages/web/src/lib/__tests__/default-commands.test.ts
  packages/web/src/lib/command-registry.ts
  packages/web/src/lib/default-commands.ts
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

feat(web): add project management to chats sidebar
  packages/web/src/components/SessionProjectGroup.tsx
  packages/web/src/islands/SessionsSidebar.tsx
  packages/web/src/lib/sidebar-prefs.ts
Due: web, e2e-matrix

feat(web): replace sessions grid with Codex-style empty-state landing
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/SessionsPage.tsx
Due: web, e2e-matrix

feat(web): group sessions by project in chats sidebar
  packages/web/src/components/SessionProjectGroup.tsx
  packages/web/src/islands/SessionsSidebar.tsx
Due: web, e2e-matrix

refactor(web): simplify chat header to borderless Codex style
  packages/web/src/components/ChatHeader.tsx
  packages/web/src/islands/ChatContainer.tsx
Due: web, e2e-matrix

refactor(web): redesign sessions sidebar with Codex-style borderless layout
  packages/web/src/components/SessionListItem.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/SessionList.tsx
  packages/web/src/islands/SessionsSidebar.tsx
Due: web, e2e-matrix

fix(web): make sidebar New chat open the empty-state landing
  packages/web/src/islands/SessionsSidebar.tsx
Due: web, e2e-matrix

feat(web): flip panel contrast — lighter sidebar, darker content
  packages/web/src/App.tsx
  packages/web/src/components/SessionListItem.tsx
  packages/web/src/components/SessionProjectGroup.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/NavRail.tsx
  packages/web/src/islands/SessionsSidebar.tsx
Due: web, e2e-matrix

feat(web): round content panel and separate panels by background contrast
  packages/web/src/App.tsx
  packages/web/src/islands/ContextPanel.tsx
Due: web, e2e-matrix

feat(daemon): add git.branches RPC and explicit worktree mode on create
  packages/daemon/src/lib/rpc-handlers/git-handlers.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/lib/worktree-manager.ts
  packages/shared/src/api.ts
Due: daemon

refactor: remove archived chats toggle
  packages/web/src/islands/SessionsSidebar.tsx
Due: web, e2e-matrix

refactor: fold section nav into sidebar
  packages/web/src/App.tsx
  packages/web/src/components/SectionSwitcher.tsx
  packages/web/src/components/ui/NavIconButton.tsx
  packages/web/src/components/ui/__tests__/NavIconButton.test.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/NavRail.tsx
  packages/web/src/islands/SpacesPage.tsx
  packages/web/src/lib/__tests__/nav-config.test.ts
  packages/web/src/lib/nav-config.tsx
Due: web, e2e-matrix

fix: match codex worktree arrows
  packages/web/src/components/SessionListItem.tsx
Due: web, e2e-matrix

fix: allow hmr in tmp worktrees
  packages/web/vite.config.ts
Due: none

fix: use codex arrows for worktree marker
  packages/web/src/components/SessionListItem.tsx
Due: web, e2e-matrix

fix(web): don't gate empty-state submit on auth status
  packages/web/src/islands/SessionsPage.tsx
Due: web, e2e-matrix

fix(web): show all project folders in the empty-state picker
  packages/web/src/components/WorkspaceChips.tsx
  packages/web/src/islands/SessionsPage.tsx
  packages/web/src/islands/SessionsSidebar.tsx
  packages/web/src/lib/projects.ts
Due: web, e2e-matrix

feat: restyle section switcher as glass control
  packages/web/src/components/SectionSwitcher.tsx
Due: web, e2e-matrix

feat: clarify spaces empty state
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
Due: web, e2e-matrix

feat(web): add inline archive action to sidebar session rows
  packages/web/src/components/SessionListItem.tsx
  packages/web/src/components/SessionProjectGroup.tsx
  packages/web/src/islands/SessionsSidebar.tsx
Due: web, e2e-matrix

feat: use folder worktree marker in sidebar
  packages/web/src/components/SessionListItem.tsx
Due: web, e2e-matrix

fix: restore section switcher and remember new chat context
  packages/web/src/components/SectionSwitcher.tsx
  packages/web/src/islands/SessionsPage.tsx
Due: web, e2e-matrix

fix: use pill shape for section switcher
  packages/web/src/components/SectionSwitcher.tsx
Due: web, e2e-matrix

feat(web): add project/worktree/branch selectors to empty-state composer
  packages/web/src/components/WorkspaceChips.tsx
  packages/web/src/islands/SessionsPage.tsx
  packages/web/src/lib/api-helpers.ts
Due: web, e2e-matrix

fix: use provided branch icon for worktree marker
  packages/web/src/components/SessionListItem.tsx
Due: web, e2e-matrix

fix: try alternate branch worktree icon
  packages/web/src/components/SessionListItem.tsx
Due: web, e2e-matrix
