Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix(space): gate banners only show after activation; task transitions to review when gate blocks (#1558)
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/other/channel-router.test.ts
  packages/web/src/components/space/PendingGateBanner.tsx
  packages/web/src/components/space/TaskStatusActions.tsx
  packages/web/src/components/space/__tests__/PendingGateBanner.test.tsx
  packages/web/src/components/space/__tests__/TaskStatusActions.test.tsx
Due: daemon, web, e2e-matrix

ci: run lint/unit/online tests on push to dev (#1565)
  .github/workflows/main.yml
Due: none

fix(space): @mention routing now includes idle agents; fix error badge overlap
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: daemon, web, e2e-matrix

feat(space): remove edit/write tools from Space chat agent
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
Due: daemon

feat(space): remove edit/write tools from Space chat agent (#1567)
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
Due: daemon

feat(web): URL-addressable Space views + overlay history + /settings route (#1557)
  packages/web/src/App.tsx
  packages/web/src/components/inbox/Inbox.tsx
  packages/web/src/components/space/SpaceConfigurePage.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/components/space/__tests__/TaskArtifactsPanel.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
  packages/web/src/lib/__tests__/overlay-history.test.ts
  packages/web/src/lib/__tests__/settings-router.test.ts
  packages/web/src/lib/__tests__/space-router.test.ts
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

fix(space): @mention routing now includes idle agents; fix error badge overlap (#1566)
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: daemon, web, e2e-matrix

fix(copilot): call client.start() before caching CopilotClient
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/get-or-create-client.test.ts
Due: daemon

fix(copilot): call client.start() before caching CopilotClient (#1568)
  packages/daemon/src/lib/providers/anthropic-copilot/provider.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-copilot/get-or-create-client.test.ts
Due: daemon

ci: fix workflow table to show web tests run on PR/push to dev
  .github/workflows/main.yml
Due: none

chore(release): bump version to 0.10.0
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

fix(web): eliminate CLS in ChatContainer loading skeleton (#1564)
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/__tests__/ChatContainer.test.ts
Due: web, e2e-matrix

ci: fix workflow table to show web tests run on PR/push to dev (#1571)
  .github/workflows/main.yml
Due: none

fix(web): restore manual path entry option; fix E2E test references
  packages/e2e/tests/features/workspace-selector.e2e.ts
  packages/web/src/components/WorkspaceSelector.tsx
Due: web, e2e-matrix

feat(web): redesign WorkspaceSelector into ChatContainer empty state
  packages/web/src/components/WorkspaceSelector.tsx
  packages/web/src/islands/ChatContainer.tsx
Due: web, e2e-matrix

feat(web): redesign WorkspaceSelector into ChatContainer empty state (#1570)
  packages/e2e/tests/features/workspace-selector.e2e.ts
  packages/web/src/components/WorkspaceSelector.tsx
  packages/web/src/islands/ChatContainer.tsx
Due: web, e2e-matrix

chore(release): bump version to 0.10.0 (#1569)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore: remove main branch from CI, docs, and release process
  .github/workflows/main.yml
  .github/workflows/release.yml
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  docs/release-process.md
  scripts/release-prepare.sh
Due: none

test(space): verify Plan & Decompose guidance mentions stacked PR chain
  packages/daemon/tests/unit/5-space/runtime/space-chat-agent.test.ts
Due: none

feat(space): Plan & Decompose workflow generates stacked PR task chain
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: daemon

docs: add stacked PR task chain entry to CHANGELOG 0.10.0
  CHANGELOG.md
Due: none

feat(space): Plan & Decompose workflow generates stacked PR task chain (#1574)
  CHANGELOG.md
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/runtime/space-chat-agent.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: daemon

feat(web): compact approval banners into one-line + modal pattern
  packages/web/src/components/space/PendingCompletionActionBanner.tsx
  packages/web/src/components/space/PendingTaskCompletionBanner.tsx
  packages/web/src/components/space/__tests__/PendingCompletionActionBanner.test.tsx
Due: web, e2e-matrix

feat(space): data-driven artifact rendering with worktree commit display
  packages/daemon/src/lib/job-handlers/space-workflow-run-artifact.handler.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/artifact-git-ops.ts
  packages/daemon/tests/unit/5-space/other/artifact-git-ops.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/ArtifactCard.tsx
  packages/web/src/components/space/TaskArtifactsPanel.tsx
  packages/web/src/components/space/__tests__/ArtifactCard.test.tsx
  packages/web/src/components/space/__tests__/TaskArtifactsPanel.test.tsx
Due: daemon, web, e2e-matrix

feat(space): consolidate save/write_artifact/report_result into unified save_artifact tool
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/node-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/agent/end-node-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: daemon

feat(space): consolidate save/write_artifact/report_result into unified save_artifact tool (#1578)
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/node-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/agent/end-node-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: daemon

feat(space): data-driven artifact rendering with worktree commit display (#1577)
  packages/daemon/src/lib/job-handlers/space-workflow-run-artifact.handler.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/artifact-git-ops.ts
  packages/daemon/tests/unit/5-space/other/artifact-git-ops.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/ArtifactCard.tsx
  packages/web/src/components/space/TaskArtifactsPanel.tsx
  packages/web/src/components/space/__tests__/ArtifactCard.test.tsx
  packages/web/src/components/space/__tests__/TaskArtifactsPanel.test.tsx
Due: daemon, web, e2e-matrix

fix(space): list_peers shows all topology peers; send_message queues for inactive nodes
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/other/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/5-space/other/cross-agent-messaging.test.ts
Due: daemon

feat(web): compact approval banners into one-line + modal pattern (#1575)
  packages/web/src/components/space/PendingCompletionActionBanner.tsx
  packages/web/src/components/space/PendingTaskCompletionBanner.tsx
  packages/web/src/components/space/__tests__/PendingCompletionActionBanner.test.tsx
Due: web, e2e-matrix

test(space): add negative-path coverage for fromNodeName topology resolution
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
Due: none

fix(space): address review comments — pending status, isDeclaredOrActivated comment, permittedTargets
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
Due: daemon

chore: remove main branch from CI, docs, and release process (#1573)
  .github/workflows/main.yml
  .github/workflows/release.yml
  CLAUDE.md
  CONTRIBUTING.md
  Makefile
  README.md
  docs/release-process.md
  scripts/release-prepare.sh
Due: none

feat(space): make overview stat cards clickable to navigate to tasks page
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
Due: web, e2e-matrix

fix(space): list_peers shows topology peers; send_message queues for inactive nodes (#1579)
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/other/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/5-space/other/cross-agent-messaging.test.ts
Due: daemon

fix(db-query): expose space sessions and sdk_messages in space scope
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/db-query/tools.ts
  packages/daemon/tests/unit/2-handlers/db-query/db-query-integration.test.ts
  packages/daemon/tests/unit/2-handlers/db-query/scope-config.test.ts
Due: daemon

fix(space): exclude archived tasks from Done stat card count
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
Due: web, e2e-matrix

docs: root-cause analysis of node agents losing MCP tools (Task #72)
  docs/research/node-agent-mcp-loss-root-cause.md
Due: none

feat(space): make overview stat cards clickable to navigate to tasks page (#1580)
  packages/web/src/components/space/SpaceOverview.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
Due: web, e2e-matrix

docs(db-query): comment why LIKE scopeValue escaping is not needed
  packages/daemon/src/lib/db-query/tools.ts
Due: daemon

fix(db-query): expose space sessions and sdk_messages in space scope (#1581)
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/db-query/tools.ts
  packages/daemon/tests/unit/2-handlers/db-query/db-query-integration.test.ts
  packages/daemon/tests/unit/2-handlers/db-query/scope-config.test.ts
Due: daemon
