Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

feat(space): add agent liveness guard with report_done timeout (Task 2.6) (#878)
  packages/daemon/src/lib/space/runtime/agent-liveness.ts
  packages/daemon/src/lib/space/runtime/constants.ts
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/space/agent-liveness.test.ts
Due: daemon

feat(space): add ChannelGateEvaluator for agent-centric channel gate enforcement
  packages/daemon/src/lib/space/runtime/channel-gate-evaluator.ts
  packages/daemon/tests/unit/space/channel-gate-evaluator.test.ts
Due: daemon

feat(space): add ChannelGateEvaluator for agent-centric channel gate enforcement (#881)
  packages/daemon/src/lib/space/runtime/channel-gate-evaluator.ts
  packages/daemon/tests/unit/space/channel-gate-evaluator.test.ts
Due: daemon

feat(shared): extend ResolvedChannel with gate field for policy enforcement
  packages/daemon/tests/unit/space/channel-resolution.test.ts
  packages/daemon/tests/unit/space/channel-resolver.test.ts
  packages/shared/src/types/space-utils.ts
Due: daemon

feat(shared): extend ResolvedChannel with gate field for policy enforcement (#880)
  packages/daemon/tests/unit/space/channel-resolution.test.ts
  packages/daemon/tests/unit/space/channel-resolver.test.ts
  packages/shared/src/types/space-utils.ts
Due: daemon

feat(db): add unified channels column to space_workflows (Migration 53)
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-53_test.ts
Due: daemon

fix(test): add missing channels column to space-agent-schema.ts fixture
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
Due: none

feat(db): add unified channels column to space_workflows (Migration 53) (#882)
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-53_test.ts
Due: daemon

feat(space): add ExportedWorkflowChannel type and validate channel references on import
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/shared/src/types/space.ts
Due: daemon

feat(space): add ExportedWorkflowChannel type and validate channel references on import (#883)
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix(web): address review feedback on channel editor and EdgeRenderer
  packages/web/src/components/space/ChannelEditor.tsx
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
Due: web, e2e-matrix

feat(web): update visual workflow editor to display and configure channels (Task 7.1)
  packages/web/src/components/space/ChannelEditor.tsx
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/__tests__/ChannelEditor.test.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.transitionGuard.test.tsx
Due: web, e2e-matrix

test(space): add comprehensive tests for unified channels and gates
  packages/daemon/tests/unit/space/channel-gate-evaluator.test.ts
  packages/daemon/tests/unit/space/channel-resolution.test.ts
Due: none

test(space): address review feedback — add rationale comment and extract capturing runner helper
  packages/daemon/tests/unit/space/channel-gate-evaluator.test.ts
Due: none

feat(space): add ChannelRouter with lazy node activation (Task 3.0)
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-54_test.ts
Due: daemon

task/task 71 update visual workflow editor for channels (#884)
  packages/web/src/components/space/ChannelEditor.tsx
  packages/web/src/components/space/WorkflowEditor.tsx
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/__tests__/ChannelEditor.test.tsx
  packages/web/src/components/space/__tests__/WorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/__tests__/NodeConfigPanel.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualWorkflowEditor.transitionGuard.test.tsx
Due: web, e2e-matrix

test(space): add comprehensive tests for unified channels and gates (#885)
  packages/daemon/tests/unit/space/channel-gate-evaluator.test.ts
  packages/daemon/tests/unit/space/channel-resolution.test.ts
Due: none

fix(channel-router): document partial-activation tradeoff and draft-status exclusion (P1/P2)
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-54_test.ts
Due: daemon

feat(space): add ChannelRouter with lazy node activation (Task 3.0) (#886)
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-54_test.ts
Due: daemon

feat(space): extend ChannelRouter with gate evaluation and cyclic iteration tracking (Task 3.1)
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
Due: daemon

plan: fix usage limit handling and fallback model auto-switch gaps
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/00-overview.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/01-usage-limit-redetection-guard.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/02-clear-group-rate-limit-on-manual-status-change.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/03-skip-stale-envelope-after-fallback-switch.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/04-clear-task-restriction-after-fallback-switch.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/05-realtime-usage-limit-detection-in-mirroring.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/06-leader-recovery-mechanism.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/07-verify-fallback-model-availability.md
Due: none

fix(space): address PR review feedback for ChannelRouter (Task 3.1)
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
Due: daemon

docs: add verification notes and fix plan for usage limit handling gaps
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/00-overview.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/02-clear-group-rate-limit-on-manual-status-change.md
Due: none

docs: address review feedback on usage limit plan (P1+P2 fixes)
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/00-overview.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/02-clear-group-rate-limit-on-manual-status-change.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/03-skip-stale-envelope-after-fallback-switch.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/04-clear-task-restriction-after-fallback-switch.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/04-realtime-usage-limit-detection-in-mirroring.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/05-leader-recovery-mechanism.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/05-realtime-usage-limit-detection-in-mirroring.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/06-leader-recovery-mechanism.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/06-verify-fallback-model-availability.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/07-verify-fallback-model-availability.md
Due: none

feat(space): extend ChannelRouter with gate evaluation and cyclic iteration tracking (Task 3.1) (#887)
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/tests/unit/space/channel-router.test.ts
Due: daemon

docs: fix milestone task numbering and update task count
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/00-overview.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/04-realtime-usage-limit-detection-in-mirroring.md
Due: none

feat(space): add list_reachable_agents tool to step agent MCP server (Task 3.4)
  packages/daemon/src/lib/space/tools/step-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/step-agent-tools.ts
  packages/daemon/tests/unit/space/step-agent-tools.test.ts
Due: daemon

plan: fix usage limit handling and fallback model auto-switch gaps (#888)
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/00-overview.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/01-usage-limit-redetection-guard.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/02-clear-group-rate-limit-on-manual-status-change.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/03-skip-stale-envelope-after-fallback-switch.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/04-realtime-usage-limit-detection-in-mirroring.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/05-leader-recovery-mechanism.md
  docs/plans/fix-usage-limit-handling-and-fallback-model-auto-switch-gaps/06-verify-fallback-model-availability.md
Due: none

ci: increase test-daemon-shared-unit timeout from 3 to 6 minutes
  .github/workflows/main.yml
Due: none

fix(room-runtime): add re-detection guard to usage_limit worker handler
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-terminal-errors.test.ts
Due: daemon

feat(room-runtime): add public clearGroupRateLimit() method
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-rate-limit-persistence.test.ts
Due: daemon

fix(runtime): add !group.rateLimit re-detection guard to leader usage_limit handler
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-rate-limit-persistence.test.ts
Due: daemon

fix(room-runtime): guard clearGroupRateLimit against completed groups
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-rate-limit-persistence.test.ts
Due: daemon

feat(room-runtime): check provider availability before fallback model switch (Gap G)
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-provider-availability.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
Due: daemon

fix(room-runtime): wrap isProviderAvailable in try/catch; fix messageHub type cast
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-provider-availability.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
Due: daemon

feat(room-runtime): add public clearGroupRateLimit() method (#891)
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-rate-limit-persistence.test.ts
Due: daemon

feat(task-handlers): clear group rate limit when sending message to rate/usage-limited task
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
Due: daemon

feat(task-handlers): call clearGroupRateLimit when resuming from rate/usage limited status
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
