Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

test: add online multi-agent flow lifecycle tests
  packages/daemon/tests/online/room/room-multi-agent-flow.test.ts
Due: none

fix: use Claude Code preset for leader agent system prompt
  packages/daemon/src/lib/room/leader-agent.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
Due: daemon

fix: clear CLAUDECODE env var at daemon startup
  packages/daemon/src/app.ts
Due: daemon

ci: add room module to online test matrix
  .github/workflows/main.yml
Due: none

test: consolidate room online tests into single progressive test with Haiku
  packages/daemon/tests/online/room/room-multi-agent-flow.test.ts
Due: none

test: add replan context, title prefix, and attempt tracking tests
  packages/daemon/tests/unit/room/room-runtime-leader-tools.test.ts
Due: none

test: add replan recovery and advanced scenario online tests
  packages/daemon/tests/online/room/room-advanced-scenarios.test.ts
  packages/daemon/tests/online/room/room-multi-agent-flow.test.ts
  packages/daemon/tests/online/room/room-replan-recovery.test.ts
  packages/daemon/tests/online/room/room-test-helpers.ts
Due: none

fix: emit task update events from task.fail/complete RPCs and fix auto-replan blind spot
  packages/daemon/src/lib/room/room-runtime.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/online/room/room-chat-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime.test.ts
  packages/daemon/tests/unit/rpc/task-handlers.test.ts
Due: daemon

test: increase replan recovery timeout to 120s for CI reliability
  packages/daemon/tests/online/room/room-replan-recovery.test.ts
Due: none

fix: steered message position wrong after page refresh
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/tests/unit/agent/sdk-message-handler.test.ts
Due: daemon

test: fix replan recovery race condition in task status assertion
  packages/daemon/tests/online/room/room-replan-recovery.test.ts
Due: none

feat: use raw terminal state in envelopes and add answerQuestion to SessionFactory
  packages/daemon/src/lib/room/leader-agent.ts
  packages/daemon/src/lib/room/message-routing.ts
  packages/daemon/src/lib/room/room-runtime-service.ts
  packages/daemon/src/lib/room/task-group-manager.ts
  packages/daemon/tests/unit/room/message-routing.test.ts
Due: daemon

refactor: make SessionObserver a stateless terminal-state relay
  packages/daemon/src/lib/room/session-observer.ts
  packages/daemon/tests/unit/room/session-observer.test.ts
Due: daemon

fix: exclude planning tasks from replan completed-tasks context
  packages/daemon/src/lib/room/room-runtime.ts
Due: daemon

fix: change session_group_members PK from (group_id, role) to (group_id, session_id)
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime.test.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: none

test: use realistic goal descriptions in online multi-agent flow tests
  packages/daemon/tests/online/room/room-multi-agent-flow.test.ts
Due: none

feat: add mid-execution replanning when a task fails
  packages/daemon/src/lib/room/planner-agent.ts
  packages/daemon/src/lib/room/room-runtime.ts
  packages/daemon/src/lib/room/runtime-recovery.ts
  packages/daemon/src/lib/room/session-group-repository.ts
  packages/daemon/src/lib/room/task-manager.ts
Due: daemon

refactor: split room-runtime tests into logical files
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/room/room-runtime-leader-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/room-runtime.test.ts
Due: none

feat: add replan_goal as explicit leader tool for mid-execution replanning
  packages/daemon/src/lib/room/leader-agent.ts
  packages/daemon/src/lib/room/room-runtime.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

fix: persist context usage across page refresh
  packages/daemon/src/lib/state-manager.ts
  packages/web/src/lib/session-store.ts
Due: daemon, web, e2e-matrix

fix: prevent second steered message from getting stuck in queue
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/tests/unit/agent/sdk-message-handler.test.ts
Due: daemon

test: add coverage for steered message timestamp update and /context fire-and-forget
  packages/daemon/tests/unit/agent/sdk-message-handler.test.ts
Due: none

fix: add enqueueWithId to mock MessageQueue in integration tests
  packages/daemon/tests/integration/agent/sdk-message-metadata.integration.test.ts
  packages/daemon/tests/integration/components/sdk-message-handler.test.ts
Due: none

fix: steered message position wrong after page refresh (#161)
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/tests/integration/agent/sdk-message-metadata.integration.test.ts
  packages/daemon/tests/integration/components/sdk-message-handler.test.ts
  packages/daemon/tests/unit/agent/sdk-message-handler.test.ts
Due: daemon

test: add mock SDK pipeline for offline integration tests
  packages/daemon/tests/helpers/mock-sdk.ts
  packages/daemon/tests/integration/agent/mock-sdk-pipeline.test.ts
Due: none

refactor: expose eventBus on DaemonAppContext
  packages/daemon/src/app.ts
Due: daemon

refactor: remove MessageHub sequence tracking
  packages/shared/src/message-hub/message-hub.ts
  packages/shared/src/message-hub/protocol.ts
  packages/shared/src/message-hub/types.ts
  packages/shared/tests/message-hub-coverage.test.ts
  packages/shared/tests/message-hub-fixes.test.ts
  packages/shared/tests/message-hub-reconnection.test.ts
  packages/shared/tests/message-hub.test.ts
Due: daemon

test: bake auto-mock into createTestApp() for zero-touch test conversion
  packages/daemon/tests/helpers/daemon-actions.ts
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/helpers/mock-sdk.ts
Due: none

test: delete deprecated/duplicated integration tests
  packages/daemon/tests/integration/agent/agent-session.test.ts
  packages/daemon/tests/integration/agent/rpc-agent-handlers.test.ts
  packages/daemon/tests/integration/components/auth.test.ts
  packages/daemon/tests/integration/components/e2e-workflow-behavior.test.ts
  packages/daemon/tests/integration/components/model-switching.test.ts
  packages/daemon/tests/integration/components/state-manager.test.ts
  packages/daemon/tests/integration/mcp/mcp-toggle.test.ts
  packages/daemon/tests/integration/rpc/rpc-config-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-draft-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-interrupt-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-model-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-rewind-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-session-handlers-extended-REFACTORED.test.ts
  packages/daemon/tests/integration/session/session-filtering.integration.test.ts
  packages/daemon/tests/integration/session/session-resume.test.ts
  packages/daemon/tests/integration/session/settings-rpc.integration.test.ts
  packages/daemon/tests/integration/session/sigint-cleanup.test.ts
Due: none
