Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix(types): update SDK to v0.2.50 and fix breaking changes
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/lib/agent/processing-state-manager.ts
  packages/shared/src/sdk/sdk-tools.d.ts
  packages/shared/src/sdk/sdk.d.ts
  packages/shared/src/sdk/type-guards.ts
  packages/shared/src/types/settings.ts
  packages/web/src/components/sdk/MessageInfoDropdown.tsx
  packages/web/src/components/sdk/SDKMessageRenderer.tsx
  packages/web/src/components/sdk/SDKResultMessage.tsx
  packages/web/src/components/sdk/SDKSystemMessage.tsx
Due: daemon, web, e2e-matrix

fix(sdk): pin SDK to v0.2.39 for compatibility
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/lib/agent/processing-state-manager.ts
  packages/neo/package.json
  packages/shared/src/sdk/sdk-tools.d.ts
  packages/shared/src/sdk/sdk.d.ts
Due: daemon

Session switching bug fix
  packages/web/src/islands/ChatContainer.tsx
Due: web, e2e-matrix

fix: resolve session switch race and sync sdk update
  bun.lock
  knip.ts
  package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/neo/package.json
  packages/shared/src/sdk/sdk-tools.d.ts
  packages/shared/src/sdk/sdk.d.ts
  packages/web/package.json
Due: daemon

Room simplify plan
  docs/design/manager-less-architecture.md
  docs/design/room-autonomy-manager-removal-plan.md
Due: none

Manager removal plan
  docs/design/manager-removal-implementation-plan.md
Due: none

Update docs
  docs/design/manager-less-architecture.md
  docs/design/manager-removal-critical-fixes.md
  docs/design/manager-removal-implementation-plan.md
Due: none

feat(shared): add WorkerSession types; remove manager session type
  packages/shared/src/types.ts
  packages/shared/src/types/neo.ts
Due: daemon

feat(storage): replace session-pair-repository with worker-session-repository; add migration 28
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/room-self-state-repository.ts
  packages/daemon/src/storage/repositories/session-pair-repository.ts
  packages/daemon/src/storage/repositories/worker-session-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

feat(agent): replace manager-tools with worker-tools MCP server; update room-agent-tools
  packages/daemon/src/lib/agent/manager-tools.ts
  packages/daemon/src/lib/agent/room-agent-tools.ts
  packages/daemon/src/lib/agent/worker-tools.ts
Due: daemon

feat(room): replace SessionPairManager+SessionBridge with WorkerManager
  packages/daemon/src/lib/room/index.ts
  packages/daemon/src/lib/room/room-manager.ts
  packages/daemon/src/lib/room/room-self-service.ts
  packages/daemon/src/lib/room/session-bridge.ts
  packages/daemon/src/lib/room/session-pair-manager.ts
  packages/daemon/src/lib/room/worker-manager.ts
Due: daemon

feat(daemon): remove manager session type; add worker and feature-flag events to DaemonHub
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
Due: daemon

feat(config): add feature flag service for gradual rollout control
  packages/daemon/src/lib/config/feature-flags.ts
  packages/daemon/src/lib/config/index.ts
Due: daemon

feat(telemetry): add WorkerTelemetry for manager-less architecture metrics
  packages/daemon/src/lib/telemetry/index.ts
  packages/daemon/src/lib/telemetry/worker-telemetry.ts
Due: daemon

feat(rpc): wire WorkerManager into handlers; remove pair RPCs; add telemetry handlers
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/src/lib/rpc-handlers/room-self-handlers.ts
  packages/daemon/src/lib/rpc-handlers/telemetry-handlers.ts
Due: daemon

fix(web): update RoomSelfStatus for renamed activeWorkerSessionIds field
  packages/web/src/components/room/RoomSelfStatus.tsx
Due: web, e2e-matrix

feat(schema): complete Phase 6 manager removal migrations
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

feat(room): unify room agent orchestration (Phase 5)
  packages/daemon/src/lib/agent/room-agent-tools.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
Due: daemon

refactor(room): rename session pair methods to worker session methods
  packages/daemon/src/lib/config/feature-flags.ts
  packages/daemon/src/lib/room/room-self-lifecycle-manager.ts
  packages/daemon/src/lib/room/room-self-service.ts
Due: daemon

docs(worker): update WorkerManager documentation for Phase 5-6
  packages/daemon/src/lib/room/worker-manager.ts
Due: daemon

test(room): update tests for worker-only architecture
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
Due: none

test: remove deprecated test files for manager architecture
  packages/daemon/tests/unit/room/room-agent-lifecycle-manager.test.ts
  packages/daemon/tests/unit/room/room-agent-service.test.ts
  packages/daemon/tests/unit/rpc/room-pair-handlers.test.ts
Due: none

fix(room): use renamed column active_worker_session_ids in INSERT
  packages/daemon/src/storage/repositories/room-self-state-repository.ts
Due: daemon

fix(migration): add warning when Migration 29 skips due to active pairs
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

feat(room): add worker failure event handling
  packages/daemon/src/lib/room/room-self-service.ts
  packages/daemon/src/lib/room/worker-manager.ts
Due: daemon

refactor(room): remove deprecated pairId and mode params from spawn_worker
  packages/daemon/src/lib/agent/room-agent-tools.ts
  packages/daemon/src/lib/room/room-self-service.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
Due: daemon

refactor(daemon): remove deprecated bridge/pair events
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/telemetry/worker-telemetry.ts
Due: daemon

chore(room): clean up outdated manager-worker references
  packages/daemon/src/lib/room/room-self-service.ts
  packages/daemon/src/lib/rpc-handlers/room-self-handlers.ts
Due: daemon

docs: add room-auto future work tracking document
  docs/design/room-auto-future-work.md
Due: none

Fix migration.
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

fix(room): address critical issues from PR review
  packages/daemon/src/lib/room/room-self-service.ts
  packages/daemon/src/lib/room/worker-manager.ts
  packages/daemon/tests/integration/room/room-agent.integration.test.ts
  packages/daemon/tests/unit/room/session-bridge.test.ts
  packages/daemon/tests/unit/room/session-pair-manager.test.ts
  packages/daemon/tests/unit/rpc-handlers/room-agent-handlers.test.ts
Due: daemon

fix(room): address remaining PR review issues (round 2)
  packages/daemon/src/lib/agent/worker-tools.ts
  packages/daemon/src/lib/room/room-self-service.ts
  packages/daemon/src/lib/room/worker-manager.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
Due: daemon

fix(room): cleanup worker session IDs on completion
  packages/daemon/src/lib/room/room-self-service.ts
  packages/daemon/src/lib/room/worker-manager.ts
Due: daemon

fix(room): address GLM-5 PR review issues
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/room/room-self-service.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
Due: daemon

fix(room): address Codex review issues for room autonomous agent
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/room/room-self-service.ts
  packages/daemon/src/lib/room/worker-manager.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/src/storage/repositories/worker-session-repository.ts
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

fix(daemon): harden room-self worker lifecycle and state handling
  packages/daemon/src/lib/agent/worker-tools.ts
  packages/daemon/src/lib/room/recurring-job-scheduler.ts
  packages/daemon/src/lib/room/room-manager.ts
  packages/daemon/src/lib/room/room-self-lifecycle-manager.ts
  packages/daemon/src/lib/room/room-self-service.ts
  packages/daemon/src/lib/room/worker-manager.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/src/lib/rpc-handlers/room-message-handlers.ts
  packages/daemon/src/lib/rpc-handlers/room-self-handlers.ts
  packages/daemon/src/storage/repositories/room-repository.ts
  packages/daemon/src/storage/repositories/room-self-state-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

chore(daemon): log non-critical event emission failures
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/src/lib/rpc-handlers/github-handlers.ts
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/src/lib/rpc-handlers/lobby-handlers.ts
  packages/daemon/src/lib/rpc-handlers/recurring-job-handlers.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
Due: daemon

test(daemon): add focused coverage for room-self lifecycle fixes
  packages/daemon/tests/unit/room/recurring-job-scheduler.guards.test.ts
  packages/daemon/tests/unit/room/room-self-state-repository.test.ts
  packages/daemon/tests/unit/room/worker-manager.test.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
  packages/daemon/tests/unit/rpc/room-message-handlers.test.ts
Due: none

test(integration): cover room-self worker lifecycle end-to-end
  packages/daemon/src/lib/room/room-self-service.ts
  packages/daemon/tests/integration/room/room-self-worker-lifecycle.integration.test.ts
Due: daemon

fix(room): transition to planning after human input in waiting state
  packages/daemon/src/lib/room/room-self-service.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
