Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix(web): fix agent tab padding, remove emojis, delete SpaceNavPanel (#1100)
  packages/web/src/components/space/SpaceContextPanel.tsx
  packages/web/src/components/space/SpaceNavPanel.tsx
  packages/web/src/components/space/__tests__/SpaceNavPanel.test.tsx
  packages/web/src/components/space/index.ts
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: web, e2e-matrix

feat: add Neo SessionType and DB schema (task 1.1)
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/neo-activity-log-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/neo-activity-log-repository.test.ts
  packages/shared/src/types.ts
Due: daemon

feat(web): add WorkflowRunStartDialog component (#1101)
  packages/web/src/components/space/WorkflowRunStartDialog.tsx
  packages/web/src/components/space/__tests__/WorkflowRunStartDialog.test.tsx
  packages/web/src/components/space/index.ts
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

ci: split cross-provider online tests into 2 parallel CI jobs
  .github/workflows/main.yml
  scripts/validate-online-test-matrix.sh
Due: none

test(web): wire quick action buttons in SpaceIsland and add tests
  packages/e2e/tests/features/space-task-creation.e2e.ts
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: none

feat(space): provision space:chat:${spaceId} session on space creation and daemon startup
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/tests/unit/rpc-handlers/space-handlers.test.ts
  packages/daemon/tests/unit/space/space-runtime-service.test.ts
  packages/shared/src/types.ts
Due: daemon

fix(space): address review feedback — DB migration, addSession, direct provisioning, online test
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/space/space-chat-session.test.ts
  packages/daemon/tests/unit/rpc-handlers/space-handlers.test.ts
Due: daemon

feat(web): wire ContextPanel level 1 ↔ level 2 switching for spaces
  packages/e2e/tests/features/space-context-panel-switching.e2e.ts
  packages/e2e/tests/features/space-creation.e2e.ts
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
Due: web, e2e-matrix

fix(web): apply env(safe-area-inset-top) to prevent top UI clipping on iOS iPad Safari
  packages/web/src/App.tsx
  packages/web/src/assets.d.ts
  packages/web/src/lib/__tests__/ios-safe-area.test.ts
  packages/web/src/styles.css
Due: web, e2e-matrix

fix(web): add 0px fallback to pt-safe and pb-safe for consistency with codebase usage
  packages/web/src/styles.css
Due: web, e2e-matrix

fix(web): use h-full on NavRail and ContextPanel to prevent bottom overflow past safe-area boundary
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/NavRail.tsx
Due: web, e2e-matrix

fix(web): address review feedback — safe area on fixed panels and duplicate height
  packages/web/src/App.tsx
  packages/web/src/components/room/SlideOutPanel.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
  packages/web/src/islands/__tests__/NavRail.test.tsx
Due: web, e2e-matrix

test: address review feedback on quick action button tests
  packages/e2e/tests/features/space-settings-crud.e2e.ts
  packages/e2e/tests/features/space-task-creation.e2e.ts
  packages/e2e/tests/helpers/space-helpers.ts
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: none

fix(space): add crash retry counter to fix CI regression in online tests
  packages/daemon/src/lib/space/runtime/constants.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
Due: daemon

ci: split cross-provider online tests into 2 parallel CI jobs (#1105)
  .github/workflows/main.yml
  scripts/validate-online-test-matrix.sh
Due: none

test(leader): online tests for reviewer and leader sub-agent configuration (Task 4.3) (#1086)
  packages/daemon/tests/online/room/reviewer-leader-subagents.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

fix(web): add data-testid to SpaceTaskPane root element
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: web, e2e-matrix

ci: split online space tests into 2 parallel CI jobs
  .github/workflows/main.yml
Due: none

fix(test): use external workspace in restart test to prevent DB deletion
  packages/daemon/tests/online/space/space-chat-session.test.ts
Due: none

ci: fix space split — add to module list and update validator
  .github/workflows/main.yml
  scripts/validate-online-test-matrix.sh
Due: none

fix(web): move space-task-pane testid to SpaceIsland wrapper; use not.toBeAttached()
  packages/e2e/tests/features/space-task-creation.e2e.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: web, e2e-matrix

fix(web): apply safe-area-inset-top to prevent iOS iPad Safari top UI clipping (#1103)
  packages/web/src/App.tsx
  packages/web/src/assets.d.ts
  packages/web/src/components/room/SlideOutPanel.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/NavRail.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
  packages/web/src/islands/__tests__/NavRail.test.tsx
  packages/web/src/lib/__tests__/ios-safe-area.test.ts
  packages/web/src/styles.css
Due: web, e2e-matrix

fix(daemon): preserve autonomyLevel when combined with status in goal.update
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/goal-handlers.test.ts
Due: daemon

feat(space): provision space:chat session on space creation and daemon startup (#1102)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/space/space-chat-session.test.ts
  packages/daemon/tests/unit/rpc-handlers/space-handlers.test.ts
  packages/daemon/tests/unit/space/space-runtime-service.test.ts
  packages/shared/src/types.ts
Due: daemon

feat(web): wire ContextPanel level 1 ↔ level 2 switching for spaces (#1104)
  packages/e2e/tests/features/space-context-panel-switching.e2e.ts
  packages/e2e/tests/features/space-creation.e2e.ts
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
Due: web, e2e-matrix

test(web): wire quick action buttons in SpaceIsland — add dialog tests and E2E (#1106)
  packages/e2e/tests/features/space-settings-crud.e2e.ts
  packages/e2e/tests/features/space-task-creation.e2e.ts
  packages/e2e/tests/helpers/space-helpers.ts
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: web, e2e-matrix

fix(space): fix worktree stale-cleanup order and skip retries on permanent git errors
  packages/daemon/src/lib/space/managers/space-worktree-manager.ts
Due: daemon

fix(daemon): address review feedback on goal.update handler
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/goal-handlers.test.ts
Due: daemon

feat(space): error handling and edge case hardening (M9.4) (#1085)
  packages/daemon/src/lib/space/managers/space-worktree-manager.ts
  packages/daemon/src/lib/space/runtime/agent-liveness.ts
  packages/daemon/src/lib/space/runtime/constants.ts
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/retry-utils.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/gate-data-repository.ts
  packages/daemon/tests/unit/space/agent-liveness.test.ts
  packages/daemon/tests/unit/space/retry-utils.test.ts
  packages/daemon/tests/unit/space/session-notification-sink.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/storage/gate-data-repository.test.ts
Due: daemon

feat(neo): add MessageOrigin field to shared types and message pipeline (task 6.1)
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-68_test.ts
  packages/daemon/tests/unit/storage/sdk-message-repository.test.ts
  packages/shared/src/types.ts
Due: daemon

fix(neo): address review feedback on origin field propagation
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/sdk-message-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

test: update MessagePersistence mock assertions for origin parameter
  packages/daemon/tests/unit/reference-message-persistence.test.ts
  packages/daemon/tests/unit/session/message-persistence.test.ts
Due: none

feat(neo): add Neo system prompt, NeoAgentManager, and Neo settings (task 1.2)
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/neo/neo-system-prompt.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/tests/unit/neo-agent-manager.test.ts
  packages/shared/src/types/settings.ts
Due: daemon

fix(neo): apply model in applyRuntimeConfig, add TODO in app.ts, add setRuntimeModel to AgentSession
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/tests/unit/neo-agent-manager.test.ts
Due: daemon

fix: renumber origin migration to 68 (conflict with dev's migration 67 for space_chat)
  packages/daemon/src/storage/schema/index.ts
Due: none

feat(web): wire SpaceIsland to render ChatContainer for agent/session views
  packages/e2e/tests/features/space-agent-chat.e2e.ts
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/SpaceIsland.test.tsx
Due: web, e2e-matrix

feat(neo): Neo system prompt and NeoAgentManager (task 1.2) (#1109)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/neo/neo-system-prompt.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/tests/unit/neo-agent-manager.test.ts
  packages/shared/src/types/settings.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
