Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

test: add E2E tests for room sidebar sections (goal expand/collapse and task tab filtering)
  packages/e2e/tests/features/room-sidebar-sections.e2e.ts
Due: none

fix: address review feedback on reactivate/archive actions
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

test: address review feedback on room-sidebar-sections E2E tests
  packages/e2e/tests/features/room-sidebar-sections.e2e.ts
Due: none

feat: add reactivate and archive actions to TaskView (#601)
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

test: add E2E tests for room sidebar sections (goal expand/collapse and task tab filtering) (#602)
  packages/e2e/tests/features/room-sidebar-sections.e2e.ts
Due: none

feat: allow cancelled → completed status transition (#600)
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/tests/unit/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
Due: daemon

feat: auto-reactivate cancelled tasks in send_message_to_task
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
Due: daemon

test: add E2E tests for room sidebar URL navigation and persistence
  packages/e2e/tests/features/room-sidebar-navigation.e2e.ts
Due: none

test: add web unit tests for archived status and reactivate/archive button visibility
  packages/web/src/components/inbox/Inbox.test.tsx
  packages/web/src/components/room/RoomDashboard.test.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/islands/__tests__/RoomContextPanel.test.tsx
Due: none

test: address review feedback on room-sidebar-navigation e2e
  packages/e2e/tests/features/room-sidebar-navigation.e2e.ts
Due: none

fix: unify needs_attention/cancelled revive in send_message_to_task; preserve group history
  packages/daemon/src/lib/room/runtime/human-message-routing.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
Due: daemon

test: remove remaining bg-dark-700 CSS class assertion from task URL test
  packages/e2e/tests/features/room-sidebar-navigation.e2e.ts
Due: none

test: add onReactivate coverage in RoomTasks and fix fragile CSS assertion
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/TaskView.test.tsx
Due: none

test: add E2E tests for room sidebar URL navigation and persistence (#603)
  packages/e2e/tests/features/room-sidebar-navigation.e2e.ts
Due: none

fix: update room-agent-tools guards and comments for new task lifecycle (#599)
  packages/daemon/src/lib/room/runtime/human-message-routing.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/task-manager.test.ts
Due: daemon

test: add web unit tests for archived status and reactivate/archive button visibility (#604)
  packages/web/src/components/inbox/Inbox.test.tsx
  packages/web/src/components/room/RoomDashboard.test.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/islands/__tests__/RoomContextPanel.test.tsx
Due: none

test: add unit tests for room-runtime lifecycle changes
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
Due: daemon

fix: move archived guard before runtime lookup in sendHumanMessage
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
Due: daemon

docs: add plan for Space Agent Groups flexible multi-agent collaboration model
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/00-overview.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/01-schema-and-type-updates.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/02-taskagentmanager-group-persistence.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/03-frontend-session-group-reactivity.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/04-multi-agent-workflow-steps.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/05-multi-agent-export-import-and-editor.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/06-cross-agent-messaging.md
Due: none

fix: recover rate-limited workers stuck in later iterations (feedbackIteration > 0) (#596)
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/room-runtime-recovery-safety.test.ts
Due: daemon

test: add unit tests for room-runtime lifecycle changes (#605)
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/task-handlers.test.ts
Due: daemon

test: add online integration tests for task reactivation and archive lifecycle
  packages/daemon/tests/online/rpc/rpc-task-lifecycle.test.ts
Due: none

fix: address P1 review feedback on Space Agent Groups plan
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/00-overview.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/01-schema-and-type-updates.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/02-taskagentmanager-group-persistence.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/03-frontend-session-group-reactivity.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/04-multi-agent-workflow-steps.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/05-multi-agent-export-import-and-editor.md
  docs/plans/space-agent-groups-flexible-multi-agent-collaboration-model/06-cross-agent-messaging.md
Due: none

test: add edge-case tests for cyclic transition condition evaluation and iterationCount
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: none

docs: add plan for persistent job queue adoption across daemon
  docs/plans/complete-and-adopt-persistent-job-queue-for-code-base.md
Due: none

docs: address reviewer feedback on persistent job queue plan
  docs/plans/complete-and-adopt-persistent-job-queue-for-code-base.md
Due: none

docs: address second round of reviewer feedback on job queue plan
  docs/plans/complete-and-adopt-persistent-job-queue-for-code-base.md
Due: none

docs: fix double-enqueue bug and heartbeat contradiction in Task 4 handler
  docs/plans/complete-and-adopt-persistent-job-queue-for-code-base.md
Due: none

docs: address third round of reviewer feedback on job queue plan
  docs/plans/complete-and-adopt-persistent-job-queue-for-code-base.md
Due: none

docs: address iteration 5 review feedback (P1/P2/P3)
  docs/plans/complete-and-adopt-persistent-job-queue-for-code-base.md
Due: none

docs: address iteration 6 review feedback (P0/P1/P2)
  docs/plans/complete-and-adopt-persistent-job-queue-for-code-base.md
Due: none

docs: address iteration 7 review feedback (P0/P1/P2)
  docs/plans/complete-and-adopt-persistent-job-queue-for-code-base.md
Due: none

docs: address iteration 8 review feedback (P0/P1/P2)
  docs/plans/complete-and-adopt-persistent-job-queue-for-code-base.md
Due: none

docs: rewrite plan based on actual dev branch codebase inspection
  docs/plans/complete-and-adopt-persistent-job-queue-for-code-base.md
Due: none

docs: address iteration 9 review feedback (P1/P2/P3)
  docs/plans/complete-and-adopt-persistent-job-queue-for-code-base.md
Due: none

docs: correct plan from local repo inspection (scheduleTick count, cleanup sequence)
  docs/plans/complete-and-adopt-persistent-job-queue-for-code-base.md
Due: none

test: address review feedback on task lifecycle online tests
  .github/workflows/main.yml
  packages/daemon/tests/online/rpc/rpc-task-lifecycle.test.ts
Due: none

fix: sync root repo after PR merge via lifecycle gate
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/tests/unit/room/lifecycle-hooks.test.ts
Due: daemon

test: address P2 review feedback on task lifecycle tests
  packages/daemon/tests/online/rpc/rpc-task-lifecycle.test.ts
Due: none
