Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

feat(TaskView): add task info panel and autoscroll toggle (#227)
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/online/features/auto-title.test.ts
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/ui/CopyButton.tsx
Due: daemon, web, e2e-matrix

docs: add v1 design implementation plan for Makai SDK
  docs/plans/implement-v1-design.md
Due: none

docs: address plan review feedback - fix dependencies, split Task 5, add prerequisites and missing spec coverage
  docs/plans/implement-v1-design.md
Due: none

fix
  biome.json
  knip.json
  knip.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

docs: address round-2 review feedback - split cross-phase tasks, fix spec errors, add review gate and failure handling
  docs/plans/implement-v1-design.md
Due: none

refactor: simplify Makefile dev targets
  Makefile
Due: none

docs: update CLAUDE.md for Makefile changes
  CLAUDE.md
Due: none

feat(test): add mock SDK support for online tests (#219)
  packages/daemon/tests/helpers/mock-sdk.ts
  packages/daemon/tests/online/agent/agent-session-sdk.test.ts
  packages/daemon/tests/online/convo/multiturn-conversation.test.ts
  packages/daemon/tests/online/features/message-delivery-mode-queue.test.ts
  packages/daemon/tests/online/features/message-persistence.test.ts
  packages/daemon/tests/online/lifecycle/session-resume.test.ts
  packages/daemon/tests/online/rewind/rewind-feature.test.ts
  packages/daemon/tests/online/rewind/selective-rewind.test.ts
  packages/daemon/tests/online/room/room-advanced-scenarios.test.ts
  packages/daemon/tests/online/room/room-chat-constraints.test.ts
  packages/daemon/tests/online/room/room-multi-agent-flow.test.ts
  packages/daemon/tests/online/sdk/sdk-streaming-failures.test.ts
  packages/daemon/tests/unit/mock-script.test.ts
Due: none

fix(test): set correct maxFeedbackIterations in escalation test
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
Due: none

fix(runtime): build leader init lazily with current room config
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

test: fix provider registry mocks and maxFeedbackIterations
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
Due: none

Cleanup
  Makefile
Due: none

fix(test): set maxFeedbackIterations: 5 in flow tests
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
Due: none

test: fix test isolation and temp directory issues
  Makefile
  packages/daemon/src/lib/providers/factory.ts
  packages/daemon/tests/unit/room/room-repository.test.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/rpc-handlers/auth-handlers.test.ts
  packages/daemon/tests/unit/storage/database-core.test.ts
  packages/daemon/tests/unit/storage/database-facade.test.ts
Due: daemon

fix(runtime): read room from DB for leader init instead of caching
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

fix(runtime): fetch task/goal from DB for leader init instead of caching
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

fix(runtime): fetch room from DB instead of using cached this.room
  packages/daemon/src/lib/room/runtime/room-runtime.ts
Due: daemon

fix(web): fix failing tests for CopyButton and ScrollToBottomButton
  packages/web/src/components/ScrollToBottomButton.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/ui/__tests__/CopyButton.test.tsx
Due: web, e2e-matrix

fix(runtime): build leader init lazily with current room config (#235)
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

fix(test): add beforeAll to reset provider registry
  packages/daemon/tests/unit/rpc-handlers/auth-handlers.test.ts
Due: none

fix(test): use getProviderRegistry() directly in auth-handlers tests
  packages/daemon/tests/unit/rpc-handlers/auth-handlers.test.ts
Due: none

fix(test): skip dialog-handlers tests in CI
  packages/daemon/tests/unit/rpc-handlers/dialog-handlers.test.ts
Due: none

fix(test): reset provider registry in global setup
  packages/daemon/tests/unit/rpc-handlers/auth-handlers.test.ts
  packages/daemon/tests/unit/setup.ts
Due: none

fix(test): re-export resetProviderRegistry in query-options-builder mock
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
Due: none

revert: remove mock.module from query-options-builder.test.ts
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
Due: none

refactor(daemon): remove mirrored group messages and use sdk+events timeline
  packages/daemon/src/lib/room/runtime/human-message-routing.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/room/state/session-group-repository.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

test(daemon): update room tests for task_group_events timeline
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/room/runtime/human-message-routing.test.ts
  packages/daemon/tests/unit/room/session-group-repository.test.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
  packages/daemon/tests/unit/rpc-handlers/task-get-group-messages.test.ts
Due: none

docs(web): update task conversation data-source comment
  packages/web/src/components/room/TaskConversationRenderer.tsx
Due: web, e2e-matrix

ci(online): prefer MiniMax highspeed for daemon online tests when available
  .github/workflows/main.yml
Due: none

fix(room): stream status events live and remove task timeline caps
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
Due: daemon

fix(task): harden group message cursor paging
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/task-get-group-messages.test.ts
  packages/web/src/components/room/TaskConversationRenderer.tsx
  packages/web/src/components/room/TaskView.tsx
Due: daemon, web, e2e-matrix

docs(plan): add plan for using script-based mock SDK for online tests
  docs/plans/use-script-based-mock-sdk-for-online-tests-2.md
Due: none

feat(room): add task archive and session hide functionality
  packages/daemon/src/lib/room/managers/room-manager.ts
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/task-repository.test.ts
  packages/shared/src/types/neo.ts
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

docs: update plan with creation date
  docs/plans/use-script-based-mock-sdk-for-online-tests-2.md
Due: none

docs(plan): use script-based mock SDK for online tests
  docs/plans/use-script-based-mock-sdk-for-online-tests-2.md
Due: none

fix(runtime): make leader model reactive and handle empty strings
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/leader-model-resolution.test.ts
Due: daemon

feat(room): add per-room worker/leader model selection and UI enhancements
  packages/daemon/src/lib/room/managers/room-manager.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/leader-model-resolution.test.ts
  packages/daemon/tests/unit/room/room-manager.test.ts
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/islands/RoomContextPanel.tsx
Due: daemon, web, e2e-matrix

docs(plan): add timeout pattern reference, clarify Task 2 scope
  docs/plans/use-script-based-mock-sdk-for-online-tests-2.md
Due: none
