Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix: restore room runtime config updates and leader model resolution
  packages/daemon/src/lib/room/runtime/room-runtime.ts
Due: daemon

test: fix RoomDashboard mocks for runtime models and review tab
  packages/web/src/components/room/RoomDashboard.test.tsx
Due: none

ci: bump Bun to 1.3.10 in workflows
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

chore: sync dependency and lockfile updates
  bun.lock
  package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/web/package.json
Due: none

fix: inline Copilot token refresh to match pi-ai 0.57.1 exports
  packages/daemon/src/lib/providers/github-copilot-provider.ts
Due: daemon

refactor: use pi-ai oauth export for Copilot token refresh
  packages/daemon/src/lib/providers/github-copilot-provider.ts
Due: daemon

feat: add dependsOn, taskType, and assignedAgent support to task tools
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/daemon/tests/unit/room/runtime/human-message-routing.test.ts
Due: daemon

fix: use direct URL for Dev Proxy installation
  .github/workflows/main.yml
Due: none

chore: remove mock SDK from codebase
  .github/workflows/main.yml
  docs/plans/use-dev-proxy-for-all-online-tests.md
  docs/plans/use-script-based-mock-sdk-for-online-tests-2.md
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/helpers/mock-sdk.ts
  packages/daemon/tests/online/agent/agent-pipeline.test.ts
  packages/daemon/tests/online/agent/agent-session-sdk.test.ts
  packages/daemon/tests/online/convo/multiturn-conversation.test.ts
  packages/daemon/tests/online/features/message-delivery-mode-queue.test.ts
  packages/daemon/tests/online/features/message-persistence.test.ts
  packages/daemon/tests/online/lifecycle/session-resume.test.ts
  packages/daemon/tests/online/rewind/rewind-feature.test.ts
  packages/daemon/tests/online/rewind/selective-rewind.test.ts
  packages/daemon/tests/online/room/room-chat-constraints.test.ts
  packages/daemon/tests/online/rpc/rpc-message-handlers.test.ts
  packages/daemon/tests/online/sdk/sdk-streaming-failures.test.ts
  packages/daemon/tests/unit/mock-script.test.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
  packages/daemon/tests/unit/room/runtime/human-message-routing.test.ts
Due: daemon

docs: add plan for pi-mono tool support
  docs/plans/fix-pi-mono-integration-for-transparent-multi-provider-suppo.md
Due: none

style: apply biome formatting
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/tests/unit/room/leader-agent.test.ts
  packages/daemon/tests/unit/room/runtime/human-message-routing.test.ts
Due: daemon

chore: add @mariozechner/pi-coding-agent dependency
  bun.lock
  knip.json
  packages/daemon/package.json
Due: none

docs: address review feedback on pi-mono tool support plan
  docs/plans/fix-pi-mono-integration-for-transparent-multi-provider-suppo.md
Due: none

fix: skip starting Dev Proxy if already running from CI
  packages/daemon/tests/helpers/daemon-server.ts
Due: none

docs: pivot pi-mono plan to use pi-coding-agent
  docs/plans/fix-pi-mono-integration-for-transparent-multi-provider-suppo.md
Due: none

docs: address review feedback on pi-mono plan
  docs/plans/fix-pi-mono-integration-for-transparent-multi-provider-suppo.md
Due: none

refactor: Replace SessionsPage session list with a welcome message and add corresponding i18n strings.
  packages/web/src/islands/SessionsPage.tsx
  packages/web/src/lib/i18n/en.ts
  packages/web/src/lib/i18n/zh.ts
Due: web, e2e-matrix

test: validate and measure Dev Proxy integration improvements
  .devproxy/devproxyrc.json
  docs/dev-proxy-validation-report.md
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/helpers/dev-proxy.ts
Due: daemon

docs: update validation report with SDK subprocess findings
  docs/dev-proxy-validation-report.md
Due: none

feat: Implement inline editing for room context and enhance goal priority selection with a dropdown, alongside runtime state synchronization and i18n updates.
  packages/web/src/components/room/RoomOverview.tsx
  packages/web/src/components/room/RoomSettings.tsx
  packages/web/src/components/ui/Breadcrumb.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/lib/i18n/en.ts
  packages/web/src/lib/i18n/zh.ts
  packages/web/src/lib/room-store.ts
Due: web, e2e-matrix

feat: add mock API server alternative to Dev Proxy
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/helpers/mock-api-server.ts
Due: none

refactor: Adjust UI padding, simplify breadcrumb components, and refine session title handling.
  packages/cli/src/dev-server.ts
  packages/web/src/components/ChatHeader.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/ui/Breadcrumb.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/RoomContextPanel.tsx
Due: web, e2e-matrix

fix: use ANTHROPIC_BASE_URL for Dev Proxy integration
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/helpers/dev-proxy.ts
Due: none

docs: update validation report with ANTHROPIC_BASE_URL solution
  docs/dev-proxy-validation-report.md
Due: none

style: Increase vertical padding for Room, Chat, and TaskView headers.
  packages/web/src/components/ChatHeader.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/ui/Breadcrumb.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/Room.tsx
Due: web, e2e-matrix

feat: Add pulsing animation to active agent avatars, redesign the floating goal input, and improve reactive goal progress updates.
  packages/web/src/components/room/RoomAgentAvatars.tsx
  packages/web/src/components/room/RoomOverview.tsx
  packages/web/src/lib/i18n/en.ts
  packages/web/src/lib/i18n/zh.ts
  packages/web/src/lib/room-store.ts
  packages/web/src/styles.css
Due: web, e2e-matrix

refactor: Clean up JSX structure and simplify component logic across various UI files.
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/web/src/components/ArchiveConfirmDialog.tsx
  packages/web/src/components/ChatHeader.tsx
  packages/web/src/components/ConnectionOverlay.tsx
  packages/web/src/components/InputActionsMenu.tsx
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/components/WorktreeChoiceInline.tsx
  packages/web/src/components/lobby/CreateRoomModal.tsx
  packages/web/src/components/lobby/RoomGrid.tsx
  packages/web/src/components/room/AgentSettingsPopover.tsx
  packages/web/src/components/room/RoomAgentAvatars.tsx
  packages/web/src/components/room/RoomContext.tsx
  packages/web/src/components/room/RoomOverview.tsx
  packages/web/src/components/room/RoomSessions.tsx
  packages/web/src/components/room/RoomSettings.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/settings/GeneralSettings.tsx
  packages/web/src/components/settings/McpServersSettings.tsx
  packages/web/src/components/ui/Breadcrumb.tsx
  packages/web/src/hooks/useSessionActions.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/islands/RoomList.tsx
  packages/web/src/islands/SessionsPage.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
  packages/web/src/lib/i18n/en.ts
  packages/web/src/lib/i18n/zh.ts
  packages/web/src/styles.css
Due: daemon, web, e2e-matrix

feat: Separate room runtime planning and execution group scheduling and emit full goal objects on updates.
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/tests/unit/room/room-runtime.test.ts
Due: daemon

feat: Implement task retry functionality for failed tasks across the daemon and web UI.
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/src/storage/repositories/task-repository.ts
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/lib/i18n/en.ts
  packages/web/src/lib/i18n/zh.ts
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

feat: Add retry functionality for failed tasks, introduce a collapsible task list in the room overview, and reposition the priority dropdown.
  packages/web/src/components/room/RoomOverview.tsx
  packages/web/src/lib/i18n/en.ts
  packages/web/src/lib/i18n/zh.ts
Due: web, e2e-matrix

refactor: Standardize popover and dropdown styling with increased z-index, max-height, and overflow properties.
  packages/web/src/components/room/AgentSettingsPopover.tsx
  packages/web/src/components/room/RoomAgents.tsx
Due: web, e2e-matrix

test: validate and measure Dev Proxy integration improvements (#264)
  .devproxy/devproxyrc.json
  docs/dev-proxy-validation-report.md
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/helpers/dev-proxy.ts
  packages/daemon/tests/helpers/mock-api-server.ts
Due: daemon

docs: add Task 6 investigation findings
  docs/task-6-investigation.md
Due: none

docs: add Task 6 completion summary
  docs/task-6-summary.md
Due: none

refactor: remove legacy query hack mock SDK
  .github/workflows/main.yml
  packages/daemon/.env.example
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/helpers/mock-sdk.ts
  packages/daemon/tests/online/agent/agent-pipeline.test.ts
  packages/daemon/tests/online/agent/agent-session-sdk.test.ts
  packages/daemon/tests/online/convo/multiturn-conversation.test.ts
  packages/daemon/tests/online/features/message-delivery-mode-queue.test.ts
  packages/daemon/tests/online/features/message-persistence.test.ts
  packages/daemon/tests/online/lifecycle/session-resume.test.ts
  packages/daemon/tests/online/rewind/rewind-feature.test.ts
  packages/daemon/tests/online/rewind/selective-rewind.test.ts
  packages/daemon/tests/online/room/room-chat-constraints.test.ts
  packages/daemon/tests/online/rpc/rpc-message-handlers.test.ts
  packages/daemon/tests/online/sdk/sdk-streaming-failures.test.ts
  packages/daemon/tests/unit/mock-script.test.ts
Due: none

feat: leader handles post-approval merge and complete
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/runtime/lifecycle-hooks.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
Due: daemon

fix: correct Dev Proxy installation in CI
  .github/workflows/main.yml
Due: none

docs: address review feedback on post-approval merge flow
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/room-runtime-flow.test.ts
Due: daemon

fix: use correct dev-proxy setup.sh URL
  .github/workflows/main.yml
Due: none

feat: Add setTaskStatus method with validation and clear error/result/progress on restart
  packages/daemon/src/lib/room/managers/task-manager.ts
  packages/daemon/src/lib/room/tools/room-agent-tools.ts
  packages/daemon/src/lib/rpc-handlers/task-handlers.ts
  packages/daemon/tests/unit/room/room-agent-tools.test.ts
  packages/shared/src/types/neo.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
