Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

test: remove View details tests from RoomDashboard.test.tsx
  packages/web/src/components/room/RoomDashboard.test.tsx
Due: none

docs: address plan review feedback (P1 and P2 issues)
  docs/plans/system-wide-referencing-system/00-overview.md
  docs/plans/system-wide-referencing-system/01-core-types-and-rpc-infrastructure.md
  docs/plans/system-wide-referencing-system/02-frontend-autocomplete-menu.md
  docs/plans/system-wide-referencing-system/03-backend-reference-resolution.md
  docs/plans/system-wide-referencing-system/04-reference-token-rendering.md
  docs/plans/system-wide-referencing-system/05-e2e-testing.md
Due: none

fix(goal-handlers): resolve task IDs in goal.linkTask handler
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/goal-handlers.test.ts
Due: daemon

docs: address re-review feedback (1 P1, 5 P2, 3 P3)
  docs/plans/system-wide-referencing-system/00-overview.md
  docs/plans/system-wide-referencing-system/01-core-types-and-rpc-infrastructure.md
  docs/plans/system-wide-referencing-system/02-frontend-autocomplete-menu.md
  docs/plans/system-wide-referencing-system/03-backend-reference-resolution.md
  docs/plans/system-wide-referencing-system/04-reference-token-rendering.md
Due: none

docs: System-wide @ referencing system plan (#830)
  docs/plans/system-wide-referencing-system/00-overview.md
  docs/plans/system-wide-referencing-system/01-core-types-and-rpc-infrastructure.md
  docs/plans/system-wide-referencing-system/02-frontend-autocomplete-menu.md
  docs/plans/system-wide-referencing-system/03-backend-reference-resolution.md
  docs/plans/system-wide-referencing-system/04-reference-token-rendering.md
  docs/plans/system-wide-referencing-system/05-e2e-testing.md
Due: none

refactor(ui): update room bottom nav icons and navigation targets
  packages/web/src/islands/BottomTabBar.tsx
Due: web, e2e-matrix

fix(goal-handlers): resolve short task IDs to full UUIDs in task.approve (#831)
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/tests/unit/rpc-handlers/goal-handlers.test.ts
Due: daemon

feat(shared): define reference types for @ referencing system
  packages/shared/src/mod.ts
  packages/shared/src/types/reference.ts
  packages/shared/tests/reference.test.ts
Due: daemon

refactor(ui): fix room bottom nav active state and add tests
  packages/web/src/islands/BottomTabBar.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/__tests__/BottomTabBar.test.tsx
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

feat(file-index): implement workspace file index with polling-based cache refresh
  packages/daemon/.env.example
  packages/daemon/src/lib/file-index.ts
  packages/daemon/tests/unit/file-index.test.ts
Due: daemon

fix(web): fix pre-existing test regressions in final regression pass (#824)
  packages/web/src/components/__tests__/ScrollToBottomButton.test.tsx
  packages/web/src/components/room/TaskViewV2.test.tsx
  packages/web/src/components/room/TaskViewV2.tsx
  packages/web/src/components/room/__tests__/RuntimeMessageRenderer.test.tsx
  packages/web/src/hooks/useTurnBlocks.ts
Due: web, e2e-matrix

fix(agent): clear models cache on restart/reset to fix mid-turn model switch
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/tests/unit/agent/query-lifecycle-manager.test.ts
  packages/web/src/components/room/TaskInfoPanel.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/hooks/useSessionActions.ts
Due: daemon, web, e2e-matrix

refactor(ui): reduce task list info density and update mobile room bottom nav (#829)
  packages/web/src/components/room/RoomDashboard.test.tsx
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/islands/BottomTabBar.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/__tests__/BottomTabBar.test.tsx
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

feat(shared): define reference types for @ referencing system (#835)
  packages/shared/src/mod.ts
  packages/shared/src/types/reference.ts
  packages/shared/tests/reference.test.ts
Due: daemon

feat(web): add useReferenceAutocomplete hook for @ reference system
  packages/shared/src/types/reference.ts
  packages/shared/tests/types/reference.test.ts
  packages/web/src/hooks/__tests__/useReferenceAutocomplete.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useReferenceAutocomplete.ts
Due: daemon, web, e2e-matrix

fix(web): address review feedback on useReferenceAutocomplete
  packages/web/src/hooks/__tests__/index.test.ts
  packages/web/src/hooks/__tests__/useReferenceAutocomplete.test.ts
  packages/web/src/hooks/useReferenceAutocomplete.ts
Due: web, e2e-matrix

fix(web): Escape in handleKeyDown calls close() to reset results and selectedIndex
  packages/shared/tests/reference.test.ts
  packages/web/src/hooks/__tests__/useReferenceAutocomplete.test.ts
  packages/web/src/hooks/useReferenceAutocomplete.ts
Due: web, e2e-matrix

fix(file-index): address P1/P2 review feedback
  packages/daemon/src/app.ts
  packages/daemon/src/lib/file-index.ts
  packages/daemon/tests/unit/file-index.test.ts
Due: daemon

feat(web): add useReferenceAutocomplete hook for @ reference system (#836)
  packages/shared/src/types/reference.ts
  packages/shared/tests/reference.test.ts
  packages/shared/tests/types/reference.test.ts
  packages/web/src/hooks/__tests__/index.test.ts
  packages/web/src/hooks/__tests__/useReferenceAutocomplete.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useReferenceAutocomplete.ts
Due: daemon, web, e2e-matrix

feat(file-index): implement workspace file index with polling-based cache refresh (#837)
  packages/daemon/.env.example
  packages/daemon/src/app.ts
  packages/daemon/src/lib/file-index.ts
  packages/daemon/tests/unit/file-index.test.ts
Due: daemon

feat(reference): implement reference.resolve RPC handler with shared types
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/reference-handlers.test.ts
  packages/shared/src/types/reference.ts
  packages/shared/tests/reference.test.ts
Due: daemon

fix(reference): add room isolation for tasks and binary file detection
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/reference-handlers.test.ts
  packages/shared/tests/reference.test.ts
Due: daemon

feat(reference): implement reference.resolve RPC handler with shared types (#839)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/reference-handlers.test.ts
  packages/shared/src/types/reference.ts
  packages/shared/tests/reference.test.ts
Due: daemon

feat(web): add ReferenceAutocomplete component for @ reference system
  packages/web/src/components/ReferenceAutocomplete.tsx
  packages/web/src/components/__tests__/ReferenceAutocomplete.test.tsx
Due: web, e2e-matrix

fix(agent): clear models cache on restart/reset to fix mid-turn model switch (#834)
  packages/daemon/src/lib/agent/query-lifecycle-manager.ts
  packages/daemon/tests/unit/agent/query-lifecycle-manager.test.ts
  packages/web/src/components/room/TaskInfoPanel.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/hooks/useSessionActions.ts
Due: daemon, web, e2e-matrix

feat(session): implement message preprocessing with @ reference resolution
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/session/reference-resolver.ts
  packages/daemon/tests/unit/reference-message-persistence.test.ts
Due: daemon

feat(references): implement file/folder resolvers and shared reference types
  packages/daemon/src/lib/agent/reference-resolver.ts
  packages/daemon/tests/unit/reference-resolver.test.ts
Due: daemon

feat(web): add ReferenceAutocomplete component for @ reference system (#843)
  packages/web/src/components/ReferenceAutocomplete.tsx
  packages/web/src/components/__tests__/ReferenceAutocomplete.test.tsx
Due: web, e2e-matrix

fix(space): Phase 1 critical gap fixes for Space system reliability
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/tests/unit/space/goal-repository-space-goal-progress.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

feat(reference): implement reference.search RPC handler with FileIndex
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
  packages/daemon/tests/unit/reference-handlers.test.ts
Due: daemon

feat(references): implement file/folder resolvers and shared reference types (#842)
  packages/daemon/src/lib/agent/reference-resolver.ts
  packages/daemon/tests/unit/reference-resolver.test.ts
Due: daemon

fix(reference): address P1/P2/P3 review feedback
  packages/daemon/tests/unit/reference-handlers.test.ts
Due: none

feat(web): integrate reference autocomplete with InputTextarea
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/__tests__/InputTextarea.test.tsx
  packages/web/src/hooks/__tests__/useReferenceAutocomplete.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useReferenceAutocomplete.ts
Due: web, e2e-matrix

fix(reference): collapse fileIndex.search call to single line for formatter
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
Due: daemon

feat(agent): create ReferenceResolver service and shared reference types
  packages/shared/src/types/reference.ts
Due: daemon

fix(web): address review feedback on reference autocomplete integration
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/ReferenceAutocomplete.tsx
Due: web, e2e-matrix

feat(reference): implement reference.search RPC handler with FileIndex (#841)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
  packages/daemon/tests/unit/reference-handlers.test.ts
Due: daemon

fix(session): wire resolver into production, fix displayText titles and unresolved tracking
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/session/reference-resolver.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/tests/unit/reference-message-persistence.test.ts
Due: daemon

fix(space): address PR review feedback for Phase 1 gap fixes
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/goal-repository.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
Due: daemon

fix(shared): use type assertions for partial NeoTask/RoomGoal test fixtures
  packages/shared/tests/reference.test.ts
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
