Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

feat(web): integrate reference autocomplete with InputTextarea (#846)
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/ReferenceAutocomplete.tsx
  packages/web/src/components/__tests__/InputTextarea.test.tsx
  packages/web/src/hooks/__tests__/useReferenceAutocomplete.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useReferenceAutocomplete.ts
Due: web, e2e-matrix

test(space): update getRehydratableRuns test for pending run inclusion
  packages/daemon/tests/unit/storage/space-workflow-run-repository.test.ts
Due: none

feat(web): add MentionToken component for @ reference rendering
  packages/web/src/components/MentionToken.tsx
  packages/web/src/components/__tests__/MentionToken.test.tsx
Due: web, e2e-matrix

feat(agent): create ReferenceResolver service and shared reference types (#838)
  packages/shared/src/types/reference.ts
  packages/shared/tests/reference.test.ts
Due: daemon

fix(test): add getTaskRepo/getGoalRepo stubs to session-manager mock Database
  packages/daemon/tests/unit/session/session-manager.test.ts
Due: none

feat(web): integrate reference autocomplete with MessageInput
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/__tests__/MessageInput.queue-mode.test.tsx
  packages/web/src/components/__tests__/MessageInput.reference-autocomplete.test.tsx
  packages/web/src/components/__tests__/ReferenceAutocomplete.test.tsx
Due: web, e2e-matrix

fix(web): address review feedback on reference autocomplete integration
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/__tests__/MessageInput.reference-autocomplete.test.tsx
Due: web, e2e-matrix

chore: update tests to match grouped ReferenceAutocomplete after rebase
  packages/web/src/components/__tests__/MessageInput.reference-autocomplete.test.tsx
  packages/web/src/components/__tests__/ReferenceAutocomplete.test.tsx
Due: none

feat(session): implement message preprocessing with @ reference resolution (#844)
  packages/daemon/src/lib/rpc-handlers/reference-handlers.ts
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/session/reference-resolver.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/tests/unit/reference-message-persistence.test.ts
  packages/daemon/tests/unit/session/session-manager.test.ts
Due: daemon

fix(web): address accessibility and deduplication review feedback for MentionToken
  packages/web/src/components/MentionToken.tsx
  packages/web/src/components/ReferenceAutocomplete.tsx
  packages/web/src/components/ReferenceTypeIcon.tsx
  packages/web/src/components/__tests__/MentionToken.test.tsx
Due: web, e2e-matrix

feat(e2e): add room entity and reference autocomplete helpers
  packages/e2e/tests/helpers/reference-helpers.ts
  packages/e2e/tests/helpers/room-helpers.ts
Due: none

feat(web): integrate reference autocomplete with MessageInput (#845)
  packages/web/src/components/InputTextarea.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/__tests__/MessageInput.queue-mode.test.tsx
  packages/web/src/components/__tests__/MessageInput.reference-autocomplete.test.tsx
Due: web, e2e-matrix

feat(web): integrate @ref token rendering in SDKUserMessage
  packages/web/src/components/sdk/MentionToken.tsx
  packages/web/src/components/sdk/SDKUserMessage.tsx
  packages/web/src/components/sdk/__tests__/MentionToken.test.tsx
  packages/web/src/components/sdk/__tests__/SDKUserMessage.test.tsx
Due: web, e2e-matrix

feat(web): add MentionToken component for @ reference rendering (#850)
  packages/web/src/components/MentionToken.tsx
  packages/web/src/components/ReferenceAutocomplete.tsx
  packages/web/src/components/ReferenceTypeIcon.tsx
  packages/web/src/components/__tests__/MentionToken.test.tsx
Due: web, e2e-matrix

fix(e2e): address review feedback on room/reference helpers
  packages/e2e/tests/helpers/reference-helpers.ts
  packages/e2e/tests/helpers/room-helpers.ts
Due: none

feat(web): mobile UX, touch support, and full autocomplete integration for @ references
  packages/web/src/components/ReferenceAutocomplete.tsx
  packages/web/src/components/__tests__/ReferenceAutocomplete.test.tsx
Due: web, e2e-matrix

fix(web): address P1/P2 review issues in MentionToken
  packages/web/src/components/sdk/MentionToken.tsx
  packages/web/src/components/sdk/SDKUserMessage.tsx
  packages/web/src/components/sdk/__tests__/MentionToken.test.tsx
Due: web, e2e-matrix

fix(e2e): remove deleteTask — no task.delete RPC exists
  packages/e2e/tests/helpers/room-helpers.ts
Due: none

fix(web): address review feedback for mobile UX autocomplete PR
  packages/web/src/components/CommandAutocomplete.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/__tests__/CommandAutocomplete.test.tsx
  packages/web/src/components/__tests__/MessageInput.replaceActiveAtQuery.test.ts
Due: web, e2e-matrix

feat(web): integrate @ref token rendering in SDKUserMessage (#852)
  packages/web/src/components/sdk/MentionToken.tsx
  packages/web/src/components/sdk/SDKUserMessage.tsx
  packages/web/src/components/sdk/__tests__/MentionToken.test.tsx
  packages/web/src/components/sdk/__tests__/SDKUserMessage.test.tsx
Due: web, e2e-matrix

feat(e2e): add room entity and reference autocomplete helpers (#851)
  packages/e2e/tests/helpers/reference-helpers.ts
  packages/e2e/tests/helpers/room-helpers.ts
Due: none

feat(agent): implement agent context injection for @ references (#3.4)
  packages/daemon/src/lib/agent/reference-context-builder.ts
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/session/reference-resolver.ts
  packages/daemon/tests/unit/reference-context-builder.test.ts
Due: daemon

task/mobile ux and touch support (#849)
  packages/web/src/components/CommandAutocomplete.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/ReferenceAutocomplete.tsx
  packages/web/src/components/__tests__/CommandAutocomplete.test.tsx
  packages/web/src/components/__tests__/MessageInput.replaceActiveAtQuery.test.ts
  packages/web/src/components/__tests__/ReferenceAutocomplete.test.tsx
Due: web, e2e-matrix

feat(agent): implement agent context injection for @ references (#3.4) (#848)
  packages/daemon/src/lib/agent/reference-context-builder.ts
  packages/daemon/src/lib/session/message-persistence.ts
  packages/daemon/src/lib/session/reference-resolver.ts
  packages/daemon/tests/unit/reference-context-builder.test.ts
Due: daemon

test(e2e): add reference autocomplete E2E tests and helpers
  packages/e2e/tests/features/reference-autocomplete.e2e.ts
  packages/e2e/tests/helpers/reference-helpers.ts
Due: none

fix(e2e): address review feedback on reference autocomplete tests
  packages/e2e/tests/features/reference-autocomplete.e2e.ts
  packages/e2e/tests/helpers/reference-helpers.ts
  packages/web/src/components/ReferenceAutocomplete.tsx
Due: web, e2e-matrix

test(e2e): add reference autocomplete E2E tests and helpers (#854)
  packages/e2e/tests/features/reference-autocomplete.e2e.ts
  packages/e2e/tests/helpers/reference-helpers.ts
  packages/web/src/components/ReferenceAutocomplete.tsx
Due: web, e2e-matrix

feat(references): apply faded strikethrough visual state for deleted @ref entities
  packages/web/src/components/sdk/MentionToken.tsx
  packages/web/src/components/sdk/__tests__/MentionToken.test.tsx
Due: web, e2e-matrix

fix(e2e): address review feedback on reference autocomplete E2E tests
  packages/e2e/tests/features/reference-autocomplete.e2e.ts
Due: none

feat(web,e2e): integrate MentionToken rendering and add reference autocomplete E2E tests
  packages/e2e/tests/features/reference-autocomplete.e2e.ts
Due: none

docs: comprehensive Space V2 vs Room gap analysis with implementation plan
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu.md
Due: none

fix: address review feedback on space gap analysis plan
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu.md
Due: none

docs: enhance space gap analysis with milestones and detailed specs
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu.md
Due: none

fix: address P2 review feedback on plan
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu.md
Due: none

docs: split plan into per-milestone files
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/00-overview.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/01-foundation.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/02-runtime-reliability.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/03-goal-integration-hitl-ui.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/04-lifecycle-hooks.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/05-rate-limit-pipeline-messaging.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/06-cron-goal-ui-dashboard.md
Due: none

docs: rewrite plan with end-to-end workflow execution focus
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/00-overview.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/01-foundation.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/01-workflow-execution-foundation.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/02-runtime-reliability.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/03-goal-integration-hitl-ui.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/03-monitoring-debugging.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/04-lifecycle-hooks.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/04-lifecycle-quality-gates.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/05-human-in-the-loop.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/05-rate-limit-pipeline-messaging.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/06-advanced-features.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/06-cron-goal-ui-dashboard.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/07-room-parity-reference.md
Due: none

docs: rewrite Space workflow system plan from scratch
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/00-overview.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/01-workflow-execution-foundation.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/01-workflow-execution-mvp.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/02-runtime-reliability.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/02-workflow-reliability.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/03-monitoring-debugging.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/03-workflow-monitoring-debugging.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/04-human-in-the-loop.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/04-lifecycle-quality-gates.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/05-advanced-workflow-features.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/05-human-in-the-loop.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/06-advanced-features.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/06-room-parity-reference.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/07-room-parity-reference.md
Due: none

feat(references): apply faded strikethrough visual state for deleted @ref entities (#853)
  packages/web/src/components/sdk/MentionToken.tsx
  packages/web/src/components/sdk/__tests__/MentionToken.test.tsx
Due: web, e2e-matrix

feat(web,e2e): integrate MentionToken rendering and add reference autocomplete E2E tests (#855)
  packages/e2e/tests/features/reference-autocomplete.e2e.ts
Due: none

fix(plan): address P0/P1 issues from review round 5
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/00-overview.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/00a-workflow-model-assessment.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/01-workflow-execution-mvp.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/02-workflow-reliability.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/03-workflow-monitoring-debugging.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/04-human-in-the-loop.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/05-advanced-workflow-features.md
  docs/plans/comprehensive-space-system-review-gap-analysis-vs-room-featu/06-room-parity-reference.md
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
