Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

plan: implement workflow visual editor
  docs/plans/implement-workflow-visual-editor/00-overview.md
  docs/plans/implement-workflow-visual-editor/01-canvas-foundation.md
  docs/plans/implement-workflow-visual-editor/02-node-rendering.md
  docs/plans/implement-workflow-visual-editor/03-edge-rendering.md
  docs/plans/implement-workflow-visual-editor/04-configuration-panel.md
  docs/plans/implement-workflow-visual-editor/05-layout-and-serialization.md
  docs/plans/implement-workflow-visual-editor/06-integration-and-toggle.md
Due: none

docs: address review feedback on workflow visual editor plan
  docs/plans/implement-workflow-visual-editor/00-overview.md
  docs/plans/implement-workflow-visual-editor/01-canvas-foundation.md
  docs/plans/implement-workflow-visual-editor/02-node-rendering.md
  docs/plans/implement-workflow-visual-editor/04-configuration-panel.md
  docs/plans/implement-workflow-visual-editor/05-layout-and-serialization.md
  docs/plans/implement-workflow-visual-editor/06-integration-and-toggle.md
  docs/plans/implement-workflow-visual-editor/07-testing-and-stabilization.md
Due: none

ci: skip unstable space E2E tests (export-import, workflow-rules)
  .github/workflows/main.yml
Due: none

ci: skip unstable space E2E tests (export-import, workflow-rules) (#483)
  .github/workflows/main.yml
Due: none

docs: plan for workflow visual editor implementation (#479)
  docs/plans/implement-workflow-visual-editor/00-overview.md
  docs/plans/implement-workflow-visual-editor/01-canvas-foundation.md
  docs/plans/implement-workflow-visual-editor/02-node-rendering.md
  docs/plans/implement-workflow-visual-editor/03-edge-rendering.md
  docs/plans/implement-workflow-visual-editor/04-configuration-panel.md
  docs/plans/implement-workflow-visual-editor/05-layout-and-serialization.md
  docs/plans/implement-workflow-visual-editor/06-integration-and-toggle.md
  docs/plans/implement-workflow-visual-editor/07-testing-and-stabilization.md
Due: none

feat: add VisualCanvas component with pan and zoom (Task 1.2)
  packages/web/src/components/space/visual-editor/VisualCanvas.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualCanvas.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
  packages/web/src/components/space/visual-editor/types.ts
Due: web, e2e-matrix

feat: add layout column to space_workflows for visual editor (Task 1.1)
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/space/space-workflow.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-30_test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: sync room chat session model when defaultModel changes to prevent glm-5-turbo errors
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
Due: daemon

fix: address review feedback on VisualCanvas
  packages/web/src/components/space/visual-editor/VisualCanvas.tsx
  packages/web/src/components/space/visual-editor/index.ts
  packages/web/src/components/space/visual-editor/types.ts
Due: web, e2e-matrix

feat: add VisualCanvas component with pan and zoom (Task 1.2) (#484)
  packages/web/src/components/space/visual-editor/VisualCanvas.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualCanvas.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
  packages/web/src/components/space/visual-editor/types.ts
Due: web, e2e-matrix

feat: DAG auto-layout algorithm for workflow visual editor (Task 5.1)
  packages/web/src/components/space/visual-editor/__tests__/layout.test.ts
  packages/web/src/components/space/visual-editor/layout.ts
Due: web, e2e-matrix

fix: add layout column to inline space_workflows table schemas in tests
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/rpc-handlers/space-export-import-handlers.test.ts
Due: none

feat: add SVG overlay layer for edges in VisualCanvas (Task 1.3)
  packages/web/src/components/space/visual-editor/VisualCanvas.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualCanvas.test.tsx
Due: web, e2e-matrix

feat: add WorkflowNode canvas component (Task 2.1)
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
Due: web, e2e-matrix

feat: add node selection and multi-select to visual editor (Task 2.3)
  packages/web/src/components/space/visual-editor/VisualCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowCanvas.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
Due: web, e2e-matrix

feat: add layout column to space_workflows for visual editor (Task 1.1) (#485)
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/space/space-workflow.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-30_test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: address review feedback on node selection (Task 2.3)
  packages/web/src/components/space/visual-editor/VisualCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowCanvas.test.tsx
Due: web, e2e-matrix

feat: replace hidden dropdown with inline Cancel/Complete buttons in TaskView (Task 2.2) (#480)
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/RoomTasks.test.tsx
  packages/web/src/components/room/RoomTasks.tsx
  packages/web/src/components/room/TaskView.tsx
Due: web, e2e-matrix

fix: pass provider through agent session init to fix non-Anthropic model routing
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/src/lib/room/agents/coder-agent.ts
  packages/daemon/src/lib/room/agents/general-agent.ts
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/agents/planner-agent.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
Due: daemon

fix: consolidate provider inference heuristic, fix room.create, add codex support
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/unit/providers/provider-registry.test.ts
Due: daemon

fix: use ProviderRegistry.findProviderForModel() in inferProviderForModel
  packages/daemon/src/lib/providers/registry.ts
Due: daemon

feat: add SVG overlay layer for edges in VisualCanvas (Task 1.3) (#488)
  packages/web/src/components/space/visual-editor/VisualCanvas.tsx
  packages/web/src/components/space/visual-editor/__tests__/VisualCanvas.test.tsx
Due: web, e2e-matrix

feat: add WorkflowNode canvas component (Task 2.1) (#490)
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
Due: web, e2e-matrix

feat: add CanvasToolbar with zoom controls and fit-to-view (Task 1.4)
  packages/web/src/components/space/visual-editor/CanvasToolbar.tsx
  packages/web/src/components/space/visual-editor/VisualCanvas.tsx
  packages/web/src/components/space/visual-editor/__tests__/CanvasToolbar.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
Due: web, e2e-matrix

fix: sync room chat session model when defaultModel changes to prevent glm-5-turbo errors (#486)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/providers/registry.ts
  packages/daemon/src/lib/room/agents/coder-agent.ts
  packages/daemon/src/lib/room/agents/general-agent.ts
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/agents/planner-agent.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/rpc-handlers/room-handlers.ts
  packages/daemon/tests/unit/providers/provider-registry.test.ts
  packages/daemon/tests/unit/rpc/room-handlers.test.ts
Due: daemon

feat: DAG auto-layout algorithm for workflow visual editor (Task 5.1) (#487)
  packages/web/src/components/space/visual-editor/__tests__/layout.test.ts
  packages/web/src/components/space/visual-editor/layout.ts
Due: web, e2e-matrix

feat: add CanvasToolbar with zoom controls and fit-to-view (Task 1.4) (#489)
  packages/web/src/components/space/visual-editor/CanvasToolbar.tsx
  packages/web/src/components/space/visual-editor/VisualCanvas.tsx
  packages/web/src/components/space/visual-editor/__tests__/CanvasToolbar.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
Due: web, e2e-matrix

feat: add node selection and multi-select to visual editor (Task 2.3) (#491)
  packages/web/src/components/space/visual-editor/VisualCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowCanvas.test.tsx
  packages/web/src/components/space/visual-editor/index.ts
Due: web, e2e-matrix

feat: implement WorkflowNode with drag-and-drop support (Task 2.2)
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
Due: web, e2e-matrix

fix: suppress click-after-drag, guard against scale=0, add threshold
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
Due: none

fix: integrate WorkflowNode drag props into WorkflowCanvas after rebase onto dev
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowCanvas.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
Due: web, e2e-matrix

feat: implement WorkflowNode with drag-and-drop support (Task 2.2) (#492)
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowCanvas.test.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
Due: web, e2e-matrix

feat: add /spaces route with standalone SpacesPage
  packages/web/src/App.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/SpacesPage.tsx
  packages/web/src/lib/router.ts
Due: web, e2e-matrix

feat: add session composer UI to SpacesPage
  packages/web/src/islands/SpacesPage.tsx
Due: web, e2e-matrix

feat: redesign Context Panel with thread-style space navigation
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/web/src/App.tsx
  packages/web/src/components/space/SpaceContextPanel.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

feat: add Global Spaces Agent with auto-provisioned session and MCP tools
  packages/daemon/src/lib/rpc-handlers/global-spaces-handlers.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/space/agents/global-spaces-agent.ts
  packages/daemon/src/lib/space/provision-global-agent.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/tools/global-spaces-tools.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/shared/src/types.ts
  packages/web/src/islands/SpacesPage.tsx
Due: daemon, web, e2e-matrix

refactor: replace SpacesPage custom UI with ChatContainer for spaces:global session
  packages/web/src/islands/SpacesPage.tsx
Due: web, e2e-matrix

fix: preserve /spaces and /sessions URLs on page refresh
  packages/web/src/App.tsx
Due: web, e2e-matrix

fix: relax timing threshold in cleanup test for CI overhead
  packages/daemon/tests/unit/core/daemon-app-cleanup.test.ts
Due: none

fix: always set provider in createCustomAgentInit for Space custom agents
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
Due: daemon
