Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

fix(web): surface runtime state in Tools modal and MCP Servers settings (#1626)
  packages/web/src/components/ToolsModal.tsx
  packages/web/src/components/ToolsModal.utils.ts
  packages/web/src/components/__tests__/ToolsModal.test.tsx
  packages/web/src/components/settings/AppMcpServersSettings.tsx
  packages/web/src/components/settings/__tests__/AppMcpServersSettings.test.tsx
  packages/web/src/lib/skills-store.test.ts
  packages/web/src/lib/skills-store.ts
Due: web, e2e-matrix

fix(daemon): wrap builtin skills as SDK plugins so /playwright works
  packages/daemon/src/app.ts
  packages/daemon/src/lib/agent/builtin-skill-plugin-wrapper.ts
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/tests/unit/1-core/agent/builtin-skill-plugin-wrapper.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/4-space-storage/skills-manager.test.ts
Due: daemon

refactor(web): float SpaceTaskPane tab pill inside content area (#1629)
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

refactor(web): remove legacy thread render mode from SpaceTaskUnifiedThread (#1633)
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadEventFeed.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadEventRow.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadModeToggle.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadVerboseFeed.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
  packages/web/src/lib/space-task-thread-config.ts
Due: web, e2e-matrix

chore(space): remove completionActions types + schema + docs (PR 5/5)
  CHANGELOG.md
  docs/design/autonomy-levels-and-completion-actions.md
  docs/plans/remove-completion-actions-task-agent-as-post-approval-executor.md
  docs/research/pr-merging-completion-actions.md
  packages/daemon/src/lib/rpc-handlers/space-workflow-handlers.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/lib/space/workflows/post-approval-merge-template.ts
  packages/daemon/src/lib/space/workflows/template-hash.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/src/storage/schema/m94-backfill-workflow-templates.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-104_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-94_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-spaces-autonomy-level_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-task-repository.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
  packages/daemon/tests/unit/5-space/workflow/gate-autonomy-status-consistency.test.ts
  packages/daemon/tests/unit/5-space/workflow/template-hash.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/e2e/tests/features/post-approval-merge-autonomy-high.e2e.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/PendingTaskCompletionBanner.tsx
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/AutonomyWorkflowSummary.test.tsx
  packages/web/src/components/space/__tests__/SpaceOverview.test.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/__tests__/task-banner.test.ts
  packages/web/src/lib/task-banner.ts
  packages/web/src/lib/task-constants.ts
Due: daemon, web, e2e-matrix

refactor(web): drop artifacts header, align tab pill with agent name tag (#1631)
  packages/e2e/tests/features/space-artifacts-panel.e2e.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskArtifactsPanel.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/TaskArtifactsPanel.test.tsx
Due: web, e2e-matrix

feat: preset agent drift detection and sync (M105/M106)
  packages/daemon/src/lib/rpc-handlers/space-agent-handlers.ts
  packages/daemon/src/lib/space/agents/agent-template-hash.ts
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/managers/space-agent-manager.ts
  packages/daemon/src/storage/repositories/space-agent-repository.ts
  packages/daemon/src/storage/schema/m106-backfill-agent-templates.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/1-core/lib/space-agent-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-agent-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-106_test.ts
  packages/daemon/tests/unit/5-space/agent/agent-template-hash.test.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceAgentList.tsx
  packages/web/src/components/space/__tests__/SpaceAgentList.test.tsx
Due: daemon, web, e2e-matrix

fix(web): scroll chat to bottom on every cached-session re-mount (#1632)
  packages/web/src/hooks/__tests__/useAutoScroll.test.ts
  packages/web/src/hooks/useAutoScroll.ts
Due: web, e2e-matrix

fix(daemon): recover stalled workflow runs on daemon restart (#120) (#1636)
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-service.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

fix(web): align Tasks nav badge with Action tab (#1635)
  docs/space-autonomy-hitl-gaps-claude-opus-4-6.md
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
  packages/web/src/lib/__tests__/task-filters.test.ts
  packages/web/src/lib/space-store.ts
  packages/web/src/lib/task-filters.ts
Due: daemon, web, e2e-matrix

feat(web): add minimal thread style exploration page (#1634)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/web/src/components/sdk/ResultInfoButton.tsx
  packages/web/src/components/sdk/ResultInfoDropdown.tsx
  packages/web/src/components/sdk/SDKUserMessage.tsx
  packages/web/src/components/sdk/SyntheticMessageBlock.tsx
  packages/web/src/components/sdk/__tests__/ResultInfoDropdown.test.tsx
  packages/web/src/components/sdk/__tests__/SDKUserMessage.test.tsx
  packages/web/src/components/sdk/__tests__/SyntheticMessageBlock.test.tsx
  packages/web/src/components/space/AgentOverlayChat.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadMessageActions.tsx
  packages/web/src/components/space/thread/compact/SpaceSystemInitCard.test.tsx
  packages/web/src/components/space/thread/compact/SpaceSystemInitCard.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.tsx
  packages/web/src/components/space/thread/compact/space-task-compact-reducer.test.ts
  packages/web/src/components/space/thread/compact/space-task-compact-reducer.ts
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
  packages/web/src/components/space/thread/minimal/minimal-mock-data.ts
  packages/web/src/components/space/thread/space-task-thread-turns.test.ts
  packages/web/src/components/space/thread/space-task-thread-turns.ts
  packages/web/src/hooks/__tests__/useAutoScroll.test.ts
  packages/web/src/hooks/__tests__/useScrollToMessage.test.ts
  packages/web/src/hooks/useAutoScroll.ts
  packages/web/src/hooks/useScrollToMessage.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
  packages/web/vite.config.ts
Due: daemon, web, e2e-matrix

refactor(space): unify Submit-for-Review UI and agent submit_for_approval (#123)
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/end-node-handlers.test.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SubmitForReviewModal.tsx
  packages/web/src/components/space/TaskStatusActions.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/SubmitForReviewModal.test.tsx
  packages/web/src/components/space/__tests__/TaskStatusActions.test.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

feat(web): unify session Tools modal — session-scoped, deferred toggles (#1637)
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/shared/src/types.ts
  packages/web/src/components/ToolsModal.tsx
  packages/web/src/components/ToolsModal.utils.ts
  packages/web/src/components/__tests__/ToolsModal.test.tsx
Due: daemon, web, e2e-matrix

chore(release): bump version to 0.13.0 (#1647)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

fix(daemon): rehydrate sub-session MCP servers across daemon restart (#1646)
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-task-repository.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
Due: daemon

feat(web): visualize autocompact buffer on context usage indicator (#1643)
  packages/web/src/components/ContextUsageBar.tsx
  packages/web/src/components/__tests__/ContextUsageBar.test.tsx
Due: web, e2e-matrix

fix(daemon): treat tasks in review/approved as at-rest in recoverSingleRun (#1645)
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

fix(web): track active-turn rail per agent label (#1650)
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
  packages/web/src/components/space/thread/space-task-thread-turns.ts
Due: web, e2e-matrix

refactor(space): move per-node timeouts from runtime constants into workflow defs (#1649)
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/runtime/constants.ts
  packages/daemon/src/lib/space/runtime/resolve-node-timeout.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-workflow-repository-agent-timeout.test.ts
  packages/daemon/tests/unit/5-space/runtime/resolve-node-timeout.test.ts
  packages/shared/src/types/space.ts
Due: daemon

refactor(space): remove all report_result references (#1648)
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/managers/node-execution-manager.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/runtime/agent-liveness.ts
  packages/daemon/src/lib/space/runtime/completion-detector.ts
  packages/daemon/src/lib/space/runtime/constants.ts
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/storage/repositories/space-task-report-result-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/unit/2-handlers/db-query/scope-config.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-99_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-task-report-result-repository_test.ts
  packages/daemon/tests/unit/5-space/agent/agent-liveness.test.ts
  packages/daemon/tests/unit/5-space/agent/end-node-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent.test.ts
  packages/daemon/tests/unit/5-space/other/channel-router.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
  packages/daemon/tests/unit/5-space/workflow/completion-detector.test.ts
  packages/daemon/tests/unit/5-space/workflow/workflow-executor-multi-agent.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: daemon, web, e2e-matrix

[codex] Polish space task view (#1653)
  packages/web/src/components/ChatComposer.tsx
  packages/web/src/components/__tests__/ChatComposer.test.tsx
  packages/web/src/components/sdk/SyntheticMessageBlock.tsx
  packages/web/src/components/sdk/__tests__/SyntheticMessageBlock.test.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskSessionChatComposer.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/TaskSessionChatComposer.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

fix: make space migrations idempotent with foreign keys (#1657)
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-73-idempotency.test.ts
Due: daemon

feat(desktop): add @neokai/desktop Tauri wrapper bundling daemon as sidecar (#1652)
  .gitignore
  Makefile
  biome.json
  bun.lock
  knip.json
  knip.ts
  packages/desktop/README.md
  packages/desktop/build-sidecar.sh
  packages/desktop/package.json
  packages/desktop/src-tauri/.gitignore
  packages/desktop/src-tauri/Cargo.toml
  packages/desktop/src-tauri/build.rs
  packages/desktop/src-tauri/capabilities/default.json
  packages/desktop/src-tauri/icons/128x128.png
  packages/desktop/src-tauri/icons/128x128@2x.png
  packages/desktop/src-tauri/icons/32x32.png
  packages/desktop/src-tauri/icons/Square107x107Logo.png
  packages/desktop/src-tauri/icons/Square142x142Logo.png
  packages/desktop/src-tauri/icons/Square150x150Logo.png
  packages/desktop/src-tauri/icons/Square284x284Logo.png
  packages/desktop/src-tauri/icons/Square30x30Logo.png
  packages/desktop/src-tauri/icons/Square310x310Logo.png
  packages/desktop/src-tauri/icons/Square44x44Logo.png
  packages/desktop/src-tauri/icons/Square71x71Logo.png
  packages/desktop/src-tauri/icons/Square89x89Logo.png
  packages/desktop/src-tauri/icons/StoreLogo.png
  packages/desktop/src-tauri/icons/icon.icns
  packages/desktop/src-tauri/icons/icon.ico
  packages/desktop/src-tauri/icons/icon.png
  packages/desktop/src-tauri/loading/index.html
  packages/desktop/src-tauri/src/lib.rs
  packages/desktop/src-tauri/src/main.rs
  packages/desktop/src-tauri/tauri.conf.json
  scripts/build-binary.ts
Due: none

fix(space): lazy-activate workflow agents on first message (#1654)
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/other/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/5-space/other/cross-agent-messaging.test.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/ui/Dropdown.tsx
Due: daemon, web, e2e-matrix

feat(space): server-derived active-turn roster decoupled from compact feed (#1651)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
  packages/web/src/hooks/useSpaceTaskMessages.ts
Due: daemon, web, e2e-matrix

fix(space): forbid Reviewer terminal actions while P0–P3 findings are open (#1655)
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/5-space/other/seed-agents.test.ts
  packages/daemon/tests/unit/5-space/workflow/built-in-workflows.test.ts
Due: daemon

chore(deps): patch + minor bumps across the monorepo (Task #135) (#1656)
  .github/workflows/main.yml
  .github/workflows/release.yml
  bun.lock
  package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(release): bump version to 0.14.0 (#1661)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

fix(space): unify Active-tab filter between sidebar and tasks view (#1662)
  packages/web/src/components/space/SpaceTasks.tsx
  packages/web/src/components/space/__tests__/SpaceTasks.test.tsx
  packages/web/src/islands/SpaceDetailPanel.tsx
  packages/web/src/islands/__tests__/SpaceDetailPanel.test.tsx
  packages/web/src/lib/__tests__/task-filters.test.ts
  packages/web/src/lib/task-filters.ts
Due: web, e2e-matrix

[codex] Target workflow agents from task composer (#1660)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/web/src/components/ChatComposer.tsx
  packages/web/src/components/MessageInput.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/TaskSessionChatComposer.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.mention.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/__tests__/TaskArtifactsPanel.test.tsx
  packages/web/src/components/space/__tests__/TaskSessionChatComposer.test.tsx
  packages/web/src/hooks/__tests__/useInputDraft.test.ts
  packages/web/src/hooks/useInputDraft.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix(daemon): preserve in-process MCP servers across runtime mutations (Task #140) (#1664)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/neo/tools/neo-tools-server.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/session-repository.ts
  packages/daemon/tests/unit/1-core/agent/agent-session.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-all-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-agent-manager-query-tools.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-integration-cross-system.test.ts
  packages/daemon/tests/unit/1-core/neo/neo-integration-session-recovery.test.ts
  packages/daemon/tests/unit/2-handlers/db-query/session-integration.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-service-mcp.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-service-worker-mcp.test.ts
  packages/daemon/tests/unit/2-handlers/room/room-runtime-service.test.ts
  packages/daemon/tests/unit/2-handlers/rpc/config-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/neo-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager.test.ts
Due: daemon

fix: usage.input_tokens crash on bridge providers + upgrade copilot-sdk (#1665)
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/lib/providers/anthropic-copilot/conversation.ts
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/translator.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/translator.test.ts
  packages/web/src/components/sdk/SDKResultMessage.tsx
  packages/web/src/components/sdk/__tests__/SDKResultMessage.test.tsx
  packages/web/src/components/space/__tests__/space-task-thread-events.test.ts
  packages/web/src/components/space/thread/space-task-thread-events.ts
Due: daemon, web, e2e-matrix

fix(space): lazy-activate stranded executions and clickable not-started entries (Task #139) (#1663)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/web/src/components/space/PendingAgentOverlay.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/PendingAgentOverlay.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix(codex-bridge): add stub endpoints to prevent SDK "model not found" error (#1666)
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/translator.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
Due: daemon

fix(space): skip redundant merge approval when human already approved (#1668)
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/lib/space/workflows/post-approval-merge-template.ts
  packages/daemon/tests/unit/5-space/workflow/end-node-handoff.test.ts
Due: daemon

fix(daemon): normalize usage on BetaMessages to prevent SDK crash (#1667)
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/tests/unit/1-core/agent/sdk-message-handler.test.ts
Due: daemon

fix(space): prevent silent message drop + tighten matcher in task-composer target picker (Task #143) (#1669)
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/session/session-manager.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-message-handlers.test.ts
  packages/shared/src/types.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix(daemon): make AskUserQuestion survive daemon restart and clean up dead sessions (#1659)
  packages/daemon/src/lib/agent/agent-session.ts
  packages/daemon/src/lib/agent/ask-user-question-handler.ts
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/agent/ask-user-question-handler.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-orphan-question.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-tick-loop.test.ts
  packages/shared/src/state-types.ts
  packages/web/src/components/QuestionPrompt.tsx
  packages/web/src/components/__tests__/QuestionPrompt.test.tsx
  packages/web/src/components/sdk/SDKAssistantMessage.tsx
Due: daemon, web, e2e-matrix

[codex] Fix Codex provider model routing (#1674)
  docs/providers/anthropic-codex-setup.md
  packages/daemon/src/lib/agent/query-runner.ts
  packages/daemon/src/lib/provider-service.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/lib/providers/context-manager.ts
  packages/daemon/src/lib/room/agents/cli-agent-registry.ts
  packages/daemon/tests/unit/1-core/core/provider-service.test.ts
  packages/daemon/tests/unit/1-core/providers/anthropic-to-codex-bridge-provider.test.ts
  packages/daemon/tests/unit/1-core/providers/codex-anthropic-bridge/server.test.ts
  packages/daemon/tests/unit/1-core/providers/context-manager.test.ts
Due: daemon

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
