Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix(e2e): fix canvas testids and navigation in space-approval-gate-rejection and space-canvas-mode
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
  packages/e2e/tests/features/space-canvas-mode.e2e.ts
  packages/web/src/components/space/ReadOnlyWorkflowCanvas.tsx
Due: web, e2e-matrix

feat: space task view UX improvements (#1466)
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-run-gate-handlers.test.ts
  packages/web/src/components/space/FileDiffView.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskArtifactsPanel.tsx
  packages/web/src/components/space/ThreadedChatComposer.tsx
  packages/web/src/components/space/__tests__/TaskArtifactsPanel.test.tsx
  packages/web/src/components/space/thread/space-task-thread-events.ts
Due: daemon, web, e2e-matrix

feat: add workspace history for normal session creation (#1465)
  .github/workflows/main.yml
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/workspace-handlers.ts
  packages/daemon/src/storage/index.ts
  packages/daemon/src/storage/repositories/workspace-history-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/rpc/workspace-handlers.test.ts
  packages/e2e/tests/features/room-creation-workspace.e2e.ts
  packages/e2e/tests/features/workspace-selection.e2e.ts
  packages/shared/src/api.ts
  packages/web/src/components/lobby/NewSessionModal.tsx
  packages/web/src/islands/Lobby.tsx
  packages/web/src/lib/api-helpers.ts
Due: daemon, web, e2e-matrix

fix(e2e): fix canvas navigation and testids in reviewer-feedback-loop and canvas-mode tests
  packages/e2e/tests/features/reviewer-feedback-loop.e2e.ts
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
  packages/e2e/tests/features/space-canvas-mode.e2e.ts
Due: none

fix(e2e): fix node testids, mark tasks done to prevent space store reloads
  packages/e2e/tests/features/reviewer-feedback-loop.e2e.ts
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
  packages/e2e/tests/features/space-canvas-mode.e2e.ts
Due: none

fix(e2e): align reviewer-feedback-loop and artifacts-panel tests with production workflow
  packages/e2e/tests/features/reviewer-feedback-loop.e2e.ts
  packages/e2e/tests/features/space-artifacts-panel.e2e.ts
  packages/web/src/components/space/useRuntimeCanvasData.ts
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
Due: web, e2e-matrix

feat: add super-task-agent tools to global spaces agent and fix stale prompts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/agents/global-spaces-agent.ts
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/provision-global-agent.ts
  packages/daemon/src/lib/space/tools/global-spaces-tools.ts
  packages/daemon/tests/unit/5-space/space/provision-global-agent.test.ts
Due: daemon

refactor: replace done/report_done/write_gate with idle/save/auto-gate-write in space node executions
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/managers/node-execution-manager.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/src/storage/repositories/node-execution-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/space/helpers/space-test-helpers.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/unit/1-core/lib/node-execution-manager.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/node-execution-repository.test.ts
  packages/daemon/tests/unit/5-space/space/completion-detector.test.ts
  packages/daemon/tests/unit/5-space/space/cross-agent-messaging.test.ts
  packages/daemon/tests/unit/5-space/space/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/space/space-runtime-completion.test.ts
  packages/daemon/tests/unit/5-space/space/space-runtime-notifications.test.ts
  packages/daemon/tests/unit/5-space/space/space-runtime.test.ts
  packages/daemon/tests/unit/5-space/space/task-agent-collaboration.test.ts
  packages/daemon/tests/unit/5-space/space/task-agent-manager-worktree.test.ts
  packages/daemon/tests/unit/5-space/space/task-agent-manager.test.ts
  packages/daemon/tests/unit/5-space/space/task-agent-session-lifecycle.test.ts
  packages/daemon/tests/unit/5-space/space/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/5-space/space/task-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/space/workflow-executor-multi-agent.test.ts
  packages/daemon/tests/unit/5-space/space/workflow-executor-progression.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/WorkflowNodeCard.tsx
  packages/web/src/components/space/__tests__/WorkflowNodeCard.test.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadEventRow.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
Due: daemon, web, e2e-matrix

feat: add send_message_to_task and list_task_members to per-space space agent
  packages/daemon/src/lib/space/agents/space-chat-agent.ts
  packages/daemon/src/lib/space/runtime/space-runtime-service.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
Due: daemon

fix(e2e): forward gateData events, add animate-pulse, add rejection banner
  packages/daemon/src/lib/state-manager.ts
  packages/web/src/components/space/ReadOnlyWorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
Due: daemon, web, e2e-matrix

fix(smoke-test): remove workspace positional arg (--workspace flag was removed)
  scripts/smoke-test.ts
Due: none

fix(ci): remove workspace positional arg from binary startup in E2E jobs
  .github/workflows/main.yml
Due: none

fix(e2e): expose workspaceRoot in system state via NEOKAI_WORKSPACE_ROOT env var
  .github/workflows/main.yml
  packages/daemon/src/config.ts
  packages/daemon/src/lib/state-manager.ts
  packages/shared/src/state-types.ts
Due: daemon

fix(e2e): fix 3 remaining LLM test failures
  packages/daemon/src/app.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/e2e/tests/features/reviewer-feedback-loop.e2e.ts
  packages/web/src/components/space/TaskArtifactsPanel.tsx
Due: daemon, web, e2e-matrix

docs: research findings for stop button visibility bug
  RESEARCH.md
Due: none

fix(e2e): add force click to gate popup and close button to artifacts panel
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
  packages/web/src/components/space/TaskArtifactsPanel.tsx
Due: web, e2e-matrix

fix(e2e): force click gate in rejectViaPopup and add artifacts panel close button (#1469)
  packages/e2e/tests/features/space-approval-gate-rejection.e2e.ts
  packages/web/src/components/space/TaskArtifactsPanel.tsx
Due: web, e2e-matrix

feat: add workflow_id parameter to create_standalone_task tool
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/global-spaces-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/5-space/space/global-spaces-tools.test.ts
  packages/daemon/tests/unit/5-space/space/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/space/space-runtime.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: merge listGateData result with event-based updates to prevent race condition
  packages/web/src/components/space/useRuntimeCanvasData.ts
Due: web, e2e-matrix

fix: merge listGateData result with event-based updates to prevent race condition (#1471)
  packages/web/src/components/space/useRuntimeCanvasData.ts
Due: web, e2e-matrix

feat: add workflow_id parameter to create_standalone_task tool (#1470)
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/global-spaces-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/5-space/space/global-spaces-tools.test.ts
  packages/daemon/tests/unit/5-space/space/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/space/space-runtime.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
Due: daemon

docs: identify root cause - ThreadedChatComposer missing props
  RESEARCH-FINAL.md
  RESEARCH-UPDATE.md
Due: none

refactor: remove global spaces agent, show space cards on /spaces page
  docs/plans/space-agent-coordinator-reactive-event-driven-task-coordinat/00-overview.md
  docs/plans/space-agent-coordinator-reactive-event-driven-task-coordinat/01-autonomy-level-schema-types.md
  docs/plans/space-agent-coordinator-reactive-event-driven-task-coordinat/02-notification-sink-runtime-integration.md
  docs/plans/space-agent-coordinator-reactive-event-driven-task-coordinat/03-coordination-mcp-tools.md
  docs/plans/space-agent-coordinator-reactive-event-driven-task-coordinat/04-space-agent-prompt-updates.md
  docs/plans/space-agent-coordinator-reactive-event-driven-task-coordinat/05-production-notification-wiring.md
  docs/plans/space-agent-coordinator-reactive-event-driven-task-coordinat/06-integration-tests-edge-cases.md
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/rpc-handlers/global-spaces-handlers.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/src/lib/space/agents/global-spaces-agent.ts
  packages/daemon/src/lib/space/provision-global-agent.ts
  packages/daemon/src/lib/space/tools/global-spaces-tools.ts
  packages/daemon/tests/unit/5-space/space/global-spaces-agent.test.ts
  packages/daemon/tests/unit/5-space/space/global-spaces-tools.test.ts
  packages/daemon/tests/unit/5-space/space/provision-global-agent-mcp.test.ts
  packages/daemon/tests/unit/5-space/space/provision-global-agent.test.ts
  packages/e2e/tests/features/space-navigation.e2e.ts
  packages/shared/src/types.ts
  packages/web/src/islands/SpacesPage.tsx
Due: daemon, web, e2e-matrix

fix: update tests after removing global spaces agent
  packages/daemon/tests/online/space/space-agent-coordination.test.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/online/space/task-agent-skills.test.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
Due: none

fix(ci): remove space-agent-coordination from matrix and drop enable_spaces_agent flag
  .github/workflows/main.yml
  scripts/validate-online-test-matrix.sh
Due: none

fix: allow /tmp writes in worktree session sandbox
  packages/daemon/src/lib/agent/query-options-builder.ts
Due: daemon

feat: show active sessions per space on the spaces page
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/web/src/islands/SpacesPage.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

refactor: remove SpaceContextPanel sidebar, add Create Space to SpacesPage
  packages/web/src/components/space/SpaceContextPanel.tsx
  packages/web/src/components/space/index.ts
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/SpacesPage.tsx
  packages/web/src/islands/__tests__/ContextPanel.test.tsx
Due: web, e2e-matrix

fix: update agent default models to claude-sonnet-4-6 and improve message info dropdown
  packages/daemon/src/lib/model-service.ts
  packages/daemon/src/lib/room/agents/coder-agent.ts
  packages/daemon/src/lib/room/agents/general-agent.ts
  packages/daemon/src/lib/room/agents/leader-agent.ts
  packages/daemon/src/lib/room/agents/planner-agent.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/web/src/components/sdk/MessageInfoDropdown.tsx
  packages/web/src/components/sdk/__tests__/MessageInfoDropdown.test.tsx
Due: daemon, web, e2e-matrix

fix: align SpacesPage header with other space views and fix mobile layout
  packages/web/src/islands/SpacesPage.tsx
Due: web, e2e-matrix

fix(tests): update default-model assertions to claude-sonnet-4-6
  packages/daemon/tests/unit/3-features/room/coder-agent.test.ts
  packages/daemon/tests/unit/3-features/room/leader-agent.test.ts
  packages/daemon/tests/unit/5-space/space/custom-agent.test.ts
  packages/daemon/tests/unit/5-space/space/task-agent-init.test.ts
Due: none

fix(tests): update e2e + unit tests after rebase onto dev
  packages/e2e/tests/features/space-context-panel-switching.e2e.ts
  packages/e2e/tests/features/space-creation.e2e.ts
  packages/e2e/tests/features/space-navigation.e2e.ts
  packages/web/src/components/sdk/__tests__/MessageInfoDropdown.test.tsx
Due: none

test: add setWorkspace unit tests and E2E workspace selector tests
  packages/daemon/tests/unit/1-core/session/session-lifecycle.test.ts
  packages/e2e/tests/features/workspace-selector.e2e.ts
  packages/web/src/components/lobby/NewSessionModal.tsx
  packages/web/src/components/lobby/__tests__/NewSessionModal.test.tsx
Due: web, e2e-matrix

feat: inline workspace selection in chat container
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/shared/src/api.ts
  packages/web/src/components/WorkspaceSelector.tsx
  packages/web/src/components/lobby/NewSessionModal.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/Lobby.tsx
  packages/web/src/lib/api-helpers.ts
Due: daemon, web, e2e-matrix

docs: remove WORKSPACE flag from CLI commands in CLAUDE.md
  CLAUDE.md
Due: none
