Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

Fix SQLITE_BUSY retries and closed SSE controller handling
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/storage/database-core.ts
  packages/daemon/tests/unit/providers/codex-anthropic-bridge/server.test.ts
  packages/daemon/tests/unit/storage/database-core.test.ts
Due: daemon

Fix SQLITE_BUSY retries and closed SSE controller handling (#415)
  packages/daemon/src/lib/providers/codex-anthropic-bridge/server.ts
  packages/daemon/src/storage/database-core.ts
  packages/daemon/tests/unit/providers/codex-anthropic-bridge/server.test.ts
  packages/daemon/tests/unit/storage/database-core.test.ts
Due: daemon

fix: use processingStateCache in getSessionState to fix leader AskUserQuestion UI
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/unit/session/state-manager.test.ts
Due: daemon

fix: guard recoverRoomRuntime against waitingForQuestion at startup
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
Due: daemon

fix: resolve leader questions routing to dead session instances
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/question-handlers.ts
  packages/daemon/tests/unit/room/room-runtime-recovery-safety.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/rpc-handlers/question-handlers.test.ts
Due: daemon

fix: resolve leader questions routing to dead session instances (#404)
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/room-runtime.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/question-handlers.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/unit/room/room-runtime-recovery-safety.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/daemon/tests/unit/room/runtime-recovery.test.ts
  packages/daemon/tests/unit/rpc-handlers/question-handlers.test.ts
  packages/daemon/tests/unit/session/state-manager.test.ts
Due: daemon

feat: add OpenAI token refresh/login in settings for Codex
  packages/daemon/src/lib/rpc-handlers/auth-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/auth-handlers.test.ts
  packages/e2e/tests/settings/providers-settings.e2e.ts
  packages/shared/src/provider/auth-types.ts
  packages/shared/src/provider/index.ts
  packages/shared/src/provider/types.ts
  packages/web/src/components/settings/ProvidersSettings.tsx
  packages/web/src/components/ui/Button.tsx
  packages/web/src/lib/api-helpers.ts
Due: daemon, web, e2e-matrix

fix: address review feedback for token refresh feature
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/e2e/tests/settings/providers-settings.e2e.ts
  packages/web/src/components/settings/ProvidersSettings.tsx
Due: daemon, web, e2e-matrix

fix: clear refreshFailed on logout and fix remaining E2E assertions
  packages/e2e/tests/settings/providers-settings.e2e.ts
  packages/web/src/components/settings/ProvidersSettings.tsx
Due: web, e2e-matrix

fix: restore dead worker sessions before routing leader feedback
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

feat: add OpenAI token refresh/login in settings for Codex (#416)
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/src/lib/rpc-handlers/auth-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/auth-handlers.test.ts
  packages/e2e/tests/settings/providers-settings.e2e.ts
  packages/shared/src/provider/auth-types.ts
  packages/shared/src/provider/index.ts
  packages/shared/src/provider/types.ts
  packages/web/src/components/settings/ProvidersSettings.tsx
  packages/web/src/components/ui/Button.tsx
  packages/web/src/lib/api-helpers.ts
Due: daemon, web, e2e-matrix

fix: handle restore failure and add proper error handling
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

fix: use correct /room/:id route in mission-terminology e2e tests
  packages/e2e/tests/features/mission-terminology.e2e.ts
Due: none

fix: use correct /room/:id route in mission-terminology e2e tests (#419)
  packages/e2e/tests/features/mission-terminology.e2e.ts
Due: none

fix: restore dead worker sessions before routing leader feedback (#418)
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/tests/unit/room/task-group-manager.test.ts
Due: daemon

fix: capture assistant.message.content when Copilot SDK skips streaming deltas
  packages/daemon/src/lib/providers/anthropic-copilot/streaming.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/streaming.test.ts
Due: daemon

chore: apply Biome formatting to GoalsEditor.tsx
  packages/web/src/components/room/GoalsEditor.tsx
Due: web, e2e-matrix

fix: disable built-in Copilot tools in plain sessions to prevent empty responses
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/server.test.ts
Due: daemon

feat: UI — type-specific mission creation and detail views (Task 6) (#405)
  CLAUDE.md
  packages/daemon/src/lib/room/managers/goal-manager.ts
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/goal-handlers.test.ts
  packages/e2e/tests/features/mission-creation.e2e.ts
  packages/web/src/components/room/GoalsEditor.test.tsx
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/lib/room-store.ts
Due: daemon, web, e2e-matrix

fix: capture assistant.message.content when Copilot SDK skips streaming deltas (#421)
  packages/daemon/src/lib/providers/anthropic-copilot/server.ts
  packages/daemon/src/lib/providers/anthropic-copilot/streaming.ts
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/server.test.ts
  packages/daemon/tests/unit/providers/anthropic-copilot/streaming.test.ts
Due: daemon

docs: add plan for Multi-Agent V2 customizable agents and workflows
  docs/plans/multi-agent-v2-customizable-agents-workflows/00-overview.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/01-custom-agent-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/02-custom-agent-runtime-integration.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/03-workflow-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/04-workflow-runtime-engine.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/05-frontend-agent-creation-ui.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/06-frontend-workflow-builder-ui.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/07-workflow-selection-intelligence.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/08-export-import-sharing-foundation.md
Due: none

docs: address review feedback on multi-agent V2 plan
  docs/plans/multi-agent-v2-customizable-agents-workflows/00-overview.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/01-custom-agent-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/02-custom-agent-runtime-integration.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/03-workflow-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/04-workflow-runtime-engine.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/05-frontend-agent-creation-ui.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/06-frontend-workflow-builder-ui.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/07-workflow-selection-intelligence.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/08-export-import-sharing-foundation.md
Due: none

docs: address iteration 2 review feedback on multi-agent V2 plan
  docs/plans/multi-agent-v2-customizable-agents-workflows/01-custom-agent-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/03-workflow-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/04-workflow-runtime-engine.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/06-frontend-workflow-builder-ui.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/07-workflow-selection-intelligence.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/08-export-import-sharing-foundation.md
Due: none

docs: address iteration 3 review feedback on multi-agent V2 plan
  docs/plans/multi-agent-v2-customizable-agents-workflows/04-workflow-runtime-engine.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/08-export-import-sharing-foundation.md
Due: none

docs: fully align all milestones to Space isolation principle
  docs/plans/multi-agent-v2-customizable-agents-workflows/00-overview.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/01-space-core-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/03-workflow-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/04-workflow-runtime-engine.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/07-workflow-selection-intelligence.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/08-export-import-sharing-foundation.md
Due: none

docs: rewrite plan for Spaces — isolated parallel implementation
  docs/plans/multi-agent-v2-customizable-agents-workflows/01-custom-agent-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/01-space-core-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/02-custom-agent-data-runtime.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/02-custom-agent-runtime-integration.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/05-frontend-agent-creation-ui.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/05-space-frontend-foundation.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/06-frontend-agent-workflow-ui.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/06-frontend-workflow-builder-ui.md
Due: none

docs: fix P0/P1 issues from iteration 7 sonnet review
  docs/plans/multi-agent-v2-customizable-agents-workflows/01-space-core-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/02-custom-agent-data-runtime.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/03-workflow-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/04-workflow-runtime-engine.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/05-space-frontend-foundation.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/08-export-import-sharing-foundation.md
Due: none

docs: fix file paths in Task 5.1 and seedDefaultWorkflow call site in Task 3.4
  docs/plans/multi-agent-v2-customizable-agents-workflows/03-workflow-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/05-space-frontend-foundation.md
Due: none

docs: add spaceWorkflowRun.start RPC handler, fix task count, update PR description
  docs/plans/multi-agent-v2-customizable-agents-workflows/00-overview.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/04-workflow-runtime-engine.md
Due: none

docs: add spaceWorkflowRun.* to overview routes list and M4 description
  docs/plans/multi-agent-v2-customizable-agents-workflows/00-overview.md
Due: none

docs: remove goals from Space system — tasks and workflows are the primitives
  docs/plans/multi-agent-v2-customizable-agents-workflows/00-overview.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/01-space-core-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/02-custom-agent-data-runtime.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/03-workflow-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/04-workflow-runtime-engine.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/05-space-frontend-foundation.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/07-workflow-selection-intelligence.md
Due: none

docs: add spaceTask.* to overview API routes list
  docs/plans/multi-agent-v2-customizable-agents-workflows/00-overview.md
Due: none

test: integration testing and documentation for Mission System V2 (Task 7)
  CLAUDE.md
  packages/daemon/src/lib/rpc-handlers/goal-handlers.ts
  packages/daemon/tests/online/room/mission-lifecycle.test.ts
  packages/daemon/tests/unit/room/mission-system-edge-cases.test.ts
  packages/e2e/tests/features/mission-detail.e2e.ts
  packages/web/src/components/room/GoalsEditor.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/lib/room-store.ts
  scripts/validate-online-test-matrix.sh
Due: daemon, web, e2e-matrix

fix: address review feedback for Mission System V2 testing (Task 7)
  CLAUDE.md
  packages/daemon/tests/online/room/mission-lifecycle.test.ts
  packages/daemon/tests/unit/room/mission-system-edge-cases.test.ts
  packages/daemon/tests/unit/room/recurring-missions.test.ts
  packages/daemon/tests/unit/room/room-runtime-test-helpers.ts
  packages/e2e/tests/features/mission-detail.e2e.ts
  packages/web/src/components/room/GoalsEditor.tsx
Due: web, e2e-matrix

fix: set ANTHROPIC_DEFAULT_*_MODEL in Codex provider to prevent Anthropic model fallback
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/tests/unit/providers/anthropic-to-codex-bridge-provider.test.ts
Due: daemon

fix: align getModelForTier(opus) with ANTHROPIC_DEFAULT_OPUS_MODEL in Codex provider
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/tests/unit/providers/anthropic-to-codex-bridge-provider.test.ts
Due: daemon

fix: add runtime type guards for Copilot SDK event.data string fields
  packages/daemon/src/lib/providers/anthropic-copilot/streaming.ts
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
Due: daemon

fix: filter state.session events by sessionId in waitForProcessingState
  packages/daemon/tests/helpers/daemon-actions.ts
Due: none

fix: remove translateModelIdForSdk from Codex provider to prevent bridge failures
  packages/daemon/src/lib/providers/anthropic-to-codex-bridge-provider.ts
  packages/daemon/tests/unit/providers/anthropic-to-codex-bridge-provider.test.ts
Due: daemon

fix: update token usage test title and add waitForSdkMessages guard
  packages/daemon/tests/online/providers/anthropic-to-copilot-bridge-provider.test.ts
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
