Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

feat(TaskViewV2): add turn number badges, aria-labels, and larger previews to turn blocks
  packages/web/src/components/room/TurnSummaryBlock.tsx
Due: web, e2e-matrix

feat(TaskViewV2): make leader_summary messages more prominent
  packages/web/src/components/room/RuntimeMessageRenderer.tsx
Due: web, e2e-matrix

feat(TaskViewV2): improve review UX, empty states, and slide-out panel
  packages/web/src/components/room/SlideOutPanel.tsx
  packages/web/src/components/room/TaskViewV2.tsx
Due: web, e2e-matrix

docs: plan for unifying agent communication and workflow graph model (#750)
  docs/plans/unify-agent-communication-workflow-graph-model/00-overview.md
  docs/plans/unify-agent-communication-workflow-graph-model/01-rename-send-feedback-to-send-message.md
  docs/plans/unify-agent-communication-workflow-graph-model/02-rename-step-to-node.md
  docs/plans/unify-agent-communication-workflow-graph-model/03-unified-messaging-model.md
  docs/plans/unify-agent-communication-workflow-graph-model/04-task-agent-visible-node.md
  docs/plans/unify-agent-communication-workflow-graph-model/05-per-slot-agent-overrides.md
  docs/plans/unify-agent-communication-workflow-graph-model/06-channel-direction-visualization.md
Due: none

feat(TaskViewV2): add AgentTurnBlock component for compact turn summaries
  packages/web/src/components/room/AgentTurnBlock.tsx
  packages/web/src/components/room/index.ts
Due: web, e2e-matrix

refactor(TaskViewV2): replace TurnSummaryBlock with AgentTurnBlock
  packages/web/src/components/room/TaskViewV2.tsx
Due: web, e2e-matrix

refactor(TaskViewV2): update AgentTurnBlock to show inline items with actual content
  packages/web/src/components/room/AgentTurnBlock.tsx
Due: web, e2e-matrix

refactor: rename send_feedback to send_message in step agent tools
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/step-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/step-agent-tools.ts
  packages/daemon/tests/unit/space/step-agent-tools.test.ts
Due: daemon

feat: add migration 45 to rename step to node in workflow tables
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

test: update remaining test files for send_feedback → send_message rename
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
Due: none

fix: migration 45 data-loss bugs and add transaction wrapping
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

refactor(TaskViewV2): update AgentTurnBlock with role colors and proper item components
  packages/web/src/components/room/AgentTurnBlock.tsx
Due: web, e2e-matrix

refactor: rename send_feedback to send_message in step agent tools (#751)
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/step-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/step-agent-tools.ts
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
  packages/daemon/tests/unit/space/step-agent-tools.test.ts
Due: daemon

test: clarify send_message rename from send_feedback in step-agent-tools.test.ts
  packages/daemon/tests/unit/space/step-agent-tools.test.ts
Due: none

fix: migration 45 P1 pragma order and P0 repository column name updates
  packages/daemon/src/storage/repositories/space-agent-repository.ts
  packages/daemon/src/storage/repositories/space-session-group-repository.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
Due: daemon

test: clarify send_message rename from send_feedback in step-agent-tools.test.ts (#754)
  packages/daemon/tests/unit/space/step-agent-tools.test.ts
Due: none

fix: migration 45 P0 test helpers and P1 test coverage
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/storage/migrations/migration-45_test.ts
Due: daemon

refactor: remove request_peer_input tool from step agent tools
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/step-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/step-agent-tools.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
  packages/daemon/tests/unit/space/step-agent-tools.test.ts
Due: daemon

fix: align test files with post-migration-45 schema
  packages/daemon/tests/unit/rpc-handlers/space-agent-handlers.test.ts
  packages/daemon/tests/unit/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/rpc-handlers/space-task-message-handlers.test.ts
  packages/daemon/tests/unit/space/space-workflow.test.ts
  packages/daemon/tests/unit/space/task-agent-manager.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-45_test.ts
  packages/daemon/tests/unit/storage/space-task-repository.test.ts
Due: none

fix: remove stale injectToTaskAgent from cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
Due: none

refactor: remove request_peer_input tool from step agent tools (#756)
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/step-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/step-agent-tools.ts
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
  packages/daemon/tests/unit/space/step-agent-tools.test.ts
Due: daemon

refactor(TaskViewV2): use SubagentBlock structure in AgentTurnBlock
  packages/web/src/components/room/AgentTurnBlock.tsx
Due: web, e2e-matrix

refactor: remove relay_message from Task Agent tool set
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/runtime/channel-resolver.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
Due: daemon

fix: address review feedback - P1/P2/P3 fixes
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
Due: daemon

test: remove relay_message test cases from cross-agent-messaging.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
Due: none

refactor: remove relay_message from Task Agent tool set (#755)
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/runtime/channel-resolver.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
  packages/daemon/tests/unit/space/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
Due: daemon

feat(ThinkingBlock): add compact mode for inline rendering
  packages/web/src/components/room/AgentTurnBlock.tsx
  packages/web/src/components/sdk/ThinkingBlock.tsx
Due: web, e2e-matrix

fix: make migrations 29 and 45 idempotent when run twice
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/storage/migrations/migration-34_test.ts
  packages/daemon/tests/unit/storage/migrations/migration-38_test.ts
  packages/daemon/tests/unit/storage/migrations/migration-45_test.ts
Due: daemon

test: add Task Agent channel topology tests to cross-agent messaging
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
Due: none

feat: give Task Agent the send_message tool via channel topology
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
  packages/daemon/tests/unit/space/workflow-executor-multi-agent.test.ts
Due: daemon

test: address review feedback on Task Agent channel topology tests
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
Due: none

test: add Task Agent channel topology tests to cross-agent messaging (#757)
  packages/daemon/tests/unit/space/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
Due: none

fix(AgentTurnBlock): remove duplicate agent label from header
  packages/web/src/components/room/AgentTurnBlock.tsx
Due: web, e2e-matrix

feat(AgentTurnBlock): show tool/thinking/assistant counts in header
  packages/web/src/components/room/AgentTurnBlock.tsx
Due: web, e2e-matrix

fix: address review feedback on Task Agent send_message PR
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
Due: daemon

feat: give Task Agent the send_message tool via channel topology (#758)
  packages/daemon/src/lib/space/agents/task-agent.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/space/cross-agent-messaging.test.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/space/task-agent-tools.test.ts
  packages/daemon/tests/unit/space/workflow-executor-multi-agent.test.ts
Due: daemon

fix(useTurnBlocks): only count assistant messages with text content
  packages/web/src/hooks/useTurnBlocks.ts
Due: web, e2e-matrix

test: add E2E tests for Task Agent visible node in visual editor
  packages/e2e/tests/features/visual-workflow-editor.e2e.ts
Due: none

fix: correct node count assertions in Task Agent tests
  packages/e2e/tests/features/visual-workflow-editor.e2e.ts
Due: none

chore(AgentTurnBlock): increase header count icons size
  packages/web/src/components/room/AgentTurnBlock.tsx
Due: web, e2e-matrix

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
