Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

test: merge 5 integration test pairs into single files
  packages/daemon/tests/integration/database/sdk-message-repository.test.ts
  packages/daemon/tests/integration/database/sdk-messages.test.ts
  packages/daemon/tests/integration/database/session-crud.test.ts
  packages/daemon/tests/integration/database/session-repository.test.ts
  packages/daemon/tests/integration/rpc/rpc-config-handlers-extended.test.ts
  packages/daemon/tests/integration/rpc/rpc-config-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-message-handlers-extended.test.ts
  packages/daemon/tests/integration/rpc/rpc-message-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-settings-handlers-extended.test.ts
  packages/daemon/tests/integration/session/settings-rpc.integration.test.ts
Due: none

chore: remove --only-failures from test-1 target
  Makefile
Due: none

refactor: remove test-only exports and orphaned mocks
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/unit/mocks/websocket-mock.ts
Due: daemon

fix: update opus model version to 4.6
  packages/daemon/src/lib/providers/anthropic-provider.ts
  packages/daemon/src/lib/session/session-lifecycle.ts
Due: daemon

refactor: dynamically extract model versions from SDK descriptions
  packages/daemon/src/lib/providers/anthropic-provider.ts
Due: daemon

chore: remove unused export from getNetworkAddresses
  packages/cli/src/cli-utils.ts
Due: none

feat: print all network addresses on server startup
  packages/cli/src/cli-utils.ts
  packages/cli/src/dev-server.ts
  packages/cli/src/prod-server.ts
Due: none

refactor: remove dotenv dependency in favor of Bun's built-in .env loading (#83)
  bun.lock
  package.json
  packages/daemon/.env.example
  packages/daemon/package.json
  packages/daemon/src/config.ts
  packages/daemon/tests/online/agent/agent-session-sdk.test.ts
  packages/daemon/tests/online/agent/context-command.test.ts
  packages/daemon/tests/online/coordinator/coordinator-mode-switch.test.ts
  packages/daemon/tests/online/coordinator/coordinator-tool-delegation.test.ts
  packages/daemon/tests/online/features/auto-title.test.ts
  packages/daemon/tests/online/features/message-persistence.test.ts
  packages/daemon/tests/online/glm/model-switching.test.ts
  packages/daemon/tests/online/providers/model-switch-system-init.test.ts
  packages/daemon/tests/online/rewind/rewind-feature.test.ts
  packages/daemon/tests/online/rewind/selective-rewind.test.ts
  packages/daemon/tests/online/sdk/sdk-streaming-failures.test.ts
  packages/daemon/tests/test-utils.ts
Due: daemon

feat: show git branch in chat header for non-worktree sessions (#84)
  packages/daemon/src/lib/session/session-lifecycle.ts
  packages/daemon/tests/integration/session/git-branch-detection.test.ts
  packages/daemon/tests/integration/session/two-stage-creation.test.ts
Due: daemon

ci: install sandbox dependencies (bubblewrap, socat) on Linux runners
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

fix: add SDK sandbox permissions for ~/.claude/ and ~/.neokai/
  packages/daemon/src/lib/agent/query-options-builder.ts
Due: daemon

feat: add test isolation environment variables
  packages/daemon/src/lib/sdk-session-file-manager.ts
  packages/daemon/src/lib/settings-manager.ts
  packages/daemon/src/lib/worktree-manager.ts
Due: daemon

fix: update integration tests to use test isolation environment variables
  packages/daemon/tests/integration/components/message-remove-output.test.ts
  packages/daemon/tests/integration/filesystem/settings-manager.test.ts
  packages/daemon/tests/integration/git/archive-session.test.ts
  packages/daemon/tests/integration/git/project-structure.test.ts
  packages/daemon/tests/integration/git/worktree-path-generation.test.ts
  packages/daemon/tests/integration/session/two-stage-creation.test.ts
  packages/daemon/tests/unit/core/sdk-session-file-manager.test.ts
Due: none

test: extend sandbox restriction tests with additional test cases
  packages/daemon/tests/online/sandbox/sandbox-restriction.test.ts
Due: none

test: update query-options-builder test expectations for additionalDirectories
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
Due: none

ci: update README badges to reference dev branch
  README.md
Due: none

ci: replace Codecov quality gates with Coveralls equivalent
  .github/workflows/main.yml
  packages/e2e/playwright.config.ts
Due: none

Update packages
  bun.lock
  package.json
  packages/cli/package.json
  packages/web/package.json
Due: none

refactor: unify COMMAND/QUERY message types into REQUEST in MessageHub protocol
  packages/shared/src/message-hub/message-hub.ts
  packages/shared/src/message-hub/protocol.ts
  packages/shared/src/message-hub/types.ts
Due: daemon

test: update tests for COMMAND/QUERY → REQUEST protocol refactor
  packages/daemon/tests/integration/agent/rpc-agent-handlers.test.ts
  packages/daemon/tests/integration/components/state-manager.test.ts
  packages/daemon/tests/integration/rpc/rpc-config-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-draft-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-interrupt-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-message-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-model-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-rewind-handlers.test.ts
  packages/daemon/tests/integration/session/settings-rpc.integration.test.ts
  packages/daemon/tests/integration/websocket/messagehub-protocol.test.ts
  packages/daemon/tests/integration/websocket/setup-websocket.test.ts
  packages/daemon/tests/integration/websocket/state-sync.test.ts
  packages/daemon/tests/integration/websocket/websocket-messagehub.test.ts
  packages/daemon/tests/online/rpc/session-handlers.test.ts
  packages/daemon/tests/unit/lib/websocket-server-transport.test.ts
  packages/shared/tests/in-process-transport.test.ts
  packages/shared/tests/message-hub-coverage.test.ts
  packages/shared/tests/message-hub-reconnection.test.ts
  packages/shared/tests/message-hub-router.test.ts
  packages/shared/tests/message-hub.test.ts
  packages/shared/tests/protocol.test.ts
  packages/shared/tests/websocket-client-transport.test.ts
Due: none

test: suppress console output and configure silent logger in test setup
  packages/daemon/tests/unit/setup.ts
Due: none

chore: remove obsolete AGENT_SESSION_REFACTORING_PLAN.md
  packages/daemon/src/lib/AGENT_SESSION_REFACTORING_PLAN.md
Due: daemon

chore: enforce no-console as error, only Logger should use console
  .oxlintrc.json
Due: none

fix: add no-console lint rule and improve room join error handling
  .oxlintrc.json
  Makefile
  packages/daemon/tests/helpers/daemon-actions.ts
  packages/shared/src/message-hub/message-hub.ts
  packages/shared/tests/logger.test.ts
Due: daemon

refactor: remove ALL console usage, enforce Logger-only pattern
  .oxlintrc.json
  packages/daemon/src/config.ts
  packages/daemon/src/lib/model-service.ts
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
  packages/daemon/tests/unit/core/config.test.ts
  packages/shared/src/event-bus.ts
  packages/shared/src/message-hub/in-process-transport.ts
  packages/web/src/App.tsx
  packages/web/src/server-prod.ts
Due: daemon, web, e2e-matrix

refactor: remove all console usage from source code, use Logger only
  .oxlintrc.json
  packages/daemon/src/config.ts
  packages/daemon/src/lib/sdk-session-file-manager.ts
  packages/daemon/src/lib/session/session-cache.ts
  packages/daemon/src/routes/setup-websocket.ts
  packages/shared/src/event-bus.ts
  packages/shared/src/message-hub/typed-hub.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/lib/global-store.ts
  packages/web/src/lib/utils.ts
Due: daemon, web, e2e-matrix

test: migrate web tests from query/command/call to unified request API
  packages/web/src/components/sdk/tools/__tests__/ToolResultCard.test.tsx
  packages/web/src/hooks/__tests__/useInputDraft.test.ts
  packages/web/src/hooks/__tests__/useMessageHub.test.ts
  packages/web/src/hooks/__tests__/useModelSwitcher.test.ts
  packages/web/src/hooks/__tests__/useSendMessage.test.ts
  packages/web/src/hooks/__tests__/useSessionActions.test.ts
  packages/web/src/lib/__tests__/aaa-reconnection-safari.test.ts
  packages/web/src/lib/__tests__/aaa-state.test.ts
  packages/web/src/lib/__tests__/api-helpers.test.ts
  packages/web/src/lib/__tests__/connection-manager-comprehensive.test.ts
  packages/web/src/lib/__tests__/connection-manager-visibility.test.ts
  packages/web/src/lib/__tests__/global-store-comprehensive.test.ts
  packages/web/src/lib/__tests__/global-store.test.ts
  packages/web/src/lib/__tests__/session-store-comprehensive.test.ts
  packages/web/src/lib/__tests__/state-channel-class.test.ts
  packages/web/src/lib/__tests__/state-channel.test.ts
  packages/web/src/lib/__tests__/state.test.ts
  packages/web/src/lib/__tests__/utils.test.ts
Due: none

test: improve coverage for useInterrupt, useMessageHub, InputTextarea, connection-manager, status-actions
  packages/web/src/components/__tests__/InputTextarea.test.tsx
  packages/web/src/hooks/__tests__/useInterrupt.test.ts
  packages/web/src/hooks/__tests__/useMessageHub.test.ts
  packages/web/src/lib/__tests__/connection-manager-comprehensive.test.ts
  packages/web/src/lib/__tests__/status-actions.test.ts
Due: none

fix: remove duplicate request keys and fix parallel refresh test
  packages/web/src/lib/__tests__/connection-manager-visibility.test.ts
Due: none

fix: update test mocks from onQuery to onRequest for MessageHub API
  packages/daemon/tests/integration/filesystem/rpc-file-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-message-handlers.test.ts
  packages/daemon/tests/integration/rpc/rpc-system-handlers.test.ts
Due: none

fix: clear console spy counts in logger tests to prevent CI flakiness
  packages/daemon/tests/unit/core/logger.test.ts
Due: none

fix: update question-handlers test to use requestHandlers instead of queryHandlers
  packages/daemon/tests/integration/rpc/rpc-question-handlers.test.ts
Due: none

fix: replace all onQuery/onCommand with onRequest in daemon test mocks
  packages/daemon/tests/integration/components/sdk-message-handler.test.ts
  packages/daemon/tests/integration/rpc/rpc-message-handlers.test.ts
  packages/daemon/tests/integration/session/instant-message-persistence.test.ts
  packages/daemon/tests/unit/agent/interrupt-handler.test.ts
  packages/daemon/tests/unit/agent/model-switch-handler.test.ts
  packages/daemon/tests/unit/agent/query-lifecycle-manager.test.ts
  packages/daemon/tests/unit/agent/query-runner.test.ts
  packages/daemon/tests/unit/agent/sdk-message-handler.test.ts
  packages/daemon/tests/unit/core/error-manager-throttling.test.ts
  packages/daemon/tests/unit/core/error-manager.test.ts
  packages/daemon/tests/unit/session/message-persistence.test.ts
  packages/daemon/tests/unit/session/sandbox-default.test.ts
Due: none

fix: update smoke test to use REQ message type instead of legacy QRY
  scripts/smoke-test.ts
Due: none

fix: drop invalid messages gracefully instead of crashing server
  .github/workflows/main.yml
  packages/shared/src/message-hub/message-hub.ts
Due: daemon

fix(test): improve online test reliability for coordinator, provider, and rewind suites
  packages/daemon/tests/helpers/daemon-actions.ts
  packages/daemon/tests/online/coordinator/coordinator-mode-switch.test.ts
  packages/daemon/tests/online/coordinator/coordinator-tool-delegation.test.ts
  packages/daemon/tests/online/providers/anthropic-provider.test.ts
  packages/daemon/tests/online/providers/model-switch-system-init.test.ts
  packages/daemon/tests/online/rewind/rewind-feature.test.ts
  packages/daemon/tests/online/rewind/selective-rewind.test.ts
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
