Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

feat(web): plumb highlightMessageId through space overlay chat
  packages/web/src/components/space/AgentOverlayChat.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

feat(web): scroll + highlight a target message in ChatContainer
  packages/web/src/islands/ChatContainer.tsx
Due: web, e2e-matrix

feat(web): add open-in-session button to minimal thread turns
  packages/web/src/components/space/thread/SpaceTaskThreadMessageActions.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

feat(web): let agent reply bubbles fill the full inner column on mobile
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

feat(web): stack agent header above body in minimal thread turns
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

feat(web): switch synthetic block to blockquote-style with purple left bar
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

revert(web): drop synthetic blockquote — restore bordered card style
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

refactor(web): unify synthetic message block across chat and thread feed
  packages/web/src/components/sdk/SDKUserMessage.tsx
  packages/web/src/components/sdk/SyntheticMessageBlock.tsx
  packages/web/src/components/sdk/__tests__/SDKUserMessage.test.tsx
  packages/web/src/components/sdk/__tests__/SyntheticMessageBlock.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

feat(web): refine assistant turn — meta under name, chat icon, mixed roster
  packages/web/src/components/space/thread/SpaceTaskThreadMessageActions.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

feat(web): add session-init + result dropdowns to thread message actions
  packages/web/src/components/sdk/ResultInfoButton.tsx
  packages/web/src/components/sdk/ResultInfoDropdown.tsx
  packages/web/src/components/sdk/SyntheticMessageBlock.tsx
  packages/web/src/components/sdk/__tests__/ResultInfoDropdown.test.tsx
  packages/web/src/components/sdk/__tests__/SyntheticMessageBlock.test.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadMessageActions.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

fix(daemon): always pass system rows through the compact thread query
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
Due: daemon

feat(web): visualize autocompact buffer on context usage indicator
  packages/web/src/components/ContextUsageBar.tsx
  packages/web/src/components/__tests__/ContextUsageBar.test.tsx
Due: web, e2e-matrix

fix(web): make scroll-to-message a robust first-class chat feature
  packages/web/src/hooks/__tests__/useAutoScroll.test.ts
  packages/web/src/hooks/__tests__/useScrollToMessage.test.ts
  packages/web/src/hooks/useAutoScroll.ts
  packages/web/src/hooks/useScrollToMessage.ts
  packages/web/src/islands/ChatContainer.tsx
Due: web, e2e-matrix

fix(web): highlight assistant message, not result envelope, on chat-bubble click
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

fix(web): address minimal-thread review nits
  packages/web/src/components/sdk/ResultInfoDropdown.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
Due: web, e2e-matrix

refactor(web): remove compact thread mode, leave minimal as the only renderer
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadModeToggle.tsx
  packages/web/src/components/space/thread/compact/SpaceSystemInitCard.test.tsx
  packages/web/src/components/space/thread/compact/SpaceSystemInitCard.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.tsx
  packages/web/src/components/space/thread/compact/space-task-compact-reducer.test.ts
  packages/web/src/components/space/thread/compact/space-task-compact-reducer.ts
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
  packages/web/src/components/space/thread/space-task-thread-turns.test.ts
  packages/web/src/components/space/thread/space-task-thread-turns.ts
  packages/web/src/lib/space-task-thread-config.ts
Due: web, e2e-matrix

feat(web): add MinimalThreadFeed — production Slack-style task thread (#1638)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/web/src/components/sdk/ResultInfoButton.tsx
  packages/web/src/components/sdk/ResultInfoDropdown.tsx
  packages/web/src/components/sdk/SDKUserMessage.tsx
  packages/web/src/components/sdk/SyntheticMessageBlock.tsx
  packages/web/src/components/sdk/__tests__/ResultInfoDropdown.test.tsx
  packages/web/src/components/sdk/__tests__/SDKUserMessage.test.tsx
  packages/web/src/components/sdk/__tests__/SyntheticMessageBlock.test.tsx
  packages/web/src/components/space/AgentOverlayChat.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadMessageActions.tsx
  packages/web/src/components/space/thread/compact/SpaceSystemInitCard.test.tsx
  packages/web/src/components/space/thread/compact/SpaceSystemInitCard.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.tsx
  packages/web/src/components/space/thread/compact/space-task-compact-reducer.test.ts
  packages/web/src/components/space/thread/compact/space-task-compact-reducer.ts
  packages/web/src/components/space/thread/minimal/MinimalStyleExploration.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalStyleExploration.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
  packages/web/src/components/space/thread/minimal/minimal-mock-data.ts
  packages/web/src/components/space/thread/space-task-thread-turns.test.ts
  packages/web/src/components/space/thread/space-task-thread-turns.ts
  packages/web/src/dev-minimal-thread.tsx
  packages/web/src/hooks/__tests__/useAutoScroll.test.ts
  packages/web/src/hooks/__tests__/useScrollToMessage.test.ts
  packages/web/src/hooks/useAutoScroll.ts
  packages/web/src/hooks/useScrollToMessage.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

plan(coverage-mission): apply fact-check corrections
  docs/plans/coverage-mission/00-overview.md
  docs/plans/coverage-mission/01-coverage-infrastructure.md
  docs/plans/coverage-mission/07-daemon-repository-tests.md
Due: none

feat(daemon): add preset agent drift detection and sync (M105/M106)
  packages/daemon/src/lib/rpc-handlers/space-agent-handlers.ts
  packages/daemon/src/lib/space/agents/agent-template-hash.ts
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/managers/space-agent-manager.ts
  packages/daemon/src/storage/repositories/space-agent-repository.ts
  packages/daemon/src/storage/schema/m106-backfill-agent-templates.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/1-core/lib/space-agent-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-agent-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-106_test.ts
  packages/daemon/tests/unit/5-space/agent/agent-template-hash.test.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
Due: daemon

feat(web): show drift badge and sync button on space agent list
  packages/web/src/components/space/SpaceAgentList.tsx
  packages/web/src/components/space/__tests__/SpaceAgentList.test.tsx
Due: web, e2e-matrix

feat: preset agent drift detection and sync (M105/M106)
  packages/daemon/src/lib/rpc-handlers/space-agent-handlers.ts
  packages/daemon/src/lib/space/agents/agent-template-hash.ts
  packages/daemon/src/lib/space/agents/seed-agents.ts
  packages/daemon/src/lib/space/managers/space-agent-manager.ts
  packages/daemon/src/storage/repositories/space-agent-repository.ts
  packages/daemon/src/storage/schema/m106-backfill-agent-templates.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/1-core/lib/space-agent-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-agent-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-106_test.ts
  packages/daemon/tests/unit/5-space/agent/agent-template-hash.test.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceAgentList.tsx
  packages/web/src/components/space/__tests__/SpaceAgentList.test.tsx
Due: daemon, web, e2e-matrix

chore(web): remove dev-minimal-thread exploration entry point
  packages/web/src/components/space/thread/minimal/MinimalStyleExploration.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalStyleExploration.tsx
  packages/web/src/dev-minimal-thread.html
  packages/web/src/dev-minimal-thread.tsx
  packages/web/vite.config.ts
Due: web, e2e-matrix

fix(web): gate initial-load mount scroll on enabled for deep-link safety
  packages/web/src/hooks/useAutoScroll.ts
Due: web, e2e-matrix

feat(web): add minimal thread style exploration page (#1634)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/live-query-handlers.test.ts
  packages/web/src/components/sdk/ResultInfoButton.tsx
  packages/web/src/components/sdk/ResultInfoDropdown.tsx
  packages/web/src/components/sdk/SDKUserMessage.tsx
  packages/web/src/components/sdk/SyntheticMessageBlock.tsx
  packages/web/src/components/sdk/__tests__/ResultInfoDropdown.test.tsx
  packages/web/src/components/sdk/__tests__/SDKUserMessage.test.tsx
  packages/web/src/components/sdk/__tests__/SyntheticMessageBlock.test.tsx
  packages/web/src/components/space/AgentOverlayChat.tsx
  packages/web/src/components/space/SpaceTaskUnifiedThread.tsx
  packages/web/src/components/space/__tests__/SpaceTaskUnifiedThread.test.tsx
  packages/web/src/components/space/thread/SpaceTaskThreadMessageActions.tsx
  packages/web/src/components/space/thread/compact/SpaceSystemInitCard.test.tsx
  packages/web/src/components/space/thread/compact/SpaceSystemInitCard.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.test.tsx
  packages/web/src/components/space/thread/compact/SpaceTaskCardFeed.tsx
  packages/web/src/components/space/thread/compact/space-task-compact-reducer.test.ts
  packages/web/src/components/space/thread/compact/space-task-compact-reducer.ts
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.test.tsx
  packages/web/src/components/space/thread/minimal/MinimalThreadFeed.tsx
  packages/web/src/components/space/thread/minimal/minimal-mock-data.ts
  packages/web/src/components/space/thread/space-task-thread-turns.test.ts
  packages/web/src/components/space/thread/space-task-thread-turns.ts
  packages/web/src/hooks/__tests__/useAutoScroll.test.ts
  packages/web/src/hooks/__tests__/useScrollToMessage.test.ts
  packages/web/src/hooks/useAutoScroll.ts
  packages/web/src/hooks/useScrollToMessage.ts
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
  packages/web/vite.config.ts
Due: daemon, web, e2e-matrix

feat(web): unify session Tools modal — session-scoped, deferred toggles (#1637)
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/shared/src/types.ts
  packages/web/src/components/ToolsModal.tsx
  packages/web/src/components/ToolsModal.utils.ts
  packages/web/src/components/__tests__/ToolsModal.test.tsx
Due: daemon, web, e2e-matrix

refactor(space): unify Submit-for-Review UI and agent submit_for_approval (#123)
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/end-node-handlers.test.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SubmitForReviewModal.tsx
  packages/web/src/components/space/TaskStatusActions.tsx
  packages/web/src/components/space/__tests__/TaskStatusActions.test.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix(space): atomic exit-status cleanup for review and approved transitions
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
Due: daemon

fix(space): atomic submitTaskForReview, modal error feedback, and tests
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SubmitForReviewModal.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/SubmitForReviewModal.test.tsx
Due: daemon, web, e2e-matrix

refactor(web): use CIRCLE_RADIUS for the background circle too
  packages/web/src/components/ContextUsageBar.tsx
Due: web, e2e-matrix

refactor(space): unify Submit-for-Review UI and agent submit_for_approval (#123)
  packages/daemon/src/lib/rpc-handlers/space-task-handlers.ts
  packages/daemon/src/lib/space/managers/space-task-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/1-core/lib/space-task-manager.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-task-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/end-node-handlers.test.ts
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/SubmitForReviewModal.tsx
  packages/web/src/components/space/TaskStatusActions.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/SubmitForReviewModal.test.tsx
  packages/web/src/components/space/__tests__/TaskStatusActions.test.tsx
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

fix(daemon): treat tasks in review/approved as at-rest in recoverSingleRun
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

fix(daemon): rehydrate sub-session MCP servers across daemon restart
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-task-repository.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
Due: daemon

fix(daemon): treat tasks in review/approved as at-rest in recoverSingleRun (#1645)
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-stalled-recovery.test.ts
Due: daemon

fix(daemon): skip terminal NodeExecutions in rehydrateSubSessionsForRun
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
Due: daemon

fix(daemon): rehydrate sub-session MCP servers across daemon restart (#1646)
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/space-task-repository.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-task-repository.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
Due: daemon

feat(web): visualize autocompact buffer on context usage indicator (#1643)
  packages/web/src/components/ContextUsageBar.tsx
  packages/web/src/components/__tests__/ContextUsageBar.test.tsx
Due: web, e2e-matrix

chore(release): bump version to 0.13.0
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(release): bump version to 0.13.0 (#1647)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

refactor(space): remove all report_result references
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/managers/node-execution-manager.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/runtime/agent-liveness.ts
  packages/daemon/src/lib/space/runtime/completion-detector.ts
  packages/daemon/src/lib/space/runtime/constants.ts
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/storage/repositories/space-task-report-result-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/unit/2-handlers/db-query/scope-config.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-99_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-task-report-result-repository_test.ts
  packages/daemon/tests/unit/5-space/agent/agent-liveness.test.ts
  packages/daemon/tests/unit/5-space/agent/end-node-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent.test.ts
  packages/daemon/tests/unit/5-space/other/channel-router.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
  packages/daemon/tests/unit/5-space/workflow/completion-detector.test.ts
  packages/daemon/tests/unit/5-space/workflow/workflow-executor-multi-agent.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: daemon, web, e2e-matrix

refactor(space): remove all report_result references (#1648)
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/db-query/scope-config.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/managers/node-execution-manager.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/runtime/agent-liveness.ts
  packages/daemon/src/lib/space/runtime/completion-detector.ts
  packages/daemon/src/lib/space/runtime/constants.ts
  packages/daemon/src/lib/space/runtime/notification-sink.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/tools/end-node-handlers.ts
  packages/daemon/src/lib/space/tools/task-agent-tool-schemas.ts
  packages/daemon/src/storage/repositories/space-task-report-result-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/online/space/task-agent-lifecycle.test.ts
  packages/daemon/tests/unit/2-handlers/db-query/scope-config.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/migrations/migration-99_test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-task-report-result-repository_test.ts
  packages/daemon/tests/unit/5-space/agent/agent-liveness.test.ts
  packages/daemon/tests/unit/5-space/agent/end-node-handlers.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tool-schemas.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent.test.ts
  packages/daemon/tests/unit/5-space/other/channel-router.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime.test.ts
  packages/daemon/tests/unit/5-space/workflow/completion-detector.test.ts
  packages/daemon/tests/unit/5-space/workflow/workflow-executor-multi-agent.test.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/visual-editor/serialization.ts
Due: daemon, web, e2e-matrix

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
