Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

Preserve Space Agent sender for legacy queued rows
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
Due: daemon

Avoid Space Agent self-target escalation
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
Due: daemon

Gate Space Agent reachability target
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
Due: daemon

Align Space Agent routing capability checks.
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
Due: daemon

Gate Space Agent peer discoverability
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
Due: daemon

Preserve sender identity for queued task messages.
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

Validate queued message envelopes before reuse.
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
Due: daemon

Gate Space Agent send_message guidance.
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
Due: daemon

Reject reserved message router sentinel targets.
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
Due: daemon

Align cross-agent tests with Space Agent capability gating.
  packages/daemon/tests/unit/5-space/other/cross-agent-messaging.test.ts
Due: none

Reserve built-in workflow agent names.
  packages/daemon/src/lib/space/managers/node-execution-manager.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/other/cross-agent-messaging.test.ts
  packages/daemon/tests/unit/5-space/workflow/workflow-executor-multi-agent.test.ts
Due: daemon

Enable node messages to Space Agent (#1785)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/room/runtime/room-runtime-service.ts
  packages/daemon/src/lib/room/runtime/task-group-manager.ts
  packages/daemon/src/lib/rpc-handlers/space-task-message-handlers.ts
  packages/daemon/src/lib/space/agent-message-envelope.ts
  packages/daemon/src/lib/space/managers/node-execution-manager.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/runtime/agent-message-router.ts
  packages/daemon/src/lib/space/runtime/channel-router.ts
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/node-agent-tools.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-envelope.test.ts
  packages/daemon/tests/unit/5-space/agent/agent-message-router.test.ts
  packages/daemon/tests/unit/5-space/agent/node-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-mcp.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-manager-rehydration.test.ts
  packages/daemon/tests/unit/5-space/agent/task-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/other/cross-agent-messaging-integration.test.ts
  packages/daemon/tests/unit/5-space/other/cross-agent-messaging.test.ts
  packages/daemon/tests/unit/5-space/other/send-message-unified.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/workflow/workflow-executor-multi-agent.test.ts
Due: daemon

Address queued delivery review feedback
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address idempotent delivery registration review
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address queued terminal failure review
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address event retry count reset review
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address preparation retry cleanup review
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address terminal retry cleanup review
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address node cancellation delivery cleanup review
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Address preparation retry state preservation review
  docs/plans/design-external-event-bus-for-space-workflow-nodes.md
Due: none

Fix SDK transcript usage rehydration (#1793)
  packages/daemon/src/lib/sdk-session-file-manager.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/tests/unit/1-core/core/sdk-session-file-manager.test.ts
Due: daemon

chore(release): bump version to 0.19.0
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(release): bump version to 0.19.0 (#1797)
  CHANGELOG.md
  npm/neokai/package.json
  packages/cli/package.json
  packages/daemon/package.json
  packages/e2e/package.json
  packages/shared/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

Fix Gemini OAuth client defaults
  packages/daemon/src/lib/providers/gemini/oauth-client.ts
  packages/daemon/tests/unit/1-core/providers/gemini-oauth-client.test.ts
Due: daemon

Align Gemini OAuth callback redirect
  packages/daemon/src/lib/providers/gemini/gemini-provider.ts
  packages/daemon/tests/unit/1-core/providers/gemini-provider.test.ts
Due: daemon

fix: use CHANGELOG.md for GitHub release notes
  .github/workflows/release.yml
Due: none

Make task thread composer fully target-aware: per-agent model, thinking, and tools
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskSessionChatComposer.tsx
  packages/web/src/components/space/TaskToolsModal.tsx
  packages/web/src/components/space/__tests__/TaskSessionChatComposer.test.tsx
  packages/web/src/hooks/__tests__/useTargetSessionContext.test.ts
  packages/web/src/hooks/index.ts
  packages/web/src/hooks/useModelSwitcher.ts
  packages/web/src/hooks/useTargetSessionContext.ts
Due: web, e2e-matrix

Fix Gemini OAuth redirect mismatch (#1798)
  packages/daemon/src/lib/providers/gemini/gemini-provider.ts
  packages/daemon/src/lib/providers/gemini/oauth-client.ts
  packages/daemon/tests/unit/1-core/providers/gemini-oauth-client.test.ts
  packages/daemon/tests/unit/1-core/providers/gemini-provider.test.ts
Due: daemon

Address review feedback: thinking routing, nodeExecutionId matching, per-node defaults
  packages/web/src/components/ChatComposer.tsx
  packages/web/src/components/SessionStatusBar.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskSessionChatComposer.tsx
  packages/web/src/components/space/__tests__/TaskSessionChatComposer.test.tsx
  packages/web/src/hooks/__tests__/useTargetSessionContext.test.ts
  packages/web/src/hooks/useTargetSessionContext.ts
Due: web, e2e-matrix

Add ability to disable workflows
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-workflow-repository-disabled.test.ts
  packages/daemon/tests/unit/5-space/other/export-format.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-disabled-workflow.test.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/WorkflowList.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/serialization.ts
Due: daemon, web, e2e-matrix

Address round-2 review feedback: type dedup, sentinel removal, auto-apply retry, tests
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskSessionChatComposer.tsx
  packages/web/src/components/space/__tests__/TaskToolsModal.test.tsx
  packages/web/src/hooks/__tests__/useTargetSessionContext.test.ts
  packages/web/src/hooks/useModelSwitcher.ts
  packages/web/src/hooks/useTargetSessionContext.ts
Due: web, e2e-matrix

Fix review: preserve disabled flag through import pipeline
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-export-import-handlers.test.ts
Due: daemon

Scope preconfigured target settings to the active task
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskSessionChatComposer.tsx
  packages/web/src/components/space/__tests__/TaskSessionChatComposer.test.tsx
  packages/web/src/hooks/__tests__/useTargetSessionContext.test.ts
  packages/web/src/hooks/useTargetSessionContext.ts
Due: web, e2e-matrix

Fix review: block disabled workflows from all start paths
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-run-handlers.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
Due: daemon

Add defense-in-depth test for startWorkflowRun with disabled workflow
  packages/daemon/tests/unit/5-space/runtime/space-runtime-disabled-workflow.test.ts
Due: none

Apply pending target preconfig independent of current selection
  packages/web/src/components/space/TaskSessionChatComposer.tsx
  packages/web/src/hooks/__tests__/useTargetSessionContext.test.ts
  packages/web/src/hooks/useTargetSessionContext.ts
Due: web, e2e-matrix

Add ability to disable workflows (#1802)
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/tools/space-agent-tools.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-export-import-handlers.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/space-workflow-run-handlers.test.ts
  packages/daemon/tests/unit/4-space-storage/storage/space-workflow-repository-disabled.test.ts
  packages/daemon/tests/unit/5-space/other/export-format.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-agent-tools.test.ts
  packages/daemon/tests/unit/5-space/runtime/space-runtime-disabled-workflow.test.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/WorkflowList.tsx
  packages/web/src/components/space/visual-editor/VisualWorkflowEditor.tsx
  packages/web/src/components/space/visual-editor/serialization.ts
Due: daemon, web, e2e-matrix

Preserve provider in preconfig and sync thinking level from live session
  packages/daemon/src/lib/rpc-handlers/session-handlers.ts
  packages/daemon/tests/unit/2-handlers/rpc/session-handlers.test.ts
  packages/web/src/hooks/__tests__/useTargetSessionContext.test.ts
  packages/web/src/hooks/useTargetSessionContext.ts
Due: daemon, web, e2e-matrix

Fix SessionFactory type mismatch in session-notification-sink
  packages/daemon/src/lib/space/runtime/session-notification-sink.ts
Due: daemon

Fix test failures and dead code after legacy Room feature removal
  bun.lock
  packages/daemon/package.json
  packages/daemon/src/lib/task-utils.ts
  packages/daemon/tests/unit/1-core/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/1-core/session/session-lifecycle.test.ts
  packages/daemon/tests/unit/2-handlers/rpc-handlers/reference-handlers.test.ts
Due: daemon
