Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

feat(neo): Room and goal action tools (task 3.2) (#1123)
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
Due: daemon

feat(neo): signal-based NeoStore with LiveQuery subscriptions (task 7.1) (#1124)
  packages/web/src/lib/neo-store.test.ts
  packages/web/src/lib/neo-store.ts
Due: web, e2e-matrix

feat(neo): NavRail NeoNavButton with Cmd+J shortcut (task 7.2)
  packages/web/src/App.tsx
  packages/web/src/components/neo/NeoNavButton.test.tsx
  packages/web/src/components/neo/NeoNavButton.tsx
  packages/web/src/islands/NavRail.tsx
Due: web, e2e-matrix

feat(neo): Neo Settings section in global settings (task 8.1)
  packages/web/src/components/settings/NeoSettings.tsx
  packages/web/src/components/settings/__tests__/NeoSettings.test.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

fix(neo): address review feedback on NeoNavButton (P1/P2)
  packages/web/src/App.tsx
  packages/web/src/components/neo/NeoNavButton.test.tsx
  packages/web/src/components/neo/NeoNavButton.tsx
  packages/web/src/hooks/__tests__/useNeoKeyboardShortcut.test.ts
  packages/web/src/hooks/useNeoKeyboardShortcut.ts
Due: web, e2e-matrix

test(neo): add http source type test for get_mcp_server_status
  packages/daemon/tests/unit/neo/neo-query-tools.test.ts
Due: none

fix(neo): accept null model in neo.updateSettings to clear override
  packages/daemon/src/lib/rpc-handlers/neo-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/neo-handlers.test.ts
  packages/web/src/components/settings/NeoSettings.tsx
  packages/web/src/components/settings/__tests__/NeoSettings.test.tsx
Due: daemon, web, e2e-matrix

feat(neo): NavRail NeoNavButton with Cmd+J shortcut (task 7.2) (#1126)
  packages/web/src/App.tsx
  packages/web/src/components/neo/NeoNavButton.test.tsx
  packages/web/src/components/neo/NeoNavButton.tsx
  packages/web/src/hooks/__tests__/useNeoKeyboardShortcut.test.ts
  packages/web/src/hooks/useNeoKeyboardShortcut.ts
  packages/web/src/islands/NavRail.tsx
Due: web, e2e-matrix

feat(neo): Skill and MCP server query tools (task 2.4) (#1122)
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/tests/unit/neo/neo-query-tools.test.ts
Due: daemon

feat(neo): Neo Settings section (task 8.1) (#1127)
  packages/daemon/src/lib/rpc-handlers/neo-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/neo-handlers.test.ts
  packages/web/src/components/settings/NeoSettings.tsx
  packages/web/src/components/settings/__tests__/NeoSettings.test.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

test(neo): E2E tests for Neo Settings section (task 11.3)
  packages/e2e/tests/features/neo-settings.e2e.ts
Due: none

feat(neo): Space and workflow query tools (task 2.2)
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/tests/unit/neo/neo-query-tools.test.ts
Due: daemon

fix(neo): correct SpaceTask fixture field name spaceTaskNumber → taskNumber
  packages/daemon/tests/unit/neo/neo-query-tools.test.ts
Due: none

feat(neo): slide-out panel with Chat, Activity, and Confirmation UI (task 7.3)
  packages/web/src/App.tsx
  packages/web/src/components/neo/NeoActivityView.test.tsx
  packages/web/src/components/neo/NeoActivityView.tsx
  packages/web/src/components/neo/NeoChatView.test.tsx
  packages/web/src/components/neo/NeoChatView.tsx
  packages/web/src/components/neo/NeoConfirmationCard.test.tsx
  packages/web/src/components/neo/NeoConfirmationCard.tsx
  packages/web/src/components/neo/NeoPanel.test.tsx
  packages/web/src/components/neo/NeoPanel.tsx
Due: web, e2e-matrix

test(neo): address review feedback for Neo Settings E2E tests
  packages/e2e/tests/features/neo-settings.e2e.ts
Due: none

feat(neo): Space and workflow query tools (task 2.2) (#1125)
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/tests/unit/neo/neo-query-tools.test.ts
Due: daemon

fix(neo): address review feedback for slide-out panel (task 7.3)
  packages/web/src/components/neo/NeoChatView.test.tsx
  packages/web/src/components/neo/NeoChatView.tsx
  packages/web/src/components/neo/NeoPanel.test.tsx
  packages/web/src/lib/neo-store.ts
Due: web, e2e-matrix

test(neo): fix fragile select selectors and Page import source
  packages/e2e/tests/features/neo-settings.e2e.ts
Due: none

feat(neo): slide-out panel with Chat, Activity, and Confirmation UI (task 7.3) (#1129)
  packages/web/src/App.tsx
  packages/web/src/components/neo/NeoActivityView.test.tsx
  packages/web/src/components/neo/NeoActivityView.tsx
  packages/web/src/components/neo/NeoChatView.test.tsx
  packages/web/src/components/neo/NeoChatView.tsx
  packages/web/src/components/neo/NeoConfirmationCard.test.tsx
  packages/web/src/components/neo/NeoConfirmationCard.tsx
  packages/web/src/components/neo/NeoPanel.test.tsx
  packages/web/src/components/neo/NeoPanel.tsx
  packages/web/src/lib/neo-store.ts
Due: web, e2e-matrix

test(e2e): Neo panel basic interaction tests (task 11.1)
  packages/e2e/tests/features/neo-panel.e2e.ts
Due: none

test(neo): fix P0 strict mode violation and model persistence test pollution
  packages/e2e/tests/features/neo-settings.e2e.ts
Due: none

test(e2e): Neo query and action flow E2E tests (task 11.2)
  packages/e2e/playwright.config.ts
  packages/e2e/tests/features/neo-conversation.e2e.ts
Due: none

test(neo): Neo Settings E2E tests (task 11.3) (#1128)
  packages/e2e/tests/features/neo-settings.e2e.ts
Due: none

test(e2e): address review feedback on neo-panel tests
  packages/e2e/tests/features/neo-panel.e2e.ts
Due: none

feat(neo): Space and workflow action tools (task 3.3)
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
Due: daemon

test(e2e): fix beforeEach localStorage clearing (P0)
  packages/e2e/tests/features/neo-panel.e2e.ts
Due: none

feat(neo): Goal and task query tools (task 2.3)
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/tests/unit/neo/neo-query-tools.test.ts
Due: daemon

test(e2e): address review feedback for Neo conversation E2E tests
  packages/e2e/tests/features/neo-conversation.e2e.ts
  packages/web/src/components/settings/NeoSettings.tsx
Due: web, e2e-matrix

test(e2e): Neo panel basic interaction tests (task 11.1) (#1130)
  packages/e2e/tests/features/neo-panel.e2e.ts
Due: none

feat(neo): Goal and task query tools (task 2.3) (#1121)
  packages/daemon/src/lib/neo/tools/neo-query-tools.ts
  packages/daemon/tests/unit/neo/neo-query-tools.test.ts
Due: daemon

fix(neo): address P1/P2 review feedback on space/workflow action tools
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
Due: daemon

feat(neo): Attach query tools MCP server to Neo session (task 2.5)
  packages/daemon/src/lib/neo/neo-agent-manager.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/tests/unit/neo/neo-agent-manager-query-tools.test.ts
Due: daemon

feat(neo): Space and workflow action tools (task 3.3) (#1132)
  packages/daemon/src/lib/neo/tools/neo-action-tools.ts
  packages/daemon/tests/unit/neo/neo-action-tools.test.ts
Due: daemon

chore(neo): add TODO comment for hardcoded appVersion in neo tools config
  packages/daemon/src/lib/rpc-handlers/index.ts
Due: none

test(e2e): Neo query and action flow E2E tests (task 11.2) (#1131)
  packages/e2e/playwright.config.ts
  packages/e2e/tests/features/neo-conversation.e2e.ts
  packages/web/src/components/settings/NeoSettings.tsx
Due: web, e2e-matrix

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
