Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

refactor: remove hardcoded agent roles from Space implementation
  packages/daemon/src/lib/rpc-handlers/space-agent-handlers.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/rpc-handlers/space-agent-handlers.test.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: remove BuiltinAgentRole from built-in-workflows after rebase
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
Due: daemon

feat: Space navigation, routing, and signals (Task 5.1) (#438)
  packages/daemon/src/lib/rpc-handlers/space-agent-handlers.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/storage/repositories/space-agent-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/rpc-handlers/space-agent-handlers.test.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
  packages/daemon/tests/unit/storage/migrations/migration-31_test.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/SpaceContextPanel.tsx
  packages/web/src/islands/ContextPanel.tsx
  packages/web/src/islands/MainContent.tsx
  packages/web/src/islands/NavRail.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/islands/__tests__/NavRail.test.tsx
  packages/web/src/lib/__tests__/space-router.test.ts
  packages/web/src/lib/nav-config.tsx
  packages/web/src/lib/router.ts
  packages/web/src/lib/signals.ts
Due: daemon, web, e2e-matrix

feat: add WorkflowExecutor core for Space workflow run progression (Task 4.1)
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/gate-allowlist.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: daemon

fix: address review feedback on WorkflowExecutor (P0/P1/P2/P3)
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: daemon

feat: redesign WorkflowExecutor with directed graph model (Task 4.1)
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/runtime/gate-allowlist.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/space/space-workflow.test.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: address review feedback on WorkflowExecutor graph model (Task 4.1)
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/space-workflow.test.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: daemon

fix: update test DB schema and run-repository tests to match graph model
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/storage/space-workflow-run-repository.test.ts
Due: daemon

feat: add WorkflowExecutor core for Space workflow run progression (Task 4.1) (#443)
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/managers/space-workflow-manager.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/lib/space/workflows/built-in-workflows.ts
  packages/daemon/src/storage/repositories/space-workflow-repository.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/space-workflow.test.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
  packages/daemon/tests/unit/storage/space-workflow-run-repository.test.ts
  packages/shared/src/types/space.ts
Due: daemon

docs: remove unimplemented getNextStep/canEnterStep from WorkflowExecutor spec
  docs/plans/multi-agent-v2-customizable-agents-workflows/04-workflow-runtime-engine.md
Due: none

feat: define Space export/import JSON format (Task 8.1)
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: align export format with simplified WorkflowStep model
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: address review feedback on export-format (P2/P3)
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: address P2/P3 review feedback on export-format
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/shared/src/types/space.ts
Due: daemon

fix: sync space_agents columns in space-test-db.ts with migration schema
  packages/daemon/tests/unit/helpers/space-test-db.ts
Due: none

docs: fix remaining stale references in Task 4.2 spec
  docs/plans/multi-agent-v2-customizable-agents-workflows/04-workflow-runtime-engine.md
Due: none

fix: align space_agents column order in space-agent-schema.ts with migration-31
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
Due: none

docs: update entire Milestone 4 spec to match transition/condition model
  docs/plans/multi-agent-v2-customizable-agents-workflows/04-workflow-runtime-engine.md
Due: none

feat: update export format for graph-based workflow model (Task 8.1)
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/shared/src/types/space.ts
Due: daemon

docs: fix stale gate model across all Milestone planning docs
  docs/plans/multi-agent-v2-customizable-agents-workflows/01-space-core-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/03-workflow-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/04-workflow-runtime-engine.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/08-export-import-sharing-foundation.md
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: daemon

feat: add SpaceRuntime — workflow orchestration, task-type assignment, seedDefaultWorkflow wiring
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
Due: daemon

fix: address P2/P3 review feedback - stale field names and terminology
  docs/plans/multi-agent-v2-customizable-agents-workflows/00-overview.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/04-workflow-runtime-engine.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/08-export-import-sharing-foundation.md
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/tests/unit/rpc-handlers/space-handlers.test.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
Due: daemon

fix: add semantic validation and referential integrity to export format
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/tests/unit/space/export-format.test.ts
Due: daemon

fix: fix failing E2E tests for mission creation routes and persistence
  packages/e2e/tests/core/persistence.e2e.ts
  packages/e2e/tests/features/mission-creation.e2e.ts
  packages/e2e/tests/features/mission-detail.e2e.ts
Due: none

ci: add core/persistence, core/model-selection, features/message-operations to E2E matrix
  .github/workflows/main.yml
Due: none

docs: fix remaining stale gate model references across all planning docs
  docs/plans/multi-agent-v2-customizable-agents-workflows/00-overview.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/01-space-core-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/02-custom-agent-data-runtime.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/03-workflow-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/06-frontend-agent-workflow-ui.md
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: none

docs: fix minor spec inconsistencies noted in review
  docs/plans/multi-agent-v2-customizable-agents-workflows/03-workflow-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/08-export-import-sharing-foundation.md
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
Due: none

docs: fix stale 'order indices' references in 08-export-import spec
  docs/plans/multi-agent-v2-customizable-agents-workflows/03-workflow-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/08-export-import-sharing-foundation.md
Due: none

fix: address PR #450 review feedback on SpaceRuntime
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
Due: daemon

test: fix getActiveRuns test to match intentional pending exclusion
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/storage/space-workflow-run-repository.test.ts
Due: none

ci: add session-operations, slash-cmd, worktree-isolation, responsive tests to LLM matrix
  .github/workflows/main.yml
Due: none

fix: address review feedback — logging, DB run cancellation, test coverage
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/storage/space-workflow-run-repository.test.ts
Due: daemon

ci: remove core/persistence from LLM_TESTS — test no longer requires LLM
  .github/workflows/main.yml
Due: none

fix: cancel and clean up run in processRunTick on currentStepId inconsistency
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
Due: daemon

fix: remove DEFAULT 'coder' from role column in space-test-db.ts space_agents
  packages/daemon/tests/unit/helpers/space-test-db.ts
Due: none

feat: define Space export/import JSON format (Task 8.1) (#441)
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/tests/unit/space/export-format.test.ts
  packages/shared/src/types/space.ts
Due: daemon

docs: align Milestone 4 planning docs with transition/condition implementation (#447)
  docs/plans/multi-agent-v2-customizable-agents-workflows/00-overview.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/01-space-core-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/02-custom-agent-data-runtime.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/03-workflow-data-model.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/04-workflow-runtime-engine.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/06-frontend-agent-workflow-ui.md
  docs/plans/multi-agent-v2-customizable-agents-workflows/08-export-import-sharing-foundation.md
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/tests/unit/rpc-handlers/space-handlers.test.ts
  packages/daemon/tests/unit/space/built-in-workflows.test.ts
  packages/daemon/tests/unit/space/custom-agent.test.ts
  packages/daemon/tests/unit/space/workflow-executor.test.ts
Due: daemon

fix: restore DEFAULT 'coder' on role column and add sync comments to test helpers
  packages/daemon/tests/unit/helpers/space-agent-schema.ts
  packages/daemon/tests/unit/helpers/space-test-db.ts
Due: none

feat: SpaceRuntime — workflow orchestration, task-type assignment, seedDefaultWorkflow wiring (Task 4.2) (#450)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-handlers.ts
  packages/daemon/src/lib/space/index.ts
  packages/daemon/src/lib/space/runtime/space-runtime.ts
  packages/daemon/src/lib/space/runtime/workflow-executor.ts
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/daemon/tests/unit/space/space-runtime.test.ts
  packages/daemon/tests/unit/storage/space-workflow-run-repository.test.ts
Due: daemon

fix: make CreateWorkflowRunParams.currentStepId optional
  packages/daemon/src/storage/repositories/space-workflow-run-repository.ts
  packages/shared/src/types/space.ts
Due: daemon
