Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

feat: hide completed tasks under Goals in sidebar with show/hide toggle (#656)
  packages/e2e/tests/features/room-sidebar-sections.e2e.ts
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/islands/__tests__/RoomContextPanel.test.tsx
Due: web, e2e-matrix

feat: define named-query registry with column aliasing and JSON parsing (#655)
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/src/storage/schema/index.ts
  packages/daemon/src/storage/schema/migrations.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-handlers.test.ts
Due: daemon

feat: redesign task view with action dropdown and circular progress (#658)
  packages/e2e/tests/features/task-actions-dropdown.e2e.ts
  packages/e2e/tests/features/task-lifecycle.e2e.ts
  packages/e2e/tests/features/task-view-action-dropdown.e2e.ts
  packages/web/src/components/room/TaskActionDropdown.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskView.tsx
  packages/web/src/components/room/__tests__/TaskActionDropdown.test.tsx
  packages/web/src/components/ui/CircularProgressIndicator.tsx
  packages/web/src/components/ui/__tests__/CircularProgressIndicator.test.tsx
Due: web, e2e-matrix

feat: add space session group RPC handlers and SpaceStore signals (#659)
  packages/daemon/src/lib/daemon-hub.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-session-group-handlers.ts
  packages/daemon/src/lib/state-manager.ts
  packages/daemon/tests/unit/rpc-handlers/space-session-group-handlers.test.ts
  packages/daemon/tests/unit/session/state-manager.test.ts
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: daemon, web, e2e-matrix

test: add unit tests for TaskAgentManager group persistence and events (#654)
  packages/daemon/tests/unit/task-agent-manager-groups.test.ts
Due: none

fix: enqueueRoomTick replaces pending tick when new request is sooner
  packages/daemon/src/lib/job-handlers/room-tick.handler.ts
  packages/daemon/tests/unit/job-handlers/room-tick-handler.test.ts
Due: daemon

fix: preserve pending room tick if replacement enqueue fails
  packages/daemon/src/lib/job-handlers/room-tick.handler.ts
  packages/daemon/tests/unit/job-handlers/room-tick-handler.test.ts
Due: daemon

fix: enqueueRoomTick replaces pending tick when new request is sooner (#661)
  packages/daemon/src/lib/job-handlers/room-tick.handler.ts
  packages/daemon/tests/unit/job-handlers/room-tick-handler.test.ts
Due: daemon

feat: display active agents in SpaceTaskPane with real-time status badges
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

feat: display active agents in SpaceTaskPane
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

test: add online test for room tick via job queue
  packages/daemon/tests/online/room/room-tick-job.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

test: add online test for room tick via job queue (#4.4)
  packages/daemon/tests/online/room/room-tick-job.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

test: add integration tests for job queue crash/restart recovery
  .github/workflows/main.yml
  packages/daemon/tests/online/features/job-queue-crash-recovery.test.ts
Due: none

fix: address review feedback on SpaceTaskPane working agents
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

test: address reviewer feedback on room-tick-job online test
  packages/daemon/tests/online/room/room-tick-job.test.ts
Due: none

test: add integration tests for job queue crash/restart recovery
  .github/workflows/main.yml
  packages/daemon/tests/online/features/job-queue-crash-recovery.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

test: address review feedback on room-tick-job online test
  packages/daemon/tests/online/room/room-tick-job.test.ts
Due: none

fix: address review feedback on SpaceTaskPane working agents section
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

feat: implement liveQuery.subscribe and liveQuery.unsubscribe RPC handlers
  packages/daemon/src/app.ts
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-subscribe.test.ts
Due: daemon

test: add integration tests for job queue crash/restart recovery
  .github/workflows/main.yml
  packages/daemon/tests/helpers/daemon-server.ts
  packages/daemon/tests/online/features/job-queue-crash-recovery.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

fix: address review feedback on job-queue-crash-recovery tests
  packages/daemon/tests/online/features/job-queue-crash-recovery.test.ts
Due: none

feat: add step agent peer communication tools (send_feedback, request_peer_input, list_peers)
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/lib/space/tools/step-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/step-agent-tools.ts
  packages/daemon/src/lib/space/tools/task-agent-tools.ts
  packages/daemon/tests/unit/space/step-agent-tools.test.ts
Due: daemon

test: add integration tests for job queue crash recovery
  .github/workflows/main.yml
  packages/daemon/tests/online/features/job-queue-crash-recovery.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

test: fix race in dedup test — poll for tick job before asserting count
  packages/daemon/tests/online/room/room-tick-job.test.ts
Due: none

fix: address remaining review feedback on crash-recovery tests
  packages/daemon/tests/online/features/job-queue-crash-recovery.test.ts
Due: none

fix: address review feedback on crash-recovery tests
  packages/daemon/tests/online/features/job-queue-crash-recovery.test.ts
Due: none

fix: address review feedback on room-tick-job online test
  packages/daemon/tests/online/room/room-tick-job.test.ts
Due: none

fix: address review feedback on liveQuery handlers (P1/P2 findings)
  packages/daemon/src/app.ts
  packages/daemon/src/lib/rpc-handlers/live-query-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/live-query-subscribe.test.ts
Due: daemon

fix: address P1 review feedback on crash-recovery tests
  packages/daemon/tests/online/features/job-queue-crash-recovery.test.ts
Due: none

test: fix no-op spawned-mode guard in room-tick-job test
  packages/daemon/tests/online/room/room-tick-job.test.ts
Due: none

ci: add job-queue-crash-recovery.test.ts to matrix validator FEATURES_FILES
  scripts/validate-online-test-matrix.sh
Due: none

fix: address review feedback on step agent peer communication tools
  packages/daemon/src/lib/space/tools/step-agent-tool-schemas.ts
  packages/daemon/src/lib/space/tools/step-agent-tools.ts
  packages/daemon/tests/unit/space/step-agent-tools.test.ts
Due: daemon

fix: address review feedback on job-queue-crash-recovery tests
  .github/workflows/main.yml
  packages/daemon/tests/online/features/job-queue-crash-recovery.test.ts
Due: none

fix: address P1 env-pollution issues in crash-recovery tests
  packages/daemon/tests/online/features/job-queue-crash-recovery.test.ts
Due: none

test: add online test for room tick via job queue (Task 4.4) (#670)
  packages/daemon/tests/online/room/room-tick-job.test.ts
  scripts/validate-online-test-matrix.sh
Due: none

fix: forward dbPath to spawned daemon via DB_PATH env var
  packages/daemon/tests/helpers/daemon-server.ts
Due: none

Path conditions:
  daemon: any of: packages/daemon/src/, packages/shared/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  web: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
  e2e-matrix: any of: packages/web/src/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/tests/**, **/fixtures/**, **/__tests__/**, **/node_modules/**, **/dist/**, **/index.ts
