Repository lsm/neokai: changes, and which Codecov flags are due for each by the changed paths.
All: daemon, web, e2e-matrix

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecovyml-reference

# Allow public access to coverage graphs/badges (required for private repos)
# Without this, badge URLs show "unknown" for private repositories
codecov:
  require_ci_to_pass: false
  # Allow coverage badges to be viewed without authentication
  # This makes the coverage percentage public while keeping source code private

coverage:
  precision: 2
  round: down
  range: "50...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
      web:
        flags:
          - web
        target: 95%
        threshold: 0%
    patch:
      default:
        target: 90%
        threshold: 2%

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore test files, fixtures, and non-testable files
ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/tests/**"
  - "**/fixtures/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/dist/**"
  - "**/index.ts" # Barrel exports and server entry points

# Path fixing for monorepo coverage
# e2e-quick tests run from packages/cli/ and generate relative paths like ../daemon/src/
# This transforms them to match git structure: packages/daemon/src/
fixes:
  - "../::packages/"

# Flag definitions for coverage organization
# Only flags actually used in CI workflows are defined here
flags:
  daemon:
    paths:
      - packages/daemon/src/
      - packages/shared/src/
    carryforward: false
  web:
    paths:
      - packages/web/src/
    carryforward: false
  e2e-matrix:
    paths:
      - packages/web/src/
    carryforward: false

fix: re-fetch execution history when goal updatedAt changes
  packages/web/src/hooks/__tests__/useMissionDetailData.test.ts
  packages/web/src/hooks/useMissionDetailData.ts
Due: web, e2e-matrix

fix: add ErrorBoundary for lazy chunks, address review feedback
  packages/web/src/components/ui/ErrorBoundary.tsx
  packages/web/src/components/ui/__tests__/ErrorBoundary.test.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/__tests__/Room.test.tsx
Due: web, e2e-matrix

fix: artifacts tab shows empty — use task worktree path for git diff (#1445)
  packages/daemon/src/lib/rpc-handlers/index.ts
  packages/daemon/src/lib/rpc-handlers/space-workflow-run-handlers.ts
  packages/daemon/tests/unit/rpc-handlers/space-workflow-run-gate-handlers.test.ts
  packages/daemon/tests/unit/rpc-handlers/space-workflow-run-handlers.test.ts
  packages/web/src/components/space/FileDiffView.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/TaskArtifactsPanel.tsx
Due: daemon, web, e2e-matrix

refactor: replace useState with signal-driven tab in Room.tsx (#1443)
  packages/web/src/components/room/MissionDetail.tsx
  packages/web/src/components/room/RoomDashboard.test.tsx
  packages/web/src/components/room/RoomDashboard.tsx
  packages/web/src/components/room/TaskView.test.tsx
  packages/web/src/components/room/TaskViewV2.test.tsx
  packages/web/src/components/room/__tests__/MissionDetail.test.tsx
  packages/web/src/components/room/task-shared/__tests__/TaskHeader.test.tsx
  packages/web/src/islands/BottomTabBar.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/RoomContextPanel.tsx
  packages/web/src/islands/__tests__/BottomTabBar.test.tsx
  packages/web/src/islands/__tests__/Room.test.tsx
  packages/web/src/islands/__tests__/RoomContextPanel.test.tsx
  packages/web/src/lib/__tests__/navigate-to-room-tab-reset.test.ts
  packages/web/src/lib/signals.ts
Due: web, e2e-matrix

test: add navigateToRoomTask and concurrent signal transition tests (#1441)
  packages/web/src/components/room/__tests__/MissionDetail.test.tsx
  packages/web/src/lib/__tests__/router.test.ts
Due: none

test(e2e): MissionDetail navigation E2E tests (#1442)
  packages/e2e/tests/features/mission-detail-page.e2e.ts
  packages/e2e/tests/features/mission-detail.e2e.ts
Due: none

fix: reliable node click via NodeExecution lookup, add channel info panel
  packages/web/src/components/space/ChannelInfoPanel.tsx
  packages/web/src/components/space/ReadOnlyWorkflowCanvas.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/ChannelInfoPanel.test.tsx
  packages/web/src/components/space/__tests__/ReadOnlyWorkflowCanvas.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

chore: show failing file:line at end of make test-daemon output (#1437)
  Makefile
Due: none

fix: re-fetch execution history when goal updatedAt changes (#1449)
  packages/web/src/hooks/__tests__/useMissionDetailData.test.ts
  packages/web/src/hooks/useMissionDetailData.ts
Due: web, e2e-matrix

fix: always pass handleNodeClick to canvas — remove agentSessionId guard
  packages/web/src/components/space/SpaceTaskPane.tsx
Due: web, e2e-matrix

fix: open any active run execution when pending node is clicked
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
Due: web, e2e-matrix

fix: use activityMembers (same source as Agents buttons) for canvas node click
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
Due: web, e2e-matrix

fix: canvas node clicks and border colors in read-only mode
  packages/web/src/components/space/ReadOnlyWorkflowCanvas.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/ReadOnlyWorkflowCanvas.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
Due: web, e2e-matrix

fix: resolve canvas node clicks via agent store, remove role usage
  packages/web/src/components/space/ReadOnlyWorkflowCanvas.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/ReadOnlyWorkflowCanvas.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
Due: web, e2e-matrix

fix: update E2E sidebar nav test — 'Room Agent' → 'Coordinator' (#1404)
  packages/e2e/tests/features/room-sidebar-navigation.e2e.ts
  packages/web/src/islands/RoomContextPanel.tsx
Due: web, e2e-matrix

fix: add readOnly to edgeLayer deps, remove unused spaceId prop, fix misleading tests
  packages/web/src/components/space/ReadOnlyWorkflowCanvas.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/__tests__/ReadOnlyWorkflowCanvas.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
Due: web, e2e-matrix

fix(e2e): update 6 E2E tests for recent UI behavior changes
  packages/e2e/tests/features/mission-creation.e2e.ts
  packages/e2e/tests/features/mission-detail-page.e2e.ts
  packages/e2e/tests/features/space-gate-custom-badges.e2e.ts
  packages/e2e/tests/features/space-gate-script-check.e2e.ts
  packages/e2e/tests/features/space-task-messaging.e2e.ts
  packages/e2e/tests/features/task-goal-indicator.e2e.ts
Due: none

feat: unify task pane canvas with visual editor — add readOnly mode (#1444)
  packages/web/src/components/space/ChannelInfoPanel.tsx
  packages/web/src/components/space/ReadOnlyWorkflowCanvas.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/components/space/WorkflowCanvas.tsx
  packages/web/src/components/space/__tests__/ChannelInfoPanel.test.tsx
  packages/web/src/components/space/__tests__/ReadOnlyWorkflowCanvas.test.tsx
  packages/web/src/components/space/__tests__/SpaceTaskPane.test.tsx
  packages/web/src/components/space/__tests__/WorkflowCanvas.test.tsx
  packages/web/src/components/space/__tests__/useRuntimeCanvasData.test.tsx
  packages/web/src/components/space/index.ts
  packages/web/src/components/space/useRuntimeCanvasData.ts
  packages/web/src/components/space/visual-editor/EdgeRenderer.tsx
  packages/web/src/components/space/visual-editor/WorkflowCanvas.tsx
  packages/web/src/components/space/visual-editor/WorkflowNode.tsx
  packages/web/src/components/space/visual-editor/__tests__/WorkflowNode.test.tsx
Due: web, e2e-matrix

refactor: make useRoomLiveQuery tab-aware (#1447)
  packages/web/src/hooks/__tests__/useRoomLiveQuery.test.ts
  packages/web/src/hooks/useRoomLiveQuery.ts
  packages/web/src/islands/Room.tsx
Due: web, e2e-matrix

refactor: add lazy loading for GoalsEditor, RoomAgents, and RoomSettings (#1448)
  packages/web/src/components/room/index.ts
  packages/web/src/components/ui/ErrorBoundary.tsx
  packages/web/src/components/ui/__tests__/ErrorBoundary.test.tsx
  packages/web/src/islands/Room.tsx
  packages/web/src/islands/__tests__/Room.test.tsx
Due: web, e2e-matrix

fix(e2e): address reviewer feedback on mission-detail and badge tests
  packages/e2e/tests/features/mission-detail-page.e2e.ts
  packages/e2e/tests/features/space-gate-custom-badges.e2e.ts
Due: none

test: add debug assertions to reference-handlers test to diagnose CI-only failure
  packages/daemon/tests/unit/rpc-handlers/reference-handlers.test.ts
Due: none

test: add handler result debug logging
  packages/daemon/tests/unit/rpc-handlers/reference-handlers.test.ts
Due: none

fix(e2e): update 6 E2E tests for recent UI behavior changes (#1450)
  packages/daemon/tests/unit/rpc-handlers/reference-handlers.test.ts
  packages/e2e/tests/features/mission-creation.e2e.ts
  packages/e2e/tests/features/mission-detail-page.e2e.ts
  packages/e2e/tests/features/space-gate-custom-badges.e2e.ts
  packages/e2e/tests/features/space-gate-script-check.e2e.ts
  packages/e2e/tests/features/space-task-messaging.e2e.ts
  packages/e2e/tests/features/task-goal-indicator.e2e.ts
Due: none

chore(deps): update @anthropic-ai/claude-agent-sdk to 0.2.94
  bun.lock
  packages/daemon/package.json
  packages/shared/src/sdk/sdk.d.ts
Due: daemon

chore(deps): update all dependencies to latest stable versions
  bun.lock
  packages/cli/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

chore(deps): update @anthropic-ai/claude-agent-sdk to 0.2.94 (#1451)
  bun.lock
  packages/daemon/package.json
  packages/shared/src/sdk/sdk.d.ts
Due: daemon

chore(deps): update all dependencies to latest stable versions (#1452)
  bun.lock
  packages/cli/package.json
  packages/ui/package.json
  packages/web/package.json
Due: none

fix: refresh context usage after /compact completes
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/tests/unit/agent/sdk-message-handler.test.ts
Due: daemon

fix: refresh context usage after /compact completes (#1453)
  packages/daemon/src/lib/agent/sdk-message-handler.ts
  packages/daemon/tests/unit/agent/sdk-message-handler.test.ts
Due: daemon

feat(space): add per-slot skill and MCP server overrides in workflow node editor
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
Due: daemon, web, e2e-matrix

feat: clean up session tools, remove brave MCP, fix playwright skills, polish ToolsModal
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/mcp/seed-defaults.ts
  packages/daemon/src/lib/session/tools-config.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/src/storage/repositories/settings-repository.ts
  packages/daemon/tests/online/mcp/mcp-tools-toggle.integration.test.ts
  packages/daemon/tests/online/rpc/rpc-mcp-toggle.test.ts
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/room/session-registration.test.ts
  packages/daemon/tests/unit/session/session-manager.test.ts
  packages/daemon/tests/unit/session/tools-config.test.ts
  packages/daemon/tests/unit/skills-manager.test.ts
  packages/daemon/tests/unit/storage/settings-repository.test.ts
  packages/shared/src/types.ts
  packages/web/src/components/ToolsModal.tsx
Due: daemon, web, e2e-matrix

fix: address review feedback — stale tests, docs, reactivity, type safety
  CLAUDE.md
  docs/architecture/skills-audit.md
  docs/architecture/web-search-mcp.md
  docs/features/skills.md
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/tests/online/space/task-agent-skills.test.ts
  packages/daemon/tests/unit/mcp/seed-defaults.test.ts
  packages/e2e/tests/features/app-mcp-registry.e2e.ts
  packages/e2e/tests/features/room-skills.e2e.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
Due: daemon, web, e2e-matrix

fix: loosen ExportedWorkflowNodeAgent.extraMcpServers type for export/import round-trip
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/shared/src/types/space.ts
Due: daemon

feat: clean up session tools, remove Brave MCP, fix Playwright skills, add Space Agent tools UI (#1454)
  CLAUDE.md
  docs/architecture/skills-audit.md
  docs/architecture/web-search-mcp.md
  docs/features/skills.md
  packages/daemon/src/lib/agent/query-options-builder.ts
  packages/daemon/src/lib/mcp/seed-defaults.ts
  packages/daemon/src/lib/rpc-handlers/space-export-import-handlers.ts
  packages/daemon/src/lib/session/tools-config.ts
  packages/daemon/src/lib/skills-manager.ts
  packages/daemon/src/lib/space/agents/custom-agent.ts
  packages/daemon/src/lib/space/export-format.ts
  packages/daemon/src/lib/space/runtime/task-agent-manager.ts
  packages/daemon/src/storage/repositories/settings-repository.ts
  packages/daemon/tests/online/mcp/mcp-tools-toggle.integration.test.ts
  packages/daemon/tests/online/rpc/rpc-mcp-toggle.test.ts
  packages/daemon/tests/online/space/task-agent-skills.test.ts
  packages/daemon/tests/unit/agent/query-options-builder.test.ts
  packages/daemon/tests/unit/mcp/seed-defaults.test.ts
  packages/daemon/tests/unit/room/session-registration.test.ts
  packages/daemon/tests/unit/session/session-manager.test.ts
  packages/daemon/tests/unit/session/tools-config.test.ts
  packages/daemon/tests/unit/skills-manager.test.ts
  packages/daemon/tests/unit/storage/settings-repository.test.ts
  packages/e2e/tests/features/app-mcp-registry.e2e.ts
  packages/e2e/tests/features/room-skills.e2e.ts
  packages/shared/src/types.ts
  packages/shared/src/types/space.ts
  packages/web/src/components/ToolsModal.tsx
  packages/web/src/components/space/visual-editor/NodeConfigPanel.tsx
Due: daemon, web, e2e-matrix

fix: hide archive/delete actions from space agent chat header dropdown
  packages/web/src/islands/ChatContainer.tsx
Due: web, e2e-matrix

fix: space page loading — lazy-load data, fix agent view spinner on refresh
  packages/cli/src/dev-server.ts
  packages/web/src/App.tsx
  packages/web/src/components/space/SpaceConfigurePage.tsx
  packages/web/src/components/space/SpaceTaskPane.tsx
  packages/web/src/islands/ChatContainer.tsx
  packages/web/src/islands/SpaceIsland.tsx
  packages/web/src/lib/__tests__/space-store.test.ts
  packages/web/src/lib/space-store.ts
Due: web, e2e-matrix

feat: redesign SpaceDashboard to match RoomDashboard style, fix HMR WebSocket for remote access
  packages/cli/src/dev-server.ts
  packages/web/src/components/space/SpaceDashboard.tsx
  packages/web/src/components/space/__tests__/SpaceDashboard.test.tsx
Due: web, e2e-matrix

fix: HMR WebSocket for remote access — use LAN IP as Vite hmr.host
  packages/cli/src/dev-server.ts
Due: none
